</main>
<!--Footer section-->
<footer>
   <div class="row">
      <div class="col-md-4 col-sm-4">
         <p><a href="http://www.mathies.ca/learningTools.php" >Fractions Learning Tools</a></p>
      </div>
      <div class="col-md-4 col-sm-4">
         <p><a href="/contact" >Contact Us</a></p>
         <!-- <p><a href="" >Sitemap</a></p> -->
      </div>
      <div class="col-md-4 col-sm-4">
         <p><a href="http://www.mathies.ca/games.php">Fractions Games</a></p>
      </div>
   </div>
</footer>
<!-- JavaScript Libraries Section -->
<script src="/scripts/lib/jquery-2.2.0.min.js"></script>
<script src="/scripts/lib/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- App JavaScript -->
<!-- <script src="/scripts/app.js"></script>
   <script src="/scripts/searchEngine.js"></script> -->
<!-- <script src="/scripts/nav.js"></script> -->
<script type="text/javascript" src="/scripts/slideout.min.js"></script>
<script type="text/javascript" src="/scripts/jspdf.js"></script>
<script type="text/javascript" src="/scripts/cell.js"></script> 
<script type="text/javascript" src="/scripts/jsPdfTable.js"></script>
<script type="text/javascript" src="/scripts/from_html.js"></script>
<script type="text/javascript" src="/scripts/split_text_to_size.js"></script>
<script type="text/javascript" src="/scripts/standard_fonts_metrics.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
     $(document).on('click', '.navbar-toggle', function(event) {
       event.preventDefault();
       $('body').toggleClass('open');
     });
   });
</script>
</body>
</html>