<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
    <li class="breadcrumb-item active"><a href="/pathway/opE">OP E</a></li>
    <li class="breadcrumb-item active">Additional Prompts</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange"><p>Operation E</p></div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with unlike denominators (<abbr title="For example">e.g.,</abbr> 2 and 7) using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->
  
  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Additional Prompts</h1>
      </div>
    </section>

    <section class="row">

      <p>Out of one pan of brownies Josef ate <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> and Pat ate <abbr title="One Six" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>6</sub></span></abbr>. What fraction of the brownies did they eat all together? Write a number sentence to explain your model.</p>

      <hr>

      <p>Which sum is greater: <abbr title="Seven Eights" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr> + <abbr title="Six Sevenths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>7</sub></span></abbr> or <abbr title="Eight nineths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>9</sub></span></abbr> + <abbr title="Nine Tenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>10</sub></span></abbr></p>
      <p>How do you know?</p>

  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>