<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active"><a href="/pathway/compA">COMP A</a></li>
  <li class="breadcrumb-item active">Additional Prompts</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-blue"></div>
        <div id="rectangle" class="display-flex rectangle-blue">
          <p>Comparing A</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-blue"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Generate and recognize equivalent fractions using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Additional Prompts</h1>
      </div>
    </section>

    <section class="row">
      <p>Use concrete materials/models (paper folding, number line) to answer the following:</p>
      <p>Are <abbr title="Four Twelves" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>6</sub></span></abbr> and <abbr title="Two sixths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>12</sub></span></abbr>
        equal?</p>
      <p>Show your thinking.</p>
      <p>Follow up/alternate question:</p>
      <p>Why is <abbr title="one Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> the same as <abbr title="Ten Twentieths" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>20</sub></span></abbr>?</p>
      <p>Show your thinking.</p>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
