<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active"><a href="/pathway/compE">COMP E</a></li>
  <li class="breadcrumb-item active">Additional Prompts</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-blue"></div>
        <div id="rectangle" class="display-flex rectangle-blue">
          <p>Comparing E</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-blue"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Compare Fractions with unlike numerators and unlike denominators using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Additional Prompts</h1>
      </div>
    </section>

    <section class="row">

      <p>Which fraction is greater? <abbr title="Three Halfs" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>2</sub></span></abbr> or <abbr title="Two Thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr></p>
      <p>Show how you know using paper folding.</p>

      <hr>

      <p>Which fraction is greater? <abbr title="Six Fifths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>5</sub></span></abbr> or <abbr title="Five Sixths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
      <p>Show how you know using paper folding.</p>

      <hr>

      <p>Create a set using cubes to represent either <abbr title="Three Halfs" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>2</sub></span></abbr> and <abbr title="Two Thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>
        OR <abbr title="Six Fifths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>5</sub></span></abbr> and <abbr title="Five Sixths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
      <p>Which of your fractions is greater? How do you know?</p>

      <hr>

      <p>Two grade 4 classes have 32 students in each class. One of the classes is <abbr title="Five Eighths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>8</sub></span></abbr> boys while the other class is <abbr title="three Fourths"
          class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> boys. Which class has more boys?</p>
      <p>Explain your reasoning.</p>

      <hr>

      <p>Fraction Pathway Challenge:</p>
      <p><a href="http://mathclips.ca/lib/CL001_KC_FractionsPartWhole/CL001_Games/FractionChallenge.pdf" target="_blank"> http://mathclips.ca/lib/CL001_KC_FractionsPartWhole/CL001_Games/FractionChallenge.pdf</a>. Students move through a maze by
        comparing fractions. </p>

    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
