<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
    <li class="breadcrumb-item active"><a href="/pathway/opG">OP G</a></li>
    <li class="breadcrumb-item active">Additional Prompts</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple"><p>Operation G</p></div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Operations with Fractions: Multiplication and Division</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Additional Prompts</h1>
      </div>
    </section>

    <section class="row">
      <p>These tasks emerged out of the fraction research. Teachers may wish to use them as diagnostic or summative assessments, exit cards, number talk prompts, or additional practice questions. By considering both the specifics of the cell and student use of purposeful models, teachers can support students in acquiring a strong conceptual understanding.</p>
      <p>What is one half of <abbr title="two quarters" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>4</sub></span></abbr>? <abbr title="four fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>? <abbr title="fifteen thirds" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>3</sub></span></abbr>?</p>
      <hr style="border-top:dotted 1px;"/>
      <p>Two friends equally share <abbr title="five eighths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>8</sub></span></abbr> of a jug of chocolate milk. How much milk does each friend get?</p>
      <hr style="border-top:dotted 1px;"/>
      <p>Alexis says that when multiplying, the answer always gets bigger. But Jodi says that with fractions, this isn't always true. Is Alexis correct? Use models to explain your thinking.</p>
    </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>
