<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active"><a href="/pathway/opD">OP D</a></li>
  <li class="breadcrumb-item active">Additional Prompts</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange">
          <p>Operation D</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with friendly but unlike denominators (e.g., 2 and 10) using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Additional Prompts</h1>
      </div>
    </section>

    <section class="row">


      <p><abbr title="Two Wholes and On Fourth" class="abbr-frac">2<span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> + <abbr title="One Eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr>
        + <abbr title="One Whole and One Half" class="abbr-frac">1<span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> = <abbr title="Three Wholes and Seven Eighths" class="abbr-frac">3<span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr></p>
      <p>Prove this is true by drawing a picture/model.</p>

      <hr>

      <p>Identify the missing value. <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> + <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>
        = ? + <abbr title="Three Eighths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr></p>

      <hr>

      <p>Cheryl has a special 1 cup container for her fruit smoothies. She wants to try a new recipe which calls for <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> cup of
        orange juice, <abbr title="Two Thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> cup of fruit and <abbr title="One Eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr>
        cup of yogurt. Will her container hold the new smoothie?</p>

      <hr>

      <p>Is <abbr title="Three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> + <abbr title="Six Sevenths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>7</sub></span></abbr>
        more or less than 1? How do you know?</p>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
