<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple"><p>Operation G</p></div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Recognize that division is the inverse of multiplication and vice versa (&divide;4 is the same as &times; <abbr title="one quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> )</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/bananaBreadBakeOff/T46_BBBakeOff_task_FINAL.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Banana Bread Bake Off</h1>
      </div>
    </section>

    <!--
    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
        <img src="/images/tasks/creatingSums/create_sums_close_to_one-thumbnail.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>-->

    <section class="row">
      <h4>Description</h4>
      <p>Through this task, students will explore the inverse operations of multiplication and division by comparing the result of multiplying by a unit fraction and dividing the inverse whole number.</p>

      <h4>Mathematics</h4>
      <p>Research reinforces that is important for student to understand the inverse operations of multiplication and division. In the case of fractions, exploring and comparing division with whole numbers and multiplication with the inverse funit fractions hleps students to make this connection and build a deeper understanding of the operations. Since division of fractions is so complex, it is important to teach multiplication and division together, rather than one after the other. This approach allows students an early opportunity to explore the relationship between these operations and helps build conceptual understanding and fluidity between operations.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>represent multiplication and division of fractions using models;</li>
        <li>use estimation when problem solving involving fractions to judge reasonableness of solution;</li>
        <li>demonstrate an understanding that multiplication and division are inverse operations.</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Provide half of the class with BLM 1 and the other half with BLM 2.</li>
        <li>Allow time for students to write their estimations. Discuss estimates using think-pair-share.</li>
        <li>Allow students time to complete the rest of the BLM</li>
        <li>Partner students by pairing up individuals who worked on BLM 1 with individuals who worked on BLM 2 and have them compare their solutions.</li>
        <li>Consolidate with class.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>use mental math to change some ingredient quantities (e.g., 3 bananas divided by 3 = 1 banana);</li>
          <li>use number lines, array models;</li>
          <li>use the denominators to partition and subpartition their number line, by which they will find a common denominator (even though they may not label it as a common denominator);</li>
          <li>intuitively use a mix of division and multiplication (e.g., dividing 3 bananas 3 may seem obvious to many, whereas multiplication by <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> may not be a friendly strategy);</li>
          <li>confuse division and multiplication with fractions (e.g., confuse when division or when multiplication is the appropriate operation with fractions, which may be related to fragile understanding of the meaning of the operations of division or multiplication); and</li>
          <li>see a pattern (e.g., tripling the denominator but leaving the numerator the same will result in a fraction which is equivalent to multiplying by <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> and dividing by 3).</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>What type of representation could help you obtain your answer?</li>
          <li>What model did you use to solve the problem?</li>
          <li>Is there a model that might more accurately represent the problem?</li>
          <li>Were there times that multiplication could help you/division could help you?</li>
          <li>Why does dividing by 3 get the same result as multiplying by <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>?</li>
          <li>What did you and your partner discover when comparing results?</li>
        </ol>
      </div>
    </section>
<!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/bananaBreadBakeOff/T46_BBBakeOff_BLM_1_v3.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (one copy for half of the students)</li>
        <li><a href="/pdf/bananaBreadBakeOff/T46_BBBakeOff_BLM_2_v3.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 2</a> (one copy for half of the students)</li>
        <li>standard measuring cup sets and material available for measuring if desired</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/bananaBreadBakeOff/T46_BBBakeOff_BLM_1_v3.png" alt="Banana Bread Bake Off BLM 1" class="img-responsive margin-auto"/>
            <img src="/images/tasks/bananaBreadBakeOff/T46_BBBakeOff_BLM_1_v3-0.png" alt="Banana Bread Bake Off BLM 1" class="img-responsive margin-auto"/>
            <img src="/images/tasks/bananaBreadBakeOff/T46_BBBakeOff_BLM_1_v3-1.png" alt="Banana Bread Bake Off BLM 1" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/bananaBreadBakeOff/T46_BBBakeOff_BLM_1_v3.pdf" target="_blank">here</a>.</figcaption>
          </figure>
          <figure class="padding-bottom">
            <img src="/images/tasks/bananaBreadBakeOff/T46_BBBakeOff_BLM_2_v3_1.png" alt="Banana Bread Bake Off BLM 3" class="img-responsive margin-auto"/>
            <img src="/images/tasks/bananaBreadBakeOff/T46_BBBakeOff_BLM_2_v3_2.png" alt="Banana Bread Bake Off BLM 2" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/bananaBreadBakeOff/T46_BBBakeOff_BLM_2_v3.pdf" target="_blank">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure class="padding-bottom">
            <img src="/pdf/bananaBreadBakeOff/BananaBreadBakeOff_StudentThinking_OP-G_Samp1-2.png" alt="Creating Sums Close to One Studing Thinking sample one and two" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/bananaBreadBakeOff/BananaBreadBakeOff_StudentThinking_OP-G_Samp3-5.pdf" target="_blank">here</a>.</p>
          </figure>
          <figure>
            <img src="/images/tasks/bananaBreadBakeOff/BananaBreadBakeOff_StudentThinking_OP-G_Samp3-5.png" alt="Creating Sums Close to One Studing Thinking sample three and four" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/bananaBreadBakeOff/BananaBreadBakeOff_StudentThinking_OP-G_Samp1-2.pdf" target="_blank">here</a>.</p>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
              <a href="/supportDocs/buildAddSub">
                <div class="col-sm-6 col-md-4">
                </div>
              </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>
