<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathways Tasks</a></li>
    <li><a href="/tasks/brownie">UNIT B Brownie Sharing</a></li>
</ol>

<main class="container dot-lists pdf-page ">
<!-- Insert content here-->
<h1 class="co">Brownie Sharing</h1>

<img src="/images/tasks/pathway/unit/brownieSharing1.png" alt="Brownie Sharing Image"  style="float: right;padding-left: 20px;" />
<strong> Description</strong>

<p>Students use paper folding to partition a pan of brownies (a sheet of rectangular paper) into 4, then 8, then 10 equal portions through a simple storyline the teacher tells.</p>

<strong>Mathematics</strong>

<p>Partitioning to make equal sized areas is a fundamental skill as students develop to build their understanding of fractions and area models. In this task, they cannot use a ruler, but must find other ways to determine equal partitions. Paper folding is a key strategy for this task. The ability to fold and consider both the number of folds as well as the portions created involves spatial reasoning and making predictions – both of which help students better understand fractions/proportions and how to equally partition area models.</p>

<strong>Curriculum Connections</strong>

<p>Students will:</p>
<ul>
<li>develop understanding of fractions as numbers by sharing a pan of brownies with friends, where the whole is the pan of brownies and the fractional amounts are equal-sized regions of the whole;</li>
<li>understand that a fraction can be part of a whole area region;</li>
<li>develop understanding that the number of shares affects the size of the portions (<abbr title="that is">i.e.</abbr>, a larger number of shares results in a larger the digit in the denominator and a smaller equal-sized region for the portion).</li>
</ul>

<strong>Instructional sequence</strong>
<ol>
<li>Explain to students: “Here is your pan of brownies (outline of brownie pan on chart paper) and here is your brownie (show construction paper rectangle). You need to share the pan of brownies among yourself and three other friends (4 people all together).”</li>
<li>Give students time to paper fold, or partition the brownie into four equal portions. Ask students to describe how they folded the paper to get four equal portions.</li>
<li>Ask the group to pause: “Oh no! The doorbell rang and now four more friends have shown up. They want some brownie too. Use the same size pan of brownies and share equally among 8 people.” Let them know that there are extra brownie sheets if the students wish to start fresh.</li>
<li>Give students time to paper fold or partition the brownie into eight equal portions. Then ask the group to share how they partitioned the pan of brownies to get eight equal portions.</li>
<li>State the next scenario: “Oh no! Two more friends arrived, now you need to partition the pan of brownies into ten equal portions.”  Remind the students that there are extra brownie sheets if they wish to start fresh.  Allow them to paper fold or partition the brownies into ten equal portions.  Students may need to attempt several different strategies before arriving at an appropriate solution.</li>
<li>To consolidate, ask students “What fraction of the whole pan does each person get?” and discuss how this can be counted (<abbr title="For example">e.g.</abbr>
, 1 one-tenth, 2 one-tenths, 3 one-tenths, etc arriving at 10 one-tenths).</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking</strong>

<p>Students may:</p>
<ul>
<li>use a range of paper folding strategies (horizontal, vertical, diagonal folds or a combination of these);</li>
<li>double-check to be sure the regions are equal sized areas;</li>
<li>want to ‘start fresh’ each time they have to partition the pan of brownies;</li>
<li>begin to predict what the next number might be, such as sixteenths;</li>
<li>persist with developing the partitions for tenths by further partitioning the eighths.  </li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions</strong>
<ol>
<li>How did you partition your brownies?</li>
<li>How do you know everyone got the same amount?</li>
<li>What fraction of the whole pan does each person get?  What happens to the size of the brownie portions as more people arrive at the party?</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
<li>chart paper with pan outlined same size as construction paper</li>
<li>construction paper rectangles</li>
<li>(no rulers)</li>
<li>may have scissors available</li>
</ul>

<!-- Insert implementation content here-->
<!-- 16:9 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="brownieSharingVideo.mp4"></iframe>
</div> -->

<!-- 4:3 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="brownieSharingVideo.mp4"></iframe>
</div> -->



<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Implementation</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

<iframe width="560" height="315" src="https://www.youtube.com/embed/kUiaOl5sTME" frameborder="0" allowfullscreen></iframe>

<!-- Insert accordian transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse0">Transcript</a>
      </h4>
    </div>
    <div id="collapse0" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>Brownies Video Transcription</h2>
        <table>
          <tr>
            <th>Time</th>
            <th>Transcription</th>
          </tr>
          <tr>
            <td>00:00:06</td>
            <td>
              <p>Student 1: …the last one down here.  Ah.</p>
            <p>Student 2: Ah.  It doesn’t work.</p>
          </td>
          </tr>
          <tr>
            <td>00:00:14</td>
            <td>Teacher: Which piece do you think I would pick first?</td>
          </tr>
          <tr>
            <td>00:00:23</td>
            <td>
              <p>Students 1 and 2: This one.</p>
            <p>Teacher: Why?</p>
            <p>Caleb: That one looks larger.</p>
            <p>Teacher: It looks larger? So do we have four equal pieces?</p>
            <p>Johnny: No.</p>
          </td>
          </tr>
          <tr>
            <td>00:00:34</td>
            <td>
              <p>Teacher: What are you trying to see, Caleb?</p>
            <p>Caleb: How long that strip is.</p>
            <p>Teacher: So what’s a good way of doing that? Show Johnny what a good way, what you were thinking of.</p>
            <p>Caleb: Put it over top.</p>
            <p>Johnny: Oh.</p>
            <p>Caleb: And then what’s left, cut the three …</p>
            <p>Johnny (talking at the same time): Oh wait.  Caleb, what if we did this?  What if we do this?</p>
            <p>Johnny (laying pieces over): And cut that?</p>
            <p>Caleb: Yeah.</p>
            <p>Teacher: Is that what you were thinking, Caleb?</p>
            <p>Caleb: Yeah.</p>
          </td>
          </tr>
          <tr>
            <td>00:01:13</td>
            <td>
              <p>Johnny: Two.</p>
            <p>Teacher: OK.  How can you tell that they are equal?</p>
            <p>Johnny: Cut.</p>
            <p>Caleb: We cut what is left.</p>
          </td>
          </tr>
          <tr>
            <td>00:01:26</td>
            <td>
              <p>Student 1: One, two, three, four, five, six, seven, eight.</p>
            <p>Teacher: OK.  And if you were counting them as fraction pieces?  What would you say?</p>
            <p>Student 2: One one eighth</p>
            <p>Teacher: Yes</p>
            <p>Student 2: Two one eighths.  Three one eighths.  Four one eighths. Five one eighths.  Six one eighths.  Seven one eighths.  Eight eighths.</p>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
<div class="center">
<img src="/pdf/brownie/BrownieImplementation1.png" alt="Child playing Brownie Sharing" height="" width=""/></div>

      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Student Thinking</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">

       <img src="/images/BrownieSharing_StudentThinking_Unit-B_p1.png" alt="Student Thinking 1" /> 
      
      <p>To download a copy of this .pdf, click <a href="/pdf/BrownieSharing_StudentThinking_Unit-B_p1.pdf" target="_blank" rel="PDF File">here</a>.</p>

      <img src="/images/BrownieSharing_StudentThinking_Unit-B_p2.png" alt="Student Thinking 2" />
      <p>To download a copy of this .pdf, click <a href="/pdf/BrownieSharing_StudentThinking_Unit-B_p2.pdf" target="_blank" rel="PDF File">here</a>.</p>

      <img src="/images/BrownieSharing_StudentThinking_Unit-B_p3.png" alt="Student Thinking 3" />
      <p>To download a copy of this .pdf, click <a href="/pdf/BrownieSharing_StudentThinking_Unit-B_p3.pdf" target="_blank" rel="PDF File">here</a>.</p>

      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Additional Resources</a>
      </h4>
    </div>

    

    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="row">
  <a href="/supportDocs/devPartItDisembed">
    <div class="col-md-6 ">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="100px">
        <div class="caption">
          <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildUnitFrac">
    <div class="col-md-6 ">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Building Understanding of Unit Fractions</h3>
        </div>
      </div>
    </div>
  </a>

</div>
      </div>
    </div>

  </div>
</div>

<!--
<div class="row">
 <a href="/tasks/brownieTemplate">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/pathway/templatesIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Task Templates</h3>
      </div>
    </div>
  </div>
</a> 

<a href="/tasks/brownieImplementation">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/pathway/implementaionIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Implementation</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/brownieStudentThinking">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/studentThinkingIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Student Thinking</h3>
      </div>
    </div>
  </div>
</a>
</div>
<h2>Additional Resources</h2>

  <div class="row">
  <a href="/supportDocs/devPartItDisembed">
    <div class="col-md-2 col-md-push-3">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="100px">
        <div class="caption">
          <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildUnitFrac">
    <div class="col-md-2 col-md-push-3">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Building Understanding of Unit Fractions</h3>
        </div>
      </div>
    </div>
  </a>

</div>
-->

</main>
<%- include partials/footer.ejs%>
