<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/brownie">UNIT B Brownie Sharing</a></li>
    <li><a href="/tasks/brownieImplementation">Brownie Sharing Implementation</a></li>
</ol>

<main class="container">
<!-- Insert pdf here-->

<object data="pdf/brownieStudentThinking1.pdf" type="application/pdf" width="300" height="200">
<a href="pdf/brownieStudentThinking1.pdf">Student Thinking</a>
</object>

<object data="pdf/brownieStudentThinking2.pdf" type="application/pdf" width="300" height="200">
<a href="pdf/brownieStudentThinking2.pdf">Student Thinking</a>
</object>

<object data="pdf/brownieStudentThinking3.pdf" type="application/pdf" width="300" height="200">
<a href="pdf/brownieStudentThinking3.pdf">Student Thinking</a>
</object>

<%- include partials/footer.ejs%>
