<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/brownie">UNIT B Brownie Sharing</a></li>
    <li><a href="/tasks/brownieImplementation">Brownie Sharing Implementation</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/kUiaOl5sTME" frameborder="0" allowfullscreen></iframe>

<!-- Insert accordian transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>Brownies Video Transcription</h2>
        <table>
          <tr>
            <th>Time</th>
            <th>Transcription</th>
          </tr>
          <tr>
            <td>00:00:06</td>
            <td>
              <p>Student 1: …the last one down here.  Ah.</p>
            <p>Student 2: Ah.  It doesn’t work.</p>
          </td>
          </tr>
          <tr>
            <td>00:00:14</td>
            <td>Teacher: Which piece do you think I would pick first?</td>
          </tr>
          <tr>
            <td>00:00:23</td>
            <td>
              <p>Students 1 and 2: This one.</p>
            <p>Teacher: Why?</p>
            <p>Caleb: That one looks larger.</p>
            <p>Teacher: It looks larger? So do we have four equal pieces?</p>
            <p>Johnny: No.</p>
          </td>
          </tr>
          <tr>
            <td>00:00:34</td>
            <td>
              <p>Teacher: What are you trying to see, Caleb?</p>
            <p>Caleb: How long that strip is.</p>
            <p>Teacher: So what’s a good way of doing that? Show Johnny what a good way, what you were thinking of.</p>
            <p>Caleb: Put it over top.</p>
            <p>Johnny: Oh.</p>
            <p>Caleb: And then what’s left, cut the three …</p>
            <p>Johnny (talking at the same time): Oh wait.  Caleb, what if we did this?  What if we do this?</p>
            <p>Johnny (laying pieces over): And cut that?</p>
            <p>Caleb: Yeah.</p>
            <p>Teacher: Is that what you were thinking, Caleb?</p>
            <p>Caleb: Yeah.</p>
          </td>
          </tr>
          <tr>
            <td>00:01:13</td>
            <td>
              <p>Johnny: Two.</p>
            <p>Teacher: OK.  How can you tell that they are equal?</p>
            <p>Johnny: Cut.</p>
            <p>Caleb: We cut what is left.</p>
          </td>
          </tr>
          <tr>
            <td>00:01:26</td>
            <td>
              <p>Student 1: One, two, three, four, five, six, seven, eight.</p>
            <p>Teacher: OK.  And if you were counting them as fraction pieces?  What would you say?</p>
            <p>Student 2: One one eighth</p>
            <p>Teacher: Yes</p>
            <p>Student 2: Two one eighths.  Three one eighths.  Four one eighths. Five one eighths.  Six one eighths.  Seven one eighths.  Eight eighths.</p>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>



<!--insert image here-->
<img src="/pdf/brownie/BrownieImplementation1.png" alt="Child playing Brownie Sharing" height="" width=""/>
<%- include partials/footer.ejs%>
