<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./buildStage">OP D Building a Stage</a></li>
</ol>

<main class="container dot-lists pdf-page">
<!-- Insert content here-->
<h1>Building a Stage</h1>


<img src="/images/tasks/TaskPictureFlags.jpg" alt="Task" height="" width="300" style="float: right;padding-left: 20px;" />
<strong> Description</strong>

<p>Students will determine an unknown measure by using a tape measure as a number line. Within the context of building a stage using layers of different wood, students will find the sum of friendly but unlike denominators. This will help them to understand the need for common units (denominators) when adding fractions.</p>

<strong>Mathematics</strong>
<p>This is a real world task with connections to building and measuring with an Imperial tape measure, allowing students to add different types of fractions using a number line. Students work with friendly but unlike denominators in a more concrete way then just finding common denominators and engage in developing a strategy for adding the fractions together by finding common units or by adding on using the tape measure (number line).</p>

<strong>Curriculum Connections</strong>
<p>Students will:</p>
<ul>
<li>add fractions with friendly but unlike denominators;</li>
<li>determine equivalent forms of a fraction;</li>
<li>compose/decompose fractions.</li>
</ul>

<strong>Instructional sequence</strong>
<ol>
<li>Partner students and introduce the task, including an overview of how to use/read an imperial measuring tape.</li>
<li>Provide students <abbr title="Blackline Master">BLM</abbr> 1 and <abbr title="Blackline Master">BLM</abbr> 2. Allow them to complete the task.</li>
<li>Highlight different strategies that students used by purposely choosing students that solved the problem using different strategies. Have students identify the similarities and differences between the strategies.</li>
<li>Have students complete <abbr title="Blackline Master">BLM</abbr> 3 independently.</li>
</ol>


<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking</strong>

<p>Students may:</p>
<ul>
<li>place the thicknesses on the tape measure number line individually rather than consecutively;</li>
<li>multiply all the denominators together to find a common denominator;</li>
<li>need to be encouraged to convert improper fractions to mixed numbers;</li>
<li>place either the biggest thickness or the smallest thickness on the number line first. Both are correct; however, starting with the larger thickness mirrors the Primary strategy ‘counting on’ which may leave less room for errors;</li>
<li>be strategic about the order in which they add the numbers together based on the fractional units (start with sixteenths because they are the smallest units or start with half because it is the largest unit).</li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions</strong>
<ol>
<li>How did you put halves, eighths and sixteenths on your number line?</li>
<li>How did you additively place your thicknesses on the tape number line? Which thickness did you start with and why?</li>
<li>How did you compare the different types of fractions (proper, improper and mixed)?</li>
<li>Is there a different way you could have combined the fractions?</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
<li><a href="/pdf/P7_BLM1_tape measure.pdf" target="_blank" rel="PDF File" style="color: #724199;"><abbr title="Blackline Master">BLM</abbr> 1</a> (one copy/two pairs; cut)</li>
<li><a href="/pdf/P7_BLM2_Student instruction sheet_sy.pdf" target="_blank" rel="PDF File" style="color: #724199;"><abbr title="Blackline Master">BLM</abbr> 2</a> (one copy/pair)</li>
<li><a href="/pdf/P7_BLM3_Exit Card.pdf" target="_blank" rel="PDF File" style="color: #724199;"><abbr title="Blackline Master">BLM</abbr> 3</a> (one copy/student)</li>
<li>imperial tape measures (optional)</li>
<li>graph paper (optional)</li>
</ul>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Task Templates</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
<img src="/images/tasks/P7_BLM1_tape measure.png" alt="Building a Stage " />
<p>To download a copy of this .pdf, click <a href="/pdf/P7_BLM1_tape measure.pdf" target="_blank" rel="PDF File">here</a>.</p>
<img src="/images/tasks/P7_BLM2_Student instruction sheet_sy.png" alt="Building a Stage" />
<p>To download a copy of this .pdf, click <a href="/pdf/P7_BLM2_Student instruction sheet_sy.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Implementation</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
<img src="/images/tasks/P7_BLM3_Exit Card.png" alt="Number Line" />
<p>To download a copy of this .pdf, click <a href="/pdf/P7_BLM3_Exit Card.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Student Thinking</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
<img src="/images/tasks/Building a Stage_StudentThinking_OP-D.png" alt="Building a Stage" />
<p>To download a copy of this .pdf, click <a href="/pdf/Building a Stage_StudentThinking_OP-D.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse4">Additional Resources</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
<div class="row">
<a href="/supportDocs/buildAddSub">
  <div class="col-md-6">
    <div class="thumbnail smallRec">
      <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="100px" width="100px">
      <div class="caption">
        <h3>Building to Addition and Subtraction of Fractions</h3>
      </div>
    </div>
  </div>
</a>


<a href="/litreviews/foundationsAddSub">
  <div class="col-md-6">
    <div class="thumbnail smallRec">
      <img src="/images/research/litReviews/Foundations/foundations10.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" height="" style="height: 160px;">
      <div class="caption">
        <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
      </div>
    </div>
  </div>
</a>
</div>
      </div>
    </div>
  </div>
</div>


</main>
<%- include partials/footer.ejs%>
