<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./buildUnitFrac">Building Understanding of Unit Fractions</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
<h2>Math Teaching for Learning: Building Understanding of Unit Fractions</h2>

<div class="gen-pdf">
    <a href="/pdf/Fractions_UnitFractions.pdf">Download PDF</a>
</div>

<p>When asked to find the sum of 2 + 3, you will likely answer 5. This assumes that 2 and 3 are referring to quantities which have the same unit, one whole number, <abbr title="that is">i.e.</abbr> 2 ones plus 3 ones. This could also be written as <abbr title="two ones">2&frasl;1</abbr> + <abbr title="three ones">3&frasl;1</abbr> = <abbr title="five ones">5&frasl;1</abbr>.</p>

<p>Now consider determining the sum of these two fractions, <abbr title="two sevenths">2&frasl;7</abbr> + <abbr title="three sevenths">3&frasl;7</abbr>. In this case, the unit is one seventh or <abbr title="one seventh">1&frasl;7</abbr>. So we would say that the sum of two <abbr title="one seventh">1&frasl;7</abbr> units and three <abbr title="one seventh">1&frasl;7</abbr> units is five <abbr title="one seventh">1&frasl;7</abbr> units (five one-sevenths) or <abbr title="five sevenths">5&frasl;7</abbr>.</p>

<p>When students add two whole numbers, the common unit – one whole number – is implicit. That is to say, students would not likely define ‘5’ as ‘5 whole number units of 1’ even though this is true. However, when students add part-whole fractions, they must attend to the unit (the number of pieces the whole has been partitioned into) before adding quantities together. As students transition from whole numbers to other number systems, including fractions, explicit attention to and naming of the unit is important so that students develop this understanding. Although unit fractions have not typically been a central focus in fractions teaching in North America, according to researchers Watanabe (2006) and Mack (2004), students need to be able to think of 2/5 as ‘2 one-fifth units’. This focus on the unit has also been proven to help with understanding of place value and with addition and subtraction of larger whole numbers. When students understand that the need for a common unit is universal for all addition and subtraction, they can more readily connect their understanding of whole number addition to other number systems, such as decimals and fractions, as well as algebra systems, thereby building a central conceptual framework for understanding the principles of addition and subtraction across all number systems.</p>

<p>When students transition to adding and subtracting fractions, the groundwork of unit fractions helps students to understand that they are adding (and subtracting) by combining (and removing) like units.</p>

<p>Consider the following examples:</p>
<div class="col-md-6 center">
	<h3>Whole Numbers</h3>
	<img src="/images/pdf-img/fracUnder1.png" alt=""/>
</div>
<div class="col-md-6 center">
	<h3>Fractions</h3>
	<img src="/images/pdf-img/fracUnder2.png" alt=""/>
</div>
<div class="col-md-6 center">
	<h3>Decimal Numbers</h3>
	<img src="/images/pdf-img/fracUnder3.png" alt=""/>
</div>
<div class="col-md-6 center">
	<h3>Algebra</h3>
	<img src="/images/pdf-img/fracUnder4.png" alt=""/>
</div>
<div class="clearfix"></div>
<!-- <h3>Whole Numbers</h3>
<p>2 + 3 </p>
<p>2 1 units</p>
<p>+ 3 1 units</p>
<p>&frasl;</p>
<p>5 1 units</p>
<p>= 5</p>

<h3>Decimal Numbers</h3>
<p>0.2 + 0.3 </p>
<p>2 0.1 units</p>
<p>+ 3 0.1 units</p>
<p>&frasl;</p>
<p>5 0.1 units</p>
<p>= 0.5</p>

<h3>Fractions</h3>
<p><abbr title="two sevenths">2&frasl;7</abbr> + <abbr title="three sevenths">3&frasl;7</abbr> </p>
<p>2 <abbr title="one seventh">1&frasl;7</abbr> units</p>
<p>+ 3 abbr title="one seventh">1&frasl;7</abbr> units</p>
<p>&frasl;</p>
<p>5 abbr title="one seventh">1&frasl;7</abbr> units</p>
<p>= <abbr title="five sevenths">5&frasl;7</abbr></p>

<h3>Algebra</h3>
<p>2a + 3a </p>
<p>2 a units</p>
<p>+ 3 a units</p>
<p>&frasl;</p>
<p>5 a units</p>
<p>= 5a</p> -->
<p>When students work with fractions with unlike units, such as <abbr title="">2&frasl;5</abbr> + <abbr title="">4&frasl;3</abbr>, they must first express each fraction in common units, or with a common denominator. This involves determining a common unit and then expressing each fraction using the common unit, or determining an equivalent fraction for each fraction. Students frequently determine equivalent fractions through repeated doubling, so would know that <abbr title="">2/5</abbr> = <abbr title="">4/10</abbr> = <abbr title="">8/20</abbr>. In the case of fifths and thirds, such a strategy will not generate a common denominator easily. Through the use of representations such as the Fraction Strips Tool at www.mathclips.ca students can see that fifteenths are a common unit to both fifths and thirds. Connecting representations, including pictorial and symbolic, deepens student understanding of the mathematics.</p>
<div class="center"><img src="/images/pdf-img/fracUnder5.png" alt=""/></div>
<div class="col-md-6 center"><img src="/images/pdf-img/fracUnder6.png" alt=""/></div>
<div class="col-md-6 center"><img src="/images/pdf-img/fracUnder7.png" alt=""/></div>
<p>Fluency with unit fractions aids students in distinguishing the fractional unit, such as thirds, and the whole unit, such as cups, in context (Empson & Levi, 2011). For example, consider a recipe which calls for <abbr title="">2/3</abbr> cup of flour. The fraction unit is thirds and the whole unit is one cup.</p>
    <div class="pdf-bottom-info">
        <div class="col-md-4 center">Curriculum and Assessment Policy Branch</div>
        <div class="col-md-4 center"><abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr></div>
        <div class="col-md-4 center">Dr. Cathy Bruce TMERC 2013</div>
        <div class="col-md-4 center">Last revised August 7 2015</div>
    </div>
</main>

<%- include partials/footer.ejs%>
