<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Building to Operations with Relational Rods</li>
</ol>

<main>
    
  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange"><p>Operation E</p></div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with like denominators using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->
  
  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Building to Operations with Relational Rods</h1>
      </div>
    </section>

    <!-- <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
        <img src="/images/tasks/mixedNumbers/making_mixed_numbers-thumbnail.jpg" alt="Task" class="img-responsive margin-auto" />
    </section> -->

    <section class="row">
      <h4>Description</h4>
      <p>This bundle uses the foundational concept of unit fractions to help students compare fractions and build understanding of adding and subtracting fractions with friendly or unlike denominators using models and symbols. Students with fragile understanding of unit fractions often have difficulty transitioning to adding and subtracting fractions. The tasks in this lesson bundle encourage students to be flexible in recognizing that a whole can be any length.</p>
    </section>

    <section class="row">
      <p>Students who would benefit from this lesson bundle are those who:</p>
      <ul>
        <li>have difficulty making explicit connections between concrete and visual representations of fractions and symbolic notation and algorithms</li>
        <li>struggle to accurately add and subtract fractions</li>
        <li>would benefit from working with manipulatives to understand the importance of a common unit as universal to all addition and subtraction</li>
      </ul>
    </section>

    <section class="row">
      <h4>The Bundle Sequence</h4>
      <ol>
        <li><a href="./unitRods" target="_blank">Unit Rods</a> task: The bundle begins by refreshing student understanding of unit fractions (Unit E) using the relational rods in the Unit Rods task.</li>
        <li><a href="./grabBag" target="_blank">Grab Bag</a> tasks: Then students engage in the Grab Bag tasks, requiring them to compare fractions and represent the fractions using rods as well as fraction notation (Comp B).</li>
        <li><a href="./trainGame" target="_blank">Train Game</a>: Students gain familiarity with different fractional units as they play Train Game (Op C).</li>
        <li><a href="./equalsGame" target="_blank">Equals Game</a>: The bundle ends with the Equals Game, supporting students’conceptual understanding of addition and subtraction of fractions with like and unlike denominators (Op E).</li>
      </ol>
    </section>

    <section class="row">
      <em>Note: If your students have not previously used relational rods you may want to introduce this bundle by playing “Show Me” (Unit E).</em>
    </section>
  </section> <!-- End PDF page section -->  
<%- include partials/footer.ejs%>