<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./buildAddSub">Building to Addition and Subtraction of Fractions</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
<h2>Math Teaching for Learning: Building to Addition and Subtraction of Fractions</h2>
<div class="gen-pdf">
    <a href="/pdf/Fractions_AdditionandSubtraction.pdf">Download PDF</a>
</div>

<p>A thorough examination of the research highlights a development of instruction to support student understanding of fractions addition and subtraction from primary through to intermediate grades; although the learning progression is not linear, there are some strongly interconnected components which support student understanding of subsequent concepts.</p>
<div class="center"><img src="/images/pdf-img/buildAddSub1.png" alt="" height="" width="" /></div>
<h3>Building on Student Intuitions to Transition to Addition and Subtraction of Fractions</h3>
<p>Lamon (1999), as referenced in Brown and Quinn (2006) states that:</p>

<blockquote>
studies have shown that if children are given the time to develop their own reasoning for at least three years without being taught standard algorithms for operations with fractions and ratios, then a dramatic increase in their reasoning abilities occurred, including their proportional thinking (5).
</blockquote>

<p>This reasoning can be developed through high quality tasks of representing, comparing and ordering. Therefore, as students transition from representing, comparing, and ordering fractions into more formal approaches for adding and subtracting fractions it is critical to assess if they possess the knowledge and skills of:</p>
<ul>
<li>• representing fractions</li>
<li>• comparing and ordering fractions</li>
<li>• equivalent fractions</li>
</ul>

<p>Ensuring that students have this prior knowledge will allow them to have greater sense-making opportunities. If students understand that the sum of <abbr title="one twelfth">1&frasl;12</abbr> and <abbr title="seven eighths">7&frasl;8</abbr> is closest to 1 by reasoning that <abbr title="one twelfth">1&frasl;12</abbr> is a very close to 0, while <abbr title="seven eighths">7&frasl;8</abbr> is very close to 1 then they will be able to judge the reasonableness of their answers to fractions tasks. Huinker (2002), as referenced in Petit et al. (2010), cites flexible use of fraction representations as contributing to increased ability to reason about fraction operations. Stacked number lines are one example of a representation that could be used.</p>
<div class="center"><img src="/images/pdf-img/buildAddSub2.png" alt="" height="" width="" /></div>
<p><strong>Special note:</strong> Students should also be exposed to mixed fractions (&gt;1) and proper fractions (&lt;1) throughout their fractions learning.</p>

<h3>Representing Fractions</h3>
<table class="tbl-col3">
<tr>
  <th>Why</th>
    <th>How</th>
    <th>Research</th>
</tr>
<tr>
  <td>
        <p>Students benefit deeply from</p>
        <ul>
        <li>• developing facility and flexibility with the use of and links between multiple representations.</li>
        <li>• instruction that extends beyond encouraging students to draw visual models of their thinking after-the-fact, and instead use visual and concrete models as <em>the site</em> of problem solving and reasoning mathematically.</li>
        </ul>
    </td>
    <td>
        <p>Students informally explore addition and subtraction of fractions when they:</p>
        <ul>
        <li>• consider the composition of a fraction, such as <abbr title="one fourth">¼</abbr>
combined with <abbr title="one half">½</abbr> being equal to <abbr title="three fourths">¾</abbr>, and the decomposition of a fraction, such as 1 <abbr title="one seventh">1&frasl;7</abbr> consisting of 1 whole and one one-seventh, through primary and junior grades.</li>
        <li>• equipartition and iterate fractions representations.</li>
        </ul>
    </td>
    <td>
        <p>Additionally, junior grade students benefit from being presented with tasks that allow them to explore the relationships between operations with fractions and whole numbers, including allowing students to construct their own algorithms for the operations (Huinker, 1998; Brown & Quinn, 2006; see also Lappan & Bouck, 1998; Sharp, 1998) prior to more restricting formalized notation.</p>
    </td>
</tr>
</table>


<h3>Comparing and Ordering Fractions</h3>
<table class="tbl-col3">
<tr>
  <th>Why</th>
    <th>How</th>
    <th>Research</th>
</tr>
<tr>
  <td>
    <p>Comparing and ordering fractions involves developing a sense of fraction as quantity, as well as a sense of the size of a fraction, both of which are necessary prior knowledge for understanding fraction operations (Johanning, 2011).</p>
    </td>
    <td>
    <p>There are a number of strategies for comparing and ordering fractions, including using:</p>
    <ul>
        <li>• benchmarks;</li>
        <li>• pictures or models;</li>
        <li>• unit fractions;</li>
        <li>• common numerators; and</li>
        <li>• common denominators.</li>
    </ul>
    <p>Students should develop flexibility in their use of these strategies.</p>
    </td>
    <td>
        <p>Johanning (2011) cautions that</p>
        <blockquote>
        using visual models such as fraction strips and number lines support students’ ability to visualize fractions and develop a sense of relative size. However, visual models are not enough. During instruction, students should routinely be asked to use their understanding of relative size to make sense of situations in which fractions are used operationally. (99)
        </blockquote>
    </td>
</tr>
</table>


<h3>Equivalent Fractions</h3>
<table class="tbl-col3">
<tr>
  <th>Why</th>
    <th>How</th>
    <th>Research</th>
</tr>
<tr>
  <td>
    The exploration of equivalence involves developing an understanding of equivalent fractions as simply being a different way of naming the same quantity. It also supports them in viewing the fraction as a numeric value.
    </td>
    <td>
    Although underutilized in North American instruction, linear representations such as the number line support the study of equivalent fractions, as any point on the line can represent an infinite number of equivalent fractions.
    </td>
    <td>
    Premature teaching of the standard algorithm for finding equivalence, by multiplying the numerator and denominator by the same number, reinforces the idea that a fraction is comprised of two whole numbers rather than representing a single value (Empson & Levi, 2011; Petit et al., 2010) and should be deemphasized.
    </td>
</tr>
</table>

    <div class="pdf-bottom-info">
        <div class="col-md-4 center">Curriculum and Assessment Policy Branch</div>
        <div class="col-md-4 center"><abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr></div>
        <div class="col-md-4 center">Dr. Cathy Bruce <abbr title="Trent Math Education Research Collaborative">TMERC</abbr> 2013</div>
        <div class="col-md-4 center">Last revised August 7, 2015</div>
    </div>
</main>
<%- include partials/footer.ejs%>
