<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Building a Stage</li>
</ol>

<main>
    
  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange"><p>Operation D</p></div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with friendly but unlike denominators (<abbr title="For example">e.g.,</abbr> 2 and 10) using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->
  
  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/buildStage/P7_Building-a-Stage_TASK.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Building a Stage</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/TaskPictureFlags-thumbnail.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students will determine an unknown measure by using a tape measure as a number line. Within the context of building a stage using layers of different types of wood, students will find the sum of friendly but unlike denominators. This will help them to understand the need for common units (denominators) when adding fractions.</p>
      
      <h4>Mathematics</h4>
      <p>This is a real world task with connections to building and measuring with an Imperial tape measure, allowing students to add different types of fractions using a number line. Students work with friendly but unlike denominators in a more concrete way than just finding common denominators. They also engage in developing strategies for adding the fractions together by finding common units or by adding on using the tape measure (number line).</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>add fractions with friendly but unlike denominators</li>
        <li>determine equivalent forms of a fraction</li>
        <li>compose/decompose fractions</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Partner students and introduce the task, including an overview of how to use/read an imperial measuring tape.</li>
        <li>Provide students <abbr title="Blackline Master">BLM</abbr> 1 and <abbr title="Blackline Master">BLM</abbr> 2. Allow them to complete the task.</li>
        <li>Highlight different strategies that students used by purposely choosing students that solved the problem using different strategies. Have students identify the similarities and differences between the strategies.</li>
        <li>Have students complete <abbr title="Blackline Master">BLM</abbr> 3 independently.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>place the thicknesses on the tape measure number line individually rather than consecutively</li>
          <li>multiply all the denominators together to find a common denominator</li>
          <li>need to be encouraged to convert improper fractions to mixed numbers</li>
          <li>place either the biggest thickness or the smallest thickness on the number line first. Both are correct; however, starting with the larger thickness mirrors the Primary strategy ‘counting on’ which may leave less room for errors</li>
          <li>be strategic about the order in which they add the numbers together based on the fractional units (start with sixteenths because they are the smallest units or start with half because it is the largest unit)</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How did you put halves, eighths and sixteenths on your number line?</li>
          <li>How did you additively place your thicknesses on the tape number line? Which thickness did you start with and why?</li>
          <li>How did you compare the different types of fractions (proper, improper and mixed)?</li>
          <li>Is there a different way you could have combined the fractions?</li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/buildStage/P7_BLM1_tape_measure.pdf" target="_blank" rel="PDF File" style="color: #724199;"><abbr title="Blackline Master">BLM</abbr> 1</a> (one copy/two pairs; cut)</li>
        <li><a href="/pdf/buildStage/P7_BLM2_Student_instruction_sheet_sy.pdf" target="_blank" rel="PDF File" style="color: #724199;"><abbr title="Blackline Master">BLM</abbr> 2</a> (one copy/pair)</li>
        <li><a href="/pdf/buildStage/P7_BLM3_Exit_Card.pdf" target="_blank" rel="PDF File" style="color: #724199;"><abbr title="Blackline Master">BLM</abbr> 3</a> (one copy/student)</li>
        <li>imperial tape measures (optional)</li>
        <li>graph paper (optional)</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
        </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">
          
          <figure class="padding-bottom">
            <img src="/images/tasks/buildStage/P7_BLM1_tape-measure.png" alt="Building a Stage" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/buildStage/P7_BLM1_tape_measure.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure class="padding-bottom">
            <img src="/images/tasks/buildStage/P7_BLM2_Student-instruction-sheet_sy.png" alt="Building a Stage" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/buildStage/P7_BLM2_Student_instruction_sheet_sy.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/buildStage/P7_BLM3_Exit-Card.png" alt="Number Line" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/buildStage/P7_BLM3_Exit_Card.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">
        
          <figure>
            <img src="/images/tasks/buildStage/Building a Stage_StudentThinking_OP-D.png" alt="Building a Stage" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/buildStage/Building a Stage_StudentThinking_OP-D.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">
        
          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building to Addition and Subtraction of Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/litreviews/foundationsAddSub">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/litReviews/Foundations/foundations10.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>  
    
    </section>

  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>