<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocsl">Document Briefs</a></li>
    <li><a href="./buildEquiv">Building Understanding of Equivalence</a></li>
</ol>


<main class="container pdf-page">
<!-- Insert content here-->
<h2>Math Teaching for Learning: Building Understanding of Equivalence and Equi-partitioning</h2>

<div class="gen-pdf">
    <a href="/pdf/Fractions_Equivalence.pdf">Download PDF</a>
</div>

<p>Equivalence is a foundational concept which students explore throughout elementary and secondary mathematics learning. Two or more equivalent numbers have the same value or represent the same quantity. In other words, equivalent fractions are simply different names for the same quantity.</p>

<p>When students determine an equivalent fraction they are changing the fractional unit by either splitting or merging the partitions of the whole based upon the original fractional unit.</p>

<h3>Splitting and Merging Continuous Models (<abbr title="For example">e.g.</abbr>
, area)</h3>
<div class="col-md-6 center">
<figcaption>Splitting to determine an equivalent fraction for <abbr title="two thirds">2&frasl;3</abbr></figcaption>
</div>
<div class="col-md-6 center">
<figcaption>Merging to determine an equivalent fraction for <abbr title="six eighths">6&frasl;8</abbr></figcaption>
</div>
<div class="center"><img src="/images/pdf-img/buildEqu1.png" alt="" height="" width="" /></div>
<p>Some students have difficulty understanding equivalence. In Ontario research, students in junior grade who seem to identify equivalent fractions such as <abbr title="four tenths">4&frasl;10</abbr> and <abbr title="two fifths">2&frasl;5</abbr> frequently fail to connect the procedural solution to a representation. Their symbolic models show equivalent fractions, but their visual representations do not display equivalent quantities or amounts. In the photo below, for example, students correctly state at the top of their work that the fractions are equivalent but none of the visual representations confirm this statement.</p>

<div class="col-md-12 equ-blue-arr-block">
	<img src="/images/pdf-img/buildEqu2.png" alt="" height="" width=""/>
	<div id="equ-block1">The students correctly state that four-tenths is equivalent to two-fifths.</div>
	<div id="equ-block2">The students draw two same sized circles but do not equi-partition them into fifths or tenths accurately. As a result, two-fifths appear to be equal to one-fourth in the top circle and more than one-fourth in the bottom circle.</div>
	<div id="equ-block3">The students use what they describe as a set model to show both fractions but the equality is not obvious to them.</div>
	<div id="equ-block4">The students use two different area models (<abbr title="that is">i.e.</abbr>, a circle and a rectangle), thus not illustrating equivalence through partitioning the same whole. This makes it very difficult to identify the areas as being equal.</div>
</div>
<p>In this example, there are two related concerns: </p>
<ol>
<li>students do not seem to understand a fraction as a single quantity or amount, and; </li>
<li>students are struggling to equi-partition their visual representations, which is an important skill for working with and comparing fractions models.</li>
</ol>

<h3>The Importance of Equi-partitioning for Considering Equivalent Fractions</h3>
<p>Equi-partitioning (<abbr title="that is">i.e.</abbr>, splitting an area into equal regions) is an important skill that both helps to develop, and to demonstrate, fractions understanding. Equi-partitioning, along with equivalence, are foundational ideas required when comparing fractions and understanding fractional units (Confrey, 2012). Unfortunately, in both primary and junior levels, minimal time is devoted to equi-partitioning.</p>


<p>Confrey, J., Maloney, A. P., Wilson, P. H., & Nguyen, K. H. (2010) identify three criteria that must be coordinated (or considered simultaneously) when equi-partitioning:</p>
<ol>
<li>the creation of equal sized groups or parts,</li>
<li>the organization of the correct number of groups or parts, and</li>
<li>the exhaustion of the entire collection or whole.</li>
</ol>

<p>Confrey and her colleagues state that through these acts, students “gain proficiency in mathematical reasoning practices such as justification and naming (<abbr title="For example">e.g.</abbr>
, as a count, fraction, or ratio) and begin to develop understandings of fundamental mathematical properties that later influence the ways that they fairly share multiple wholes”.</p>

<h3>Building Understanding of Equivalent Fractions</h3>
<p>As with equi-partitioning, minimal time is also allocated to understanding the general concept of equivalence throughout the primary grades. Students should be encouraged to consider a variety of strategies for determining equivalent fractions, beyond a simple doubling strategy upon which they frequently rely (although this in itself is a good starting point for establishing the concept of equivalence as it is repeated halving of the partition) (Charalambous & Pitta-Pantazi, 2005; Empson & Levi, 2011; Meagher, 2002; Petit et al., 2010; Kamii & Warrington, 1999). The standard algorithm for finding equivalence by multiplying the numerator and denominator by the same number reinforces the idea that a fraction is comprised of two whole numbers rather than representing a single value (Empson & Levi, 2011; Meagher, 2002; Petit et al., 2010) and should therefore not form the foundation of instruction on equivalence.</p>

<p>Linear representations such as the number line support the study of equivalent fractions, as any point on the line can represent an infinite number of equivalent fractions. Consider the location of two on this number line. Using whole number units, we would name it 2.</p>
<div class="center"><img src="/images/pdf-img/buildEqu3.png" alt="" height="" width="" /></div>

<p>However, we can use other units to name it, such as halves, in which case it would be <abbr title="four halves">4&frasl;2</abbr>.</p>
<div class="center"><img src="/images/pdf-img/buildEqu4.png" alt="" height="" width="" /></div>

<p>We know then that 2 = <abbr title="four halves">4&frasl;2</abbr>. A whole can be partitioned into an infinite number of equi-partitions. Therefore, there are essentially an infinite number of equivalent fractions for any point on the number line. The exploration of equivalence allows students to develop an understanding of equivalent fractions as simply being a different way of naming the same quantity; it also supports them in viewing the fraction as a numeric value.</p>

<h3>Connections between Equivalence and Comparing</h3>
<p>Comparing fractional values requires a strong sense of equal partitions as well as equivalence. Research indicates that learning in the junior grades should focus on the comparison and ordering of fractions, including the determination of equivalent fractions using a variety of strategies (Petit et al., 2010). Students should have ample opportunity to consolidate their understanding of the meaning of a fraction prior to finding an equivalent fraction (Petit et al., 2010).</p>

	<div class="pdf-bottom-info">
        <div class="col-md-4 center">Curriculum and Assessment Policy Branch</div>
        <div class="col-md-4 center"><abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr></div>
        <div class="col-md-4 center">Dr. Cathy Bruce <abbr title="Trent Math Education Research Collaborative">TMERC</abbr> 2015</div>
        <div class="col-md-4 center">Last revised September 2 2015</div>
    </div>
</main>
<%- include partials/footer.ejs%>
