<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./buildingFlags">OP B Building Flags</a></li>
</ol>

<main class="container dot-lists pdf-page">
<!-- Insert content here-->
<h1>Building Flags</h1>

<img src="/images/tasks/flagSample.png" alt="Task Image" height="" width="300" style="float: right;padding-left: 20px;" />
<strong>Description</strong>
<p>Students use their spatial reasoning and creative thinking to design a flag given a variety of pre-cut and coloured shapes. Students investigate and determine what fraction of the whole flag the coloured shapes represent.</p>
<strong>Mathematics</strong>
<p>The flag task helps students understand that a whole can be decomposed in many ways. For example by overlaying 2 one-eighth shapes onto a one-fourth shape the concept of decomposing or equivalence is made concrete. This lays the foundation for addition, and can also encourage students to find a common unit. Finding a common unit enables simple addition.</p>
<strong>Curriculum Connections</strong>
<p>Students will:</p>
<ul>
  <li>decompose the whole to discover that the large rectangle is <abbr title=""><sup>1</sup>⁄<sub>4</sub></abbr> and that all the other pieces are <abbr title=""><sup>1</sup>⁄<sub>8</sub></abbr> </li>
  <li>use area models to explore equivalent fractions</li>
  <li>create number sentences to connect symbolic notation to an area representation</li>
  <li>discover how the whole is a sum of many smaller fractions</li>
</ul>

<strong>Instructional sequence</strong>
<ol>
  <li>Partner students. Post Hint Cards in an easily accessible location.</li>
  <li>Distribute BLM 1. Direct students to use the variety of pre-cut flag pieces as well as white paper to construct their flags as stipulated on BLM 1.</li>
  <li>Provide students with time to complete the task. Allow students to explore and possibly struggle to cover the flag with the coloured pieces as this allows them to gain insight into the relationships between the pieces. Remind them that the Hint Cards are available for their use.</li>
  <li>Once flag is constructed, have students work on the investigation questions (BLM 1).</li>
  <li>Consolidate using the key questions.</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking </strong>
<p>Students may: </p>
<ul>
  <li>experiment with location and orientation of the shapes (give students time to do so);</li>
  <li>easily identify the large rectangle as one-fourth of the whole region and easily identify the smaller rectangles as one-half of one-half;</li>
  <li>find it difficult to see/name the <abbr title=""><sup>1</sup>⁄<sub>8</sub></abbr> regions, especially the triangular ones (encourage overlaying, folding and cutting);</li>
  <li>see this as a set model. If so, clarify that the flag is an area model;</li>
  <li>make non-symmetrical flags.</li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions </strong>
<ol>
<li>How did you determine the fractional amount of each piece?</li>
<li>What strategies did you use to see equivalent fractions?</li>
<li>How did you use the shapes to decide on your number sentence?</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
  <li><a href="/pdf/P2_BLM_1_Student_Handout.pdf" target="_blank" rel="PDF File"  style="color: #724199;">BLM 1</a> (projected or printed for small groups)</li>
  <li><a href="/pdf/P2_BLM_2_Hint_Cards_and_Cutting_Template.pdf" target="_blank" rel="PDF File"  style="color: #724199;">BLM 2</a> (One set of hint cards)</li>
  <li>glue sticks</li>
  <li>Pre-cut coloured shapes (approx. 2 times as many coloured sheets as flags) (see BLM 2)</li>
  <li>White paper for the whole (ensure that it is the same size as the coloured paper which is cut for the flag pieces) (one piece per student or pair of students)</li>
</ul>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Task Templates</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <img src="/images/tasks/Student_Handout.png" alt=" " />
<p>To download a copy of this .pdf, click <a href="/pdf/P2_BLM_1_Student_Handout.pdf" target="_blank" rel="PDF File">here</a>.</p>
<img src="/images/tasks/Hint_Cards.png" alt=" " />
<p>To download a copy of this .pdf, click <a href="/pdf/P2_BLM_2_Hint_Cards_and_Cutting_Template.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Student Thinking</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jAEwooa1gCI" frameborder="0" allowfullscreen></iframe>
        <img src="/images/tasks/BuildingFlags_StudentThinking_OP-D_1.png" alt=" " />
<p>To download a copy of this .pdf, click <a href="/pdf/BuildingFlags_StudentThinking_OP-D_1.pdf" target="_blank" rel="PDF File">here</a>.</p>
<img src="/images/tasks/BuildingFlags_StudentThinking_OP-D_2.png" alt=" " />
<p>To download a copy of this .pdf, click <a href="/pdf/BuildingFlags_StudentThinking_OP-D_2.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Additional Resources</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
<div class="row">

  <a href="/supportDocs/devPartItDisembed">
    <div class="col-md-6">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="100px">
        <div class="caption">
          <h2>Developing Proficiency with Partitioning, Iterating, and Disembedding</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildUnitFrac">
    <div class="col-md-6">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="100px">
        <div class="caption">
          <h2>Building Understanding of Unit Fractions</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildAddSub">
    <div class="col-md-6">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="100px" width="100px">
        <div class="caption">
          <h2>Building to Addition and Subtraction of Fractions</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

  <a href="/litreviews/foundationsAddSub">
    <div class="col-md-6">
      <div class="thumbnail smallRec">
        <img src="/images/research/litReviews/Foundations/foundations10.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" height="100px" width="100px">
        <div class="caption">
          <h2>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

</div>
      </div>
    </div>
  </div>
</div>

<!-- 
<p>Student Name:</p>
<h3>Step 1: Create a Flag</h3>
<p>Using the materials provided, create a multi-colour flag. Your flag must:</p>
<ul>
<li>contain at least three non-congruent shapes</li>
<li>cover the entire area of the whole, which is the white paper</li>
<li>not have overlapping pieces.</li>
</ul>
<h3>Step 2: Consider the Mathematics Relationships</h3>
<p>Answer each of the following questions by referring to your flag:</p>
<ol>
<li>What fraction of the total area is covered by each individual piece of your flag? Write this as a number sentence.</li>
<li>What fraction of the total area is covered by each colour? Write this as a number sentence.</li>
<li>Find the following in your flag:
  <ol>
        <li>A shape (or several shapes) that cover <abbr title="one half">½</abbr> of the flag.</li>
        <li>A shape (or several shapes) that cover <abbr title="three fourths">¾</abbr> of the flag.</li>
        <li>A shape (or several shapes) that cover exactly the same amount as another shape or shapes.</li>
  </ol></li>
<li>Write a fraction question about your flag for someone else to answer.</li>
<li>Think about the different colours you used on your flag. Select one of these colours and replace it with one of the other colours, reducing the total number of colours on your flag by one. Decide how this will change your flag. What fraction of the total area is now covered by each colour? Write this as a number sentence. What do you notice?</li>
<li>Find another flag that has the same number sentence as yours for question <abbr title="number">#</abbr>2. Do your flags look the same?</li>
</ol>
 -->
</main>
<%- include partials/footer.ejs%>
