<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/changeWholes">UNIT F Changing Wholes</a></li>
    <li><a href="/tasks/changeWholesStudentThinking">Changing Wholes Student Thinking</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
	<h1>Student Thinking</h1>
<object data="pdf/studentThinking1.pdf" type="application/pdf" width="300" height="200">
<a href="pdf/studentThinking1.pdf"></a>
</object>

<object data="pdf/studentThinking2.pdf" type="application/pdf" width="300" height="200">
<a href="pdf/studentThinking2.pdf"></a>
</object>

<object data="pdf/studentThinking3.pdf" type="application/pdf" width="300" height="200">
<a href="pdf/studentThinking3.pdf"></a>
</object>

<%- include partials/footer.ejs%>
