<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Chris' Ice Cream Carton</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple"><p>Operation L</p></div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Multiply fractions where the numerator of one fraction is the denominator of the other using models (e.g.,<abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> x <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>)</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/thePaintedDoor/T45_OPN_doortask_task_V5.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Chris' Ice Cream Carton</h1>
      </div>
    </section>

    
    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
        <img src="/images/tasks/chrisIceCreamCarton/task_pic.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students are asked to create visual representations of thier thinking using number lines and arrays to perform multiplication of fractions with unlike denominators. Students may use a variety of multiplication strategies, focusing on the part-whole meaning of fractions.</p>

      <h4>Mathematics</h4>
      <p>Current research concludes that students need to build fractional understanding, rather than using an algorithm, to explore the relationship between the multiplication of fractions. When the numerator of one fraction is the same as the denominator of the other, some interesting relationships can be explored. When students have opportunities to model the problem, it is evident that the relationship between the two fractions (the fact that the numerator of one is the denominator of the other) means that the partitions of multiplicand (the fraction on which the multiplication is being performed) are actually created by the other fraction. Therefore, repeated addition can be used to solve what might seem to be a complex multiplication situation with fractions, allowing students to explore the idea that repeated addition of fractions relates directly to the multiplication of fractions.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>develop their understanding of multiplying fractions</li>
        <li>explore the relationships between different kinds of fractions and the meaning of the numerator and denominator;</li>
        <li>model multiplication of fractions using visual representations.</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Partner students and distribute BLM 1. Students need to make visual representations as prompted, and answer questions 2 and 3 on the BLM.</li>
        <li>Circulate as students work through the task and prompt using key questions.</li>
        <li>Allow students time to complete task and respond to key questions.</li>
        <li>To consolidate, have students share their thinking around the question: What do you notice about the numerator and the denominator in your answer and/ or the number sentence of your representation? Why do you think this is?</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>represent both fractions independently using a model but be unsure as to how they relate to each other, or how to model this relationship</li>
          <li>be able to represent the fractions yet need support to recognize the relationship between the two different forms of measure; capacity, <abbr title="Three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>of a carton of ice cream, and mass, <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> kg for a full carton of ice cream</li>
          <li>benefit from a visual that illustrates the remainder of "empty" portion of the carton;</li>
          <li>need support to determine the operation needed to solve this problem and</li>
          <li>be more successful with the use of precise labels.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How can you show <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> of a kilogram?</li>
          <li>How does the carton of ice cream relate to the <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> kg?</li>
          <li>What is the question asking? (i.e., <abbr title="Three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> of, <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> not <abbr title="Three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> of the whole)</li>
          <li>How do labels help you to better understand the relationship between the numerators and denominators?</li>
        </ol>
      </div>
    </section>
<!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/chrisIceCreamCarton/T44_ChrissIceCreamCarton_BLM_1_FINAL.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (one per student)</li>
        <li>grid paper (optional)</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/chrisIceCreamCarton/T44_ChrissIceCreamCarton_BLM_1_FINAL.png" alt="Chris' Ice Cream Carton BLM 1" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/chrisIceCreamCarton/T44_ChrissIceCreamCarton_BLM_1_FINAL.pdf" target="_blank">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/chrisIceCreamCarton/ChrisIceCreamCarton_StudentThinking_OP-L.png" alt="Chris' Ice Cream Carton Operation L" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/images/tasks/chrisIceCreamCarton/T44_OL_Chriss Ice Cream Carton_task_FINAL.pdf" target="_blank">here</a>.</p>
          </figure>
         
        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
              <a href="/supportDocs/buildAddSub">
                <div class="col-sm-6 col-md-4">
                </div>
              </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>
