<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/tasks">Activities</a></li>
  <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
  <li><a href="./comparingFractionsTask">Comp E Comparing Fractions Tasks</a></li>
  <li><a href="./comparingFractionsTaskTeacherNotes">Teacher Notes</a></li>
</ol>

<main class="container dot-lists pdf-page" role="main">

  <h1>Comparing Fractions</h1>
  <h2>Teacher Notes</h2>

  <p>These prompts can be used flexibly depending on student readiness, for example, as assessment for learning, activating prior knowledge, learning tasks or assessment of learning. These prompts are presented symbolically and without context in
    order to allow students to build models/representations and create contexts to support visualization of the meaning of the fractions. The prompts are increasingly complex and consist of purposely-paired fractions to encourage the use of various
    strategies.</p>

  <section>
    <h5><strong>Prompt #1</strong></h5>
    <p>Which is greater: 8&frasl;7 or 9&frasl;8? Show your thinking.</p>
    <p><u>Teacher Notes:</u></p>
    <p>Students should recognize immediately that these are improper fractions and so are both greater than 1. Students may use unit fraction knowledge to compare the size of the fractional amount by which each fraction exceeds the whole. They
      should recognize that one seventh is greater than one eighth, so eight sevenths is a greater quantity. This reinforces the role of the denominator and the understanding that as the digit in the denominator increases, the size of the unit
      decreases.</p>
    <p>Students may also use the algorithm to determine a common denominator (common fractional unit). This would lead them to compare 64&frasl;56 and 63&frasl;56, allowing them to recognize that eight sevenths is greater.</p>
  </section>

  <section>
    <h5><strong>Prompt #2</strong></h5>
    <p>Which is closer to 1 1&frasl;2: 28&frasl;19 or 26&frasl;16?</p>
    <p><u>Teacher Notes:</u></p>
    <p>Asking students to compare fractions to a specific benchmark builds their understanding of strategic benchmarks beyond the familiar ones of one half and one fourth. The fractions in this task are greater than one, supporting students in
      recognizing that fractions can represent quantities beyond one.</p>
    <p>Although we often instruct students to determine a common fractional unit (denominator), students can use proportional reasoning to determine half of the fractional units (denominators). They may recognize this as either <sup>9.5</sup>&frasl;19
      or <sup>9 1&frasl;2</sup>&frasl;19. Students should then be able to identify that 19&frasl;19 + <sup>9.5</sup>&frasl;19 = <sup>28.5</sup>&frasl;19, so 28&frasl;19 is just slightly less than 1 1&frasl;2.</p>
    <p>Students will similarly reason that 16&frasl;16 + 8&frasl;16 = 24&frasl;16 and that 26&frasl;16 is 2&frasl;16 more than 1 1&frasl;2.</p>
    <p>They will then need to compare <sup>0.5</sup>&frasl;19 and 2&frasl;16. They may rewrite <sup>0.5</sup>&frasl;19 as 1&frasl;38 and 2&frasl;16 as 1&frasl;8 and recognize that 1&frasl;8 > 1&frasl;38 so 28&frasl;19 is closer too 1 1&frasl;2.</p>
    <p><strong>Note:</strong> <sup>9.5</sup>&frasl;19 and <sup>9 1&frasl;2</sup>&frasl;19 are complex fractions (as compared to simple fractions) and are mathematically correct. Although final answers are usually further simplified, these are
      entirely appropriate for reasoning through this task.</p>
    <p>Stacked number lines would also be a useful strategy for this task. Accuracy is fairly important as the fractions are close in value so graph paper would be helpful. They may draw vertical line to mark the one and one-half mark on all three
      lines.</p>
    <figure>
      <img src="/images/teacherNotes/comparingFractions-prompt2.jpg" alt="28&frasl;19 is closer to 1 1&frasl;2" width="100%">
    </figure>
    <p>Looking at the stacked number lines, it is clear that 28&frasl;19 is closer to 1 1&frasl;2.</p>
    <p>Students may choose to only focus on the fractional quantities beyond one so may create stacked number lines comparing 1&frasl;2, 9&frasl;19 and 10&frasl;16.</p>
  </section>

  <section>
    <h5><strong>Prompt #3</strong></h5>
    <p>Which of these fractions is closer to 1&frasl;4: 5&frasl;16 or 3&frasl;8?</p>
    <p><u>Teacher Notes:</u></p>
    <p>Students could use the Fraction Strips learning tool at mathies.ca to compare the two fractions to one fourth.</p>
    <figure>
      <img src="/images/teacherNotes/comparingFractions-prompt3.jpg" alt="Fraction Strips learning tool at mathies.ca" width="100%">
    </figure>
    <p>Alternatively, they could convert all the fractions to a common denominator (common fractional unit) for comparison. Note that students could convert all the fractions to fourths, generating 5&frasl;16 = <sup>1.25</sup>&frasl;4 and 3&frasl;8
      = <sup>1.5</sup>&frasl;4 in order to identify 5&frasl;16 as the closer fraction.</p>
    <p>Most likely, students will convert the fractions to sixteenths to arrive at the same conclusion.</p>
  </section>

  <section>
    <h5><strong>Prompt #4</strong></h5>
    <p>Which of these fractions is closer to 2&frasl;3: 5&frasl;9 or 7&frasl;12?</p>
    <p><u>Teacher Notes:</u></p>
    <p>For this question, students may realize that each fraction is slightly less than 2&frasl;3 as 2&frasl;3 = 6&frasl;9 = 8&frasl;12. They can then compare the distance of each from 2&frasl;3, which is 1&frasl;9 and 1&frasl;12, and determine that
      7&frasl;12 is closer, since one twelfth is a smaller unit than one ninth.</p>
  </section>

  <section>
    <h5><strong>Prompt #5</strong></h5>
    <p>Which is greater: 2&frasl;5 or 5&frasl;7?</p>
    <p><u>Teacher Notes:</u></p>
    <p>Using a benchmark is a great strategy for comparing this pair of fractions. Since 1&frasl;2 = <sup>2.5</sup>&frasl;5 = <sup>3.5</sup>&frasl;7, it is easy to see that five sevenths is greater than one half while two fifths is less than one
      half.</p>
    <p>If a student selected one (one whole) as the benchmark, they may consider the complements (3&frasl;5 and 2&frasl;7) and recognize that two sevenths is closer to 0 (or a smaller unit) so five sevenths is closer to one.</p>
  </section>

  <section>
    <h5><strong>Prompt #6</strong></h5>
    <p>If you are familiar with an Imperial tape measure, you will recognize these fractions. Place them in order on a number line. What pattern(s) do you notice?</p>
    <p>3&frasl;4, 3&frasl;8, 1&frasl;2, 9&frasl;16, 1&frasl;4, 1&frasl;8, 13&frasl;16, 5&frasl;8, 7&frasl;8, 5&frasl;16, 1&frasl;16, 1</p>
    <p><u>Teacher Notes:</u></p>
    <p>Students should be encouraged to use a variety of strategies to place the fractions in the correct order.</p>
    <p>They may select the common benchmarks to place first.</p>
    <figure>
      <img src="/images/teacherNotes/comparingFractions-prompt6-1.jpg" alt="common benchmarks to place first" width="100%">
    </figure>
    <p>They may continue to place the unit fractions by partitioning eighths then sixteenths.</p>
    <figure>
      <img src="/images/teacherNotes/comparingFractions-prompt6-2.jpg" alt="place the unit fractions by partitioning eighths then sixteenths" width="100%">
    </figure>
    <p>They can then place the remainder of the fractions by comparing them to the benchmarks or by counting the unit fraction partitions.</p>
    <figure>
      <img src="/images/teacherNotes/comparingFractions-prompt6-3.jpg" alt="place the remainder of the fractions" width="100%">
    </figure>
    <p>Students might notice that, once the fractions are in order on the number line, the fractional units generally follow a pattern as follows: sixteenths, eighths, common benchmark, sixteenths, eighths, common benchmark, etc. This can lead to a
      discussion of equivalent fractions for these friendly but different denominators.</p>
  </section>

  <section>
    <h5><strong>Prompt #7</strong></h5>
    <p>Represent the fractions 7&frasl;5 and 5&frasl;3 using set, area and number line models. Use each to compare the two fractions. What is important to remember when making comparisons using each model?</p>
    <p><u>Teacher Notes:</u></p>
    <p>Students could access the Set learning tool at mathies.ca to create some of their models, as shown below for the set and area models.</p>
    <p>Set Model</p>
    <figure>
      <img src="/images/teacherNotes/comparingFractions-prompt7-1.jpg" alt="Set Model" width="100%">
    </figure>
    <p>“When I look at the set model, I see that each fraction represented has two more pieces than a whole. Since there are only three pieces in the whole for five thirds, each piece has more value than the pieces that make seven fifths, so five
      thirds is greater.”</p>
    <p>Area Model</p>
    <figure>
      <img src="/images/teacherNotes/comparingFractions-prompt7-2.jpg" alt="Area Model" width="100%">
    </figure>
    <p>“This is much easier to compare the two fractions. I can see that five thirds covers more area than seven fifths.”</p>
    <p>Number Line Model</p>
    <figure>
      <img src="/images/teacherNotes/comparingFractions-prompt7-3.jpg" alt="Number Line Model" width="100%">
    </figure>
    <p>“The number line model is like the area model since it is easy to see that five thirds is further along (greater) than seven fifths.”</p>
    <p>Student responses should indicate an understanding of some of the following criteria for comparison using models:</p>
    <ul>
      <li>For number line and area models, the wholes need to be the same size;</li>
      <li>Equal partitions are important for area and number line models;</li>
      <li>When comparing set models you have to use proportional reasoning;</li>
      <li>Stacking number lines and/or area models can make comparisons of close quantities easier.</li>
    </ul>
  </section>

</main>
<%- include partials/footer.ejs%>
