<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li><a href="./comparingFractionsTask">Comp E Comparing Fractions Task</a></li>
</ol>

<main class="container dot-lists pdf-page" role="main">

<h1>Comparing Fractions</h1>

<section>
  <img src="#" alt="alt for the image - missing image" height="" width="300"  style="float: right;padding-left: 20px;" />
  <h5><strong>Description</strong></h5>
  <p>This is a set of prompts consisting of purposefully paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding. These prompts are presented symbolically and without context. Encourage students to build models/representations and create contexts to support visualization of fractions, which in turn supports meaning-making.</p>
</section>

<section>
  <h5><strong>Mathematics</strong></h5>
  <p>Research shows that it is beneficial to spread fraction learning throughout the year and embed it in other strands. These prompts progress in complexity from comparisons of equivalent fractions, to examples that include same denominators, to comparisons of very close fractions with different numerators and denominators. Students are encouraged to develop a range of different strategies and to use them strategically, based on the situation.</p>
</section>

<section>
  <h5><strong>Curriculum Connections</strong></h5>
  <p>Students will:</p>
  <ul>
    <li>represent, compare and order fractional amounts using a variety of tools</li>
  </ul>
</section>

<section>
  <h5><strong>Instructional sequence</strong></h5>
  <ol>
    <li>Partner students and introduce the task. Post the selected prompt (select from options below) on the black/whiteboard or interactive whiteboard, or distribute on a handout.</li>
    <li>Provide students time to complete the task. Encourage them to use graph paper, rulers, and manipulatives (concrete or virtual, such as the tools at <a href="mathies.ca">mathies.ca</a>.</li>
    <li>Highlight different strategies by intentionally selecting students that solved the task in different ways. Have students identify the similarities and differences between the strategies.</li>
  </ol>
</section>

<section class="promptBox">
  <h5>Prompt #1</h5>
  <p>Which is greater: <sup>8</sup>&frasl;<sub>7</sub> or <sup>9</sup>&frasl;<sub>8</sub>? Show your thinking.</p>
  <h5>Prompt #2</h5>
  <p>Which is closer to 1 <sup>1</sup>&frasl;<sub>2</sub>: <sup>28</sup>&frasl;<sub>19</sub> or <sup>26</sup>&frasl;<sub>16</sub>.</p>
  <h5>Prompt #3</h5>
  <p>Which of these fractions is closer to <sup>1</sup>&frasl;<sub>4</sub>: <sup>5</sup>&frasl;<sub>16</sub> or <sup>3</sup>&frasl;<sub>8</sub>?</p>
  <h5>Prompt #4</h5>
  <p>Which of these fractions is closer to <sup>2</sup>&frasl;<sub>3</sub>: <sup>5</sup>&frasl;<sub>9</sub> or <sup>7</sup>&frasl;<sub>12</sub>?</p>
  <h5>Prompt #5</h5>
  <p>Which is greater: <sup>2</sup>&frasl;<sub>5</sub> or <sup>5</sup>&frasl;<sub>7</sub>.</p>
  <h5>Prompt #6</h5>
  <p>If you are familiar with and Imperial tape measure, you will recognize there fractions. Place them in order on a number line. What pattern(s) do you notice?</p>
  <p><sup>3</sup>&frasl;<sub>4</sub>, <sup>3</sup>&frasl;<sub>8</sub>, <sup>1</sup>&frasl;<sub>2</sub>, <sup>9</sup>&frasl;<sub>16</sub>, <sup>1</sup>&frasl;<sub>4</sub>, <sup>1</sup>&frasl;<sub>8</sub>, <sup>13</sup>&frasl;<sub>16</sub>, <sup>5</sup>&frasl;<sub>8</sub>, <sup>7</sup>&frasl;<sub>8</sub>, <sup>5</sup>&frasl;<sub>16</sub>, <sup>1</sup>&frasl;<sub>16</sub>, 1.</p>
  <h5>Prompt #7</h5>
  <p>Represent the fractions <sup>7</sup>&frasl;<sub>5</sub> and <sup>5</sup>&frasl;<sub>3</sub> using set, area and number line models. Use each to compare the two fractions. What is important to remember when making comparisons using each model?</p>
</section>

<section>
  <div class="row">
    <div class="col-md-6">
      <h5><strong>Highlights of student thinking</strong></h5>

      <p>Students may:</p>
      <ul>
        <li>construct accurate models to compare two or more fractions</li>
        <li>rely on the algorithm for determining equivalent fractions</li>
        <li>consider only the numerators or only the denominators</li>
        <li>use benchmarks to make estimates for comparison</li>
        <li>consider the size of the unit fractions (as indicated by the denominators)</li>
        <li>consider the proximity of the fraction to 1 by identifying the ‘missing piece’ (complement)</li>
        <li>be strategic about the strategy for comparison based on the fractions given</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h5><strong>Key questions</strong></h5>
      <ol>
        <li>Did you think of contexts to help you visualize the fractions? How did this help you?</li>
        <li>Share how you visualized the fractions.</li>
        <li>How did your representation help you to compare the fractions?</li>
        <li>What strategy did you find most helpful? Why?</li>
        <li>What manipulatives can you use to help you?</li>
      </ol>
    </div>
  </div>
</section>

<section>
  <h5><strong>Materials</strong></h5>
  <p>Make tools available such as paper and markers, grid paper, paper strips for folding, and/or manipulatives such as relational rods.</p>
</section>

<a href="./comparingFractionsTaskTeacherNotes" style="color: #724199; border-bottom: 2px solid #724199; text-decoration: none;">Teacher Notes</a>

</main>
<%- include partials/footer.ejs%>
