<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
  <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
  <li class="breadcrumb-item active">Comp D Comparing Fractions with Like Numerators or Like Denominators Teacher Notes</li>
</ol>

<main class="container dot-lists pdf-page" role="main">

  <h1>Comparing Fractions with Like Numerators or Like Denominators</h1>
  <h2>Teacher Notes</h2>

  <p>These prompts can be used flexibly depending on student readiness, for example, as
    assessment for learning, activating prior knowledge, learning tasks or assessment of
    learning. These prompts are presented symbolically and without context in order to
    allow students to build models/representations and create contexts to support
    visualization of the meaning of the fractions. The prompts are increasingly complex and
    consist of purposefully paired fractions to promote the use of various strategies.</p>

  <section>
    <h5><strong>Prompt #1</strong></h5>
    <p>Which is greater <abbr title="Seven Eighths"><sup>7</sup>/<sub>8</sub></abbr> or <abbr title="Five Eighths"><sup>5</sup>/<sub>8</sub></abbr>? How do you know?</p>
    <p><u>Teacher Notes:</u></p>
    <p>Students may recognize that the denominators are the same, so they can compare the numerators. Since seven is greater than five, there is a larger quantity represented by seven eighths.</p>
    <p>They may also use benchmarks and recognize that five eighths is slightly more than one half while seven eighths is slightly less than one, so seven eighths is larger.</p>
  </section>

  <section>
    <h5><strong>Prompt #2</strong></h5>
    <p>Which is greater <abbr title="Five Sevenths"><sup>5</sup>/<sub>7</sub></abbr> or <abbr title="Three Sevenths"><sup>3</sup>/<sub>7</sub></abbr>? How do you know?</p>
    <p><u>Teacher Notes:</u></p>
    <p>Students may use context to justify that numerators name the number of fractional pieces. Students may also use complementary fractions to recognize that five sevenths is closer to one whole (only two sevenths away from one whole compared to
      four sevenths).</p>
  </section>

  <section>
    <h5><strong>Prompt #3</strong></h5>
    <p>Which is greater <abbr title="Two Twelfths"><sup>2</sup>/<sub>12</sub></abbr> or <abbr title="Two Tenths"><sup>2</sup>/<sub>10</sub></abbr>? How do you know?</p>
    <p><u>Teacher Notes:</u></p>
    <p>Students may use their unit fraction knowledge to realize that twelfths are smaller units than tenths, so two twelfths would be a smaller quantity that two tenths.</p>
    <p>Students may also use their knowledge of equivalent fractions and bench marks to compare the two fractions by realizing that two tenths is equivalent to one fifth while two twelfths is equivalent to one sixth. They could then use their
      understanding of unit fractions to recognize that one sixth is smaller than one fifth.</p>
  </section>

  <section>
    <h5><strong>Prompt #4</strong></h5>
    <p>Which is greater <abbr title="Seventeen Twelfths"><sup>17</sup>/<sub>12</sub></abbr> or <abbr title="Seventeen Sevenths"><sup>17</sup>/<sub>7</sub></abbr>? How do you know?</p>
    <p><u>Teacher Notes:</u></p>
    <p>It is important to allow students to gain experience with comparing improper fractions as well.</p>
    <p>Students may use their unit fraction knowledge to realize that twelfths are smaller units than sevenths, so seventeen twelfths would be a smaller quantity than seventeen sevenths.</p>
    <p>Students may also use their knowledge of equivalent fractions and bench marks to compare the two fractions by realizing that seventeen twelfths is approximately equal to one and one half while seventeen sevenths is very close to three wholes.
      This allows them to connect their fraction learning to their whole number knowledge and recognize that seventeen sevenths is the greater fraction.</p>
  </section>

</main>
<%- include partials/footer.ejs%>
