<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/pathway">Fractions Learning Pathway</a></li>
    <li><a href="./compB">COMP B</a></li>
</ol>


<main class="container">
<h2>Compare familiar fraction quantities with and without benchmark referents</h2>

<p>Understanding a fraction as a number (a quantity) and using multiple strategies to compare familiar fraction quantities helps students compare fractions beyond merely using common denominators. </p>

<h3>Background</h3>

<p>Comparing and ordering fractions allows students to develop a sense of fraction as quantity, as well as a sense of the size of a fraction, both necessary prior knowledge components for understanding fraction operations (Johanning, 2011).</p>

<p>Comparing and ordering fractions with different fractional units (or denominators) leads students to identify the need for equivalent fractions. When students determine an equivalent fraction they are changing the unit of measure by either splitting or merging the partitions of the original fraction. The following illustration demonstrates these concepts using an area model:</p>

<div class="compBlocks">
	<div>
		<p>Splitting to determine an equivalent fraction for <abbr title="two thirds">2&frasl;3</abbr> </p>
		<img src="/images/pathway/comp/comp1.png" alt="A fractions strip with two thirds shaded in, equal to a fractions strip with four sixths shaded in." width="450" height="" />
	</div>
	<div>
		<p>Merging to determine an equivalent fraction for <abbr title="six eighths">6&frasl;8</abbr> </p>
		<img src="/images/pathway/comp/comp2.png" alt="A fractions strip with six eighths shaded in, equal to a fractions strip with three fourths shaded in." width="450" height="" />
	</div>
</div>

<p>The exploration of equivalence allows students to develop an understanding of equivalent fractions as simply being a different way of naming the same quantity; it also supports them in viewing the fraction as a numeric value. A solid understanding of equivalence helps students with fractions operations, especially addition and subtraction.</p>

<h3>References:</h3>

<p>Johanning, D. I. (2011). Estimation's role in calculations with fractions. Mathematics Teaching In the Middle School, 17(2), 96-102.</p>

<%- include partials/footer.ejs%>
