<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li>
    <li class="breadcrumb-item active">Comparing Fractions Tasks</li>
</ol>


<main class="container">

  <section class="row padding-bottom">
    <div class="col-ms-12 col-md-12">
      <h1>Comparing Fractions Tasks</h1>
    </div>
  </section>
  
  <section class="row blue-unit-grid">
    <a href="../tasks/recipe">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail blue">
          <figure>
            <img src="/images/pathway/comp/recipe.png" alt="COMP A Recipe Task" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>COMP A </h2>
              <h3>Recipe Task</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="../tasks/equivalencyComp">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail blue">
          <figure>
            <img src="/images/pathway/comp/Equivalency_Comparisons.jpg" alt="COMP A Equivalency Comparisons" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>COMP A </h2>
              <h3>Equivalency Comparisons</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="../tasks/familiarFractionsBenchmarksComparisons">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail blue">
          <figure>
            <img src="/images/tasks/Equivalency-Comparisons-CompB.jpg" alt="COMP B Familiar Fractions and Benchmarks Comparisons" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>COMP B </h2>
              <h3>Familiar Fractions and Benchmarks Comparisons</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <!-- Still need to do the page!!! -->
    <a href="#">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail blue">
          <figure>
            <img src="/images/placeholder-image.png" alt="COMP B Grab Bag Task" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>COMP B </h2>
              <h3>Grab Bag Task</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="../tasks/generatingFractionsbetweenTwoNumbers">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail blue">
          <figure>
            <img src="/images/tasks/Generating_Fractions_between_Two_Numbers.jpg" alt="COMP E Generating Fractions between Two Numbers (Fraction Density)" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>COMP C </h2>
              <h3>Generating Fractions between Two Numbers (Fraction Density)</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="../tasks/comparingFractionsTask">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail blue">
          <figure>
            <img src="/images/tasks/Comparing_Fractions_Task.jpg" alt="COMP E Comparing Fractions Task" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>COMP E </h2>
              <h3>Comparing Fractions Task</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="../tasks/paperFold">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail blue">
          <figure>
            <img src="/images/pathway/comp/paperFolding.jpg" alt="COMP E Pretty Powerful Paper Folding" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>COMP E </h2>
              <h3>Pretty Powerful Paper Folding</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
  </div>
<%- include partials/footer.ejs%>