<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li class="breadcrumb-item"><a href="./comp">Comparing Fractions</a></li>
    <li class="breadcrumb-item"><a href="./recipe">COMP A Recipe Task</a></li>
    <li class="breadcrumb-item active">Recipe Task BLM</li>
</ol>



<main class="container">
<h1>Double Chocolate Chip Cookie Recipe</h1>
<p>You want to bake these chocolate chip cookies but you only have a <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr> measuring cup. How can you use your measuring cup to measure out all of the ingredients accurately?</p>

<!--add space between list items - no style-->
<ul>
<li><abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr> cup of butter</li>
<li>1 <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr> packed brown sugar</li>
<li><abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr> cup of flour</li>
<li><abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr> cup cocoa</li>
<li>2 <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr> cups of semi-sweet chocolate chips</li>
</ul>

<%- include partials/footer.ejs%>
