<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./digitalTasks">Lessons</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Comparing and Ordering Fractions (Gr 6)</li>
</ol>

<main class="container pdf-page">

  <section class="row gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ComparingandOrderingFractionsLessonGrade 6.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">
    <h2 style="color: #0000ff; border-bottom: 10px solid black;">Comparing and Ordering Fractions - Ottawa-Carleton <abbr title="District School Board">DSB</abbr> <abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr>
      Lesson (Gr 6)</h2>
  </section>

  <section class="row table-responsive">
    <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font" id="ftable">
      <!-- First Row - Time Stamp and Learning Goal -->
      <tr>
        <td>
          <p>MO 20 min</p>
          <p>A 30 min</p>
          <p>C/D 20 min</p>
          <p>60 min</p>
        </td>
        <td>
          <p><strong style="text-decoration: underline;">Learning Goals</strong></p>
          <ul> Students will:
            <li>develop flexibility in ordering fractions using a variety of considerations, including benchmarks</li>
            <li>consider the role of the numerator and denominator, and the connection between the two when ordering fractions on a number line</li>
            <li>explain and justify their reasoning about fractions</li>
          </ul>
        </td>
        <td>
          <p><strong style="text-decoration: underline;">Materials</strong></p>
          <ul>
            <li><abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> pieces of chart paper, 1 per pair</li>
            <li>markers</li>
          </ul>
        </td>
      </tr> <!-- End First Row -->
      <!-- Second Row - Minds on... -->
      <tr>
        <td>
          <p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p>
        </td>
        <td>
          <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Review Activity</strong></p>
          <p>Ask students to place the fractions <abbr title="one quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>,
            <abbr title="six sixths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>6</sub></span></abbr>, <abbr title="eight sixteenths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>16</sub></span></abbr>,
            <abbr title="one ninth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>9</sub></span></abbr> on a number line in their notebook that extends from 0 to 1.</p>

          <p><strong>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Preparation for Action!</strong></p>
          <p>Post a class number line and ask individual students to place each of the five fractions appropriately. Highlight that each fraction represents a single numerical value and ask students to share their reasoning as they place each
            fraction in its place. Highlight common benchmarks that students refer to as they share their reasoning, such as <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> or
            <abbr title="three fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>. Also ensure that students realize that one point on the number line can be identified using multiple equivalent
            fractions.</p>
        </td>
        <td class="section-border-bottom-none"></td>
      </tr> <!-- End Second Row -->
      <!-- Third Row - Action! -->
      <tr>
        <td>
          <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
        </td>
        <td>
          <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</strong></p>
          <p>Provide each pair with a prepared number line which has unlabelled hash marks from 0 through 4. Ask them to place each of the fractions on the number line, and prepare to explain and justify their placements.</p>
          <p><abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>,&nbsp; <abbr title="fifteen twentieths" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>20</sub></span></abbr>,&nbsp;
            <abbr title="ten thirds" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>3</sub></span></abbr>,&nbsp; <abbr title="two halves" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>2</sub></span></abbr>,&nbsp;
            1 <abbr title="five sixths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span></abbr>,&nbsp; 2 <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>
            ,&nbsp; <abbr title="fifteen fourths" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>4</sub></span></abbr>,&nbsp; 1 <abbr title="ten twentieths" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>20</sub></span></abbr>,&nbsp;
            <abbr title="nine thirds" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>3</sub></span></abbr>,&nbsp; <abbr title="nineteen sevenths" class="abbr-frac"><span class="frac"><sup>19</sup><span>&frasl;</span><sub>7</sub></span></abbr>,&nbsp;
            2 <abbr title="five sevenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>7</sub></span></abbr>,&nbsp; 3 <abbr title="four fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr></p>
          <p><strong>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</strong></p>
          <p>Ask students to share a fraction and the corresponding placement. Probe student thinking by asking:</p>
          <ul>
            <li>What strategies did you use to place the numbers?</li>
            <li>Which ones were easier to place? How did you place these?</li>
            <li>Which ones were more difficult to place? How did you place these?</li>
          </ul>
        </td>
        <td class="section-border-bottom-none section-border-top-none background-color-white">
          <p>You may wish to provide scaffolding support to some students through the use of some of the following questions:</p>
          <ul>
            <li>It would be helpful to place a scale on your number line first. What information can help you do this?</li>
            <li>You may wish to sort the fractions first. How would you sort them?</li>
          </ul>
        </td>
      </tr> <!-- End Third Row -->
      <!-- Fourth Row - Consolidate/Debrief -->
      <tr>
        <td>
          <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
        </td>
        <td>
          <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Anchor Chart for Ordering Fractions</p>
          <p>Lead generation of an anchor chart to summarize their understanding of ordering fractions. See next page for a sample.</p>
        </td>
        <td class="section-border-top-none"></td>
      </tr> <!-- End of Fourth Row -->
      <!-- Fifth Row - Further Consolidation -->
      <tr>
        <td></td>
        <td>
          <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>
        </td>
        <td></td>
      </tr> <!-- End Fifth Row -->
    </table>
  </section>

  <section class="row">
    <h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> Sample Anchor Chart</h4>
    <p>Things we learned about ordering fractions</p>
    <ul>
      <li>Placing fractions on a number line is one way to think about ordering the fractions. The smaller the fraction, the farther to the left of the number line it will be; the larger the fraction, the farther to the right it will be.</li>
      <li>We can use a benchmark to place a fraction. Benchmarks include <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> and 1 whole.</li>
      <li>When a fraction has the same numerator and denominator it is equivalent to one. <abbr title="For example">E.g.</abbr> , <abbr title="two halves" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>2</sub></span></abbr>
        = 1.</li>
      <li>As the numerator of a fraction gets closer to the denominator, the value of the fraction gets closer to the next whole number. <abbr title="For example">E.g.</abbr> , <abbr title="five sevenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>7</sub></span></abbr>
        is close to 1.</li>
      <li>Improper fractions are always greater than one. <abbr title="For example">E.g.</abbr> , <abbr title="nineteen fifths" class="abbr-frac"><span class="frac"><sup>19</sup><span>&frasl;</span><sub>5</sub></span></abbr> is greater than 1 and
        greater than 3.</li>
      <li>The greater the denominator the smaller the size of the parts of the whole are. <abbr title="For example">E.g.</abbr> , the pieces of <abbr title="fifteen twentieths" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>20</sub></span></abbr>
        are smaller than the pieces of <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>.</li>
      <li>There are a number of different ways to represent a value using fractions. <abbr title="For example">E.g.</abbr> , 1 <abbr title="ten twentieths" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>20</sub></span></abbr>
        = 1 <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> = <abbr title="three halves" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>2</sub></span></abbr>.</li>
      <li>When using a number line to order a set of fractions, you first have to scale your number line. To do that: decide what the smallest and largest fractions are; make sure that your number line captures these numbers without a lot of length
        to spare; tick off benchmarks; label 0, 1, and any other whole numbers needed.</li>
      <li>You don’t have to think about ordering the numbers in the sequence they are written in a list. It is strategic to order the easiest numbers first.</li>
    </ul>
  </section>
  <%- include partials/footer.ejs%>
