<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./compOrder">Comparing and Ordering Fractions (Gr 6)</a></li>
</ol>

<main class="container">
<h2>Comparing and Ordering Fractions – Ottawa-Carleton <abbr title="District School Board">DSB</abbr> <abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr> Lesson</h2>
<p>Grade 6</p>
<p><abbr title="Minds On">MO</abbr> 20 <abbr title="minutes">min</abbr></p>
<p><abbr title="Action">A</abbr> 30 <abbr title="minutes">min</abbr></p>
<p><abbr title="Consolidate Debrief">C/D</abbr> 10 <abbr title="minutes">min</abbr></p>
<p>60 <abbr title="minutes">min</abbr></p>

<h3>Learning Goals</h3>
<p>Students will:</p>
<ul>
    <li>develop flexibility in ordering fractions using a variety of considerations, including benchmarks.</li>
    <li>consider the role of the numerator and denominator, and the connection between the two when ordering fractions on a number line.</li>
    <li>explain and justify their reasoning about fractions.</li>
</ul>

<h3>Materials</h3>
<ul>
    <li><abbr title="one half">½</abbr> pieces of chart paper, 1 per pair</li>
    <li>markers</li>
</ul>


<h3>Minds On…</h3>
<h4>Pairs  Review Activity</h4>
<p>Ask students to place the fractions <abbr title="one half">½</abbr>, <abbr title="two thirds">2&frasl;3</abbr>, <abbr title="six sixths">6&frasl;6</abbr>, <abbr title="eight sixteenths">8&frasl;16</abbr>, <abbr title="one ninth">1&frasl;9</abbr> on a number line in their notebook that extends from 0 to 1.</p>

<h4>Whole Class  Preparation for Action!</h4>
<p>Post a class number line and ask individual students to place each of the five fractions appropriately. Highlight that each fraction represents a single numerical value and ask students to share their reasoning as they place each fraction in its place. Highlight common benchmarks that students refer to as they share their reasoning, such as <abbr title="one half">½</abbr> or <abbr title="three fourths">¾</abbr>. Also ensure that students realize that one point on the number line can be identified using multiple equivalent fractions.</p>


<h3>Action!</h3>
<h4>Pairs  Activity</h4>
<p>Provide each pair with a prepared number line which has unlabelled hash marks from 0 through 4. Ask them to place each of the fractions on the number line, and prepare to explain and justify their placements.</p>
<p><abbr title="one half">½</abbr>, <abbr title="fifteen twentieths">15/20</abbr>, <abbr title="ten thirds">10&frasl;3</abbr>, <abbr title="two halves">2&frasl;2</abbr>, 1 <abbr title="five sixths">5&frasl;6</abbr>, 2 <abbr title="one fourth">¼</abbr>
, <abbr title="fifteen fourths">15&frasl;4</abbr>, 1 <abbr title="ten twentieths">10&frasl;20</abbr>, <abbr title="nine thirds">9&frasl;3</abbr>, <abbr title="nineteen sevenths">19&frasl;7</abbr>, 2 <abbr title="five sevenths">5&frasl;7</abbr>, 3 <abbr title="four fifths">4/5</abbr></p>


<h4>Whole Group  Discussion</h4>
<p>Ask students to share a fraction and the corresponding placement. Probe student thinking by asking:</p>
<ul>
    <li>What strategies did you use to place the numbers?</li>
    <li>Which ones were easier to place? How did you place these?</li>
    <li>Which ones were more difficult to place? How did you place these?</li>
</ul>
<p>You may wish to provide scaffolding support to some students through the use of some of the following questions:</p>
<ul>
    <li>It would be helpful to place a scale on your number line first. What information can help you do this?</li>
    <li>You may wish to sort the fractions first. How would you sort them?</li>
</ul>

<h3>Consolidate Debrief</h3>
<h4>Whole Group  Anchor Chart for Ordering Fractions</h4>
Lead generation of an anchor chart to summarize their understanding of ordering fractions. See next page for a sample.



<h2><abbr title="Blackline Master">BLM</abbr> Sample Anchor Chart</h2>
<p>Things we learned about ordering fractions</p>
<ul>
    <li>Placing fractions on a number line is one way to think about ordering the fractions. The smaller the fraction, the farther to the left of the number line it will be; the larger the fraction, the farther to the right it will be.</li>
    <li>We can use a benchmark to place a fraction. Benchmarks include <abbr title="one half">½</abbr> and 1 whole.</li>
    <li>When a fraction has the same numerator and denominator it is equivalent to one. <abbr title="For example">E.g.</abbr>
, <abbr title="two halves">2&frasl;2</abbr>=1.</li>
    <li>As the numerator of a fraction gets closer to the denominator, the value of the fraction gets closer to the next whole number. <abbr title="For example">E.g.</abbr>
, <abbr title="five sevenths">5&frasl;7</abbr> is close to 1.</li>
    <li>Improper fractions are always greater than one. <abbr title="For example">E.g.</abbr>
, <abbr title="nineteen fifths">19/5</abbr> is greater than 1 and greater than 3.</li>
    <li>The greater the denominator the smaller the size of the parts of the whole are. <abbr title="For example">E.g.</abbr>
, the pieces of <abbr title="fifteen twentieths">15/20</abbr> are smaller than the pieces of <abbr title="one half">½</abbr>.</li>
    <li>There are a number of different ways to represent a value using fractions. <abbr title="For example">E.g.</abbr>
, 1 <abbr title="ten twentieths">10&frasl;20</abbr>=1 <abbr title="one half">½</abbr> = <abbr title="three halves">3&frasl;2</abbr>.</li>
    <li>When using a number line to order a set of fractions, you first have to scale your number line. To do that: decide what the smallest and largest fractions are; make sure that your number line captures these numbers without a lot of length to spare; tick off benchmarks; label 0, 1, and any other whole numbers needed.</li>
    <li>You don’t have to think about ordering the numbers in the sequence they are written in a list. It is strategic to order the easiest numbers first.</li>

<%- include partials/footer.ejs%>
