<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./comp">Comparing Fractions</a></li>
    <li><a href="./recipe">COMP A Recipe Task</a></li>
    <li><a href="./compARecipeBLM2">Recipe Task BLM2</a></li>
</ol>


<main class="container">
<h1>Double chocolate chip cookie Recipe</h1>

<!--add space between list items - no style-->
<ul>
<li><abbr title="three fourths">¾</abbr> cup of butter</li>
<li>1 <abbr title="one half">½</abbr> packed brown sugar</li>
<li>2 eggs</li>
<li>1 tsp vanilla</li>
<li><abbr title="three fourths">¾</abbr> cup of flour</li>
<li><abbr title="one half">½</abbr> cup cocoa</li>
<li>1 tsp baking soda</li>
<li>1 tsp of salt</li>
<li>2 <abbr title="one fourth">¼</abbr> cups of semi-sweet chocolate chips</li>
<p>Bake at 375 degree <abbr title="fahrenheit">f</abbr> for 10-12 minutes</p>
<p>Cream butter, sugar, eggs and vanilla until smooth. Mix in all dry ingredients, Drop by spoonful onto baking sheet.</p>
</ul>

<%- include partials/footer.ejs%>
