<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fraction Pathways Tasks</a></li>
    <li><a href="./comp">Comparing Fractions Tasks</a></li>
</ol>


<main class="container">
  <h1>Comparing Fractions Tasks</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="row">
<a href="./recipe">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail blue">
      <img src="/images/pathway/comp/recipe.png" alt="COMP A Recipe Task" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>COMP A </h2>
          <h3>Recipe Task</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./paperFold">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail blue">
      <img src="/images/pathway/comp/paperFolding.jpg" alt="COMP E Pretty Powerful Paper Folding" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>COMP E </h2>
          <h3>Pretty Powerful Paper Folding</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>
</div>



<%- include partials/footer.ejs%>
