<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Tasks</a></li>
    <li><a href="./comp">Comparing Fractions Tasks</a></li>
    <li><a href="./comparingFractionsTask">Comparing Fractions Task</a></li>
</ol>

<main class="container dot-lists pdf-page" role="main">

  <section class="row">
    <div class="col-sm-12 col-md-12">
      <h1>Comparing Fractions Task</h1>
    </div>
  </section>

  <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/Comparing_Fractions_Task.jpg" alt="Placeholder image"  class="img-responsive margin-auto" />
  </section>

  <section class="row">
    <h4>Description</h4>
    <p>This is a set of prompts consisting of purposefully paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding. These prompts are presented symbolically and without context. Encourage students to build models/representations and create contexts to support visualization of fractions, which in turn supports meaning-making.</p>
  
    <h4>Mathematics</h4>
    <p>Research shows that it is beneficial to spread fraction learning throughout the year and embed it in other strands. These prompts progress in complexity from comparisons of equivalent fractions, to examples that include same denominators, to comparisons of very close fractions with different numerators and denominators. Students are encouraged to develop a range of different strategies and to use them strategically, based on the situation.</p>
  </section>

  <section class="row">
    <h4>Curriculum Connections</h4>
    <p>Students will:</p>
    <ul>
      <li>represent, compare and order fractional amounts using a variety of tools</li>
    </ul>
  </section>

  <section class="row">
    <h4>Instructional sequence</h4>
    <ol>
      <li>Partner students and introduce the task. Post the selected prompt (select from options below) on the black/whiteboard or interactive whiteboard, or distribute on a handout.</li>
      <li>Provide students time to complete the task. Encourage them to use graph paper, rulers, and manipulatives (concrete or virtual, such as the tools at <a href="mathies.ca">mathies.ca</a>).</li>
      <li>Highlight different strategies by intentionally selecting students that solved the task in different ways. Have students identify the similarities and differences between the strategies.</li>
    </ol>
  </section>

  <section class="row promptBox">
    <h5>Prompt #1</h5>
    <p>Which is greater: <abbr title="Eight Sevenths"><sup>8</sup>/<sub>7</sub></abbr> or <abbr title="Nine Eighths"><sup>9</sup>/<sub>8</sub></abbr>? Show your thinking.</p>
    <h5>Prompt #2</h5>
    <p>Which is closer to <abbr title="One One-half">1 <sup>1</sup>/<sub>2</sub></abbr>: <abbr title="Twenty Eight Nineteenths"><sup>28</sup>/<sub>19</sub></abbr> or <abbr title="Twenty six Sixteenths"><sup>26</sup>/<sub>16</sub></abbr>?</p>
    <h5>Prompt #3</h5>
    <p>Which of these fractions is closer to <abbr title="One Quarter"><sup>1</sup>/<sub>4</sub></abbr>: <abbr tittle="Five Sixteenths"><sup>5</sup>/<sub>16</sub></abbr> or <abbr title="Three Eighths"><sup>3</sup>/<sub>8</sub></abbr>?</p>
    <h5>Prompt #4</h5>
    <p>Which of these fractions is closer to <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr>: <abbr title="Five Ninths"><sup>5</sup>/<sub>9</sub></abbr> or <abbr title="Seven Twelfths"><sup>7</sup>/<sub>12</sub></abbr>?</p>
    <h5>Prompt #5</h5>
    <p>Which is greater: <abbr title="Two Fifths"><sup>2</sup>/<sub>5</sub></abbr> or <abbr title="Five Sevenths"><sup>5</sup>/<sub>7</sub></abbr>?</p>
    <h5>Prompt #6</h5>
    <p>If you are familiar with and Imperial tape measure, you will recognize there fractions. Place them in order on a number line. What pattern(s) do you notice?</p>
    <p><abbr tittle="Three Quarters"><sup>3</sup>/<sub>4</sub></abbr>, <abbr title="Three Eighths"><sup>3</sup>/<sub>8</sub></abbr>, <abbr title="One Half"><sup>1</sup>/<sub>2</sub></abbr>, <abbr title="Nine Sixteenths"><sup>9</sup>/<sub>16</sub></abbr>, <abbr title="One Quarter"><sup>1</sup>/<sub>4</sub></abbr>, <abbr title="One Eighth"><sup>1</sup>/<sub>8</sub></abbr>, <abbr title="thriteen Sixteenths"><sup>13</sup>/<sub>16</sub></abbr>, <abbr title="Five Eighths"><sup>5</sup>/<sub>8</sub></abbr>, <abbr title="Seven Eighths"><sup>7</sup>/<sub>8</sub></abbr>, <abbr title="Five Sixteenths"><sup>5</sup>/<sub>16</sub></abbr>, <abbr title="One Sixteenths"><sup>1</sup>/<sub>16</sub></abbr>, 1</p>
    <h5>Prompt #7</h5>
    <p>Represent the fractions <abbr title="Seven Fifths"><sup>7</sup>/<sub>5</sub></abbr> and <abbr title="Five Thirds"><sup>5</sup>/<sub>3</sub></abbr> using set, area and number line models. Use each to compare the two fractions. What is important to remember when making comparisons using each model?</p>
  </section>

  <section class="row">
    <div class="col-sm-6 col-md-6 no-padding-left">
      <h4>Highlights of student thinking</h4>
      <p>Students may:</p>
      <ul>
        <li>construct accurate models to compare two or more fractions</li>
        <li>rely on the algorithm for determining equivalent fractions</li>
        <li>consider only the numerators or only the denominators</li>
        <li>use benchmarks to make estimates for comparison</li>
        <li>consider the size of the unit fractions (as indicated by the denominators)</li>
        <li>consider the proximity of the fraction to 1 by identifying the ‘missing piece’ (complement)</li>
        <li>be strategic about the strategy for comparison based on the fractions given</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6">
      <h4>Key questions</h4>
      <ol>
        <li>Did you think of contexts to help you visualize the fractions? How did this help you?</li>
        <li>Share how you visualized the fractions.</li>
        <li>How did your representation help you to compare the fractions?</li>
        <li>What strategy did you find most helpful? Why?</li>
        <li>What manipulatives can you use to help you?</li>
      </ol>
    </div>
  </section>

  <section class="row">
    <h4>Materials</h4>
    <p>Make tools available such as paper and markers, grid paper, paper strips for folding, and/or manipulatives such as relational rods.</p>
  </section>

  <!-- <section class="row">
    <a href="./comparingFractionsTaskTeacherNotes" style="color: #724199; border-bottom: 2px solid #724199; text-decoration: none;">Teacher Notes</a>
  </section> -->
  <section class="row">
    <div class="panel-group">
      <div class="panel panel-default">
        <!-- First Acordeon -->
        <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse1"><h4>Implementation</h4></a>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <h2>Comparing Fractions (Comp E) Teacher Notes: Anticipating Student Responses</h2>
            
            <p>These prompts can be used flexibly depending on student readiness, for example, as assessment for learning, activating prior knowledge, learning tasks or assessment of learning. These prompts are presented symbolically and without context in order to allow students to build models/representations and create contexts to support visualization of the meaning of the fractions. The prompts are increasingly complex and consist of purposely-paired fractions to encourage the use of various strategies.</p>
            
            <section>
              <h5><strong>Prompt #1</strong></h5>
              <p>Which is greater: <abbr title="Eight Sevenths"><sup>8</sup>/<sub>7</sub></abbr> or <abbr title="Nine Eighths"><sup>9</sup>/<sub>8</sub></abbr>? Show your thinking.</p>
              <p><u>Teacher Notes:</u></p>
              <p>Students should recognize immediately that these are improper fractions and so are both greater than 1. Students may use unit fraction knowledge to compare the size of the fractional amount by which each fraction exceeds the whole. They should recognize that one seventh is greater than one eighth, so eight sevenths is a greater quantity. This reinforces the role of the denominator and the understanding that as the digit in the denominator increases, the size of the unit decreases.</p>
              <p>Students may also use the algorithm to determine a common denominator (common fractional unit). This would lead them to compare <abbr title="Sixth Four Fifty-Sixths"><sup>64</sup>/<sub>56</sub></abbr> and <abbr title="Sixty Three Fifty-Sixths"><sup>63</sup>/<sub>56</sub></abbr>, allowing them to recognize that eight sevenths is greater.</p>
            </section>
            
            <section>
              <h5><strong>Prompt #2</strong></h5>
              <p>Which is closer to <abbr title="One one-half">1 <sup>1</sup>/<sub>2</sub></abbr>: <abbr title="Twenty-Eight Nineteenths"><sup>28</sup>/<sub>19</sub></abbr> or <abbr title="Twenty Six Sixteenths"><sup>26</sup>/<sub>16</sub></abbr>?</p>
              <p><u>Teacher Notes:</u></p>
              <p>Asking students to compare fractions to a specific benchmark builds their understanding of strategic benchmarks beyond the familiar ones of one half and one fourth. The fractions in this task are greater than one, supporting students in recognizing that fractions can represent quantities beyond one.</p>
              <p>Although we often instruct students to determine a common fractional unit (denominator), students can use proportional reasoning to determine half of the fractional units (denominators). They may recognize this as either <abbr title=""><sup>9.5</sup>/<sub>19</sub></abbr> or <abbr title="Nine and One half Nineteenths"><sup>9 <sup>1</sup>/<sub>2</sub></sup>/<sub>19</sub></abbr>. Students should then be able to identify that <abbr title="Nineteen Nineteenths"><sup>19</sup>/<sub>19</sub></abbr> + <abbr title=""><sup>9.5</sup>/<sub>19</sub></abbr> = <abbr title=""><sup>28.5</sup>/<sub>19</sub></abbr>, so <abbr title="Twenty-eigth Nineteenths"><sup>28</sup>/<sub>19</sub></abbr> is just slightly less than <abbr title="One and One Half">1 <sup>1</sup>/<sub>2</sub></abbr>.</p>
              <p>Students will similarly reason that <abbr title="Sixteen Sixteenths"><sup>16</sup>/<sub>16</sub></abbr> + <abbr title="Eight Sixteenths"><sup>8</sup>/<sub>16</sub></abbr> = <abbr title="Twenty-four Sixteenths"><sup>24</sup>/<sub>16</sub></abbr> and that <abbr title="Twenty-six Sixteenths"><sup>26</sup>/<sub>16</sub></abbr> is <abbr title="Two Sixteenths"><sup>2</sup>/<sub>16</sub></abbr> more than <abbr title="One and One Half">1 <sup>1</sup>/<sub>2</sub></abbr>.</p>
              <p>They will then need to compare <abbr title="Half Nineteenths"><sup>0.5</sup>/<sub>19</sub></abbr> and <abbr title="Two Sixteenths"><sup>2</sup>/<sub>16</sub></abbr>. They may rewrite <abbr title="Half Nineteenths"><sup>0.5</sup>/<sub>19</sub></abbr> as <abbr title="One Thirty-Eighth"><sup>1</sup>/<sub>38</sub></abbr> and <abbr title="Two Sixteenths"><sup>2</sup>/<sub>16</sub></abbr> as <abbr title="One Eighth"><sup>1</sup>/<sub>8</sub></abbr> and recognize that <abbr title="One Eighth"><sup>1</sup>/<sub>8</sub></abbr> > <abbr title="One Thirty-Eighth"><sup>1</sup>/<sub>38</sub></abbr> so <abbr title="Twenty-eigth Nineteenths"><sup>28</sup>/<sub>19</sub></abbr> is closer to <abbr title="One and One Half">1 <sup>1</sup>/<sub>2</sub></abbr>.</p>
              <p><strong>Note:</strong> <abbr title=""><sup>9.5</sup>/<sub>19</sub></abbr> and <abbr title="Nine and One half Nineteenths"><sup>9 <sup>1</sup>/<sub>2</sub></sup>/<sub>19</sub></abbr> are complex fractions (as compared to simple fractions) and are mathematically correct. Although final answers are usually further simplified, these are entirely appropriate for reasoning through this task.</p>
              <p>Stacked number lines would also be a useful strategy for this task. Accuracy is fairly important as the fractions are close in value so graph paper would be helpful. They may draw vertical line to mark the one and one-half mark on all three lines.</p>
              <figure>
                <img src="/images/teacherNotes/comparingFractions-prompt2.jpg" alt="28 / 19 is closer to 1 1 / 2" width="100%">
              </figure>
              <p>Looking at the stacked number lines, it is clear that <abbr title="Twenty-eigth Nineteenths"><sup>28</sup>/<sub>19</sub></abbr> is closer to <abbr title="One and One Half">1 <sup>1</sup>/<sub>2</sub></abbr>.</p>
              <p>Students may choose to only focus on the fractional quantities beyond one so may create stacked number lines comparing <abbr title="One Half">1/2</abbr>, <abbr title="Nine Nineteenths"><sup>9</sup>/<sub>19</sub></abbr> and <abbr title="Ten sixteenths"><sup>10</sup>/<sub>16</sub></abbr>.</p>
            </section>
            
            <section>
              <h5><strong>Prompt #3</strong></h5>
              <p>Which of these fractions is closer to <abbr title="One Quarter"><sup>1</sup>/<sub>4</sub></abbr>: <abbr title="Five Sixteenths"><sup>5</sup>/<sub>16</sub></abbr> or <abbr title="Three Eighths"><sup>3</sup>/<sub>8</sub></abbr>?</p>
              <p><u>Teacher Notes:</u></p>
              <p>Students could use the Fraction Strips learning tool at mathies.ca to compare the two fractions to one fourth.</p>
              <figure>
                <img src="/images/teacherNotes/comparingFractions-prompt3.jpg" alt="Fraction Strips learning tool at mathies.ca" width="100%">
              </figure>
              <p>Alternatively, they could convert all the fractions to a common denominator (common fractional unit) for comparison. Note that students could convert all the fractions to fourths, generating <abbr title="Five Sixteenths"><sup>5</sup>/<sub>16</sub></abbr> = <abbr title=""><sup>1.25</sup>/<sub>4</sub></abbr> and <abbr title="Three Eighths"><sup>3</sup>/<sub>8</sub></abbr> = <abbr title=""><sup>1.5</sup>/<sub>4</sub></abbr> in order to identify <abbr title="Five Sixteenths"><sup>5</sup>/<sub>16</sub></abbr> as the closer fraction.</p>
              <p>Most likely, students will convert the fractions to sixteenths to arrive at the same conclusion.</p>
            </section>
            
            <section>
              <h5><strong>Prompt #4</strong></h5>
              <p>Which of these fractions is closer to <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr>: <abbr title="Five Ninths"><sup>5</sup>/<sub>9</sub></abbr> or <abbr title="Seven Twelfths"><sup>7</sup>/<sub>12</sub></abbr>?</p>
              <p><u>Teacher Notes:</u></p>
              <p>For this question, students may realize that each fraction is slightly less than <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr> as <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr> = <abbr title="Six Ninths"><sup>6</sup>/<sub>9</sub></abbr> = <abbr title="Eight Twelfths"><sup>8</sup>/<sub>12</sub></abbr>. They can then compare the distance of each from <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr>, which is <abbr title="One Ninth"><sup>1</sup>/<sub>9</sub></abbr> and <abbr title="One Twelfth"><sup>1</sup>/<sub>12</sub></abbr>, and determine that <abbr title="Seven Twelfths"><sup>7</sup>/<sub>12</sub></abbr> is closer, since one twelfth is a smaller unit than one ninth.</p>
            </section>
            
            <section>
              <h5><strong>Prompt #5</strong></h5>
              <p>Which is greater: <abbr title="Two Fifths"><sup>2</sup>/<sub>5</sub></abbr> or <abrr title="Five Sevenths"><sup>5</sup>/<sub>7</sub></abrr>?</p>
              <p><u>Teacher Notes:</u></p>
              <p>Using a benchmark is a great strategy for comparing this pair of fractions. Since  <abbr title="One Half"><sup>1</sup>/<sub>2</sub></abbr> = <abbr title=""><sup>2.5</sup>/<sub>5</sub></abbr> = <abbr title=""><sup>3.5</sup>/<sub>7</sub></abbr>, it is easy to see that five sevenths is greater than one half while two fifths is less than one half.</p>
              <p>If a student selected one (one whole) as the benchmark, they may consider the complements (<abbr title="Three Fifths"><sup>3</sup>/<sub>5</sub></abbr> and <abbr title="Two Sevenths"><sup>2</sup>/<sub>7</sub></abbr>) and recognize that two sevenths is closer to 0 (or a smaller unit) so five sevenths is closer to one.</p>
            </section>
            
            <section>
              <h5><strong>Prompt #6</strong></h5>
              <p>If you are familiar with an Imperial tape measure, you will recognize these fractions. Place them in order on a number line. What pattern(s) do you notice?</p>
              <p><abbr tittle="Three Quarters"><sup>3</sup>/<sub>4</sub></abbr>, <abbr title="Three Eighths"><sup>3</sup>/<sub>8</sub></abbr>, <abbr title="One Half"><sup>1</sup>/<sub>2</sub></abbr>, <abbr title="Nine Sixteenths"><sup>9</sup>/<sub>16</sub></abbr>, <abbr title="One Quarter"><sup>1</sup>/<sub>4</sub></abbr>, <abbr title="One Eighth"><sup>1</sup>/<sub>8</sub></abbr>, <abbr title="thriteen Sixteenths"><sup>13</sup>/<sub>16</sub></abbr>, <abbr title="Five Eighths"><sup>5</sup>/<sub>8</sub></abbr>, <abbr title="Seven Eighths"><sup>7</sup>/<sub>8</sub></abbr>, <abbr title="Five Sixteenths"><sup>5</sup>/<sub>16</sub></abbr>, <abbr title="One Sixteenths"><sup>1</sup>/<sub>16</sub></abbr>, 1</p>
              <p><u>Teacher Notes:</u></p>
              <p>Students should be encouraged to use a variety of strategies to place the fractions in the correct order.</p>
              <p>They may select the common benchmarks to place first.</p>
              <figure>
                <img src="/images/teacherNotes/comparingFractions-prompt6-1.jpg" alt="common benchmarks to place first" width="100%">
              </figure>
              <p>They may continue to place the unit fractions by partitioning eighths then sixteenths.</p>
              <figure>
                <img src="/images/teacherNotes/comparingFractions-prompt6-2.jpg" alt="place the unit fractions by partitioning eighths then sixteenths" width="100%">
              </figure>
              <p>They can then place the remainder of the fractions by comparing them to the benchmarks or by counting the unit fraction partitions.</p>
              <figure>
                <img src="/images/teacherNotes/comparingFractions-prompt6-3.jpg" alt="place the remainder of the fractions" width="100%">
              </figure>
              <p>Students might notice that, once the fractions are in order on the number line, the fractional units generally follow a pattern as follows: sixteenths, eighths, common benchmark, sixteenths, eighths, common benchmark, etc. This can lead to a discussion of equivalent fractions for these friendly but different denominators.</p>
            </section>
            
            <section class="padding-bottom">
              <h5><strong>Prompt #7</strong></h5>
              <p>Represent the fractions <abbr title="Seven Fifths"><sup>7</sup>/<sub>5</sub></abbr> and <abbr title="Five Thirds"><sup>5</sup>/<sub>3</sub></abbr> using set, area and number line models. Use each to compare the two fractions. What is important to remember when making comparisons using each model?</p>
              <p><u>Teacher Notes:</u></p>
              <p>Students could access the Set learning tool at mathies.ca to create some of their models, as shown below for the set and area models.</p>
              <p>Set Model</p>
              <figure>
                <img src="/images/teacherNotes/comparingFractions-prompt7-1.jpg" alt="Set Model" width="100%">
              </figure>
              <p>“When I look at the set model, I see that each fraction represented has two more pieces than a whole. Since there are only three pieces in the whole for five thirds, each piece has more value than the pieces that make seven fifths, so five thirds is greater.”</p>
              <p>Area Model</p>
              <figure>
                <img src="/images/teacherNotes/comparingFractions-prompt7-2.jpg" alt="Area Model" width="100%">
              </figure>
              <p>“This is much easier to compare the two fractions. I can see that five thirds covers more area than seven fifths.”</p>
              <p>Number Line Model</p>
              <figure>
                <img src="/images/teacherNotes/comparingFractions-prompt7-3.jpg" alt="Number Line Model" width="100%">
              </figure>
              <p>“The number line model is like the area model since it is easy to see that five thirds is further along (greater) than seven fifths.”</p>
              <p>Student responses should indicate an understanding of some of the following criteria for comparison using models:</p>
              <ul>
                <li>For number line and area models, the wholes need to be the same size;</li>
                <li>Equal partitions are important for area and number line models;</li>
                <li>When comparing set models you have to use proportional reasoning;</li>
                <li>Stacking number lines and/or area models can make comparisons of close quantities easier.</li>
              </ul>
            </section>

            <section>
              <p>To download a copy of the Comparing Fractions (Comp E) Teacher Notes: Anticipating Student Responses .pdf, click <a href="/pdf/P8_Comp_E_Fractions_Prompts_Teacher_Notes.pdf" target="_blank" rel="PDF File">here</a>.</p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include partials/footer.ejs%>