<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./comp">Comparing Fractions</a></li>
    <li><a href="./recipe">COMP A Recipe Task</a></li>
    <li><a href="./compARecipeBLM1">Recipe Task BLM</a></li>
</ol>



<main class="container">
<h1>Double Chocolate Chip Cookie Recipe</h1>
<p>You want to bake these chocolate chip cookies but you only have a <abbr title="one fourth">¼</abbr> measuring cup. How can you use your measuring cup to measure out all of the ingredients accurately?</p>

<!--add space between list items - no style-->
<ul>
<li><abbr title="three fourths">¾</abbr> cup of butter</li>
<li>1 <abbr title="one half">½</abbr> packed brown sugar</li>
<li><abbr title="three fourths">¾</abbr> cup of flour</li>
<li><abbr title="one half">½</abbr> cup cocoa</li>
<li>2 <abbr title="one fourth">¼</abbr> cups of semi-sweet chocolate chips</li>
</ul>

<%- include partials/footer.ejs%>
