<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./comp">Comparing Fractions Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Comparing Fractions Task</li>
</ol>

<main>
    
  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-blue"></div>
        <div id="rectangle" class="display-flex rectangle-blue"><p>Comparing E</p></div>
        <div id="triangle-topleft" class="triangle-topleft-blue"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Compare fractions with unlike numerators and unlike denominators using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->
  
  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row">
      <div class="col-sm-12 col-md-12">
        <h1>Comparing Fractions Task</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
        <img src="/images/tasks/comparingFractionsTask/Comparing_Fractions_Task.jpg" alt="Placeholder image"  class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>This is a set of prompts consisting of purposefully paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding. These prompts are presented symbolically and without context. Encourage students to build models/representations and create contexts to support visualization of fractions, which in turn supports meaning-making.</p>
    
      <h4>Mathematics</h4>
      <p>Research shows that it is beneficial to spread fraction learning throughout the year and embed it in other strands. These prompts progress in complexity from comparisons of equivalent fractions, to examples that include same denominators, to comparisons of very close fractions with different numerators and denominators. Students are encouraged to develop a range of different strategies and to use them strategically, based on the situation.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>represent, compare and order fractional amounts using a variety of tools</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Partner students and introduce the task. Post the selected prompt (select from options below) on the black/whiteboard or interactive whiteboard, or distribute on a handout.</li>
        <li>Provide students time to complete the task. Encourage them to use graph paper, rulers, and manipulatives (concrete or virtual, such as the tools at <a href="mathies.ca">mathies.ca</a>).</li>
        <li>Highlight different strategies that students used by intentionally selecting students that solved the problem using different strategies.</li>
      </ol>
    </section>

    <section class="row promptBox">
      <h5>Prompt #1</h5>
      <p>Which is greater: <abbr title="Eight Sevenths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>7</sub></span></abbr> or <abbr title="Nine Eighths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>8</sub></span></abbr>? Show your thinking.</p>
      <h5>Prompt #2</h5>
      <p>Which is closer to <abbr title="One One-half" class="abbr-frac">1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>: <abbr title="Twenty Eight Nineteenths" class="abbr-frac"><span class="frac"><sup>28</sup><span>&frasl;</span><sub>19</sub></span></abbr> or <abbr title="Twenty six Sixteenths" class="abbr-frac"><span class="frac"><sup>26</sup><span>&frasl;</span><sub>16</sub></span></abbr>?</p>
      <h5>Prompt #3</h5>
      <p>Which of these fractions is closer to <abbr title="One Quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> : <abbr tittle="Five Sixteenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>16</sub></span></abbr> or <abbr title="Three Eighths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>?</p>
      <h5>Prompt #4</h5>
      <p>Which of these fractions is closer to <abbr title="Two Thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> : <abbr title="Five Ninths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>9</sub></span></abbr> or <abbr title="Seven Twelfths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>12</sub></span></abbr>?</p>
      <h5>Prompt #5</h5>
      <p>Which is greater: <abbr title="Two Fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> or <abbr title="Five Sevenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>7</sub></span></abbr>?</p>
      <h5>Prompt #6</h5>
      <p>If you are familiar with and Imperial tape measure, you will recognize there fractions. Place them in order on a number line. What pattern(s) do you notice?</p>
      <p><abbr tittle="Three Quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="Three Eighths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="Nine Sixteenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>16</sub></span></abbr>, <abbr title="One Quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="One Eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="thriteen Sixteenths" class="abbr-frac"><span class="frac"><sup>13</sup><span>&frasl;</span><sub>16</sub></span></abbr>, <abbr title="Five Eighths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="Seven Eighths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="Five Sixteenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>16</sub></span></abbr>, <abbr title="One Sixteenths" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>16</sub></span></abbr>, 1</p>
      <h5>Prompt #7</h5>
      <p>Represent the fractions <abbr title="Seven Fifths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>5</sub></span></abbr> and <abbr title="Five Thirds" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>3</sub></span></abbr> using set, area and number line models. Use each to compare the two fractions. What is important to remember when making comparisons using each model?</p>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>construct accurate models to compare two or more fractions</li>
          <li>rely on the algorithm for determining equivalent fractions</li>
          <li>consider only the numerators or only the denominators</li>
          <li>use benchmarks to make estimates for comparison</li>
          <li>consider the size of the unit fractions (as indicated by the denominators)</li>
          <li>consider the proximity of the fraction to 1 by identifying the ‘missing piece’ (complement)</li>
          <li>be strategic about the strategy for comparison based on the fractions given</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>Did you think of contexts to help you visualize the fractions? How did this help you?</li>
          <li>Share how you visualized the fractions.</li>
          <li>How did your representation help you to compare the fractions?</li>
          <li>What strategy did you find most helpful? Why?</li>
          <li>What manipulatives can you use to help you?</li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <p>Make tools available such as paper and markers, grid paper, paper strips for folding, and/or manipulatives such as relational rods.</p>
    </section>

    <!-- <section class="row">
      <a href="./comparingFractionsTaskTeacherNotes" style="color: #724199; border-bottom: 2px solid #724199; text-decoration: none;">Teacher Notes</a>
    </section> -->

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">
        
          <h2>Comparing Fractions (Comp E) Teacher Notes: Anticipating Student Responses</h2>
          
          <p>These prompts can be used flexibly depending on student readiness, for example, as assessment for learning, activating prior knowledge, learning tasks or assessment of learning. These prompts are presented symbolically and without context in order to allow students to build models/representations and create contexts to support visualization of the meaning of the fractions. The prompts are increasingly complex and consist of purposely-paired fractions to encourage the use of various strategies.</p>
            
          <section>
            <h5><strong>Prompt #1</strong></h5>
            <p>Which is greater: <abbr title="Eight Sevenths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>7</sub></span></abbr> or <abbr title="Nine Eighths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>8</sub></span></abbr>? Show your thinking.</p>
            <p><u>Teacher Notes:</u></p>
            <p>Students should recognize immediately that these are improper fractions and so are both greater than 1. Students may use unit fraction knowledge to compare the size of the fractional amount by which each fraction exceeds the whole. They should recognize that one seventh is greater than one eighth, so eight sevenths is a greater quantity. This reinforces the role of the denominator and the understanding that as the digit in the denominator increases, the size of the unit decreases.</p>
            <p>Students may also use the algorithm to determine a common denominator (common fractional unit). This would lead them to compare <abbr title="Sixth Four Fifty-Sixths" class="abbr-frac"><span class="frac"><sup>64</sup><span>&frasl;</span><sub>56</sub></span></abbr> and <abbr title="Sixty Three Fifty-Sixths" class="abbr-frac"><span class="frac"><sup>63</sup><span>&frasl;</span><sub>56</sub></span></abbr>, allowing them to recognize that eight sevenths is greater.</p>
          </section>
            
          <section>
            <h5><strong>Prompt #2</strong></h5>
            <p>Which is closer to <abbr title="One one-half" class="abbr-frac">1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> : <abbr title="Twenty-Eight Nineteenths" class="abbr-frac"><span class="frac"><sup>28</sup><span>&frasl;</span><sub>19</sub></span></abbr> or <abbr title="Twenty Six Sixteenths" class="abbr-frac"><span class="frac"><sup>26</sup><span>&frasl;</span><sub>16</sub></span></abbr>?</p>
            <p><u>Teacher Notes:</u></p>
            <p>Asking students to compare fractions to a specific benchmark builds their understanding of strategic benchmarks beyond the familiar ones of one half and one fourth. The fractions in this task are greater than one, supporting students in recognizing that fractions can represent quantities beyond one.</p>
            <p>Although we often instruct students to determine a common fractional unit (denominator), students can use proportional reasoning to determine half of the fractional units (denominators). They may recognize this as either <abbr title="" class="abbr-frac"><span class="frac"><sup>9.5</sup><span>&frasl;</span><sub>19</sub></span></abbr> or <abbr title="Nine and One half Nineteenths" class="abbr-frac-comp"><span class="frac"><sup>9 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></sup><span>&frasl;</span><sub>19</sub></span></abbr>. Students should then be able to identify that <abbr title="Nineteen Nineteenths" class="abbr-frac"><span class="frac"><sup>19</sup><span>&frasl;</span><sub>19</sub></span></abbr> + <abbr title="" class="abbr-frac"><span class="frac"><sup>9.5</sup><span>&frasl;</span><sub>19</sub></span></abbr> = <abbr title="" class="abbr-frac"><span class="frac"><sup>28.5</sup><span>&frasl;</span><sub>19</sub></span></abbr>, so <abbr title="Twenty-eigth Nineteenths" class="abbr-frac"><span class="frac"><sup>28</sup><span>&frasl;</span><sub>19</sub></span></abbr> is just slightly less than <abbr title="One and One Half" class="abbr-frac">1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>.</p>
            <p>Students will similarly reason that <abbr title="Sixteen Sixteenths" class="abbr-frac"><span class="frac"><sup>16</sup><span>&frasl;</span><sub>16</sub></span></abbr> + <abbr title="Eight Sixteenths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>16</sub></span></abbr> = <abbr title="Twenty-four Sixteenths" class="abbr-frac"><span class="frac"><sup>24</sup><span>&frasl;</span><sub>16</sub></span></abbr> and that <abbr title="Twenty-six Sixteenths" class="abbr-frac"><span class="frac"><sup>26</sup><span>&frasl;</span><sub>16</sub></span></abbr> is <abbr title="Two Sixteenths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>16</sub></span></abbr> more than <abbr title="One and One Half" class="abbr-frac">1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>.</p>
            <p>They will then need to compare <abbr title="Half Nineteenths" class="abbr-frac"><span class="frac"><sup>0.5</sup><span>&frasl;</span><sub>19</sub></span></abbr> and <abbr title="Two Sixteenths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>16</sub></span></abbr>. They may rewrite <abbr title="Half Nineteenths" class="abbr-frac"><span class="frac"><sup>0.5</sup><span>&frasl;</span><sub>19</sub></span></abbr> as <abbr title="One Thirty-Eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>38</sub></span></abbr> and <abbr title="Two Sixteenths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>16</sub></span></abbr> as <abbr title="One Eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr> and recognize that <abbr title="One Eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr> > <abbr title="One Thirty-Eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>38</sub></span></abbr> so <abbr title="Twenty-eigth Nineteenths" class="abbr-frac"><span class="frac"><sup>28</sup><span>&frasl;</span><sub>19</sub></span></abbr> is closer to <abbr title="One and One Half" class="abbr-frac">1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>.</p>
            <p><strong>Note:</strong> <abbr title="" class="abbr-frac"><span class="frac"><sup>9.5</sup><span>&frasl;</span><sub>19</sub></span></abbr> and <abbr title="Nine and One half Nineteenths" class="abbr-frac-comp"><span class="frac"><sup>9 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></sup><span>&frasl;</span><sub>19</sub></span></abbr> are complex fractions (as compared to simple fractions) and are mathematically correct. Although final answers are usually further simplified, these are entirely appropriate for reasoning through this task.</p>
            <p>Stacked number lines would also be a useful strategy for this task. Accuracy is fairly important as the fractions are close in value so graph paper would be helpful. They may draw vertical line to mark the one and one-half mark on all three lines.</p>
            <figure>
              <img src="/images/teacherNotes/comparingFractions-prompt2.jpg" alt="28 / 19 is closer to 1 1 / 2" class="img-responsive margin-auto">
            </figure>
            <p>Looking at the stacked number lines, it is clear that <abbr title="Twenty-eigth Nineteenths" class="abbr-frac"><span class="frac"><sup>28</sup><span>&frasl;</span><sub>19</sub></span></abbr> is closer to <abbr title="One and One Half" class="abbr-frac">1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>.</p>
            <p>Students may choose to only focus on the fractional quantities beyond one so may create stacked number lines comparing <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="Nine Nineteenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>19</sub></span></abbr> and <abbr title="Ten sixteenths" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>16</sub></span></abbr>.</p>
          </section>
            
          <section>
            <h5><strong>Prompt #3</strong></h5>
            <p>Which of these fractions is closer to <abbr title="One Quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> : <abbr title="Five Sixteenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>16</sub></span></abbr> or <abbr title="Three Eighths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>?</p>
            <p><u>Teacher Notes:</u></p>
            <p>Students could use the Fraction Strips learning tool at mathies.ca to compare the two fractions to one fourth.</p>
            <figure>
              <img src="/images/teacherNotes/comparingFractions-prompt3.jpg" alt="Fraction Strips learning tool at mathies.ca" class="img-responsive margin-auto">
            </figure>
            <p>Alternatively, they could convert all the fractions to a common denominator (common fractional unit) for comparison. Note that students could convert all the fractions to fourths, generating <abbr title="Five Sixteenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>16</sub></span></abbr> = <abbr title="" class="abbr-frac"><span class="frac"><sup>1.25</sup><span>&frasl;</span><sub>4</sub></span></abbr> and <abbr title="Three Eighths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> = <abbr title="" class="abbr-frac"><span class="frac"><sup>1.5</sup><span>&frasl;</span><sub>4</sub></span></abbr> in order to identify <abbr title="Five Sixteenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>16</sub></span></abbr> as the closer fraction.</p>
            <p>Most likely, students will convert the fractions to sixteenths to arrive at the same conclusion.</p>
          </section>
            
          <section>
            <h5><strong>Prompt #4</strong></h5>
            <p>Which of these fractions is closer to <abbr title="Two Thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> : <abbr title="Five Ninths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>9</sub></span></abbr> or <abbr title="Seven Twelfths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>12</sub></span></abbr>?</p>
            <p><u>Teacher Notes:</u></p>
            <p>For this question, students may realize that each fraction is slightly less than <abbr title="Two Thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> as <abbr title="Two Thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> = <abbr title="Six Ninths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>9</sub></span></abbr> = <abbr title="Eight Twelfths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>12</sub></span></abbr>. They can then compare the distance of each from <abbr title="Two Thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>, which is <abbr title="One Ninth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>9</sub></span></abbr> and <abbr title="One Twelfth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>12</sub></span></abbr>, and determine that <abbr title="Seven Twelfths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>12</sub></span></abbr> is closer, since one twelfth is a smaller unit than one ninth.</p>
          </section>
            
          <section>
            <h5><strong>Prompt #5</strong></h5>
            <p>Which is greater: <abbr title="Two Fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> or <abrr title="Five Sevenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>7</sub></span></abrr>?</p>
            <p><u>Teacher Notes:</u></p>
            <p>Using a benchmark is a great strategy for comparing this pair of fractions. Since  <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> = <abbr title="" class="abbr-frac"><span class="frac"><sup>2.5</sup><span>&frasl;</span><sub>5</sub></span></abbr> = <abbr title="" class="abbr-frac"><span class="frac"><sup>3.5</sup><span>&frasl;</span><sub>7</sub></span></abbr>, it is easy to see that five sevenths is greater than one half while two fifths is less than one half.</p>
            <p>If a student selected one (one whole) as the benchmark, they may consider the complements (<abbr title="Three Fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> and <abbr title="Two Sevenths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span></abbr>) and recognize that two sevenths is closer to 0 (or a smaller unit) so five sevenths is closer to one.</p>
          </section>
            
          <section>
            <h5><strong>Prompt #6</strong></h5>
            <p>If you are familiar with an Imperial tape measure, you will recognize these fractions. Place them in order on a number line. What pattern(s) do you notice?</p>
            <p><abbr tittle="Three Quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="Three Eighths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="Nine Sixteenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>16</sub></span></abbr>, <abbr title="One Quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="One Eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="thriteen Sixteenths" class="abbr-frac"><span class="frac"><sup>13</sup><span>&frasl;</span><sub>16</sub></span></abbr>, <abbr title="Five Eighths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="Seven Eighths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="Five Sixteenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>16</sub></span></abbr>, <abbr title="One Sixteenths" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>16</sub></span></abbr>, 1</p>
            <p><u>Teacher Notes:</u></p>
            <p>Students should be encouraged to use a variety of strategies to place the fractions in the correct order.</p>
            <p>They may select the common benchmarks to place first.</p>
            <figure>
              <img src="/images/teacherNotes/comparingFractions-prompt6-1.jpg" alt="common benchmarks to place first" class="img-responsive margin-auto">
            </figure>
            <p>They may continue to place the unit fractions by partitioning eighths then sixteenths.</p>
            <figure>
              <img src="/images/teacherNotes/comparingFractions-prompt6-2.jpg" alt="place the unit fractions by partitioning eighths then sixteenths" class="img-responsive margin-auto">
            </figure>
            <p>They can then place the remainder of the fractions by comparing them to the benchmarks or by counting the unit fraction partitions.</p>
            <figure>
              <img src="/images/teacherNotes/comparingFractions-prompt6-3.jpg" alt="place the remainder of the fractions" class="img-responsive margin-auto">
            </figure>
            <p>Students might notice that, once the fractions are in order on the number line, the fractional units generally follow a pattern as follows: sixteenths, eighths, common benchmark, sixteenths, eighths, common benchmark, etc. This can lead to a discussion of equivalent fractions for these friendly but different denominators.</p>
          </section>
            
          <section class="padding-bottom">
            <h5><strong>Prompt #7</strong></h5>
            <p>Represent the fractions <abbr title="Seven Fifths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>5</sub></span></abbr> and <abbr title="Five Thirds" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>3</sub></span></abbr> using set, area and number line models. Use each to compare the two fractions. What is important to remember when making comparisons using each model?</p>
            <p><u>Teacher Notes:</u></p>
            <p>Students could access the Set learning tool at mathies.ca to create some of their models, as shown below for the set and area models.</p>
            <p>Set Model</p>
            <figure>
              <img src="/images/teacherNotes/comparingFractions-prompt7-1.jpg" alt="Set Model" class="img-responsive margin-auto">
            </figure>
            <p>“When I look at the set model, I see that each fraction represented has two more pieces than a whole. Since there are only three pieces in the whole for five thirds, each piece has more value than the pieces that make seven fifths, so five thirds is greater.”</p>
            <p>Area Model</p>
            <figure>
              <img src="/images/teacherNotes/comparingFractions-prompt7-2.jpg" alt="Area Model" class="img-responsive margin-auto">
            </figure>
            <p>“This is much easier to compare the two fractions. I can see that five thirds covers more area than seven fifths.”</p>
            <p>Number Line Model</p>
            <figure>
              <img src="/images/teacherNotes/comparingFractions-prompt7-3.jpg" alt="Number Line Model" class="img-responsive margin-auto">
            </figure>
            <p>“The number line model is like the area model since it is easy to see that five thirds is further along (greater) than seven fifths.”</p>
            <p>Student responses should indicate an understanding of some of the following criteria for comparison using models:</p>
            <ul>
              <li>For number line and area models, the wholes need to be the same size;</li>
              <li>Equal partitions are important for area and number line models;</li>
              <li>When comparing set models you have to use proportional reasoning;</li>
              <li>Stacking number lines and/or area models can make comparisons of close quantities easier.</li>
            </ul>
          </section>

          <section>
            <p>To download a copy of the Comparing Fractions (Comp E) Teacher Notes: Anticipating Student Responses .pdf, click <a href="/pdf/P8_Comp_E_Fractions_Prompts_Teacher_Notes.pdf" target="_blank" rel="PDF File">here</a>.</p>
          </section>
  
        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">
        
        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">
        
          <figure class="padding-bottom">
            <img src="/images/tasks/comparingFractionsTask/ComparingFractionsUsingModels_COMP-A-B_1.png" alt="Familiar Fractions Benchmarks Comparisons Student Thinking 1" class="img-responsive margin-auto"/>
            <!-- <figcaption>To download a copy of this .pdf, click <a href="" target="_blank">here</a>.</figcaption> -->
          </figure>
          <figure class="padding-bottom">
            <img src="/images/tasks/comparingFractionsTask/ComparingFractionsUsingModels_COMP-C-E-2.png" alt="Familiar Fractions Benchmarks Comparisons Student Thinking 2" class="img-responsive margin-auto"/>
            <!-- <figcaption>To download a copy of this .pdf, click <a href="" target="_blank">here</a>.</figcaption> -->
          </figure>

          <div class="row padding-bottom">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <h5><strong>Benchmark Movie</strong><h5>
              <div class="embed-responsive embed-responsive-16by9">
                <video controls poster="">
                  <source src="../videos/P8_BenchmarkStrategy_CUT03.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
          <div class="row padding-bottom">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <h5><strong>Gap Strategy Movie</strong><h5>
              <div class="embed-responsive embed-responsive-16by9">
                <video controls poster="">
                  <source src="../videos/P8_GapStrategy_CUT02.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <h5><strong>Same Numerator Movie</strong><h5>
              <div class="embed-responsive embed-responsive-16by9">
                <video controls poster="">
                  <source src="../videos/P8_ConstructingModels_CUT03.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>


        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">
        
        </div>
      </div>  
    </section>

  </section> <!-- End PDF page section -->  
<%- include partials/footer.ejs%>