<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/planningSupports">Planning Supports</a></li>
    <li><a href="./compFrac">Research Informed Instruction Comparing Fractions</a></li>
</ol>


<main class="container pdf-page">
<!-- Insert content here-->
<h2 class="center col-dark-blue">Research Informed Instructional Considerations for Comparing Fractions</h2>

<div class="gen-pdf col-md-4">
    <a href="/pdf/compFrac.pdf">Download PDF</a>
</div>


<table class="table table-bordered table-striped tbl-ul-pad tbl-small-font" id="ftable">
<tr>
    <th>The teacher should:</th>
    <th>It allows students to:</th>
    <th>References</th>
</tr>
<tr>
    <td>
    <ul>
        <li>• engage students in constructing equivalent fractions through their own reasoning (rather than memorizing single
            algorithms).</li>
            </ul>
    </td>
    <td>
    <ul>
        <li>• develop an understanding of equivalent fractions as meaning ‘different names for the same fraction/numeric value’.</li>
        <li>• view a fraction as a numerical value by considering the part and whole simultaneously. Note that use of the algorithm
            of dividing or multiplying the numerator and denominator by the same number reinforces the notion of fraction
            as being comprised of two whole numbers rather than representing a single value.</li>
        <li>• reason through a problem.</li>
        <li>• make a strong connection between the question and their answer/solution as students are more likely to trust
            an incorrect answer generated from an algorithm than their own reasoning.</li>
        <li>• demonstrate their prior knowledge, which teachers can then build upon.</li>
    </ul>
    </td>
    <td>
        <ul>
            <li>• Charalam bous</li>
            <li>• Empson & Levi</li>
            <li>• Meagher</li>
            <li>• Petit et al</li>
            <li>• Stiff</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• allow students to explore and articulate a number of strategies for comparing fractions (including using
                benchmarks, same denominator, same numerator).</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• generate a deep understanding of fractions, apply reasoning skills, and develop increased flexibility.</li>
            <li>• consider reasonableness.</li>
            <li>• estimate.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Fosnot</li>
            <li>• Petit et al</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>

<tr>
    <td>
        <ul>
            <li>• begin with comparison of unit fractions</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• understand the role of the numerator and denominator.</li>
            <li>• develop an understanding of relative size.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• require students to first compare fractions with same denominators and different numerators, then same numerators
                and different denominators, then different denominators and numerators.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• extend their unit fraction understanding to comparing fractions.</li>
            <li>• identify the differences between the role of the numerator (number of parts used) and the denominator (total
                number of parts in the whole) in part-whole fractions. [caution: students may revert to whole number
                ‘counting’ when presented with same denominator fractions. Perhaps start with <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> and ¾ -- high familiarity;
                lots of possible strategies including using the benchmark of ½]</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• reinforce the teaching of equivalent fractions with ratios.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• build their understanding of ratio on their knowledge of partwhole/partitioning [ratio precedes operator;
                additive operation; quotient; problem solving; measure: ratio leads to equivalence; operator leads to
                multiplicative operations]</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Charalam bos</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• ask students to estimate a solution first.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• build number sense.</li>
            <li>• all engage.</li>
            <li>• reinforce their conceptual understanding of fractions.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Stiff</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• use rectangular area models (in addition to circular area models and set and length models).</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• sketch a consistent-sized whole.</li>
            <li>• more accurately partition the area.</li>
            <li>• more easily compare wholes.</li>
            <li>• designate any piece as the whole, allowing students to more easily see how the other fractional values change
                accordingly.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Bruce & Flynn</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• provide lots of experience with other representations prior to introducing the number line to compare and
                order fractions. </li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• apply their knowledge to the more sophisticated representation of the number line, as well as applying measurement
                knowledge (it involves determining the distance of the fraction from zero and/or other benchmarks).</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• use number lines to represent fractional amounts.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• compare to landmark numbers (0, <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr>, 1).</li>
            <li>• connect fractions to measurement concepts.</li>
            <li>• recognize that a fraction is the distance from 0 rather than a portion of the whole number line</li>
            <li>• examine relationships between equivalent fractions.</li>
            <li>• consider other representations of number (decimals, percent) so they can move more readily between representations
                of the same quantity.</li>
            <li>• understand the density of fractions – that is the infinite number of fractions between any two fractions
                (which can be found through successive partitioning)</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Bruce & Flynn</li>
            <li>• Fosnot & Dolk (2002)</li>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• present students with problems and ask them to use what they know to determine what they do not know.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• struggle to invent a solution, which will in turn allow them to construct new relationships.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• encourage:
            <ul>
            <li>• 'between' thinking: <abbr title=""><sup>3</sup>⁄<sub>4</sub></abbr> = ?/12 (the relationship between the denominators in this instance),</li>
            <li>• 'within' thinking: <abbr title=""><sup>4</sup>⁄<sub>8</sub></abbr> = ?/12 (the relationship within the fraction—the relationship between the 4 and the 8) and</li>
            <li>• unitizing: split the fraction into 1: ___ units (e.g., <abbr title=""><sup>4</sup>⁄<sub>6</sub></abbr> = 1/?). See below for further information about
                fractions which include decimals.</li>
                </ul></li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• build a conceptual understanding of the relationships within and between fractions.</li>
            <li>• see the relationship between the numerator and denominator, strengthening their understanding the relationship
                of multiplication and division to fractions</li>
            <li>• internalize this thinking prior to learning cross multiplication algorithms.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Bezuk & Cramer</li>
            <li>• Fosnot (2002)</li>
            <li>• Small (2011)</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• carefully consider fractions to compare (e.g., <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr>, <abbr title=""><sup>5</sup>⁄<sub>7</sub></abbr> where both the numerator and denominator in the fractions being compared have a difference of two)</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• demonstrate that they understand that the relationship is multiplicative rather than additive.</li>
            <li>• strengthen the separation between different concept understandings.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Small (2011)</li>
            <li>• Smith</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• require students to compare close fractions (e.g., <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr>, <abbr title=""><sup>4</sup>⁄<sub>6</sub></abbr>).</li>
            <li>• encourage students to find fractions in between close fractions (e.g., <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr>, <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr>)</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• consider the infinite number of fractions between two fractions (unlike whole number thinking where there is not a whole number between 3 and 4).</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Fosnot</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• not discourage use of fractions in 'non standard form' such as '3-and-onehalf fourths' when students are
                working with equivalence.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• think proportionally, reinforcing fraction as a ratio. </li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Small (2011)</li>
            <li>• Fosnot & Dolk (2002)</li>
            <li>• Fosnot & Dolk (2001)</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• provide opportunities to consider money denominations as fractional amounts.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• develop sense of value of benchmark fractions: <abbr title=""><sup>1</sup>⁄<sub>4</sub></abbr>, <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr>, <abbr title=""><sup>1</sup>⁄<sub>10</sub></abbr>, etc.; they understand that 10 cents is less than 25 cents, so <abbr title=""><sup>1</sup>⁄<sub>10</sub></abbr> is less than ¼.</li>
            <li>• relate decimals to their fractional equivalents in a familiar context.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Small (2001)</li>
        </ul>
    </td>
</tr>


</table>
</main>
<%- include partials/footer.ejs%>
