<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/planningSupports">Planning Supports</a></li>
    <li><a href="./connAcrossStrands">Connections Across Strands (Gr. 4)</a></li>
</ol>


<main class="container pdf-page" >
<!-- Insert content here-->


<h2 class="col-dark-blue center">Connections across Strands: Grade 4</h2>
<div class="gen-pdf ">
    <a href="/pdf/connAcrossStrands.pdf">Download PDF</a>
</div>

<p>In Grade 4, students will:</p>
<ul>
<li>• represent fractions using concrete materials, words, and standard fractional notation, and explain the meaning of the
    denominator as the number of the fractional parts of a whole or a set, and the numerator as the number of fractional
    parts being considered; </li>
<li>• compare and order fractions (i.e., halves, thirds, fourths, fifths, tenths) by considering the size and the number of
    fractional parts (e.g., <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr> is greater than <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> because there are more parts in <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr>; ¼ is greater than <abbr title=""><sup>1</sup>⁄<sub>5</sub></abbr> because
    the size of the part is larger in ¼); </li>
<li>• compare fractions to the benchmarks of 0, ½ and 1 ( e.g., <abbr title=""><sup>1</sup>⁄<sub>8</sub></abbr> is closer to 0 than ½; <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> is more than ½); </li>
<li>• demonstrate and explain the relationship between equivalent fractions, using concrete materials (e.g., fraction circles,
    fraction strips, pattern blocks) and drawings; </li>
<li>• count forward by halves,thirds, fourths, and tenths to beyond one whole, using concrete materials and numberlines (e.g.,
    use fraction circles to count fourths: "One fourth, two fourths, three fourths, four fourths, five fourths, six fourths"); </li>
<li>• determine and explain, through investigation, the relationship between fractions (i.e., halves, fifths, tenths) and decimals
    to tenths, using a variety of tools (e.g., concrete materials, drawings, calculators) and strategies (e.g., decompose
    <abbr title=""><sup>2</sup>⁄<sub>5</sub></abbr> into <abbr title=""><sup>4</sup>⁄<sub>10</sub></abbr> by dividing each fifth into two equal part to show that <abbr title=""><sup>2</sup>⁄<sub>5</sub></abbr> can be represented as 0.4).</li>
</ul>

<p>Understanding opportunities to revisit or reinforce understanding across the strands allows teachers to plan more effectively.</p>

<p>In Number Sense, students will:</p>
<ul>
<li><i>represent, compare, and order decimal numbers to tenths, using a variety of tools and using standard decimal notation</i>
</li>
<li><i>count forward by tenths from any decimal number expressed to one decimal place, using concrete materials and number lines</i>
</li>
<li><i>add and subtract decimal numbers to tenths, using concrete materials and student-generated algorithms</i></li>
</ul>

<p class="col-dark-blue">Students should understand that decimal numbers are fractions with a denominator that is a power of ten and a numerator which
is written to the right of the decimal. E.g., 0.6 = <abbr title=""><sup>6</sup>⁄<sub>10</sub></abbr> </p>

<p class="col-dark-blue">Use of a number line, rectangular area model or base ten materials allow students to make explicit connections to their knowledge
of fractions and the concepts of decimal.</p>
<div class="center"><img src="/images/pdf-img/connAcross1.png" alt="" /></div>
<p>In Measurement, students will:</p>
<ul>
<li>• <i>estimate, measure, and represent time intervals to the nearest minute</i></li>
<li>• <i>describe, through investigation, the relationship between various units of length </i></li>
<li>• <i>identify benchmark angles using a reference tool</i></li>
</ul>
    <ul>
        <li class="col-dark-blue">Students will make connections to common benchmark fractions as well as whole numbers to compare and describe measurements of time, length, and degrees. Questions can be phrased in order to elicit connections to fractions. For example,
            <ol>
                <li>Show the position of the hands of an analogue clock if it is 'half-past nine'. Indicate where the 'half'
                    shows up in the clock. </li>
                <li>Illustrate how 45 compares to 90. </li>
                <li>Show how metre sticks would look when drawn beside this adult person. </li>
            </ol>
        </li>
    </ul>
<div class="center"><img src="/images/pdf-img/connAcross2.png" alt="" /></div>

<p>In Data Management and Probability,students will:</p>
<ul>
<li>• <i>read, interpret, and draw conclusions from primary data and from secondary data presented in charts, tables, and graphs</i>
    </li>
<li>• <i>demonstrate, through investigation, an understanding of median and determine the median of a set of data </i></li>
<li>• <i>compare similarities and differences between two related sets of data, using a variety of strategies</i></li>
<li>• <i>predict the frequency of an outcome in a simple probability experiment</i></li>
<li>
    <ul>
        <li class="col-dark-blue">
            <p>Students will make connections to common benchmark fractions as well as whole numbers to compare and describe data sets and probability. Students will use their understanding of the meaning of fractions to represent and discuss outcomes of experiments.</p>
            <p>Questions may include:</p>
            <ol>
                <li>Determine the median of Choice A: 4, 2, 8, 6, 9, 2 or Choice B: 1, 7, 5, 6, 9, 6 </li>
                <li>List three sets of five numbers each that have a median of 10. Make your three sets as different from
                    each other as you can. The median is the numerical value of the data point which is half way between
                    the least and greatest value in the data set when those values are arranged from least to greatest.
                    </li>
                <li>How do the probabilities of rolling a sum of 4 on a pair of number cubes and rolling a sum of 7 compare?
                    The probability of rolling a sum of 4 on a pair of number cubes is <abbr title=""><sup>3</sup>⁄<sub>36</sub></abbr> or <abbr title=""><sup>1</sup>⁄<sub>12</sub></abbr>, which is half as
                    likely as rolling a sum of 7 which has a probability of <abbr title=""><sup>6</sup>⁄<sub>36</sub></abbr> or <abbr title=""><sup>1</sup>⁄<sub>6</sub></abbr>.</li>
            </ol>
        </li>
    </ul>
</li>
</ul>

<p>In Geometry and Spatial Sense, students will:</p>
<ul>
<li>
    <p>• <i>Identify benchmark angles (i.e., straight angle, right angle, half a right angle), using a reference tool (e.g.,
        paper fasteners, pattern blocks, straws), and compare other angles to these benchmarks(e.g., "The angle the door
        makes with the wall is smaller than a right angle but greater than half a right angle.")</i></p>

    <p class="col-dark-blue">Questions may include:</p>
    <ol>
        <li class="col-dark-blue">Use paper folding to create benchmarks for a straight angle, a right angle, and half a right angle, and use these benchmarks to describe angles found in each of the pattern blocks.</li>
    </ol>
</li>
</ul>



</main>



<%- include partials/footer.ejs%>
