<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li><a href="./countGame">UNIT D Counting Game</a></li>
</ol>

<main class="container dot-lists pdf-page">
<!-- Insert content here-->
<h1>Counting Game</h1>
<strong>Description</strong>

<p>Students “count up” using unit fractions (for example, <abbr title="one fourth">¼</abbr>, <abbr title="one third">1&frasl;3</abbr>, <abbr title="one half">½</abbr>, <abbr title="one eighth">1&frasl;8</abbr>, <abbr title="etcetera">etc</abbr>.). The students or teacher can choose any unit fractions, and the teacher or students can set game rules such as: "When you get to one whole, stand up and state the quantity as both a fraction and as a whole". Note: this game is similar to a well-known number game called BUZZ.</p>

<strong>Mathematics</strong>

<p>Unit fractions are the base of all fractions. For example one-fourth is 1 one-fourth of the fourths. 2 one-fourths are 2 one-fourth units. When we count these fourths, we use the language 1 one-fourth, 2 one-fourths, 3 one-fourths, 4 one-fourths, 5 one-fourths and so on. This helps students understand that we are counting units that are fourths and this allows us to count beyond one whole, such as 5 one-fourths.</p>

<strong>Curriculum Connections</strong>

<p>Students will:</p>
<ul>
<li>learn how to count fractions in various ways, developing a sense of magnitude;</li>
<li>count using unit fractions to go beyond one whole (<abbr title="For example">e.g.</abbr>
, 15 one-fourths);</li>
<li>develop the ability to calculate halves and wholes mentally based on unit fractions counting.</li>
</ul>

<strong>Instructional sequence</strong>
<ol>
<li>Start in a circle, and have students count the unit fraction of your (or a student’s) choice. If the fraction selected is <abbr title="one fourth">¼</abbr> , for example, the first person in the circle would say “1 one-fourth”; the second person would say “2 one-fourths”; the third person would say “3 one-fourths”, and so on. When a student arrives at a whole number (such as 4 one-fourths), they need to stand up and say the whole number equivalent.(This continues for each whole number, for example, the student that gets 8 one-fourths needs to say “two”.)</li>
<li>Be sure students count well beyond one (such as counting to 28 one-fourths).</li>
<li>When all students have counted ask students key questions.</li>
</ol>

<strong>Variations on the game</strong>
<ol>
<li>Use concrete materials to help count by unit fractions.</li>
<li>One person states a unit fraction (such as one-fifth). Students move around to join with enough people to represent 1 or 2 or 3 wholes (<abbr title="For example">e.g.</abbr>
, to make two wholes counting one-fifths, 10 people, each representing one-fifth, would join together).</li>
<li>Add a second action/word whenever you get to the equivalent of the half-way mark between each whole.</li>
<li>Have students represent the fraction using a model of choice when a random buzzer sounds.</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking</strong>

<p>Students may:</p>
<ul>
<li>connect counting unit fractions to counting other units, such as units of measure or items;</li>
<li>find the concept of the unit fraction challenging at first;</li>
<li>get ‘stuck’ when counting beyond the whole;</li>
<li>come up with a wide range of variations to the game when invited to do so.
Note: Field testing of this game demonstrated that it aided students in distinguishing between unit fractions (<abbr title="For example">e.g.</abbr>
, 5 one-fourths) and mixed fractions (<abbr title="For example">e.g.</abbr>
, 1 and one-fourth). Further, it supported student understanding of what made up a whole (in both area and set models).</li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions</strong>
<ol>
<li>If each person counted one-fourth in our count, how many one-fourths would we have counted in total? (<abbr title="For example">e.g.</abbr>
, if there are 27 students, they will have counted 27 one-fourths, or 6 wholes and three-fourths).</li>
<li>How many wholes did we count? Did we end on a whole?</li>
<li>How many one-fourth units did it take to make one? How do you know?</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
<li>Optional materials include number lines, and/or concrete materials, such as Cuisinaire rods or fraction tiles.</li>
</ul>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Student Thinking</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      <img src="/images/tasks/CountingGame_StudentThinking_Unit-D.png" alt="Counting game" />
      <p>To download a copy of this .pdf, click <a href="/pdf/CountingGame_StudentThinking_Unit-D.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Additional Resources</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
  <div class="row">

  <a href="/supportDocs/devFracNumSense">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" height="100px" width="100px">
        <div class="caption">
          <h3>Developing Fraction Number Sense</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildUnitFrac">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Building Understanding of Unit Fractions</h3>
        </div>
      </div>
    </div>
  </a>

</div>
      </div>
    </div>
  </div>
</div>

</main>
<%- include partials/footer.ejs%>
