<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Creating Sums Close to One</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange">
          <p>Operation E</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with unlike denominators (e.g. <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span></abbr>) using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/creatingSums/Creating%20Sums%20Close%20to%20One.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Creating Sums Close to One</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/creatingSums/create_sums_close_to_one-thumbnail.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students will explore sums of fractions to determine two fractions with unlike denominators that, when added, will be close to but not equal to one. This task encourages the student to develop the sense of fractions as quantities
        (fundamental to fractions understanding) and also to justify their thinking by representing their mathematics in a variety of ways.</p>

      <h4>Mathematics</h4>
      <p>This task will allow students to self-select fractions with unlike denominators to add together and demonstrate their understanding of fractional quantities through representation. In order for students to conceptually understand operations
        with fractions, they need frequent and varied opportunities to represent, compare and order fractions, and to explore equivalencies.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>use reasoning to choose appropriate fractions to add together</li>
        <li>represent fractions using a model and fractional notation</li>
        <li>add fractions with like and/or unlike denominators</li>
        <li>consider the whole when adding fractions by determining common units</li>
        <li>use estimation when solving problems involving addition of fractions</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>As a warm-up to the task, instruct students to turn to an elbow partner. Prompt students to estimate two fractions that, when added together, equal one. Students should be prepared to share and justify their choices.</li>
        <li>As a whole class, invite select pairs to share and justify their estimates.</li>
        <li>Partner students and distribute BLM 1.</li>
        <li>Allow students time to explore and represent at least two solutions. Make available manipulatives that students are used to working with to represent fractions (e.g., relational rods).</li>
        <li>Teacher may choose to distribute BLM 2 (either to extend or differentiate the task depending on student need, both versions are available) as students work to complete the task.</li>
        <li>Consolidate this activity by selecting student responses that highlight fractional number sense.</li>
        <li>Check student understanding with BLM 3.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>choose to add like denominators as a starting point;</li>
          <li>convert fractions to decimals or percent;</li>
          <li>use a number line, area model, or concrete model to represent their thinking and/or justify their reasoning; and</li>
          <li>demonstrate misconceptions when representing and/or adding fractions with unlike denominators.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How did estimation help you determine your fractions?</li>
          <li>How did you visualize the fractions?</li>
          <li>How did your representation help you determine and/or show your solution?</li>
          <li>Can you get closer to 1 by replacing one of your fractions? Explain your thinking.</li>
          <li>How does knowing about equivalent fractions help you with this task?</li>
        </ol>
      </div>
    </section>
    <!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/creatingSums/OPE_T33_BLM_1_TaskCard_20160712_V3.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (one per student/pair)</li>
        <li><a href="/pdf/creatingSums/OPE_T33_BLM_2_HintCard_20160712_V3.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 2</a> Hint Cards (available as needed for scaffolding or extending the task)</li>
        <li><a href="/pdf/creatingSums/OPE_T33_BLM_3_ExitTicket_20160712_V3.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 3</a> (one per student)</li>
        <li>Assorted manipulatives (e.g., relational rods, colour tiles, pattern blocks, fraction strips) </li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/creatingSums/BLM-1.jpg" alt="Creating Sums BLM 1" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/creatingSums/OPE_T33_BLM_1_TaskCard_20160712_V3.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>
          <figure class="padding-bottom">
            <img src="/images/tasks/creatingSums/BLM-2.jpg" alt="Creating Sums BLM 2" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/creatingSums/OPE_T33_BLM_2_HintCard_20160712_V3.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/creatingSums/BLM-3.jpg" alt="Creating Sums BLM 3" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/creatingSums/OPE_T33_BLM_3_ExitTicket_20160712_V3.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/creatingSums/CreatingSums_StudentThinking_OP-E_Samp1-2.jpg" alt="Creating Sums Close to One Studing Thinking sample one and two" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/creatingSums/CreatingSums_StudentThinking_OP-E_Samp1-2.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/creatingSums/CreatingSums_StudentThinking_OP-E_Samp3-4.jpg" alt="Creating Sums Close to One Studing Thinking sample three and four" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/creatingSums/CreatingSums_StudentThinking_OP-E_Samp3-4.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building to Addition and Subtraction of Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/purpRep">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Purposeful Representations</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/buildUnitFrac">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building Understanding of Unit Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/devFracNumSense">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Developing Fraction Number Sense</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/devPartItDisembed">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
                  </div>
                </div>
              </div>
            </a>

          </div>

        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
