<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/planningSupports">Planning Supports</a></li>
    <li><a href="./curConn4_8">Curriculum Connections (Gr 4-8)</a></li>
</ol>


<main class="container pdf-page">
<!-- Insert content here-->
<h2 class="center col-dark-blue">Curriculum Connections: Grades 4-8</h2>
<div class="gen-pdf ">
    <a href="/pdf/curCon4_8.pdf">Download PDF</a>
</div>

<table class="table table-bordered table-striped ftable tbl-col-7" id="ftable">
    <thead>
    <tr>
        <th>before</th>
        <th>Grade 4</th>
        <th>Grade 5</th>
        <th>Grade 6</th>
        <th>Grade 7</th>
        <th>Grade 8</th>
        <th>beyond</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>In K through Grade3, students develop their understanding of fraction through:</p>
            <ul>
                <li>• dividing whole objects and sets of objects into equal-sized parts and naming using fractional names</li>
                <li>• comparing common fractional areas (e.g., one-half and one-fourth)</li>
                <li>• composing fractional values by combining fractional pieces</li>
                <li>• use of fractional names but not formal fraction notation</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>• represent fractions using concrete materials, words, and standard fractional notation, and explain the meaning of the denominator as the number of the fractional parts of a whole or a set, and the numerator as the number of fractional parts being considered;</li>
                <li>• compare and order fractions (i.e., halves, thirds, fourths, fifths, tenths) by considering the size and the number of fractional parts (e.g., <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr> is greater than <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> because there are more parts in <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr>; ¼ is greater than <abbr title=""><sup>1</sup>⁄<sub>5</sub></abbr> because the size of the part is larger in ¼);</li>
                <li>• compare fractions to the benchmarks of 0, ½ and 1 ( e.g., <abbr title=""><sup>1</sup>⁄<sub>8</sub></abbr> is closer to 0 than ½; <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> is more than ½);</li>
                <li>• demonstrate and explain the relationship between equivalent fractions, using concrete materials (e.g., fraction circles, fraction strips, pattern blocks) and drawings;</li>
                <li>• count forward by halves, thirds, fourths, and tenths to beyond one whole, using concrete materials and number lines (e.g., use fraction circles to count fourths: “One fourth, two fourths, three fourths, four fourths, five fourths, six fourths, …”);</li>
                <li>• determine and explain, through investigation, the relationship between fractions (i.e., halves, fifths, tenths) and decimals to tenths, using a variety of tools (e.g., concrete materials, drawings, calculators) and strategies (e.g., decompose <abbr title=""><sup>2</sup>⁄<sub>5</sub></abbr> into <abbr title=""><sup>4</sup>⁄<sub>10</sub></abbr> by dividing each fifth into two equal part to show that <abbr title=""><sup>2</sup>⁄<sub>5</sub></abbr> can be represented as 0.4).</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>• represent, compare, and order fractional amounts with like denominators, including proper and improper fractions rods, number lines) and using standard fractional notation;</li>
                <li>• demonstrate and explain the concept of equivalent fractions, using concrete materials (e.g., use fraction strips to show that ¾ is equal to <abbr title=""><sup>9</sup>⁄<sub>12</sub></abbr>);</li>
                <li>• describe multiplicative relationships between quantities by using simple fractions and decimals (e.g., “If you have 4 plums and I have 6 plums, I can say that I have 1 ½ or 1.5 times as many plums as you have.”);</li>
                <li>• determine and explain, through investigation using concrete materials, drawings, and calculators, the relationship between fractions (i.e., with denominators of 2, 4, 5, 10, 20, 25, 50, and 100) and their equivalent decimal forms (e.g., use a 10 x 10 grid to show that <abbr title=""><sup>2</sup>⁄<sub>5</sub></abbr> = <abbr title=""><sup>40</sup>⁄<sub>100</sub></abbr>, which can also be represented as 0.4);</li>
                <li>• demonstrate an understanding of simple multiplicative relationships involving whole-number rates, through investigation using concrete materials and drawings (Sample problem: If 2 books cost $6, how would you calculate the cost of 8 books?).</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>• represent, compare, and order fractional amounts with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation;</li>
                <li>•  represent ratios found in real-life contexts, using concrete materials, drawings, and standard fractional notation;</li>
                <li>• determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers, and percents.</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>• represent, compare, and order decimals to hundredths and fractions, using a variety of tools; </li>
                <li>• select and justify the most appropriate representation of a quantity (i.e., fraction, decimal, percent) for a given context;</li>
                <li>• divide whole numbers by simple fractions and by decimal numbers to hundredths, using concrete materials;</li>
                <li>• use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals;</li>
                <li>• add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms;</li>
                <li>• demonstrate, using concrete materials, the relationship between the repeated addition of fractions and the multiplication of that fraction by a whole number;</li>
                <li>• determine, through investigation, the relationships among fractions, decimals, percents, and ratios;</li>
                <li>• research and report on everyday applications of probabilities expressed in fraction, decimal, and percent form.</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>• represent, compare, and order rational numbers;</li>
                <li>• translate between equivalent forms of a number;</li>
                <li>• use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
                <li>• represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
                <li>• solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
            </ul>
        </td>
        <td>
            <p>In Grades 9-12 students apply and extend their knowledge and skill with fractions in a variety of contexts, including:</p>
            <ul>
                <li>• algebraic expressions</li>
                <li>• proportional reasoning</li>
                <li>• rate of change</li>
                <li>• trigonometry</li>
                <li>• measurement</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

</main>

<%- include partials/footer.ejs%>
