<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active"><a href="/pathway/opF">OP F</a></li>
  <li class="breadcrumb-item active">Curriculum Connections</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p>Operation F</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Operations with Fractions: Multiplication and Division</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP F Use models to recognize that any fraction is a multiple of its unit fraction</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>regroup fractional parts into wholes, using concrete materials (e.g., combine nine fourths to form two wholes and one fourth</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>represent fractions using concrete materials, words, and standard fractional notation, and explain the meaning of the denominator as the number of the fractional parts of a whole or a set, and the numerator as the number of
                  fractional parts being considered;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including propoer and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers and percents.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>divide whole numbers by simple fractions and by decimal numbers to hundredths, using concrete materials;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>demonstrate, using concrete materials, the relationship between the repeated addition of fractions and the multiplication of that fraction by a whole number;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>determine, through investigation, the relationships among fractions, decimals, percents, and rations;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>translate between equivalent forms of a number;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of perecnts, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
