<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
    <li class="breadcrumb-item active"><a href="/pathway/unitF">UNIT F</a></li>
    <li class="breadcrumb-item active">Curriculum Connections</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright"></div>
        <div id="rectangle" class="display-flex"><p>Unit F</p></div>
        <div id="triangle-topleft"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Compose and decompose fractions flexibly with models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->
  
  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections unit">
        <thead>
          <tr>
            <th colspan="2">UNIT F Compose and decompose fractions flexibly with models and symbols</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <ul>
                <li>divide whole objects into parts and identify and describe, through investigation, equal-sized parts of the whole, using fractional names (e.g., halves; fourths or quarters).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>determine, through investigation using concrete materials, the relationship between the number of fractional parts of a whole and the size of the fractional parts (e.g., a paper plate divided into fourths has larger parts than a paper plate divided into eighths) (Sample problem: Use paper squares to show which is bigger, one half of a square or one fourth of a square.).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>regroup fractional parts into wholes, using concrete materials (e.g., combine nine fourths to form two wholes and one fourth); </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>compare fractions using concrete materials, without using standard fractional notation (e.g., use fraction pieces to show that three fourths are bigger than one half, but smaller than one whole). </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <ul>
                <li>divide whole objects and sets of objects into equal parts, and identify the parts using fractional names (e.g., one half; three thirds; two fourths or two quarters), without using numbers in standard fractional notation. </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>represent fractions using concrete materials, words, and standard fractional notation, and explain the meaning of the denominator as the number of the fractional parts of a whole or a set, and the numerator as the number of fractional parts being considered;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>compare and order fractions (i.e., halves, thirds, fourths, fifths, tenths) by considering the size and the number of fractional parts (e.g., <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> is greater than <abbr title="Three Fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> because there are more parts in <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>; <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> is greater than <abbr title="One fifth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr> because the size of the part is larger in <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>compare fractions to the benchmarks of 0, <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> and 1 ( e.g., <abbr title="One Eigth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr> is closer to 0 than <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>; <abbr title="Three Fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> is more than <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>demonstrate and explain the relationship between equivalent fractions, using concrete materials (e.g., fraction circles, fraction strips, pattern blocks) and drawings;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>count forward by halves, thirds, fourths, and tenths to beyond one whole, using concrete materials and number lines (e.g., use fraction circles to count fourths: “One fourth, two fourths, three fourths, four fourths, five fourths, six fourths, ...”);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>determine and explain, through investigation, the relationship between fractions (i.e., halves, fifths, tenths) and decimals to tenths, using a variety of tools (e.g., concrete materials, drawings, calculators) and strategies (e.g., decompose <abbr title="Two Fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> into <abbr title="Four Tenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>10</sub></span></abbr> by dividing each fifth into two equal parts to show that <abbr title="Two Fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> can be represented as 0.4)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with like denominators, including proper and improper fractions and mixed numbers, using a variety of tools (e.g., fraction circles, Cuisenaire rods, number lines) and using standard fractional notation; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              <ul>
                <li>demonstrate and explain the concept of equivalent fractions, using concrete materials (e.g., use fraction strips to show that <abbr title="Three fourth" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> is equal to <abbr title="Nine Twelves" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>12</sub></span></abbr>);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              <ul>
                <li>describe multiplicative relationships between quantities by using simple fractions and decimals (e.g., “If you have 4 plums and I have 6 plums, I can say that I have 1 <abbr title="One Half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> or 1.5 times as many plums as you have.”);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationship between fractions (i.e., with denominators of 2, 4, 5, 10, 20, 25, 50, and 100) and their equivalent decimal forms (e.g., use a 10 x 10 grid to show that <abbr title="Two Fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> = <abbr title="Forty one-hundreds" class="abbr-frac"><span class="frac"><sup>40</sup><span>&frasl;</span><sub>100</sub></span></abbr>, which can also be represented as 0.4).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers, and percents.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>select and justify the most appropriate representation of a quantity (i.e., fraction, decimal, percent) for a given context; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>divide whole numbers by simple fractions and by decimal numbers to hundredths, using concrete materials;  </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals;  </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>demonstrate, using concrete materials, the relationship between the repeated addition of fractions and the multiplication of that fraction by a whole number;  </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>determine, through investigation, the relationships among fractions, decimals, percents, and ratios; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>translate between equivalent forms of a number; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment (e.g., m = <abbr title="" class="abbr-frac"><span class="frac"><sup><em>rise</em></sup><span>&frasl;</span><sub><em>run</em></sub></span></abbr>, m = <abbr title="" class="abbr-frac"><span class="frac"><sup><em>the change in y</em></sup><span>&frasl;</span><sub><em>the change in x</em></sub></span></abbr> or m = <abbr title="" class="abbr-frac"><span class="frac"><sup><em>&#948;y</em></sup><span>&frasl;</span><sub><em>&#948;x</em></sub></span></abbr>, m = <abbr title="" class="abbr-frac"><span class="frac"><sup><em>y<sub>2</sub> - y<sub>1</sub></em></sup><span>&frasl;</span><sub><em>x<sub>2</sub> - x<sub>1</sub></em></sub></span></abbr> and use the formulas to determine the slope of a line segment or a line;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>identify, through investigation with technology, the geometric significance of m and b in the equation y = mx + b</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>identify, through investigation, properties of the slopes of lines and line segments (e.g., direction, positive or negative rate of change, steepness, parallelism, perpendicularity), using graphing technology to facilitate investigations, where appropriate </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>graph lines by hand, using a variety of techniques </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>represent, using equivalent ratios and proportions, directly proportional relationships arising from realistic situations (Sample problem: You are building a skateboard ramp whose ratio of height to base must be 2:3. Write a proportion that could be used to determine the base if the height is 4.5 m.);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve for the unknown value in a proportion, using a variety of methods (e.g., concrete materials, algebraic reasoning, equivalent ratios, constant of proportionality) (Sample problem: Solve <abbr title="X Fourths" class="abbr-frac"><span class="frac"><sup>x</sup><span>&frasl;</span><sub>4</sub></span></abbr> = <abbr title="fifteen Twentyths" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>20</sub></span></abbr>.);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>make comparisons using unit rates (e.g., if 500 mL of juice costs $2.29, the unit rate is 0.458¢/mL; this unit rate is less than for 750 mL of juice at $3.59, which has a unit rate of 0.479¢/mL); </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems involving ratios, rates, and directly proportional relationships in various contexts (e.g., currency conversions, scale drawings, measurement), using a variety of methods (e.g., using algebraic reasoning, equivalent ratios, a constant of proportionality; using dynamic geometry software to construct and measure scale drawings)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;*</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </section>
  
  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>