<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
    <li class="breadcrumb-item active"><a href="/pathway/compD">COMP D</a></li>
    <li class="breadcrumb-item active">Curriculum Connections</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-blue"></div>
        <div id="rectangle" class="display-flex rectangle-blue"><p>Comparing D</p></div>
        <div id="triangle-topleft" class="triangle-topleft-blue"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Compare fractions with like numerators or denominators using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->
  
  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections comp">
        <thead>
          <tr>
            <th colspan="2">COMP D Compare fractions with like numerators or like denominators using models and symbols</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>compare and order fractions (i.e., halves, thirds, fourths, fifths, tenths) by considering the size and the number of fractional parts (e.g., <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> is greater than <abbr title="Three Fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> because there are more parts in <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>; <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> is greater than <abbr title="One Fifth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr> because the size of the part is larger in <abbr title="One fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with like denominators, including proper and improper fractions and mixed numbers, using a variety of tools (e.g., fraction circles, Cuisenaire rods, number lines) and using standard fractional notation;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation;  </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers, and percents</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>identify, through investigation, properties of the slopes of lines and line segments (e.g., direction, positive or negative rate of change, steepness, parallelism, perpendicularity), using graphing technology to facilitate investigations, where appropriate</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;*</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </section>
  
  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections comp">
        <thead>
          <tr>
            <th colspan="2">COMP D Compare fractions with like numerators or like denominators using models and symbols</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>compare and order fractions (i.e., halves, thirds, fourths, fifths, tenths) by considering the size and the number of fractional parts (e.g., <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> is greater than <abbr title="Three Fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> because there are more parts in <abbr title="Four Fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>; <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> is greater than <abbr title="One Fifth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr> because the size of the part is larger in <abbr title="One fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with like denominators, including proper and improper fractions and mixed numbers, using a variety of tools (e.g., fraction circles, Cuisenaire rods, number lines) and using standard fractional notation;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation;  </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers, and percents</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>identify, through investigation, properties of the slopes of lines and line segments (e.g., direction, positive or negative rate of change, steepness, parallelism, perpendicularity), using graphing technology to facilitate investigations, where appropriate</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;*</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </section>
  
  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>