<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item"><a href="/tasks/pathwaytasks/">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Operations with Fractions: Multiplication and Division</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p>Multiplication and Division</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Operations with Fractions: Multiplication and Division</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row padding-bottom gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/mappingCurriculum/mapping%20to%20curriculum%20by%20cell%20MULT%20DIV.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP F Use models to recognize that any fraction is a multiple of its unit fraction</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>regroup fractional parts into wholes, using concrete materials (e.g., combine nine fourths to form two wholes and one fourth)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>represent fractions using concrete materials, words, and standard fractional notation, and explain the meaning of the denominator as the number of the fractional parts of a whole or a set, and the numerator as the number of
                  fractional parts being considered;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including propoer and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers and percents.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>divide whole numbers by simple fractions and by decimal numbers to hundredths, using concrete materials;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>demonstrate, using concrete materials, the relationship between the repeated addition of fractions and the multiplication of that fraction by a whole number;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>determine, through investigation, the relationships among fractions, decimals, percents, and rations;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>translate between equivalent forms of a number;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of perecnts, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP G Recognize division is the inverse of multiplication and vise versa</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5</td>
            <td>
              <ul>
                <li>describe multiplicative relationships between quantities by using simple fractions and decimals (e.g., "If you have 4 plums and I have 6 plums, I can say taht I have or 1.5 times as many plums as you have.");</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers and percents.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>divide whole numbers by simple fractions and by decimal numbers to hundredths, using concrete materials;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>determine, through investigation, the relationships among fractions, decimals, percents, and ratios; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigaion, various formulas for the slope of a line segment or to determine the slope of a line segment or a line;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>identify, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9F</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP H Use models to decompose fractions using unit fractions as a form of division</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <ul>
                <li>divide whole objects into parts and identify and describe, through investigation, equal-sized parts of the whole, using fractional names (e.g., halves; fourths or quarters).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <ul>
                <li>divide whole objects and sets of objects into equal parts, and identify the parts using fractional names (e.g., one half; three thirds; two fourths or two quarters), without using numbers in standard fractional notation.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers, and percents.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>divide whole numbers by simple fractions and by decimal numbers to hundredths, using concrete materials;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>determine, through investigation, the relationships among fractions, decimals, percents and ratios;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>translate between equivalent forms of a number;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP I Multiply any fraction by a whole number using models and symbols</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation usign concrete materials, drawings and calculators, the relationships among fractions, decimal numbers, and percents.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>demonstrate, using concrete materials, the relationship between the repeated addition of fractions and the multiplication of that fraction by a whole number;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>determine, through investigation, the relationships among fractions, decimals, percents, and ratios;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>translate between equivalent forms of a number;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP J Divide a fraction by a like-denominator unit fraction using models and symbols</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>
                  represent, compare, and order fractional amount with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>translate between equivalent forms of a number;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">Op K Divide a fraction by a like-denominator fraction, with a whole number result</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP L Multiply fractions where the numerator of one fraction is the denominator of the other using models</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP M Divide a fraction by a smaller friendly denominator fraction with a whole number result</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent, compare, and order rational numbers;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP N Multiplfy fractions using models and symbols</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP O Divide a fraction by a like denominator fraction a non-whole number result</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP P Divide fractions with unlike-denominators with a visually recognizable result using models</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->

  <section class="container dot-lists pdf-page ">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op-pur">
        <thead>
          <tr>
            <th colspan="2">OP Q Divide fractions with unlike-denominators with a visually recognizable result using models</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>represent the multiplication and division of fractions, using a variety of tools and strategies;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment or a line; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->


  <%- include partials/footer.ejs%>
