<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active"><a href="/pathway/unitA">UNIT A</a></li>
  <li class="breadcrumb-item active">Curriculum Connections</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright"></div>
        <div id="rectangle" class="display-flex">
          <p>Unit A</p>
        </div>
        <div id="triangle-topleft"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Use proportional reasoning to make reasonable estimates</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row padding-bottom gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/unitA_CC.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections unit">
        <thead>
          <tr>
            <th colspan="2">UNIT A Use proportional reasoning to make reasonable estimates</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <ul>
                <li>divide whole objects into parts and identify and describe, through investigation, equal-sized parts of the whole, using fractional names (e.g., halves; fourths or quarters).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>determine, through investigation using concrete materials, the relationship between the number of fractional parts of a whole and the size of the fractional parts (e.g., a paper plate divided into fourths has larger parts than a
                  paper plate divided into eighths) (Sample problem: Use paper squares to show which is bigger, one half of a square or one fourth of a square.).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>compare fractions using concrete materials, without using standard fractional notation (e.g., use fraction pieces to show that three fourths are bigger than one half, but smaller than one whole).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <ul>
                <li>divide whole objects and sets of objects into equal parts, and identify the parts using fractional names (e.g., one half; three thirds; two fourths or two quarters), without using numbers in standard fractional notation.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>compare and order fractions (i.e., halves, thirds, fourths, fifths, tenths) by considering the size and the number of fractional parts (e.g., <abbr title="Four fifth" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>
                  is greater than <abbr title="Three fifth" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> because there are more parts in <abbr title="Four fifth" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>;
                  <abbr title="One fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> is greater than <abbr title="One fifth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr>
                  because the size of the part is larger in <abbr title="One fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> );</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>compare fractions to the benchmarks of 0, <abbr title="One half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> and 1 ( e.g., <abbr title="One eight" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr>
                  is closer to 0 than <abbr title="One half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>; <abbr title="Three Fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr>
                  is more than <abbr title="One half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation; </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
