<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active"><a href="/pathway/unitC">UNIT C</a></li>
  <li class="breadcrumb-item active">Curriculum Connections</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright"></div>
        <div id="rectangle" class="display-flex">
          <p>Unit C</p>
        </div>
        <div id="triangle-topleft"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Partition unit fractions to create smaller unit fractions</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row padding-bottom gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/unitC_CC.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections unit">
        <thead>
          <tr>
            <th colspan="2">UNIT C Partition unit fractions to create smaller unit fractions</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <ul>
                <li>divide whole objects into parts and identify and describe, through investigation, equal-sized parts of the whole, using fractional names (e.g., halves; fourths or quarters). </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>determine, through investigation using concrete materials, the relationship between the number of fractional parts of a whole and the size of the fractional parts (e.g., a paper plate divided into fourths has larger parts than a
                  paper plate divided into eighths) (Sample problem: Use paper squares to show which is bigger, one half of a square or one fourth of a square.).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>demonstrate and explain the relationship between equivalent fractions, using concrete materials (e.g., fraction circles, fraction strips, pattern blocks) and drawings; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <ul>
                <li>compare and order fractions (i.e., halves, thirds, fourths, fifths, tenths) by considering the size and the number of fractional parts (e.g., <abbr title="Four fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>
                  is greater than <abbr title="Three fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> because there are more parts in <abbr title="Four fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>;
                  <abbr title="One fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> is greater than <abbr title="One fifths" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr>
                  because the size of the part is larger in <abbr title="One fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              <ul>
                <li>demonstrate and explain the concept of equivalent fractions, using concrete materials (e.g., use fraction strips to show that <abbr title="Three fourth" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>
                  is equal to <abbr title="Nine Twelves" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>12</sub></span></abbr>);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>represent, compare, and order fractional amounts with unlike denominators, including proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <ul>
                <li>determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers, and percents</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
