<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/planningSupports">Planning Supports</a></li>
    <li><a href="./curConnk_8">Curriculum Connections (k- Gr8)</a></li>
</ol>


<main class="container pdf-page wide-page">
<!-- Insert content here-->
<h2 class="center col-dark-blue">Curriculum Connections (Fractions): K-8</h2>

<div class="gen-pdf">
    <a href="/pdf/currCon_8.pdf" target="_blank">Download PDF</a>
</div>
<p class="center">found at <a href="http://www.edugains.ca/newsite/DigitalPapers/fractions/resources.html">http://www.edugains.ca/newsite/DigitalPapers/fractions/resources.html</a> under Planning Supports</p>

<table class="tbl-col-10 table table-bordered table-striped ">
<tr>
    <th>Kindergarten</th>
    <th>Grade 1</th>
    <th>Grade 2</th>
    <th>Grade 3</th>
    <th>Grade 4</th>
    <th>Grade 5</th>
    <th>Grade 6</th>
    <th>Grade 7</th>
    <th>Grade 8</th>
    <th>beyond</th>
</tr>
<tr>
    <td>(no expectations)</td>
    <td>
        <p><strong>1m19</strong> - divide whole objects into parts and identify and describe, through investigation, equal-sized
            parts of the whole, usingfractional names (e.g., halves; fourths or quarters).</p>

    </td>

    <td>
        <p><strong>2m15</strong> - determine, through investigation using concrete materials, the relationship between the
            number of fractional parts of a whole and the size of the fractional parts (e.g., a paper plate divided into
            fourths has larger parts than a paper plate divided into eighths) (Sample problem: Use paper squares to show
            which is bigger, one half of a square or one fourth of a square.);</p>
        <p><strong>2m16</strong> - regroup fractional parts into wholes, using concrete materials (e.g., combine nine fourths
            to form two wholes and one fourth);</p>
        <p><strong>2m17</strong> - compare fractions using concrete materials, without using standard fractional notation
            (e.g., use fraction pieces to show that three fourths are bigger than one half, but smaller than one whole).</p>
    </td>

    <td>
        <p><strong>3m17</strong> - divide whole objects and sets of objects into equal parts, and identify the parts using
            fractional names (e.g., one half; three thirds; two fourths or two quarters), without using numbers in standard
            fractional notation.</p>
    </td>

    <td>
        <p><strong>4m17</strong> - represent fractions using concrete materials, words, and standard fractional notation,
            and explain the meaning of the denominator as the number of the fractional parts of a whole or a set, and
            the numerator as the number of fractional parts being considered;</p>
        <p><strong>4m18</strong> - compare and order fractions (i.e., halves, thirds, fourths, fifths, tenths) by considering the size and the number of fractional parts (e.g., <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr> is greater than <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> because there are more parts in <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr>; ¼ is greater than <abbr title=""><sup>1</sup>⁄<sub>5</sub></abbr> because the size of the part is larger in ¼);</p>
<p><strong>4m19</strong> - compare fractions to the benchmarks of 0, ½ and 1 ( e.g., <abbr title=""><sup>1</sup>⁄<sub>8</sub></abbr> is closer to 0 than ½; <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> is more than ½);</p>
        <p><strong>4m20</strong> - demonstrate and explain the relationship between equivalent fractions, using concrete
            materials (e.g., fraction circles, fraction strips, pattern blocks) and drawings;</p>
        <p><strong>4m23</strong> - count forward by halves, thirds, fourths, and tenths to beyond one whole, using concrete
            materials and number lines (e.g., use fraction circles to count fourths: “One fourth, two fourths, three
            fourths, four fourths, five fourths, six fourths, …”);</p>
        <p><strong>4m36</strong> - determine and explain, through investigation, the relationship between fractions (i.e.,
            halves, fifths, tenths) and decimals to tenths, using a variety of tools (e.g., concrete materials, drawings,
            calculators) and strategies (e.g., decompose <abbr title=""><sup>2</sup>⁄<sub>5</sub></abbr> into <abbr title=""><sup>4</sup>⁄<sub>10</sub></abbr> by dividing each fifth into two equal part to
            show that <abbr title=""><sup>2</sup>⁄<sub>5</sub></abbr> can be represented as 0.4).</p>
    </td>

    <td>
        <p><strong>5m16</strong> - represent, compare, and order fractional amounts with like denominators, including proper
            and improper fractions and mixed numbers, using a variety of tools (e.g., fraction circles, Cuisenaire rods,
            number lines) and using standard fractional notation;</p>
        <p><strong>5m17</strong> - demonstrate and explain the concept of equivalent fractions, using concrete materials
            (e.g., use fraction strips to show that ¾ is equal to <abbr title=""><sup>9</sup>⁄<sub>12</sub></abbr>);</p>
        <p><strong>5m28</strong> - describe multiplicative relationships between quantities by using simple fractions and
            decimals (e.g., “If you have 4 plums and I have 6 plums, I can say that I have 1 ½ or 1.5 times as many plums
            as you have.”);</p>
        <p><strong>5m29</strong> - determine and explain, through investigation using concrete materials, drawings, and
            calculators, the relationship between fractions (i.e., with denominators of 2, 4, 5, 10, 20, 25, 50, and
            100) and their equivalent decimal forms (e.g., use a 10 x 10 grid to show that <abbr title=""><sup>2</sup>⁄<sub>5</sub></abbr> = <abbr title=""><sup>40</sup>⁄<sub>100</sub></abbr>, which can also be represented as 0.4).</p>
    </td>

    <td>
        <p><strong>6m14</strong> - represent, compare, and order fractional amounts with unlike denominators, including
            proper and improper fractions and mixed numbers, using a variety of tools and using standard fractional notation;</p>
        <p><strong>6m26</strong> - represent ratios found in real-life contexts, using concrete materials, drawings, and
            standard fractional notation;</p>
        <p><strong>6m27</strong> - determine and explain, through investigation using concrete materials, drawings, and
            calculators, the relationships among fractions, decimal numbers, and percents.</p>
    </td>

    <td>
        <p><strong>7m11</strong> - represent, compare, and order decimals to hundredths and fractions, using a variety of
            tools;</p>
        <p><strong>7m15</strong> - select and justify the most appropriate representation of a quantity (i.e., fraction,
            decimal, percent) for a given context;</p>
        <p><strong>7m18</strong> - divide whole numbers by simple fractions and by decimal numbers to hundredths, using
            concrete materials;</p>
        <p><strong>7m19</strong> - use a variety of mental strategies to solve problems involving the addition and subtraction
            of fractions and decimals;</p>
        <p><strong>7m24</strong> - add and subtract fractions with simple like and unlike denominators, using a variety
            of tools and algorithms;</p>
        <p><strong>7m25</strong> - demonstrate, using concrete materials, the relationship between the repeated addition
            of fractions and the multiplication of that fraction by a whole number;</p>
        <p><strong>7m27</strong> - determine, through investigation, the relationships among fractions, decimals, percents,
            and ratios;</p>
        <p><strong>7m83</strong> - research and report on everyday applications of probabilities expressed in fraction,
            decimal, and percent form.</p>
    </td>

    <td>
        <p><strong>8m13</strong> - represent, compare, and order rational numbers;</p>
        <p><strong>8m14</strong> - translate between equivalent forms of a number;</p>
        <p><strong>8m18</strong> - use estimation when solving problems involving operations with whole numbers, decimals,
            percents, integers, and fractions, to help judge the reasonableness of a solution;</p>
        <p><strong>8m19</strong> - represent the multiplication and division of fractions, using a variety of tools and
            strategies;</p>
        <p><strong>8m20</strong> - solve problems involving addition, subtraction, multiplication, and division with simple
            fractions.</p>
    </td>

    <td>
        <p>In Grades 9-12 students apply and extend their knowledge and skill with fractions in a variety of contexts, including:</p>
        <ul>
            <li>• algebraic expressions</li>
            <li>• proportional reasoning</li>
            <li>• rate of change</li>
            <li>• trigonometry</li>
            <li>• measurement</li>
        </ul>
    </td>
</tr>
</table>



<h2 class="center col-dark-blue">Connections across Strands</h2>

<h3>Note</h3>
<p>This chart shows the expectations that explicitly call for work with fractions or allow incorporation of fractional values.
Summary or synthesis of curriculum expectations are in plain font.</p>
<p>Verbatim curriculum expectations are in italics.</p>

<table class="tbl-col-8 table table-bordered table-striped ">
<tr>
    <th>Strand</th>
    <th>before</th>
    <th>Grade 4</th>
    <th>Grade 5</th>
    <th>Grade 6</th>
    <th>Grade 7</th>
    <th>Grade 8</th>
    <th>Beyond (a sample)</th>
</tr>
<tr>
    <td>Number Sense and Numeration</td>
    <td>
        <ul>
            <li>• compose and decompose numbers</li>
            <li>• explore equal sharing of whole number quantities</li>
            <li>• <strong>3m16</strong> - represent and explain, using concrete materials, the relationship among the numbers 1, 10, 100, 1000</li>
            <li>• <strong>3m18</strong> - represent and describe the relationships between coins and bills up to $10</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>4m8</strong> - represent, compare, and order decimal numbers to tenths, using a variety of tools and using standard
                decimal notation</li>
            <li>• <strong>4m24</strong> - count forward by tenths from any decimal number expressed to one decimal place, using concrete materials
                and number lines</li>
            <li>• <strong>4m27</strong> - add and subtract decimal numbers to tenths, using concrete materials and student-generated algorithms</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>5m12</strong> - represent, compare, and order whole numbers and decimal numbers from 0.01 to 100 000, using a variety
                of tools</li>
            <li>• <strong>5m17</strong>– demonstrate and explain the concept of equivalent fractions, using concrete materials (e.g., use fraction
                strips to show that ); <abbr title=""><sup>3</sup>⁄<sub>4</sub></abbr> is equal to <abbr title=""><sup>9</sup>⁄<sub>12</sub></abbr></li>
            <li>• <strong>5m18</strong> - demonstrate and explain equivalent representations of a decimal number, using concrete materials and
                drawings</li>
            <li>• <strong>5m21</strong> - count forward by hundredths from any decimal number expressed to two decimal places, using concrete
                materials and number lines</li>
            <li>• <strong>5m30</strong> - demonstrate an understanding of simple multiplicative relationships involving whole-number rates,
                through investigation using concrete materials and drawings</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>6m15</strong> - estimate quantities using benchmarks of 10%, 25%, 50%, 75%, and 100%</li>
            <li>• <strong>6m11</strong> - represent, compare, and order whole numbers and decimal numbers from 0.001 to 1 000 000, using a variety
                of tools</li>
            <li>• add, subtract, multiply and divide decimal numbers</li>
            <li>• <strong>6m24</strong> - use estimation when solving problems involving the addition and subtraction of whole numbers and decimals,
                to help judge the reasonableness of a solution</li>
            <li>• <strong>6m28</strong> - represent relationships using unit rates</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>7m12</strong> - generate multiples and factors of given numbers</li>
            <li>• solve problems involving whole number percents</li>
            <li>• demonstrate an understanding of rate</li>
            <li>• solve problems involving unit rates</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• determine common factors and multiples</li>
            <li>• solve problems involving proportions</li>
            <li>• solve problems involving percent</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• apply properties of fractions to algebraic rational expressions</li>
            <li>• manipulate algebraic expressions by substituting fractional values in</li>
            <li>• manipulate and solve for rational exponents</li>
        </ul>
    </td>
</tr>
<tr>
    <td>Measurement</td>
    <td>
        <ul>
            <li>• use fractional concepts in telling and writing time</li>
            <li>• estimate the measure of an object (area, perimeter, volume, mass) using standard and non-standard units</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>4m42</strong> - estimate, measure, and represent time intervals to the nearest minute</li>
            <li>• <strong>4m48</strong> - describe, through investigation, the relationship between various units of length</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>5m33</strong> - estimate, measure (i.e., using an analogue clock), and represent time intervals to the nearest second;</li>
            <li>• <strong>5m38</strong> - solve problems requiring conversion from metres to centimetres and from kilometers to metres</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>6m32</strong> - estimate, measure, and record length, area, mass, capacity, and volume, using the metric measurement
                system</li>
            <li>• <strong>6m34</strong> - solve problems requiring conversion from larger to smaller metric units</li>
            <li>• <strong>6m36</strong> - determine, through investigation using a variety of tools and strategies the relationship between
                the area of a rectangle and the areas of parallelograms and triangles, by decomposing and composing</li>
            <li>• <strong>6m37</strong> - develop the formulas for the area of a parallelogram using the area relationships among rectangles,
                parallelograms, and triangles</li>
            <li>• <strong>6m38</strong> - solve problems involving the estimation and calculation of the areas of triangles and the areas of
                parallelograms</li>
            <li>• <strong>6m39</strong> - determine, using concrete materials, the relationship between units used to measure area (i.e., square
                centimetre, square metre), and apply the relationship to solve problems that involve conversions from
                square metres to square centimeters</li>
            <li>• <strong>6m 40</strong> - determine, through investigation using a variety of tools and strategies the relationship between
                the height, the area of the base, and the volume of a triangular prism, and generalize to develop the
                formula</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• use fraction skills in solving problems involving measurement, e.g., the area of a trapezoid</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• use fraction skills in solving problems involving measurement, e.g., the area of a circle</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• solve problems involving area of composite figures, involving triangles and/or trapezoids</li>
            <li>• <strong>Gr. 9 Applied (MG2.04) Gr. 9 Academic (MG2.06)</strong> - develop, through investigation, the formulas for the volume
                of a pyramid or cone</li>
            <li>• solve problems involving the volume of pyramids or cones</li>
            <li>• use proportional reasoning to solve similar triangles problems</li>
            <li>• determine, through investigation, the trigonometric ratios of sine, cosine, and tangent as ratios presented
                as fractions</li>
            <li>• use proportional reasoning to solve for triangle measures using Sine Law and Cosine Law</li>
            <li>• solve problems involving measures in right-angled triangles and in non-right angled triangles</li>
        </ul>
    </td>
</tr>
<tr>
    <td>Geometry and Spatial Sense</td>
    <td>
        <ul>
            <li>• determining lines of symmetry of two-dimensional shapes</li>
            <li>• <strong>1m44</strong> - compose and decompose two-dimensional shapes</li>
            <li>• <strong>2m57</strong> - draw simple maps of familiar settings, and describe the relative locations of objects on the maps</li>
            <li>• <strong>1m57</strong> - create and describe symmetrical designs using a variety of tools</li>
            <li>• <strong>3m55</strong> - solve problems requiring the greatest or least number of two-dimensional shapes needed to compose
                a larger shape in a variety of ways</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>4m63</strong> - identify benchmark angles using a reference tool</li>
        </ul>
    </td>
    <td></td>
    <td>
        <ul>
            <li>• <strong>6m47</strong> - sort polygons according to the number of lines of symmetry and the order of rotational symmetry, through
                investigation using a variety of tools</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• use fractions to describe reductions in dilatation and in reducing two-dimensional shapes to create similar
                figures</li>
            <li>• use fractions to describe related lines, e.g., perpendicular lines meet at 90° which is ½ of 180°</li>
            <li>• plot points on the Cartesian plane with simple fractional coordinates</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• graph the image of a point on the Cartesian plane with simple fractional coordinates</li>
            <li>• determine relationships; area, perimeter, and side length of similar shapes, e.g., if 2 triangles are similar
                and the perimeter of one is ½ the perimeter of the other, compare their areas</li>
        </ul>
    </td>
    <td></td>
</tr>
<tr>
    <td>Patterning and Algebra</td>
    <td>
        <ul>
            <li>• partitioning whole numbers using whole numbers</li>
        </ul>
    </td>
    <td></td>
    <td>
        <ul>
            <li>• <strong>5m63</strong> - create, identify, and extend numeric and geometric patterns, using a variety of tools</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>6m61</strong> - determine a term, given its term number, by extending growing and shrinking patterns that are generated
                by adding or subtracting a constant, or multiplying or dividing by a constant, to get the next term</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• model everyday relationships involving rates</li>
            <li>• translate phrases into algebraic expressions</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>8m62</strong> - evaluate algebraic expressions with up to three terms, by substituting fractions, decimals, and integers
                for the variables</li>
            <li>• translate statements into algebraic expressions and equations</li>
        </ul>
    </td>
    <td rowspan="2">
        <ul>
            <li>• interpret points on a scatterplot</li>
            <li>• collect data, describe trends</li>
            <li>• construct tables of values and graphs for data</li>
            <li>• solve equations involving fractional coefficients</li>
            <li>• determine and describe rates of change</li>
            <li>• use initial value and rate of change to express a linear relation</li>
            <li>• determine a point of intersection of two linear relationships</li>
            <li>• solve problems involving quadratic relations</li>
            <li>• represent and apply sequences and series</li>
            <li>• use fractions in probability, including permutations and combinations</li>
        </ul>
    </td>
</tr>
<tr>
    <td>Data Management and Probability</td>
    <td>
        <ul>
            <li>• using fractional concepts but not fractional terminology to discuss and explore probability e.g., more likely,
                less likely.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>4m90</strong> - read, interpret, and draw conclusions from primary data and from secondary data presented in charts,
                tables, and graphs</li>
            <li>• <strong>4m91</strong> - demonstrate, through investigation, an understanding of median and determine the median of a set of
                data</li>
            <li>• <strong>4m93</strong> - compare similarities and differences between two related sets of data, using a variety of strategies</li>
            <li>• <strong>4m94</strong> - predict the frequency of an outcome in a simple probability experiment</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>5m74</strong> - distinguish between discrete data (i.e., data organized using numbers that have gaps between them,
                such as whole numbers, and often used to represent a count, such as the number of times a word is used)
                and continuous data</li>
            <li>• <strong>5m76</strong> - collect and organize discrete or continuous primary data and secondary data and display the data in
                charts, tables, and graphs that have appropriate titles, labels, and scales that suit the range and distribution
                of the data, using a variety of tools</li>
            <li>• <strong>5m81</strong> - compare similarities and differences between two related sets of data, using a variety of strategies</li>
            <li>• <strong>5m82</strong> - determine and represent all the possible outcomes in a simple probability experiment using systematic
                lists and area models;</li>
            <li>• <strong>5m83</strong> - represent, using a common fraction, the probability that an event will occur in simple games and probability
                experiments</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• <strong>6m67</strong> - collect and organize discrete or continuous primary data and secondary data and display the data in
                charts, tables, and graphs that have appropriate titles, labels, and scales that suit the range and distribution
                of the data, using a variety of tools</li>
            <li>• <strong>6m74</strong> - read, interpret, and draw conclusions from primary data and from secondary data presented in charts,
                tables, and graphs</li>
            <li>• <strong>6m76</strong> - explain how different scales used on graphs can influence conclusions drawn from the data;</li>
            <li>• <strong>6m77</strong> - demonstrate an understanding of mean and use the mean to compare two sets of related data, with and
                without the use of technology</li>
            <li>• <strong>6m79</strong> - express theoretical probability as a ratio of the number of favourable outcomes to the total number
                of possible outcomes, where all outcomes are equally likely</li>
            <li>• <strong>6m80</strong> - represent the probability of an event using a value from the range of 0 to 1</li>
            <li>• <strong>6m81</strong> - predict the frequency of an outcome of a simple probability experiment or game, by calculating and
                using the theoretical probability of that outcome</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• use fractions to express the experimental and theoretical probability of an event</li>
            <li>• <strong>7m83</strong> - research and report on real-world applications of probabilities expressed in fraction, decimal, and
                percent form</li>
            <li>• <strong>7m85</strong> - determine the theoretical probability of a specific outcome involving two independent events</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• use fractions to express the experimental and theoretical probability of an event</li>
            <li>• <strong>8m82</strong> - identify the complimentary event for a given event, and calculate the theoretical probability that
                a given event will not occur change
            </li>
        </ul>
    </td>
</tr>
</table>
</main>

<%- include partials/footer.ejs%>
