<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active"><a href="/pathway/opB">OP B</a></li>
  <li class="breadcrumb-item active">Curriculum Connections</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange">
          <p>Operation B</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Use models to compose and decompose with like denominators as a form of adding and subtracting fractions</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row padding-bottom gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/opA_CC.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Curriculum Connections</h1>
      </div>
    </section>

    <section class="row">

      <table class="table-curriculum-connections op">
        <thead>
          <tr>
            <th colspan="2">OP B Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Curriculum Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <ul>
                <li>divide whole objects into parts and identify and describe, through investigation, equal-sized parts of the whole, using fractional names (e.g., halves; fourths or quarters).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <ul>
                <li>regroup fractional parts into wholes, using concrete materials (e.g., combine nine fourths to form two wholes and one fourth);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <ul>
                <li>divide whole objects and sets of objects into equal parts, and identify the parts using fractional names (e.g., one half; three thirds; two fourths or two quarters), without using numbers in standard fractional notation.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>add and subtract fractions with simple like and unlike denominators, using a variety of tools and algorithms; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>
              <ul>
                <li>demonstrate, using concrete materials, the relationship between the repeated addition of fractions and the multiplication of that fraction by a whole number; </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>
              <ul>
                <li>solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9D</td>
            <td>
              <ul>
                <li>identify, through investigation with technology, the geometric significance of m and b in the equation y = mx + b</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>make comparisons using unit rates (e.g., if 500 mL of juice costs $2.29, the unit rate is 0.458¢/mL; this unit rate is less than for 750 mL of juice at $3.59, which has a unit rate of 0.479¢/mL);</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>9P</td>
            <td>
              <ul>
                <li>simplify numerical expressions involving integers and rational numbers, with and without the use of technology;*</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
