<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
  <li class="breadcrumb-item"><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
  <li class="breadcrumb-item"><a href="/tasks/brownie">UNIT B Brownie Sharing</a></li>
  <li class="breadcrumb-item active">Brownie Sharing Implementation</li>
</ol>

<main class="container">
  <!-- Insert pdf here-->
  <img src="pdf/desktopFrac/taskTemplate.png" alt="" />

  <%- include partials/footer.ejs%>
