<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li><a href="./desktopFrac">UNIT B Desktop Fractions</a></li>
</ol>

<main class="container dot-lists pdf-page">
<!-- Insert content here-->
<h1>Desktop Fractions</h1>
<strong> Description</strong>

<p>Using their desks or tables, students will estimate and mark fractional amounts along the edge as a linear measure and on the top surface as an area measure. This task is best used after a solid understanding of number line has been established.</p>

<strong>Mathematics</strong>

<p>This task helps students connect linear models (number lines - which are recommended as a first model), to area models (rectangular). Students locate fractions between 0 and 1 along the edge of their tables, and then extend that same fractional amount to cover an area of the desk top. It is important to think flexibly about different representations of the same fractions - not just equivalent fractions but in this case, different models representing the same fractional quantity.</p>

<strong>Curriculum Connections</strong>

<p>Students will:</p>

<ul>
<li>develop their understanding of fractional quantities by representing these numbers using different models (linear and area);</li>
<li>make connections between linear and area models and symbolic representations of fractions.</li>
</ul>

<strong>Instructional sequence</strong>

<ol>
<li>Pair students and have them select a desk at which to work. Give each pair of students Set #1. Ask them to place 0 at the left edge of the desk and the 1 at the right edge of the desk. Discuss how the full length of the edge of the desk, which is being used as a number line, is one whole.</li>
<li>Ask students to place Set #2 on the desk edge (number line) at the appropriate locations.</li>
<li>Have students think about the area of the desktop. Ask students to cover one half of the desktop using a material of their choice. Discuss how the area of the top of the desk is an area model.</li>
<li>Have students remove Set #2 and provide them with Set #3 to consider for both the linear and area models.</li>
<li>Repeat with Sets #4 and #5. Encourage students to discuss the connections between the models. To consolidate the relationship between the models, play a matching game with linear and area model cards (<abbr title="Blackline Master">BLM</abbr> 1)</li>
</ol>

	<p>Variation: Leave 0, 1, and <abbr title="one half">½</abbr> on desk edge throughout task as benchmarks.</p>

<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking</strong>

<p>Students may:</p>
<ul>
<li>continue to focus solely on the number line when asked to represent a fraction as an area model;</li>
<li>not use correct fraction terminology when stating the amount covered (<abbr title="For example">e.g.</abbr>
, when discussing 2 halves, students may say “1, 2” instead of “one-half, two-halves”);</li>
<li>benefit from repetition of the connection between number line and area with prompting and discussion. </li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions</strong>
<ol>
<li>How can both of these (linear and area representation) be showing the same fraction?</li>
<li>How is the linear model the same as the area model? How is it different?</li>
<li>Where would <abbr title="five fourths">5&frasl;4</abbr> go?</li>
<li>How do you know that your cards are a match?</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
<li>Sticky notes cut into strips or use strip-style sticky notes. Write the following numbers, one per sticky:
<ul>
<li>Set #1:   0, 1</li>
<li>Set #2:   <abbr title="one half">½</abbr>, <abbr title="two halves">2&frasl;2</abbr></li>
<li>Set #3:   1&frasl;3, 2&frasl;3, 3&frasl;3</li>
<li>Set #4:   ¼, 2&frasl;4, 3&frasl;4, 4&frasl;4</li>
<li>Set #5:   1&frasl;5, 2&frasl;5, 3&frasl;5, 4&frasl;5, 5&frasl;5</li>
</ul>
</li>
<li><a href="/pdf/P6_BLM1_Match%20Game.pdf" target="_blank" rel="PDF File"  style="color: #724199;"><abbr title="Blackline Master">BLM</abbr> 1: Match Game Cards (1 set, cut)</a></li>
</ul>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Task Templates</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      <img src="/images/tasks/P6_BLM1_Match Game.png" alt="Meta Game " />
      <p>To download a copy of this .pdf, click <a href="/pdf/P6_BLM1_Match Game.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Implementation</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/xyh4bXyWNw8" frameborder="0" allowfullscreen></iframe>

<!-- Insert accordian transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse0">Transcript</a>
      </h4>
    </div>
    <div id="collapse0" class="panel-collapse collapse">
      <div class="panel-body">

        <h2>Desktop Fractions Transcript</h2>

        <table>
          <tr>
              <th>Time</th>
              <th>Transcript</th>
          </tr>
          <tr>
            <td>00:00:00</td>
            <td>
              Teacher: … somehow show, if this was your number line at the bottom across your desk, at the bottom,
              if you think about the area or the space that your whole desk covers as the whole, could you somehow show
              one of the adults or your partner, what half of your desk is?  So cover up or show what half of your desk is.
              And then an adult may ask you to explain what you are thinking.
        </td>
          </tr>
          <tr>
            <td>00:00:30</td>
            <td>
              Student 1: What we did was we went a different way on our desk and we figured out that, and we knew that zero and the
              three thirds were here so we put zero at the left side and then we put the whole at the right side.  And then we figured out,
              because it is a smaller length on the side of the desk than the other way of the desk, then we have to put it different sizes
              in between the whole and the zero.
        </td>
          </tr>
          <tr>
            <td>00:01:03</td>
            <td>
              <p>Student 2:  And we could go over like this (moves the zero and three thirds stickies).</p>
              <p>Student 1: And then it would be, it would be right about there. </p>
              <p>(Student 2 checks partitions)</p>
              <p>Student 1: And it would be the same way but </p>
              <p>Student 2:  The same amount of the desk or the area as the other way.</p>
        </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>

      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Student Thinking</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
      <img src="/images/tasks/DesktopFractions_StudentThinking_Unit-B.png" alt="Desktop Fractions" />
      <p>To download a copy of this .pdf, click <a href="/pdf/DesktopFractions_StudentThinking_Unit-B.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse4">Additional Resources</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">

  <a href="/supportDocs/waysWeUseFrac">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/waysUse1.png" alt="Ways We Use Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Ways We Use Fractions</h3>
        </div>
      </div>
    </div>
  </a>


  <a href="/supportDocs/devFracNumSense">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" height="100px" width="100px">
        <div class="caption">
          <h3>Developing Fraction Number Sense</h3>
        </div>
      </div>
    </div>
  </a>


  <a href="/supportDocs/purpRep">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" height="100px" width="100px">
        <div class="caption">
          <h3>Purposeful Representations</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/devPartItDisembed">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="100px">
        <div class="caption">
          <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildUnitFrac">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Building Understanding of Unit Fractions</h3>
        </div>
      </div>
    </div>
  </a>

</div>
      </div>
    </div>
  </div>
</div>

<!-- Insert implementation content here-->
<!-- 16:9 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="desktopFractionsVideo.mp4"></iframe>
</div> -->

<!-- 4:3 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="desktopFractionsVideo.mp4"></iframe>
</div> -->

</main>
<%- include partials/footer.ejs%>
