<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/desktopFrac">UNIT B Desktop Fractions</a></li>
    <li><a href="/tasks/desktopFracImplementation">Desktop Fractions Implementation</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/xyh4bXyWNw8" frameborder="0" allowfullscreen></iframe>

<!-- Insert accordian transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

        <h2>Desktop Fractions Transcript</h2>

        <table>
          <tr>
              <th>Time</th>
              <th>Transcript</th>
          </tr>
          <tr>
            <td>00:00:00</td>
            <td>
              Teacher: … somehow show, if this was your number line at the bottom across your desk, at the bottom,
              if you think about the area or the space that your whole desk covers as the whole, could you somehow show
              one of the adults or your partner, what half of your desk is?  So cover up or show what half of your desk is.
              And then an adult may ask you to explain what you are thinking.
        </td>
          </tr>
          <tr>
            <td>00:00:30</td>
            <td>
              Student 1: What we did was we went a different way on our desk and we figured out that, and we knew that zero and the
              three thirds were here so we put zero at the left side and then we put the whole at the right side.  And then we figured out,
              because it is a smaller length on the side of the desk than the other way of the desk, then we have to put it different sizes
              in between the whole and the zero.
        </td>
          </tr>
          <tr>
            <td>00:01:03</td>
            <td>
              <p>Student 2:  And we could go over like this (moves the zero and three thirds stickies).</p>
              <p>Student 1: And then it would be, it would be right about there. </p>
              <p>(Student 2 checks partitions)</p>
              <p>Student 1: And it would be the same way but </p>
              <p>Student 2:  The same amount of the desk or the area as the other way.</p>
        </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>



<%- include partials/footer.ejs%>
