<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
  <li class="breadcrumb-item"><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
  <li class="breadcrumb-item"><a href="/tasks/desktopFrac">UNIT B Desktop Fractions</a></li>
  <li class="breadcrumb-item active">Desktop Fractions Student Thinking</li>
</ol>

<main class="container">
  <!-- Insert pdf here-->

  <img src="pdf/desktopFrac/studentThinking.png" alt="" />

  <%- include partials/footer.ejs%>
