<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./devFracNumSense">Developing Fraction Number Sense</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
<h2>Math Teaching for Learning: Developing Fraction Number Sense</h2>
<div class="gen-pdf">
<a href="/pdf/Fractions_DevelopingNumberSense.pdf">Download PDF</a>
</div>

<p>Students who have a strong understanding of fraction as number are better equipped to work with fraction operations. There are a number of factors which contribute to a student’s fraction number sense, including understanding:</p>
<ul>
<li>• multiple meanings of fractions (part-whole, part-part, quotient, operator).</li>
<li>• benchmark fractions, such as <abbr title="one fourth">¼</abbr>
, 2<abbr title="one half">½</abbr>, <abbr title="one third">1&frasl;3</abbr>, <abbr title="three fourths">¾</abbr>.</li>
<li>• multiple strategies for reasoning and proving.</li>
</ul>

<h3>Multiple Meanings</h3>
<table class="tbl-col3">
<tr>
  <th>Why</th>
    <th>How</th>
    <th>Research</th>
</tr>
<tr>
  <td>
    <p>To help students understand fractions deeply we need to address more than a simple understanding of part-whole relationships by expanding to:</p>
    <ul>
        <li>• fractions as operators;</li>
        <li>• fraction as values by which a quantity is enlarged or shrunk;</li>
        <li>• mixed fractions;</li>
        <li>• the use of fractions in algebra.</li>
    </ul>
    <p>Students must have an understanding of fractions across multiple meanings in order to have flexibility when using fractions in context.</p>
    </td>
    <td>
    <p>Provide a range of tasks which focus on the multiple meanings, including:</p>
    <ul>
        <li>• that a fraction is a number or measure from 0;</li>
        <li>• part-whole;</li>
        <li>• part-part;</li>
        <li>• quotient;</li>
        <li>• operator;</li>
    </ul>
    <p>and use a range of representations, including:</p>
    <ul>
        <li>• number line models;</li>
        <li>• area models, especially rectangles;</li>
        <li>• set models.</li>
    </ul>
    </td>
    <td>
    Charalambous et al. (2010) found that “engaging students with multiple fraction constructs catalyzes learning, not only because each fraction construct captures part of the broader notion of fractions but also because moving from one construct to another reinforces understanding” (142).
For more information see Math for Teaching: Ways We Use Fractions (www.edugains.ca).
    </td>
</tr>
</table>




<h3>Benchmark Fractions</h3>
<table class="tbl-col3">
<tr>
  <th>Why</th>
    <th>How</th>
    <th>Research</th>
</tr>
<tr>
  <td>
    The knowledge of benchmark fractions supports students in estimating sums and differences (Johanning, 2011). Students should be expected to demonstrate an understanding of the appropriate use of the operations as well as the different effects that operations have on numbers.
    </td>
    <td>
    <p>Engage students in activities which require them to develop and apply an understanding of benchmarks, including:</p>
    <ul>
        <li>• unit fractions counting games;</li>
        <li>• partitioning number lines and area models into unit fractions;</li>
        <li>• composing and decomposing fractions using benchmark fractions.</li>
    </ul>
    </td>
    <td>
    Johanning (2011) states that “providing simple contextual problems that require estimation and that can be solved using models or diagrams will encourage the use of number sense when operating with fractions” (100; also see Cramer, Monson, Whitney, Leavitt, & Wyberg. 2010, Van de Walle, Karp, & Bay-Williams, 2010).
    </td>
</tr>
</table>




<h3>Reasoning and Proving</h3>
<table class="tbl-col3">
<tr>
  <th>Why</th>
    <th>How</th>
    <th>Research</th>
</tr>
<tr>
  <td>
    Students engaged in discussing and reasoning about fractions develop a deeper understanding of fractions concepts being examined.
    </td>
    <td>
    <p>Purposefully support and engage students through:</p>
    <ul>
        <li>• Math Talk Learning Communities;</li>
        <li>• flexible grouping strategies;</li>
        <li>• encouraging students to represent their mathematics in multiple ways;</li>
        <li>• using Math Congress to share student thinking.</li>
    </ul>
    </td>
    <td>
    The intentional creation of a math talk learning community allows students to reflect upon their thinking and determine the reasonableness of an answer, which involves the evaluation of reasonableness of the algorithm used (Johanning, 2011). Math-talk guidelines (Bruce, 2007) can help students agree with reason, disagree with reason, build-on one another’s ideas, and make connections between math ideas.
    </td>
</tr>
</table>
<p>&nbsp;</p>
<p>Consider how these three factors play a role in the following scenario:</p>
<p>Students are asked to “identify two fractions on a number line that would sum to approximately one but not exactly one”.</p>
<p>Students may arrive at a sum which is slightly less than one by considering:</p>
<ul>
<li>• two benchmark unit fractions such as <abbr title="one half">½</abbr> and <abbr title="one third">1&frasl;3</abbr>;<br>
<img src="/images/pdf-img/dev-sense1.png" alt="" height="" width="" />
</li>
<li>• two fractions with a common denominator such as <abbr title="seven twelfths">7&frasl;12</abbr> and <abbr title="four twelfths">4&frasl;12</abbr>;</li>
<li>• two fractions with friendly denominators, such as <abbr title="seven twelfths">7&frasl;12</abbr> and abbr title="one third">1&frasl;3</abbr>;</li>
<li>• two fractions which are close to <abbr title="one half">½</abbr>, such as <abbr title="eleven twenty-thirds">11&frasl;23</abbr> and <abbr title="sixteen thirty-thirds">16&frasl;33</abbr> (both are slightly less than <abbr title="one half">½</abbr> so have a sum slightly less than one);<br>
<img src="/images/pdf-img/dev-sense2.png" alt="" height="" width="" />
</li>
<li>• or <abbr title="twenty-one twenty-thirds">21&frasl;23</abbr> and <abbr title="one thirty-third">1&frasl;33</abbr> since the first is closer to 1 and the second is closer to 0 (and the second fraction has a higher denominator).<br>
<img src="/images/pdf-img/dev-sense3.png" alt="" height="" width="" />
</li>
</ul>

<p>Similar strategies could be used to select a sum which is slightly more than one.</p>

    <div class="pdf-bottom-info">
        <div class="col-md-4 center">Curriculum and Assessment Policy Branch</div>
        <div class="col-md-4 center"><abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr></div>
        <div class="col-md-4 center">Dr. Cathy Bruce TMERC 2014</div>
        <div class="col-md-4 center">Last revised August 7 2015</div>
    </div>
</main>
<%- include partials/footer.ejs%>
