<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./devPartItDisembed">Developing Proficiency with Partitioning, Iterating, and Disembedding</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
<h2>Math Teaching for Learning: Developing Proficiency with Partitioning, Iterating and Disembedding</h2>
<div class="gen-pdf">
    <a href="/pdf/Fractions_IteratingandPartitioning.pdf">Download PDF</a>
</div>

<p>When students create a fraction by equally segmenting a ribbon, strip, region or group of objects, they are partitioning.</p>
<p>When students perform the action of aligning, copying or combining equal units to verify a fraction, they are iterating.</p>
<p>In other words, partitioning involves “creating smaller, equal-sized amounts from a larger amount” while iterating involves “<q>making copies of a smaller amount and combining them to create a larger amount</q>” (Siebert & Gaskin, 2006, 395). Even when students are able to accurately partition an area model to show a fraction (correctly showing the number of parts within the whole), they may actually then ignore the whole as an essential piece of information in understanding the fractional relationship. Hackenburg and Lee (2012) highlight that to truly understand part-whole fractional relationships, one must not only be able to see the part within the whole (embedding) but must simultaneously “<q>disembed</q>” the parts within the whole – to consider them as separate from “the whole while keeping the whole mentally intact” (943).</p>
<p>When students can construct and deconstruct fractions in this manner they understand that a fraction is a number and develop a fractional number sense. This supports them in subsequent fraction learning, including operations where they will be better able to estimate the answer before completing the calculations.</p>

<h3>Partitioning and Iterating</h3>
<p>Partitioning an area model to represent 51 involves dividing a whole into five equal parts, such that each part is an equal amount of area, and showing one of those parts (in this case a one-fifth unit).</p>
<div class="center"><img src="/images/pdf-img/devProf1.png" alt=""/></div>
<p>Iterating an area model to represent a whole involves copying the unit of one-fifth 5 times.</p>
<div class="center"><img src="/images/pdf-img/devProf2.png" alt=""/></div>
<p>Students, through the act of partitioning, create unit fractions and may count during iteration to create the whole. To reinforce the importance of the unit, students can count each unit: ‘1 one-fifth, 2 one-fifths, 3 one-fifths, 4 one-fifths, 5 one-fifths’ to create a whole from the unit fraction.</p>
<p>Petit et al. (2010) suggest a specific sequence for partitioning and iterating:</p>
<ol>
<li>
Begin with partitioning that involves repeated halving (one half, then halving each half, and so on);
<div class="center">
<img src="/images/pdf-img/devProf3.png" alt="" height="" width="" /></div>
</li>
<li>
Then engage in creating partitions of other even numbers, such as tenths (which allow for partitioning of one-half and require further partitioning of each half into fifths);
<div class="center">
<img src="/images/pdf-img/devProf4.png" alt="" height="" width="" /></div>
</li>
<li>Students should then create odd number partitions, such as ninths and sevenths (which require partitioning other than one-half);
<div class="center">
<img src="/images/pdf-img/devProf5.png" alt="" height="" width="" /></div>
</li>
<li>
Then students should work with composite number partitions, such as twelfths, which can be constructed using a rectangle partitioned into 3 rows and 4 columns. This engages students in multiplicative reasoning to construct the wholes as ‘3 groups of 4’. Students can use multiplicative reasoning to reconstruct the whole from a part during iterating as well.
<div class="center">
<img src="/images/pdf-img/devProf6.png" alt="" height="" width="" /></div>
</li>
</ol>

<p>The use of linear (and some area) visual representations, such as number lines and bars, strips or ribbons, enable students to think about partitioning and iterating as relative length or distance (or area) relationships, which is a particularly powerful way to make sense of fractional parts.</p>

<h3>Disembedding Parts from the Whole</h3>
<p>Hackenberg & Lee (2012) found that students who demonstrate ‘pre-fractional understanding’ treat three fifths as three whole shaded pieces of five pieces (a piece-wise approach) and they are not able to unitize or iterate; that is, to see three fifths as ‘3 one-fifths’. Requiring students to disembed aids the development of fraction understanding.</p>

<p>As an example of the cognitive processes required to disembed (to see parts while keeping track of the whole), suppose that a student is asked to identify <abbr title="one sixth">1&frasl;6</abbr> of the following figure, and then use that <abbr title="one sixth">1&frasl;6</abbr> unit to create a shape that is <abbr title="five sixths">5&frasl;6</abbr> of the original whole.</p>
<div class="center"><img src="/images/pdf-img/devProf7.png" alt=""></div>
<p>A student would first partition the figure into six equal sections. They would then ‘<q>disembed</q>’ one-sixth whilst simultaneously holding the mental image and meaning of the whole (which is 6 one-sixths). The student could then iterate the one sixth to make <abbr title="five sixths">5&frasl;6</abbr> of a whole.</p>

    <div class="pdf-bottom-info">
        <div class="col-md-4 center">Curriculum and Assessment Policy Branch</div>
        <div class="col-md-4 center"><abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr></div>
        <div class="col-md-4 center">Dr. Cathy Bruce TMERC 2014</div>
        <div class="col-md-4 center">Last revised August 7 2015</div>
    </div>
</main>
<%- include partials/footer.ejs%>
