<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<h1>Fractions: Representing, Ordering, Comparing</h1>
<h2>Professional Learning about Fractions</h2>
<!--Insert Professinal Learning content here-->



<div class="row">
<a href="/digitalPaper/fracRepCompOrder">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/research/digitalPaper/fracRepCompOrder.png" alt="Fractions Representing Comparing Ordering" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Fractions Representing Comparing Ordering</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/digitalPaper/instrDec">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/research/digitalPaper/instrDec.png" alt="Instructional Decisions" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Instructional Decisions</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/digitalPaper/studentLearn">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/research/digitalPaper/studentLearn.png" alt="Student Learning" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Student Learning</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/digitalPaper/teachProLearn">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/research/digitalPaper/teachProLearn.png" alt="Teacher Professional Learning" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Teacher Professional Learning</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>
</div>

<%- include partials/footer.ejs%>
