<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/digitalTasks">Lessons</a></li>
</ol>
</header>

<main class="container">

  <section class="row">
    <div class="col-sm-12 col-md-12">
      <h1>Lessons</h1>
    </div>
  </section>

  <section class="row">
    <div class="col-sm-12 col-md-12">
      <h2>Lesson Bundles</h2>
    </div>

    <a href="/tasks/rep">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <!-- <figure>
            <img src="/images/tasks/lessons/rep1.png" alt="Representations (Jr)" class="img-rounded img-responsive margin-auto">
          </figure> -->
          <div class="caption">
            <h3>Representations (Jr)</h3>
            <p>Building upon the representation lesson using <abbr title="Two Fifths"><sup>2</sup>/<sub>5</sub></abbr> and <abbr title="Four Tenths"><sup>4</sup>/<sub>10</sub></abbr>, this bundle of five lessons supports students in connecting their knowledge of fractions to ordering on the number line and being more purposeful in the selection of representations for given contexts.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="/tasks/setRep">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <!-- <figure>
            <img src="/images/tasks/lessons/setRep13_002.png" alt="Set Representations (Jr)" class="img-rounded img-responsive margin-auto">
          </figure> -->
          <div class="caption">
            <h3>Set Representations (Jr)</h3>
            <p>These five lessons use a variety of materials to build student understanding of representing fractions using sets.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="/tasks/equivFrac">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <!-- <figure>
            <img src="/images/tasks/lessons/equivFrac1.png" alt="Equivalence of Fractions (Jr - Int)" class="img-rounded img-responsive margin-auto">
          </figure> -->
          <div class="caption">
            <h3>Equivalence of Fractions (Jr - Int)</h3>
            <p>This set of four lessons provides multiple learning opportunities for students to develop an understanding of equivalence through a variety of manipulatives and the number line.</p>
          </div>
        </div>
      </div>
    </a>
    <a href="/tasks/orderNumLine">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <!-- <figure>
            <img src="/images/tasks/lessons/equivFrac2.png" alt="Ordering on a Number Line (Gr 7)" class="img-rounded img-responsive margin-auto">
          </figure> -->
          <div class="caption">
            <h3>Ordering on a Number Line (Gr 7)</h3>
            <p>This set of four lessons supports students in connecting fractions, decimals and percentages by ordering them on a number line. This lesson could be utilized in earlier grades with simple modifications to the numbers provided to students.</p>
          </div>
        </div>
      </div>
    </a>
  </section>

  <section class="row">
    <div class="col-sm-12 col-md-12">
      <h2>Single Lessons</h2>
    </div>

    <a href="/tasks/fracRep">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <!-- <figure>
            <img src="/images/tasks/lessons/rep2.png" alt="Fractions Representation (Jr-Int)" class="img-rounded img-responsive margin-auto">
          </figure> -->
          <div class="caption">
            <h3>Fractions Representation (Jr-Int)</h3>
            <p>This lesson allows students to share what they understand about fractions by representing <abbr title="Two Fifths"><sup>2</sup>/<sub>5</sub></abbr> or <abbr title="Four Tenths"><sup>4</sup>/<sub>10</sub></abbr>.</p>
          </div>
        </div>
      </div>
    </a>   
    <a href="/tasks/compOrder">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <!-- <figure>
            <img src="/images/tasks/lessons/compOrderFrac.png" alt="Comparing and Ordering Fractions (Gr 6)" class="img-rounded img-responsive margin-auto">
          </figure> -->
          <div class="caption">
            <h3>Comparing and Ordering Fractions (Gr 6)</h3>
            <p>This lesson engages students in ordering fractions on a number line.</p>
          </div>
        </div>
      </div>
    </a>    
    <a href="/tasks/setAreaMod">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <!-- <figure>
            <img src="/images/tasks/lessons/setAreaMod2.png" alt="Fractions Representations with Set Area Models (Gr 6)" class="img-rounded img-responsive margin-auto">
          </figure> -->
          <div class="caption">
            <h3>Fractions Representations with Set Area Models (Gr 6)</h3>
            <p>In this lesson, students use a set of pattern blocks to generate fractions. This allows for discussion of the similarities and differences between set models and area models for part-whole relationships.</p>
          </div>
        </div>
      </div>
    </a>    
    <a href="/tasks/impSetRep">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <!-- <figure>
            <img src="  /images/tasks/lessons/impFracSetRep1.png" alt="Improper Fractions with Set Representations (Gr 6)" class="img-rounded img-responsive margin-auto">
          </figure> -->
          <div class="caption">
            <h3>Improper Fractions with Set Representations (Gr 6)</h3>
            <p>Based upon the Gap Closing resource, this lesson requires students to represent improper fractions using a set representation.</p>
          </div>
        </div>
      </div>
    </a>
  </section>
<%- include partials/footer.ejs%>