<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/digitalTasks">Lessons</a></li>
</ol>
</header>

<main class="container">

<h1>Lessons</h1>
<h2>Lesson Bundles</h2>

<div class="row">
<a href="/tasks/rep">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Representations (Jr)</h3>
        <p>Building upon the representation lesson using 2/5 and 4/10, this bundle of five lessons supports students in connecting their knowledge of fractions to ordering on the number line and being more purposeful in the selection of representations for given contexts.</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/setRep">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Set Representations (Jr)</h3>
        <p>These five lessons use a variety of materials to build student understanding of representing fractions using sets.</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/equivFrac">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Equivalence of Fractions (Jr - Int)</h3>
        <p>This set of four lessons provides multiple learning opportunities for students to develop an understanding of equivalence through a variety of manipulatives and the number line.</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/orderNumLine">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Ordering on a Number Line (Gr 7)</h3>
        <p>This set of four lessons supports students in connecting fractions, decimals and percentages by ordering them on a number line. This lesson could be utilized in earlier grades with simple modifications to the numbers provided to students.</p>
      </div>
    </div>
  </div>
</a>
</div>




<h2>Single Lessons</h2>

<div class="row">
<a href="/tasks/fracRep">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Fractions Representation (Jr - Int)</h3>
        <p>This lesson allows students to share what they understand about fractions by representing 2/5 or 4/10.</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/compOrder">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Comparing and Ordering Fractions (Gr 6)</h3>
        <p>This lesson engages students in ordering fractions on a number line.</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/setAreaMod">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Fractions Representations with Set Area Models (Gr 6)</h3>
        <p>In this lesson, students use a set of pattern blocks to generate fractions. This allows for discussion of the similarities and differences between set models and area models for part-whole relationships.</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/impSetRep">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Improper Fractions with Set Representations (Gr 6)</h3>
        <p>Based upon the Gap Closing resource, this lesson requires students to represent improper fractions using a set representation.</p>
      </div>
    </div>
  </div>
</a>
</div>



<%- include partials/footer.ejs%>
