<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/digitalTasks">Lessons</a></li>
</ol>
</header>

<main class="container">

<h1>Lessons</h1>
<h2>Lesson Bundles</h2>

<div class="row">
<a href="/tasks/rep">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/tasks/lessons/rep1.png" alt="Representations (Jr)" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Representations </h3>
        <p>(Jr)</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/setRep">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/tasks/lessons/setRep13_002.png" alt="Set Representations (Jr)" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Set Representations </h3>
        <p>(Jr)</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/equivFrac">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/tasks/lessons/equivFrac1.png" alt="Equivalence of Fractions (Jr - Int)" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Equivalence of Fractions</h3>
        <p>(Jr - Int)</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/orderNumLine">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/tasks/lessons/equivFrac2.png" alt="Ordering on a Number Line (Gr 7)" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Ordering on a Number Line</h3>
        <p>(Gr 7)</p>
      </div>
    </div>
  </div>
</a>
</div>




<h2>Single Lessons</h2>

<div class="row">
<a href="/tasks/fracRep">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/tasks/lessons/rep2.png" alt="Fractions Representation (Jr-Int)" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Fractions Representation</h3>
        <p>(Jr-Int)</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/compOrder">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/tasks/lessons/compOrderFrac.png" alt="Comparing and Ordering Fractions (Gr 6)" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Comparing and Ordering Fractions</h3>
        <p>(Gr 6)</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/setAreaMod">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/tasks/lessons/setAreaMod2.png" alt="Fractions Representations with Set Area Models (Gr 6)" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Fractions Representations with Set Area Models</h3>
        <p>(Gr 6)</p>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/impSetRep">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/images/tasks/lessons/impFracSetRep1.png" alt="Improper Fractions with Set Representations (Gr 6)" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h3>Improper Fractions with Set Representations</h3>
        <p>(Gr 6)</p>
      </div>
    </div>
  </div>
</a>
</div>



<%- include partials/footer.ejs%>
