<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Equals Game</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange"><p>Operation E</p></div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with like denominators using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/equalsGame/OE_T%2330_EqualsGame_TASK_FINAL.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Equals Game</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
        <img src="/images/tasks/equalsGame/equalsGame-thumbnail.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>This is a series of games to be played in pairs, which will take students from building and naming equivalent fractions, through to building and naming addition and subtraction equations. Students compose and decompose fractions in order to add and subtract using cards (fractions, equals sign and operation cards) and relational rods. </p>

      <h4>Mathematics</h4>
      <p>By exploring equivalence, students develop an understanding that equivalent fractions are simply different ways of naming the same quantity. In these games, students build a visual representation to match a corresponding fraction card. This builds a connection between visual representations and notational representations of fractions. These connections allow students to apply their understanding of equivalence in order to add and subtract fractions.  </p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
      <li>demonstrate and explain the concept of equivalent fractions using concrete materials</li>
      <li>use a variety of strategies to solve problems involving adding and subtracting of fractions</li>
      <li>solve problems involving addition and subtraction with simple fractions</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <p>GAME 1 - Equivalent Fractions Game</p>
      <ol>
        <li>In pairs, Player 1 places one fraction card (available on <abbr title="Blackline Master">BLM</abbr> 1) on one side of the equals sign tent card. Player 2 must find a matching equivalent fraction card and place it on the other side of the equals sign.</li>
        <li>Students represent both fractions using relational rods and record on <abbr title="Blackline Master">BLM</abbr> 2.</li>
        <li>Repeat steps 1 and 2 as frequently as desired. Students may create additional fractions cards as needed.</li>
      </ol>
      <p>GAME 2 - Adding and Subtracting Operations Game</p>
      <ol start="4">
        <li>In pairs, Player 1 places one fraction card on one side of the equals sign tent card and Player 2 must find a pair of fraction cards with an equivalent sum. (Example:  ____=____+____) Play a few rounds. Encourage students to use the relational rods as the site of the problem solving, in addition to justifying their equivalent sum.</li>
        <li>Now more than one card can go on either side or both sides of the equals sign. Use operations cards (or blank cards/sticky notes) to write addition signs to make both sides equal. (Example: ____+____=____+____).</li>
        <li>Repeat steps 4 and 5 using subtraction operation cards. Record your thinking as you go.</li>
        <li>Identify other equations that are also true (Example: ____+____=____+____ - ____)</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>asily represent their thinking in fractional notation but struggle to represent their thinking using the relational rods, or vice versa</li>
          <li>uess and check, and rely on learning conversations with their peer or teacher for support</li>
          <li>sist cooperation, which may hamper the quality of student thinking (encourage math-talk and collaborative problem solving with the materials for the game)</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How do you know that you are right? Can you prove it?</li>
          <li>Can you show fractions greater than a whole?</li>
          <li>What 3 fractions could you use to make an equivalent sum?</li>
        </ol>
      </div>
    </section>
<!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/equalsGame/Equals_GameFractionCards_BLM-1_20160712_v3.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (copied, cut, one set per pair)</li>
        <li><a href="/pdf/equalsGame/Equals_Game_Student_Record_BLM-2_20160712_v3.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 2</a> (one copy per student)</li>
        <li>Relational rods (one set per pair)</li>
        <li>Blank cards/sticky notes for operations (+ and -) as well as additional fractions if needed</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-black.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/equalsGame/Equals_GameFractionCards_BLM-1_20160712_v3.jpg" alt="Turf Touchdown" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/equalsGame/Equals_GameFractionCards_BLM-1_20160712_v3.pdf" target="_blank">here</a>.</figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/equalsGame/Equals_Game_Student_Record_BLM-2_20160712_v3.jpg" alt="Turf Touchdown" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/equalsGame/Equals_Game_Student_Record_BLM-2_20160712_v3.pdf" target="_blank">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

          <div class="row padding-bottom">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <div class="embed-responsive embed-responsive-16by9">
                <video controls poster="/images/videos-placeholder-image/P34_EqualsGame_Implementations.png">
                  <source src="../videos/P34_EqualsGame_Implementations.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/equalsGame/EqualsGame_StudentThinking_OP-E.jpg" alt="Equals Game Studing Thinking" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/equalsGame/EqualsGame_StudentThinking_OP-E.pdf" target="_blank">here</a>.</p>
          </figure>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <div class="embed-responsive embed-responsive-16by9">
                <video controls poster="/images/videos-placeholder-image/P34_EqualsGame.png">
                  <source src="../videos/P34_EqualsGame.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-6">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" class="img-rounded img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building to Addition and Subtraction of Fractions</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="/litreviews/foundationsAddSub">
              <div class="col-sm-6 col-md-6 ">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/pdf-img/addSub1.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" class="img-responsive margin-auto img-rounded">
                  </figure>
                  <div class="caption">
                    <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>
