<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Tasks</a></li>
    <li><a href="./comp">Comparing Fractions Tasks</a></li>
    <li><a href="./equivalencyComp">Equivalency Comparisons</a></li>
</ol>

<main class="container dot-lists pdf-page" role="main">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>Equivalency Comparisons</h1>
    </div>
  </section>

  <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
    <img src="/images/tasks/Equivalency_Comparisons-small.png" alt="Placeholder image" class="img-responsive margin-auto" />
  </section>

  <section class="row">
    <h4>Description</h4>
    <p>This is a set of prompts consisting of purposely paired fractions to elicit the use of various strategies. The prompts may be used on different occasions depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding. Encourage students to build models/representations and create contexts to support visualization of fractions, which in turn supports meaning-making. </p>
  
    <h4>Mathematics</h4>
    <p>Research shows that it is beneficial to spread fraction learning throughout the year and embed it in other strands. These prompts progress in complexity from comparisons of equivalent fractions, to examples that include same denominators, to comparisons of very close fractions with different numerators and denominators. Students are encouraged to develop a range of different strategies and to use them strategically, based on the situation.</p>
  </section>

  <section class="row">
    <h4>Curriculum Connections</h4>
    <p>Students will:</p>
    <ul>
      <li>represent, compare and order fractional amounts using a variety of tools</li>
    </ul>
  </section>

  <section class="row">
    <h4>Instructional sequence</h4>
    <ol>
      <li>Partner students and introduce the task. Post the selected prompt (select from options to the right) on the black/whiteboard or interactive whiteboard, or distribute on a handout.</li>
      <li>Provide students time to complete the task. Encourage them to use graph paper, rulers and manipulatives (concrete or virtual, such as the tools at <a href="mathies.ca">mathies.ca</a>.</li>
      <li>Have students describe their thinking. Highlight different strategies by purposely choosing students that solved the task in different ways. Have students identify the similarities and differences between the strategies.</li>
    </ol>
  </section>

  <section class="row promptBox">
    <h5>Prompt #1</h5>
    <p>Are 2&frasl;6 and 4&frasl;12 equal? Show your thinking.</p>
    <h5>Prompt #2</h5>
    <p>Show that 3&frasl;4 is the same as 15&frasl;20</p>
    <h5>Prompt #3</h5>
    <p>Is 2&frasl;6 equal to 3&frasl;9? Show your thinking.</p>
  </section>

  <section class="row">
    <div class="col-sm-6 col-md-6 no-padding-left">
      <h4>Highlights of student thinking</h4>

      <p>Students may:</p>
      <ul>
        <li>construct accurate models to compare two or more fractions</li>
        <li>rely on the algorithm for determining equivalent fractions</li>
        <li>consider only the numerators or only the denominators</li>
        <li>use benchmarks to make estimates for comparison</li>
        <li>consider the size of the unit fractions (as indicated by the denominators)</li>
        <li>consider the proximity of the fraction to 1 by identifying the ‘missing piece’ (complement)</li>
        <li>be purposeful about the strategy for comparison based on the fractions given</li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-6">
      <h4>Key questions</h4>
      <ol>
        <li>Did you think of contexts to help you visualize the fractions? How did this help you?</li>
        <li>Share how you visualized the fractions.</li>
        <li>How did your representation help you to compare the fractions?</li>
        <li>What strategy did you find most helpful? Why?</li>
        <li>What manipulatives could you use to help you?</li>
      </ol>
    </div>
  </section>

  <section>
    <hh4>Materials</h4>
    <p>Make tools available such as paper and markers, grid paper, paper strips for folding, and/or manipulatives such as relational rods.</p>
  </section>

  <section class="row padding-bottom">
    <a href="./equivalencyComparisonsTeacherNotes" style="color: #724199; border-bottom: 2px solid #724199; text-decoration: none;">Teacher Notes</a>
  </section>

  <section class="row">
    <div class="panel-group">
      <div class="panel panel-default">
        <!-- First Acordeon -->
        <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse1"><h4>Task Templates</h4></a>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <figure class="padding-bottom">
              <img src="/images/tasks/TT_P8_Comp_A _Fractions_Prompts_Teacher_Notes_v6.png" alt="First Double Chocolate Chip Cookie Recipe" class="img-responsive margin-auto" />
              <figcaption>To download a copy of this .pdf, click <a href="/pdf/P8_Comp_A _Fractions_Prompts_Teacher_Notes_v6.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include partials/footer.ejs%>