<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./equivFrac">Equivalence of Fractions (Jr - Int)</a></li>
</ol>


<main class="container">

<h1>Equivalence of Fractions (Jr - Int)</h1>

  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Fraction: Day 1: Representing Fractions Using Manipulatives</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p><abbr title="Junior">Jr</abbr>/<abbr title="Intermediate">Int</abbr></p>

          <p><abbr title="Minds On">MO</abbr> 5 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 45 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 25 <abbr title="minutes">min</abbr></p>
          <p>75 min</p>

          <h3>Math Learning Goals</h3>
          <p>Students will:</p>
          <ul>
              <li>represent fractions as parts of a whole using a variety of models</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>
          , use of benchmarks to support and refine the meaning of fractions</li>
          </ul>

          <h3>Materials</h3>
          <ul>
              <li>a variety of manipulatives</li>
              <li>sticky notes</li>
          </ul>


          <table>
            <tr>
                <th>Minds On…</th>
                  <td>
                  <h4>Independent  Math Log</h4>
          Students respond to the prompt: What is a fraction?
              </td>
                  <td></td>
              </tr>
              <tr>
                <th>Action!</th>
                  <td>
                  <h4>Pairs  Parallel Task (15 <abbr title="minutes">min</abbr>)</h4>
                  Ask students to select one of the following fractions: <abbr title="four tenths">4&frasl;10</abbr> or <abbr title="two fifths">2&frasl;5</abbr>, and represent it in as many ways as they canr. Pairs display all of their representations in their workspace.

                  <h4>Whole Group  Gallery Walk (10 <abbr title="minutes">min</abbr>)</h4>
                  Students circulate around the room and review the different representations. Students consider which representation they think most clearly shows the fraction, and indicate their preference by placing a sticky note with their name by their first choice. Ask students to be prepared to discuss any similarities or differences they notice between the representations of <abbr title="four tenths">4&frasl;10</abbr> and <abbr title="two fifths">2&frasl;5</abbr>.
                  </td>
                  <td>
                  Teachers can provide scaffolding by suggesting different manipulatives for different pairs.
                  Students may notice that the two fractions are equivalent. Allow them to reason and explore to reach this conclusion.
                  </td>
              </tr>
              <tr>
                <th>Consolidate Debrief</th>
                  <td>
                  <h4>Whole Group  Discussion</h4>
                  <p>Organize and name the different types of representations students preferred. Ask students who put their name on a sticky note by each particular representation to explain why they think that one is the most effective. Use prompts such as:</p>
                  <ul>
                      <li>What did you see?</li>
                      <li>What did you like?</li>
                      <li>I am noticing a lot of students selected (this) model. Why do you think so many of us chose that representation?</li>
                      <li>Why didn’t you pick (the most popular)?</li>
                      <li>I am interested in this representation…. (least picked)</li>
                      <li>One of my favourite representations of <abbr title="two fifths">2/5</abbr> is (show a representation that students did not show <abbr title="For example">e.g.</abbr>
          , position on a number line). Why do you think I like this type of representation?</li>
                  </ul>

                  <p>Push their thinking for each representation by using some of the following questions:</p>
                  <h5>Key Questions:</h5>
                  <ul>
                      <li>So what does the 4 (2) represent?</li>
                      <li>What does the 10 (5) represent?</li>
                      <li>How are the 4 and the 10 (2 and 5) related?</li>
                      <li>Why is it important for this to be partitioned into equal parts?</li>
                      <li>What do equal parts mean in this model?</li>
                  </ul>

                  <h4>Independent  Math Log</h4>
                  <p>Use another colour of ink to build on your note in your Math Log. Be sure to include at least one example of each type of representation that shows your understanding of a fraction.</p>
              </td>
                  <td>
                  <p>Include the following types of representations in the discussion:</p>
                  <ul>
                      <li><strong>Part-whole: measure</strong>
                        <ul>
                              <li>length (1-<abbr title="Dimensional">D</abbr>)</li>
                              <li>area (2-<abbr title="Dimensional">D</abbr>) Include discussion of strengths of rectangular representations over circular representations</li>
                              <li>volume (3-<abbr title="Dimensional">D</abbr>)</li>
                          </ul></li>
                      <li><strong>Part-whole: sets</strong> with either identical or non-identical items</li>
                      <li><strong>Part-Part: a ratio representation which shows numerator : denominator</strong></li>
                      <li>Position (point) on a number line</li>
                      <li>Segment of a number line</li>
                  </ul>
                  </td>
              </tr>
              <tr>
                <th></th>
                  <td>
                  <h4>Home Activity or Further Classroom Consolidation</h4>
          <p>Find at least two different representations of fractions. You may consider looking in the kitchen, garage, or newspapers and magazines.</p>
              </td>
                  <td></td>
              </tr>
          </table>

        </div>
      </div>
    </div>
  </section>


  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Equivalency in Fractions: Day 2: Thinking Proportionally</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p><abbr title="Minds On">MO</abbr> 15 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 25 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 35 <abbr title="minutes">min</abbr></p>
          <p>75 <abbr title="minutes">min</abbr></p>

          <h3>Math Learning Goals</h3>

          <p>Students will:</p>
          <ul>
          <li>represent fractions as parts of a whole using a variety of models</li>
          <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
          <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>
          , use of benchmarks to support and refine the meaning of fractions</li>
          </ul>


          <table>
            <tr>
                <th>Minds On…</th>
                  <td>
                  <h4>Pairs  Exploration</h4>
                  <p>Ask students to use their multiplication chart (<abbr title="Blackline Master">BLM</abbr> 2.1) to identify equivalent fractions for <abbr title="two fifths">2&frasl;5</abbr>, <abbr title="six sevenths">6&frasl;7</abbr>, and <abbr title="three tenths">3&frasl;10</abbr>. Students list their observations.</p>
                  <p>Possible observations include:</p>
                  <ul>
                      <li>you are counting by 2’s at the top and by 2’s at the bottom</li>
                      <li>the equivalent fractions are found by looking across the chart</li>
                      <li>you could extend the pattern beyond the chart</li>
                      <li>the numerator and denominator grow at the same rate (proportionally)</li>
                  </ul>
                  </td>
                  <td>
                  </td>
              </tr>
              <tr>
                <th>Action!</th>
                  <td>
                  <h4>Pairs  Activity</h4>
                  <p>Ask students to show how they know that <abbr title="two thirds">2&frasl;3</abbr> and <abbr title="eight twelfths">8&frasl;12</abbr> are equivalent on chart paper. They should provide enough detail to support their classmates in understanding their work during the Gallery Walk.</p>
                  </td>
                  <td>
                  <p>This could be differentiated by using the fractions <abbr title="one half">½</abbr> and <abbr title="two fourths">2&frasl;4</abbr> for some students.</p>
                  </td>
              </tr>
              <tr>
                <th>Consolidate Debrief</th>
                  <td>
                  <h4>Whole Group  Gallery Walk</h4>
                  <p>Students go on a Gallery Walk affix their sticky note on the representation they think best helps them to understand equivalent fractions.
                  Facilitate an Elmo presentation and post examples Bansho style. Point out the different representations (pictures, fraction circles, fraction towers, number lines, numerical operations). Discuss the different ways to represent.</p>

                  <p>Post the charts that contain important learning – with labels – so that the students can refer back. For example, two area models that are accurate / same size or two line models that are overlaid, or a numerical explanation 2x4=8 … 3x4=12</p>
                  </td>
                  <td>
                  </td>
              </tr>
              <tr>
                <th>Practise</th>
                  <td>
                  </td>
                  <h4>Home Activity or Further Classroom Consolidation</h4>
                  <p>Choose A or B.</p>
                  <p>A: Name a fraction that is equivalent to <abbr title="one third">1&frasl;3</abbr> and show how you know. </p>
                  <p>B: <abbr title="one third">1&frasl;3</abbr> and <abbr title="two sixths">2&frasl;6</abbr> are equivalent. How do you know?</p>
                  <td>
                  </td>
              </tr>
          </table>

          <h3><abbr title="Blackline Master">BLM</abbr> 2.1: Multiplication Chart (1 through 12)</h3>

          <table>
            <tr>
                <th></th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                  <th>8</th>
                  <th>9</th>
                  <th>10</th>
                  <th>11</th>
                  <th>12</th>
              </tr>
              <tr>
                <th>1</th>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                  <td>12</td>
              </tr>
              <tr>
                <th>2</th>
                  <td>2</td>
                  <td>4</td>
                  <td>6</td>
                  <td>8</td>
                  <td>10</td>
                  <td>12</td>
                  <td>14</td>
                  <td>16</td>
                  <td>18</td>
                  <td>20</td>
                  <td>22</td>
                  <td>24</td>
              </tr>
              <tr>
                <th>3</th>
                  <td>3</td>
                  <td>6</td>
                  <td>9</td>
                  <td>12</td>
                  <td>15</td>
                  <td>18</td>
                  <td>21</td>
                  <td>24</td>
                  <td>27</td>
                  <td>30</td>
                  <td>33</td>
                  <td>36</td>
              </tr>
              <tr>
                <th>4</th>
                  <td>4</td>
                  <td>8</td>
                  <td>12</td>
                  <td>16</td>
                  <td>20</td>
                  <td>24</td>
                  <td>28</td>
                  <td>32</td>
                  <td>36</td>
                  <td>40</td>
                  <td>44</td>
                  <td>48</td>
              </tr>
              <tr>
                <th>5</th>
                  <td>10</td>
                  <td>15</td>
                  <td>20</td>
                  <td>25</td>
                  <td>30</td>
                  <td>35</td>
                  <td>40</td>
                  <td>45</td>
                  <td>50</td>
                  <td>55</td>
                  <td>60</td>
              </tr>
              <tr>
                <th>6</th>
                  <td>6</td>
                  <td>12</td>
                  <td>18</td>
                  <td>24</td>
                  <td>30</td>
                  <td>36</td>
                  <td>42</td>
                  <td>48</td>
                  <td>54</td>
                  <td>60</td>
                  <td>66</td>
                  <td>72</td>
              </tr>
              <tr>
                <th>7</th>
                  <td>7</td>
                  <td>14</td>
                  <td>21</td>
                  <td>28</td>
                  <td>35</td>
                  <td>42</td>
                  <td>49</td>
                  <td>56</td>
                  <td>63</td>
                  <td>70</td>
                  <td>77</td>
                  <td>84</td>

              </tr>
              <tr>
                <th>8</th>
                  <td>8</td>
                  <td>16</td>
                  <td>24</td>
                  <td>32</td>
                  <td>40</td>
                  <td>48</td>
                  <td>56</td>
                  <td>64</td>
                  <td>72</td>
                  <td>80</td>
                  <td>88</td>
                  <td>96</td>
              </tr>
              <tr>
                <th>9</th>
                  <td>9</td>
                  <td>18</td>
                  <td>27</td>
                  <td>36</td>
                  <td>45</td>
                  <td>54</td>
                  <td>63</td>
                  <td>72</td>
                  <td>81</td>
                  <td>90</td>
                  <td>99</td>
                  <td>108</td>
              </tr>
              <tr>
                <th>10</th>
                  <td>10</td>
                  <td>20</td>
                  <td>30</td>
                  <td>40</td>
                  <td>50</td>
                  <td>60</td>
                  <td>70</td>
                  <td>80</td>
                  <td>90</td>
                  <td>100</td>
                  <td>110</td>
                  <td>120</td>
              </tr>
              <tr>
                <th>11</th>
                  <td>11</td>
                  <td>22</td>
                  <td>33</td>
                  <td>44</td>
                  <td>55</td>
                  <td>66</td>
                  <td>77</td>
                  <td>88</td>
                  <td>99</td>
                  <td>110</td>
                  <td>121</td>
                  <td>132</td>
              </tr>
              <tr>
                <th>12</th>
                  <td>12</td>
                  <td>24</td>
                  <td>36</td>
                  <td>48</td>
                  <td>60</td>
                  <td>72</td>
                  <td>84</td>
                  <td>96</td>
                  <td>108</td>
                  <td>120</td>
                  <td>132</td>
                  <td>144</td>
              </tr>
          </table>

        </div>
      </div>
    </div>
  </section>




  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Equivalency in Fractions: Day 3: Representing Fractions on Number Lines</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Junior/<abbr title="Intermediate">Int</abbr></p>
          <p><abbr title="Minds On">MO</abbr> 15 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 40 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 20 <abbr title="minutes">min</abbr></p>
          <p>75 <abbr title="minutes">min</abbr></p>

          <h3>Math Learning Goals</h3>

          <p>Students will:</p>
          <ul>
              <li>represent fractions on a number line</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>
          , use of benchmarks to support and refine the meaning of fractions</li>
          </ul>

          <h3>Materials</h3>
          <ul>
              <li>large number line</li>
              <li>copies of <abbr title="Blackline Master">BLM</abbr> 3.1</li>
          </ul>


          <table>
            <tr>
                <th>Minds On…</th>
                  <td>
                  <h4>Whole Class  Brainstorm</h4>
                  <p>Here is a number line. (get a large “wall” number line from a primary classroom)
                  What do you notice? How is this like a ruler? How can these help us learn math? Create a list. [measuring, counting, adding on, subtracting, skip counting]
                  How could a number line help us with fractions? Write on a chart.</p>
                  </td>
              </tr>
              <tr>
                <th>Action!</th>
                  <td>
                  <h4>Pair-Share  Investigation</h4>
                  <p>In groups label each partition on <abbr title="Blackline Master">BLM</abbr> 3.1.
                  Compare the number lines.</p>
                  <ul>
                      <li>What do you notice?</li>
                      <li>What equivalent fractions do you see?</li>
                      <li>How do you know they are equivalent?</li>
                  </ul>
                  <p>Write questions based on your number lines.</p>
                  <p>Pairs rotate and answer another group’s questions.</p>
                  </td>
              </tr>
              <tr>
                <th>Consolidate Debrief</th>
                  <td>
                  Whole Class  Guided Discussion
          Look back at the chart we created about number lines and fractions. What else have you learned about the ways that number lines can help us learn fractions?
                  </td>
                  <td>
                  </td>
              </tr>
              <tr>
                <th></th>
                  <td>
                  Home Activity or Further Classroom Consolidation
                  </td>
              </tr>
          </table>

        </div>
      </div>
    </div>
  </section>


  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master">BLM</abbr> 3.1 Equivalence on the Number Line</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <img src="" alt="" height="" width="" />
          <p>Our group’s questions:</p>

        </div>
      </div>
    </div>
  </section>


  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Equivalency in Fractions: Day 4: Determining Equivalency</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Junior/<abbr title="Intermediate">Int</abbr></p>
          <p><abbr title="Minds On">MO</abbr> 15 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 40 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 20 <abbr title="minutes">min</abbr></p>
          <p>75 min</p>


          <h3>Math Learning Goals</h3>
          <p>Students will:</p>
          <ul>
          <li>represent fractions on a number line</li>
          <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
          <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>
          , use of benchmarks to support and refine the meaning of fractions</li>
          </ul>

          <h3>Materials</h3>
          <ul>
          <li>envelopes with fraction pieces, one per pair</li>
          <li>chart paper</li>
          </ul>

          <table>
            <tr>
                <th>Minds On…</th>
                  <td>
                  <h4>Think-Pair  Reflection</h4>
          <p>Individually, students write a journal entry about the number line. What is it? What are the rules? Make a number line that you would use to show <abbr title="two eighths">2&frasl;8</abbr>. Could you use this number line to show <abbr title="two fifths">2&frasl;5</abbr>?
          Pairs share their journal entries.</p>
                  </td>
              </tr>
              <tr>
                <th>Action!</th>
                  <td>
                  <h4>Small Groups  Exploration</h4>
          <p>Distribute envelopes containing Set A or Set B below of eight fractions in numerical form to pairs. Students decide how they will place their set of fractions on a number line. Remind students that they may need to make more than one number line to help show fractions that are equivalent.</p>
          <p>[Set A: <abbr title="two fourths">2&frasl;4</abbr>, <abbr title="one half">½</abbr>, <abbr title="one third">1&frasl;3</abbr>, <abbr title="two sixths">2&frasl;6</abbr>, <abbr title="three fourths">¾</abbr>, <abbr title="six eighths">6&frasl;8</abbr>, <abbr title="five tenths">5&frasl;10</abbr>, <abbr title="three ninths">3&frasl;9</abbr>]</p>
          <p>[Set B: <abbr title="eight sixths">8&frasl;6</abbr>, 1 <abbr title="two sixths">2&frasl;6</abbr>, 1 <abbr title="one third">1&frasl;3</abbr>, <abbr title="four thirds">4&frasl;3</abbr>, <abbr title="five eighths">5&frasl;8</abbr>, <abbr title="two eighths">2&frasl;8</abbr>, <abbr title="one fourth">¼</abbr>, <abbr title="one third">1&frasl;3</abbr>]</p>
                  </td>
              </tr>
              <tr>
                <th>Consolidate Debrief</th>
                  <td>
                  <h4>Whole Class  Discussion</h4>
                  <ul>
                      <li>How did you decide whether to do one / two / three number lines?</li>
                      <li>How are your number lines like the fraction towers?</li>
                      <li>Which numbers were easy to place?</li>
                      <li>What did you find challenging?</li>
                      <li>What questions do you still have about equivalent fractions?</li>
                  </ul>
                  </td>
              </tr>
              <tr>
                <th></th>
                  <td>
                  <h4>Home Activity or Further Classroom Consolidation</h4>
                  </td>
              </tr>
          </table>

        </div>
      </div>
    </div>
  </section>


  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Additional Equivalent Fractions Activities:</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p>[Choose from these for students who need more practice, or an extension.]</p>

          <p>Choose a fraction. Show as many equivalent fractions as you can, using the manipulatives provided.</p>

          <p>What do you notice about the numerator and denominator in the fractions <abbr title="three fifths">3&frasl;5</abbr> and <abbr title="twelve twentieths">12&frasl;20</abbr>?</p>

          <p>You have a bag of marbles. There are 5 black and 5 white marbles in the bag. What is the probability of getting a black? Now, if you remove one black and one white (4 of each), what is the probability of pulling out a black? What about 3 of each? What do you notice?</p>

          <p>Look at the two granola bars. Sue says that the two bars both show <abbr title="one fourth">¼</abbr> of the granola bar is shaded. Mitchell says that the fractions are different. Who is right?</p>

          <img src="" alt="" height="" width="" />
          <img src="" alt="" height="" width="" />

          <p>Jian threw his paper airplane 0.66 m and Sylvain threw his <abbr title="two thirds">2&frasl;3</abbr> of a meter. Whose airplane went the farthest?</p>

          <p>(Other examples: 0.75 and <abbr title="three fourths">¾</abbr>; 0.2 and <abbr title="two tenths">2&frasl;10</abbr>; 1.25m and <abbr title="five fourths">5&frasl;4</abbr>)</p>

        </div>
      </div>
    </div>
  </section>


<%- include partials/footer.ejs%>
