<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./comp">Comparing Fractions Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Equivalency Comparisons</li>
</ol>

<main>
    
  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-blue"></div>
        <div id="rectangle" class="display-flex rectangle-blue"><p>Comparison A</p></div>
        <div id="triangle-topleft" class="triangle-topleft-blue"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Generate and recognize equivalent fractions using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->
  
  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Equivalency Comparisons</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/Equivalency_Comparisons-small.png" alt="Placeholder image" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>This is a set of prompts consisting of purposely paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding. Encourage students to build models/representations and create contexts to support visualization of fractions, which in turn supports meaning-making. </p>
    
      <h4>Mathematics</h4>
      <p>Research shows that it is beneficial to spread fraction learning throughout the year and embed it in other strands. These prompts progress in complexity from comparisons of equivalent fractions, to examples that include same denominators, to comparisons of very close fractions with different numerators and denominators. Students are encouraged to develop a range of different strategies and to use them strategically, based on the situation.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>represent, compare and order fractional amounts using a variety of tools</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Partner students and introduce the task. Post the selected prompt (select from options) on the black/whiteboard or interactive whiteboard, or distribute on a handout.</li>
        <li>Provide students time to complete the task. Encourage them to use graph paper, rulers and manipulatives (concrete or virtual, such as the tools at <a href="mathies.ca">mathies.ca</a>).</li>
        <li>Have students describe their thinking. Highlight different strategies by purposely choosing students that solved the task in different ways. Have students identify the similarities and differences between the strategies.</li>
      </ol>
    </section>

    <section class="row promptBox">
      <h5>Prompt #1</h5>
      <p>Are <abbr title="Two Sixths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>6</sub></span></abbr> and <abbr title="Four Twelfths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>12</sub></span></abbr> equal? Show your thinking.</p>
      <h5>Prompt #2</h5>
      <p>Show that <abbr title="Three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> is the same as <abbr title="Fifteen Twentieths" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>20</sub></span></abbr>.</p>
      <h5>Prompt #3</h5>
      <p>Is <abbr title="Two Sixths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>6</sub></span></abbr> equal to <abbr title="Three Ninths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>9</sub></span></abbr>? Show your thinking.</p>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>

        <p>Students may:</p>
        <ul>
          <li>construct accurate models to compare two or more fractions</li>
          <li>rely on the algorithm for determining equivalent fractions</li>
          <li>consider only the numerators or only the denominators</li>
          <li>use benchmarks to make estimates for comparison</li>
          <li>consider the size of the unit fractions (as indicated by the denominators)</li>
          <li>consider the proximity of the fraction to 1 by identifying the ‘missing piece’ (complement)</li>
          <li>be purposeful about the strategy for comparison based on the fractions given</li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>Did you think of contexts to help you visualize the fractions? How did this help you?</li>
          <li>Share how you visualized the fractions.</li>
          <li>How did your representation help you to compare the fractions?</li>
          <li>What strategy did you find most helpful? Why?</li>
          <li>What manipulatives could you use to help you?</li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <p>Make tools available such as paper and markers, grid paper, paper strips for folding, and/or manipulatives such as relational rods.</p>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">
          
          <section>
            <h2>Equivalency Comparisons (Comp A) Teacher Notes: Anticipating Student Responses </h2>
            
            <p>These prompts can be used flexibly depending on student readiness, for example, as assessment for learning, activating prior knowledge, learning tasks or assessment of learning. These prompts are presented symbolically and without context in order to allow students to build models/representations and create contexts to support visualization of the meaning of the fractions. The prompts are increasingly complex and consist of purposely-paired fractions to elicit the use of various strategies.</p>
          </section>
          
          <section>
            <h5><strong>Prompt #1</strong></h5>
            <p>Are <abbr title="Two Sixths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>6</sub></span></abbr> and <abbr title="Four Twelfths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>12</sub></span></abbr> equal? Show your thinking.</p>
            <p><u>Teacher Notes:</u></p>
            <p>Using a model, students may further partition sixths into twelfths (or merge twelfths to create sixths) to generate equivalent fractions. For a number line, students may explain that two <abbr title="One Sixth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>6</sub></span></abbr> hops are equivalent to four <abbr title="Two Twelfth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>12</sub></span></abbr> hops.</p>
            <figure>
              <img src="/images/teacherNotes/equivalencyComparisons-prompt1.jpg" alt="two 1/6 hops are equivalent to four 1/12 hops." class="img-responsive margin-auto">
            </figure>
          </section>
          
          <section>
            <h5><strong>Prompt #2</strong></h5>
            <p>Show that <abbr title="Three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> is the same as <abbr title="Fifteen Twentieths" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>20</sub></span></abbr>.</p>
            <p>Students may create representations to prove that these fractions are equal. Students who have been taught the algorithm for determining equivalent fractions by multiplying the numerator and denominator by a number may multiply both the numerator and denominator of <abbr title="Three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> by 5 (which is equivalent to multiplying by one since they are multiplying <abbr title="Three Fourhts" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> by <abbr title="Five Fifths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>5</sub></span></abbr>).</p>
            <p>Using a rectangular model, as in the example below, we can further partition each fourth into fifths to create twentieths. This allows students to understand how the algorithm (multiply by <abbr title="Five Fifths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>5</sub></span></abbr>) acts on the <abbr title="Three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>. It also helps to reinforce that the two fractions, although written using different fractional units (denominators), represent the same area (or quantity) and are therefore equivalent.</p>
            <figure>
              <img src="/images/teacherNotes/equivalencyComparisons-prompt2.jpg" alt="fourth partitioned into fifths to create twentieths" class="img-responsive margin-auto">
            </figure>
          </section>
          
          <section class="padding-bottom">
            <h5><strong>Prompt #3</strong></h5>
            <p>Is <abbr title="Two Sixths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>6</sub></span></abbr> equal to <abbr title="Three ninths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>9</sub></span></abbr>? Show your thinking.</p>
            <p><u>Teacher Notes:</u></p>
            <p>This prompt is slightly more difficult than Prompt 2, because students are not told that the fractions are equivalent. As well, there is not an obvious multiplier that will generate the second fraction.</p>
            <p>Students may use stacked number lines to determine equivalence.</p>
            <figure>
              <img src="/images/teacherNotes/equivalencyComparisons-prompt3.jpg" alt="stacked number lines to determine equivalence between 2/6 and 3/9" class="img-responsive margin-auto">
            </figure>
          </section>

          <section>
            <p>To download a copy of the Equivalency Comparisons (Comp A) Teacher Notes: Anticipating Student Responses .pdf, click <a href="/pdf/P8_Comp_A _Fractions_Prompts_Teacher_Notes_v6.pdf" target="_blank" rel="PDF File">here</a>.</p>
          </section>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">
        
        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">
        
        </div>
      </div>  
    </section>

  </section> <!-- End PDF page section -->  
<%- include partials/footer.ejs%>