<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./equivFrac">Equivalence of Fractions (Jr - Int)</a></li>
</ol>

<main class="container">

  <!-- PDF page 1 -->
  <section class="pdf-page">
    <section class="row">
      <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Fraction: Day 1: Representing Fractions Using Manipulatives Jr/Int</h2>
    </section>

    <section class="row table-responsive">
      <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
        <!-- First Row - Time Stamp and Learning Goal -->
        <tr>
          <td>
            <p>MO 5 min</p>
            <p>A 45 min</p>
            <p>C/D 25 min</p>
            <p>75 min</p>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
            <p>Students will:</p>
            <ul> 
              <li>represent fractions as parts of a whole using a variety of models</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr> , use of benchmarks to support and refine the meaning of fractions</li>
            </ul>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Materials</strong></p>
            <ul>
              <li>a variety of manipulatives</li>
              <li>sticky notes</li>
            </ul>
          </td>
        </tr> <!-- End First Row -->
        <!-- Second Row - Minds on... -->
        <tr>
          <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
          <td>
            <p><strong>Independent <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Log</strong></p>
            <p>Students respond to the prompt: What is a fraction?</p>
          </td>
          <td class="section-border-bottom-none"></td>
        </tr> <!-- End Second Row -->
        <!-- Third Row - Action! -->
        <tr> 
          <td>
            <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
          </td>
          <td>
            <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Parallel Task</strong></p>
            <p>Ask students to select one of the following fractions: <abbr title="four tenths"><sup>4</sup>/<sub>10</sub></abbr> or <abbr title="two fifths"><sup>2</sup>/<sub>5</sub></abbr>, and represent it in as many ways as they can. Pairs display all of their representations in their workspace.<p>

            <p><strong>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Gallery Walk</strong></p>
            <p>Students circulate around the room and review the different representations. Students consider which representation they think most clearly shows the fraction, and indicate their preference by placing a sticky note with their name by their first choice. Ask students to be prepared to discuss any similarities or differences they notice between the representations of <abbr title="four tenths"><sup>4</sup>/<sub>10</sub></abbr> and <abbr title="two fifths"><sup>2</sup>/<sub>5</sub></abbr>.</p>
          </td>
          <td class="section-border-bottom-none section-border-top-none background-color-white">
            <p>Teachers can provide scaffolding by suggesting different manipulatives for different pairs.</p> 
            <br><br>
            <p>Students may notice that the two fractions are equivalent. Allow them to reason and explore to reach this conclusion.</p>
          </td>
        </tr> <!-- End Third Row -->
        <!-- Fourth Row - Consolidate/Debrief -->
        <tr>
          <td>
            <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
          </td>
          <td>
            <p><strong>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</strong></p>
            <p>Organize and name the different types of representations students preferred. Ask students who put their name on a sticky note by each particular representation to explain why they think that one is the most effective. Use prompts such as:</p>
            <ul>
              <li>What did you see?</li>
              <li>What did you like?</li>
              <li>I am noticing a lot of students selected (this) model. Why do you think so many of us chose that representation?</li>
              <li>Why didn’t you pick (the most popular)?</li>
              <li>I am interested in this representation…. (least picked)</li>
              <li>One of my favourite representations of <abbr title="two fifths"><sup>2</sup>/<sub>5</sub></abbr> is (show a representation that students did not show <abbr title="For example">e.g.</abbr>, position on a number line). Why do you think I like this type of representation?</li>
            </ul>
            <p>Push their thinking for each representation by using some of the following questions:</p>

            <h4 class="title-dark">Key Questions:</h4>
            <ul>
              <li>So what does the 4 (2) represent?</li>
              <li>What does the 10 (5) represent?</li>
              <li>How are the 4 and the 10 (2 and 5) related?</li>
              <li>Why is it important for this to be partitioned into equal parts?</li>
              <li>What do equal parts mean in this model?</li>
            </ul>

            <p><strong>Independent <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Log</strong></p>
            <p>Use another colour of ink to build on your note in your Math Log. Be sure to include at least one example of each type of representation that shows your understanding of a fraction.</p>
          </td>
          <td class="section-border-top-none">
            <p>Include the following types of representations in the discussion:</p>
            <ul>
              <li><strong>Part-whole: measure</strong>
                <ul>
                  <li>length (1-<abbr title="Dimensional">D</abbr>)</li>
                  <li>area (2-<abbr title="Dimensional">D</abbr>) Include discussion of strengths of rectangular representations over circular representations</li>
                  <li>volume (3-<abbr title="Dimensional">D</abbr>)</li>
                </ul>
              </li>
              <li><strong>Part-whole: sets</strong> with either identical or non-identical items</li>
              <li><strong>Part-Part: a ratio representation which shows numerator : denominator</strong></li>
              <li>Position (point) on a number line</li>
              <li>Segment of a number line</li>
            </ul>
          </td>
        </tr> <!-- End of Fourth Row -->
        <!-- Fifth Row - Further Consolidation -->
        <tr>
          <td></td>
          <td>
            <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>  
            <p>Find at least two different representations of fractions. You may consider looking in the kitchen, garage, or newspapers and magazines.</p>
          </td>
          <td></td>
        </tr> <!-- End Fifth Row -->
      </table>
    </section>
  </section>
  
  <!-- PDF page 2 -->
  <section class="pdf-page">
    <section class="row">
      <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Equivalency in Fractions: Day 2: Thinking Proportionally Junior/In</h2>
    </section>

    <section class="row table-responsive">
      <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
        <!-- First Row - Time Stamp and Learning Goal -->
        <tr>
          <td>
            <p>MO 15 min</p>
            <p>A 25 min</p>
            <p>C/D 35 min</p>
            <p>75 min</p>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
            <p>Students will:</p>
            <ul> 
              <li>represent fractions as parts of a whole using a variety of models</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>, use of benchmarks to support and refine the meaning of fractions</li>
            </ul>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Materials</strong></p>
            
          </td>
        </tr> <!-- End First Row -->
        <!-- Second Row - Minds on... -->
        <tr>
          <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
          <td>
            <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Exploration</strong></p>
            <p>Ask students to use their multiplication chart (<abbr title="Blackline Master">BLM</abbr> 2.1) to identify equivalent fractions for <abbr title="two fifths"><sup>2</sup>/<sub>5</sub></abbr>, <abbr title="six sevenths"><sup>6</sup>/<sub>7</sub></abbr>, and <abbr title="three tenths"><sup>3</sup>/<sub>10</sub></abbr>. Students list their observations.</p>
            <p>Possible observations include:</p>
            <ul>
              <li>you are counting by 2’s at the top and by 2’s at the bottom</li>
              <li>the equivalent fractions are found by looking across the chart</li>
              <li>you could extend the pattern beyond the chart</li>
              <li>the numerator and denominator grow at the same rate (proportionally)</li>
            </ul> 
          </td>
          <td class="section-border-bottom-none"></td>
        </tr> <!-- End Second Row -->
        <!-- Third Row - Action! -->
        <tr> 
          <td>
            <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
          </td>
          <td>
            <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</strong></p>
            <p>Ask students to show how they know that <abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr> and <abbr title="eight twelfths"><sup>8</sup>/<sub>12</sub></abbr> are equivalent on chart paper. They should provide enough detail to support their classmates in understanding their work during the Gallery Walk.</p>
          </td>
          <td class="section-border-bottom-none section-border-top-none background-color-white">
            <p>This could be differentiated by using the fractions <abbr title="one half">½</abbr> and <abbr title="two fourths"><sup>2</sup>/<sub>4</sub></abbr> for some students.</p>
          </td>
        </tr> <!-- End Third Row -->
        <!-- Fourth Row - Consolidate/Debrief -->
        <tr>
          <td>
            <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
          </td>
          <td>
            <p><strong>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Gallery Walk</strong></p>
            <p>Students go on a Gallery Walk affix their sticky note on the representation they think best helps them to understand equivalent fractions.
            Facilitate an Elmo presentation and post examples Bansho style. Point out the different representations (pictures, fraction circles, fraction towers, number lines, numerical operations). Discuss the different ways to represent.</p>

            <p>Post the charts that contain important learning – with labels – so that the students can refer back. For example, two area models that are accurate / same size or two line models that are overlaid, or a numerical explanation 2x4=8 … 3x4=12</p> 
          </td>
          <td class="section-border-top-none"></td>
        </tr> <!-- End of Fourth Row -->
        <!-- Fifth Row - Further Consolidation -->
        <tr>
          <td></td>
          <td>
            <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p> 
            <p>Choose A or B.</p>
            <p>A: Name a fraction that is equivalent to <abbr title="one third"><sup>1</sup>/<sub>3</sub></abbr> and show how you know. </p>
            <p>B: <abbr title="one third"><sup>1</sup>/<sub>3</sub></abbr> and <abbr title="two sixths"><sup>2</sup>/<sub>6</sub></abbr> are equivalent. How do you know?</p>
          </td>
          <td></td>
        </tr> <!-- End Fifth Row -->
      </table>
    </section>
  </section>

  <!-- PDF page 3 -->
  <section class="pdf-page">
    <section class="row">
        <h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 2.1: Multiplication Chart (1 through 12)</h4>
        <div class="col-md-12 col-sm-12">
          <figure>
            <img src="/images/tasks/Lessons/equivFrac1.png" alt="" class="img-responsive">
          </figure>
        </div>
    </section>
  </section>

  <!-- PDF page 4 -->
  <section class="pdf-page">
    <section class="row">
      <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Equivalency in Fractions: Day 3: Representing Fractions on Number Lines Junior/Int</h2>
    </section>

    <section class="row table-responsive">
      <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
        <!-- First Row - Time Stamp and Learning Goal -->
        <tr>
          <td>
            <p>MO 15 min</p>
            <p>A 45 min</p>
            <p>C/D 20 min</p>
            <p>75 min</p>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
            <p>Students will:</p>
            <ul> 
              <li>represent fractions on a number line</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>, use of benchmarks to support and refine the meaning of fractions</li>
            </ul>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Materials</strong></p>
            <ul>
              <li>large number line</li>
              <li>copies of <abbr title="Blackline Master">BLM</abbr> 3.1</li>
            </ul>
          </td>
        </tr> <!-- End First Row -->
        <!-- Second Row - Minds on... -->
        <tr>
          <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
          <td>
            <p><strong>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Brainstorm</strong></p>
            <p>Here is a number line. (get a large “wall” number line from a primary classroom) What do you notice? How is this like a ruler? How can these help us learn math? Create a list. [measuring, counting, adding on, subtracting, skip counting] How could a number line help us with fractions? Write on a chart.</p>
          </td>
          <td class="section-border-bottom-none"></td>
        </tr> <!-- End Second Row -->
        <!-- Third Row - Action! -->
        <tr> 
          <td>
            <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
          </td>
          <td>
            <p><strong>Pair-Share <i class="fa fa-arrow-right" aria-hidden="true"></i> Investigation</strong></p>
            <p>In groups label each partition on <abbr title="Blackline Master">BLM</abbr> 3.1.
            Compare the number lines.</p>
            <ul>
              <li>What do you notice?</li>
              <li>What equivalent fractions do you see?</li>
              <li>How do you know they are equivalent?</li>
            </ul>
            <p>Write questions based on your number lines.</p>
            <p>Pairs rotate and answer another group’s questions.</p>
          </td>
          <td class="section-border-bottom-none section-border-top-none background-color-white"> 
          </td>
        </tr> <!-- End Third Row -->
        <!-- Fourth Row - Consolidate/Debrief -->
        <tr>
          <td>
            <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
          </td>
          <td>
            <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Guided Discussion</p>
            <p>Look back at the chart we created about number lines and fractions. What else have you learned about the ways that number lines can help us learn fractions?</p>  
          </td>
          <td class="section-border-top-none"></td>
        </tr> <!-- End of Fourth Row -->
        <!-- Fifth Row - Further Consolidation -->
        <tr>
          <td></td>
          <td>
            <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>  
          </td>
          <td></td>
        </tr> <!-- End Fifth Row -->
      </table>
    </section>
  </section>

  <!-- PDF page 5 -->
  <section class="pdf-page">
    <section class="row">
      <h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 3.1 Equivalence on the Number Line</h4>
      <div class="col-md-12 col-sm-12">
        <figure>
          <img src="/images/tasks/Lessons/equivFrac2-1.png" alt="" class="img-responsive">
        </figure>
        <p>Our group’s questions:</p>
      </div>
    </section>
  </section>

  <!-- PDF page 6 -->
  <section class="pdf-page">
    <section class="row">
      <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Equivalency in Fractions: Day 4: Determining Equivalency Junior/Int</h2>
    </section>

    <section class="row table-responsive">
      <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
        <!-- First Row - Time Stamp and Learning Goal -->
        <tr>
          <td>
            <p>MO 15 min</p>
            <p>A 40 min</p>
            <p>C/D 20 min</p>
            <p>75 min</p>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
            <p>Students will:</p>
            <ul> 
              <li>represent fractions on a number line</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr> , use of benchmarks to support and refine the meaning of fractions</li>
            </ul>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Materials</strong></p>
            <ul>
              <li>envelopes with fraction pieces, one per pair</li>
              <li>chart paper</li>
            </ul>
          </td>
        </tr> <!-- End First Row -->
        <!-- Second Row - Minds on... -->
        <tr>
          <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
          <td>
            <p><strong>Think-Pair <i class="fa fa-arrow-right" aria-hidden="true"></i> Reflection</strong></p>
            <p>Individually, students write a journal entry about the number line. What is it? What are the rules? Make a number line that you would use to show <abbr title="two eighths"><sup>2</sup>/<sub>8</sub></abbr>. Could you use this number line to show <abbr title="two fifths"><sup>2</sup>/<sub>5</sub></abbr>? Pairs share their journal entries.</p>
          </td>
          <td class="section-border-bottom-none"></td>
        </tr> <!-- End Second Row -->
        <!-- Third Row - Action! -->
        <tr> 
          <td>
            <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
          </td>
          <td>
            <p><strong>Small Groups <i class="fa fa-arrow-right" aria-hidden="true"></i> Exploration</strong></p>
            <p>Distribute envelopes containing Set A or Set B below of eight fractions in numerical form to pairs. Students decide how they will place their set of fractions on a number line. Remind students that they may need to make more than one number line to help show fractions that are equivalent.</p>
            <p>[Set A: <abbr title="two fourths"><sup>2</sup>/<sub>4</sub></abbr>, <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr>, <abbr title="one third"><sup>1</sup>/<sub>3</sub></abbr>, <abbr title="two sixths"><sup>2</sup>/<sub>6</sub></abbr>, <abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr>, <abbr title="six eighths"><sup>6</sup>/<sub>8</sub></abbr>, <abbr title="five tenths"><sup>5</sup>/<sub>10</sub></abbr>, <abbr title="three ninths"><sup>3</sup>/<sub>9</sub></abbr>]</p>
            <p>[Set B: <abbr title="eight sixths"><sup>8</sup>/<sub>6</sub></abbr>, 1 <abbr title="two sixths"><sup>2</sup>/<sub>6</sub></abbr>, 1 <abbr title="one third"><sup>1</sup>/<sub>3</sub></abbr>, <abbr title="four thirds"><sup>4</sup>/<sub>3</sub></abbr>, <abbr title="five eighths"><sup>5</sup>/<sub>8</sub></abbr>, <abbr title="two eighths"><sup>2</sup>/<sub>8</sub></abbr>, <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr>, <abbr title="one third"><sup>1</sup>/<sub>3</sub></abbr>]</p>
          </td>
          <td class="section-border-bottom-none section-border-top-none background-color-white">
            
          </td>
        </tr> <!-- End Third Row -->
        <!-- Fourth Row - Consolidate/Debrief -->
        <tr>
          <td>
            <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
          </td>
          <td>
            <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
            <ul>
              <li>How did you decide whether to do one / two / three number lines?</li>
              <li>How are your number lines like the fraction towers?</li>
              <li>Which numbers were easy to place?</li>
              <li>What did you find challenging?</li>
              <li>What questions do you still have about equivalent fractions?</li>
            </ul>  
          </td>
          <td class="section-border-top-none"></td>
        </tr> <!-- End of Fourth Row -->
        <!-- Fifth Row - Further Consolidation -->
        <tr>
          <td></td>
          <td>
            <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>  
          </td>
          <td></td>
        </tr> <!-- End Fifth Row -->
      </table>
    </section>
  </section>

  <!-- PDF page 7 -->
  <section class="pdf-page">
    <section class="row">
      <h4 class="title-blue-2">Additional Equivalent Fractions Activities:</h4>
      <p>[Choose from these for students who need more practice, or an extension.]</p>
      
      <p>Choose a fraction. Show as many equivalent fractions as you can, using the manipulatives provided.</p>

      <p>What do you notice about the numerator and denominator in the fractions <abbr title="three fifths"><sup>3</sup>/<sub>5</sub></abbr> and <abbr title="twelve twentieths"><sup>12</sup>/<sub>20</sub></abbr>?</p>

      <p>You have a bag of marbles. There are 5 black and 5 white marbles in the bag. What is the probability of getting a black? Now, if you remove one black and one white (4 of each), what is the probability of pulling out a black? What about 3 of each? What do you notice?</p>

      <p>Look at the two granola bars. Sue says that the two bars both show <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr> of the granola bar is shaded. Mitchell says that the fractions are different. Who is right?</p>
      <figure class="padding-bottom">
        <img src="/images/tasks/Lessons/equivFrac3.png" alt="" class="img-responsive margin-auto">
      </figure>

      <p>Jian threw his paper airplane 0.66 m and Sylvain threw his <abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr> of a meter. Whose airplane went the farthest?</p>

      <p>(Other examples: 0.75 and <abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr>; 0.2 and <abbr title="two tenths"><sup>2</sup>/<sub>10</sub></abbr>; 1.25m and <abbr title="five fourths"><sup>5</sup>/<sub>4</sub></abbr>)</p>
    </section>
  </section>
<%- include partials/footer.ejs%>