<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/tasks">Activities</a></li>
  <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
  <li><a href="./equivalencyComparisonsTeacherNotes">Comp A Equivalency Comparisons Teacher Notes</a></li>
</ol>

<main class="container dot-lists pdf-page" role="main">

  <h1>Equivalency Comparisons</h1>
  <h2>Teacher Notes</h2>

  <p>These prompts can be used flexibly depending on student readiness, for example, as assessment for learning, activating prior knowledge, learning tasks or assessment of learning. These prompts are presented symbolically and without context in
    order to allow students to build models/representations and create contexts to support visualization of the meaning of the fractions. The prompts are increasingly complex and consist of purposely-paired fractions to elicit the use of various
    strategies.</p>

  <section>
    <h5><strong>Prompt #1</strong></h5>
    <p>Are 2&frasl;6 and 4&frasl;12 equal? Show your thinking.</p>
    <p><u>Teacher Notes:</u></p>
    <p>Using a model, students may further partition sixths into twelfths (or merge twelfths to create sixths) to generate equivalent fractions. For a number line, students may explain that two 1&frasl;6 hops are equivalent to four 1&frasl;12 hops.</p>
    <figure>
      <img src="/images/teacherNotes/equivalencyComparisons-prompt1.jpg" alt="two 1&frasl;6 hops are equivalent to four 1&frasl;12 hops." width="100%">
    </figure>
  </section>

  <section>
    <h5><strong>Prompt #2</strong></h5>
    <p>Which is closer to 1 1&frasl;2: 28&frasl;19 or 26&frasl;16?</p>
    <p><u>Teacher Notes:</u></p>
    <p>Students may create representations to prove that these fractions are equal. Students who have been taught the algorithm for determining equivalent fractions by multiplying the numerator and denominator by a number may multiply both the
      numerator and denominator of 3&frasl;4 by 5 (which is equivalent to multiplying by one since they are multiplying 3&frasl;4 by 5&frasl;5).</p>
    <p>Using a rectangular model, as in the example below, we can further partition each fourth into fifths to create twentieths. This allows students to understand how the algorithm (multiply by 5&frasl;5) acts< on the 3&frasl;4. It also helps to
        reinforce that the two fractions, although written using different fractional units (denominators), represent the same area (or quantity) and are therefore equivalent.</p> <figure>
        <img src="/images/teacherNotes/equivalencyComparisons-prompt2.jpg" alt="fourth partitioned into fifths to create twentieths" width="100%">
        </figure>
  </section>

  <section>
    <h5><strong>Prompt #3</strong></h5>
    <p>Is 2&frasl;6 equal to 3&frasl;9? Show your thinking.</p>
    <p><u>Teacher Notes:</u></p>
    <p>This prompt is slightly more difficult than Prompt 2, because students are not told that the fractions are equivalent. As well, there is not an obvious multiplier that will generate the second fraction.</p>
    <p>Students may use stacked number lines to determine equivalence.</p>
    <figure>
      <img src="/images/teacherNotes/equivalencyComparisons-prompt3.jpg" alt="stacked number lines to determine equivalence between 2&frasl;6 and 3&frasl;9" width="100%">
    </figure>
  </section>

</main>
<%- include partials/footer.ejs%>
