<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li class="breadcrumb-item active">Comp A Equivalency Comparisons Teacher Notes</li>
</ol>

<main class="container dot-lists pdf-page" role="main">

<h1>Equivalency Comparisons</h1>
<h2>Teacher Notes</h2>

<p>These prompts can be used flexibly depending on student readiness, for example, as assessment for learning, activating prior knowledge, learning tasks or assessment of learning. These prompts are presented symbolically and without context in order to allow students to build models/representations and create contexts to support visualization of the meaning of the fractions. The prompts are increasingly complex and consist of purposely-paired fractions to elicit the use of various strategies.</p>

<section>
  <h5><strong>Prompt #1</strong></h5>
  <p>Are <abbr title="Two Sixths"><sup>2</sup>/<sub>6</sub></abbr> and <abbr title="Four Twelfths"><sup>4</sup>/<sub>12</sub></abbr> equal? Show your thinking.</p>
  <p><u>Teacher Notes:</u></p>
  <p>Using a model, students may further partition sixths into twelfths (or merge twelfths to create sixths) to generate equivalent fractions. For a number line, students may explain that two <abbr title="One Sixth"><sup>1</sup>/<sub>6</sub></abbr> hops are equivalent to four <abbr title="Two Twelfth"><sup>1</sup>/<sub>12</sub></abbr> hops.</p>
  <figure>
    <img src="/images/teacherNotes/equivalencyComparisons-prompt1.jpg" alt="two 1/6 hops are equivalent to four 1/12 hops." class="img-responsive margin-auto">
  </figure>
</section>

<section>
  <h5><strong>Prompt #2</strong></h5>
  <p>Which is closer to 1 <abbr title="One Half"><sup>1</sup>/<sub>2</sub></abbr> <abbr title="Twenty-eight Nineteenths"><sup>28</sup>/<sub>19</sub></abbr> or <abbr title="Twenty-six Sixteenths"><sup>26</sup>/<sub>16</sub></abbr>?</p>
  <p><u>Teacher Notes:</u></p>
  <p>Students may create representations to prove that these fractions are equal. Students who have been taught the algorithm for determining equivalent fractions by multiplying the numerator and denominator by a number may multiply both the numerator and denominator of <abbr title="Three Fourths"><sup>3</sup>/<sub>4</sub></abbr> by 5 (which is equivalent to multiplying by one since they are multiplying <abbr title="Three Fourhts"><sup>3</sup>/<sub>4</sub></abbr> by <abbr title="Five Fifths"><sup>5</sup>/<sub>5</sub></abbr>).</p>
  <p>Using a rectangular model, as in the example below, we can further partition each fourth into fifths to create twentieths. This allows students to understand how the algorithm (multiply by <abbr title="Five Fifths"><sup>5</sup>/<sub>5</sub></abbr>) acts< on the <abbr title="Three Fourths"><sup>3</sup>/<sub>4</sub></abbr>. It also helps to reinforce that the two fractions, although written using different fractional units (denominators), represent the same area (or quantity) and are therefore equivalent.</p>
  <figure>
    <img src="/images/teacherNotes/equivalencyComparisons-prompt2.jpg" alt="fourth partitioned into fifths to create twentieths" class="img-responsive margin-auto">
  </figure>
</section>

<section>
  <h5><strong>Prompt #3</strong></h5>
  <p>Is <abbr title="Two Sixths"><sup>2</sup>/<sub>6</sub></abbr> equal to <abbr title="Three ninths"><sup>3</sup>/<sub>9</sub></abbr>? Show your thinking.</p>
  <p><u>Teacher Notes:</u></p>
  <p>This prompt is slightly more difficult than Prompt 2, because students are not told that the fractions are equivalent. As well, there is not an obvious multiplier that will generate the second fraction.</p>
  <p>Students may use stacked number lines to determine equivalence.</p>
  <figure>
    <img src="/images/teacherNotes/equivalencyComparisons-prompt3.jpg" alt="stacked number lines to determine equivalence between 2/6 and 3/9" class="img-responsive margin-auto">
  </figure>
</section>

</main>
<%- include partials/footer.ejs%>
