<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li><a href="./familiarFractionsBenchmarksComparisons">COMP B Familiar Fractions and Benchmarks Comparisons</a></li>
    <li><a href="./familiarFractionsBenchmarksComparisonsTeacherNotes">Teacher Notes</a></li>
</ol>

<main class="container dot-lists pdf-page" role="main">

<h1>Familiar Fractions and Benchmarks Comparisons</h1>
<h2>Teacher Notes</h2>

<p>These prompts can be used flexibly depending on student readiness, for example, as assessment for learning, activating prior knowledge, learning tasks or assessment of learning. These prompts are presented symbolically and without context in order to allow students to build models/representations and create contexts to support visualization of the meaning of the fractions. The prompts are increasingly complex and consist of purposely-paired fractions to elicit the use of various strategies.</p>

<section>
  <h5><strong>Prompt #1</strong></h5>
  <p>Which is closer to 1 whole: 1&frasl;3 or 2&frasl;9? Describe the strategy you used to prove your thinking.</p>
  <p><u>Teacher Notes:</u></p>
  <p>Students may use a variety of strategies to answer this task. One example is choosing equivalent fractions that are helpful.</p>
  <p>For example, a student might reason that 1&frasl;3 = 3&frasl;9, and that 2&frasl;9 is closer to 0, therefore 1&frasl;3 is greater.</p>
</section>

<section>
  <h5><strong>Prompt #2</strong></h5>
  <p>Create a model to represent <strong>either</strong> 3&frasl;3 <strong>or</strong> 5&frasl;6 and 6&frasl;5.</p>
  <p>Which fraction of the pair you chose is greater? How do you know?</p>
  <p><u>Teacher Notes:</u></p>
  <p>Students may construct a reasonably accurate model, such as a rectangle, to show that one fraction is more than a whole so, therefore, the greater fraction.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsandBenchmarks-prompt2.jpg" alt="3&frasl;2 is greater than 2&frasl;3" width="80%">
  </figure>
  <p>Here, students need to understand the proportional relationship between the numerator and denominator in each fraction (i.e., the numerator is larger than the denominator), rather than the size of the pieces (denominator), which helps them to identify the larger fraction. The students also need to understand that the size of the whole needs to be consistent when comparing fractions.</p>
</section>

<section>
  <h5><strong>Prompt #3</strong></h5>
  <p>Order the following fractions from least to greatest: 2&frasl;3, 2 5&frasl;6, 11&frasl;4, 4&frasl;8, 3&frasl;5.</p>
  <p><u>Teacher Notes:</u></p>
  <p>Students may use a number line to order fractions. Note that students can use proportional reasoning to place the fractions reasonably accurately without determining the precise location. If the number line is on a piece of paper, students can use paper folding to aid in locating the fractions.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsandBenchmarks-prompt3.jpg" alt="3&frasl;2 is greater than 2&frasl;3" width="80%">
  </figure>
</section>

<section>
  <h5><strong>Prompt #4</strong></h5>
  <p>Would you rather have 1&frasl;4 or 5&frasl;12 of a chocolate bar? Show your thinking.</p>
  <p><u>Teacher Notes:</u></p>
  <p>Students may use equivalence, benchmarks and/or models to show their thinking
A student may draw a rectangle and partition it in half.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsandBenchmarks-prompt4-1.jpg" alt="2&frasl;5 image" width="80%">
  </figure>
  <p>They may then partition one half in half again to locate one fourth.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsandBenchmarks-prompt4-2.jpg" alt="2&frasl;5 compared to tenths image" width="80%">
  </figure>
  <p>They may say that one fourth is the same as three twelfths. They position five twelfths between one fourth and one half, since they realize that six twelfths is one half. They may visualize one fourth partitioned into thirds (creating twelfths) to aid with the placement.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsandBenchmarks-prompt4-3.jpg" alt="2&frasl;3 and 2&frasl;5 compared with fourths image" width="80%">
  </figure>
  <p>This clearly demonstrates that 5&frasl;12 > 1&frasl;4.</p>
</section>

</main>
<%- include partials/footer.ejs%>
