<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Tasks</a></li>
    <li><a href="./comp">Comparing Fractions Tasks</a></li>
    <li><a href="./familiarFractionsBenchmarksComparisons">Familiar Fractions and Benchmarks Comparisons</a></li>
</ol>

<main class="container dot-lists pdf-page" role="main">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>Familiar Fractions and Benchmarks Comparisons</h1>
    </div>
  </section>

  <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
    <img src="/images/placeholder-image.png" alt="Placeholder image" class="img-responsive margin-auto" />
  </section>

  <section class="row">
    <h4>Description</h4>
    <p>This is a set of prompts consisting of purposefully paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding. These prompts are presented symbolically and without context. Encourage students to build models/representations and create contexts to support visualization of fractions, which in turn supports meaning-making.</p>
  
    <h4>Mathematics</h4>
    <p>Research shows that it is beneficial to spread fraction learning throughout the year and embed it in other strands. These prompts progress in complexity from comparisons of equivalent fractions, to examples that include same denominators, to comparisons of very close fractions with different numerators and denominators. Students are encouraged to develop a range of different strategies and to use them strategically, based on the situation.</p>
  </section>

  <section class="row">
    <h4>Curriculum Connections</h4>
    <p>Students will:</p>
    <ul>
      <li>represent, compare and order fractional amounts using a variety of tools</li>
    </ul>
  </section>

  <section class="row">
    <h4>Instructional sequence</h4>
    <ol>
      <li>Partner students and introduce the task. Post the selected prompt (select from options below) on the black/whiteboard or interactive whiteboard, or distribute on a handout.</li>
      <li>Provide students time to complete the task. Encourage them to use graph paper, rulers, and manipulatives (concrete or virtual, such as the tools at <a href="mathies.ca">mathies.ca</a>.</li>
      <li>Have students describe their thinking. Highlight different strategies by intentionally selecting students that solved the task in different ways. Have students identify the similarities and differences between the strategies.</li>
    </ol>
  </section>

  <section class="row promptBox">
    <h5>Prompt #1</h5>
    <p>Which is closer to 1 whole: 1&frasl;3 or 2&frasl;9? Describe the strategy you used to prove your thinking.</p>
    <h5>Prompt #2</h5>
    <p>Create a model to represent <strong>either</strong> 3&frasl;2 and 2&frasl;3 <strong>or</strong> 5&frasl;6 and 6&frasl;5.</p>
    <p>Which fraction of the pair you chose is greater? How do you know?</p>
    <h5>Prompt #3</h5>
    <p>Order the following fractions from least to greatest:</p>
    <p>2&frasl;3, 2 5&frasl;6, 11&frasl;4, 4&frasl;8, 3&frasl;5</p>
    <h5>Prompt #4</h5>
    <p>Would you rather have 1&frasl;4 or 5&frasl;12 of a chocolate bar? Show your thining.</p>
  </section>

  <section class="row">
    <div class="col-sm-6 col-md-6 no-padding-left">
      <h4>Highlights of student thinking</h4>

      <p>Students may:</p>
      <ul>
        <li>construct accurate models to compare two or more fractions</li>
        <li>rely on the algorithm for determining equivalent fractions</li>
        <li>consider only the numerators or only the denominators</li>
        <li>use benchmarks to make estimates for comparison</li>
        <li>consider the size of the unit fractions (as indicated by the denominators)</li>
        <li>consider the proximity of the fraction to 1 by identifying the ‘missing piece’ (complement)</li>
        <li>be purposeful about the strategy for comparison based on the fractions given</li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-6">
      <h4>Key questions</h4>
      <ol>
        <li>Did you think of contexts to help you visualize the fractions? How did this help you?</li>
        <li>Share how you visualized the fractions.</li>
        <li>How did your representation help you to compare the fractions?</li>
        <li>What strategy did you find most helpful? Why?</li>
        <li>What manipulatives could you use to help you?</li>
      </ol>
    </div>
  </section>

  <section>
    <hh4>Materials</h4>
    <p>Make tools available such as paper and markers, grid paper, paper strips for folding, and/or manipulatives such as relational rods.</p>
  </section>

  <section class="row">
    <a href="./familiarFractionsBenchmarksComparisonsTeacherNotes" style="color: #724199; border-bottom: 2px solid #724199; text-decoration: none;">Teacher Notes</a>
  </section>
<%- include partials/footer.ejs%>