<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">The Flick Game</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange">
          <p>Operation D</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with friendly but unlike denominators (<abbr title="For example">e.g.,</abbr> 2 and 10) using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/flickGame/OPD_P16_The Flick Game__TASK_FINAL.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>The Flick Game</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/flickGame/flick_game_task-thumbnail.png" alt="Task The Flick Game" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students will explore equivalent fractions and sums of fractions as they flick an eraser along game boards that are divided into thirds, sixths, ninths and eighteenths. The process of recording the scores on a number line – and determining
        the sum of their personal score, as well as their team score – reinforces the need for a common unit for addition of fractions.</p>

      <h4>Mathematics</h4>
      <p>Students often struggle when combining fractions with unlike denominators. In part, this struggle involves fragile understanding of equivalent fractions and common units. This activity will allow students to explore the addition of
        combinations of fractions with denominators of 3, 6, 9 and 18 whilst exploring fractional relationships. Many opportunities to compose and decompose fractions, and to use concrete models to lend proof to their thinking, will allow students
        to consolidate the need for a common unit when adding fractions.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>represent, compare and order fractional amounts with unlike but friendly denominators using a variety of tools and standard fractional notation</li>
        <li>compare fractions to benchmarks using concrete materials</li>
        <li>solve problems using addition and subtraction with fractions</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Divide students into teams of three.</li>
        <li>Review the object of the game and the requirements for scoring. Emphasize to students that each game board equals 1 whole. Students should line multiple boards up end-to-end.</li>
        <li>Distribute to each team: instructions (<abbr title="Blackline Master">BLM</abbr> 1), 1 game piece, 3-4 Game Boards (<abbr title="Blackline Master">BLM</abbr> 2a and/or 2b). Each student also gets a Score Card (<abbr title="Blackline Master">BLM</abbr>
          3). Note that the game boards are different, with <abbr title="Blackline Master">BLM</abbr> 2a partitioned into thirds and ninths while <abbr title="Blackline Master">BLM</abbr> 2b is partitioned into sixths and eighteenths. You may select
          which students receive which boards or distribute a mix of boards to each team and have the students strategize about how to order them (with more finely partitioned boards at the end to increase the accuracy of their score).</li>
        <li>Have students play the game as per the instructions on <abbr title="Blackline Master">BLM</abbr> 1. Each player takes 3 turns, completing a Score Card (<abbr title="Blackline Master">BLM</abbr> 3) as they play.</li>
        <li>After everyone has taken 3 turns, each player adds their individual results. Then, each team member identifies their highest score and these are added together to get a team total.</li>
        <li>Have students complete the Exit Ticket (<abbr title="Blackline Master">BLM</abbr> 4).</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>identify the equivalent fractions on the game boards quickly;</li>
          <li>create/label number lines incorrectly;</li>
          <li>immediately find common denominators to label all partitions;</li>
          <li>use the game board partitions to determine equivalent fractions;</li>
          <li>have difficulty placing their scores on the number line additively on the score card; and</li>
          <li>be more comfortable with representing their score using standard notation than with a model.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How did you choose your common unit? How did you calculate your total scores when the denominators were different?</li>
          <li>What representation makes the most sense to you? Why?</li>
          <li>How did you choose to label your number line and why?</li>
          <li>Why did you choose this particular game board?</li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/flickGame/OPD_P16_BLM 1_Game-Instructions-FINAL.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (one copy per group)</li>
        <li>One eraser half for each team</li>
        <li><a href="/pdf/flickGame/OPD_P16_BLM_2a_Gameboard.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 2a</a> and/or <a href="/pdf/flickGame/OPD_P16_BLM_2b_Gameboard.pdf" target="_blank">2b</a> (printed on 11X17) (3-4 boards per
          group)</li>
        <li><a href="/pdf/flickGame/OPD_P16_BLM_3_Student_Score_Card_FINAL.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 3</a> (one copy per student)</li>
        <li><a href="/pdf/flickGame/OPD_P16_BLM_4_Exit Cards_FINAL.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 4</a> (one card per student; three cards per page with different fractions to allow for modification)</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-black.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/flickGame/BLM-1.jpg" alt="BLM 2a" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/flickGame/OPD_P16_BLM 1_Game-Instructions-FINAL.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure class="padding-bottom">
            <img src="/images/tasks/flickGame/BLM-2a.png" alt="BLM 2a" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/flickGame/OPD_P16_BLM_2a_Gameboard.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure class="padding-bottom">
            <img src="/images/tasks/flickGame/BLM-2b.png" alt="BLM 2b" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/flickGame/OPD_P16_BLM_2b_Gameboard.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure class="padding-bottom">
            <img src="/images/tasks/flickGame/BLM-3_pg1.jpg" alt="BLM 3 Page 1" class="img-responsive margin-auto" />
            <img src="/images/tasks/flickGame/BLM-3_pg2.jpg" alt="BLM 3 Page 2" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/flickGame/OPD_P16_BLM_3_Student_Score_Card_FINAL.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/flickGame/BLM-4.jpg" alt="BLM 4" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/flickGame/OPD_P16_BLM_4_Exit Cards_FINAL.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

          <figure>
            <img src="/images/tasks/flickGame/FlickGame_Implementation_OP-D-3.png" alt="The Flick Game Implementation" class="img-responsive margin-auto" />
          </figure>

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/flickGame/FlickGame_StudentThinking_OP-D-1.png" alt="Building a Stage" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/flickGame/FlickGame_StudentThinking_OP-D-1.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/flickGame/FlickGame_StudentThinking_OP-D-2.png" alt="Building a Stage" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/flickGame/FlickGame_StudentThinking_OP-D-2.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/devPartItDisembed">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/buildUnitFrac">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building Understanding of Unit Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building to Addition and Subtraction of Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/litreviews/foundationsAddSub">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/pdf-img/addSub1.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
