<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active">FLP Introduction Video</li>
</ol>

<main>

  <section="row">
    <h1>Fractions Learning Pathways Introduction Video</h1>
    <div class="padding-bottom" style="max-width:1000px;margin:50px auto 0 auto;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/88bOCoPBRkM?rel=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <!--Insert transcript here-->
    <div class="panel-group padding-bottom" style="max-width:800px;margin:0 auto;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse1">
            <h4>Transcript</h4>
          </a>
        </div>
        <section id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <p><strong>Fractions Learning Pathways Research Overview</strong></p>
            <p>&nbsp;</p>
            <table width="595">
              <tbody>
                <tr>
                  <td width="97">
                    <p><strong>Time </strong></p>
                  </td>
                  <td width="120">
                    <p><strong>Speaker </strong></p>
                  </td>
                  <td width="378">
                    <p><strong>Script </strong></p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>0:05</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>My name is Cathy Bruce and this is Shelley Yearley and today we would like to talk to you about our fractions research and resource development.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>0:14</p>
                  </td>
                  <td width="120">
                    <p>Shelley</p>
                  </td>
                  <td width="378">
                    <p>This video is intended to provide you with an overview of the Fractions Learning Pathways.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>0:30</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>As you know, fractions are difficult to teach and difficult to learn. Our research team has been focusing on fractions over the past four years. We would like to share the process of developing the pathway with you now.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>0:45</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>The first step was that small teams of teachers and researchers worked together to try out different tasks, implement novel tasks that we thought might be engaging for students when learning fractions.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>1:00</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>The second step was for researchers to develop two comprehensive literature reviews, one on the foundations of fractions and the second one on operations with fractions.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>1:10</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>For step three, at this point, the researchers developed a first iteration of the pathway</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>1:16</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>The fourth step was to develop a pathway that included a series of novel fractions tasks and questions that could assess the degree of understanding of concepts and procedures in fractions.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>1:30</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>The fifth step was to field test some of the tasks along the pathway with teachers in classrooms and throughout this process the researchers and teachers gathered student information through video, photos, work samples, that
                      kind of thing.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>1:43</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>The pathway has gone through 24 revisions over time based on field testing. We are currently working on a version that includes multiplication and division with fractions.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>1:55</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>Our seventh step was to involve eight district school boards with the pathway in order to field test that pathway, combined with some pre and post-assessment tasks and all of the tasks that had been developed and field tested by
                      teachers over the years.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>2:10</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>Our last step has been to pre and post-test students as part of the learning of fractions using the pathway and we have been assessing those data to look at change over time, to assess for gender differences, to look at grade
                      differences, struggling learners versus learners who are succeeding quickly and readily accessing materials, even the quality of the tasks and the timing of the tasks has been assessed.</p>
                  </td>
                </tr>
                <tr>
                  <td width="97">
                    <p>2:40</p>
                  </td>
                  <td width="120">
                    <p>Cathy</p>
                  </td>
                  <td width="378">
                    <p>Through the project, we have worked with eight different school boards, seventy-five teachers, and well over 1000 students. Our longest intervention was approximately eight months and our shortest period of instruction was four
                      months. Remember with this that it was punctuated instruction, so not every day but throughout that time period.</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>&nbsp;</p>
          </div>
        </section>
      </div>
    </div>
  </section>
  

</main>
  <%- include partials/footer.ejs%>
