<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active">FLP Introduction Video</li>
</ol>

<main>

  <section="row">
    <h1>Fractions Learning Pathways Introduction Video</h1>
    <div class="padding-bottom" style="max-width:1000px;margin:50px auto 0 auto;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ayBU_tUucas?rel=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <!--Insert transcript here-->
    <div class="panel-group padding-bottom" style="max-width:800px;margin:0 auto;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse1">
            <h4>Transcript</h4>
          </a>
        </div>
        <section id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="padding-bottom">
              <h4 style="text-align:center"><strong>Fractions Learning Pathways Research Overview</strong></h4>
            </div>

            <table class="padding-bottom" style="border:1px solid black">
              <tr>
                <td class="col-md-2 col-sm-2"><strong>Speaker</strong></td>
                <td class="col-md-9 col-sm-9"><strong>Script</strong></td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>We would like to give you a brief overview of the Fractions Learning Pathways. If you go to the Fractions: Learning and Teaching page on EduGAINS, you will see the link to the Fractions Learning Pathways webpage. Once you click
                  on that, the Pathway will be more easily viewed.
              </tr>
              <tr>
                <td>Shelley</td>
                <td>You will notice that there are three clusters on the pathway - unit
                  fractions, comparing fractions and adding and subtracting fractions.
                  Each cell within each cluster in live - so if you click on the cell you are
                  interested in, let’s say Unit B, you will go to a landing page.</td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>The left side of the landing page provides you with a brief background
                  on the cell's contents. The right side of the page contains tasks that
                  have been developed for that cell. For this cell there are two tasks
                  currently available. Let's look at Desktop Fractions.</td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>Once you select the task, you will see that the template includes a brief
                  description and photo of the task. A discussion of the mathematics as
                  well as specific curriculum connections follow. The educators who used
                  these tasks developed a concise instructional sequence for others to
                  follow. As well, they included Highlights of Student Thinking and Key
                  Questions which can be used in the classroom to expose, evoke and
                  extend student thinking.</td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>A list of Materials completes the information for the task.</td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>There are four tabs along the bottom which contain additional resources relevant to this task.<br />
                  The Task Templates tab contains all materials developed to support educators in using this task in their
                  classroom. Click on the image to open it and download it.</td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>The Implementation tab provides a brief glimpse into the task in an
                  Ontario classroom, either through a photograph or, as in this case, a
                  video.</td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>The Student Thinking tab includes summaries of student thinking as
                  collected through the research project. Sometimes the summaries are
                  annotated samples of student work while other times they are charts
                  with anticipated student responses and suggested teacher prompts. In
                  this task, the student thinking sample includes annotated pictures of
                  students as they complete the task.</td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>Finally, there is an additional resources tab which provides easy links to relevant
                  research summaries as well as other resources, where appropriate</td>
              </tr>
              <tr>
                <td>Shelley</td>
                <td>You can return to the Pathway by clicking on the image at the top of the task</td>
              </tr>
            </table>

          </div>
        </section>
      </div>
    </div>
    </section>


</main>
<%- include partials/footer.ejs%>
