<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-item active">Instructional Decisions</li>
</ol>

<main class="container-digital-paper">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/instructionalDecisions.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">

    <h2>Fractions: Represent, Compare and Order Video Transcription</h2>
    <h3><em>Professional Learning about Fractions</em> Digital Paper</h3>

    <table class="digitalTable">
      <tr style="text-align:center">
        <th>Time</th>
        <th>Transcript</th>
      </tr>
      <tr>
        <td>0:11</td>
        <td>
          As educators we know (and the research affirms) that fractions are an exceedingly difficult area of
          mathematics for students to learn.
        </td>
      </tr>
      <tr>
        <td>0:19</td>
        <td>
          <p>Student: "Okay so we, to figure out two fifths we mad ea rectangle with three lines vertical and two lines horizontal."</p>
          <p>Researcher: "How many lines vertical?"</p>
          <p>Student: "Um, five."</p>
          <p>Researcher: "Okay why did you use five and two again?"</p>
          <p>Student: "Because in two-fifths there is a two and five."</p>
          <p>Researcher: "Okay."</p>
          <p>Student: "So we did that. So then we coloured in five two times and got ten."</p>
        </td>
      </tr>
      <tr>
        <td>0:42</td>
        <td>
          <p>Student 1: "And it looked like just a whole bunch of numbers, like everywhere..."</p>
          <p>Student 2: "But yeah and then you start getting the hang of it, and you're like, 'Oh! Now I understand'. But they keep asking questions, but what does this mean? Sometimes it gets confusing."</p>
        </td>
      </tr>
      <tr>
        <td>0:59</td>
        <td>
          Teams in the collaborative action research project focused on representing, comparing and ordering fractions. The research on one team
          uncovered 3 important models for representing part-whole relationships. In his article in Teaching Children Mathmatics, Ted Watanabe highlights
          the importance of using linear models, area models, and discrete (or set) models to represent fractions.
        </td>
      </tr>
      <tr>
        <td>1:24</td>
        <td>
          These samples illustrate what the part-whole relationships students saw in teh classroom when we asked them to represent two-fifths and four-tenths.
        </td>
      </tr>
      <tr>
        <td>1:39</td>
        <td>
          <p>The representations used uncover the different meanings that students attribute to fractions. Here for example teh student representation shows the students
            interprets four-tenths as a ratio: four to ten.</p>
          <p>Educators in teh projeect did a lot of thinking about <strong>when</strong> different representations might help or hinder student thinking. They noticed an
            overuse of area models, especially circle representations, which introduced errors when dealing with numbers into which circles are not easily partitioned (such as sevenths or twelfths).</p>
        </td>
      </tr>
      <tr>
        <td>2:15</td>
        <td>
          Notice that these students have used two circles to model two-fifths and four-tenths &#8212; one is nearly one-half while the other is one-fourth. Yet they have correctly stated that two-fifths is
          equivalent to four-tenths at the top of their paper.
        </td>
      </tr>
      <tr>
        <td>2:28</td>
        <td>
          The use of a number line for representing, comparing and ordering fractions was examined in multiple classrooms. Teams saw a lot of potential in the number line for representing fractions with greater
          accuracy for helping students develop conceptual understanding as well as proportional reasoning.
        </td>
      </tr>
      <tr>
        <td>2:46</td>
        <td>
          <p>Student 1: "It's easier with the number lines for ..."</p>
          <p>Student 2: "Yeah. Number lines ar emuch easier because you can use a ruler and get exactly what you're looking for."</p>
        </td>
      </tr>
      <tr>
        <td>2:55</td>
        <td>
          Student: "Circles are also harder because if you have like an odd number, like a five, you wouldn't be able to do it equally, instead of an even number, like 4, you could just do like one, two, three, and four and just split it.
          Easy that way, but like a number line is just a line with bars, you can, basically it is just a lot easier."
        </td>
      </tr>
      <tr>
        <td>3:25</td>
        <td>
          <p>Comparing requires students to determine which fraction is the largest.</p>
          <p>Comparing fractions assumes that the two fractions have the same whole, so is based in the part-whole meaning of fractions. Students should understand a fraction as a number, and use benchmar,s such as zero, one,
            one-half and three-foruths to compare.</p>
        </td>
      </tr>
      <tr>
        <td>3:47</td>
        <td>
          Kerry: "We had 'prove that two-thirds and eight-tenths, no eight-twelfths, are equivalent'. So these two used the same number line and showed they partitioned it in two different way so we talked about that &#8212; that the
          number line showed that these students could take a whole and divide it into both twelve parts and three parts. It helped prove equivalency and it showed tha tone whole can be partitioned into different parts."
        </td>
      </tr>
      <tr>
        <td>4:09</td>
        <td>
          Ordering fractions requires students to consider the magnitude of the fraction in comparison to whole numbers, benchmark fractions, and the other fractions they have already ordered.
        </td>
      </tr>
      <tr>
        <td>4:12</td>
        <td>
          <p>Student 1: "Well this would be less than this one."</p>
          <p>Student 2: "This is zero. That's what I am thinking."</p>
          <p>Student 3: "That is one."</p>
          <p>Studnet 1: "Wait. Would 45 be the same as three fourths? ... No, that would be less. It is over one-quarter but below one half."</p>
          <p>Student 3: "This is morek, this is like there."</p>
          <p>Student 2: "So, how much is this?"</p>
          <p>Student 3: "No, because this would be the seventy, sixty, no we need it bigger. Can you erase that and make it to the end?"</p>
        </td>
      </tr>
      <tr>
        <td>5:11</td>
        <td>
          <p>There are multiple meanings of fractions depending on context. Understanding these different meanings is crucial for teachers to be able to support studnets.</p>
          <p>for example, we can distinguish between</p>
          <ul>
            <li>Linear measures</li>
            <li>Part-whole</li>
            <li>Part-part</li>
            <li>Quotient perceptions and</li>
            <li>Operator perceptions of fractions</li>
          </ul>
          <p>The junior grades represent a key learning period for students with respect to fractions as they move beyond part-whole area models to work with sets, as well as part-part ratio relationships.
            Thisresearch informed the development of the Math for Teaching: Fractions summary document</p>
        </td>
      </tr>
      <tr>
        <td>5:57</td>
        <td>
          Rich professional learning opportunities such as collaborative action research support teachers in recognizing the value of deep conceptual understanding. Educators in the project were able
          to explore new instructional strategies and felt better able to support students and respond to their needs in the moment. Students too were excited to be a part of the project and benefited in their learning
          as a result of the focus on fractions.
        </td>
      </tr>
    </table>

  </section>
</main>

<%- include partials/footer.ejs%>
