<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item active">Fractions Top Ten Lessons</li>
</ol>


<main class="containerstantard-page-layout">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12 no-padding">
      <h1>Fractions Top Ten Lessons</h1>
    </div>
  </section>

  <section class="row padding-bottom">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nFxv4cdSGy4?rel=0&showinfo=0" frameborder="0" allowfullscreen class="top-margin bottom-margin"></iframe>
      </div>
    </div>
  </section>
  <%- include partials/footer.ejs%>
