<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./fracResearchFindings">Fractions Research Findings</a></li>
</ol>


<main class="container">
<!-- Insert content here-->

<iframe width="560" height="315" src="https://www.youtube.com/embed/xiCpmAFFSAg" frameborder="0" allowfullscreen></iframe>


<!--Insert transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>Fractions Research Findings Video Transcription</h2>

        <table>
            <tr>
                <th>Time</th>
                <th>Speaker</th>
                <th>Transcript</th>
            </tr>
            <tr>
                <th>0:07</th>
                <th>Cathy</th>
                <th>
                  Over the four years, we have been collecting data on student learning. Our first example here is a grade four
                  student outcome set. We have sixteen classes showing here, their pre and post-means, and in the seventeenth data
                  set you can see the mean for all of those classes. And what you can see here is out of a score of sixteen, students
                  moved from a pre-mean of 5.26 to a post mean of 11.14. These are dramatic gains.
                </th>
            </tr>
            <tr>
                <th>0:35</th>
                <th>Cathy</th>
                <th>
                  In another cluster of data, we compared three district school boards. One with grades three to six teachers, one
                  with grades three to nine and one with grades six to eight. What is really interesting about this data set is that
                  each district school board started in a very different place; there were significant differences between the three
                  district school boards. By the end of the research and the intervention with teachers and students, all three school
                  boards had made gains and were significantly close together and so we can see that this is actually a gap closing resource.
                </th>
            </tr>
            <tr>
                <th>1:11</th>
                <th>Cathy</th>
                <th>
                  One more data set I would like to point to is a story that tells us that it is never too late. Each line on the graph
                  represents one grade from grades three through nine. And in every case, in every grade, the students made significant
                  gains because of the work they focused on with fractions and the resources that were available to them.1

                </th>
            </tr>
            <tr>
                <th>1:35</th>
                <th>Cathy</th>
                <th>Transcript</th>
            </tr>
            <tr>
                <th>Time</th>
                <th>Speaker</th>
                <th>
                  We have also conducted teacher surveys to find out what teachers thought of the pathway in particular and here is an example
                  of a teacher response. “The Fractions Learning Pathways really helped me to better distinguish between the many fractions
                  concepts, and to determine how various concepts supported and connected to others. Using the pathway as a tool, I was better
                  equipped to plan next steps (or to back up a bit) for my students. Examining the pathway made it very evident the extensive
                  background needed in order to perform operations with fractions. I made many assumptions about my intermediate students which
                  I needed to revisit.”
                </th>
            </tr>

            <tr>
                <th>2:15</th>
                <th>Cathy</th>
                <th>
                  So we are now confident in saying that the Fractions Learning Pathways is working, it functions well. The resources support
                  teachers in implementing high quality fractions learning opportunities and the tasks function as a gap closing strategy.
                </th>
            </tr>
        </table>


      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs%>
