<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">All Research</a></li>
    <li><a href="./fracResearchSum2017">Fractions Research Summary - May 2017</a></li>
</ol>


<main class="container">

    <section class="pdf-page">
        <section class="row padding-bottom">
            <div class="col-sm-12 col-md-12 no-padding">
                <h1>Fractions Research Summary (May 2017)</h1>
            </div>
        </section>

        <section class="row">
            <div class="col-md-10 col-sm-10">
                <p>High quality, sustained professional learning based upon the Fractions Learning Pathways tasks can increase student learning and close gaps for students.</p>
            </div>
            <div class="col-md-2 col-sm-2">
                <p>Spring 2017</p>
            </div>
        </section>

        <section class="row">
            <div class="col-md-12 col-sm-12">
                <h4>FRACTIONS RESOURCES FOR TEACHING AND LEARNING</h4>
            </div>
            <div class="col-md-7 col-sm-7">
                <p>Since 2010, research in Ontario classrooms has focused on effective teaching and learning of fractions. Dr. Cathy Bruce (Trent University) is the lead researcher on this long-term project, working in collaboration with Ministry partners. Many resources have emerged from this research, including the Fractions Learning Pathways. An online interactive planning tool, the Fractions Learning Pathways provides educators with a research-informed framework for teaching fractions and includes a range of field-tested tasks that have proven to be effective in Ontario schools. The Fractions Learning Pathways is available to educators on EduGAINS at <a href="www.fractionslearningpathways.ca">www.fractionslearningpathways.ca</a></p>
                <p>Additional resources include literature reviews, one-page summaries of key research findings, webinars and professional facilitator supports. These materials can be accessed on EduGAINS at <a href="www.fractionsteaching.ca">www.fractionsteaching.ca</a></p>
            </div>
            <div class="col-md-5 col-sm-5">
                <figure>
                    <img src="/images/Fractions_Research_Summary-image01.jpg" alt="" class="img-responsive margin-auto">
                </figure>
            </div>
        </section>

        <section class="row">
            <div class="col-md-12 col-sm-12">
                <h4>HOW WAS TEACHER PROFESSIONAL LEARNING PART OF THE RESEARCH?</h4>
            </div>
        </section>

        <section class="row">
            <!-- Page 1 - First Collumn -->
            <div class="col-md-6 col-sm-6">
               <p>Three models of professional learning were employed through this research:</p>
               <p><strong>1. Collaborative action research (CAR)</strong></p>
               <p>CAR is a form of research in which teachers and researchers investigate mutual areas of interest (Bruce, Flynn & Peterson, 2011; Bruce & Flynn, 2013). This type of research involves continual generation of knowledge in iterative cycles. The cyclical nature of CAR provides a framework for teacher-researcher teams to engage in the processes of identifying a problem, co-planning, implementing a plan of action and evaluating the interventions. The collaborative action research that occurred as part of this project focused primarily on building student conceptual and procedural knowledge through close examination of student thinking, with an emphasis on the design and refinement of fractions tasks. CAR activities occurred in four district school boards.</p>

                <!-- Picture Here -->
                <figure>
                    <img src="/images/research/Fraction_Research_Summary_2017-image1.png" alt="" class="img-responsive margin-auto">
                </figure>
            </div>
            <!-- End First Collumn -->

            <!-- Page 1 - Second Collumn -->
            <div class="col-md-6 col-sm-6">
                <p><strong>2. Field Testing</strong></p>
                <p>The tasks and materials developed through CAR were distributed to five district school boards (none of which had been involved in the CAR research). Classroom educators at each of these sites received tasks and resources developed todate and were supported through professional learning about the key findings of the fractions research. The groups met for up to seven days over several months to plan, to implement and observe student learning, and to reflect upon the fractions tasks. Additional refinements to the tasks were made through this process.</p>
                <p><strong>3. Board-wide Professional Learning</strong></p>
                <p>Two boards engaged junior teachers, alongside principals and mathematics coaches, in sustained professional learning on fractions. One board included all grade 4 teachers one year, all grade 5 teachers the next and all grade 6 teachers in the final year. Another board engaged voluntary school teams of junior teachers one year and then included all junior teachers the following year. </p>
            </div>
        </section>
    </section>

    <section class="pdf-page">
        <section class="row">
            <div class="col-md-12 col-sm-12">
                <h4>WHAT ARE THE KEY FINDINGS FROM TEACHER PROFESSIONAL LEARNING ABOUT FRACTIONS?</h4>
            </div>
        </section>

        <section class="row">
            <!-- Page 2 - First Collumn -->
            <div class="col-md-6 col-sm-6">
                <p><strong>1. High quality fractions teaching and learning resources combined with sustained professional learning opportunities (approximately 5 to 7 days) lead to significant student gains.</strong></p>
                <p>The research team determined that it is possible, through precise instructional decisions, to increase student achievement in fractions. A longitudinal student cohort study, progressing from grade 4 to grade 6 over three years, found that a board-wide focus on fractions extended the gains to multiple grades.</p>
                <!-- Picture Here-->
                <figure>
                    <img src="/images/research/Fraction_Research_Summary_2017-image2.png" alt="" class="img-responsive margin-auto">
                </figure>
                <p>Students showed significant shifts from inaccurate and inappropriate responses (0) to responses which were accurate and appropriate (2) on a 15-item assessment</p>
                <!-- Picture Here-->
                <figure>
                    <img src="/images/research/Fraction_Research_Summary_2017-image3.png" alt="" class="img-responsive margin-auto">
                </figure>
                <div class="col-md-6 col-sm-6">
                    <p>In another district school board, a junior focus on fractions allowed teacher colleagues to compare shifts in their students’ understanding of core concepts. They used a spreadsheet to visually note shifts in student scores. Red shows a score/code of 0, yellow score of 1 and green </p>
                </div>   
                <div class="col-md-6 col-sm-6">
                    <!-- Picture Here-->
                    <figure>
                        <img src="/images/research/Fraction_Research_Summary_2017-image4.png" alt="" class="img-responsive margin-auto">
                    </figure>    
                </div>   
            </div>
            <!-- Page 2 - Second Collumn -->
            <div class="col-md-6 col-sm-6">
                <p>score of 2. This heat map makes it easier to identify which core concepts were understood.</p>
                <p><strong>2. The research team believes that large-scale professional learning programs must be grounded in intensive studies which provide the backbone to the content of the program including: </strong></p>
                <ul>
                    <li>high quality field-tested resources; </li>
                    <li>a basis in existing research that crystalizes key learnings; and</li>
                    <li>field-tested frameworks that are grounded in student evidence of learning.</li>
                </ul>
                <ul>The Fractions Learning Pathways resources include: 
                    <li>the learning pathways (a framework for teaching and learning that is based on core concepts and skills uncovered through the research); </li>
                    <li>tasks related to the core concepts and skills;</li>
                    <li>‘landing pages’ which provide a succinct background to the significance of each core concept; </li>
                    <li>connections to relevant research summaries;</li>
                    <li>anticipated student responses and suggested teacher prompts in text, video and photographic formats.</li>
                </ul>
                <p>3. Research from a three-year subset of data in the study suggests that <strong>a sustained district focus on one area of mathematics learning not only supports teachers in their learning and collaboration, but also supports student learning of difficult concepts.</strong> This is important because it validates an approach to district level planning that is long-term (3-5 years) and deep, rather than short-term and broad. As such, we recommend that districts be encouraged to select a challenging mathematics content focus and sustain that focus over several years and across several grades in order to make lasting effects that support students with a solid foundation for later mathematics.</p>
            </div>
    </section>


<%- include partials/footer.ejs%>