<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/digitalPaper">Fractions: Representing Comparing Ordering</a></li>
    <li><a href="./fracRepCompOrder">Fractions Representing Comparing Ordering</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<!-- <h1>Digital Paper</h1> -->
<h1>Fractions Representing Comparing Ordering</h1>
<!--Insert content here-->

<h2>Representing fractions</h2>

<iframe width="420" height="315" src="https://www.youtube.com/embed/I4UKW7pAJXQ" frameborder="0" allowfullscreen></iframe>
<!--Insert transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>Fractions: Represent, Compare and Order Video Transcription</h2>
        <h3>Professional Learning about Fractions Digital Paper</h3>

        <table>
            <tr>
                <th>Time</th>
                <th>Transcript</th>
            </tr>
            <tr>
                <td>0:11</td>
                <td>As educators we know (and the research affirms) that fractions are an exceedingly difficult area of mathematics for
                    students to learn.</td>
            </tr>
            <tr>
                <td>0:19</td>
                <td>
                    <p>Student: <q>Okay so we, to figure out two fifths we made a rectangle with three lines vertical and two lines horizontal.</q></p>
                    <p>Researcher: <q>How many lines vertical?</q></p>
                    <p>Student: <q>Um, five.</q></p>
                    <p>Researcher: <q>Okay why did you use five and two again?</q></p>
                    <p>Student: <q>Because in two-fifths there is a two and five.</q></p>
                    <p>Researcher: <q>Okay.</q></p>
                    <p>Student: <q>So we did that. So then we coloured in five two times and got ten.</q></p>
                </td>
            </tr>
            <tr>
                <td>0:42</td>
                <td>
                    <p>Student 1: <q>And it looked like just a whole bunch of numbers, like everywhere…</q></p>
                    <p>Student 2: <q>But yeah, and then you start getting the hang of it, and you’re like, ‘Oh! Now I understand’. But they keep asking questions, but what does this mean? Sometimes it gets confusing.</q></p>
                </td>
            </tr>
            <tr>
                <td>0:59</td>
                <td>
                    Teams in the collaborative action research project focused on representing, comparing and ordering fractions. The research
                    of one team uncovered 3 important models for representing part-whole relationships. In his article in Teaching
                    Children Mathematics, Ted Watanabe highlights the importance of using linear models, area models, and discrete
                    (or set) models to represent fractions.
                </td>
            </tr>
            <tr>
                <td>1:24</td>
                <td>
                    These samples illustrate what the part-whole relationships students saw in the classroom when we asked them to represent
                    two-fifths and four-tenths.
                </td>
            </tr>
            <tr>
                <td>1:39</td>
                <td>
                    <p>The representations used uncover the different meanings that students attribute to fractions. Here for example
                        the student representation shows the student interprets four-tenths as a ratio: four to ten.</p>
                    <p>Educators in the project did a lot of thinking about when different representations might help or hinder student
                        thinking. They noticed an overuse of area models, especially circle representations, which introduced errors
                        when dealing with numbers into which circles are not easily partitioned (such as sevenths or twelfths).</p>
                </td>
            </tr>
            <tr>
                <td>2:15</td>
                <td>
                    Notice that these students have used two circles to model two-fifths and four-tenths – one is nearly one-half while the other
                    is one-fourth. Yet they have correctly stated that two-fifths is equivalent to four-tenths at the top of their
                    paper.
                </td>
            </tr>
            <tr>
                <td>2:28</td>
                <td>
                    The use of a number line for representing, comparing and ordering fractions was examined in multiple classrooms. Teams saw
                    a lot of potential in the number line for representing fractions with greater accuracy and for helping students
                    develop conceptual understanding as well as proportional reasoning.
                </td>
            </tr>
            <tr>
                <td>2:46</td>
                <td>
                    <p>Student 1: <q>It’s easier with the number lines for …</q></p>
                    <p>Student 2: <q>Yeah. Number lines are much easier because you can use a ruler and get exactly what you’re looking for.</q></p>
                </td>
            </tr>
            <tr>
                <td>2:55</td>
                <td>
                    Student: <q>Circles are also harder because if you have like an odd number, like a five, you wouldn’t be able to do it equally, instead of an even number, like 4, you could just do like one, two, three, and four and just split it. Easy that way, but like a number line is just a line with bars, you can, basically it is just a lot easier.</q>
                </td>
            </tr>
            <tr>
                <td>3:25</td>
                <td>
                    Comparing requires students to determine which fraction is the largest. Comparing fractions assumes that the two fractions
                    have the same whole, so is based in the part-whole meaning of fractions. Students should understand a fraction
                    as a number, and use benchmarks, such as zero, one, one-half, and three-fourths to compare.
                </td>
            </tr>
            <tr>
                <td>3:47</td>
                <td>
                    Kerry: <q>We had ‘Prove that two-thirds and eight-tenths, no eight-twelfths, are equivalent’. So these two used the same number line and showed they partitioned it in two different ways so we talked about that – the number line showed that these students could take a whole and divide it into both twelve parts and three parts. It helped prove equivalency and it showed that one whole can be partitioned into different parts.</q>
                </td>
            </tr>
            <tr>
                <td>4:09</td>
                <td>
                    Ordering fractions requires students to consider the magnitude of the fraction in comparison to whole numbers, benchmark
                    fractions, and the other fractions they have already ordered.
                </td>
            </tr>
            <tr>
                <td>4:12</td>
                <td>
                    <p>Student 1: <q>Well this would be less than this one.</q></p>
                    <p>Student 2: <q>This is zero. That’s what I am thinking.</q></p>
                    <p>Student 3: <q>That is one.</q></p>
                    <p>Student 1: <q>Wait. Would 45 be the same as three fourths? … No, that would be less. It is over one-quarter but below one-half.</q></p>
                    <p>Student 3: <q>This is more, this is like there.</q></p>
                    <p>Student 2: <q>So, how much is this?</q></p>
                    <p>Student 3: <q>No, because this would be the seventy, sixty, no we need it bigger. Can you erase that and make it to the end?</q></p>
                </td>
            </tr>
            <tr>
                <td>5:11</td>
                <td>
                    <p>There are multiple meanings of fractions depending on context. Understanding these different meanings is crucial
                        for teachers to be able to support students.</p>
                    <p>For example, we can distinguish between</p>
                    <ul>
                        <li>Linear measures</li>
                        <li>Part-whole</li>
                        <li>Part-part</li>
                        <li>Quotient perceptions and</li>
                        <li>Operator perceptions of fractions</li>
                    </ul>
                    <p>The junior grades represent a key learning period for students with respect to fractions as they move beyond
                        part-whole area models to work with sets, as well as part-part ratio relationships. This research informed
                        the development of the Math for Teaching: Fractions summary document.</p>
                </td>
            </tr>
            <tr>
                <td>5:57</td>
                <td>Rich professional learning opportunities such as collaborative action research support teachers in recognizing the
                    value of deep conceptual understanding. Educators in the project were able to explore new instructional strategies
                    and felt better able to support students and respond to their needs in the moment. Students too were excited
                    to be a part of the project and benefited in their learning as a result of the focus on fractions.</td>
            </tr>
        </table>

      </div>
    </div>
  </div>
</div>


<p><strong>Representing</strong> refers to the process of using symbolic, concrete and pictorial representations
  as well as words and relevant situations to explore concepts and communicate understanding. There are three
  general models that Watanabe (2002) illustrates for representations of fractions: linear (number lines),
  area (partitioned regions), and discrete (set models).</p>

<p>Note: Within the Ontario curriculum (2005), symbolic notation is introduced formally in grade 4. Prior to this,
  familiarity with fraction terminology such as halves, fourths, fifths supports student understanding.</p>

<h4>Research Findings:</h4>
<p>Existing literature and the findings of this fractions research project indicates that students should be exposed
  to number lines and rectangular area models in early grades. These representations support students in understanding
  the notion that a fraction is a number (for example <abbr title="one third">⁄1&frasl;3</abbr>
 is a number) as well as enable students to create equal partitions using a variety of strategies.
 Students frequently make incorrect conclusions when comparing fractions that are close in value using a
 circle model (such as <abbr title="four tenths">4⁄&frasl;10</abbr> and <abbr title="one third">⁄1&frasl;3</abbr>)
 as it is difficult to accurately partition a circle into ten equal-sized parts. Flexibility and purposefulness
 with representations enables students to make selections most appropriate to the context (such as a number line
 for distance).</p>


<h3>Comparing fractions</h3>


<p>Comparing requires students to determine which fraction is the larger or the smaller. Comparing fractions assumes that the
  two fractions have the same whole, so is based in the part to whole meaning of fractions. Students should understand a
  fraction as a number and use benchmarks, such as 0, 1, <abbr title="one half">½</abbr>1, and <abbr title="three fourths">¾</abbr> to compare fractions. There are a variety of strategies for comparing fractions beyond determining a common denominator, including consideration of the relationship between the numerator and denominator. For example, students could quickly compare 1 <abbr title="one hundred thirty-four two thousand twenty-fifths">134/&frasl;2025</abbr>
 and 1 <abbr title="one thousand nine hundred sixty-three two thousandths">1963⁄&frasl;2000</abbr>
  by realizing that the first fraction is closer to 1 since there is a greater difference between the numerator and
  denominator than in the second fraction Older students may use their knowledge of fraction as a quotient to determine
  decimal equivalencies for comparison.</p>

<h4>Research Findings:</h4>
<p>In this fractions research project, students frequently doubled the numerator and denominator of a fraction to generate equivalent fractions but demonstrated little understanding of how this procedure connects to the repeated partitioning of a measure, such as area (<abbr title="one fourth">¼</abbr>
<abbr title="one fourth">¼</abbr>
 = <abbr title="two eighths">2⁄&frasl;8</abbr>
  or <img src="" alt="" height="" width="" />  ). Many students did not have consistent success with determining equivalent fractions by merging pieces, such as <abbr title="eighteen thirty-sixths">18⁄&frasl;36</abbr> =  <abbr title="nine eighteenths">9⁄&frasl;18</abbr>
  </p>

  <h3>Ordering fractions</h3>

  <p>Ordering refers to the process of determining the relative size of a number of fractions by placing
    them in order from smallest to largest or largest to smallest. Students used their understanding of fractions
    to compare and order fractions in a variety of manners. Ordering fractions on a number line requires students
    to consider the magnitude of the fraction in comparison to whole numbers, benchmark fractions, and the other
    fractions they have placed on their number line. This relative comparison engages students in reasoning and proving
    with each successive placement, allowing them to correct previous errors as necessary.</p>

  <h4>Research Findings:</h4>
  <p>In the fractions research project, students who developed a deep conceptual understanding of fractions and
    flexible processes for comparing fractions were able to successfully order fractions on the number line using
    a variety of strategies. This extended to decimals, percents, and mixed numbers.</p>


    <h3>Understanding Fractions</h3>

    <p>In this fractions action research project, gaining a deeper understanding of the various conceptions of fractions
      allowed teachers to better understand and respond to student thinking.</p>

    <p>The part-whole relationship of simple fractions is highly emphasized across North American mathematics programs.
      Most students involved in this project demonstrated a consistently solid understanding of a half of an item, and
      when presented in the context of sharing food, also identified the need for the two pieces to be of equal size or
      area. This comfort level was evident when working with students to explore common benchmark fractions, such as
      <abbr title="one third">1⁄&frasl;3</abbr> and <abbr title="three fourths">¾</abbr>. However, when asked to represent
      less common fractions, such as <abbr title="two fifths">2⁄&frasl;5</abbr> or to interpret the fraction
      <abbr title="six sixths">6&frasl;6</abbr>, many grade 4 through 7 students struggled. Through this research project
      it was evident that students switched indiscriminately between the use of:</p>
    <ul>
        <li>fractions as part of a whole using a set representation,</li>
        <li>fractions as part of a whole using an area representation, and</li>
        <li>fractions as a ratio (part-part).</li>
    </ul>

    <p>These meanings and representations of fractions occur throughout the elementary and secondary Ontario curriculum.</p>

    <p>Researchers have identified multiple ways of understanding, perceiving and representing fractions
      (Lamon, 1999; Marshall, 1993; Mosely & Okamoto, 2007). This research informed the development of the Math for
      Teaching: Ways We Use Fractions document, which highlights multiple interpretations and representations of a
      fraction depending on the context or situation.</p>

    <p>These include interconnected understandings of fractions as:</p>
    <ul>
    <li>Linear Measures: situations in which a rational number's distance from zero is important</li>
    <li>Part-Whole Relationships: situations in which a part is compared to the total amount</li>
    <li>Part-Part Relationships: ratio situations in which separate quantities are compared</li>
    <li>Quotient perceptions: situations that highlight the process or result of a division</li>
    <li>Operator perceptions: situations in which the role of a rational number in enlarging or shrinking a quantity
      is highlighted</li>
     </ul>

     <img src="" alt="" height="" width="" />

    <p>The junior grades represent a key learning period for students with respect to fractions as they move beyond
      part-whole with continuous models to work with sets as well as part-part relationships. When educators have a
      deep understanding of fractions, they are more capable of responding to student needs, with an emphasis on conceptual
      understanding. Within the junior curriculum, students are expected to be able to represent, compare, and order
      fractions. The development of these actions <abbr title="Kindergarten">K</abbr>-12 is shown and further
      explored below.</p>



<%- include partials/footer.ejs%>
