<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./fracRep">Fractions Representation (Jr-Int)</a></li>
</ol>

<main class="container">

<h1>Fractions Representation (Jr-Int)</h1>

<h2>Fractions Unit: Day 1 - Kawartha Pine Ridge <abbr title="District School Board">DSB</abbr> KNAER Lesson</h2>
<p><abbr title="Junior">Jr</abbr>/<abbr title="Intermediate">Int</abbr></p>
<p><abbr title="Minds On">MO</abbr> 5 <abbr title="minutes">min</abbr></p>
<p><abbr title="Action">A</abbr> 20 <abbr title="minutes">min</abbr></p>
<p><abbr title="Consolidate Debrief">C/D</abbr> 35-45 <abbr title="minutes">min</abbr></p>
<p>60 <abbr title="minutes">min</abbr></p>

<h3>Math Learning Goals</h3>

<p>Students will:</p>
<ul>
<li>Represent fractions as parts of a set and as part of a whole</li>
<li>Reason about meaning of a fraction and the relationship between numerator and denominator</li>
<li>Communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>
, use of benchmarks to support and refine the meaning of fractions</li>
</ul>

<h3>Materials</h3>
<ul>
<li>a variety of manipulatives</li>
<li>sticky notes</li>
</ul>

<h3>Minds On…
<h4>Independent  Math Log</h4>
<p>Students respond to the prompt: What is a fraction?</p>


<h3>Action!</h3>
<h4>Pairs  Parallel Task (10 <abbr title="minutes">min</abbr>)</h4>
<p>Ask students to select one of the following fractions: <abbr title="four tenths">4&frasl;10</abbr> or <abbr title="two fifths">2&frasl;5</abbr>, and represent it in at least three different ways. Pairs display all of their representations in their workspace.</p>

<h4>Whole Group  Gallery Walk (10 <abbr title="minutes">min</abbr>)</h4>
<p>Students circulate around the room and review the different representations. Students consider which representation they think most clearly shows the fraction, and indicate their preference by placing a sticky note with their name by their first choice. Ask students to be prepared to discuss any similarities or differences they notice between the representations of <abbr title="four tenths">4&frasl;10</abbr> and <abbr title="two fifths">2&frasl;5</abbr>.</p>
<p>Scaffold by suggesting different manipulatives for different pairs.</p>
<p>Students may notice that the two fractions are equivalent. Allow them to reason and explore to reach this conclusion.</p>



<h3>Consolidate Debrief</h3>
<h4>Whole Group  Discussion</h4>
<p>Guide the class to organize and name the different types of representations students preferred. Ask students who put their name on a sticky note by each particular representation to explain why they think that one is the most effective. Use prompts such as:</p>
<ul>
    <li>What did you find particularly helpful about this representation??</li>
    <li>I am noticing a lot of students selected (this) model. Why do you think so many of us chose that representation?</li>
    <li>Why didn’t you pick (the most popular)?</li>
    <li>I am interested in this representation…. (least picked)</li>
    <li>One of my favourite representations of <abbr title="two fifths">2&frasl;5</abbr> is (show a representation that students did not show <abbr title="For example">e.g.</abbr>
, position on a number line). Why do you think I like this type of representation?</li>
</ul>
<p>Push their thinking for each representation by using some of the following questions:</p>

<h5>Key Questions:</h5>
<ul>
    <li>So what does the 4 (2) represent?</li>
    <li>What does the 10 (5) represent?</li>
    <li>How are the 4 and the 10 (2 and 5) related?</li>
    <li>Why is it important for this to be partitioned into equal parts?</li>
    <li>What do equal parts mean in this model?</li>
    <li>Where do you thing this representation (one they did not show) would belong?</li>
</ul>

<h4>Independent  Math Log</h4>
<p>Use another colour of ink to build on your note in your Math Log. Be sure to include at least one example of each type of representation that shows your understanding of a fraction.</p>
<p>Include the following types of representations in the discussion:</p>
<ul>
    <li><strong>Part to whole measure</strong>
      <ul>
            <li>length (1-<abbr title="Dimensional">D</abbr>)</li>
            <li>area (2-<abbr title="Dimensional">D</abbr>) Include discussion of strengths of rectangular representations over circular representations</li>
            <li>volume (3-<abbr title="Dimensional">D</abbr>)</li>
      </ul></li>
    <li><strong>Part to whole set</strong> with either identical or non-identical shape/size items</li>
    <li><strong>Part to Part ratio</strong> representation which shows numerator : denominator</li>
    <li><strong>Number</strong>
      <ul>
            <li>Position (point) on a number line</li>
            <li>Segment of a number line</li>
        </ul></li>
</ul>

<h3>Home Activity or Further Classroom Consolidation</h3>
<p>Find a representation of a fraction outside the classroom. This may be from a newspaper, magazine, or website. Parents or other older siblings may have representations from their experience. Make connections to this fraction representation and your learning from today.</p>


<%- include partials/footer.ejs%>
