<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/research">All Research</a></li>
    <li class="breadcrumb-item active">Planning For Effective Learning In Mathematics</li>
</ol>

<main>
  
  <section class="container dot-lists pdf-page "> <!-- Page One(1) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">

          <h3 id="season">SPRING 2018</h3>

          <h1 id="title">PLANNING FOR EFFECTIVE </br> PROFESSIONAL LEARNING </br> IN MATHEMATICS:</h1>

          <h3>Insights from 7 Years of Research on <br>
              Learning and Teaching Fractions in Ontario</h3>

          <p id="authors">Dr. Cathy Bruce and Tara Flynn, Trent University <br>
              Shelley Yearley, TLDSB/Project Lead - CODE</p>

              <section id="Intro">

                  <h2>INTRODUCTION</h2>
              
                  <p>Dr. Cathy Bruce and her research team from Trent University, in partnership with the Ministry of Education, have been conducting research on fractions teaching and learning in Ontario since the fall of 2011. The goal of this research has been to investigate effective instructional strategies in the difficult-to-teach and difficult-to-learn area of fractions. We wanted to better understand how to support students in the development of their understanding of fractions concepts and procedures. Throughout this process, we have gathered classroom-based evidence by working with teachers and students in a highly collaborative process that has involved nine school boards, 238 educators, and with targeted data collection involving 3235 students, spanning Grades 3-12. This work has led to the development of many resources for teachers and math leaders, including the Fractions Learning Pathways resource. (See p. 8 for more information on these resources and where to find them.)</p>
              
                  <p>With the project entering its final phases, the team looks back at the lessons learned through seven years of engaging
                  in teacher professional learning and research at school boards in Ontario. In this document, we share strategies for
                  maximizing the success of teacher professional learning in fractions. This document may be of interest to you if you are:
                  a system or school leader, a mathematics consultant or anyone who is responsible for professional learning in mathematics.</p>
              
              </section>
              
              <section id="tableofcontents">

                  <h2>IN THIS DOCUMENT</h2>

                  <div class="row" id="page1toc">
                      <div class="col-sm-10">
                          
                          

                          <p>Why Focus on Fractions?</br>
                            Characteristics of Effective Professional Learning</br>
                            Applying the Features of Effective Professional Learning: Lessons from the Ontario Fractions Project</br>
                            Making it Work in Your School Board: Thinking About Options for PL Models</br>
                            Greater Precision Through Teacher Inquiry</br>
                            Core Support Documents for Mathematics Leaders</p>

                      </div>
                      <div class="col-sm-2">
                         
                          <p>........ 2 </br>
                            ........ 2 </br>
                            ........ 4 </br>
                            ........ 5 </br>
                            ........ 8 </br>
                            ........ 9</p>

                      </div>
                    </div>
              
                
              
                          <p id="page1">- 1 -</p>
      </div>
    </section>

  
  </section> <!-- End Page One(1) -->

  <section class="container dot-lists pdf-page "> <!-- Page Two(2) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        
      </div>
    </section>

    <section id="whyfrac">

        <h2>WHY FOCUS ON FRACTIONS?</h2>

        <img src="/images/fracrationalepage/manwomantalk.jpg" id="talk" alt="man and woman talking" height="300px" width="300px">

        <p id="pictext1">Fractions are central to mathematics understanding. They are an essential aspect
            of number sense, of course, but fractions also cross into many other aspects of
            mathematics such as measurement. Fractions knowledge is a predictor of success
            in algebra, is essential to understanding probability, and involves high levels of
            spatial and proportional reasoning. It is perhaps because of the complexity of
            the relationship between fractions and this web of connected mathematical ideas
            and processes that they are notoriously difficult to learn and teach. These
            difficulties have been researched and documented starting in the early primary
            years, and are shown to persist through middle, secondary and post-secondary
            education and into adulthood in North America (Orpwood, Schollen, Leek,
            Marinelli-Henriques, & Assiri, 2011). The stakes are high for students; a shaky
            grounding in fractions can prevent individuals from pursuing advanced
            mathematics and shut students off from a significant number of career opportunities
            in later life. For example, the STEM domains (science, technology, engineering and mathematics), as well as fields as
            broad-ranging as medicine, construction, art and design all demand considerable fractions knowledge. Researchers have
            noted that there is “a great deal of agreement that learning rational number concepts remains a serious obstacle in the
            mathematical development of children” (Behr, Harel, Post, & Lesh, 1992, p. 296). Fractions are a worthwhile area of focus
            for both teachers and students, as a foundational concept in mathematics with many connections to other important areas
            of mathematics.</p>

    </section>

    <section id="personallearn">

        <h2>CHARACTERISTICS OF EFFECTIVE </br> PROFESSIONAL LEARNING</h2>

        <p>A recently conducted study, The State of Educators’ Professional Learning in Canada (Campbell, Osmond-Johnson, Faubert,
                Zeichner & Hobbs-Johnson, 2016), comprehensively investigated professional learning in Canada across all 10
                provinces and 3 territories. The researchers examined “promising practices” as well as challenges in the Canadian context.</p> <br>

               <p> Following an extensive review of the literature, the researchers found that effective professional learning: <br>
                - is focused on quality content, that: <br>
                • is evidence-informed; <br>
                • is subject-specific; <br>
                • is focused on pedagogical content knowledge and student outcomes; and <br>
                • balances teacher voice and system coherence (goals are aligned).</p><br>
                <p>- possesses a design for learning and implementation to include: <br>
                • active and variable learning; <br>
                • collaborative learning experiences; and <br>
                • job-embedded learning.</p> <br>
                <p>- considers issues of support and sustainability, strengthened by: <br>
                • a sustained duration; <br>
                • the availability of resources; and <br>
                • supportive and engaged leadership.</p> <br>
                Their study on the Canadian education context further found that effective professional learning: <br>
                • balances evidence, inquiry and professional judgment; <br>
                • focuses on diverse student needs; <br>
                • maintains an asset-orientation towards both students and teachers; <br>
                • provides opportunities for collaboration that are job/classroom-embedded; and <br> 
                • benefits from the support of system and school leaders.</p> <br>
                <p>These findings are consistent with earlier studies such as Hill’s 2004 study which highlighted that effective
                professional learning must be: inquiry-based, focused on student thinking, collaborative, job-embedded,
                content- and pedagogy-focused, teacher-driven and sustained over time.</p> <br>
                <p>In the Ontario fractions research, the professional learning that has taken place was developed with these
                characteristics of effective professional learning in place.</p>

                <p id="page2">- 2 -</p>

    </section>
  
  </section> <!-- End Page Two(2) -->

  <section class="container dot-lists pdf-page "> <!-- Page Three(3) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        
      </div>
    </section>

    <section id="collablearning">

        <h3>THE IMPORTANCE OF CLASSROOM-EMBEDDED COLLABORATIVE LEARNING</h3>

        <p>The W model, as shown in Figure 1, conceptualizes the process of collaborative, classroom-embedded professional
            learning (Bruce, Ross, Flynn, Kostuch, & McPherson, 2009; Flynn & Bruce, in press). Developed through intensive research
            on lesson study and action research for professional learning in mathematics education, this model emphasizes the value of
            learning that is focused on the classroom experience as situated learning. According to Lave and Wenger’s (1991) seminal
            work, situated learning occurs within communities of practice at the site at which the learner will be performing the activity
            and is accordingly embedded within that context. The learning is socially co-constructed through mechanisms of observation,
            discussion and action. This is crucial for effective professional learning to take place, where the “social context of the
            classroom becomes the primary and legitimate site of teacher professional learning on an ongoing basis”
            (Bruce, Esmonde, Ross, Dookie, & Beatty, 2010).</p>

            <h2>The W Model</h2>

            
                    <img src="/images/fracrationalepage/W-Model.jpg" id="W" alt="Chart of the W Model">

                    <p id="Wtext">Figure 1: Describing Professional Learning using the W Model</p>
               

          <h3>PROFESSIONAL LEARNING WITH A SUSTAINED CONTENT FOCUS</h3>

          <p>The fractions researchers found that a sustained board-wide focus on one area of mathematics learning not only supported
              teachers in their learning and collaboration, but also supported student learning of difficult concepts (Ontario Ministry
              of Education, 2017; Yearley & Bruce, 2014). This is important because it validates school board planning of professional
              learning that is long-term (3-5 years) and deep, rather than short-term and broad. As such, we recommend that boards
              select a challenging mathematics content focus and sustain that focus over several years in order to make lasting effects
              that support students with a solid foundation for later mathematics. To date this research has shown that high quality
              fractions learning and teaching resources combined with quality professional learning opportunities (approximately 5 to 7
              days over the course of a school year) leads to significant increases student achievement (Ontario Ministry
              of Education, 2015).</p>

              <p>This has been my favourite professional learning I’ve done so far
                  in my career. I feel like I bloomed as a math teacher and my students
                  witnessed it happen. I have always been confident in math,
                  but still insecure about being a teacher, but this has reminded
                  me that I am an amazing math teacher and I can embrace that!
                  A student said to me recently, “I feel like everyone’s best subject
                  is math, probably because you are such a good math teacher”.
                  Last year, I do not think that comment would have been made.
                  Fractions are something that a lot of students and teachers have
                  feared, so to be able to conquer that learning is huge. The
                  confidence in fractions carries over to every strand of math!
                   - CAR educator-researcher</p>

                 

                   <div class="row" id="page3bot">
                      <div class="col-sm-7">
                          <p>This has been my favourite professional learning I’ve done so far
                              in my career. I feel like I bloomed as a math teacher and my students
                              witnessed it happen. I have always been confident in math,
                              but still insecure about being a teacher, but this has reminded
                              me that I am an amazing math teacher and I can embrace that!
                              A student said to me recently, “I feel like everyone’s best subject
                              is math, probably because you are such a good math teacher”.
                              Last year, I do not think that comment would have been made.
                              Fractions are something that a lot of students and teachers have
                              feared, so to be able to conquer that learning is huge. The
                              confidence in fractions carries over to every strand of math!
                               - CAR educator-researcher</p>

                               <p id="page3">- 3 -</p>
                      </div>
                      <div class="col-sm-5">
                          <img src="/images/fracrationalepage/colorfrac.jpg" id="paper" alt="Teachers making fractions out of construction paper">
                      </div>
                    </div>

   
                  </section>
    
  
  </section> <!-- End Page Three(3) -->

  <section class="container dot-lists pdf-page "> <!-- Page Four(4) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        
      </div>
    </section>
    <section id="effectivelearning">

      <h2>APPLYING THE FEATURES OF EFFECTIVE <br>
          PROFESSIONAL LEARNING: LESSONS FROM <br>
          THE ONTARIO FRACTIONS PROJECT</h2>

          <p>Professional learning for teachers is central to supporting the learning and teaching of fractions, given the complexity
              of the mathematical content and the need for classroom and teacher supports. The fractions research team, along with
              participating educators, have identified a number of features of the project as central to the success of professional
              learning in fractions in the Ontario context. The research team recommends that these guidelines be at the heart of
              professional learning designs and initiatives: </p>

              <section id="greenlist">

                  <img src="/images/fracrationalepage/apply1.jpg" id="teachertalk" alt="Teachers talking" width="300px" height="150px">

                  <img src="/images/fracrationalepage/apply2.jpg" id="marker" alt="marker drawing on paper" width="300px" height="150px">

              <p>• allow considerable time for learning about the mathematics,
                  including trying out tasks for later classroom use.</p> 
                  <p>• provide opportunities to interpret student thinking (e.g., by
                  analyzing and discussing student responses).</p>
                  <p> • identify areas where students are struggling and co-develop
                  precise strategies to support students in these areas.</p>
                  <p> • include a knowledgeable other whenever possible, who can
                  support specific content knowledge in teachable moments.</p>
                  <p> • refer to research-based resources, such as research articles and
                  summaries, as well as lessons and tasks developed through
                  research processes.</p>
                  <p>  • engage teams of educators in collaborative processes, including classroom teachers as well as administrators,
                  coaches, special education teachers and educational assistants, to draw on a range of insights and expertise on
                  student learning and to ensure common understandings.</p>
                  <p>  • build in structures for accountability by asking educators to return with evidence of student thinking from individual
                  students, small groups or classroom activities and discussions.</p>
                  <p> • consider a range of learners across ability and grade levels.</p> 
                    <p> • maintain a focus for the professional learning over a long period of time, such as one year or even longer, for
                  deep learning.</p>

                </section>

                <div class="row" id="page4bot">
                    <div class="col-sm-4">
                      <section id="learnpathtext">
                        <h2>FRACTIONS <br>
                          LEARNING <br>
                          PATHWAYS</h2>

                          <p>The Fractions Learning Pathways is an <br>
                            interactive planning tool intended to <br>
                            provide educators with a research <br>
                            informed framework.</p>
    
                           
    
                            <p id="edugainsbot">» Available on edugains.ca</p>
                          </section>

                             
                    </div>
                    <div class="col-sm-8">
                        <img src="/images/fracrationalepage/learnpath.jpg" id="fraclogo" alt="fractionslogo">
                    </div>
                  </div>
      
    <p id="page4">- 4 -</p>

  </section>
  
  </section> <!-- End Page Four(4) -->

  <section class="container dot-lists pdf-page "> <!-- Page Five(5) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        
      </div>
    </section>

    <section id="schoolboard">

        <img src="/images/fracrationalepage/teachers.jpg" id="teachmeet" alt="teachers in a meeting">

        <p id="teacherblurb">“The priority area identified by teachers for
            developing their knowledge and practices is
            how to support diverse learners’ needs.”
            - Campbell et al., 2016, p. 3</p>

       <h2>MAKING IT WORK IN YOUR SCHOOL BOARD: <br>
        THINKING ABOUT OPTIONS FOR PL MODELS</h2>

        <div class="row" id="page5blurb">
            <div class="col-sm-7">
                
                <p>Various models of professional learning at different
                    stages of the project allowed the team to focus on
                    knowledge creation (through collaborative action
                    research) and then knowledge mobilization (by working
                    with school boards using different approaches to scale
                    up the learning opportunities in larger group sessions,
                    or a blend of large- and small-group sessions). These
                    different models are discussed below.</p>
        
                    <h3 id="collabtextblue">COLLABORATIVE ACTION RESEARCH</h3>
        
                    <p>The Ontario fractions research project followed a collaborative
                        action research model for professional learning.
                        Collaborative action research involves educators and
                        researchers working together to investigate common
                        areas of interest in cycles of inquiry (Bruce & Flynn, in
                        press; Flynn & Bruce, in press). Within these inquiry
                        cycles, each session involves the collective debriefing of
                        goals, tasks, student work samples and observations of
                        student thinking. By focusing closely on student learning,
                        the team reaches a better understanding of ways to help
                        students with precise and incremental learning goals.
                        The team implements and refines tasks based on these
                        observations and discussions about student needs and
                        assets identified through assessment for, and as, learning.
                        Between-session implementation of tasks and
                        observations, and the sharing of resulting student
                        artefacts, lead to a sense of collective accountability
                        and coherence.</p>
        
                        <p>Several participants expressed that participation in the
                            professional learning increased their confidence
                            in their ability to address the wide range of abilities in their classroom. For example, one participant wrote that “knowing
                            where my students are starting out helps me meet my [students’] needs. I had such a range in my classroom, and many of
                            my students had gaps. It was very challenging to fill in those gaps. I have discovered that I need to find tasks that can be
                            modified and extended to meet all the needs in my classroom.” </p>
        
                        <p>Even though collaborative action research is a time-and resource-intensive model for professional learning and it may
                            be challenging to connect with a researcher to work closely with the team, it is a worthwhile investment. This model has
                            the following benefits: (i) it supports teacher and student learning; (ii) it builds teacher efficacy; and, (iii) it builds
                            leadership capacity at the board level for facilitating mathematics content knowledge. Collaborative action research
                            also builds new knowledge and crucial insights that are locally relevant to supporting mathematics learning.</p>
                     
            </div>
            <div class="col-sm-5">
                <img src="/images/fracrationalepage/dataanalysis.jpg" id="datachart" alt="a chart of data">

                <p>Figure 2: Collaborative Action Research Cycle
                    (Bruce, Flynn & McPherson, 2009).
                    See tmerc.ca/digitalpapers/car.html for more information.</p>
            </div>
          </div>

        <p>Various models of professional learning at different
            stages of the project allowed the team to focus on
            knowledge creation (through collaborative action
            research) and then knowledge mobilization (by working
            with school boards using different approaches to scale
            up the learning opportunities in larger group sessions,
            or a blend of large- and small-group sessions). These
            different models are discussed below.</p>

            

    </section>

    <p id="page5">- 5 -</p>
  
  </section> <!-- End Page Five(5) -->

  <section class="container dot-lists pdf-page "> <!-- Page Six(6) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        
      </div>
    </section>

        <div class="row" id="page6blurb">
            <div class="col-sm-5">
                
                <p id="pentext">“Teachers value professional learning that is
                    relevant and practical for work: “job-embedded”
                    should not mean school-based exclusively, as
                    opportunities to engage with external colleagues
                    and learning opportunities matter also.”
                     - Campbell et al., 2016, p. 3</p>
                     
            </div>
            <div class="col-sm-7" id="penbg">
                <img src="/images/fracrationalepage/pen.jpg" id="penimg" alt="a pen">

                
            </div>
          </div>

          <section id="grouplearning">

           <h3>BLENDED LARGE-GROUP AND SMALL-GROUP LEARNING</h3>

           <p>Another model of professional learning employed to build teacher mathematics knowledge for teaching of fractions is a
              blend of large group, board-level professional learning and smaller, school-based professional learning supported with
              individual coaching in-between sessions. In this model, there is alignment between board-level and school-level learning as
              well as in-class coaching activities. This blend of learning provides educators with multiple opportunities to try out new ideas
              in the classroom, and to reflect upon and discuss issues of teaching and learning within the context of a specific
              mathematical content focus. </p>

              <p>This model works well with large-scale professional learning that is grounded in the smaller, intensive collaborative teams
                  which provide opportunities for teachers to deeply explore: <br>
                  • existing research, <br>
                  • high quality field-tested resources, and <br>
                  • field-tested frameworks that are grounded in student evidence of learning.</p>

                  <p>This model is cost intensive and, as a result, may only include a portion of the educators within the board. However, it may
                      strike a balance between whole-group strategies where information and goals can be shared with large groups at once,
                      and classroom-embedded opportunities for teachers to work more intensively and collaboratively. Creative strategies for
                      grouping can also help to maximize the reach and spread; for example, if the professional learning opportunity is offered to
                      a division, educators will be able to discuss learning across grades. This is particularly beneficial to those who are the only
                      teachers of a given grade within their school.</p>

                      <h4 id="modeltext1">A Model of Integrated Board and School Professional Learning</h4>

                      <img src="/images/fracrationalepage/Modelboard.jpg" id="modelboard1" alt="a model image">

                      <h6 id="modeltext1">Figure 3. This graphic shows the flow between the board level focus on fractions professional learning and
                          'in-between' school based learning and coaching activities.</h6>
    </section>

    <p id="page6">- 6 -</p>
  
  </section> <!-- End Page Six(6) -->

  <section class="container dot-lists pdf-page "> <!-- Page Seven(7) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        
      </div>
    </section>

    <section id="mathleadership">

      <h3>SCHOOL-LEADER FACILITATED PROFESSIONAL LEARNING</h3>

      <p>School administrators can implement content-based activities into staff learning opportunities, such as staff meetings or
          lunch-and-learns. Classroom visits are an additional structure in this model that brings the learning back to the classroom,
          and provides the impetus for school leaders to get directly involved with the teachers in their work. The information gathered
          during shared classroom observations can form the basis for subsequent staff meeting topics that keep the professional
          learning focused on the mathematics learning at the school.</p>

          <h4 id="modeltext2">A Model of Mathematics Leadership</h4>

          <img src="/images/fracrationalepage/Modelboard2.jpg" id="modelboard2" alt="a model image">

          <h6 id="modeltext2">Figure 4. A school leader sustained a focus on fractions by basing staff meeting content learning on
              the activities explored in a Family of Schools collaborative action research.</h6>

              

                   <div class="row" id="page7blurb">
                      <div class="col-sm-7" id="teachipadbg">
                          <img src="/images/fracrationalepage/teacheripad.jpg" id="teachipad" alt="a teacher using an ipad with a student">
          
                          
                      </div>
                      <div class="col-sm-5" id="ipadbg">
                          
                          <p id="ipadtext">How can I justify a heavy focus on fractions
                              in my school? The answer is quite simple:
                              “Fractions are considered by many to be
                              among the most difficult topics in the
                              elementary school curriculum. As a matter
                              of fact, in a recent national report,
                              mathematicians and mathematics educators
                              alike reported that problems with learning
                              fractions interfere with learning other
                              mathematics topics and continue to plague
                              adults in daily tasks.”
                               – School Principal (quoting from A
                               Focus on Fractions: Bringing
                               Research to the Classroom by
                               Petit, Laird and Marsden, p.xi)</p>
                               
                      </div>
                    </div>

    </section>

    <p id="page7">- 7 -</p>
  
  </section> <!-- End Page Seven(7) -->

  <section class="container dot-lists pdf-page "> <!-- Page Eight(8) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        
      </div>
    </section>

    <section id="teachinquiry">

      <h2>GREATER PRECISION THROUGH TEACHER INQUIRY</h2>

      <div class="row" id="page8blurb">
          
          <div class="col-sm-5" id="markertext">
              
              <p id="marktext">In the six years of active classroom research in the Ontario
                  fractions project, teams focused very closely on student
                  thinking and precision of task design and teacher moves.
                  The observations of the teams led to important findings
                  about powerful instructional strategies that support deep
                  understanding in fractions (e.g., precise use of language,
                  visual representations, active learning strategies). Below are
                  some transformative learnings from the teams:</p>
                   
          </div>
          <div class="col-sm-7" id="markerbg">
              <img src="/images/fracrationalepage/markerline.jpg" id="markline" alt="a numberline done in marker">

              
          </div>
        </div>

        <section id="greenarea2">

        <div class="row" id="">
          
            <div class="col-sm-7" id="markertext">

              <div id="markertextstyle"> <!-- Just to style the following p elements -->
                
                <p> use precise language. It is important that language in the classroom
                    consistently reflects mathematical meaning, for example, that we
                    read fractions as numbers, such as is “three sevenths” rather than
                    “three over seven” or “three out of seven”.</p>
      
                    <p>• emphasize unit fractions. Opportunities to count by unit fractions, and
                        to compose and decompose quantities using unit fractions, help
                        students build the foundations for more complex ideas and skills in
                        fractions, such as operations.</p>
                        <p>• use representations carefully and with intention. Students benefit from
                        working with a limited number of representations, such as rectangle
                        area models, number lines, volume models, and sets.</p>
                        <p>• establish strong connections between representations and symbolic
                        manipulation. This will ensure that students develop strong
                        conceptual foundations alongside an understanding of the symbolic
                        representations. Students will understand, for example, that an
                        equivalent fraction is generated by splitting or merging regions in an
                        area model, and will understand how this translates into the
                        algorithm for determining equivalent fractions symbolically. </p>
                        <p>• allow all students opportunities to revisit and strengthen foundational
                        understandings, such as returning to unit fractions as a base for
                        operations with fractions (e.g., 2 one-third units plus 3 one-third
                        units equals 5 one-third units). </p>
                        <p>• punctuate instruction of fractions, with learning opportunities
                        throughout the year for regular practice and continual increases in
                        depth, rather than in a one-time short unit of study.</p>

                      </div>
                     
            </div>
            <div class="col-sm-5" id="sheetbg">
                <img src="/images/fracrationalepage/markerlinesheet.jpg" id="marklinesheet" alt="a numberline done in marker in a long sheet">
  
                
            </div>
          </div>


                  <h4 id="markertext2">For more information, please see the Mathematics page of edugains.ca (also reached by fractionsteaching.ca).</h4>

                  <img src="/images/fracrationalepage/kidnumberline.jpg" id="kidline" alt="a numberline with a kid in front">

                </section>

    </section>

    <p id="page8">- 8 -</p>
  
  </section> <!-- End Page Eight(8) -->

  <section class="container dot-lists pdf-page "> <!-- Page Nine(9) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
       
      </div>
    </section>

    <section id="ontariomath">

      <h2>CORE SUPPORT DOCUMENTS FOR <br>
          MATHEMATICS LEADERS</h2>

          <p>In 2003 and 2004, three expert panel reports were released to inform mathematics learning and teaching in
              Ontario classrooms. </p>

              <div class="container" id="mathbooks">
                  <div class="row">
                    <div class="col-sm-4">
                        <img src="/images/fracrationalepage/Earlymathstrategy.jpg" alt="book 1" id="mathstrat">

                        <h4 id="mathstrattitle">Early Math Strategy</h4>

                        <p id="mathstrattext">
                            The Report of the Expert Panel
                            on Early Math in Ontario</p>

                    </div>
                    <div class="col-sm-4">
                        <img src="/images/fracrationalepage/teachingmath.jpg" alt="book 2" id="teachmath">

                        <h4 id="teachmathtitle">Teaching and Learning</h4>

                        <p id="teachmathtext">
                            Mathematics
                            The Report of the Expert Panel on
                            Mathematics in Grades 4 to 6 in Ontario</p>

                    </div>
                    <div class="col-sm-4">
                        <img src="/images/fracrationalepage/mathsuccess.jpg" alt="book 3" id="mathsuccess">

                        <h4 id="mathsuccesstitle">Leading Math Success</h4>

                        <p id="mathsuccesstext">
                            The Report of the Expert Panel
                            on Student Success in Ontario</p>

                    </div>
                  </div>
                </div>

                <section id="page9blueblurb">

                    

              <p>In 2011, Paying Attention to K-12 Mathematics Education was released. This document, emerging from the Mathematics
                  Working Group, combined the recommendations of the three expert panel reports and supplemented that information
                  with current research. This document has formed a solid foundation for subsequent Ministry resource development and
                  professional learning, with additional documents focused on evidence-based practice in fractions, as well as proportional,
                  spatial and algebraic reasoning.</p>

                  <div class="row" id="page9blurb">
                        
                      <div class="col-sm-4">
                          <img src="/images/fracrationalepage/attentionmath.jpg" id="attentionmathbook" alt="a mathbook">

                      </div>
                      <div class="col-sm-8">

                        <section id="attentionmathbullets">
                          
                          <p>• Paying Attention to Fractions </p>
                            <p>• Paying Attention to Proportional Reasoning </p>
                            <p>• Paying Attention to Spatial Reasoning </p>
                            <p>• Paying Attention to Algebraic Reasoning</p>

                          </section>
      
                            <h4 id="attentionmathedugains">» edugains.ca/newsite/math/payingattentiontomath.html</h4>

                         
                               
                      </div>
                    </div>

                    </section>

                      <p>Given the importance of fractions to the understanding of other areas of mathematics, and given that fractions are an area
                          of difficulty for teachers and students alike, fractions are worthy of an intentional focus for professional learning in mathematics.
                          Both teachers and students are empowered when they are supported in developing a solid understanding built on
                          firm foundations and based on Ontario research. To see all of the resources for supporting fractions teaching and learning
                          developed through this work, please see the Mathematics page of edugains.ca (also available at fractionsteaching.ca).</p>

    </section>

    <p id="page9">- 9 -</p>
  
  </section> <!-- End Page Nine(9) -->

  <section class="container dot-lists pdf-page "> <!-- Page Ten(10) -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        
      </div>
    </section>

    <section id="referencelist">

      <h3 id="reference">REFERENCES</h3> 

      <p>Behr, M., Harel, G., Post, G., & Lesh, R. (1992). Rational Number, Ratio and Proportion. In D. Grouws (Ed.), Handbook of
          Research on Mathematics Teaching and Learning (pp. 296-333). NY: MacMillan Publishing. </p>
          <p>Bruce, C., & Flynn, T. (in press). Mathematics and collaborative action research: Findings and considerations of two
          large-scale studies in Canada. In The Future of Action Research in Education: A Canadian Perspective. Kingston,
          Ontario: McGill-Queen's University Press. </p>
          <p>Bruce, C., Esmonde, I., Ross, J., Dookie, L., & Beatty, R. (2010). The effects of sustained classroom embedded teacher
          professional learning on teacher efficacy and related student achievement. Teaching and Teacher Education, 26(8),
          pp. 1598-1608. </p>
          <p>Bruce, C., Flynn, T., & McPherson, R. (2009). Collaborative Action Research Digital Paper. Retrieved from
          http://www.tmerc.ca/digitalpapers/car.html </p>
          <p>Bruce, C., Ross, J., Flynn, T., Kostuch, L., & McPherson, R. (2009). Lesson study and demonstration classrooms:
          Examining the effects of two models of teacher professional development: A Partnership Project with KPRDSB, Trent
          University, the University of Toronto and the Ontario Ministry of Education. Submitted to the Literacy and Numeracy
          Secretariat, Ontario Ministry of Education, Toronto, Ontario. </p>
          <p>Campbell, C., Osmond-Johnson, P., Faubert, B., Zeichner, K., & Hobbs-Johnson, A. (2016). The state of educators'
          professional learning in Canada. Retrieved from Learning Forward: https://learningforward.org/publications/
          canada-study </p>
          <p>Flynn, T., & Bruce, C. (in press). Action research as professional learning for educators. Wiley Handbook of Action
          Research in Education. </p>
          <p>Hill, H. (2004). Professional development standards and practices in elementary school mathematics. Elementary
          School Journal, 104(3), 215-31. </p>
          <p>Lave, J., & Wenger, E. (1991). Situated learning: Legitimate peripheral participation. New York, NY: Cambridge
          University Press. </p>
          <p>Ontario Ministry of Education. (2015). Fractions Learning Pathways Evidence. Retrieved from edugains.ca:
          http://www.edugains.ca/resourcesMath/CE/LessonsSupports/Fractions/FractionsLearningPathways_
          ResearchSummary_Nov2015.pdf </p>
          <p>Ontario Ministry of Education. (2017, Spring). Fractions Learning Pathways Lessons Learned. Retrieved from EduGAINS:
          http://www.edugains.ca/resourcesMath/CE/LessonsSupports/Fractions/FractionsResearchSummary_May2017_
          AODA.pdf </p>
          <p>Orpwood, G., Schollen, L., Leek, G., Marinelli-Henriques, P., & Assiri, H. (2011). College Math Project. Retrieved from
          College Math Project Final Report 2011: Orpwood, G., Schollen, L., Leek, G., Marinelli-Henriques, P., & Assiri,
          H. (2012). College mathematics project 20http://collegemathproject.senecac.on.ca/cmp/en/pdf/FinalReport/2011/
          CMP_2011_Final_Report%20-%2002Apr12%20pm </p>
          <p>Petit, M., Laird, R., & Marsden, E. (2010). A focus on fractions: Bringing research to the classroom.
          New York, NY: Routledge. </p>
          <p>Siegler, R. (2017, November 28). Fractions: Where it all goes wrong. Scientific American. Retrieved from
          https://www.scientificamerican.com/article/fractions-where-it-all-goes-wrong </p>
         Yearley, S., & Bruce, C. (2014). A Canadian effort to address fractions teaching and learning challenges. Australian
          Primary Mathematics Classroom, 19(4), 34-39.</p>
        
          <p>Designed by Rich McPherson <br>
         cantsitstill.ca</p>

    </section>


    <p id="page10">- 10 -</p>
  
  </section> <!-- End Page Ten(10) -->



<%- include partials/footer.ejs%>