<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./fracResearchSum">Fractions Research Summary</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<h1>Fractions Research Summary</h1>

<!-- evidence paper here -->
<h2>Fractions Learning Pathways Evidence</h2>
Use of Fractions Learning Pathways tasks can increase student learning and close gaps for Junior and Intermediate students
November 2015
FRACTIONS LEARNING PATHWAYS FOR JUNIOR, INTERMEDIATE, AND SENIOR
STUDENTS The Fractions Learning Pathways (FLP) is an online interactive planning tool which provides educators with a research
informed framework for teaching fractions. It includes a range of field-tested tasks (grades 3-10) that have proven to be
effective in Ontario schools. The tasks are mapped to specific fractions concepts and can be modified and/or adjusted to fit
teacher and student needs. Video and photos are also included to bring the learning to life. The FLP planning tool also includes
one page summaries of key fractions math ideas as well as anticipation guides that feature Ontario students’ thinking. The
Fractions Learning Pathways is available to educators at www.fractionslearningpathways.ca


WHO MAY BENEFIT FROM THE USE OF THIS RESOURCE?
Educators can use the FLP as a planning tool to ensure that fractions tasks focus on key learning and are aligned with student needs.
The FLP explicitly identifies foundational concepts within each cluster and each task is built around proven high-yield instructional
practices, to deepen student understanding.
HOW DID TEACHERS BENEFIT FROM USING FLP IN THEIR CLASSROOMS?
Teachers benefit from having a solid understanding of the multiple ways that fractions are used: to represent a part-whole
relationship, to represent a part-part relationship, as a distance from 0, as an operator (to shrink or enlarge a quantity)
and/or as a quotient (the numerator is divided by the denominator).
The trajectory really helped me to better distinguish between the many fractions concepts, to determine how various concepts
supported and connected to others. Using the trajectory as a tool, I was better equipped to plan next steps (or to back up a bit)
for my students. Examining the trajectory made it very evident the extensive background needed in order to perform operations
with fractions. (Teacher, 2014)


WHAT EVIDENCE DO WE HAVE OF THE EFFECTIVENESS OF USING THE FLP?
Four years of research in Ontario classrooms has clearly demonstrated that use of high quality fractions teaching and learning
resources improves student achievement. Furthermore, use of these resources within a collaborative action research project leads
to increased teacher efficacy and math knowledge for teaching. Punctuated instruction (incorporating fractions learning in
smaller chunks of time such as two or three days every two or three weeks) allowed students and teachers to connect fractions
learning across the strands. The biggest thing for me is peppering the fractions throughout the last three months. It has been
awesome. I can see that the students are more flexible and it is way less stressful for me. I am looking forward to continuing
to use some of the stuff we learned in the coming months. (Teacher, 2015) FLP for All Students In grades 3 through 10, the majority
of students demonstrated improved fractions understanding. For example, in the 2014-2015 Collaborative Action Research Study,
students (n=360) in grades 6 through 9 Applied mathematics across three district school boards had significant increases in their
pre-assessment to post-assessment results. Bruce, Flynn, Yearley 2015



Teachers used tasks from the FLP across multiple grades,
in particular those involving counting by unit fractions
and composing/decomposing amounts. These results
demonstrate that the gap in understanding can be closed
at any grade.
Across school boards, schools and classrooms, very little
difference was noticed in the needs of students with
respect to fractions learning, in spite of perceived
differences by school and board staff (see Digital Paper for
more information). All students consistently
demonstrated a lack of understanding of unit fractions and
a limited use of number lines and rectangles to represent
fractions.
“Adding, subtracting, multiplication and division
[fractions] becomes intuitive when students master unit
fractions and composing fractions.” (Teacher, 2014)
One school board involved all grade four teachers in
fractions professional learning which focused on building
the foundational knowledge of students. Sixteen teachers
administered the pre-and post-assessments, with the
following results.
FLP for Students with Learning Disabilities
Students with learning disabilities were included in the
research activities, including tasks and the pre- and postassessments.
Students were able to engage in the tasks
given the multiple entry points and the hands-on, spatial
aspects.
My key learning from the project was about the power of
targeting select students by identifying gaps and
intentionally selecting learning materials from the pathway
to support growth in these areas. I learned that by taking
even a few minutes regularly over time we can impact
students’ comfort level and facility with fractions. (Teacher,
2014)
WHAT ARE EIGHT CRITICAL COMPONENTS
OF FRACTIONS TEACHING AND LEARNING?
All classes
Pre: 33%
Post: 70%
Bruce, Flynn, Yearley 2014
Improved fractions learning can begin with increased
precision in teaching. The following are examples of
precision which teachers have reported as having highimpact
on student understanding of fractions:
 Emphasize unit fractions
Unit fractions (i.e., a fraction with a numerator of 1) are
foundational to fractions understanding. This
understanding is built through tasks such as counting by
unit fractions and composing/decomposing fractions.
 Use number lines and rectangles/ribbons
Linear models allow students to make sense of and solve
mathematical tasks as well as explain their thinking.
These models have longevity across grades, mathematical
number systems, and contexts.
 Have students partition figures and paper fold
The action of partitioning figures, through drawing and
paper folding, supports students in understanding the
role of the denominator, and the relationship between
unit fractions and the whole.
 Read a fraction as a number not two numbers
A fraction is a number and should be read as such. For
example,
2
is ‘two thirds’ (not ‘two over three’).
3
 Punctuate instruction
Allocating time differently, rather than allocating more
time, benefited students. A few days every few weeks on
fraction concepts and skills, resulted in enhanced student
understanding.
 Find a common unit rather than a common
denominator
If the denominator is considered the fractional unit, then
‘finding a common denominator’ is more aptly named
‘finding a common unit’. This terminology allows students
to connect to their knowledge of unit in other contexts,
such as place value, money and measurement.
 Mix proper and improper fractions in tasks
Improper fractions include the whole. Mixing the two
reduces the incorrect generalizations that students may
make about fractions when only presented with proper
fractions.
 Annotate fractions to clarify
A single representation can be interpreted multiple ways.
Adding information about the characteristics (such as
shaded equal regions for the numerator) ensures that
students are attending to the same characteristics.

<%- include partials/footer.ejs%>
