<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./fracAcrossStrands">Fractions Across Strands and Grades: Sample Tasks</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
<h2 class="color-lil">Fractions across Strands and Grades:</h2>

<div class="gen-pdf">
    <a href="/pdf/FractionsAcrossStrands.pdf" target="_blank">Download PDF</a>
</div>

<p>The following chart highlights a sample of mathematics tasks that involve fractions across the strands and grades.</p>

<table class="purp-gr-tbl tbl-col2">
<tr>
    <th>Primary/Junior/Intermediate</th>
    <th>Intermediate/Senior</th>
</tr>
<tr>
    <td>
        <h5>Number Sense and Numeration</h5>
        <p>How many blocks did you use to build your structure? How many of those blocks have curved sides? Straight sides?
            (part-part construct)</p>

        <p>Pour the water from this container into these three equal-size containers so that there is the same amount of
            water in each container. Describe how you did it.</p>

        <p>Shawna was walking a number line and counting by sixths. She stopped between 2 and 3. What number might she have
            stopped on? Are there other possibilities?</p>

        <p>Determine two fractions that have a sum close to but not exactly 3.</p>

        <p>Determine two fractions that have a difference close to but not exactly <abbr title="three fifths">3&frasl;5</abbr>.</p>

        <p>How is sharing four cookies equally among five people different from sharing six cookies equally among seven
            people?</p>

        
    <h5>Measurement</h5>
        <p>How does measuring length on a ruler in different units (i.e., mm, cm) compare with counting by different fractional
            units (e.g., halves, thirds, fifths) along a number line?</p>

        <p>Molly used a small container to fill one larger container exactly full of water. She needed to fill the small
            container exactly full five times to do this. Describe the relationship of the capacity of the smaller container
            to the larger container in two different ways.</p>

        <p>Arnold measured the dimensions of the classroom. The length is 5 <abbr title="">4/10</abbr> m and the width is 4 <abbr title="">4/10</abbr> m. What is the perimeter
            of the room, in metres?</p>

        <p>How does reducing the radius of the base of a cylinder by <abbr title="">7/10</abbr> change the volume of the cylinder?</p>

         <h5>Geometry and Spatial Sense</h5>
        <p>How can you use lines of symmetry to help you fold paper into eighths? What other fractions would be easy to
            create by using lines of symmetry?</p>
        <p>Draw a figure on grid paper. Dilate your figure by a factor of <abbr title="">4/10</abbr></p>

           <h5>Patterning and Algebra</h5>
        <p>Identify the number patterns that you see when counting by a unit fraction on the number line.</p>
        <p>Create a model of 2 <abbr title="">4/10</abbr>. Use your model to identify pairs of fractions that combine to create 2 <abbr title="">4/10</abbr>. What patterns or connections do you see between the different pairs of fractions?</p>
        <p>Solve for x: <abbr title="">3.5/9</abbr> = <abbr title="">x/15</abbr></p>
        <p>Evaluate 3x + 4y − 2z, where x =4/10, y = 0.6, and z = −1.</p>

        <h5>Data Management and Probability</h5>
        <p>Two number cubes each have the numbers 1, 2, 3, 4, 5 and 6 on their faces. How do the probabilities of rolling
            a sum of 4 and rolling a sum of 7 compare?</p>
        <p>Noah is playing a game and needs to select one of three spinners. One spinner is partitioned into fourths, one
            into fifths and one into sevenths. Each spinner has three green sections. He will win if he lands on a green
            section. Which spinner should he play with if he wants to win?</p>
    </td>
    <td>
        <p>Store A is offering discounts of <abbr title="">1/3</abbr> while Store B is offering “buy 3, get 1 free.” Under which conditions would
            each store offer the better deal? (MEL 3E)</p>

        <p>Use appropriate technology to investigate the limiting value of the terms in the sequence
        <img src="/images/pdf-img/fracAcrossStrands1.png" alt="" height="" width="" />
        <!-- 1(1 + 1/1)1, (1 + 1/2)2, (1+ 1/3)3, (1 + 1/4)4, …  -->
        and the limiting value of the series 
        <img src="/images/pdf-img/fracAcrossStrands2.png" alt="" height="" width="" />
        <!-- 4 x 1 - 4 x 1/3 + 4 x 1/5 - 4 x 1/7 + 4 x 1/9 …  -->
        (MCV 4U)</p>

        <p>Determine the measurement of the angle by using a primary trigonometric ratio.</p>
        <div class="center"><img src="/images/pdf-img/fracAcrossStrands3.png" alt="" height="" width="" /></div>
        (multiple courses)

        <p>A plumber must cut a piece of pipe to fit from A to B. Determine the length of the pipe.</p>
        <div class="center"><img src="/images/pdf-img/fracAcrossStrands4.png" alt="" height="" width="" />
        </div>
        <p>(MAP 4C)</p>

        <p>Express the following equation in standard form: y = <abbr title="">2/3</abbr>x + 8</p>

        <p>Expand and simplify (<abbr title="">1/2</abbr>x + 1)(3x – 2). (MBF 3C)</p>

        <p>Express the equation in vertex form. <abbr title="">3/2</abbr>x&sup2; – 14x + 9 = 0 (MCF 3M)</p>

        <p>Determine if the expressions <abbr title="">(2x&sup2; – 4x – 6)/(x + 1)</abbr> and 8x&sup2; – 2x(4x – 1) – 6 are equivalent. (MCR 3U)</p>

        <p>Simplify <img src="/images/pdf-img/fracAcrossStrands6.png" alt="" height="" width="" /> and then evaluate for a = 4, b = 9, and c = –3. Verify your answer by evaluating the expression
            without simplifying first. Which method for evaluating the expression do you prefer? Explain. (MCT 4C)</p>

        <p>I know that the theoretical probability of getting tails is <abbr title="">1/2</abbr>. How does that compare with the experimental probability?
            (MEL 4E)</p>
    </td>
</tr>
</table>

</main>

<%- include partials/footer.ejs%>
