<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-item active">Instructional Decisions</li>
</ol>

<main class="container-digital-paper">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/fractionsContent.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">
    <h1>Math Content: Fractions</h1>

    <h3><strong>Research Story</strong></h3>
    <h4><strong>Math Content: Fractions</strong></h4>
    <h4>Understanding Fractions</h4>
    </seciton>

    <section class="row">
      <p>In this fractions action research project, gaining a deeper understanding of the various misconceptions
        of fractions allowed teachers to better understand and respond to student thinking.</p>
    </section>
    &nbsp;

    <section class="row">
      <p>The part-whole relationship of simple fractions is highly emphasized across North American
        mathematics programs. Most students involved in this project demonstrated a consistently solid
        understanding of a half of an item, and when presented in the context of sharing food, also
        identified the need for the two pieces to be of equal size or area. This comfort level was evident
        when working with students to explore common benchmark fractions, such as <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>
        and <abbr title="three quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>. However,
        when asked to represent less common fractions, such as <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> or to interpret the fraction
        <abbr title="six sixths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>6</sub></span></abbr>, many grade
        4 through 7 students struggled. Through this research project it was evident that students
        switched indiscriminately between the use of:
        <ul>
          <li>fractions as part of a whole using a set representation,</li>
          <li>fractions as part of a whole using an area representation, and</li>
          <li>fractions as a ratio (part-part)</li>
        </ul>
        These meanings and representations of fractions occur throughout the elementary and secondary Ontario curriculum.</p>
    </section>

    <section class="row">
      <p>Researchers have identified multiple ways of understanding, perceiving and representing
        fractions (Lamon, 1999; Marshall, 1993; Mosely & Okamoto, 2007). This research informed the
        development of the Math for Teaching: Ways We Use Fractions document, which highlights
        multiple interpretations and representations of a fraction depending on the context or situation.
        These include interconnected understandings of fractions as:
        <ul>
          <li>Linear Measures: situations in which a rational number's distance from zero is important</li>
          <li>Part-Whole Relationships: situations in which a part is compared to the total amount</li>
          <li>Part-Part Relationships: ratio situations in which separate quantities are compared</li>
          <li>Quotient perceptions: situations that highlight the process or result of a division</li>
          <li>Operator perceptions: situations in which the role of a rational number in enlarging or shrinking a quantity is highlighted</li>
        </ul>
      </p>
    </section>

    <section class="row">
      <p>The junior grades represent a key learning period for students with respect to fractions as they
        move beyond part-whole with continuous models to work with sets as well as part-part
        relationships. Within the junior curriculum, students are expected to be able to represent,
        compare, and order fractions. The development of these actions K-12 is shown and further
        explored below.</p>
      <div class="col-md-5">
        <!--image-->
      </div>
      <p>In this fraction collaborative action research project, gaining a deeper understanding of the ways we use fractions allowed
        taechers to better understand and respond to student thinking.</p>
    </section>

    <section class="row">
      <h4>Representing</h4>
      <p><strong>Representing</strong> refers to the process of using symbolic, concrete and pictorial representations as
        well as words and relevant situations to explore concepts and communicate understanding.
        There are three general models that Watanabe (2002) illustrates for representations of fractions:
        linear (number lines), area (partitioned regions), and discrete (set models).</p>
      <div class="col-md-4">
        <!--image-->
      </div>
      <div class="col-md-4">
        <!--image-->
      </div>
      <div class="col-md-4">
        <!--image-->
      </div>
      <p><em>Note; Within the Ontario curriculum (2005), symbolic notation (e.g. <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>) is
          introduced formally in grade 4. Prior to this, familiarity fraction terminology such as halves, fourths, fifths supports student understanding</em></p>
    </section>

    <section class="row">
      <p>Research Findings:<br />
        Existing literature and the findings of this this fractions research project indicates that students
        should be exposed to number lines and rectangular area models in early grades. These
        representations support students in understanding the notion that a fraction is a number (for example <abbr title="one thirds" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> is a number) as
        well
        as enable students to create equal partitions using a variety of
        strategies. Students frequently make incorrect conclusions when comparing fractions that are
        close in value using a circle model (such as <abbr title="four tenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>10</sub></span></abbr> and <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>
        ) as it is difficult to accurately partition a
        circle into ten equal-sized parts. Flexibility and purposefulness with representations enables
        students to make selections most appropriate to the context (such as a number line for distance).</p>
    </section>

    <section class="row">
      <h4>Comparing</h4>
      <p><strong>Comparing</strong> requires students to determine which fraction is the larger or the smaller.
        Comparing fractions assumes that the two fractions have the same whole, so is based in the part
        to whole meaning of fractions. Students should understand a fraction as a number and use
        benchmarks, such as 0, 1, <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, and <abbr title="three quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>
        to compare fractions. There are a variety of strategies for
        comparing fractions beyond determining a common denominator, including consideration of the
        relationship between the numerator and denominator. For example, students could quickly
        compare 1<abbr title="one hudred thirty four over two thousand twenty five" class="abbr-frac"><span class="frac"><sup>134</sup><span>&frasl;</span><sub>2025</sub></span></abbr>
        and 1<abbr title="one thousand nine hundred sixty three over two thousand" class="abbr-frac"><span class="frac"><sup>1963</sup><span>&frasl;</span><sub>2000</sub></span></abbr> by realizing that the first fraction is closer to 1 since there
        is a greater difference between the numerator and denominator than in the second fraction. Older students
        may use their knowledge of fraction as a quotient to determine decimal equivalencies for
        comparison</p>
    </section>

    <section class="row">
      <p>Research Findings: <br /> IN this fractions research projects, students frequently doubled the numerators and denominator of a fractions
        to generate equivalent fractions but demonstrated little understanding of how this procedure connects to the repeated partitioning of a measure,
        such as area (<abbr title="one quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> = <abbr title="two eigthts" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>8</sub></span></abbr>
        or
        <div class="col-md-3">
          <!--image-->
        </div>
        <div class="col-md-3">
          <!--image-->
        </div>
        ). Many students did not have consistent success with determining equivalent fractions by merging, pieces such as <abbr title="eighteen thirtysixths" class="abbr-frac"><span class="frac"><sup>18</sup><span>&frasl;</span><sub>36</sub></span></abbr>
        = <abbr title="nine eighteenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>18</sub></span></abbr>.
      </p>
    </section>

    <section class="row">
      <h4>Ordering</h4>
      <p><strong>Ordering</strong> refers to the process of determining the relative size of a number of fractions by
        placing them in order from smallest to largest or largest to smallest. Students used their
        understanding of fractions to compare and order fractions in a variety of manners. Ordering
        fractions on a number line requires students to consider the magnitude of the fraction in
        comparison to whole numbers, benchmark fractions, and the other fractions they have placed on
        their number line. This relative comparison engages students in reasoning and proving with each
        successive placement, allowing them to correct previous errors as necessary.</p>
    </section>

    <section class="row">
      <p>Research Findings: <br />In the fractions research project, students who developed a deep conceptual understanding of
        fractions and flexible processes for comparing fractions were able to successfully order fractions
        on a number line using a variety of strategies. This extended to decimals, percents, and mixed
        numbers. </p>
    </section>

  </section>

</main>

<%- include partials/footer.ejs%>
