<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li class="breadcrumb-item"><a href="./generatingFractionsbetweenTwoNumbers">COMP C Generating Fractions between Two Numbers (Fraction Density)</a></li>
    <li class="breadcrumb-item active">Teacher Notes</li>
</ol>

<main class="container dot-lists pdf-page" role="main">

<section>
  <h2>Generating Fractions between Two Numbers (Fraction Density) (Comp C) Teacher Notes: Anticipating Student Responses</h2>
  <p>These prompts can be used flexibly depending on student readiness, including as assessment for learning, activating prior knowledge, learning tasks or assessment of learning. These prompts are sequenced to allow students to build models/representations and create contexts to support visualization of the meaning of the fractions. The prompts are in a progression of increasing complexity.</p>
</section>

<section>
  <h5><strong>Prompt #1</strong></h5>
  <p>Identify three fractions between 2 and 3.</p>
  <p><u>Teacher Notes:</u></p>
  <p>This prompt is intended to elicit the use of the benchmark strategy. Students will likely choose familiar fractions such as <abbr title="Two and One Fourth">2 <sup>1</sup>/<sub>4</sub></abbr>, <abbr title="Two and One Half">2 <sup>1</sup>/<sub>2</sub></abbr>, <abbr title="Two and Three Fourths">2 <sup>3</sup>/<sub>4</sub></abbr> demonstrating their comfort level with benchmarks. If they choose other fractions, such as <abbr title="Two and ONe Eigthteenth">2 <sup>1</sup>/<sub>18</sub></abbr> or <abbr title="Two and Teen Eleventh">2 <sup>10</sup>/<sub>11</sub></abbr>, it may indicate a deeper understanding. If the students are choosing equivalencies for half such as <abbr title="Two and Four Eighths">2 <sup>4</sup>/<sub>8</sub></abbr> and <abbr title="Two and three Sixths">2 <sup>3</sup>/<sub>6</sub></abbr>, encourage them to find 3 different quantities (not just different forms of <abbr title="Two and One Half">2 <sup>1</sup>/<sub>2</sub></abbr>). Students may benefit from a visual representation showing that these fractions are equivalent.</p>
  <p>If students struggle with finding three fractions, apply a context to help them visualize; for example, if we had more than 2 chocolate bars but less than 3, how much might we have? They may or may not wish to construct a model for the solution,but could be encouraged to do so.</p>
</section>

<section>
  <h5><strong>Prompt #2</strong></h5>
  <p>Identify a franction between <abbr title="One and One Half">1 <sup>1</sup>/<sub>2</sub></abbr> and 2.</p>
  <p><u>Teacher Notes:</u></p>
  <p>This prompt is intended to slightly push the student’s thinking because they are now starting at <abbr title="One and One Half">1 <sup>1</sup>/<sub>2</sub></abbr> rather than a whole number. Students will likely choose <abbr title="One and Three Fourths">1 <sup>3</sup>/<sub>4</sub></abbr>, although as in Prompt #1, less common responses may indicate a more fulsome understanding.</p>
</section>

<section>
  <h5><strong>Prompt #3</strong></h5>
  <p>Identify two fractions between <abbr title="One Twelfth"><sup>1</sup>/<sub>12</sub></abbr> and <abbr title="Nine Twelfths"><sup>9</sup>/<sub>12</sub></abbr>.</p>
  <p><u>Teacher Notes:</u></p>
  <p>Students may easily answer this question (quickly identifying <abbr title="Seven Twelfths"><sup>7</sup>/<sub>12</sub></abbr> and <abbr title="Eight Twelfths"><sup>8</sup>/<sub>12</sub></abbr>; for example), however, through the use of the key questions this is a good time to review the importance of equi-partitioning and the meaning of unit fractions and how many parts make up the whole.</p>
  <p>These foundational concepts will support students in having a range of strategies for subsequent, more challenging, prompts.</p>
  <p>This prompt can also help to reinforce that the act of building models or representations can be a helpful strategy for problem solving and visual comparison.</p>
  <p style="text-indent:30px;"><strong>Paper folding:</strong> is a hands-on visual way to equally partition. Note, if the students have not used this strategy they will likely need time to explore paper folding.</p>
  <p style="text-indent:30px;"><strong>Number Line:</strong> is another model to help students visualize fractional quantities. The use of grid paper helps students to quickly and accurately partition. Students may need to be encouraged to further partition the square grids on the paper (into halves or thirds).</p>
</section>

<section>
  <h5><strong>Prompt #4</strong></h5>
  <p>Identify a fraction between <abbr title="Two Fifths"><sup>2</sup>/<sub>5</sub></abbr> and <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr></p>
  <p><u>Teacher Notes:</u></p>
  <p>This prompt is intended to highlight common numerators. When the count or numerator is the same, the students must reason about the impact of the different denominator on the size of the fractional piece to compare the quantities. It is important that students know or are able to visualize that fifths are smaller than thirds. Stacked area models will help students visualize the size of the fractional units.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsbetween-prompt4-1.jpg" alt="2/5 image" class="img-responsive margin-auto">
  </figure>
  <figure>
    <img src="/images/teacherNotes/fractionsbetween-prompt4-2.jpg" alt="2/3 image" class="img-responsive margin-auto">
  </figure>
  <p>Notice that <abbr title="Three Fifths"><sup>3</sup>/<sub>5</sub></abbr> is between <abbr title="Two Fifths"><sup>2</sup>/<sub>5</sub></abbr> and <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr>.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsbetween-prompt4-3.jpg" alt="2/5 compared to tenths image" class="img-responsive margin-auto">
  </figure>
  <figure>
    <img src="/images/teacherNotes/fractionsbetween-prompt4-4.jpg" alt="2/3 compared with sixths image" class="img-responsive margin-auto">
  </figure>
  <p>By further partitioning students can notice that <abbr title="One Half"><sup>1</sup>/<sub>2</sub></abbr> and any equivalent fraction are also between <abbr title="Two Fifths"><sup>2</sup>/<sub>5</sub></abbr> and <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr></p>
  <figure>
    <img src="/images/teacherNotes/fractionsbetween-prompt4-5.jpg" alt="2/3 and 2/5 compared with fourths image" class="img-responsive margin-auto">
  </figure>
  <p>Students may reason that two fourths is between between two thirds and two fifths because 4 is between 3 and 5. This thinking is correct and having the students draw the above model will help consolidate that thinking. Although many adults may think that the only way to compare fractions is to determine a common denominator, the type of flexible thinking outlined above requires reasoning about the quantity represented by each fraction, which supports development of fraction number sense.</p>
</section>

<section>
  <h5><strong>Prompt #5</strong></h5>
  <p>Identify a fraction between <abbr title="One Third"><sup>1</sup>/<sub>3</sub></abbr> and <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr></p>
  <p><u>Teacher Notes:</u></p>
  <p>This prompt is intended to elicit comparison of fractions with common fractional units (denominators) and promotes thinking about equivalence. When the fractions have the same fractional unit (denominator), students must attend to the fractional amounts (numerators). Students may use a number line and their knowledge of equivalent fractions to generate smaller fractional amounts. Notice the line has been partitioned into sixths and <abbr title="Three Sixths"><sup>3</sup>/<sub>6</sub></abbr> is between <abbr title="Two Sixths"><sup>2</sup>/<sub>6</sub></abbr> and <abbr title="Four Sixths"><sup>4</sup>/<sub>6</sub></abbr>. Further partitioning could result in twelfths and twenty-fourths.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsbetween-prompt5-1_dotted.jpg" alt="2 Fractions between 1/3 and 2/3" class="img-responsive margin-auto">
  </figure>
</section>

<section>
  <h5><strong>Prompt #6</strong></h5>
  <p>Identify four fractions between <abbr title="One Third"><sup>1</sup>/<sub>3</sub></abbr> and <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr></p>
  <p><u>Teacher Notes:</u></p>
  <p>This prompt is different from Prompt #5 because it requires the student to find four fractions between <abbr title="One Third"><sup>1</sup>/<sub>3</sub></abbr> and <abbr title="Two Thirds"><sup>2</sup>/<sub>3</sub></abbr>, which will push them to consider further partitioning a unit fraction.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsbetween-prompt6-1.jpg" alt="4 Fractions between 1/3 and 2/3" class="img-responsive margin-auto">
  </figure>
  <p>Students may create five equi-partitions and identify <abbr title="Six Fifteenths"><sup>6</sup>/<sub>15</sub></abbr>, <abbr title="Seven Fifteenths"><sup>7</sup>/<sub>15</sub></abbr>, <abbr title="Eight Fifteenths"><sup>8</sup>/<sub>15</sub></abbr>, and <abbr title="Nine Fifteenths"><sup>9</sup>/<sub>15</sub></abbr>.</p>
  <figure>
    <img src="/images/teacherNotes/fractionsbetween-prompt6-2.jpg" alt="Identifing 6/15, 7/15, 8/;15, and 9/15" class="img-responsive margin-auto">
  </figure>
</section>

<section>
  <h5><strong>Prompt #7</strong></h5>
  <p>Select two fractions and identify a fraction between them. Prove that your answer is correct.</p>
  <p><u>Teacher Notes:</u></p>
  <p>The purpose for this prompt is to provide the teacher with an opportunity to assess student understanding and comfort level with fraction density.</p>
</section>
<%- include partials/footer.ejs%>