<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Tasks</a></li>
    <li><a href="./comp">Comparing Fractions Tasks</a></li>
    <li><a href="./generatingFractionsbetweenTwoNumbers">Generating Fractions between Two Numbers (Fraction Density)</a></li>
</ol>

<main class="container dot-lists pdf-page" role="main">

  <section class="row">
    <div class="col-sm-12 col-md-12">
      <h1>Generating Fractions between Two Numbers (Fraction Density)</h1>
    </div>
  </section>

  <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/placeholder-image.png" alt="Placeholder image"  class="img-responsive margin-auto" />
  </section>
  
  <section class="row">  
    <h4>Description</h4>
    <p>This is a set of progressive prompts that will elicit the use of various strategies used to find fractions between two numbers. The prompts, when used in sequence, support students in choosing a strategy based upon the fractions being considered. Encourage students to build models/representations and create contexts to aid in visualization. This series of prompts can be used for a variety of grades and purposes. The time required will vary depending on the grade level and student readiness.</p>
    
    <h4>Mathematics</h4>
    <p>Density of fractions refers to the important mathematical idea that between any two fractions there are an infinite number of fractions. Understanding this mathematical fact is a crucial stage in the development of fraction sense. This is a novel concept for students, since it is not encountered in the whole number system (there are either zero or a finite number of whole numbers between any two whole numbers). Students are encouraged to develop a range of different strategies and to use them strategically, based on the situation. Research shows that it is beneficial to spread fraction learning throughout the year and embed it in other strands. Density is also a key concept in measurement.</p>
  </section>

  <section class="row">
    <h4>Curriculum Connections</h4>
    <p>Students will:</p>
    <ul>
      <li>represent, compare and order fractional amounts using a variety of tools</li>
    </ul>
  </section>

  <section class="row">
    <h4>Instructional sequence</h4>
    <ol>
      <li>Partner students and introduce the task. Post the selected prompt (select from options below) on the black/whiteboard or interactive whiteboard, or distribute on a handout.</li>
      <li>Provide students time to complete the task. Encourage them to use graph paper, rulers, and manipulatives (concrete or virtual, such as the tools at <a href="mathies.ca">mathies.ca</a>.</li>
      <li>Have students describe their thinking. Highlight different strategies by intentionally selecting students that solved the task in different ways. Have students identify the similarities and differences between the strategies.</li>
    </ol>
  </section>

  <section class="row promptBox">
    <h5>Prompt #1</h5>
    <p>Identify three fractions between 2 and 3.</p>
    <h5>Prompt #2</h5>
    <p>Identify a fraction between 1 1&frasl;2 and 2.</p>
    <h5>Prompt #3</h5>
    <p>Identify two fractions between 1&frasl;12 and 9&frasl;12</p>
    <h5>Prompt #4</h5>
    <p>Identify a fraction between 2&frasl;5 and 2&frasl;3</p>
    <h5>Prompt #5</h5>
    <p>Identify a fraction between 1&frasl;3 and 2&frasl;3</p>
    <h5>Prompt #6</h5>
    <p>Identify four fractions between 1&frasl;3 and 2&frasl;3</p>
    <h5>Prompt #7</h5>
    <p>Select two fractions and identify a fraction between them. Prove that your answer is correct.</p>
  </section>

  <section class="row">
    <div class="col-sm-6 col-md-6 no-padding-left">
      <h4>Highlights of student thinking</h4>
      <p>Students may:</p>
      <ul>
        <li>construct accurate models of fractions</li>
        <li>rely on the algorithm for determining equivalent fractions</li>
        <li>consider only the numerators or only the denominators</li>
        <li>use benchmarks to make estimates</li>
        <li>demonstrate repeated partitioning to name fractions between two fractions</li>
        <li>create physical partitions but struggle to name the fractional value represented</li>
        <li>identify equivalent fractions (which share a common point on the number line) instead of identifying different points on the line</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6">
      <h4>Key questions</h4>
      <ol>
        <li>How do you know that these fractions represent different quantities?</li>
        <li>What contexts did you use to visualize the fractions? How did this help you?</li>
        <li>What strategy did you use? What do you like about this strategy? How did it help you?</li>
        <li>How did your representation help you to compare the fractions?</li>
        <li>What manipulatives can you use to help you?</li>
      </ol>
    </div>
  </section>

  <section class="row">
    <h4>Materials</h4>
    <p>Make tools available such as paper and markers, grid paper, paper strips for folding, and/or manipulatives such as relational rods.</p>
  </section>

  <section class="row">
    <a href="./generatingFractionsbetweenTwoNumbersTeacherNotes" style="color: #724199; border-bottom: 2px solid #724199; text-decoration: none;">Teacher Notes</a>
  </section>
  

<%- include partials/footer.ejs%>