<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Grab Bag</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange">
          <p>Operation B</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Use models to compose and decompose fractions with like denominators as a form of adding and substracting fractions</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/grabBag/T31_GrabBag_TASK_FINAL.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Grab Bag</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/grabBag/Grab_bag_task-thumbnail.jpg" alt="Task Image" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students begin by working with pre-selected sets of rods and determine the value of the smaller rods, where the longest rod is the whole. They then add these together to determine the sum. Next, students randomly select a collection of rods
        from a baggie/paper bag and use the largest rod in their selection as the whole to determine the fractional value of the collection (e.g., if blue is the longest rod, blue is <abbr title="Nine nineths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>9</sub></span></abbr>
        and the value of all the rods is <abbr title="Twenty-one nineths" class="abbr-frac"><span class="frac"><sup>21</sup><span>&frasl;</span><sub>9</sub></span></abbr>).</p>

      <h4>Mathematics</h4>
      <p>Using relational rods, students add fractional quantities when the whole is dependent upon the length of the longest rod selected. This helps students to think flexibly about unit fractions by changing the whole from one trial to the next.
        This task builds conceptual understanding of unit fractions as well as intuitive understanding of addition of fractions with a common denominator. </p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>represent and compare fractional amounts with unlike denominators including proper, improper fractions and mixed fractions using a variety of tools</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Partner students and distribute a set of rods and BLM 1 to each pair. </li>
        <li>Have students select the rods in the following combinations (listed below and on BLM 1). For each set, students should determine “If the largest rod is the whole for each combination, what is the value of each rod compared to the whole?”
          Then they determine the sum, expressed as a number sentence, and the total, expressed as both an improper and a mixed fraction.
          <ol type="i">
            <li>purple/brown/red/white</li>
            <li>yellow/lime green/purple/red/white</li>
            <li>red/purple/orange/white</li>
            <li>dark green/lime green/red/white</li>
            <li>blue/dark green/white</li>
          </ol>
        </li>
        <li>Next, allow students time to randomly select handfuls of rods and, using the longest rod of the selection as their whole, determine the value of each of the rods as well as the sum of the rods. They should record their number sentence
          for each handful and record the sum as both an improper and mixed fraction.</li>
        <li>Have students share what they noticed as they completed the task. Highlight different strategies used to add the fractions together as well as the common unit for all fractions. Emphasize fractional thinking (e.g., “two eighths plus four
          eighths is six eighths, or six one-eighth units”).</li>
        <li>As an extension, students could determine other combinations of rods which would also combine to make the same sum as one of their handfuls. Recording these number sentences would allow for discussion of equivalent fractions.</li>
      </ol>
    </section>


    <section class="row">
      <div class="col-sm-6  col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking </h4>
        <p>Students may: </p>
        <ul>
          <li>use flexible addition strategies to determine the length of their train, which is evidenced in their number sentences (e.g., grouping numerators to reach friendly amounts);</li>
          <li>benefit from laying down ‘wholes’ to track each whole; or grab more rods to overlay / stack rods to compare length in relation to the whole as a support;</li>
          <li>notice that writing the addition sentence makes the determination of the sum as an improper fraction more obvious;</li>
          <li>struggle with recording both the mixed fraction notation and the improper fraction notation, as this requires thinking about the number of wholes and how much more;</li>
          <li>find writing out the same fractions in addition statements tedious and quickly resort to multiplication strategies to more efficiently record their number sentences;</li>
          <li>make connections to multiplication of fractions as repeated addition – for example students may have drawn a yellow rod as the whole (fifths) and have three red rods (each representing two-fifths). They may state that 3 x <abbr title="Two fifths"
              class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> equals <abbr title="Six fifths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>5</sub></span></abbr> = <abbr
              title="One One Fifth" class="abbr-frac">1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr>;</li>
          <li>add unlike denominators to compare rods to the whole or use informal language such as “one yellow rod is two and one-half reds compared to the brown whole”; and</li>
          <li>struggle initially to compare rods to a new whole.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How do you know you are correct? </li>
          <li>Count it out for me using unit fractions.</li>
          <li>How does your smallest rod compare to the whole?</li>
          <li>How can you prove these are equivalent?</li>
          <li>How did you use benchmarks to help you compare the fractions to the whole?</li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li>Sets of relational rods, one set per pair</li>
        <li><a href="/pdf/grabBag/Grab Bag_BLM1_FINAL.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a></li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure>
            <img src="/images/tasks/grabBag/task-template_BLM-1_pg1.jpg" alt="Grab Bag BLM 1 - page 1" class="img-responsive margin-auto" />
            <img src="/images/tasks/grabBag/task-template_BLM-1_pg2.jpg" alt="Grab Bag BLM 1 - page 2" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/grabBag/Grab Bag_BLM1_FINAL.pdf" target="_blank">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure>
            <img src="/images/tasks/grabBag/GrabBag_OP-B.jpg" alt="Grab Bag Op B Studing Thinking" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/grabBag/GrabBag_OP-B.pdf" target="_blank">here</a>.</figcaption>

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/oZBbsXBT2mo?rel=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-6">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building to Addition and Subtraction of Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/litreviews/foundationsAddSub">
              <div class="col-sm-6 col-md-6">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/pdf-img/addSub1.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" class="img-responsive margin-auto img-rounded">
                  </figure>
                  <div class="caption">
                    <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
