<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathways Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Grade 5-6 Planning Map</li>
</ol>

<main class="container">
  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <figure>
        <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
    <div class="col-sm-6 col-md-6">
      <h3 style="text-align:center">Lisa's Grade 5-6 Fractions Planning Map</h2>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
        <a href="/"><img src="/images/logo.png" alt="Fractions" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/planningMap/grade%205%20and%206%20Map%20Sept%20v12.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">
    &nbsp;
    <p><strong>Key planning suggestions: </strong>Use the Fractions Learning Pathways (FLP) to support planning. Punctuate instruction (revisit and extend) with two to five lessons per month focusing on fractions concepts in order to develop and
      solifidy ideas. Embed fractions throughout the curriculum to allow students opportunities to deepen understanding, by reinforcing and extending concepts over time.</p>
  </section>

  <section class="row tab-pane">
    <table class="classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Representing fractional amounts using Linear Models</strong></td>
        <td class="col-md-5"><strong>Representing fractional amounts using Linear and Area Models</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-5">September</td>
        <td class="col-md-5">October</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><i><span class="unit">Unit A, Unit D, </span><span class="compare">Comp E</span></i></td>
        <td class="col-md-5"><i><span class="unit">Unit A, Unit B, </span><span class="ops">Op B</span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong><a href="http://www.edugains.ca/newsite/math/gap_closing.html" target="_blank" rel="noopener">Gap Closing Document</a>
          </div>
          <ul>
            <li><span class="unit"><a href="/tasks/countGame">Counting Game <i>(Unit D)</i></a></span>: emphasize fractions are quantities that can be counted (e.g., 1 one-fourth, 2 one-fourths, 3 one-fourths, 4 one-fourths, 5 one-fourths).</li>
            </li>
            <li><span class="unit"><a href="/tasks/walkLine">Walk the Line <i>(Unit A)</i></a></span></li>
            <li><span class="unit"><a href="/tasks/livingNumberLine">Living Number Line <i>(Unit A)</i></a></span>: emphasize benchmark fractions and numbers beyond 1.</li>
            <li><span class="compare"><a href="/tasks/paperFold">Pretty Powerful Paper Folding <i>Comp E)</i></a></span>: emphasize usefulness when comparing fractions and determining equivalent fracitons.</li>
          </ul>
        </td>
        <td class="col-md-5">
          <div class="">
            <strong>Assessment: </strong><a href="/digitalpaper/fracRep">Represent Fractions</a>
          </div>
          <ul>
            <li><span class="unit"><a href="/tasks/walkLine">Walk the Line <i>(Unit A)</i></a></span>: emphasize strategies for equi-partitioning.</li>
            <li>Revisit <span class="unit"><a href="/tasks/desktopFrac">Desktop Fractions <i>(Unit B)</i></a></span>: emphasize the connections between linear and area models.</li>
            <li><strong>Revised </strong><span class="ops"><a href="/tasks/buildFlags">Building Flags Task <i>(Op B)</i></a></span>: emphasize that there are many ways to decompose an area.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>place value: include fractions/decimals on the same number line.</li>
          </ul>
          <span style="text-align:left;"><strong>Measurement</strong></span>
          <ul>
            <li>connecting importance of the unit in measurement to the unit in fractions</li>
            <li>converting units of measure (numbers, decimals, 1mm, 2mm)</li>
          </ul>
        </td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>multiplication: simple multiplicative relationships involving whole numbers and fractions</li>
          </ul>
          <span style="text-align:left;"><strong>Measurement</strong></span>
          <ul>
            <li>equal partitions</li>
          </ul>
          <span style="text-align:left;"><strong>Patterning and Algebra</strong></span>
          <ul>
            <li>number of selections relative to number of folds</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class="classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Representing, comparing and ordering fractional amounts using Linear and Area Models</strong></td>
        <td class="col-md-5"><strong>Representing, comparing and ordering fractional amounts, ratio using Linear, Area, and Set Models</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-5">November</td>
        <td class="col-md-5">December</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><i><span class="unit">Unit D, </span><span class="compare">Comp A - E, </span><span class="ops">Op C, </span><span class="ops">Op D</span></i></td>
        <td class="col-md-5"><i><span class="unit">Unit F, </span><span class="compare">Comp A</span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <ul>
            <li>Revisit <span class="unit"><a href="/tasks/countGame">Counting Game <i>(Unit D)</i></a></span></li>
            <li>Revisit <span class="unit"><a href="/tasks/livingNumberLine">Living Number Line <i>(Unit A)</i></a></span>: emphasize that fractions can represent numbers greater than one.</li>
            <li><span class="ops"><a href="/tasks/trainGame">Train Game <i>(Op C)</i></a></span></li>
            <li><span class="ops"><a href="/tasks/buildStage">Building a Stage <i>(Op D)</i></a></span></li>
            <li><span class="compare"><a href="/pathway">Comparing Fractions Task <i>(Comp A</a><a href="/pathway/compE"> - E)</i></a></span>: select prompts based on student need.</li>
          </ul>
        </td>
        <td class="col-md-5">
          <ul>
            <li><span class="unit"><a href="/tasks/shapeSets">Fraction Shape Sets <i>(Unit F)</i></a></span></li>
            <li><span class="compare"><a href="/tasks/recipe">Recipe Task <i>(Comp A)</i></a></span>: emphasize connections between two-dimensional models, such as an area or region and three-dimensional models based upon capacity of mass.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>multiplication: an area model relates to an array</li>
          </ul>
          <span style="text-align:left;"><strong>Geometry and Spatial Sense</strong></span>
          &nbsp;
          <span style="text-align:left;"><strong>Measurement</strong></span>
          <ul>
            <li>linear measurement: decimal units relate to fractional units</li>
          </ul>
        </td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>division</li>
            <li>percent</li>
            <li>ratio</li>
          </ul>
          <span style="text-align:left;"><strong>Meausrement</strong></span>
          <ul>
            <li>area, volume</li>
            <li>equal capacity or mass</li>
          </ul>
          <span style="text-align:left;"><strong>Geometry and Spatial Sense</strong></span>
          <ul>
            <li>attributes</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class="classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Representing in real-life situations, equivalent fractions</strong></td>
        <td class="col-md-5"><strong>Equivalent fractions</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-5">January</td>
        <td class="col-md-5">February</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><i><span class="unit">Unit B, </span><span class="unit">Unit D</span>
        <td class="col-md-5"><i><span class="unit">Unit D, </span><span class="unit">Unit F, </span><span class="compare">Comp E, </span><span class="ops">Op B, </span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <ul>
            <li><span class="unit"><a href="/tasks/brownie">Brownie Sharing <i>(Unit B)</i></a></span>: emphasize changing denominators (units within a constant whole).</li>
          </ul>
        </td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong>Frayer Model: Represent <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> using area moel. Linear model and set model.
          </div>
          <ul>
            <li>Revisit <span class="unit"><a href="/tasks/countGame">Counting Game <i>(Unit D)</i></a></span></li>
            <li><span class="unit"><a href="/tasks/iHave">I Have, Who Has <i>(Unit F)</i></a></span></li>
            <li>Revisit <span class="compare"><a href="/tasks/paperFold">Pretty Powerful Paper Folding <i>(Comp E)</i></a></span>: emphasize that as the digit in the denominator increases, the size of the region decreases.
            <li><span class="ops"><a href="/tasks/buildFlags">Building Flags <i>(Op B)</i></a></span>: emphasize equivalent fractions and spatial reasoning</li>
            <li><span class="unit"><a href="/tasks/changeWholes">Changing wholes wiht Pattern Blocks <i>(Unit F)</i></a></span></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>division</li>
          </ul>
          <strong>Patterning and Algebra</strong>
          <ul>
            <li>repeated folding (e.g., think about the number of folds compared to the number of equal parts)</li>
          </ul>
          <strong>Data Management and Probability</strong>
        </td>
        <td class="col-md-5" style="text-align:left;"><strong>Geometry</strong>
          <ul>
            <li>shape</li>
            <li>transformational geometry</li>
          </ul>
          <strong>Data Management and Probability</strong>
          <ul>
            <li>more, less or equally likely</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class="classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-4"><strong>Relationships between fractions, decimals, percents</strong></td>
        <td class="col-md-3"><strong>Ratio, equivalent fractions</strong></td>
        <td class="col-md-3"><strong>Review</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-4">March</td>
        <td class="col-md-3">April</td>
        <td class="col-md-3">May/June</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-4"><i><span class="compare">Comp B, </span><span class="ops">Op B</span></i></td>
        <td class="col-md-3"><i><span class="compare">Comp A - E, </span><span class="ops">Op A</span></i></td>
        <td class="col-md-3"></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-4">
          <div class="vertical-text">
            <strong>Assessment: </strong>I Know/I Wonder
          </div>
          <ul>
            <li><a href="/digitalPaper/setRep" style="color:black;"><strong>Comparing fractions using fractions stories </strong><span class="compare"><a href="/digitalPaper/setRep"><i>(Comp B)</i></a></span></li>
            <li>Revisit <span class="ops"><a href="/tasks/buildFlags">Building Flags <i>(Op B)</i></a></span>: add decimal equivalents to flags and number sentences.</li>
            <li><strong>Rock/ Paper/ Scissors</strong>: emphasize applications of fractions in probability</li>
          </ul>
        </td>
        <td class="col-md-3">
          <ul>
            <li><span class="compare"><a href="/pathway">Comparing Fractions Tasks <i>(Comp A - E)</i></a></span>: select prompts based on student need.</li>
            <li><span class="compare"><a href="/tasks/recipe">Recipe Task <i>(Comp A)</i></a></span>: emphasize equivalent fractions, counting fractions.</li>
          </ul>
        </td>
        <td class="col-md-3">
          <div class="vertical-text">
            Post-Assessment using the Pre-Assessment Tool
          </div>
          <span style="text-align:left;">Reveiw and revisit Fractions concepts as required</span>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-4" style="text-align:left;"><strong>Data Management and Probability</strong>
          <ul>
            <li>relate circle graphs to wrapped number lines and fractions
          </ul>
        </td>
        <td class="col-md-3" style="text-align:left;"><strong>Geometry and Spatial Sense<br>&nbsp;Patterning</strong></td>
        <td class="col-md-3"></td>
      </tr>
    </table>
  </section>
  &nbsp;
  <section class="row">
    Based on research of Dr. Cathy Bruce, Trent University and Ontario Ministry of Education
  </section>
  &nbsp;
</main>

<%- include partials/footer.ejs%>
