<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathways Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Grade 9 Applied Planning Map</li>
</ol>

<main class="container">
  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <figure>
        <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
    <div class="col-sm-6 col-md-6">
      <h3 style="text-align:center">Kerry's Grade 9 Applied Fractions Planning Map</h2>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
        <a href="/"><img src="/images/logo.png" alt="Fractions" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row">
    &nbsp;
    <p><strong>Key planning suggestions: </strong>Use the Fractions Learning Pathways (FLP) to support planning. Punctuate instruction (revisit and extend) with two to five lessons per month focusing on fractions concepts in order to develop and solifidy ideas. Embed fractions throughout the curriculum to allow students opportunities to deepen understanding, by reinforcing and extending concepts over time.</p>
  </section>

  <section class="row tab-pane">
    <table class = "classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Comparing Fractions</strong></td>
        <td class="col-md-5"><strong>Working with Equivalence</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Week</td>
        <td class="col-md-5">Week 1</td>
        <td class="col-md-5">Week 2-3</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><i><span class="unit"><a href="/pathway/unitFractions">Unit Fractions</a></span><br/><span class="unit"><a href="/pathway/comparingFractions">Comparing Fractions</a></span></i></td>
        <td class="col-md-5"><i><span class="unit"><a href="/pathway/unitFractions">Unit Fractions</a></span><br/><span class="unit"><a href="/pathway/comparingFractions">Comparing Fractions</a></span><br/><span class="ops"><a href="/pathway/operationsWithFractions">Operations: Addition and Subtraction</a></span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong>Informal diagnostic assessment
          </div>
          <ul>
            <li><span class="units"><a href="/tasks/livingNumberLine">Living Number Line <i>(Unit A)</i></a></span></li>
            <li><span class="units"><a href="/tasks/countGame">Counting Game <i>(Unit D)</i></a></span>: emphasize fractional units and fractions as quantities that can be counted.</li>
            <li>Comparing and Ordering Fractions Lesson <i>(from digital paper)</i></li>
            <li><strong>Comparing Fractions Tasks </strong><span class="compare">(<a href="/pathway/compA">Comp A </a><a hreef="/pathway/compE">- E</a>)</span>: select tasks that emphasize the use of the number line model.</li>
          </ul>
        </td>
        <td class="col-md-5">
          <div>
            <strong>Assessment: </strong>formal diagnostic
          </div>
          <li><span class="units"><a href="/tasks/desktopFrac">Desktop fractions <i>(Unit B)</i></a></span>: emphasize the connection between number line and area models.</li>
          <li><span class="units"><a href="/tasks/brownie">Brownie Sharing <i>(Unit B)</i></a></span>: emphasize equi-partitioning.</li>
          <li><strong>Rod Bundle <i>(<span class="unit"><a href="/pathway/unitE">Unit E, </a></span><span class="compare"><a href="/pathway/compB">Comp B, </a></span><span class="ops"></a href="/pathway/opC">Op C, </a><a href="/pathway/opE">Op E</a></span>)</i></strong></li>
          <li><span class="ops"><a href="/tasks/buildStage">Building a Stage <i>(Op D)</i></a></span></li>
        </td>
      </tr>
      <tr >
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Algebra</strong></td>
        <td class="col-md-5" style="text-align:left;"><strong>Measurement and Geometry</strong>
          <ul>
            <li>area, preimeter, and volume</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class = "classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Operations with Fractions</strong></td>
        <td class="col-md-5"><strong>Fractions as Ratios and Proportions</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Week</td>
        <td class="col-md-5">Week 4</td>
        <td class="col-md-5">Week 5-8</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><i><span class="unit"><a href="/pathway/comparingFractions">Comparing Fractions</a></span><br/><span class="ops"><a href="/pathway/operationsWithFractions">Operations: Addition and Subtraction</a></span></i></td>
        <td class="col-md-5"><i><span class="unit"><a href="/pathway/comparingFractions">Comparing Fractions</a></span><br/><span class="ops"><a href="/pathway/operationsWithFractions">Operations: Addition and Subtraction</a></span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <ul>
            <li><span class="comparing"><a href="/tasks/recipe">Recipe Task <i>(Comp A)</i></a></span></li>
            <li><strong> OP Quick Prompts </strong><span class="ops">(<a href="/tasks/opA">Op A </a><a href= "/tasks/opE">- E</a>)</span>: select prompts to emphasize building models appropriate to the context (e.g., area models for brownies, volume models for strawberries, and number lines for banners).</li>
          </ul>
        </td>
        <td class="col-md-5">
          <li><span class="ops"><a href="/tasks/buildFlags">Building Flags <i>(Op B)</i></a></span>: emphasize equi-partitioning, the whole, equivalence, and fraction operations.</li>
          <li>Generate as many representations for <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> as possible: emphasize equivalence with set representations.
        </td>
      </tr>
      <tr >
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Measurement and Geometry</strong>
          <ul>
            <li>composite figures and optimization</li>
          </ul>
        </td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Algebra</strong>
          <ul>
            <li>unit rate</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class = "classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-4"><strong>Fractions as Rate</strong></td>
        <td class="col-md-3"><strong>Fractional Thinking Supporting Algebra</strong></td>
        <td class="col-md-3"><strong>Fractional Thinking Supporting Geometry</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Week</td>
        <td class="col-md-4">Week 9-12</td>
        <td class="col-md-3">Week 13-15</td>
        <td class="col-md-3">Week 15-17</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-4"><i><span class="unit"><a href="/pathway/comparingFractions">Comparing Fractions</a></span></i></td>
        <td class="col-md-3"><i<span class="ops"><a href="/pathway/operationsWithFractions">Operations: Addition and Subtraction</a></span><br/><span class="ops2"><a href="#">Operations: Multiplication and Division</a></span></i></td>
        <td class="col-md-3"><i><span class="ops2"><a href="#">Operations: Multiplication and Division</a></span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-4">
          <div>
            <strong>Assessment: </strong>use post test to determine areas of need
          </div>
          <ul>
            <li><span class="compare" style="background-color:#fff200"><a href="#">Slope of a Line <i>(Comp E)</i></a></span>: emphasize ordering fractions in different contexts.</li>
          </ul>
        </td>
        <td class="col-md-3">
          <i>
            Continue to select tasks from cells based on assessment for learning information.
            &nbsp;
            Ensure that students have opportunities to solve prompts with and without contexts.
            &nbsp;
            Students will benefit from opportunities to visualize representations of operations.
          </i>
        </td>
        <td class="col-md-3">
          <i>
            Continue to select tasks from cells based on assessment for learning information.
            &nbsp;
            Embed fractional thinking to solve problems involving angle geometry (e.g., determine the measure of each angle in a regular octagon).
          </i>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-4" style="text-align:left;"><strong>Analytic Geometry</strong>
          <ul>
            <li>direct and partial variations</li>
            <li>finding the equation of a line</li>
          </ul>
        </td>
        <td class="col-md-3" style="text-align:left;"><strong>Measurement and Geometry</strong>
          <ul>
            <li>linking equation solving to measurement</li>
          </ul>
        </td>
        <td class="col-md-3" style="text-align:left;"><strong>Number Sense and Algebra Geometry</strong></td>
      </tr>
    </table>
  </section>
  &nbsp;
  <section class="row">
    Based on research of Dr. Cathy Bruce, Trent University and Ontario Ministry of Education
  </section>
  &nbsp;

</main>

<%- include partials/footer.ejs%>
