<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathways Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Grade 3 Planning Map</li>
</ol>

<main class="container">
  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <figure>
        <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
    <div class="col-sm-6 col-md-6">
      <h3 style="text-align:center">Amy's Grade 3 Fractions Planning Map</h2>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
        <a href="/"><img src="/images/logo.png" alt="Fractions" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row">
    &nbsp;
    <p><strong>Key planning suggestions: </strong>Use the Fractions Learning Pathways (FLP) to support planning. Punctuate instruction (revisit and extend) with two to five lessons per month focusing on fractions concepts in order to develop and solifidy ideas. Embed fractions throughout the curriculum to allow students opportunities to deepen understanding, by reinforcing and extending concepts over time.</p>
  </section>

  <section class="row tab-pane">
    <table class = "classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Understanding fractions as numbers</strong></td>
        <td class="col-md-5"><strong>Representing fractional amounts using linear models</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-5">September/October</td>
        <td class="col-md-5">November</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><span class="unit"><a href="/pathway/unitFractions">Unit Fractions</a></span></td>
        <td class="col-md-5"><span class="unit"><a href="/pathway/unitFractions">Unit Fractions</a></span><br/><span class="compare"><a href="/pathway/comparingFractions">Comparing fractions</span></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong>Represent <abbr title="three quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> as many different ways as you can (Have students use post-its to how their thinking.)
          </div>
          <ul>
            <li><span class="unit"><a href="/tasks/countGame">Counting Game <i>(Unit D)</i></a></span>: emphasize fractions are quantities that can be counted (e.g., 1 one-fourth, 2 one-fourths, 3 one-fourths, 4 one-fourths, 5 one-foughts).</li>
            </li>
            <li><span class="unit"><a href="/tasks/walkLine">Walk the Line <i>(Unit A)</i></a></span></li>
            <li><span class="unit"><a href="/tasks/livingNumberLine">Living Number Line <i>(Unit A)</i></a></span>: emphasize benchmark fractions and numbers beyond 1.</li>
            <li><span class="compare"><a href="/tasks/paperFold">Pretty Powerful Paper Folding <i>Comp E)</i></a></span>: folding to compare unit fractions, e.g., <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="one eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr>, and to discover equivalence</li>
          </ul>
        </td>
        <td class="col-md-5">
          <div class="">
            <strong>Assessment: </strong>Create an open number line. Add two whole numbers and two fractions.
          </div>
          <ul>
            <li>Revisit <span class="unit"><a href="/tasks/countGame">Counting Game <i>(Unit D)</i></a></span>: Play with variations that emphasize the connection between concrete models and counting.</li>
            <li>Revisit <span class="unit"><a href="/tasks/livingNumberLine">Living Number Line <i>(Unit A)</i></a></span></li>
            <li>Revisit <span class="compare"><a href="/tasks/paperFold">Pretty Powerful Paper Folding <i>(Comp E)</i></a></span></li>
          </ul>
        </td>
      </tr>
      <tr >
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>compose and decompose numbers (place value, attention to unit)</li>
            <li>relationships among numbers</li>
          </ul>
        </td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong><ul><li>money</li></ul></td>
      </tr>
      <tr>
        <td class="col-md-2">Notes to Inform Next Steps</td>
        <td class="col-md-5" style="text-align:left;"><i>Are students able to county by a range of unit fractions for a variety of purposes? <br/>Are students aware of multiple ways to represent fractions (set model, area model, linear, measurement?)</i></td>
        <td class="col-md-5" style="text-align:left;"><i style="text-align:left;">Do students see fractions as representing a quantity? <br/>Can studnets independently place fractions appropriately on the number line?</i></td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class = "classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Representing fractional amounts using linear and area models</strong></td>
        <td class="col-md-5"><strong>Composing and decomposing using fractions</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-5">December</td>
        <td class="col-md-5">January</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><span class="unit"><a href="/pathway/unitFractions">Unit Fractions</a></span><br/><span class="compare"><a href="/pathway/comparingFractions">Comparing fractions</span></td>
        <td class="col-md-5"><span class="unit"><a href="/pathway/unitFractions">Unit Fractions</a></span><br/><span class="compare"><a href="/pathway/comparingFractions">Comparing fractions</span></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong>Provide students with a number line that shows 3 fractions, ask them to choose one and represent it in a different way.
          </div>
          <ul>
            <li>Revisit <span class="unit"><a href="/tasks/countGame">Counting Game <i>(Unit D)</i></a></span>: Play with variations that emphasize the connection between concrete models and counting.</li>
            <li>Revisit <span class="unit"><a href="/tasks/livingNumberLine">Living Number Line <i>(Unit A)</i></a></span>: emphasize different representations beyond the whole (e.g., <abbr title="five fourths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>4</sub></span></abbr>,<abbr title="six fourths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr>,<abbr title="seven fourths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>4</sub></span></abbr>,<abbr title="eight fourths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>4</sub></span></abbr>) and strategies for placing halves and thirds.</li>
            <li><span class="unit"><a href="/tasks/changeWholes">Chanaging Wholes with Pattern Blocks <i>(Unit F)</i></a></span></li>
            <li>Revisit <span class="compare"><a href="/tasks/paperFold">Pretty Powerful Paper Folding <i>(Comp E)</i></a></span></li>
            <li><span class="unit"><a href="/tasks/desktopFrac">Desktop Fractions <i>(Unit B)</i></a></span></li>
          </ul>
        </td>
        <td class="col-md-5">
          <ul>
            <li><span class="unit"><a href="/tasks/brownie">Brownie Sharing <i>(Unit B)</i></a></span></li>
            <li>Revisit <span class="unit"><a href="/tasks/countGame">Unit Fractions Counting Game <i>(Unit D)</i></a></span>: continue to play with concrete models.</li>
            <li><span class="ops"><a href="/tasks/buildFlags">Flags <i>(Op A)</i></a></span>: focus on composing a whole</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Meausrement</strong>
          <ul>
            <li>time (e.g., counting by fractional components of an hour)</li>
          </ul>
          <strong>Geometry and Spatial Sense</strong>
          <ul>
            <li>lines of symmetry</li>
            <li>composing a larger shape in a variety of ways</li>
          </ul>
        </td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>multiplication: make connections between area models and arrays</li>
          </ul>
          <strong>Data Management and Probability</strong>
          <ul>
            <li>analysing data through graphs</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Notes to Inform Next Steps</td>
        <td class="col-md-5" style="text-align:left;"><i>If students are comfortable with the ongoing activites, they can be done as warm-ups for the whole class and as small group remediation for students who would benefit from more direct instruction.</i></td>
        <td class="col-md-5" style="text-align:left;"><i>Students should be showing an understanding that the denominator represents the number of units in the whole and that greater denominators mean smaller units.</i></td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class = "classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Applications of equi-partitioning</strong></td>
        <td class="col-md-5"><strong>Representing fractions in a variety of ways</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-5">February</td>
        <td class="col-md-5">March</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><span class="unit"><a href="/pathway/unitFractions">Unit Fractions</a></span><br/><span class="compare"><a href="/pathway/comparingFractions">Comparing fractions</span></td>
        <td class="col-md-5"><span class="unit"><a href="/pathway/unitFractions">Unit Fractions</a></span><br/><span class="compare"><a href="/pathway/comparingFractions">Comparing fractions</span></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong> <span style="text-decoration:underline;">I wonder:</span> work in small groups to complete task.
          </div>
          <ul>
            <li>Revisit <span class="unit"><a href="/tasks/countGame">Unit Fractions Counting Game <i>(Unit D)</i></a></span></li>
            <li><span class="compare"><a href="/tasks/generatingFractionsbetweenTwoNumbers">Generating a Fraction Between any Two Numbers <i>(Comp C)</i></a></span></li>
            <li><span class="unit"><a href="/tasks/iHave">I Have, Who Has <i>(Unit F)</i></a></span></li>
            <li>Revisit <span class="compare"><a href="/tasks/paperFold">Pretty Powerful Paper Folding <i>(Comp E)</i></a></span>: emphasize folding for unit fractions <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>,<abbr title="one sixth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>6</sub></span></abbr>,<abbr title="one twelfth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>12</sub></span></abbr></li>
          </ul>
        </td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong>Provide students with a choice of fractions have them choose one and represent it in the 3 different ways
          </div>
          <ul>
            <li><span class="unit"><a href="/tasks/shapeSets">Fractions Shape Sets <i>(Unit F)</i></a></span></li>
            <li>Revisit <span class="ops"><a href="/tasks/buildFlags">Flags <i>(Op B)</i></a></span>: Use new pieces to emphasize thirds, sixths and twelfths.</li>
            <li><span class="unit"><a href="/tasks/iHave">I Have, Who Has <i>(Unit F)</i></a></span></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>connections between multiplication and fractions</li>
          </ul>
          <strong>Measurement</strong>
          <ul>
            <li>area, preimeter, capacity, volume, mass</li>
          </ul>
          <strong>Patterning and Algebraic Reasoning</strong>
          <ul>
            <li>growing and shrinking patterns</li>
          </ul>
        </td>
        <td class="col-md-5" style="text-align:left;"><strong>Geometry and Spatial Sense</strong>
          <ul>
            <li>tiling challenges: parts to cover the whole</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Notes to Inform Next Steps</td>
        <td class="col-md-5" style="text-align:left;"><i>Use "I Wonder" activity to check for misconceptions and gaps in understanding to determine next steps.</i></td>
        <td class="col-md-5" style="text-align:left;"><i>By this point in the year, students should be develpoping a flexibility with discussing and representing fractions. They should recognize several ways to represent fractions, including standard fractional notation.</i></td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class = "classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-5"><strong>Comparing fractions</strong></td>
        <td class="col-md-5"><strong>Review</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-5">April</td>
        <td class="col-md-5">May/June</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-5"><span class="compare"><a href="/pathway/comparingFractions">Comparing fractions</span></a></td>
        <td class="col-md-5"></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong> Create a set of objectives. Write three fractions that describes your set.
          </div>
          <ul>
            <li><span class="unit"><a href="/tasks/countGame">Comparing Fractions Tasks <i>(Unit D)</i></a></span>: Select prompts for minds-on tasks.</li>
            <li><span class="compare"><a href="/tasks/recipe">Recipe Task <i>(Comp A)</i></a></span></li>
          </ul>
        </td>
        <td class="col-md-5">
          <div class="vertical-text">
            <strong>Assessment: </strong>Revisit "I wonder" task and have students complete task independently.
          </div>
          Review and revisit fractions concepts as required based on results of "I Wonder" assessment.
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-5" style="text-align:left;"><strong>Number Sense and Numeration</strong>
          <ul>
            <li>connections between division and fractions</li>
          </ul>
          <strong>Data Management and Probability</strong>
          <ul>
            <li>name probability of events as fractions</li>
          </ul>
        </td>
        <td class="col-md-5"></td>
      </tr>
      <tr>
        <td class="col-md-2">Notes to Inform Next Steps</td>
        <td class="col-md-5"></td>
        <td class="col-md-5"></td>
      </tr>
    </table>
  </section>
  &nbsp;
  <section class="row">
    Based on research of Dr. Cathy Bruce, Trent University and Ontario Ministry of Education
  </section>
  &nbsp;
</main>

<%- include partials/footer.ejs%>
