<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathways Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Grade 7-8 Planning Map</li>
</ol>

<main class="container">
  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <figure>
        <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
    <div class="col-sm-6 col-md-6">
      <h3 style="text-align:center">Kim's Grade 7-8 Fractions Planning Map</h2>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
        <a href="/"><img src="/images/logo.png" alt="Fractions" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row">
    &nbsp;
    <p><strong>Key planning considerations: </strong>Base planning on the Fractions Learning pathways (FLP). Punctuate instruction with two to five lessons per month focusing on a new concept in order to develop and solidify ideas. Embedding
      fractions into current curriculum in order to allow stduents to understand, reinforce and extend the concepts.</p>
  </section>

  <section class="row tab-pane">
    <table class="classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-4"><strong>Representing Fractions using Linear, Set and Area Models</strong></td>
        <td class="col-md-3"><strong>Counting and Partitioning as a Precursor to Operations</strong></td>
        <td class="col-md-3"><strong>Comparing Fractions</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-4">November</td>
        <td class="col-md-3">December</td>
        <td class="col-md-3">January</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-4"><i><span class="unit">Unit D, Unit F, </span><span class="compare">Comp A</span></i></td>
        <td class="col-md-3"><i><span class="unit">Unit E, </span><span class="compare">Comp E</span></i></td>
        <td class="col-md-3"><i><span class="compare">Comp A, Comp B, Comp C, Comp D, Comp E, </span><span class="ops">Op B</span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-4">
          <ul>
            <li><span class="unit"><a href="/tasks/shapeSets">Fraction Shape Sets <i>(Unit F)</i></a></span>: emphasize defining the whole when working with a set.</li>
            <li><span class="unit"><a href="/tasks/changeWholes">Changing Wholes with Pattern Blocks <i>(Unit F)</i></a></span></li>
            <li><span class="compare"><a href="/tasks/recipe">Recipe Task <i>(Comp A)</i></a></span></li>
            <li><span class="unit"><a href="/tasks/setAreaMod">Fractions Representations with Set and Area Models Lesson Bundle <i>(Unit D)</i></a></span>: emphasize the relationships between set and area models.</li>
          </ul>
        </td>
        <td class="col-md-3">
          <ul>
            <li><span class="unit"><a href="/tasks/unitRods">Unit Rods <i>(Unit E)</i></a></span></li>
            <!--<li><span class="unit"><a href="/tasks/showMe"><Show Me <i>(Unit E)</i></a></span></li>-->
            <li><span class="compare"><a href="/tasks/paperFold">Pretty Powerful Paper Folding <i>(Comp E)</i></a></span></li>
          </ul>
        </td>
        <td class="col-md-3">
          <ul>
            <li><span class="compare"><a href="/tasks/generatingFractionsbetweenTwoNumbers">Generating Fractions Between Two Numbers <i>(Comp C)</i></a></span></li>
            <li><strong>Comparing Fractions Tasks</strong><span class="compare"><a href="/pathway/compA"><i>(Comp A</a><a href="/pathway/compE"> - E)</i></a></span>: emphasize a range of strategies for comparing fractions.</li>
            <li><span class="ops"><a href="/tasks/buildFlags">Building Flags Task <i>(Op B)</i></a></span>: emphasize that different shaped regions can be equivalent.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-4" style="text-align:left;"><strong>Number Sense and numeration</strong>
          <ul>
            <li>Operations</li>
            <li>Ratio</li>
            <li>Equivalence</li>
          </ul>
          <span style="text-align:left"><strong>Measurement</strong></span>
          <ul>
            <li>Conversion</li>
          </ul>
          <span style="text-align:left"><strong>Geometry & Spatial Sense</strong></span>
          <ul>
            <li>Attributes</li>
          </ul>
          <span style="text-align:left"><strong>Algebra</strong></span>
          <ul>
            <li>Algebraic relationships</li>
          </ul>
        </td>
        <td class="col-md-3" style="text-align:left;"><strong>Number Sense and numeration</strong>
          <ul>
            <li>Equivalence</li>
          </ul>
          <span style="text-align:left"><strong>Measurement</strong></span>
          <ul>
            <li>Attributes</li>
          </ul>
        </td>
        <td class="col-md-3" style="text-align:left;"><strong>Number Sense and numeration</strong>
          <ul>
            <li>Operations</li>
          </ul>
          <span style="text-align:left"><strong>Measurement</strong></span>
          <ul>
            <li>Area</li>
          </ul>
          <span style="text-align:left"><strong>Geometry & spatial Sense</strong></span>
          <ul>
            <li>Transformational Geometry</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class="classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-4"><strong>Equivalence and Addition/Subtraction</strong></td>
        <td class="col-md-3"><strong>Addition and Subtraction</strong></td>
        <td class="col-md-3"><strong>Addtion and Subtraction</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-4">February</td>
        <td class="col-md-3">March</td>
        <td class="col-md-3">April</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-4"><i><span class="ops">Op C, Op E, </span><span class="unit">Unit D</span></i></td>
        <td class="col-md-3"><i><span class="ops">Op D</span></i></td>
        <td class="col-md-3"><i><span class="ops">Op E</span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-4">
          <div class="vertical-text">
            <strong>Possible Assessment: </strong>Select two fractions and identify a fraction between them. Prove that your answer is correct.
          </div>
          <ul>
            <li><span class="ops"><a href="/tasks/trainGame">Train Game <i>(Op C)</i></a></span></li>
            <li><span class="ops"><a href="/tasks/equalsGame">Equals Game <i>(Op E)</i></a></span>: emphasize connection between visual representation and notational representation</li>
            <li><span class="unit"><a href="/tasks/countGame">Counting Game <i>(Unit D)</i></a></span></li>
            <li><span class="ops"><a href="/tasks/ComposingandDecomposingOneSevenEights">Compose 1<abbr title="seven eighths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr><i> (Op E)</i></a></span></li>
          </ul>
        </td>
        <td class="col-md-3">
          <div class="vertical-text">
            <strong>Possible Assessment: </strong>Which is greater <abbr title="five sixths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span></abbr> or <abbr title="seven eighths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr>?
            Justify your solution.
          </div>
          <ul>
            <li><span class="ops"><a href="/tasks/buildStage">Buidling Stage <i>(Op D)</i></a></span></li>
            <li><span class="ops"><a href="/tasks/flickGame">The Flick Game <i>(Op D)</i></a></span></li>
            <li>Ongoing Number Line/Counting Game/Comparing Tasks as needed</li>
          </ul>
        </td>
        <td class="col-md-3">
          <ul>
            <li><span class="ops"><a href="/tasks/relayRace">The Relay Race <i>(Op E)</i></a></span></li>
            <li><span class="ops"><a href="/tasks/tufTouch">Turf Touchdown <i>(Op E)</i></a></span></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-4" style="text-align:left;"><strong>Number Sense & Numeration</strong>
          <ul>
            <li>Equivalence</li>
          </ul>
        </td>
        <td class="col-md-3" style="text-align:left;"><strong>Measurement</strong>
          <ul>
            <li>Linear units of measure</li>
          </ul>
        </td>
        <td class="col-md-3" style="text-align:left;"><strong>Number Sense & Numeration</strong>
          <ul>
            <li>Operations</li>
            <li>Equivalence</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
  &nbsp;

  <section class="row tab-pane">
    <table class="classroom-map">
      <tr>
        <td class="col-md-2">Topic</td>
        <td class="col-md-4"><strong>Multiplication and Division</strong></td>
        <td class="col-md-4"><strong>Multiplication and Division</strong></td>
      </tr>
      <tr>
        <td class="col-md-2">Month</td>
        <td class="col-md-4">May</td>
        <td class="col-md-4">June</td>
      </tr>
      <tr>
        <td class="col-md-2">Concepts on FLP</td>
        <td class="col-md-4"><i><span class="ops2">Op F - Op Q</span></i></td>
        <td class="col-md-4"><i><span class="ops2">Op F - Op Q</span></i></td>
      </tr>
      <tr>
        <td class="col-md-2">Tasks (including extensions and revisits)</td>
        <td class="col-md-4">
          <ul>
            <li><span class="ops2"><a href="#">Operations with Fractions: Multiplication and Division</a></span><br />(tasks under development)</li>
          </ul>
        </td>
        <td class="col-md-4">
          <ul>
            <li><span class="ops2"><a href="#">Operations with Fractions: Multiplication and Division</a></span><br />(tasks under development)</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">Opportunities to Connect Across Strands</td>
        <td class="col-md-4"></td>
        <td class="col-md-3" style="text-align:left;"><strong>Geometry</strong>
          <ul>
            <li>Transformational Geometry</li>
          </ul>
          <span style="text-align:left"><strong>Data Management and Probability</strong></span>
          <ul>
            <li>Probability</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
  &nbsp;
</main>

<%- include partials/footer.ejs%>
