<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li><a href="./iHave">UNIT F I Have, Who Has</a></li>
</ol>

<main class="container dot-lists pdf-page">
<h1>I Have, Who Has</h1>

<img src="/images/tasks/taskImage.png" alt="Task" height="" width="" style="float: right;padding-left: 10px;" />
<strong>Description</strong>

<p>This fun and addictive ‘call and response’ game can be used as a whole group minds-on activity or an exit ticket. Students love trying to be as fast as they can to recognize what unit amount they have represented on their card. They enjoy when the entire deck of cards is successfully played from start to finish. The connection between the visual representation and an oral articulation of symbolic notation is especially evident in this task.</p>

<strong>Mathematics</strong>

<p>When students compose and decompose fractions they develop a better understanding of fractional number sense. Having fun while isolating fractional parts of the whole encourages students to visualize the meaning of their unit and of the whole. Connecting this to symbolic notation furthers fractional understanding.</p>

<strong>Curriculum Connections</strong>

<p>Students will:</p>
<ul>
<li>understand that a denominator represents the size of the fractional unit;</li>
<li>understand that a numerator represents the parts we are counting (<abbr title="For example">e.g.</abbr>
, number of parts that are shaded);</li>
<li>represent fractions using concrete materials, words, and standard fractional notation.</li>
</ul>

<strong>Instructional sequence</strong>
<ol>
<li>Distribute cards randomly to students. This game is best played in a circle formation so students are engaged and better able to help each other out.</li>
<li>One random student begins by orally questioning “Who has” …whatever their symbolic notation is. (<abbr title="For example">e.g.</abbr>, <abbr title="four ninths">4&frasl;9</abbr>). The student whose model representation matches the fraction called responds by saying “I have <abbr title="four ninths">4&frasl;9</abbr> , who has …whatever their symbolic notation. Each child turns down his/her card when s/he have both responded and called the numbers on the card.</li>
<li>The game continues, in this call and response pattern format until the child who began the game has heard his/her representation called. At this point all cards will be turned down and the game is complete.</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking</strong>

    <p>Students may:</p>
    <ul>
    <li>need help from an elbow partner to communicate their fraction;</li>
    <li>find this task challenging if they are not strong auditory learners;</li>
    <li>differentiate their learning by choosing to have two cards;</li>
    <li>name their fractional unit based on the un-shaded portion not the shaded portion;</li>
    <li>read the representation as a whole number as opposed to a fractional unit (<abbr title="For example">e.g.</abbr>
    , I have 4 instead of four-sevenths);</li>
    <li>use the symbolic notation on their card as their response as opposed to their question;</li>
    <li>try to connect the representation and symbolic notation on their card.  </li>
    </ul>
  </div>
  <div class="col-md-6">
      <strong>Key questions</strong>
<ol>
<li>What kind of models do we see in our game today?</li>
<li>How many units are in your whole? How many are shaded?</li>
<li>(As an extension) Could you name your area model as a different amount? (Prompting students to see the un - shaded units as the complimentary fraction).</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
<li><abbr title="Blackline Master">BLM1</abbr> (one copy, cut into cards) (works best when laminated)</li>
</ul>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Task Templates</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <img src="/images/tasks/P20_BLM1A_10 Cards.png" alt="Set of 30 Cards" />
        <p>To download a copy of this .pdf, click <a href="/pdf/P20_BLM1A_10 Cards.pdf" target="_blank" rel="PDF File">here</a>.</p>
        <p>Set of 30 cards:</p>
        <img src="/images/tasks/P20_BLM1A_10 Cards.png" alt="Set of 30 Cards " />
        <p>To download a copy of this .pdf, click <a href="/pdf/P20_BLM1_30 Cards.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Additional Resources</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
<div class="row">

  <a href="/supportDocs/waysWeUseFrac">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/waysUse1.png" alt="Ways We Use Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Ways We Use Fractions</h3>
        </div>
      </div>
    </div>
  </a>
  <a href="/supportDocs/purpRep">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" height="100px" width="100px">
        <div class="caption">
          <h3>Purposeful Representations</h3>
        </div>
      </div>
    </div>
  </a>

</div>
      </div>
    </div>
  </div>
</div>

</main>
<%- include partials/footer.ejs%>
