<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/iHave">UNIT F I Have Who Has</a></li>
    <li><a href="/tasks/iHaveTemplate">I Have Who Has Templates</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
	<h1>Task Templates</h1>
<object data="pdf/taskTemplate1.pdf" type="application/pdf" width="300" height="200">
<a href="pdf/taskTemplate1.pdf"></a>
</object>

<object data="pdf/taskTemplate2.pdf" type="application/pdf" width="300" height="200">
<a href="pdf/taskTemplate2.pdf"></a>
</object>

<%- include partials/footer.ejs%>
