<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/brownie">UNIT B Brownie Sharing</a></li>
    <li><a href="/tasks/brownieImplementation">Brownie Sharing Implementation</a></li>
</ol>

<main class="container">
<!-- Insert content here-->


<%- include partials/footer.ejs%>
