<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./digitalTasks">Lessons</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Improper Fractions with Set Representations (Gr 6)</li>
</ol>

<main class="container">

    <section class="pdf-page">
        <section class="row">
            <h2 style="color: #0000ff; border-bottom: 10px solid black;">Representing Improper Fractions Using Sets - Simcoe County <abbr title="District School Board">DSB</abbr> <abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr> Lesson Grade 6</h2>
        </section>

        <section class="row table-responsive">
            <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
                <!-- First Row - Time Stamp and Learning Goal -->
                <tr>
                    <td>
                        <p>MO 10 min</p>
                        <p>A 45 min</p>
                        <p>C/D 20 min</p>
                        <p>75 min</p>
                    </td>
                    <td>
                        <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
                        <p>Students will:</p>
                        <ul> 
                            <li>reason about the meaning of a fraction and how to represent fractions using a variety of tools</li>
                            <li>identify and represent various improper fractions by considering them within the context of a set</li>
                            <li>connect improper fractions to mixed numbers</li>
                        </ul>
                    </td>
                    <td>
                        <p><strong style="text-decoration: underline;">Materials</strong></p>
                        <ul>
                            <li>two colour counters</li>
                            <li>linking cubes</li>
                            <li>plastic/paper bags</li>
                            <li><abbr title="Blackline Master">BLM</abbr> 1.1 – 1 copy/student</li>
                        </ul>
                    </td>
                </tr> <!-- End First Row -->
                <!-- Second Row - Minds on... -->
                <tr>
                    <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
                    <td>
                        <p><strong>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</strong></p>
                        <p>Show students 2 red and 1 blue counters equal in size. Ask why this could represent <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> (There are 3 things altogether and 2 are red, which is ‘part-whole’ relationship.)</p>
                        <p>Show 1 red and 1 blue counter and 1 red linking cube, all separated. Ask if this still shows <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>. Ask why? (There are still 3 things and 2 are red. In this set, we are looking at the colours.) Ask what the numerator 2 tells. (how many parts we’re using/referring to when we say “red”. Note that the numerator would have been 1 had we said “blue” instead of “red”) Ask what the denominator 3 tells? (how many things there are altogether in the set.). Ask what <abbr title="three thirds" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>3</sub></span></abbr> would mean? (all 3 parts of a set of 3, or the whole set of 3). Ask what <abbr title="four thirds" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>3</sub></span></abbr> would mean? (1 more part than the whole set of 3). Show 4 counters in a bag and one counter outside the bag. Ask students what fractions they see in this model. (<abbr title="For example">e.g.</abbr>
                        , <abbr title="five fourths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>4</sub></span></abbr> because there are 5 counters but it only takes 4 to fill one whole bag; <abbr title="four fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> because 4 of the set are in the bag but there are 5 counters total.) Bring “whole” into the discussion and tell students that they must identify the whole when writing a fraction. Engage them in reasoning that when we are working with bags of cookies we would call the whole the entire set of cookies in one bag.</p>
                    </td>
                    <td class="section-border-bottom-none">
                        <p>This lesson is modified from the Gap Closing Junior Package (available on—line at edugains.ca under Math).</p>
                    </td>
                </tr> <!-- End Second Row -->
                <!-- Third Row - Action! -->
                <tr> 
                    <td>
                        <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
                    </td>
                    <td>
                        <p><strong>Small Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Open Question</strong></p>
                        <p>Students complete <abbr title="Blackline Master">BLM</abbr> 1.1 using counters and bags to model the scenario of cookies in a bag. Circulate to monitor student understanding. Use the following guiding questions to prompt students as necessary:</p>
                        <ul>
                            <li>Explain why you chose this representation.</li>
                            <li>Have you thought about…?</li>
                            <li>What do you notice about…?</li>
                            <li>Does this answer make sense to you?</li>
                            <li>How can you verify this answer?</li>
                            <li>What evidence of your thinking can you share?</li>
                            <li>Is this a reasonable answer, given that…?</li>
                            <li>How do these different representations connect to one another?</li>
                        </ul>
                    </td>
                    <td class="section-border-bottom-none section-border-top-none background-color-white">
                        <p>Revisions to Open Question:</p>
                        <ul>
                            <li>change <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> to <abbr title="three sixths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>6</sub></span></abbr></li>
                            <li>fraction of a fraction</li>
                        </ul>
                        
                        <p>These questions are selected from the Math Processes Connections and Continuum Package available at edugains.ca.</p>
                    </td>
                </tr> <!-- End Third Row -->
                <!-- Fourth Row - Consolidate/Debrief -->
                <tr>
                    <td>
                        <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
                    </td>
                    <td>
                        <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
                        <p>Ask specific students with correct representations to show one of the fractions in a way that allows all students to see all of the fractions represented during the following discussion. Gather and discuss with the class, ways in which the given fractions are alike (all the fractions are improper; the numerator is greater than the denominator; each fraction is more than 3 and less than 4, there are always 4 items left when items are rearranged into the bags), and ways that they are different (the sizes of the numbers; whether the denominators and numerators are even or odd; the number of parts in a whole, etc).</p>
                        
                        <p>If necessary, ask questions such as:</p>
                        <ul>
                            <li>How did you know you needed to draw more than 3 whole bags?</li>
                            <li>What is another fraction that would be like all of these?</li>
                            <li>What is a fraction that would be different from all of these?</li>
                            <li>Why does it make sense to call these fractions even though they are more than a whole? (<abbr title="For example">e.g.</abbr>
                        , because they are written like fractions and they are just counting parts of wholes.)</li>
                        </ul>   
                    </td>
                    <td class="section-border-top-none">
                        <p>If some students need a challenge, add an example with equivalent mixed numbers <abbr title="For example">e.g.</abbr>
                        , <abbr title="seven halves" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>2</sub></span></abbr> and <abbr title="twenty-one sixths" class="abbr-frac"><span class="frac"><sup>21</sup><span>&frasl;</span><sub>6</sub></span></abbr>;</p>
                        <p>As students share their responses, highlight the terminology of improper fraction and mixed number. Also, reinforce that the numerator can be larger than the denominator.</p>
                    </td>
                </tr> <!-- End of Fourth Row -->
                <!-- Fifth Row - Further Consolidation -->
                <tr>
                    <td></td>
                    <td>
                        <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>
                        <p>You have <abbr title="five halves" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>2</sub></span></abbr> bags of cookies. If 8 cookies go into each bag, how many cookies would you have?</p>
                        <p>OR</p>
                        <img src="../images/impSetRep-heartImage.png" alt="" class="img-responsive" />
                        <p>Why might one person describe the fractions of the hearts that is blue as <abbr title="Six Eighths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>8</sub></span></abbr>, but someone else might say <abbr title="Six Fourths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr>.</p>
                        <p>How you decide which is it?</p>
                    </td>
                    <td>
                        <p>Use either, depending on the readiness of the students.</p>
                        <p><abbr title="number">#</abbr>4 is from <abbr title="page">pg.</abbr> 23 of the student workbook of Gap Closing Junior.</p>
                    </td>
                </tr> <!-- End Fifth Row -->
            </table>
        </section>
    </section> <!-- End Section pdf-page (First page) -->

    <section class="pdf-page">
        <section class="row">
            <h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 1.1</h4>

            <div class="col-md-12 col-sm-12">
                <h4 style="color: red; border-bottom: 5px solid red;">Improper Fractions as Parts of Sets</h4>
                <h5 style="color: red">Open Question</h5>
            </div>
            <div class="col-md-12 col-sm-12">
                <p>1 whole is a box full of cookies</p>
                <p>If a box contains 6 cookies, then</p>
            </div>
            <div class="col-md-3 col-sm-3">
                3 cookies fill <abbr title="Three sixths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>6</sub></span></abbr> of a box.
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="/images/tasks/Lessons/impFracSetRep1.png" alt="" class="img-responsive margin-auto">
            </div>
            <div class="col-md-3 col-sm-3">
                1 cookie fills <abbr title="One Sixth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>6</sub></span></abbr> of a box.
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="/images/tasks/Lessons/impFracSetRep2.png" alt="" class="img-responsive margin-auto">
            </div>
            <div class="col-md-12 col-sm-12 padding-bottom margin-top-50">
                <p>Draw pictures of boxes of cookies to show these fractions.</p>
                <p>Show full bags and extra cookies, if needed.</p>
                <div class="col-md-3 col-sm-3 center"><abbr title="twenty second sixths" class="abbr-frac"><span class="frac"><sup>22</sup><span>&frasl;</span><sub>6</sub></span></abbr></div>
                <div class="col-md-3 col-sm-3 center"><abbr title="ninteen fifth" class="abbr-frac"><span class="frac"><sup>19</sup><span>&frasl;</span><sub>5</sub></span></abbr></div>
                <div class="col-md-3 col-sm-3 center"><abbr title="twenty eight eighths" class="abbr-frac"><span class="frac"><sup>28</sup><span>&frasl;</span><sub>8</sub></span></abbr></div>
                <div class="col-md-3 col-sm-3 center"><abbr title="thirty four tenth" class="abbr-frac"><span class="frac"><sup>34</sup><span>&frasl;</span><sub>10</sub></span></abbr></div>
                <!-- Giving more space -->
                <br><br><br><br><br><br>
            </div>
            <div class="col-md-12 col-sm-12">
                <p>Show how many whole boxes and what part of a box each fraction would be. Write it under your pictures.</p>
                <p>- How are these fractions alike?</p>
                <!-- Giving more space -->
                <br><br><br>
                <p>- How are they different?</p>
                <!-- Giving more space -->
                <br><br><br>
            </div>
            <div class="col-md-12 col-sm-12 section-border-bottom"></div>
            <div class="col-md-3 col-sm-3">20</div>
            <div class="col-md-6 col-sm-6" style="text-align:center">&copy; Marian Small, 2010</div>
            <div class="col-md-3 col-sm-3" style="text-align: right">Representing Fractions</div>
            <div class="col-md-12 col-sm-12 center">
                <p>(Junior/Intermediate Gap Closing: Number Sense: Module 1: Representing Fractions - adapted)</p>
            </div>
        </section>
    </section> <!-- End Section pdf-page (Second page) -->
<%- include partials/footer.ejs%>