<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./impSetRep">Improper Fractions with Set Representations (Gr 6)</a></li>
</ol>

<main class="container">

    <section class="row padding-bottom lessons-page">
        <section class="row padding-bottom">
            <div class="col-sm-12 col-md-12 no-padding">
                <h1>Improper Fractions with Set Representations (Gr 6)</h1>
            </div>
        </section>
    
        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-dark">Simcoe County <abbr title="District School Board">DSB</abbr> <abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr> Lesson</h4>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-dark">Timing: 75 minutes</h4>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-dark">Materials</h4>
                <ul>
                    <li>two colour counters</li>
                    <li>linking cubes</li>
                    <li>plastic/paper bags</li>
                    <li><abbr title="Blackline Master">BLM</abbr> 1.1 – 1 copy/student</li>
                </ul>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-blue-1">Math Learning Goals:</h4>
                <p>Students will:</p>
                <ul>
                    <li>reason about the meaning of a fraction and how to represent fractions using a variety of tools</li>
                    <li>identify and represent various improper fractions by considering them within the context of a set</li>
                    <li>connect improper fractions to mixed numbers</li>
                </ul>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4><span class="title-green">Minds On...</span> <span class="title-dark">(10 minutes)</span></h4>
                <h4>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</h4>
                <p>Show students 2 red and 1 blue counters equal in size. Ask why this could represent <abbr title="two thirds">2&frasl;3</abbr> (There are 3 things altogether and 2 are red, which is ‘part-whole’ relationship.)</p>
                <p>Show 1 red and 1 blue counter and 1 red linking cube, all separated. Ask if this still shows <abbr title="two thirds">2&frasl;3</abbr>. Ask why? (There are still 3 things and 2 are red. In this set, we are looking at the colours.) Ask what the numerator 2 tells. (how many parts we’re using/referring to when we say “red”. Note that the numerator would have been 1 had we said “blue” instead of “red”) Ask what the denominator 3 tells? (how many things there are altogether in the set.). Ask what <abbr title="three thirds">3&frasl;3</abbr> would mean? (all 3 parts of a set of 3, or the whole set of 3). Ask what <abbr title="four thirds">4&frasl;3</abbr> would mean? (1 more part than the whole set of 3). Show 4 counters in a bag and one counter outside the bag. Ask students what fractions they see in this model. (<abbr title="For example">e.g.</abbr>
                , <abbr title="five fourths">5&frasl;4</abbr> because there are 5 counters but it only takes 4 to fill one whole bag; <abbr title="four fifths">4&frasl;5</abbr> because 4 of the set are in the bag but there are 5 counters total.) Bring “whole” into the discussion and tell students that they must identify the whole when writing a fraction. Engage them in reasoning that when we are working with bags of cookies we would call the whole the entire set of cookies in one bag.</p>
                <p>This lesson is modified from the Gap Closing Junior Package (available on—line at edugains.ca under Math).</p>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4><span class="title-red">Action!</span> <span class="title-dark">(45 minutes)</span></h4>
                <p>Small Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Open Question</p>
                <p>Students complete <abbr title="Blackline Master">BLM</abbr> 1.1 using counters and bags to model the scenario of cookies in a bag. Circulate to monitor student understanding. Use the following guiding questions to prompt students as necessary:</p>
                <ul>
                    <li>Explain why you chose this representation.</li>
                    <li>Have you thought about…?</li>
                    <li>What do you notice about…?</li>
                    <li>Does this answer make sense to you?</li>
                    <li>How can you verify this answer?</li>
                    <li>What evidence of your thinking can you share?</li>
                    <li>Is this a reasonable answer, given that…?</li>
                    <li>How do these different representations connect to one another?</li>
                </ul>
                
                <p>Revisions to Open Question:</p>
                <ul>
                    <li>change <abbr title="one half">½</abbr> to <abbr title="three sixths">3&frasl;6</abbr></li>
                    <li>fraction of a fraction</li>
                </ul>
                
                <p>These questions are selected from the Math Processes Connections and Continuum Package available at edugains.ca.</p>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(20 minutes)</span></h4>
                <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
                <p>Ask specific students with correct representations to show one of the fractions in a way that allows all students to see all of the fractions represented during the following discussion. Gather and discuss with the class, ways in which the given fractions are alike (all the fractions are improper; the numerator is greater than the denominator; each fraction is more than 3 and less than 4, there are always 4 items left when items are rearranged into the bags), and ways that they are different (the sizes of the numbers; whether the denominators and numerators are even or odd; the number of parts in a whole, etc).</p>
                
                <p>If necessary, ask questions such as:</p>
                <ul>
                    <li>How did you know you needed to draw more than 3 whole bags?</li>
                    <li>What is another fraction that would be like all of these?</li>
                    <li>What is a fraction that would be different from all of these?</li>
                    <li>Why does it make sense to call these fractions even though they are more than a whole? (<abbr title="For example">e.g.</abbr>
                , because they are written like fractions and they are just counting parts of wholes.)</li>
                </ul>
                
                <p>If some students need a challenge, add an example with equivalent mixed numbers <abbr title="For example">e.g.</abbr>
                , <abbr title="seven halves">7&frasl;2</abbr> and <abbr title="twenty-one sixths">21&frasl;6</abbr>;</p>
                <p>As students share their responses, highlight the terminology of improper fraction and mixed number. Also, reinforce that the numerator can be larger than the denominator.</p>
            </div>
        </section>

        <section class="row section-border">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-blue-2">Practise</h4>
                <h4 class="title-dark">Home Activity or Further Classroom Consolidation</h4>
                <p>You have <abbr title="five halves">5&frasl;2</abbr> bags of cookies. If 8 cookies go into each bag, how many cookies would you have?</p>
                <p>OR</p>
                <img src="" alt="" height="" width="" />
                <p>Use either, depending on the readiness of the students.</p>
                <p><abbr title="number">#</abbr>4 is from <abbr title="page">pg.</abbr> 23 of the student workbook of Gap Closing Junior.</p>
            </div>
        </section>
    </section>

    <section class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master"><h4>BLM</abbr> 1.1</h4></a>
            </div>
            <section id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12">
                        <h4>Improper Fractions as Parts of Sets</h4>
                        <h5>Open Question</h5>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <p>1 whole box is a box full of cookies</p>
                        <p>If a box contains 6 cookies, then</p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        3 cookies fill 3&frasl;6 of a box.
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <img src="/images/tasks/Lessons/impFracSetRep1.png" alt="" class="img-responsive margin-auto">
                    </div>
                    <div class="col-md-3 col-sm-3">
                        1 cookie fills 1&frasl;6 of a box.
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <img src="/images/tasks/Lessons/impFracSetRep2.png" alt="" class="img-responsive margin-auto">
                    </div>
                    <div class="col-md-12 col-sm-12 padding-bottom margin-top-50">
                        <p>Draw pictures of boxes of cookies to show these fractions.</p>
                        <p>Show full bags and extra cookies, if needed.</p>
                        <div class="col-md-3 col-sm-3 center">22&frasl;6</div>
                        <div class="col-md-3 col-sm-3 center">19&frasl;5</div>
                        <div class="col-md-3 col-sm-3 center">28&frasl;8</div>
                        <div class="col-md-3 col-sm-3 center">34&frasl;10</div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                    
                    <p>Show how many whole boxes and what part of a box each fraction would be. Write it under your pictures.</p>
                    <p>- How are these fractions alike?</p>
                    <p>- How are they different?</p>
                </div>
            </section>
        </div>
    </section>
<%- include partials/footer.ejs%>