<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
    <section>
        <ol class="breadcrumb">
            <li><a href="./">Home</a></li>
        </ol>
    </section>

    <main class="container top-margin">

    	<section class="row">
            <div class="col-md-12">
                <a href="./pathway">
                    <div class="pathway">
                        <h1>Fractions Learning Pathways</h1>
                        <figure>
                            <img src="/images/pathway/pathway.png" alt="Fractions Learning Pathways" height="200px" width="400px">
                        </figure>
                    </div>
                </a>
            </div>
        </section>

        <section>
            <div class="row ">
                <a href="./tasks" aria-hidden="true">
                    <div class="col-md-5">
                        <div class="linkBubble">
                            <p>Activities</p>
                        </div>
                    </div>
                </a>

                <a href="./research" aria-hidden="true">
                    <div class="col-md-5 col-md-offset-2">
                        <div class="linkBubble">
                            <p>Research</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row ">
                <a href="./planningSupports" aria-hidden="true">
                    <div class="col-md-5">
                        <div class="linkBubble">
                            <p>Planning Supports</p>
                        </div>
                    </div>
                </a>

                <a href="./plfSupports" aria-hidden="true">
                    <div class="col-md-5 col-md-offset-2">
                        <div class="linkBubble">
                            <p>PLF Supports</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>

<%- include partials/footer.ejs%>
