<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/digitalPaper">Fractions: Representing Comparing Ordering</a></li>
    <li><a href="./instrDec">Instructional Decisions</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<h1>Instructional Decisions</h1>
<!-- <div class="row">
  <div class="col-md-8">
<h2>Instructional Decisions</h2>
</div> -->

<div class="gen-pdf col-md-4">
    <a href="/pdf/instructionalDecisions.pdf">Download PDF</a>
</div>
</div>


<iframe width="560" height="315" src="https://www.youtube.com/embed/38WRloqwxIE" frameborder="0" allowfullscreen></iframe>
<!--Insert transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>Instructional Decisions Video Transcription</h2>
        <h3>Professional Learning about Fractions Digital Paper</h3>
        <table>
            <tr>
                <th>Time</th>
                <th>Transcript</th>
            </tr>
            <tr>
                <td>0:11</td>
                <td>
                    The in-depth examination of fractions in the junior grades over the course of the school year allowed the teachers to reflect
                    on their instructional strategies and try new ones, allowing for more precision in the alignment of strategies,
                    tools and learning goals, from long-term planning right down to in-the-moment shifts.
                </td>
            </tr>
            <tr>
                <td>0:33</td>
                <td>
                    Teachers adjusted their long-range planning by incorporating key fractions concepts into smaller ‘lesson bundles’ which were
                    interspersed throughout the year. This allowed students more time to connect with the mathematics, allowed teachers
                    to make instructional decisions based on the students’ demonstrated understandings and misconceptions, and provided
                    time for more targeted interventions for selected students as necessary. Resources found on edugains.ca including
                    Gap Closing, E-practice and CLIPS could be used by an individual or small groups of students during this in-between
                    time.
                </td>
            </tr>
            <tr>
                <td>1:09</td>
                <td>When students used manipulatives as the primary site of problem solving, rather than just a communication tool after
                    the fact, they were not only more engaged in the learning, but also developed deeper understanding of fractions
                    concepts. The use of a variety of representations also allowed teachers to uncover misconceptions that students
                    held, even when they did the symbolic or numerical manipulation correctly. This reinforced the importance of
                    using manipulatives consistently as an integral part of learning throughout the year.</td>
            </tr>
            <tr>
                <td>1:42</td>
                <td>
                    Prior to planning lessons, the teams prepared a rich task to reveal student thinking. Rather than evaluate student thinking
                    for correctness or errors, teachers looked for understanding and misconceptions. Teams often found that the class
                    as a whole had enough knowledge from which to construct subsequent learning, and focused their planning on sequencing
                    tasks that built on the strengths of the class. This, combined with the emphasis on student math talk, allowed
                    the mathematics to come from the students rather than a textbook or a teacher.
                </td>
            </tr>
            <tr>
                <td>2:15</td>
                <td>
                    <p>Shelley: <q>Where in a few cases, the lesson was planned, we went through the lesson, then we had a question at the end, like ‘Is six-tenths equivalent to sixty percent?’ Those kinds of dilemmas, and that that then provided the jumping off point for the next lesson. Which means that instead of having twelve days of lessons, now I kind of really have maybe three chunks of lessons.</q></p>
                    <p>Kerry: <q>I think that kind of ties in with a lot of the conversation that we have been having at our school about the three part math lesson, where everyone was saying ‘well, it didn’t take one day, it took two days, it took three days’ and they were really stressed out about that. Um, I think that that’s, you know, what you just said sort of reiterates that. When you get into to it, it is really meaty.</q></p>
                </td>
            </tr>
            <tr>
                <td>3:05</td>
                <td>
                    Teams spent a lot of time thinking about each lesson. They were focused not only on the content, but on the instructional
                    strategies that best aligned with that content.
                </td>
            </tr>
            <tr>
                <td>3:15</td>
                <td>Devon: <q>O.K. On the sticky note, create, give me any rational number. So, like, they were saying ‘2.5 or a quarter’ or whatever. And then with their elbow partner they had to compare whose rational number was bigger. And then they had to come together in a cluster and sequence, just like a number line, from lowest to highest and we put them up on the Elmo (overhead display) and talked about, and then compared groups. And then that was the activity leading them into the number line and then they were done their number lines within six minutes.</q>            </td>
            </tr>
            <tr>
                <td>3:44</td>
                <td>
                    Kerry: <q>But they got, it’s not now just a paper piece or just now I have to do a test every Friday and got to get the test back, try to mark it, try to mark all their books, etcetera. It’s talking to the kids. It’s giving them a piece of paper and just do one question and let’s see where you are at and where do I need to go from here. Um, I think that is important.</q>
                </td>
            </tr>
            <tr>
                <td>4:04</td>
                <td>
                    <p>Kelly: <q>It was just making me question, so when we go further into this unit, do we explicitly teach part of a whole, part of a set, separately? Or do we show them comparisons amalgamated together, side-by-side? I don’t know.</q></p>
                    <p>Suhana: <q>I really like that the kids, to me, seemed to hit all of the big picture pieces that we’ve been talking about all along with regards to the fractions. Somewhere along the line, all of these different ideas where hit upon, right? And we can kind of pull from that and go forward with it.</q></p>
                </td>
            </tr>
            <tr>
                <td>4:43</td>
                <td>
                    Educators reported increased confidence in interpreting student responses, and used probing questions to support student
                    learning. Through the use of probing questions, flexible groupings, and carefully selected tasks, teachers were
                    able to provide opportunities for students to build a solid understanding of fractions.
                </td>
            </tr>
            <tr>
                <td>5:03</td>
                <td>
                    <p>Julie: <q>What attribute is Sohila looking at in the hexagon?</q></p>
                    <p>Student: <q>The vertices.</q></p>
                    <p>Julie: <q>The vertices. O.K. So she is looking at one vertice, and she is saying that one vertice is circled out of six vertices in total.</q>                (some inaudible discussion between co-teachers)</p>
                    <p>Julie: <q>O.K. So before you can go for lunch you need to answer this question, this question that Sohila just talked about. Is that showing me part of a set – is that a set model? Or is that showing me an area model?</q></p>
                    <p>Kelly: <q>How many people agree with Josef and think it’s an area model? O.K. Hands down. Hands up if you think it’s a set model?</q></p>
                    <p>Julie: <q>Hands up if you’re not sure?</q></p>
                    <p>Julie: <q>O.K. So maybe we need to come back to this tomorrow.</q></p>
                </td>
            </tr>
            <tr>
                <td>6:14</td>
                <td>
                    Julie: <q>Oh my gosh, I felt like there was so much to get, to take away from that. To the point where I was feeling really overwhelmed when I was standing up there trying to consolidate because I didn’t really know where to start, because there were so many, so many different ideas that they came out with. But I still really feel like there’s a misconception. I kind of stuck on looking at part of a set, part of a whole, I didn’t really get in the part to part. But obviously with the question that I asked at the end with the vertices and most of them said area and half of them said they didn’t know and then two said it was part of a set, so obviously there’s still a big misconception there, so that tells me that we need a lot of work on that.</q>
                </td>
            </tr>
            <tr>
                <td>7:03</td>
                <td>
                    Through a refined understanding of the relationship between content, instructional strategies and task selection, teachers
                    were able to help students develop a richer and more flexible understanding of fractions.
                </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h3>Research Story</h3>
 <p>The focus on fractions over a long period of time allowed the teams to consider their instructional decisions, both for planning over the long-term right down to in-the-moment shifts.</p>


<h3>Long-term</h3>
<p>There were several dilemmas that the teams grappled with related to long-term planning. The teams found that allowing students to interact with the fractions content in smaller chunks, punctuated throughout the school year, benefitted many students. Students were able to make connections across number systems such as decimals and percents because this approach to teaching decreased the compartmentalization of fractions concepts. For example, students were able to connect their work with number lines in fractions to measurement work. Teachers were able to make more precise decisions about next steps for instruction with the increased time between the lesson chunks. However, this type of planning was demanding on teachers, both in terms of their time and their pedagogical content knowledge. It also presented challenges with alignment with board directions about sequencing and timing, data collection for reporting requirements, and alignment with colleagues teaching the same grade.</p>
<p>Teams developed and tested short punctuated lesson sequences (bundles of 3 to 4 lessons) and observed the impact on students' ability to connect new learning to prior knowledge and build flexible thinking. Typically, students treat each math unit as separate, and have difficulty making connections to and drawing on what they already know. For example, in one classroom, students who had just finished a unit on geometry weren't able to think flexibly about using pattern blocks as a tool to explore fractions. In this case, students focused on vertices and sides of pattern blocks, rather than other attributes such as area that would support fractional thinking. Conversely, when teams purposefully integrated fractions and decimals, students were able to identify, and take advantage of, the connections between the two number systems.</p>
<p>In order to further students' flexible thinking, teachers built a community of learners comfortable with explaining, discussing, and defending their thinking as a critical first step. In addition, the increased precision of teacher language for fractions (<abbr title="For example">e.g.</abbr>
,<abbr title="two sevenths">2⁄&frasl;7</abbr> read as 'two-sevenths' rather than 'two out of seven' or 'two over seven') reinforced the understanding that a fraction is a number (rather than two numbers separated by a line). Similarly, reading the decimal 0.25 as '25 hundredths' rather than 'zero point two five') reinforced place value.</p>
<p>One particularly interesting finding was that when students used manipulatives as the primary site of problem solving, rather than just a communication tool after the fact, they were not only more engaged in the learning, but also developed deeper understanding of fractions concepts. The use of a variety of representations also allowed teachers to uncover misconceptions that students held, even when they did the symbolic (numerical) manipulation correctly. This reinforced the importance of using manipulatives consistently as an integral part of learning throughout the year.</p>

<h3>Short-term</h3>
<p>Prior to planning lessons, the teams allowed students to share what they knew and could do through a rich task (characterized by multiple solutions, solution strategies and having the potential to reveal student misconceptions). Teams often found that the class as a whole had enough knowledge from which to construct subsequent learning, and focused their planning on sequencing tasks that built on the strengths of the class. Rather than evaluate student thinking for correctness or errors, teachers looked for understanding and misconceptions. In other words, teams based their planning on student thinking from prior lessons. This, combined with the emphasis on student math talk, allowed the mathematics to come from the students rather than a textbook or a teacher.</p>
<p>Lesson "bundles" were generated based on the work of the teams to support other teachers in the implementation of punctuated fractions teaching. These lesson bundles (see Resources) focus on some of the new research-based learning of the teams, including the benefits to students when number lines are introduced and used throughout to represent, compare and order fractions.</p>


<h3>Lessons</h3>
<p>Teams spent a lot of time thinking about each lesson. They focused not only on the content, but on the
instructional strategies that best aligned with that content. They needed to understand how the concept of
the lesson connected across other strands and grades. Planning lessons based on student understanding meant
that there was variation from class to class based on student need, even within similar grades.</p>

<p>Key learnings from co-planning and implementation of lessons were:</p>

<ul>
  <li>
<strong>Context:</strong> when fractions were represented using a set model that involved a food context, students wanted all items to
be the same size, which is not necessary for set models. Teams also noted that manipulatives were an excellent example
of a real context in-and-of themselves.
</li>

<li>
<strong>Task design:</strong> Teams were able to see how design of the tasks influenced student responses and success. For example, when
students were asked to place numbers, including fractions and decimals, on a number line they had more success than when
asked to place fractions alone. Inclusion of improper fractions and mixed numbers along with proper fractions allowed
students to build stronger understandings of the related nature of these numbers. Teachers selected tasks that allowed
a significant amount of time for students to deeply engage and reason.
</li>

<li>
<strong>Common difficulties:</strong> Teachers designed lessons to build robust understanding and address common misconceptions.
Understanding some consistent errors in student reasoning helped the teams to intentionally bring these to the surface
so they could be addressed. See examples in chart below:

<table>
  <tr>
    <th>Common difficulties</th>
    <th>Lesson implications</th>
  </tr>
  <tr>
    <td>Fragile understanding of the meaning of numerator and denominator</td>
    <td>Encourage students to select their own tools and representations in order to develop a sense of the whole as well
    as to consider the role of partitioning to explore the relationship between the numerator and denominator</td>
  </tr>
  <tr>
    <td>Limited procedural understanding for generating equivalent fractions</td>
    <td>Engage students in constructing equivalent fractions through their own reasoning using manipulatives rather than
    learning a single algorithm such as doubling both the numerator and denominator</td>
  </tr>
  <tr>
    <td>Conflation of characteristics of "parts of a set" and area models (e.g., parts of a set must always be the same size)</td>
    <td>Engage students in lessons that expose them to i) area models partitioned in non-congruent yet equal sized segments; ii)
    sets (collections of objects of varied sizes) (See resources: Math for Teaching: Fractions document.)</td>
  </tr>
</table>


<p>Rather than focusing on eradication of these difficulties, the lessons were designed to allow students to explore
their own understanding and grapple with concepts to realign, deepen and consolidate: "Mistakes are an important
part of mathematical learning, what Borasi (1994) called 'springboards for inquiry.' Eggleton and Moldavan (2001)
asserted that mistakes are an inevitable part of problem solving and indeed 'if no mistakes are made, then almost
certainly no problem solving is taking place'" (Bruce & Flynn, 2011).</p>
</li>
<li>
<strong>Learning goals:</strong> With the increased use of more open tasks, the teams found it sometimes difficult to know just which
pieces to have students discuss and deconstruct during the debrief and consolidation phase of the lesson. This difficulty
highlighted the need to carefully consider the learning goals and anticipate student responses to the task in order to
ease the selection of responses to highlight and to do so in an appropriate sequence. The teams also found it helpful
to have some pre-planned questions that were focused on the learning goals for use during the consolidation.
</li>
</ul>

<p>Teachers built a comprehensive resource-bank which, along with their increased pedagogical content knowledge, allowed
them to make more precise decisions about subsequent lessons. Moreover, they were able to validate their thinking through
discussions with colleagues over time and by referencing the research materials available to them.</p>

<h3>Responding in the Moment</h3>

<p>A strong understanding of the fractions content and their students' understanding of fractions allowed the
  teams to make more informed decisions during each lesson. They reported increased confidence in interpreting
  student responses, especially partially correct ones, and used probing questions to support student learning
  (rather than evaluative or leading ones). Through the use of probing questions, flexible groupings, and carefully
  selected tasks, teachers were able to provide opportunities for students to build a solid understanding of fractions.</p>





<%- include partials/footer.ejs%>
