<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-item active">Instructional Decisions</li>
</ol>

<main class="container-digital-paper">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/TranscriptionofInstructionalDecisionsVideo.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">

    <h2>Instructional Decisions Video Transcription</h2>
    <h3><em>Professional Learning about Fractions</em> Digital Paper</h3>

    <table class="digitalTable">
      <tr style="text-align:center">
        <th>Time</th>
        <th>Transcript</th>
      </tr>
      <tr>
        <td>0:11</td>
        <td>
          The in-depth examination of fractions in the junior grades over the course of the school year allowed the teachers to reflect
          on their instructional strategies and try new ones, allowing for more precision in the alignment of strategies,
          tools and learning goals, from long-term planning right down to in-the-moment shifts.
        </td>
      </tr>
      <tr>
        <td>0:33</td>
        <td>
          Teachers adjusted their long-range planning by incorporating key fractions concepts into smaller ‘lesson bundles’ which were
          interspersed throughout the year. This allowed students more time to connect with the mathematics, allowed teachers
          to make instructional decisions based on the students’ demonstrated understandings and misconceptions, and provided
          time for more targeted interventions for selected students as necessary. Resources found on edugains.ca including
          Gap Closing, E-practice and CLIPS could be used by an individual or small groups of students during this in-between
          time.
        </td>
      </tr>
      <tr>
        <td>1:09</td>
        <td>When students used manipulatives as the primary site of problem solving, rather than just a communication tool after
          the fact, they were not only more engaged in the learning, but also developed deeper understanding of fractions
          concepts. The use of a variety of representations also allowed teachers to uncover misconceptions that students
          held, even when they did the symbolic or numerical manipulation correctly. This reinforced the importance of
          using manipulatives consistently as an integral part of learning throughout the year.</td>
      </tr>
      <tr>
        <td>1:42</td>
        <td>
          Prior to planning lessons, the teams prepared a rich task to reveal student thinking. Rather than evaluate student thinking
          for correctness or errors, teachers looked for understanding and misconceptions. Teams often found that the class
          as a whole had enough knowledge from which to construct subsequent learning, and focused their planning on sequencing
          tasks that built on the strengths of the class. This, combined with the emphasis on student math talk, allowed
          the mathematics to come from the students rather than a textbook or a teacher.
        </td>
      </tr>
      <tr>
        <td>2:15</td>
        <td>
          <p>Shelley: <q>Where in a few cases, the lesson was planned, we went through the lesson, then we had a question at the end, like ‘Is six-tenths equivalent to sixty percent?’ Those kinds of dilemmas, and that that then provided
              the jumping off point for the next lesson. Which means that instead of having twelve days of lessons, now I kind of really have maybe three chunks of lessons.</q></p>
          <p>Kerry: <q>I think that kind of ties in with a lot of the conversation that we have been having at our school about the three part math lesson, where everyone was saying ‘well, it didn’t take one day, it took two days, it took
              three days’ and they were really stressed out about that. Um, I think that that’s, you know, what you just said sort of reiterates that. When you get into to it, it is really meaty.</q></p>
        </td>
      </tr>
      <tr>
        <td>3:05</td>
        <td>
          Teams spent a lot of time thinking about each lesson. They were focused not only on the content, but on the instructional
          strategies that best aligned with that content.
        </td>
      </tr>
      <tr>
        <td>3:15</td>
        <td>Devon: <q>O.K. On the sticky note, create, give me any rational number. So, like, they were saying ‘2.5 or a quarter’ or whatever. And then with their elbow partner they had to compare whose rational number was bigger. And then
            they had to come together in a cluster and sequence, just like a number line, from lowest to highest and we put them up on the Elmo (overhead display) and talked about, and then compared groups. And then that was the activity
            leading them into the number line and then they were done their number lines within six minutes.</q> </td>
      </tr>
      <tr>
        <td>3:44</td>
        <td>
          Kerry: <q>But they got, it’s not now just a paper piece or just now I have to do a test every Friday and got to get the test back, try to mark it, try to mark all their books, etcetera. It’s talking to the kids. It’s giving them
            a piece of paper and just do one question and let’s see where you are at and where do I need to go from here. Um, I think that is important.</q>
        </td>
      </tr>
      <tr>
        <td>4:04</td>
        <td>
          <p>Kelly: <q>It was just making me question, so when we go further into this unit, do we explicitly teach part of a whole, part of a set, separately? Or do we show them comparisons amalgamated together, side-by-side? I don’t
              know.</q></p>
          <p>Suhana: <q>I really like that the kids, to me, seemed to hit all of the big picture pieces that we’ve been talking about all along with regards to the fractions. Somewhere along the line, all of these different ideas where hit
              upon, right? And we can kind of pull from that and go forward with it.</q></p>
        </td>
      </tr>
      <tr>
        <td>4:43</td>
        <td>
          Educators reported increased confidence in interpreting student responses, and used probing questions to support student
          learning. Through the use of probing questions, flexible groupings, and carefully selected tasks, teachers were
          able to provide opportunities for students to build a solid understanding of fractions.
        </td>
      </tr>
      <tr>
        <td>5:03</td>
        <td>
          <p>Julie: <q>What attribute is Sohila looking at in the hexagon?</q></p>
          <p>Student: <q>The vertices.</q></p>
          <p>Julie: <q>The vertices. O.K. So she is looking at one vertice, and she is saying that one vertice is circled out of six vertices in total.</q> (some inaudible discussion between co-teachers)</p>
          <p>Julie: <q>O.K. So before you can go for lunch you need to answer this question, this question that Sohila just talked about. Is that showing me part of a set – is that a set model? Or is that showing me an area model?</q></p>
          <p>Kelly: <q>How many people agree with Josef and think it’s an area model? O.K. Hands down. Hands up if you think it’s a set model?</q></p>
          <p>Julie: <q>Hands up if you’re not sure?</q></p>
          <p>Julie: <q>O.K. So maybe we need to come back to this tomorrow.</q></p>
        </td>
      </tr>
      <tr>
        <td>6:14</td>
        <td>
          Julie: <q>Oh my gosh, I felt like there was so much to get, to take away from that. To the point where I was feeling really overwhelmed when I was standing up there trying to consolidate because I didn’t really know where to
            start, because there were so many, so many different ideas that they came out with. But I still really feel like there’s a misconception. I kind of stuck on looking at part of a set, part of a whole, I didn’t really get in the
            part to part. But obviously with the question that I asked at the end with the vertices and most of them said area and half of them said they didn’t know and then two said it was part of a set, so obviously there’s still a big
            misconception there, so that tells me that we need a lot of work on that.</q>
        </td>
      </tr>
      <tr>
        <td>7:03</td>
        <td>
          Through a refined understanding of the relationship between content, instructional strategies and task selection, teachers
          were able to help students develop a richer and more flexible understanding of fractions.
        </td>
      </tr>
    </table>

  </section>
</main>

<%- include partials/footer.ejs%>
