<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-ite"><a href="/digitalPaper/resources">Resources</a></li>
  <li class="breadcrumb-item active">Instructional Decisions</li>
</ol>

<main class="container-digital-paper">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/Introduction.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row padding-bottom">

    <div class="col-sm-7 col-md-7">

      <h1>Professional Learning About Fractions</h1>

      <section class="row">
        <h3><strong>A Collaborative Action Research Project</strong></h3>
        <section class="padding-bottom">
          <p>During the 2011-2012 school year, the Ontario Ministry of Education Curriculum and Assessment Policy Branch attained a grant from Knowledge Network for Applied Education Research (KNAER) to build and extend understanding of effective teaching and learning of fractions.</p>
          <p>This digital research paper documents the process through which the participants built on earlier reserach, aligned use of existing resources, and expanding the knowledge of teaching and learning fractions. In addition to the video and text based telling of the research story, many of the resources developed are included, including lessons and brief research summaries.</p>
          <br/><p>Following a review of research literature and development of documents that supported teachers with linking this research to their practice more easily, the collaborative action research project (<a href="www.tmerc.ca/digitalpapers/" target="_blank" rel="noopener">www.tmerc.ca/digitalpapers</a>) began in three school boards.  The three boards were selected based on readiness factors which included thoughtful and precise long-term professional learning plans focused on mathematics, strong board-level mathematics leadership, and meaningful connections with existing professional learning opportunities. Classrom teachers from Kawartha Pine Ridge DSB, Ottawa Carleton DSB, and Simcoe County DSB met within their board to explore the teaching and learning of fractions in grade 4 through 7 as well as to deepend their own understanding of fractions. These teachers were supported by knowledgeable others in various ways, including the engagement of school administration in one board and collaboration with the Trent University Research team (comprised of Dr. Catherin Bruce, Tara Flynn and Rich Mcpherson) in another. In addition, a project lead supported the school boards with the planning and facilitation of the learning sessions as well as with videotaping and organization of developed materials and artefacts. The participants represented a wide range of experieence (from firs tyer teachers to teachers with over 20 years of experience, as well as special educaiton, French Immersion, and instrutional and division leads) in a variety of contexts (rural and urban schools, stable student populations, higly transiet student populations, range of socio-economic factors, English Language Learners, high proportions of students with special needs).
          </p>
        </section>
      </section>

      <section class="row">
        <section class="padding-bottom">
          <p>The educators involved were each able to build and expand upon their understanding of how students learn and what strategies support the development of a robust knowledge of frations. They also were able to refine their own knowledge for teaching fractions, a critical factor for student success.</p>
          <p>By working with teachers in small teams and fostering collaboration with coaches, artefact developers and university researchers, the project objectives were as follow:
            <ul>
              <li>Inquire into effective and interacting learning and instructional trajectories in fractions for junior students and teachers at a broad range of readiness stages;</li>
              <li>Develop and test learning and instructional trajectories with students and teachers in various classroom contexts;</li>
              <li>Share trajectories and planning frameworks with educators in a variety of ways.</li>
            </ul></p>
          </section>
        </section>

        <section class="row">
          <section class="padding-bottom">
            <h3>Research Background</h3>
            <br/><p style="margin-left:20px;"><em>The mathematics education literature is resounding in its resounding in its findings that understanding fractions is a challenge area of mathematics for North American students to grasp (National Assessment of Educational Progress, 2005). Students also seem to have difficulty retaining fractions concepts (Groff, 1996). Adults continue to struggle with fractions concepts (Lipkus, Samsa, & Rimer, 2001; Reyna & Brainerd, 2007) even when fractions are important to daily work related tasks. For examples, "pediatricians, nurses, and pharmacists... were tested for errors resulting from the calculation of drug doses for neonatal intensive care infants... Of the calculation erorrs identified, 38.5% of pediatricians' errors, 56% of nurses' errors, and 1% of pharmacists' errors would have resulted in administration of 10 times the prescribed dose." (Grillo, Latif, & Stole, 2001, p.168).</em> (Bruce & Ross, 2009)</p>
            <br/><p>Fractions is a difficult-to-learn concept, as documented in case studies of middle school children
            (Armstrong and Larson, 1995; Kamii and Clark, 1995). The College Math Project identified
            fractions as an area requiring further attention in order to better prepare students for postsecondary
            success (2011). While development of collective capacity [which involves the
            development of collaborative cultures and professional learning communities supported by
            instructional leadership at the administrative level; (Fullan, 2010)] has resulted in significant
            recent gains in Grade 9 EQAO mathematics scores, Grade 6 scores have not improved. </p>
            <br/><p>Fractions are difficult to learn because they require deep conceptual knowledge of part-whole
            relationships (how much of an object or set is represented by the fraction symbol), measurement
            (fractions are made up of numbers that can be ordered on a number line) and ratios (Hecht, 2003;
            Moss & Case, 1999). A representative national US sample found that only one third of 13-yearold
            students were able to correctly place a simple fraction on a number line, a learning objective
            for 11-year-olds (Kamii and Clark, 1995). Manipulating fractions is particularly difficult when
            embedded in word problems. Boaler (1993) found that 12 to 13-year-old students in a school
            with a traditional math curriculum had difficulty in recognizing the math when simple tasks
            requiring the comparison of fractions were presented in a context-laden form. Students in a 
            school committed to teaching for deep understanding were more likely to find context enabling,
            although the overall performance in both schools was poor
            </p>
            <br/><p>Findings from previous research projects carried out by Dr. Catherine Bruce provide a strong
            basis for inquiry into this topic (Bruce & Flynn, 2011; Bruce & Ross, 2009; Ross & Bruce,
            2009). Ontario teachers have repeatedly identified a lack of resources and professional learning
            to support high quality differentiation in mathematics (Gap Closing: Grade 6 Number Sense,
            2010; Curriculum Implementation in Intermediate Mathematics, 2007).</p>
          </section>
        </section>
    </div>

    <!-- column 2 -->
    <div class="col-sm-5 col-md-5">

      <div class="padding-bottom">
        <figure>
          <!-- <img src="/images/digitalPaper-small.jpg" alt="Digital Paper" class="img-responsive margin-auto" /> -->
          <img src="/images/digitalPaper.png" id="map-image" style="width: 490px; max-width: 100%; height: auto;" alt="Digital Map" usemap="#map" />
          <map name="map">
            <!-- Student Learning -->
            <area shape="poly" coords="109, 125, 194, 132, 192, 252, 316, 250, 315, 390, 113, 388" href="studentLearn" alt="Student Learning" />
            <!-- Instructional Decisions -->
            <area shape="poly" coords="315, 248, 452, 249, 451, 49, 186, 50, 191, 129, 315, 125" href="instrDec" alt="Instructional Decisions" />
            <!-- Fractions Representing Comparing Ordering -->
            <area shape="poly" coords="191, 128, 192, 250, 314, 250, 313, 126" href="fracRepCompOrder" alt="Fractions Representing Comparing Ordering" />
            <!-- Teacher Professional Learning -->
            <area shape="poly" coords="9, 202, 7, 5, 265, 6, 266, 51, 189, 50, 190, 129, 111, 128, 112, 204" href="teachProLearn" alt="" />
          </map>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
          <script src="imageMapResizer.min.js"></script>
          <script>
            $(document).ready(function(e) {
              $("map").imageMapResize();
            });
          </script>
          <p style="margin-left: 20px;">
            <a href="/digitalPaper/studentLearn">Resources</a>
            <ul>
              <li style="margin-bottom: 0px;">Research and Supports</li>
              <li style="margin-bottom: 0px;">Lessons</li>
              <li style="margin-bottom: 0px;">Transcripts</li>
            </ul>
          </p>
        </figure>
      </div>

    </div> <!-- End column 2 -->

  </section>


  </section>

  <%- include partials/footer.ejs%>
