<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./litReviews">Literature Reviews</a></li>
</ol>
</header>

<main class="container">

<h1>Literature Reviews</h1>

<div class="row">
<a href="/litreviews/foundationsAddSub">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/research/litReviews/Foundations/foundations10.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/litreviews/opMultDiv">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/research/litReviews/opMultDiv/opMultDiv6.png" alt="Fractions Operations: Multiplication and Division" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Fractions Operations: Multiplication and Division</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>
</div>


<%- include partials/footer.ejs%>
