<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">All Research</a></li>
    <li><a href="./litReviews">Literature Reviews</a></li>
</ol>
</header>

<main class="container">
  
  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12 no-padding">
      <h1>Literature Reviews</h1>
    </div>
  </section>

  <section class="row">
    <a href="/litreviews/foundationsAddSub">
    <div class="col-sm-6 col-md-4">
      <figure class="thumbnail">
        <img src="/images/pdf-img/addSub1.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" class="img-responsive margin-auto img-rounded">
        <figcaption class="caption">
          <h2>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h2>
          <p></p>
        </figcaption>
      </figure>
    </div>
    </a>

    <a href="/litreviews/opMultDiv">
    <div class="col-sm-6 col-md-4">
      <figure class="thumbnail">
        <img src="/images/pdf-img/multDiv1.png" alt="Fractions Operations: Multiplication and Division" class="img-responsive margin-auto img-rounded">
        <figcaption class="caption">
          <h2>Fractions Operations: Multiplication and Division</h2>
          <p></p>
        </figcaption>
      </figure>
    </div>
    </a>
  </section>
<%- include partials/footer.ejs%>