<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./unit">Unit Fractions Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Living Number Line</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright"></div>
        <div id="rectangle" class="display-flex"><p>Unit A</p></div>
        <div id="triangle-topleft"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Use proportional reasoning to make reasonable estimates</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/livingNumberLine/UA_T_17_LivingNumberLine_TASK_FINAL.pdf" target="_blank">Download PDF</a>
      </div>
    </section>
    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>The Living Number Line</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
        <img src="../public/images/tasks/livingNumberLine/livingNumberLine.png" alt="Living Number Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
        <h4>Description</h4>
        <p>Students place cards labelled with fractional amounts on a large number line by equi-partitioning. This physical number line, the living number line, is meant to grow throughout the year as subsequent units (i.e. fractions, percentages, decimals etc.) are placed. Students will use a variety of strategies to place cards appropriately, including relational and proportional thinking and knowledge of equivalency.</p>

        <h4>Mathematics</h4>
        <p>Research shows that the number line has greater longevity as a model than the circle model because it supports a deeper understanding of fractions (i.e., as a quantity represented by a number), and because it connects to representations that students need to understand in later mathematics (such as graphical representations). A circle model encourages an understanding of a fraction as a segment of a whole (e.g. piece of pizza), which is one way of seeing fractions, but does not help students connect to deeper and more sophisticated understandings. The use of a large number line allows students to better see connections between fractional amounts and to communicate their understanding. Accurately placing unit fractions on a number line involves significant spatial and proportional reasoning.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>understand a fraction as a number on the number line</li>
        <li>represent fractions on a linear model </li>
        <li>compare fractions and/or use benchmarks to place subsequent fractions </li>
        <li>identify equivalent fractions as occupying the same point (representing the fraction of the distance from 0) on the number line</li>
        <li>connect to other number systems such as decimals and percents </li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>As a whole group, anchor a number line of string across the classroom. Distribute 0, 1 and <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> cards to three different students to place appropriately on the number line, using paper clips to secure. Ask peers to respond to the placement of these numbers, to make changes to their peers’ placements of the fractions if necessary, and to share their reasoning for doing so.</li>
        <li>Distribute cards representing fourths <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="two Fourths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="three Fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="four Fourths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>4</sub></span></abbr>. After these units have been placed, discuss and highlight the strategies used and any changes in placement and thinking.</li>
        <li>Continue the discussion as whole group using other benchmark fractions <strong>and/or</strong> transition to a paired task where students cut out and appropriately place fractional units on their own paper number lines (without gluing). Rulers are not to be used in this task.</li>
        <li>Within each pair, have students label themselves either A or B. Student A walks the room and asks the posted key questions of their peers while student B stays with their work to answer peer questions. A and B switch.</li>
        <li>Pairs reconvene and are given time to change their thinking and then glue fractions in place.</li>
        <li>Consolidate student work.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>Have difficulty placing fractions with different fractional units (different denominators) on one number line. After partitioning the number line in halves, it may be difficult for students to see the same line in thirds or any other fractional parts</li>
          <li>Find that stacked number lines allow them to sort fractions by fractional unit, keeping them better organized and allowing clarity in thinking</li>
          <li>Consider only the numerator or only the denominator to place the fractions on the number</li>
          <li>Place the fractions in order without attending to appropriate proportional placement</li>
          <li>e hesitant to enter into the task without using a ruler to 'measure’ their number line and find equal parts. Students will better develop their fractional number sense and spatial reasoning when using other strategies (e.g., paper folding) rather than measuring with a ruler.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How do you know that this fraction goes here on the number line?</li>
          <li>What helped you decide where to place each fraction?</li>
          <li>Which of your fractions is closest to zero? How do you know?</li>
          <li>Which of your fractions is closest to one whole?  How do you know? </li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li>String or yarn (in an open space where it can remain for the entire year)</li>
        <li>Coloured cards, same size with holes punched in top and bottom (see <a href="/pdf/livingNumberLine/P17_BLM_1_Living_Number_Line_FINAL.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a>)</li>
        <li>Paper clips</li>
        <li>Key questions (large font for posting)</li>
        <li><a href="/pdf/livingNumberLine/P17_BLM2_Student_Fraction_Number_Lines_FINAL.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 2</a> printed on 11x 17 paper (one copy per pair)</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/livingNumberLine/BLM-1.jpg" alt="BLM 1" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/livingNumberLine/P17_BLM_1_Living_Number_Line_FINAL.pdf" target="_blank"><abbr title="Blackline Master" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/livingNumberLine/BLM-2.jpg" alt="BLM 2" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/livingNumberLine/P17_BLM2_Student_Fraction_Number_Lines_FINAL.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/livingNumberLine/LivingNumberLine_StudentThinking_Unit-A_p1.png" alt="Living Number Line" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/livingNumberLine/LivingNumberLine_StudentThinking_Unit-A_p1.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/livingNumberLine/LivingNumberLine_StudentThinking_Unit-A_p2.png" alt="Living Number Line" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/livingNumberLine/LivingNumberLine_StudentThinking_Unit-A_p2.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs//RecNumLinesCircles">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-1.jpg" alt="Rectangles, Number Lines and Circles, Oh My!" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Rectangles, Number Lines and Circles, Oh My!</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/devFracNumSense">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Developing Fraction Number Sense</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/purpRep">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Purposeful Representations</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/devPartItDisembed">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figured>
                    <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" class="img-responsive margin-auto">
                  </figured>
                  <div class="caption">
                    <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/buildUnitFrac">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building Understanding of Unit Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

    </section>

  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>
