<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Making Mixed Numbers</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange">
          <p>Operation E</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with unlike denominators (e.g. <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span></abbr>) using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/mixedNumbers/OE_T35_MakingMixedNumbers_TASK_v3.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Making Mixed Numbers</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/mixedNumbers/making_mixed_numbers-thumbnail.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>This task was designed to move students from representing a mixed fraction towards using operations with fractions, and is a suitable exploration for students even prior to the formal introduction of these concepts. The task consists of a
        series of prompts intended to scaffold students to use multiple representations to visualize and conceptualize the problems.</p>

      <h4>Mathematics</h4>
      <p>This task is designed to promote the use of a variety of representations including number in order to reveal misconceptions and build deeper understanding. Students develop fractional number sense by composing and decomposing fractions,
        comparing fractions and representing fractions on number lines.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>represent, compare, and order fractional amounts with unlike denominators including mixed numbers using a variety of representations</li>
        <li>use a variety of mental strategies to solve problems involving the addition and subtraction of fractions</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Post or hand out BLM 1. If posting, reveal one question at a time (and if students are using the BLM, encourage them work through the questions in order, one at a time).</li>
        <li>Provide time for students to complete the task. Use the question prompts in BLM 2 to support students in completing the task.</li>
        <li>Consolidate (provide opportunities for students to share solutions with the class), using key questions to elicit student thinking for discussion.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>at first appear to have a firm understanding of fractions, but may reveal fragile understanding as they progress through the task;</li>
          <li>struggle to place their fraction on the number line;</li>
          <li>easily split their fraction into two smaller quantities; and</li>
          <li>need considerable time to work their way through their thinking.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>What did you consider when estimating which number your fraction was closer to?</li>
          <li>How can you show your thinking using a number line?</li>
          <li>What do you notice about the numbers that combine to equal the fraction you selected?</li>
        </ol>
      </div>
    </section>
    <!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/mixedNumbers/MakingMixedNumbers_BLM1_20160713_v2.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (1 copy/student)</li>
        <li><a href="/pdf/mixedNumbers/MakingMixedNumbers_BLM2_20160713_v2.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 2</a> (1 copy)</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/mixedNumbers/BLM-1_pg1.jpg" alt="Making Mixed Numbers BLM 1 page 1" class="img-responsive margin-auto" />
            <img src="/images/tasks/mixedNumbers/BLM-1_pg2.jpg" alt="Making Mixed Numbers BLM 1 page 2" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/mixedNumbers/MakingMixedNumbers_BLM1_20160713_v2.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/mixedNumbers/BLM-2.jpg" alt="Making Mixed Numbers BLM 2" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/mixedNumbers/MakingMixedNumbers_BLM2_20160713_v2.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 padding-bottom">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/FDsbEbP2_LY?rel=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>

          <figure class="padding-bottom">
            <img src="/images/tasks/mixedNumbers/MakingMixedNumbers_StudentThinking_OP-E_Samp1-2.jpg" alt="Making Mixed Numbers Studing Thinking" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/mixedNumbers/MakingMixedNumbers_StudentThinking_OP-E_1-2.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/mixedNumbers/MakingMixedNumbers_StudentThinking_OP-E_Samp3-4.jpg" alt="Making Mixed Numbers Studing Thinking" class="img-responsive margin-auto" />
            <figcaption><div class="gen-pdf"><a href="/pdf/mixedNumbers/MakingMixedNumbers_StudentThinking_OP-E_3-4.pdf" target="_blank">Download PDF</a></div></figcaption>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">

            <a href="/supportDocs/purpRep">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Purposeful Representations</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/devPartItDisembed">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/buildUnitFrac">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building Understanding of Unit Fractions</h3>
                  </div>
                </div>
              </div>
            </a>

            <!-- Not 100% if this one is supposed to be included -->

            <!-- <a href="/supportDocs/buildAddSub">
                    <div class="col-sm-6 col-md-6">
                      <div class="thumbnail smallRec">
                        <figure>
                          <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" class="img-rounded img-responsive margin-auto">
                        </figure>
                        <div class="caption">
                          <h3>Building to Addition and Subtraction of Fractions</h3>
                        </div>
                      </div>
                    </div>
                  </a> -->
          </div>

        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
