<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Tasks</a></li>
    <li><a href="./op">Operations Tasks</a></li>
</ol>


<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>Operations Tasks</h1>
    </div>
  </section>
 
  <section class="row green-unit-grid">
    <a href="./buildFlags">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail orange">
          <figure>
            <img src="/images/pathway/op/buildingFlags.png" alt="Op B Building Flags" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>OP B </h2>
              <h3>Building Flags</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="./buildStage">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail orange">
          <figure>
            <img src="/images/pathway/op/buildingStage.jpg" alt="Op D Building a Stage" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>OP D </h2>
              <h3>Building a Stage</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="./relayRace">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail orange">
          <figure>
            <img src="/images/pathway/op/relayRace.jpg" alt="Op D Relay Race" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>OP D </h2>
            <h3>Relay Race</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="./turfTouch">
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail orange">
          <figure>
            <img src="/images/pathway/op/turfTouch.png" alt="Op E Turf Touchdown" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>OP E </h2>
              <h3>Turf Touchdown</h3>
            <p></p>
          </div>
        </div>
      </div>
    </a>
  </section>
<%- include partials/footer.ejs%>