<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./tasks/pathwayTasks">Fraction Pathways Tasks</a></li>
    <li><a href="./tasks/op">Operations Tasks</a></li>
</ol>


<main class="container">

  <h1>Operations Tasks</h1>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="row">
<a href="./buildFlags">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/pathway/op/buildingFlags.png" alt="Op B Building Flags" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>OP B </h2>
          <h3>Building Flags</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./buildStage">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/pathway/op/buildingStage.jpg" alt="Op D Building a Stage" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>OP D </h2>
          <h3>Building a Stage</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./relayRace">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/pathway/op/relayRace.jpg" alt="Op D Relay Race" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>OP D </h2>
        <h3>Relay Race</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>
</div>
<div class="row">
<a href="./turfTouch">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/pathway/op/turfTouch.png" alt="Op E Turf Touchdown" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>OP E </h2>
          <h3>Turf Touchdown</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

</div>


<%- include partials/footer.ejs%>
