<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/pathway">Fractions Learning Pathway</a></li>
    <li><a href="./opB">OP B</a></li>
</ol>


<main class="container">
<h2>Use models to compose and decompose with like denominators as a form of adding and subtracting fractions</h2>
<p>Using models to visually and physically compose and decompose fractions with common units supports students in understanding the roles of the common unit (or common denominator) in addition and subtraction.</p>

<h3>Background</h3>

<p>Prior to more formal exposure to fraction addition and subtraction, students need a solid understanding of fractions as quantity, as well as part-whole constructs of fractions (Petit, Laird & Marsden, 2010). A strong foundation in equivalence is also crucial to student understanding of addition and subtraction with fractions (Petit, Laird & Marsden, 2010) . When fluency with equivalent fractions is developed, students are better able to consider addition of unlike fractional units by first relating each quantity to a common unit (common denominator) (Empson & Levi, 2011). When students develop an understanding that the need for a common unit is universal for all addition and subtraction, they can more readily connect their understanding of whole number addition to other number systems, such as decimals and fractions, as well as algebraic operations. This increases student fluency  of addition and subtraction across all number systems.</p>

<p>Junior grade students should be exposed to tasks that allow them to understand fraction operations in connection to whole number operations, beginning with the provision of ample time to allow students to construct their own algorithms for the operations (Huinker, 1998; Brown & Quinn, 2006). By focusing on sense-making early on, rather than memorization of an algorithm, students will be able to extend this learning into algebraic contexts in secondary and post-secondary studies (Brown & Quinn, 2006; see also Wu, 2001) and build fluency with meaning.
Several studies have shown “that if children are given the time to develop their own reasoning for at least three years without being taught standard algorithms for operations with fractions and ratios, then a dramatic increase in their reasoning abilities occurred, including their proportional thinking” (Brown & Quinn, 2006, p. 5, citing Lamon, 1999). The following two examples help us to see how student strategies for adding fractions can build from intuitions and familiarity with whole number operations. In these examples, students use models to add <abbr title="two fifths">2&frasl;5</abbr> + <abbr title="one fifth">1&frasl;5</abbr>.</p>

<!--Alpha Cap ordered list-->
<div class="opBlocks">
	<div>
		<h4>A composition strategy: </h4>
		<img src="/images/pathway/op/op1.png" alt="A fraction strip with one fifths shaded in and another fraction strip with three fifths shaded in." height="100" width="300" />
		<p class="color-purple">Recognizing that both fractions are referring to fifths, a student may choose to create a whole unit and partition it into fifths. They could then shade in each of the fractional values to determine what fraction of the whole is shaded. In this way, the student can see that <abbr title="two fifths">2&frasl;5</abbr> + <abbr title="one fifth">1&frasl;5</abbr> = <abbr title="three fifths">3&frasl;5</abbr>.</p>
	</div>
	<div>
		<h4>An additive strategy:</h4>
		<img src="/images/pathway/op/op2.png" alt="A fraction strip with two fifths filled in with full circles and one fifth filled with empty circles" height="100" width="300" />
		<p class="color-purple">A student may identify 1 one-fifth unit and then iterate it to create the two fractions. They would then consider what fraction of the whole is shaded, possibly by holding a visual of the unrepresented fraction of the whole. In this way, the student can see that <abbr title="two fifths">2&frasl;5</abbr> + <abbr title="one fifth">1&frasl;5</abbr> = <abbr title="three fifths">3&frasl;5</abbr>.</p>
	</div>
</div>

<h3>References:</h3>

<p>Brown, G., & Quinn, R. J. (2006). Algebra students’ difficulty with fractions: An error analysis. Australian Mathematics Teacher, 62, 28-40.</p>

<p>Empson, S. & Levi, L. (2011). Extending children’s mathematics: Fractions and decimals: Innovations in cognitively guided instruction. Portsmouth, NH: Heinemann. Pp. 178-216.</p>

<p>Huinker, D. (1998). Letting fraction algorithms emerge through problem solving. In L. J. Morrow and M. J. Kenny (Eds.), The Teaching and Learning of Algorithms in School Mathematics (pp. 198-203). Reston, VA: National Council of Teachers of Mathematics.Lamon, S. (1999). Teaching Fractions and Ratios for Understanding. Mahwah, N.J.: Lawrence Erlbaum Associates.</p>

<p>Moss, J. & Case, R. (1999). Developing children’s understanding of the rational numbers: A new model and an experimental curriculum. Journal for Research in Mathematics Education 30(2), 122-147.</p>

<p>Petit, M., Laird, R., & Marsden, E. (2010). A focus on fractions.New York, <abbr title="New York">NY</abbr>: Routledge.	</p>


<h3>Tasks</h3>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-push-3">
    <div class="thumbnail">
      <img src="/images/pathway/op/buildingFlags.png" alt="Kids working on the Building Flags activity">
      <div class="caption">
        <h4>Building Flags</h4>
        <p>Students use their spatial reasoning and creative thinking to design a flag given a variety of pre-cut and coloured shapes. Students investigate and determine what fraction of the whole flag the coloured shapes represent.</p>
        <p><a href="/tasks/buildFlags" class="btn btn-primary" role="button">View Activity</a></p>
      </div>
    </div>
  </div>
</div>



<%- include partials/footer.ejs%>
