<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./comp">Comparing Fractions</a></li>
    <li><a href="./buildStage">COMP A Recipe Task</a></li>
    <li><a href="./opDBuildStageBLM1">Building a Stage BLM1</a></li>
</ol>


<main class="container">

<%- include partials/footer.ejs%>
