<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/pathway">Fractions Learning Pathway</a></li>
    <li><a href="./operations">Operations</a></li>
</ol>


<main class="container">

<h3>Background</h3>

<p>Prior to more formal exposure to fraction addition and subtraction, students need a solid understanding of fractions as quantity, as well as part-whole constructs of fractions (Petit, Laird & Marsden, 2010). A strong foundation in equivalence is also crucial to student understanding of addition and subtraction with fractions (Petit, Laird & Marsden, 2010) . When fluency with equivalent fractions is developed, students are better able to consider addition of unlike fractional units by first relating each quantity to a common unit (common denominator) (Empson & Levi, 2011). When students develop an understanding that the need for a common unit is universal for all addition and subtraction, they can more readily connect their understanding of whole number addition to other number systems, such as decimals and fractions, as well as algebraic operations. This increases student fluency of addition and subtraction across all number systems.</p>

<p>Junior grade students should be exposed to tasks that allow them to understand fraction operations in connection to whole number operations, beginning with the provision of ample time to allow students to construct their own algorithms for the operations (Huinker, 1998; Brown & Quinn, 2006). By focusing on sense-making early on, rather than memorization of an algorithm, students will be able to extend this learning into algebraic contexts in secondary and post-secondary studies (Brown & Quinn, 2006; see also Wu, 2001) and build fluency with meaning.</p>

<p>Several studies have shown “that if children are given the time to develop their own reasoning for at least three years without being taught standard algorithms for operations with fractions and ratios, then a dramatic increase in their reasoning abilities occurred, including their proportional thinking” (Brown & Quinn, 2006, <abbr title="page">p.</abbr> 5, citing Lamon, 1999). The following two examples help us to see how student strategies for adding fractions can build from intuitions and familiarity with whole number operations. In these examples, students use models to add <abbr title="two fifths">2&frasl;5</abbr> + <abbr title="one fifth">1&frasl;5</abbr>.</p>

<!--Alpha Cap ordered list-->
<div class="opBlocks">
	<div>
		<h4>A composition strategy: </h4>
		<img src="/images/pathway/op/op1.png" alt="A fraction strip with one fifths shaded in and another fraction strip with three fifths shaded in." height="100" width="300" />
		<p class="color-purple">Recognizing that both fractions are referring to fifths, a student may choose to create a whole unit and partition it into fifths. They could then shade in each of the fractional values to determine what fraction of the whole is shaded. In this way, the student can see that <abbr title="two fifths">2&frasl;5</abbr> + <abbr title="one fifth">1&frasl;5</abbr> = <abbr title="three fifths">3&frasl;5</abbr>.</p>
	</div>
	<div>
		<h4>An additive strategy:</h4>
		<img src="/images/pathway/op/op2.png" alt="A fraction strip with two fifths filled in with full circles and one fifth filled with empty circles" height="100" width="300" />
		<p class="color-purple">A student may identify 1 one-fifth unit and then iterate it to create the two fractions. They would then consider what fraction of the whole is shaded, possibly by holding a visual of the unrepresented fraction of the whole. In this way, the student can see that <abbr title="two fifths">2&frasl;5</abbr> + <abbr title="one fifth">1&frasl;5</abbr> = <abbr title="three fifths">3&frasl;5</abbr>.</p>
	</div>
</div>

<%- include partials/footer.ejs%>
