<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
    <li class="breadcrumb-item active">OP G</li>
</ol>

<main class="container">

  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
      <div id="rectangle" class="display-flex rectangle-purple"><p>Operation G</p></div>
      <div id="triangle-topleft" class="triangle-topleft-purple"></div>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>Operations with Fractions: Multiplication and Division</h1>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
      <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-12 col-md-12">
      <h2>Recognize division is the inverse of multiplication and vise versa (รท4 is the same as ร 1 <abbr title="One Fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>)</h2>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-9 col-md-9 list-style-none">
      <p>Understanding this foundational concept gives students flexibility when solving multiplication and division questions involving fractions. Students may intuitively select the operation that makes the most sense to them; for example, students may draw upon their understanding of this inverse relationship to solve a division question using multiplication. As educators we want to recognize and value the reasoning involved in the student strategies in these instances. (It's also interesting to note that we do value this strategy in procedural terms; the standard algorithm asks students to use multiplication to solve division questions by inverting and multiplying.)</p>

      <h3>Background</h3>
      <p>Multiplication and division involving fractions is widely recognized to be more complex than multiplication and division with whole numbers. Often algorithms are introduced with little emphasis on understanding the mathematics behind the algorithm. There is some research evidence that suggests that early emphasis on procedures over concepts can actually impede students' fractions understanding in the long term (Brown and Quinn, 2007). However, with precise instruction, students can develop both conceptual and procedural knowledge.</p>
      <p>Multiplication with fractions may increase or decrease a quantity, or leave it unchanged. Multiplication with whole numbers is often connected to repeated addition; however, with fractions, other interpretations, such as the Cartesian product or area mode, support increased understanding.</p>
      <p>Consider 1<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>&times;<abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>. Since we are multiplying a quantity by half, we should expect the result to be less than 1<abbr title="one thirds" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>. We can carefully labelled array or Cartesian model to solve this.</p>
      <p>First, we model 1<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr></p>
      <figure>
        <img src="/images/multiplication-table-1.png" alt="model for 1 and 1/3" class="img-responsive full-width" />
      </figure>
      &nbsp;
      <p>Then we partition it into half. Not that we could do this a number of ways (including partitioning each third vertically in half) but the example below connects the use of the array (length and width) to model the multiplication</p>
      <figure>
        <img src="/images/multiplication-table-2.png" alt="model for 1 and 1/3" class="img-responsive full-width" />
      </figure>
      &nbsp;
      <p>Determine the answer from the intersecting area. We can see that each whole has been partitioned into sixths. There are four sixths in the overlapping area. 1<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> &times; <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> = <abbr title="four sixths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
      <figure>
        <img src="/images/multiplication-table-3.png" alt="model for 1 and 1/3" class="img-responsive full-width" />
      </figure>
      &nbsp;
      <p>Ontario fractions research revealed several effective strategies for teaching multiplication of fractions with an emphasis on meaning making. See <i>Fractions Operations; Multiplication and Division Literature Review</i> for more details.</p>
      <p>Recommend best practices based on the research include:
      <ol>
        <li><i>Take time to focus on conceptual understanding.</i><br/>Instruction should start with contextual problems which allow students to focus on <i>what</i> they are solving rather than <i>how</i> they are solving, and helps them to develop the meaning of the operations. They also should have hands-on experiences with materials such as relational rods, paper folding and visual models like number lines.</li>
        &nbsp;
        <li><i>Recognize and draw on students' informal and formal knowledge as well as prior experiences with fractions.</i><br/>Students have prior experience with fractions, including partitioning different models (which is helpful when solving multiplication problems). If they have had opportunities to engage in learning experiences earlier in the Fractions Learning Pathways, they will also have an understanding of the unit fraction, which helps establish an early understanding of multiplication connected to repeated addition (e.g., ). As well, students can draw upon their understanding of the various constructs of fractions (i.e., number, part-whole, part-part, quotient, operator and linear measure) and their work with equivalent fractions.</li>
        &nbsp;
        <li><i>Draw on student familiarity with whole number operations.</i><br/>Specific connections to multiplication with whole numbers should be made, as the properties hold true for multiplication with fractions as well.
          <ol type="a">
            &nbsp;
            <li>The Commutative Property: a &times; b = b &times; a</li>
            <li>The Associative Property: (a &times; b) &times; c = a &times; (b &times; c)</li>
            <li>The Identity Property: a &times; 1 = a</li>
            <li>The Distributive Property a &times; (b + c) = a &times; b + a &times; c</li>
            &nbsp;
          </ol>
          <p>As well, students should understand that multiplication is the inverse of division and vice versa. That is to say that if a &times; b = c, then a = c &divide; b and b = c &divide; a. This is true for a, b, c &#8800; 0. For example, although 3 &times; 0 = 0, 0 &divide; 0 &#8800; 3.</p>
          <p>Of couse, some generalizations that hold true for whole numbers don't hold true for fractions, and this can be a source of confusion for students. For example, many students hold onto the idea that multiplication "makes a number larger", which is true with whole numbers. However, when we are multiplying by a quantity that is less than 1, as in the case of fractions, we "shrink" the quantity instead.</p></li>
          <li><i>Include carefully selected and multiple representations to convey meaning.</i><br/>There are a few representations which have longevity and are particularly helpful for building meaning across number systems and contexts - the number line and the area model (or Cartesian or array). Using these representations across fractions learning allows students to understand the structure of the representations and use them effectively to solve questions. Models help students understand the mathematics better - both conceptually and procedurally - and enhance their retention of the learning.</li>
      </ol>
    </p>
    <h3>References</h3>
    <p style="padding-left: 22px; text-indent:-22px;  ">Brown, G., & Quinn, R.J. (2007). Investigating the relationship between fraction proficiency and success in algebra. <i>Australian Mathematics Teacher, 63(4)</i>: 8- 15.</p>
    &nbsp;
    </div>

    <div class="col-sm-3 col-md-3">
        <h2>Tasks</h2>
        <div class="row">
          <!-- Addtional Prompts and Curriculum Connections Links-->
          <div class="thumbnail">
            <div class="caption">
              <h4><a href="/tasks/bananaBreadBakeOff">Banana Bread Bake Off</a></h4>
              <p>Through this task, students will explore the inverse operations of multiplication and division by comparing the result of multiplying by a unit fraction and dividing the inverse whole number.</p>
              <figure>
                <img src="/images/tasks/bananaBreadBakeOff/banana_bread_task_pic.jpg" alt="Banana Bread Bake Off" class="img-responsive margin-auto">
              </figure>
              <!-- <p><a href="/tasks/turfTouch" class="btn btn-primary" role="button">View Task</a></p> -->
            </div>
          </div>

          <div class="thumbnail">
              <div class="caption">
              <h4><a href="/tasks/additionalPromptsOpG">Additional Prompts</a></h4>
              <p>The additional prompt page would look like this. (Note that in this sample the prompt provided does not map to the cell in the sample on page 1). These tasks emerged out of the fraction research.  Teachers may wish to use them as diagnostic or summative assessments, exit cards, number talk prompts, or additional practice questions. By considering both the specifics of the cell and student use of purposeful models, teachers can support students in acquiring a strong conceptual understanding.</p>
              <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
                <a href="/pdf/OP%20G%20AP.pdf" target="_blank">Download PDF</a>
              </div>
              </div>
            </div>

            <div class="thumbnail">
              <div class="caption">
              <h4><a href="/tasks/curriculumConnectionsOpG">Curriculum Connections</a></h4>

              <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
                <a href="/pdf/OP%20G%20CC.pdf" target="_blank">Download PDF</a>
              </div>
              </div>
            </div>
        </div>
      </div>
  </section>
<%- include partials/footer.ejs%>
