<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
    <li class="breadcrumb-item active">OP F</li>
</ol>

<main class="container">

  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
      <div id="rectangle" class="display-flex rectangle-purple"><p>Operation F</p></div>
      <div id="triangle-topleft" class="triangle-topleft-purple"></div>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>Operations with...</h1>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
      <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-12 col-md-12">
      <h2>Subtitle here and here and here...</h2>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-9 col-md-9 list-style-none">
      <p>Text here...</p>

      <h3>Background</h3>

      <p>Paragraphs here...</p>

			<p>And here...</p>

			<p>And here...</p>

      <h3>References:</h3>

      <p>Here...</p>

      <p>And here...</p>
    </div>

    <div class="col-sm-3 col-md-3">
      <h2>Tasks</h2>
      <div class="row">
				<!-- Addtional Prompts and Curriculum Connections Links-->
				<div class="thumbnail">
          <div class="caption">
          <h4><a href="/tasks/additionalPromptsOpE">Additional Prompts</a></h4>
          <p>Text here...</p>
          <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
            <a href="javascript:;" target="_blank">Download PDF</a>
          </div>
          </div>
        </div>
        <div class="thumbnail">
          <div class="caption">
          <h4><a href="/tasks/curriculumConnectionsOpE">Curriculum Connections</a></h4>
          <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
            <a href="javascript:;" target="_blank">Download PDF</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include partials/footer.ejs%>
