<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
    <li class="breadcrumb-item active">OP M</li>
</ol>

<main class="container">

  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
      <div id="rectangle" class="display-flex rectangle-purple"><p>Operation M</p></div>
      <div id="triangle-topleft" class="triangle-topleft-purple"></div>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>Operations with Fractions: Multiplication and Division</h1>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
      <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-12 col-md-12">
      <h2>Divide a fraction by a smaller friendly denominator fraction with a whole number result (e.g., <sup>6</sup>/<sub>4</sub> รท <sup>3</sup>/<sub>8</sub> = 4)</h2>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-9 col-md-9 list-style-none">
      <p>Text here...</p>

      <h3>Background</h3>

      <p>Paragraphs here...</p>

			<p>And here...</p>

			<p>And here...</p>

      <h3>References:</h3>

      <p>Here...</p>

      <p>And here...</p>
    </div>

    <div class="col-sm-3 col-md-3">
        <h2>Tasks</h2>
        <div class="row">
          <!-- Addtional Prompts and Curriculum Connections Links-->
          <div class="thumbnail">
              <div class="caption">
              <h4><a href="/tasks/additionalPromptsOpM">Additional Prompts</a></h4>
              <p>These tasks emerged out of the fraction research. Teachers may wish to use them as diagnostic or summative assessments, exit cards, number talk prompts, or additional practice questions. By considering both the specifics of the cell and student use of purposeful models, teachers can support students in acquiring a strong conceptual understanding.</p>
              <p>Ashley bought 6 pounds of candy. She put the candy into bags that each hold <abbr title="three quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> of a pound of candy. How many bags did Ashley fill?</p>
              <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
                <a href="/pdf/Op%20M%20AP.pdf" target="_blank">Download PDF</a>
              </div>
              </div>
            </div>

            <div class="thumbnail">
              <div class="caption">
              <h4><a href="/tasks/curriculumConnectionsOpM">Curriculum Connections</a></h4>
              <p>OP M Divide a fraction by a smaller friendly denominator fraction with a whole number reuslt</p>
              <table>
                <tr>
                  <td><p>Grade</p></td>
                  <td><p>Curriculum Expectations</p></td>
                </tr>
                <tr>
                  <td><p><strong>8</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">represent, compare, and order rational numbers</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>8</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>8</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">represent the multiplication and division of fractions, using a variety of tools and strategies;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>8</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>9D</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>9D</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>9D</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment of a line;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>9P</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li></ul></td>
                </tr>
              </table>
              <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
                <a href="/pdf/Op%20M%20Cc.pdf" target="_blank">Download PDF</a>
              </div>
              </div>
            </div>
        </div>
      </div>
  </section>
<%- include partials/footer.ejs%>
