<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active">OP O</li>
</ol>

<main class="container">

  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
      <div id="rectangle" class="display-flex rectangle-purple">
        <p>Operation O</p>
      </div>
      <div id="triangle-topleft" class="triangle-topleft-purple"></div>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>Operations with Fractions: Multiplication and Division</h1>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
        <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-12 col-md-12">
      <h2>Divide a fraction by a like-denominator fraction with a whole number remainder (e.g., <abbr title="ten quarters" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr> &divide; <abbr title="three quarters"
          class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> = 3<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>)</h2>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-9 col-md-9 list-style-none">
      <p>Dividing one fraction by another like-denominator fraction reinforces the role of the numerator as the count. Transitioning to a non-whole number answer requires students to determine the proportional relationship between the remainder and
        the divisor. For example, <abbr title="ten quarters" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr> &divide; <abbr title="three quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>
        = 3<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> because 10 &divide; 3 = 3 and there is a remainder of 1 and 1 &divide; 3 = <abbr title="one third" class="abbr-frac"><span
            class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>.</p>

      <h3>Background</h3>
      <p>Multiplication and division involving fractions is widely recognized to be more comple than multiplication and division with whole numbers. Often algorithms are introduced with little emphasis on understanding the mathematics behind the
        algorithm. There is some research evidence that suggests that early emphasis on procedures over concepts can actually impede students' fractions understanding in the long term (Brown and Quinn, 2007). However, with precise instruction,
        students can develop both conceptual procedural knowledge.</p>
      <p>Division with fractions may increase or decrease a quantity, or leave it unchanged. Division with whole numbers is often connected to either repeated subtraction (Partitive: how many threes are in six?) or making groups (Quotative: how many
        groups of three are in six?); however, with fractions, other interpretations, such as the unit rate and the inverse of multiplication, support increased understanding.</p>
      <p>The strategies for whole number division of quotative (measurement), partitive (fair share) and Cartesian product (array/area) also apply to fractions. The determination of a unit rate as well as connecting division to the inverse of
        multiplication are strategies that apply to fractions uniquely. A measurement, or linear, model is very useful for understanding division of fractions.</p>
      &nbsp;
      <p>Consider 3 &divide; <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>. We can use hops on a number line to answer this question by considering 'how many two-thirds are
        in 3?'</p>
      <figure>
        <img src="/images/division-table-1.png" alt="3 divided by two thirds" class="img-responsive full-width" />
      </figure>
      &nbsp;
      <p style="text-align:center">It is clear that there are four full hops and one-half a hop, so the answer to 3 &divide; <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> is</p>
      <p>There are several effective strategies for teaching division of fractions. See <i>Fractions Operations: Multiplication and Division Literature Review</i> for more details.</p>
      <p>Best practices include:
        <ol>
          <li>Increase the focus on conceptual understanding;<br />Instruction should start with contextual problems which allow students to focus on <i>what</i> they are solving rather than <i>how</i> they are solving. They also should have
            hands-on experiences with materials such as relational rods, paper folding and visual models like number lines.</li>
          &nbsp;
          <li>Draw on student familiarity with whole number operations;<br />Specific connections to division with whole numbers should be made as the properties hold true for division with fractions as well.
            <ol type="a">
              &nbsp;
              <li>The Identity Property: a &divide; 1 = a</li>
              <li>The Zero Property: 0 &divide; a = 0; a &divide; 0 is undefined</li>
              &nbsp;
            </ol>
            As well, students should understand that multiplication is the inverse of division and vise versa. That is to say that if a &times; b = c, then a = c &divide; b and b = c &divide; a. This is true for a, b, c &#8800; 0. For example,
            although 3 &times; 0 = 0, 0 &divide 0 &#8800; 3.</li>
          &nbsp;
          <li>Recognize and draw on students' informal knowledge and prior experiences;<br />Students have prior experience with fractions, including partitioning different models (which is helpful when solving division problems) and an
            understanding of the unit fraction. Since students undestand division as the inverse of multiplication, they may solve division questions using multiplication. For example, rather than determine, a student may instead consider. As well,
            students can draw upon their understanding of the various constructs of fractions (i.e., part-whole, part-part, quotient, operator and linear measure) and thier work with equivalent fractions.</li>
          &nbsp;
          <li>Include carefully selected and multiple representations to convey meaning; <br />There are a few representations across fractions learning allows students to understand the structure of the representations and use them effectively to
            solve questions. Models help students understand the mathematics better - both conceptually and procedurally - and enhance their retention of their learning.</li>
        </ol>
      </p>

      <h3>References:</h3>
      <p style="padding-left: 22px; text-indent:-22px;">Brown, G., & Quinn, R. J. (2007). Investigating the relationship between fraction proficiency and success in algebra. <i>Australian Mathematics Teacher, 63</i>(4): 8- 15.</p>
      &nbsp;

    </div>

    <div class="col-sm-3 col-md-3">
      <h2>Tasks</h2>
      <div class="row">
        <!-- Addtional Prompts and Curriculum Connections Links-->
        <div class="thumbnail">
          <div class="caption">
            <h4>Additional Prompts</h4>
            <p>These tasks emerged out of the fraction research. Teachers may wish to use them as diagnostic or summative assessments, exit cards, number talk prompts, or additional practice questions. By considering both the specifics of the cell
              and student use of purposeful models, teachers can support students in acquiring a strong conceptual understanding.</p>
            <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
              <a href="/pdf/OP%20O%20AP.pdf" target="_blank">Download PDF</a>
            </div>
          </div>
        </div>

        <div class="thumbnail">
          <div class="caption">
            <h4><a href="/tasks/curriculumConnectionsOpO">Curriculum Connections</a></h4>
            <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
              <a href="/pdf/OP%20O%20CC.pdf" target="_blank">Download PDF</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include partials/footer.ejs%>
