<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
    <li class="breadcrumb-item active">OP P</li>
</ol>

<main class="container">

  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
      <div id="rectangle" class="display-flex rectangle-purple"><p>Operation P</p></div>
      <div id="triangle-topleft" class="triangle-topleft-purple"></div>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>Operations with Fractions: Multiplication and Division</h1>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
      <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-12 col-md-12">
      <h2>Divide a fraction by an unlike-denominator fraction with a non-whole number remainder (e.g., such as a remainder of <sup>3</sup>/<sub>8</sub> รท <sup>1</sup>/<sub>2</sub> = <sup>3</sup>/<sub>4</sub>)</h2>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-9 col-md-9 list-style-none">
      <p>Students often confuse the interpretation of the answer in division questions. Interpretation of the remainder can be enhanced through division questions that have visibly recognizable proportional relationships between the remainder and the divisor when the remainder is not a whole number. For example,<br/>1<abbr title="seven tenths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span></abbr> &divide; <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr></p>
      <figure>
        <img src="/images/division-table-3.png" alt="1 seven tenths divided by two fifths" class="img-responsive full-width" />
      </figure>
      <p style="text-align:right">remainder of one tenth</p>
      <p>One way to interpret this question is to consider 'how many <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> are in 1<abbr title="seven tenths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span></abbr>?' The answer is 4, with a remainder of <abbr title="one tenth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>10</sub></span></abbr>. To write this as a single quantity, the remainder of <abbr title="one tenth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>10</sub></span></abbr> must be stated in relation to the divisor of <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr>. In other words, we need consider what proportion of <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> is represented by <abbr title="one tenth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>10</sub></span></abbr>.</p>
        <figure>
          <img src="/images/division-table-4.png" alt="one tenth" class="abbr-frac" />
        </figure>
        <p>The model shows that this portion is <abbr title="one quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>. Therfore, the final answer is 4<abbr title="one quarter" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>.</p>

      <h3>Background</h3>

      <p>Multiplication and division involving fractions is widely recognized to be more comple than multiplication and division with whole numbers. Often algorithms are introduced with little emphasis on understanding the mathematics behind the algorithm. There is some research evidence that suggests that early emphasis on procedures over concepts can actually impede students' fractions understanding in the long term (Brown and Quinn, 2007). However, with precise instruction, students can develop both conceptual procedural knowledge.</p>
      <p>Division with fractions may increase or decrease a quantity, or leave it unchanged. Division with whole numbers is often connected to either repeated subtraction (Partitive: how many threes are in six?) or making groups (Quotative: how many groups of three are in six?); however, with fractions, other interpretations, such as the unit rate and the inverse of multiplication, support increased understanding.</p>
      <p>The strategies for whole number division of quotative (measurement), partitive (fair share) and Cartesian product (array/area) also apply to fractions. The determination of a unit rate as well as connecting division to the inverse of multiplication are strategies that apply to fractions uniquely. A measurement, or linear, model is very useful for understanding division of fractions.</p>
      &nbsp;
      <p>Consider 3 &divide; <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>. We can use hops on a number line to answer this question by considering 'how many two-thirds are in 3?'</p>
      <figure>
        <img src="/images/division-table-1.png" alt="3 divided by two thirds" class="img-responsive full-width" />
      </figure>
      &nbsp;
      <p style="text-align:center">It is clear that there are four full hops and one-half a hop, so the answer to 3 &divide; <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> is</p>
      <p>There are several effective strategies for teaching division of fractions. See <i>Fractions Operations: Multiplication and Division Literature Review</i> for more details.</p>
      <p>Best practices include:
        <ol>
          <li>Increase the focus on conceptual understanding;<br/>Instruction should start with contextual problems which allow students to focus on <i>what</i> they are solving rather than <i>how</i> they are solving. They also should have hands-on experiences with materials such as relational rods, paper folding and visual models like number lines.</li>
          &nbsp;
          <li>Draw on student familiarity with whole number operations;<br/>Specific connections to division with whole numbers should be made as the properties hold true for division with fractions as well.
            <ol type="a">
              &nbsp;
              <li>The Identity Property: a &divide; 1 = a</li>
              <li>The Zero Property: 0 &divide; a = 0; a &divide; 0 is undefined</li>
              &nbsp;
            </ol>
          As well, students should understand that multiplication is the inverse of division and vise versa. That is to say that if a &times; b = c, then a = c &divide; b and b = c &divide; a. This is true for a, b, c &#8800; 0. For example, although 3 &times; 0 = 0, 0 &divide 0 &#8800; 3.</li>
          &nbsp;
          <li>Recognize and draw on students' informal knowledge and prior experiences;<br/>Students have prior experience with fractions, including partitioning different models (which is helpful when solving division problems) and an understanding of the unit fraction. Since students undestand division as the inverse of multiplication, they may solve division questions using multiplication. For example, rather than determine, a student may instead consider. As well, students can draw upon their understanding of the various constructs of fractions (i.e., part-whole, part-part, quotient, operator and linear measure) and thier work with equivalent fractions.</li>
          &nbsp;
          <li>Include carefully selected and multiple representations to convey meaning; <br/>There are a few representations across fractions learning allows students to understand the structure of the representations and use them effectively to solve questions. Models help students understand the mathematics better - both conceptually and procedurally - and enhance their retention of their learning.</li>
        </ol>
      </p>

      <h3>References:</h3>
      <p style="padding-left: 22px; text-indent:-22px;">Brown, G., & Quinn, R. J. (2007). Investigating the relationship between fraction proficiency and success in algebra. <i>Australian Mathematics Teacher, 63</i>(4): 8- 15.</p>
      &nbsp;

    </div>

    <div class="col-sm-3 col-md-3">
        <h2>Tasks</h2>
        <div class="row">
          <!-- Addtional Prompts and Curriculum Connections Links-->
          <div class="thumbnail">
              <div class="caption">
              <h4><a href="/tasks/additionalPromptsOpP">Additional Prompts</a></h4>

              <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
                <a href="/pdf/Op%20P%20AP.pdf" target="_blank">Download PDF</a>
              </div>
              </div>
            </div>

            <div class="thumbnail">
              <div class="caption">
              <h4><a href="/tasks/curriculumConnectionsOpP">Curriculum Connections</a></h4>
              <p>OP P Divide fractions with unlike-denominators with a visually recognizable result using models</p>
              <table>
                <tr>
                  <td><p>Grade</p></td>
                  <td><p>Curriculum Expectations</p></td>
                </tr>
                <tr>
                  <td><p><strong>8</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>8</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">represent the multiplication and division of fractions, using a variety of tools and strategies;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>8</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">solve problems involving addition, subtraction, multiplication, and division with simple fractions.</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>9D</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">simplify numerical expressions involving integers and rational numbers, with and without the use of technology;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>9D</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">solve problems requiring the manipulation of expressions arising from applications of percent, ratio, rate, and proportion;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>9D</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">determine, through investigation, various formulas for the slope of a line segment or to determine the slope of a line segment of a line;</li></ul></td>
                </tr>
                <tr>
                  <td><p><strong>9P</strong></p></td>
                  <td><ul style="padding-left:5px;"><li style="text-align:left;">solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms</li></ul></td>
                </tr>
              </table>
              <div class="gen-pdf" style="margin-left:auto;margin-right:auto;margin-top:20px;">
                <a href="/pdf/Op%20P%20CC.pdf" target="_blank">Download PDF</a>
              </div>
              </div>
            </div>
        </div>
      </div>
  </section>
<%- include partials/footer.ejs%>
