<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li>• <a href="/">Home</a></li>
    <li>• <a href="/planningSupports">Planning Supports</a></li>
    <li>• <a href="./orderFrac">Research Informed Instruction Ordering Fractions</a></li>
</ol>


<main class="container pdf-page">
<!-- Insert content here-->
<h2 class="center col-dark-blue">Research Informed Instructional Considerations for Ordering Fractions</h2>


<div class="gen-pdf">
    <a href="/pdf/orderFrac.pdf">Download PDF</a>
</div>

<table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font" id="ftable">
<tr>
    <th>The teacher should:</th>
    <th>It allows students to:</th>
    <th>References</th>
</tr>
<tr>
    <td>
        <ul>
            <li>• introduce a blend of proper and mixed numbers simultaneously, along with wholes represented as n/n, n not
                equal to 0.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• locate mixed numbers on a number line, which are easier to locate than proper fractions (i.e., fractions
                which have a value of less than one).</li>
            <li>• develop an understanding of the link between fractions and whole numbers.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Amato</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• have students determine the correctness of their solution.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• construct logic and objectivity. </li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Stiff</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• develop situational understanding in conjunction with mathematical understanding.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• develop ways to use fractions in a variety of contexts. </li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Johanning</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• use inquiry oriented instruction.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• demonstrate greater progress in conceptual understanding and problem solving than through traditional instruction,
                without any loss in mastery of facts and procedures.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Saxe</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• use part-of-whole models initially to close gaps in student understanding</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• engage in comparison of fractions without the additional sophistication required to compare part-of-set models.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Small</li>
        </ul>
    </td>
</tr>
</table>

<%- include partials/footer.ejs%>
