<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./digitalTasks">Lessons</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Ordering on a Number Line (Gr 7)</li>
</ol>

<main class="container">

  <!-- PDF page 1 -->
  <section class="pdf-page">

    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/OrderingonNumberLineLessonBundleGr7.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row">
      <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Ordering Fractions: Day 1: Number Lines</h2>
    </section>

    <section class="row table-responsive">
      <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
        <!-- First Row - Time Stamp and Learning Goal -->
        <tr>
          <td>
            <p>MO 15 min</p>
            <p>A 30 min</p>
            <p>C/D 15 min</p>
            <p>60 min</p>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
            <p>Students will:</p>
            <ul>
              <li>Connect the meaning of the denominator of a fraction to the number of equal partitions between 0 and 1 on a number line</li>
              <li>Represent fractions on a number line, using benchmarks to check precise and approximate placements, in order to compare and order the fractions</li>
            </ul>
            </ul>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Materials</strong></p>
            <ul>
              <li>smart notebook file: Number Lines</li>
              or
              <li><abbr title="Blackline Master">BLM</abbr> 1.1</li>
            </ul>
          </td>
        </tr> <!-- End First Row -->
        <!-- Second Row - Minds on... -->
        <tr>
          <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
          <td>
            <p><strong>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Guided Activity</strong></p>
            <p>Construct a number line from 0 to 1 on the board. Tell students that they will be placing the fractions <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="two fourths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="three fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="three eighths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="one fifth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr>, <abbr title="sixteen twentieths" class="abbr-frac"><span class="frac"><sup>16</sup><span>&frasl;</span><sub>20</sub></span></abbr>, <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> on the number line. Have a student select one of the fractions to label on the number line in the appropriate location. Probe their understanding using the following prompts:</p>
            <ul>
              <li>Why did you select that fraction to place?</li>
              <li>What was your reasoning for placing it where you did?</li>
              <li>What strategy might you use to decide if the fraction is closer to 0, <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> or a whole number?</li>
              <li>What was ______ doing as s/ he figured out where to position <abbr title="four fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>? How was that reasoning helpful?</li>
              <li>How is finding the halfway point helpful? Are there other benchmark fractions that were helpful to you?</li>
            </ul>
            <p>Continue with different students until all fractions are placed. It may be necessary to remind students that they should be dividing the number line into the same number of spaces as the denominator and that it may be useful to consider benchmarks to help place unusual fractions.</p>
          </td>
          <td class="section-border-bottom-none">
            <p>Adapted from: <a href="http://illuminations.nctm.org/LessonDetail.aspx?id=L784">Comparing and Ordering Number Lines:</a></p>
          </td>
        </tr> <!-- End Second Row -->
        <!-- Third Row - Action! -->
        <tr>
          <td>
            <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
          </td>
          <td>
            <p><strong>Small Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Practice Activity</strong></p>
            <p>Using large pieces of paper,students create three same length number lines, labeled as indicated in <abbr title="Blackline Master">BLM</abbr> 1.1. Ask students to place the corresponding fractions on the number line. They must be prepared to justify their thinking as to why they placed it there.
            Probe student thinking with the following prompts:</p>
            <ul>
              <li>How did you decide where it went?</li>
              <li>Is there a unit fraction that would help you place this fraction more accurately?</li>
              <li>Is your fraction more than 1 or less than 1?</li>
              <li>Compare your number lines with a different group. Explain your reasoning why you placed the fractions where you did.</li>
              <li>What strategies did you use to decide where the fraction should be placed?</li>
            </ul>
          </td>
          <td class="section-border-bottom-none section-border-top-none background-color-white">
          </td>
        </tr> <!-- End Third Row -->
        <!-- Fourth Row - Consolidate/Debrief -->
        <tr>
          <td>
            <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
          </td>
          <td>
            <p><strong>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Anchor Chart</strong></p>
              <p>Create an anchor chart which highlights key properties of each number system (<abbr title="For example">e.g.</abbr>, % means ‘out of 100’, 0.5 is read ‘five tenths’ so it is a fraction with a denominator of 10) and outlines strategies for comparison/conversion between fractions, percentages and decimals.</p>

            <p><strong>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Journal</strong></p>
            <p>In your math journal, draw a number line and place the given numbers on it. Justify why you placed them where you did. Be sure to use appropriate math language.</p>
            <ul>
              <li>benchmark fractions (<abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>,<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>,<abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>,<abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>,<abbr title="three fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, 1 whole)</li>
          </td>
          <td class="section-border-top-none">
            <ul>
              <li>denominator</li>
              <li>numerator</li>
              <li>decimals</li>
              <li>proper fraction</li>
              <li>improper fraction</li>
              <li>greater than</li>
              <li>less than</li>
              <li>benchmark fractions</li>
            </ul>
          </td>
        </tr> <!-- End of Fourth Row -->
        <!-- Fifth Row - Further Consolidation -->
        <tr>
          <td></td>
          <td>
            <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>
          </td>
          <td></td>
        </tr> <!-- End Fifth Row -->
      </table>
    </section>
  </section>

  <!--PDF Page 2 -->
  <section class="pdf-page">
    <section class="row">

      <h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 1.1: Number Lines</h4>
      <div class="col-md-12 col-sm-12">
        <p>Label each of your number lines as shown below and place the corresponding fractions accordingly.</p>
        <h4>First number line</h4>

        <p>Show where these fractions are located and be prepared to explain your reasoning.</p>
        <p>All students: <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>, <abbr title="four fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>, <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr></p>
        <p>Your choice: <abbr title="seventeen twentieths" class="abbr-frac"><span class="frac"><sup>17</sup><span>&frasl;</span><sub>20</sub></span></abbr>, <abbr title="three eighteenths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>18</sub></span></abbr>, <abbr title="sixteen thirty-fifths" class="abbr-frac"><span class="frac"><sup>16</sup><span>&frasl;</span><sub>35</sub></span></abbr>, <abbr title="thirty-six ninety-seconds" class="abbr-frac"><span class="frac"><sup>36</sup><span>&frasl;</span><sub>92</sub></span></abbr></p>


        <h4>Second number line</h4>
        <img src="" alt="" height="" width="" />

        <p>Show where these fractions are located and be prepared to explain your reasoning.</p>
        <p>All students: <abbr title="eight tenths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>10</sub></span></abbr>, <abbr title="three eighths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="one fifth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr> , <abbr title="six fourths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr></p>
        <p>Your choice: <abbr title="twenty-nine eighty-thirds" class="abbr-frac"><span class="frac"><sup>29</sup><span>&frasl;</span><sub>83</sub></span></abbr>, <abbr title="thirteen eighteenths" class="abbr-frac"><span class="frac"><sup>13</sup><span>&frasl;</span><sub>18</sub></span></abbr>, <abbr title="fifty-seven ninety-seconds" class="abbr-frac"><span class="frac"><sup>57</sup><span>&frasl;</span><sub>92</sub></span></abbr></p>

        <h4>Third number line</h4>
        <img src="" alt="" height="" width="" />
        <p>Show where these fractions are located and be prepared to explain your reasoning.</p>
        <p>All students: <abbr title="eight fourths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="ten fourths" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="fifteen halves" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="fifty tenths" class="abbr-frac"><span class="frac"><sup>50</sup><span>&frasl;</span><sub>10</sub></span></abbr>, <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="three fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr></p>
        <p>Your choice: <abbr title="thirty-three eighths" class="abbr-frac"><span class="frac"><sup>33</sup><span>&frasl;</span><sub>8</sub></span></abbr></p>
      </div>

    </section>
  </section>

  <!-- PDF page 3 -->
  <section class="pdf-page">
    <section class="row">

      <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Ordering Fractions: Day 2: Number Lines with Decimals</h2>
    </section>

    <section class="row table-responsive">
      <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
        <!-- First Row - Time Stamp and Learning Goal -->
        <tr>
          <td>
            <p>MO 10 min</p>
            <p>A 40 min</p>
            <p>C/D 10 min</p>
            <p>60 min</p>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
            <p>Students will:</p>
            <ul>
              <li>Connect the meaning of the denominator of a fraction to the number of equal parts between 0 and 1 into which a number line is partitioned</li>
              <li>Represent fractions on a number line, using benchmarks to check precise and approximate placements in order to compare and order the fractions</li>
            </ul>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Materials</strong>
              <ul>
                <li>fraction strips</li>
                <li>fraction towers/circles</li>
                <li>base ten blocks</li>
                <li>number lines</li>
                <li>hundred board</li>
                <li>money</li>
              </ul></p>

          </td>
        </tr> <!-- End First Row -->
        <!-- Second Row - Minds on... -->
        <tr>
          <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
          <td>
            <p><strong>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Exploration</strong></p>
            <p>Students use 0.5, 0.75, 0.25, 1.0, <abbr title="three fourhts" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, 1, <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>
            To match the fractions with their equivalent decimal representations.
            Probe student thinking using the following prompts:</p>
            <ul>
              <li>Why did you put those two together?</li>
              <li>How do you know they have the same value / or they represent the same amount?</li>
              <li>Explain a connection to fair sharing, money or to a manipulative.</li>
            </ul>

            <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</strong></p>
            <p>Students place the previous set of fractions and decimals on a number line labelled from 0 to 1. Probe student thinking using the following prompts:</p>
            <ul>
              <li>What was your reasoning for placing the numbers there?</li>
              <li>What strategy might you use to decide if the decimal card is closer to 0 or 1?</li>
              <li>What was ____ doing as s/he figured out where to place 0.75? How did that reasoning help ____?</li>
              <li>How is finding the halfway point helpful?</li>
            </ul>

          </td>
          <td class="section-border-bottom-none">
          <p><a href="http://illuminations.nctm.org/LessonDetail.aspx?id=L784">Comparing and Ordering Number Lines:</a></p>
          </td>
        </tr> <!-- End Second Row -->
        <!-- Third Row - Action! -->
        <tr>
          <td>
            <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
          </td>
          <td>
            <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</strong></p>
            <p>Consider whether it is more appropriate to pair students as: strong/strong and weak/weak, or weak/strong for this activity. Provide pairs with a copy of <abbr title="Blackline Master">BLM</abbr> 2.1. Circulate and ask probing questions where you detect misunderstanding, confusion, or lack of detail. Encourage early finishers to try a second choice in question 2. Decide whether or not there is value in whole class discussion of question 1.</p>

            <p><strong>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Malk Learning Activity</strong></p>
            <p>Ask an appropriate pair to present their thinking about question 2A, encouraging classmates to question statements and illustrations they do not understand. Repeat for 2B and 2C.</p>
            <p>Note that all fractions in 2A and 2B are all equivalent, but not so in 2C.</p>

          </td>
          <td class="section-border-bottom-none section-border-top-none background-color-white">
            <p>Note that all fractions in 2A and 2B are all equivalent, but no so in 2C.<br/>An implmentation trajectory for Math Talk Learning Community can be found <a href="http://www.edugains.ca/resources/LeadingChange/KeyDirectionsandFrameworks/MathTalkLearningCommunityResearchSynopsis.pdf" target="_blank">here</a></p>
          </td>
        </tr> <!-- End Third Row -->
        <!-- Fourth Row - Consolidate/Debrief -->
        <tr>
          <td>
            <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
          </td>
          <td>
            <p><strong>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Exit Card</strong></p>
            <p>Record your response to the following prompt. You will be asked to hand this in before leaving. Frank now thinks that <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, 0.5 and <abbr title="four sixteenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>16</sub></span></abbr> would all be placed in the same location on the number line. Do you agree or disagree?  Explain your thinking in more than one way. This can be assessed using the following criteria. Does the student:</p>
            <ul>
              <li>understand that the three numbers do not all represent the same amount?</li>
              <li>convert between fractions and decimals?</li>
              <li>use manipulatives and/or diagrams to support their thinking?</li>
              <li>make connections to benchmarks and/or real life situations (<abbr title="For example">e.g.</abbr> money, <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>?)?</li>
            </ul>
          </p>
          </td>
          <td class="section-border-top-none"></td>
        </tr> <!-- End of Fourth Row -->
        <!-- Fifth Row - Further Consolidation -->
        <tr>
          <td></td>
          <td>
            <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>
          </td>
          <td></td>
        </tr> <!-- End Fifth Row -->
      </table>
    </section>
  </section>

  <!-- PDF page 4 -->
  <section class="pdf-page">
    <section class="row">
        <h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 2.1: Decimals and Fractions on the Number Line</h4>
        <div class="col-md-12 col-sm-12">
          <ol>
            <li>Place the following numbers on the number line above.
              <ol>
                <li>0.9</li>
                <li>0.2</li>
                <li>0.4</li>
                <li><abbr title="nine tenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>10</sub></span></abbr></li>
                <li><abbr title="seven tenths" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span></abbr></li>
              </ol>
            </li>
            <li>Choose one of the following questions, and answer it in the space below.
              <ol type="A">
                <li>Frank says that <abbr title="six twelfths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>12</sub></span></abbr>, <abbr title="two fourths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>4</sub></span></abbr>, and 0.5 can all be represented in the same place on our number line. Do you agree/disagree? Why?</li>
                <li>Frank says that <abbr title="nine twelfths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>12</sub></span></abbr>, <abbr title="three fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> and 0.75 can all be represented in the same place on our number line. Do you agree/disagree? Why?</li>
                <li>Frank says that 0.666, <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> and <abbr title="thirty-two fourty-fifths" class="abbr-frac"><span class="frac"><sup>32</sup><span>&frasl;</span><sub>45</sub></span></abbr> can all be represented in the same place on our number line. Do you agree/disagree? Why?</li>
              </ol>
            </li>
          </ol>
        </div>
    </section>
  </section>

  <!-- PDF page 5 -->
  <section class="pdf-page">
    <section class="row">

      <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Ordering Fractions: Day 3: Number Lines - multiple number stystems</h2>
    </section>

    <section class="row table-responsive">
      <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
        <!-- First Row - Time Stamp and Learning Goal -->
        <tr>
          <td>
            <p>MO 20 min</p>
            <p>A 30 min</p>
            <p>C/D 10 min</p>
            <p>60 min</p>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
            <p>Students will:</p>
            <ul>
              <li>reason as they place fractions and decimals on a number line</li>
              <li>connect different representations of the same number</li>
              <li>communicate their rationale, including their use of benchmark numbers</li>
            </ul>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Materials</strong>
              <ul>
                <li>fraction strips</li>
                <li>fraction towers/circles</li>
                <li>base ten blocks</li>
                <li>number lines</li>
                <li>hundred board</li>
                <li>money</li>
              </ul></p>

          </td>
        </tr> <!-- End First Row -->
        <!-- Second Row - Minds on... -->
        <tr>
          <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
          <td>
            <p><strong>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Matching Activity</strong></p>
            <p>Each student receives one card and circulates amongst classmates to match the numerical value of their representation to three other students in the room. Once completed correctly, each group will have a hundreds grid, fraction card, decimal number and hundredths card representing the same number.</p>

            <p><strong>Small Groups <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</strong></p>
            <p>Once groups have been formed, students share the card they have and everything they notice about their card.
            Sentence starters include:</p>
            <ul>
              <li>I think my card belongs here because …</li>
              <li>I see how my representation connects to _____’s card because …</li>
              <li>My representation is the similar to _____’s because …</li>
              <li>My representation is different than _____’s since …</li>
              <li>Something I noticed about all four representations is …</li>
            </ul>

          </td>
          <td class="section-border-bottom-none">
          <p>Cards can be found on page 51 of The Guide to Effective Instruction (<abbr title="Volume">Vol</abbr>. 6); 7 sets makes a class of 28 in groups of 4; see <abbr title="page">pg.</abbr> 59-63 in the Guide for more details.</p>
          </td>
        </tr> <!-- End Second Row -->
        <!-- Third Row - Action! -->
        <tr>
          <td>
            <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
          </td>
          <td>
            <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</strong></p>
            <p>Provide students with a set of cards (<abbr title="Blackline Master">BLM</abbr> 3.1). Have them place each card on a number line. Inform them that they will be required to justify their reasoning.</p>
            <p>Circulate to support and extend student understanding using the following types of questions:</p>
            <ul>
              <li>Which number representations do you know and recognize?</li>
              <li>What strategies could you use to place the other ones?</li>
              <li>How can you use benchmarks to help you place some of the other ones?</li>
              <li>Which representations show the same amount?</li>
              <li>Is there a fraction that is close to 1?</li>
              <li>Is there a fraction that is close to 0?</li>
            </ul>
            <p>Provide students with a mixture of representations (fractions, decimals, hundreds grid, hundredths card) In pairs students place these on a number line- justifying their reasoning.</p>
            <p><abbr title="fifty hundredths" class="abbr-frac"><span class="frac"><sup>50</sup><span>&frasl;</span><sub>100</sub></span></abbr>,<abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>,5,<abbr title="eighty hundredths" class="abbr-frac"><span class="frac"><sup>80</sup><span>&frasl;</span><sub>100</sub></span></abbr>,<abbr title="four fifths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>,8,<abbr title="five twenty-fifths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>25</sub></span></abbr>(need to add other numbers)</p>

          </td>
          <td class="section-border-bottom-none section-border-top-none background-color-white"></td>
        </tr> <!-- End Third Row -->
        <!-- Fourth Row - Consolidate/Debrief -->
        <tr>
          <td>
            <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
          </td>
          <td>
            <p><strong>Independent <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Journal</strong></p>
            <p>Show 6 different representations with two that don’t belong. Explain which representations go together and why.</p>
          </td>
          <td class="section-border-top-none"></td>
        </tr> <!-- End of Fourth Row -->
        <!-- Fifth Row - Further Consolidation -->
        <tr>
          <td></td>
          <td>
            <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>
          </td>
          <td></td>
        </tr> <!-- End Fifth Row -->
      </table>
    </section>
  </section>

  <!-- PDF page 6 -->
  <section class="pdf-page">
    <section class="row">
      <h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 3.1: Fractions on a Number Line</h4>
      <!--<h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 3.1 Number Line Cards</h4>-->
      <div class="col-md-12 col-sm-12">
        <table class="no-borders">
          <tr>
            <td>0.7</td>
            <td>0.06</td>
            <td><abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr></td>
            <td><abbr title="nine tenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>10</sub></span></abbr></td>
            <td><abbr title="fifteen sixteenths" class="abbr-frac"><span class="frac"><sup>15</sup><span>&frasl;</span><sub>16</sub></span></abbr></td>
            <td>0.01</td>
            <td>0.4</td>
            <td><abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr></td>
            <td><abbr title="one one-hundredths" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>100</sub></span></abbr></td>
            <td><abbr title="five eights" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>8</sub></span></abbr></td>
            <td><abbr title="twenty-nine twenty-ninths" class="abbr-frac"><span class="frac"><sup>29</sup><span>&frasl;</span><sub>29</sub></span></abbr></td>
            <td>0.95</td>
            <td><abbr title="six eights" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>8</sub></span></abbr></td>
          </tr>
        </table>
        <!--<h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 3.1 Number Line Cards</h4>-->
      <div class="col-md-12 col-sm-12">
        <table class="numbers-table">
          <tr>
            <td><abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr></td>
            <td><abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr></td>
            <td><abbr title="three quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr></td>
            <td><abbr title="nine tenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>10</sub></span></abbr></td>
          </tr>
          <tr>
            <td>0.33</td>
            <td>0.59</td>
            <td>1%</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>0.45</td>
            <td>90%</td>
            <td>100%</td>
            <td><abbr title="eighty hundredths" class="abbr-frac"><span class="frac"><sup>80</sup><span>&frasl;</span><sub>100</sub></span></abbr></td>
          </tr>
          <tr>
            <td><abbr title="four tenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>10</sub></span></abbr></td>
            <td>your choice:</td>
            <td>your choice:</td>
            <td>your choice:</td>
          </tr>
        </table>
      </div>
      </div>
      </section>
    </section>

    <section class="row">
      <div class="col-md-12 col-sm-12">
        <table class="numbers-table">
          <tr>
            <td><abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr></td>
            <td><abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr></td>
            <td><abbr title="three quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr></td>
            <td><abbr title="nine tenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>10</sub></span></abbr></td>
          </tr>
          <tr>
            <td>0.33</td>
            <td>0.59</td>
            <td>1%</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>0.45</td>
            <td>90%</td>
            <td>100%</td>
            <td><abbr title="eighty hundredths" class="abbr-frac"><span class="frac"><sup>80</sup><span>&frasl;</span><sub>100</sub></span></abbr></td>
          </tr>
          <tr>
            <td><abbr title="four tenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>10</sub></span></abbr></td>
            <td>your choice:</td>
            <td>your choice:</td>
            <td>your choice:</td>
          </tr>
        </table>
      </div>
    </section>
  </section>

  <!-- PDF page 6 -->
  <section class="pdf-page">
    <section class="row">
      <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Equivalency in Fractions: Day 4:</h2>
    </section>

    <section class="row table-responsive">
      <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
        <!-- First Row - Time Stamp and Lea rning Goal -->
        <tr>
          <td>
            <p>60 min</p>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
            <p>Students will:</p>
            <ul>
              <li>Investigate relationships among fractions, decimals and percentages</li>
              <li>reason about the connection between the intervals on the number line and the denominator</li>
            </ul>
          </td>
          <td>
            <p><strong style="text-decoration: underline;">Materials</strong></p>
          </td>
        </tr> <!-- End First Row -->
        <!-- Second Row - Minds on... -->
        <tr>
          <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
          <td>
            <p><strong>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Journal</strong></p>
            <p>Students respond to this prompt:
            “What is the relationship between fractions, decimals and percentages?”</p>
          </td>
          <td class="section-border-bottom-none">
            <p><a href="http://illuminations.nctm.org/LessonDetail.aspx?id=L784" target="_blank">Comparing and Ordering Number Lines:</a></p>
          </td>
          <td class="section-border-bottom-none"></td>
        </tr> <!-- End Second Row -->
        <!-- Third Row - Action! -->
        <tr>
          <td>
            <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
          </td>
          <td>
            <p><strong>Pairs<i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</strong></p>
            <p>Instruct students to draw two number lines and then place the numbers in the proper place.</p>
            <ol>
              <li>0,1,50%,75%,<abbr title="four eights" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>8</sub></span></abbr>,0.50,0.25,40%</li>
              <li>0,50%,2,1.05,1.10,13%,25%<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>,<abbr title="nine tenths" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>10</sub></span></abbr>,84%,1.9,0.6</li>
            </ol>
            <p>If students are struggling it may be helpful to ask them what strategies they have used in previous lessons to order numbers and to determine equivalency between the different number systems (fractions, decimals and percentages).</p>
            <p><strong>Small Groups <i class="fa fa-arrow-right" aria-hidden="true"></i> Exploration</strong></p>
            <p>Distribute envelopes containing Set A or Set B below of eight fractions in numerical form to pairs. Students decide how they will place their set of fractions on a number line. Remind students that they may need to make more than one number line to help show fractions that are equivalent.</p>
            <p>[Set A: <abbr title="two fourths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>, <abbr title="two sixths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>6</sub></span></abbr>, <abbr title="three fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="six eighths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="five tenths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>10</sub></span></abbr>, <abbr title="three ninths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>9</sub></span></abbr>]</p>
            <p>[Set B: <abbr title="eight sixths" class="abbr-frac"><span class="frac"><sup>8</sup><span>&frasl;</span><sub>6</sub></span></abbr>, 1 <abbr title="two sixths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>6</sub></span></abbr>, 1 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>, <abbr title="four thirds" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>3</sub></span></abbr>, <abbr title="five eighths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="two eighths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>]</p>
          </td>
          <td class="section-border-bottom-none section-border-top-none background-color-white">

          </td>
        </tr> <!-- End Third Row -->
        <!-- Fourth Row - Consolidate/Debrief -->
        <tr>
          <td>
            <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
          </td>
          <td>
            <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Anchor Chart</p>
            <p>Create an anchor chart which highlights key properties of each number system (e.g., % means ‘out of 100’, 0.5 is read ‘five tenths’ so it is a fraction with a denominator of 10) and outlines strategies for comparison/conversion between fractions, percentages and decimals.</p>
            <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
            <ul>
              <li>How did you decide whether to do one / two / three number lines?</li>
              <li>How are your number lines like the fraction towers?</li>
              <li>Which numbers were easy to place?</li>
              <li>What did you find challenging?</li>
              <li>What questions do you still have about equivalent fractions?</li>
            </ul>
          </td>
          <td class="section-border-top-none"></td>
        </tr> <!-- End of Fourth Row -->
        <!-- Fifth Row - Further Consolidation -->
        <tr>
          <td></td>
          <td>
            <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>
            <p>Students complete textbook questions that require them to convert between fractions, decimals and percentages.</p>
          </td>
          <td></td>
        </tr> <!-- End Fifth Row -->
      </table>
    </section>
  </section>

  <!-- PDF page 7 -->
  <section class="pdf-page">
    <section class="row">
      <h4 class="title-blue-2">Additional Equivalent Fractions Activities:</h4>
      <p>[Choose from these for students who need more practice, or an extension.]</p>

      <p>Choose a fraction. Show as many equivalent fractions as you can, using the manipulatives provided.</p>

      <p>What do you notice about the numerator and denominator in the fractions <abbr title="three fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></abbr> and <abbr title="twelve twentieths" class="abbr-frac"><span class="frac"><sup>12</sup><span>&frasl;</span><sub>20</sub></span></abbr>?</p>

      <p>You have a bag of marbles. There are 5 black and 5 white marbles in the bag. What is the probability of getting a black? Now, if you remove one black and one white (4 of each), what is the probability of pulling out a black? What about 3 of each? What do you notice?</p>

      <p>Look at the two granola bars. Sue says that the two bars both show <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></abbr> of the granola bar is shaded. Mitchell says that the fractions are different. Who is right?</p>
      <figure class="padding-bottom">
        <img src="/images/tasks/Lessons/equivFrac3.png" alt="" class="img-responsive margin-auto">
      </figure>

      <p>Jian threw his paper airplane 0.66 m and Sylvain threw his <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></abbr> of a meter. Whose airplane went the farthest?</p>

      <p>(Other examples: 0.75 and <abbr title="three fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></abbr>; 0.2 and <abbr title="two tenths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>10</sub></abbr>; 1.25m and <abbr title="five fourths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>4</sub></abbr>)</p>
    </section>
  </section>
<%- include partials/footer.ejs%>
