<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="">Home</a></li>
    <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item"><a href="./digitalTasks">Lessons</a></li>
    <li class="breadcrumb-item active">Ordering on a Number Line (Gr 7)</li>
</ol>

<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>Ordering on a Number Line (Gr 7)</h1>
    </div>
  </section>

  <!-- First Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1"><h4>Unit Ordering Fractions: Day 1: Number Lines</h4></a>
      </div>
      <section id="collapse1" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Materials</h4>
              <ul>
                <li>smart notebook file: Number Lines</li>
                or
                <li><abbr title="Blackline Master">BLM</abbr> 1.1</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals:</h4>
              <p>Students will:</p>
              <ul>
                <li>Connect the meaning of the denominator of a fraction to the number of equal partitions between 0 and 1 on a number line</li>
                <li>Represent fractions on a number line, using benchmarks to check precise and approximate placements, in order to compare and order the fractions</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-green">Minds On...</span> <span class="title-dark">(15 minutes)</span></h4>
              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Guided Activity</p>
              <p>Construct a number line from 0 to 1 on the board. Tell students that they will be placing the fractions <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr>, <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr>, <abbr title="two fourths"><sup>2</sup>/<sub>4</sub></abbr>, <abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr>, <abbr title="three eighths"><sup>3</sup>/<sub>8</sub></abbr>, <abbr title="one fifth"><sup>1</sup>/<sub>5</sub></abbr>, <abbr title="sixteen twentieths"><sup>16</sup>/<sub>20</sub></abbr>, <abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr> on the number line. Have a student select one of the fractions to label on the number line in the appropriate location. Probe their understanding using the following prompts:</p>
              <ul>
                <li>Why did you select that fraction to place?</li>
                <li>What was your reasoning for placing it where you did?</li>
                <li>What strategy might you use to decide if the fraction is closer to 0, <abbr title="one half">½</abbr> or a whole number?</li>
                <li>What was ______ doing as s/ he figured out where to position <abbr title="four fifths"><sup>4</sup>/<sub>5</sub></abbr>? How was that reasoning helpful?</li>
                <li>How is finding the halfway point helpful? Are there other benchmark fractions that were helpful to you?</li>
              </ul>
              <p>Continue with different students until all fractions are placed. It may be necessary to remind students that they should be dividing the number line into the same number of spaces as the denominator and that it may be useful to consider benchmarks to help place unusual fractions.</p>

              <p>Adapted from: <a href="http://illuminations.nctm.org/LessonDetail.aspx?id=L784">Comparing and Ordering Number Lines:</a></p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-red">Action!</span> <span class="title-dark">(30 minutes)</span></h4>
              <p>Small Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Practice Activity</p>
              <p>Using large pieces of paper,students create three same length number lines, labeled as indicated in <abbr title="Blackline Master">BLM</abbr> 1.1. Ask students to place the corresponding fractions on the number line. They must be prepared to justify their thinking as to why they placed it there.
              Probe student thinking with the following prompts:</p>
              <ul>
                <li>How did you decide where it went?</li>
                <li>Is there a unit fraction that would help you place this fraction more accurately?</li>
                <li>Is your fraction more than 1 or less than 1?</li>
                <li>Compare your number lines with a different group. Explain your reasoning why you placed the fractions where you did.</li>
                <li>What strategies did you use to decide where the fraction should be placed?</li>
              </ul>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(15 minutes)</span></h4>

              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Anchor Chart</p>
              <p>Record student responses to: What are some rules or tips for placing rational numbers on a number line? Add the key terms (to the right) as the students share it:</p>

              <p>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Journal</p>
              <p>In your math journal, draw a number line and place the given numbers on it. Justify why you placed them where you did. Be sure to use appropriate math language.</p>
              <ul>
                <li>benchmark fractions (<abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr>,<abbr title="one third"><sup>1</sup>/<sub>3</sub></abbr>,<abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr>,<abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr>,<abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr>, 1 whole)</li>
                <li>denominator</li>
                <li>numerator</li>
                <li>decimals</li>
                <li>proper fraction</li>
                <li>improper fraction</li>
                <li>greater than</li>
                <li>less than</li>
                <li>benchmark fractions</li>
              </ul>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>

  <!-- Second Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse2"><abbr title="Blackline Master"><h4><abbr title="Blackline Master">BLM</abbr> 1.1: Number Lines</h4></a>
      </div>
      <section id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Label each of your number lines as shown below and place the corresponding fractions accordingly.</p>
          <h4>First number line</h4>

          <p>Show where these fractions are located and be prepared to explain your reasoning.</p>
          <p>All students: <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr>, <abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr>, <abbr title="four fifths"><sup>4</sup>/<sub>5</sub></abbr>, <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr></p>
          <p>Your choice: <abbr title="seventeen twentieths"><sup>17</sup>/<sub>20</sub></abbr>, <abbr title="three eighteenths"><sup>3</sup>/<sub>18</sub></abbr>, <abbr title="sixteen thirty-fifths"><sup>16</sup>/<sub>35</sub></abbr>, <abbr title="thirty-six ninety-seconds"><sup>36</sup>/<sub>92</sub></abbr></p>


          <h4>Second number line</h4>
          <img src="" alt="" height="" width="" />

          <p>Show where these fractions are located and be prepared to explain your reasoning.</p>
          <p>All students: <abbr title="eight tenths"><sup>8</sup>/<sub>10</sub></abbr>, <abbr title="three eighths"><sup>3</sup>/<sub>8</sub></abbr>, <abbr title="one fifth"><sup>1</sup>/<sub>5</sub></abbr> , <abbr title="six fourths"><sup>6</sup>/<sub>4</sub></abbr></p>
          <p>Your choice: <abbr title="twenty-nine eighty-thirds"><sup>29</sup>/<sub>83</sub></abbr>, <abbr title="thirteen eighteenths"><sup>13</sup>/<sub>18</sub></abbr>, <abbr title="fifty-seven ninety-seconds"><sup>57</sup>/<sub>92</sub></abbr></p>

          <h4>Third number line</h4>
          <img src="" alt="" height="" width="" />
          <p>Show where these fractions are located and be prepared to explain your reasoning.</p>
          <p>All students: <abbr title="eight fourths"><sup>8</sup>/<sub>4</sub></abbr>, <abbr title="ten fourths"><sup>10</sup>/<sub>4</sub></abbr>, <abbr title="fifteen halves"><sup>15</sup>/<sub>2</sub></abbr>, <abbr title="fifty tenths"><sup>50</sup>/<sub>10</sub></abbr>, <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr>, <abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr></p>
          <p>Your choice: <abbr title="thirty-three eighths"><sup>33</sup>/<sub>8</sub></abbr></p>
        </div>
      </section>
    </div>
  </section>

  <!-- Third Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse3"><h4>Unit Ordering Fractions: Day 2: Number Lines with Decimals</h4></a>
      </div>
      <section id="collapse3" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Materials</h4>
              <ul>
                <li>fraction strips</li>
                <li>fraction towers/circles</li>
                <li>base ten blocks</li>
                <li>number lines</li>
                <li>hundred board</li>
                <li>money</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals:</h4>
              <p>Students will:</p>
              <ul>
                <li>Connect the meaning of the denominator of a fraction to the number of equal parts between 0 and 1 into which a number line is partitioned</li>
                <li>Represent fractions on a number line, using benchmarks to check precise and approximate placements in order to compare and order the fractions</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-green">Minds On...</span> <span class="title-dark">(10 minutes)</span></h4>
              <p>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Match Activity</p>
              <p>Students use 0.5, 0.75, 0.25, 1.0, <abbr title="three fourhts"><sup>3</sup>/<sub>4</sub></abbr>, <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr>, 1, <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr>
              To match the fractions with their equivalent decimal representations.
              Probe student thinking using the following prompts:</p>
              <ul>
                <li>Why did you put those two together?</li>
                <li>How do you know they have the same value / or they represent the same amount?</li>
                <li>Explain a connection to fair sharing, money or to a manipulative.</li>
              </ul>

              <p>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Students place the previous set of fractions and decimals on a number line labelled from 0 to 1. Probe student thinking using the following prompts:</p>
              <ul>
                <li>What was your reasoning for placing the numbers there?</li>
                <li>What strategy might you use to decide if the decimal card is closer to 0 or 1?</li>
                <li>What was ____ doing as s/he figured out where to place 0.75? How did that reasoning help ____?</li>
                <li>How is finding the halfway point helpful?</li>
              </ul>

              <p><a href="http://illuminations.nctm.org/LessonDetail.aspx?id=L784">Comparing and Ordering Number Lines:</a></p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-red">Action!</span> <span class="title-dark">(40 minutes)</span></h4>
              <p>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Consider whether it is more appropriate to pair students as: strong/strong and weak/weak, or weak/strong for this activity. Provide pairs with a copy of <abbr title="Blackline Master">BLM</abbr> 2.1. Circulate and ask probing questions where you detect misunderstanding, confusion, or lack of detail. Encourage early finishers to try a second choice in question 2. Decide whether or not there is value in whole class discussion of question 1.</p>

              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Malk Learning Community</p>
              <p>Ask an appropriate pair to present their thinking about question 2A, encouraging classmates to question statements and illustrations they do not understand. Repeat for 2B and 2C.</p>
              <p>Note that all fractions in 2A and 2B are all equivalent, but not so in 2C.</p>

              <p>An implementation trajectory for Math Talk Learning Community can be found at http://www.edugains.ca/resources/LeadingChange/KeyDirectionsandFrameworks/MathTalkLearningCommunityResearchSynopsis.pdf</p>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(10 minutes)</span></h4>
              <p>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Exit Card</p>
              <p>Record your response to the following prompt. You will be asked to hand this in before leaving. Frank now thinks that <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr>, 0.5 and <abbr title="four sixteenths"><sup>4</sup>/<sub>16</sub></abbr> would all be placed in the same location on the number line. Do you agree or disagree?  Explain your thinking in more than one way. This can be assessed using the following criteria. Does the student:</p>
              <ul>
                <li>understand that the three numbers do not all represent the same amount?</li>
                <li>convert between fractions and decimals?</li>
                <li>use manipulatives and/or diagrams to support their thinking?</li>
                <li>make connections to benchmarks and/or real life situations (<abbr title="For example">e.g.</abbr> money, <abbr title="one half"><sup>1</sup>/<sub>2</sub>?)?</li>
              </ul>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>

  <!-- Fourth Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse4"><abbr title="Blackline Master"><h4>BLM</abbr> 2.1: Decimals and Fractions on the Number Line</h4></a>
      </div>
      <section id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
            <li>Place the following numbers on the number line above.
              <ol>
                <li>0.9</li>
                <li>0.2</li>
                <li>0.4</li>
                <li><abbr title="nine tenths"><sup>9</sup>/<sub>10</sub></abbr></li>
                <li><abbr title="seven tenths"><sup>7</sup>/<sub>10</sub></abbr></li>
              </ol>
            </li>
            <li>Choose one of the following questions, and answer it in the space below.
              <ol>
                <li>Frank says that <abbr title="six twelfths"><sup>6</sup>/<sub>12</sub></abbr>, <abbr title="two fourths"><sup>2</sup>/<sub>4</sub></abbr>, and 0.5 can all be represented in the same place on our number line. Do you agree/disagree? Why?</li>
                <li>Frank says that <abbr title="nine twelfths"><sup>9</sup>/<sub>12</sub></abbr>, <abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr> and 0.75 can all be represented in the same place on our number line. Do you agree/disagree? Why?</li>
                <li>Frank says that 0.666, <abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr> and <abbr title="thirty-two fourty-fifths"><sup>32</sup>/<sub>45</sub></abbr> can all be represented in the same place on our number line. Do you agree/disagree? Why?</li>
              </ol>
            </li>
          </ol>
        </div>
      </section>
    </div>
  </section>

  <!-- Fifth Arcodeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse5"><h4>Unit Ordering Fractions: Day 3: Number Lines - multiple number systems</h4></a>
      </div>
      <section id="collapse5" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Materials</h4>
              <ul>
                <li>fraction strips</li>
                <li>fraction towers/circles</li>
                <li>base ten blocks</li>
                <li>number lines</li>
                <li>hundred board</li>
                <li>Strip from <abbr title="Blackline Master">BLM</abbr> 3.1</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals</h4>
              <p>Students will:</p>
              <ul>
                <li>reason as they place fractions and decimals on a number line</li>
                <li>connect different representations of the same number</li>
                <li>communicate their rationale, including their use of benchmark numbers</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-green">Minds On...</span> <span class="title-dark">(20 minutes)</span></h4>
              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Matching Activity</p>
              <p>Each student receives one card and circulates amongst classmates to match the numerical value of their representation to three other students in the room. Once completed correctly, each group will have a hundreds grid, fraction card, decimal number and hundredths card representing the same number.</p>

              <p>Small Groups <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Once groups have been formed, students share the card they have and everything they notice about their card.
              Sentence starters include:</p>
              <ul>
                <li>I think my card belongs here because …</li>
                <li>I see how my representation connects to _____’s card because …</li>
                <li>My representation is the similar to _____’s because …</li>
                <li>My representation is different than _____’s since …</li>
                <li>Something I noticed about all four representations is …</li>
              </ul>

              <p>Cards can be found on page 51 of The Guide to Effective Instruction (<abbr title="Volume">Vol</abbr>. 6); 7 sets makes a class of 28 in groups of 4; see <abbr title="page">pg.</abbr> 59-63 in the Guide for more details.</p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-red">Action!</span> <span class="title-dark">(30 minutes)</span></h4>
              <p>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Provide students with a set of cards (<abbr title="Blackline Master">BLM</abbr> 3.1). Have them place each card on a number line. Inform them that they will be required to justify their reasoning.</p>
              <p>Circulate to support and extend student understanding using the following types of questions:</p>
              <ul>
                <li>Which number representations do you know and recognize?</li>
                <li>What strategies could you use to place the other ones?</li>
                <li>How can you use benchmarks to help you place some of the other ones?</li>
                <li>Which representations show the same amount?</li>
                <li>Is there a fraction that is close to 1?</li>
                <li>Is there a fraction that is close to 0?</li>
              </ul>
              <p>Provide students with a mixture of representations (fractions, decimals, hundreds grid, hundredths card) In pairs students place these on a number line- justifying their reasoning.</p>
              <p><abbr title="fifty one hundredths"><sup>50</sup>/<sub>100</sub></abbr>, <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr>,.5, <abbr title="eighty one hundredths"><sup>80</sup>/<sub>100</sub></abbr>, <abbr title="four fifths"><sup>4</sup>/<sub>5</sub></abbr>, .8 <abbr title="five twenty-fifths"><sup>5</sup>/<sub>25</sub></abbr>, (need to add other numbers)</p>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(10 minutes)</span></h4>
              <p>Independent <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Journal</p>
              <p>Show 6 different representations with two that don’t belong. Explain which representations go together and why.</p>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>

  <!-- Sixth Arcordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse6"><abbr title="Blackline Master"><h4>BLM</abbr> 3.1: Fractions on the Number Line</h4></a>
      </div>
      <section id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
          <table>
            <tr>
              <td>0.7</td>
              <td>0.06</td>
              <td><abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr></td>
              <td><abbr title="nine tenths"><sup>9</sup>/<sub>10</sub></abbr></td>
              <td><abbr title="fifteen sixteenths"><sup>15</sup>/<sub>16</sub></abbr></td>
              <td>0.01</td>
              <td>0.4</td>
              <td><abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr></td>
              <td><abbr title="one one-hundredth"><sup>1</sup>/<sub>100</sub></abbr></td>
              <td><abbr title="five eighths"><sup>5</sup>/<sub>8</sub></abbr></td>
              <td><abbr title="twenty-nine twenty-ninths"><sup>29</sup>/<sub>29</sub></abbr></td>
              <td>0.95</td>
              <td><abbr title="six eighths"><sup>6</sup>/<sub>8</sub></abbr></td>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </section>

  <!-- Seventh Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse7"><h4>Unit Ordering Fractions: Day 4:</h4></a>
      </div>
      <section id="collapse7" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals</h4>
              <p>Students will:</p>
              <ul>
                <li>Investigate relationships among fractions, decimals and percentages</li>
                <li>reason about the connection between the intervals on the number line and the denominator</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-green">Minds On...</h4>
              <p>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Journal</p>
              <p>Students respond to this prompt:
              “What is the relationship between fractions, decimals and percentages?”</p>
              <p><a href="http://illuminations.nctm.org/LessonDetail.aspx?id=L784">Comparing and Ordering Number Lines:</a></p>
            </div>
          </section>
              
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-red">Action!</h4>
              <p>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Instruct students to draw two number lines and then place the numbers in the proper place.</p>
              <ol>
                <li>0, 1, 50%, 75%, <abbr title="four eighths"><sup>4</sup>/<sub>8</sub></abbr>, 0.50, 0.25, 40%</li>
                <li>0, 50%, 2, 1.05, 1.10, 13%, 25%, <abbr title="one third"><sup>1</sup>/<sub>3</sub></abbr>, <abbr title="nine tenths"><sup>9</sup>/<sub>10</sub></abbr>, 84%, 1.9 , 0.6</li>
              </ol>

              <p>If students are struggling it may be helpful to ask them what strategies they have used in previous lessons to order numbers and to determine equivalency between the different number systems (fractions, decimals and percentages).</p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-2">Consolidate Debrief</h4>
              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Anchor Chart</p>
              <p>Create an anchor chart which highlights key properties of each number system (<abbr title="For example">e.g.</abbr>, % means ‘out of 100’, 0.5 is read ‘five tenths’ so it is a fraction with a denominator of 10) and outlines strategies for comparison/conversion between fractions, percentages and decimals.</p>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-2">Practice</h4>
              <p>Home Activity or Further Classroom Consolidation</p>
              <p>Students complete textbook questions that require them to convert between fractions, decimals and percentages.</p>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>
<%- include partials/footer.ejs%>