<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/brownie">UNIT B Brownie Sharing</a></li>
    <li><a href="/tasks/brownieImplementation">Brownie Sharing Implementation</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/6FvtlNvJFnM" frameborder="0" allowfullscreen></iframe>

<!-- Insert transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>Pretty Powerful Paper Folding Video Transcript</h2>

        <table>
          <tr>
              <th>Time</th>
              <th>Transcript</th>
          </tr>
          <tr>
            <td>0:00</td>
            <td>
              Student 1: I had to fold it into ninths so can I show you how I did it?
            Teacher: Sure.
            Student 1: I folded it into three and then I folded that into three so that is nine.  Yeah.
            Teacher:  What did you fold into three?
            Student 1:  This.  I don’t know I folded this piece of paper into three and then I took that length and I folded it into another three and I got nine.
        </td>
          </tr>
          <tr>
            <td>0:29</td>
            <td>
              Teacher: How are you folding your strip into ninths?  What did you do?
            Student 2:  I am folding them like a fan.
            Teacher: OK.  How did you know where to start?
            Student 2: At the 22 mm and then I started folding back and forth cause if you fold like this they start getting bigger every time (showing a ‘roll’ fold).
            Teacher: So by going back and forth in a fan design, you keep them as accurate as possible?
            Student 2: Yeah.
            Teacher:  I will be interested to see what it looks like at the end.
            Student 2:  And it ends up (unfolding it).
            Teacher: Do you want to check to make sure?
            Student 2: (placing alongside ruler) One. Two. Three. Four. Five. Six. Seven. Eight. Nine. Ten.
        </td>
          </tr>

        </table>

      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs%>
