<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./paperFold">COMP E Pretty Powerful Paper Folding</a></li>
</ol>

<main class="container dot-lists pdf-page">
<!-- Insert content here-->
<h1>Pretty Powerful Paper Folding</h1>

<img src="/images/tasks/taskpicturePaper.jpg" alt="Task" height="" width="300"  style="float: right;padding-left: 20px;" />
<strong>Description</strong>
<p>Students fold colourful paper strips into equal parts that represent unit fractions and label the folded pieces using
symbolic notation. These strips are powerful visual tools that allow students to see the relative size of fractional
pieces, which allows them to compare familiar fractional quantities.</p>

<strong>Mathematics</strong>
<p>Current educational and classroom research strongly highlights the importance of developing a sense of a fraction being
a size as well as being a quantity. Creating fraction strips through paper folding provides students with the opportunity
to visualize fractional size, and once stacked, allows students to see equivalency as a way of naming the same size
of linear area using a different amount of units(<abbr title="For example">e.g.</abbr>
, the size of <abbr title="two fourths">2&frasl;4</abbr> is the same as the size of <abbr title="one half">½</abbr> but their units
are different).</p>

<strong>Curriculum Connections</strong>
<p>Students will:</p>
<ul>
<li>demonstrate and explain the concept of equivalent fractions, using concrete materials (<abbr title="For example">e.g.</abbr>
, use fraction strips
    to show that <abbr title="three fourths">¾</abbr> is equal to <abbr title="nine twelths">9&frasl;12</abbr> );</li>
<li>explain equivalence of fractions and compare fractions by reasoning about their size;</li>
<li>understand two fractions as equivalent if they are the same size or fractional region of the whole;</li>
<li>develop an understanding of the relative size of unit fractions based on the digit in the denominator.</li>
</ul>

<strong>Instructional sequence</strong>
<ol>
<li>If necessary, demonstrate how to fold a paper strip by aligning the edges precisely.</li>
<li>Distribute materials to pairs of students and post the fractional units that the strips are to be partitioned into.</li>
<li>Allow students time to fold their strips into the various fractional units. Encourage discussion about patterns students
    are seeing, how they are folding etc. Once they are happy with the folds they have created, they should label
    the fractional units onto their strips.</li>
<li>Once all strips have been folded, discuss as a whole group what went well and what didn’t go well.</li>
<li>Have some students stand side by side and hold different strips that show equivalency.</li>
<li>Have students organize and then glue their paper folded strips into a vertical sequence.</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking </strong>
<p>Students may: </p>
<ul>
<li>fold in one direction or in two directions; </li>
<li>use repeated doubling by folding
in half and then again in half; </li>
<li>struggle to equi-partition for fractional units like thirds and fifths; </li>
<li>articulate that as they are folding more pieces the pieces are getting smaller; </li>
<li>notice that the number of folds is one less than the number of total pieces being constructed for folds in the same direction; </li>
<li>need to make several attempts at accurately folding the strips. </li>
<li>fold without attention to equi – partitioning; </li>
<li>label each partition as one of the unit they are writing (<abbr title="For example">e.g.</abbr>
<abbr title="one third">1&frasl;3</abbr> , <abbr title="one third">1&frasl;3</abbr> , <abbr title="one third">1&frasl;3</abbr> ) or as a count (<abbr title="For example">e.g.</abbr>
, <abbr title="one third">1&frasl;3</abbr> , <abbr title="two thirds">2&frasl;3</abbr> , <abbr title="three thirds">3&frasl;3</abbr> ). </li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions </strong>
<ol>
<li>Can you visualize what your strip
is going to look like when done, before you fold it? </li>
<li>What do you notice about your strip when you open it back up
after folding it? </li>
<li>Do you see any patterns in your action and your results? </li>
<li>What fractional pieces are the easiest
to fold and create? </li>
<li>Do you see any equivalent sized folds (regions)? </li>
</ol>
  </div>
</div>

<strong>Materials </strong>
<ul>
<li>Eight different coloured strips per
student, with extras for errors </li>
<li>Post: To be folded as follows: 1 whole, halves, thirds, fourths, fifths, sixths, eighths
and tenths.</li>
</ul>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Student Thinking</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

      <img src="/images/tasks/PrettyPowerfulPaperFolding.png" alt=" " />
<p>To download a copy of this .pdf, click <a href="/pdf/PrettyPowerfulPaperFolding.pdf" target="_blank" rel="PDF File">here</a>.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6FvtlNvJFnM" frameborder="0" allowfullscreen></iframe>

<!-- Insert transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse0">Transcript</a>
      </h4>
    </div>
    <div id="collapse0" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>Pretty Powerful Paper Folding Video Transcript</h2>

        <table>
          <tr>
              <th>Time</th>
              <th>Transcript</th>
          </tr>
          <tr>
            <td>0:00</td>
            <td>
              Student 1: I had to fold it into ninths so can I show you how I did it?
            Teacher: Sure.
            Student 1: I folded it into three and then I folded that into three so that is nine.  Yeah.
            Teacher:  What did you fold into three?
            Student 1:  This.  I don’t know I folded this piece of paper into three and then I took that length and I folded it into another three and I got nine.
        </td>
          </tr>
          <tr>
            <td>0:29</td>
            <td>
              Teacher: How are you folding your strip into ninths?  What did you do?
            Student 2:  I am folding them like a fan.
            Teacher: OK.  How did you know where to start?
            Student 2: At the 22 mm and then I started folding back and forth cause if you fold like this they start getting bigger every time (showing a ‘roll’ fold).
            Teacher: So by going back and forth in a fan design, you keep them as accurate as possible?
            Student 2: Yeah.
            Teacher:  I will be interested to see what it looks like at the end.
            Student 2:  And it ends up (unfolding it).
            Teacher: Do you want to check to make sure?
            Student 2: (placing alongside ruler) One. Two. Three. Four. Five. Six. Seven. Eight. Nine. Ten.
        </td>
          </tr>

        </table>

      </div>
    </div>
  </div>
</div>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Additional Resources</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
<div class="row">

  <a href="/supportDocs/purpRep">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" height="100px" width="100px" >
        <div class="caption">
          <h3>Purposeful Representations</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/devPartItDisembed">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="100px">
        <div class="caption">
          <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildUnitFrac">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Building Understanding of Unit Fractions</h3>
        </div>
      </div>
    </div>
  </a>


</div>
      </div>
    </div>
  </div>
</div>

</main>
<%- include partials/footer.ejs%>
