<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fraction Pathways Tasks</a></li>
</ol>


<main class="container">

<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="row">
<a href="/tasks/unit">
  <div class="col-md-4">
    <div class="thumbnail small-thumb green">
      <div class="caption">
        <h2>Unit Fractions</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>


<a href="/tasks/comp">
  <div class="col-md-4">
    <div class="thumbnail small-thumb blue">
      <div class="caption">
        <h2>Comparing Fractions</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>


<a href="/tasks/op">
  <div class="col-md-4">
    <div class="thumbnail small-thumb orange">
      <div class="caption">
        <h2>Operations with Fractions: Addition and Subtraction</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>
  </div>


<%- include partials/footer.ejs%>
