<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item active">Classroom Resources</li>
</ol>


<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>Classroom Resources</h1>
    </div>
  </section>
  
  <!-- <section class="row">
    <a href="/tasks/unit">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail small-thumb green">
          <div class="caption">
            <h2>Unit Fractions</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="/tasks/comp">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail small-thumb blue">
          <div class="caption">
            <h2>Comparing Fractions</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="/tasks/op">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail small-thumb orange">
          <div class="caption">
            <h2>Operations with Fractions: Addition and Subtraction</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
  </section> -->

  <section class="row classrom-resources-list">

    <div class="col-sm-4 col-md-4 display-flex">
      <div class="thumbnail">
        <h3 class="unit"><a href="./brownie">Brownie Sharing</a></h3>
        <p>Students use paper folding to partition a pan of brownies (a sheet of rectangular paper) into 4, then 8, then 10 equal portions through a simple storyline the teacher tells.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/unit/brownieSharing.png" alt="Unit B Brownie Sharing" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="op"><a href="./buildStage">Building a Stage</a></h3>
        <p>Students will determine an unknown measure by using a tape measure as a number line. Within the context of building a stage using layers of different wood, students will find the sum of friendly but unlike denominators. This will help them to understand the need for common units (denominators) when adding fractions.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/op/buildingStage.jpg" alt="Op D Building a Stage" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="op"><a href="./buildFlags">Building Flags</a></h3>
        <p>Students use their spatial reasoning and creative thinking to design a flag given a variety of pre-cut and coloured shapes. Students investigate and determine what fraction of the whole flag the coloured shapes represent.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/op/buildingFlags.png" alt="Op B Building Flags" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-sm-4 col-md-4 display-flex">
      <div class="thumbnail">
        <h3 class="unit"><a href="./changeWholes">Changing Wholes</a></h3>
        <p>Students use pattern blocks as area models to compare fractional regions and explore how the regions change in relation to the whole.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/unit/changingWholes.png" alt="Unit F Changing Wholes" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="comp"><a href="../tasks/comparingFractionsTask">Comparing Fractions Task</a></h3>
        <p>This is a set of prompts consisting of purposefully paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness.</p>
        <figure class="bottom-margin">
          <img src="/images/tasks/Comparing_Fractions_Task.jpg" alt="COMP E Comparing Fractions Task" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-sm-4 col-md-4 display-flex">
      <div class="thumbnail">
        <h3 class="unit"><a href="./countGame">Counting Game</a></h3>
        <p>Students “count up” using unit fractions (for example, <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr>, <abbr title="one third"><sup>1</sup>/<sub>3</sub></abbr>, <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr>, <abbr title="one eighth"><sup>1</sup>/<sub>8</sub></abbr> , <abbr title="etcetera">etc.</abbr>). The students or teacher can choose any unit fractions, and the teacher or students can set game rules such as: "When you get to one whole, stand up and state the quantity as both a fraction and as a whole". Note: this game is similar to a well-known number game called BUZZ.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/unit/countingGame.png" alt="Unit D Counting Game" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-sm-4 col-md-4 display-flex">
      <div class="thumbnail">
        <h3 class="unit"><a href="./desktopFrac">Desktop Fractions</a></h3>
        <p>Using their desks or tables, students will estimate and mark fractional amounts along the edge as a linear measure and on the top surface as an area measure. This task is best used after a solid understanding of number line has been established.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/unit/deskTopFraction.png" alt="Unit B Desktop Fractions" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="comp"><a href="../tasks/equivalencyComp">Equivalency Comparisons</a></h3>
        <p>This is a set of prompts consisting of purposely paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding. Encourage students to build models/representations and create contexts to support visualization of fractions, which in turn supports meaning-making.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/comp/Equivalency_Comparisons.jpg" alt="COMP A Equivalency Comparisons" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
   
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="comp"><a href="../tasks/familiarFractionsBenchmarksComparisons">Familiar Fractions and Benchmarks Comparisons</a></h3>
        <p>This is a set of prompts consisting of purposefully paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding.</p>
        <figure class="bottom-margin">
          <img src="/images/tasks/Equivalency-Comparisons-CompB.jpg" alt="COMP B Familiar Fractions and Benchmarks Comparisons" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-sm-4 col-md-4 display-flex">
      <div class="thumbnail">
        <h3 class="unit"><a href="./shapeSets">Fraction Shape Sets</a></h3>
        <p>In this task, students will work with a discrete (set) model of shapes with various characteristics. Students will demonstrate their understanding of fractions of a set by identifying different attributes to describe fractions. They will be using symbolic notation to record and discuss their thinking.</p>
        <figure class="bottom-margin">
          <img src="/images/tasks/shapeTask.png" alt="Unit F Fraction Shape Sets" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
   
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="comp"><a href="../tasks/generatingFractionsbetweenTwoNumbers">Generating Fractions between Two Numbers (Fraction Density)</a></h3>
        <p>This is a set of progressive prompts that will elicit the use of various strategies used to find fractions between two numbers. The prompts, when used in sequence, support students in choosing a strategy based upon the fractions being considered. Encourage students to build models/representations and create contexts to aid in visualization.</p>
        <figure class="bottom-margin">
          <img src="/images/tasks/Generating_Fractions_between_Two_Numbers.jpg" alt="COMP E Generating Fractions between Two Numbers (Fraction Density)" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>

    <!-- Still need to do the page!!! -->
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="comp"><a href="#">Grab Bag Task</a></h3>
        <p>Yet to come...</p>
        <figure class="bottom-margin">
          <img src="/images/placeholder-image.png" alt="COMP B Grab Bag Task" >
        </figure>
      </div>
    </div>
    
    <div class="col-sm-4 col-md-4 display-flex">
      <div class="thumbnail">
        <h3 class="unit"><a href="./iHave">I Have, Who Has</a></h3>
        <p>This fun and addictive ‘call and response’ game can be used as a whole group minds-on activity or an exit ticket. Students love trying to be as fast as they can to recognize what unit amount they have represented on their card. They enjoy when the entire deck of cards is successfully played from start to finish. The connection between the visual representation and an oral articulation of symbolic notation is especially evident in this task.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/unit/iHaveWhoHas.png" alt="Unit F I Have, Who Has" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="comp"><a href="../tasks/paperFold">Pretty Powerful Paper Folding</a></h3>
        <p>Students fold colourful paper strips into equal parts that represent unit fractions and label the folded pieces using symbolic notation. These strips are powerful visual tools that allow students to see the relative size of fractional pieces, which allows them to compare familiar fractional quantities.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/comp/paperFolding.jpg" alt="COMP E Pretty Powerful Paper Folding" class="img-responsive margin-auto">
        </figure>         
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="comp"><a href="../tasks/recipe">Recipe Task</a></h3>
        <p>Students will change the fractional amounts in a recipe into multiples of the unit fraction, <abbr title="One Quarter"><sup>1</sup>/<sub>4</sub>​</abbr>, in order to accurately mix ingredients using only a <abbr title="One Quarter"><sup>1</sup>/<sub>4</sub>​</abbr> measuring cup. They will be composing equivalent fractions using unit fractions and representing them in a variety of ways. As an option, the recipe can be prepared and baked by the class.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/comp/recipe.png" alt="COMP A Recipe Task" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="op"><a href="./relayRace">Relay Race</a></h3>
        <p>Students are introduced to the concept of a relay race where participants complete various fractional distances of the total. Based on two known fractional distances of a race with unlike denominators, students will determine the distances that the other runners might complete.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/op/relayRace.jpg" alt="Op D Relay Race" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 display-flex">
      <div class="thumbnail">
        <h3 class="op"><a href="./turfTouch">Turf Touchdown</a></h3>
        <p>Students represent the installation of turf, which is installed at different fractional rates each day, in a newly constructed field. By creating a model and determining common fractional units, they will be able to establish how much turf needs to be installed on the final two days.</p>
        <figure class="bottom-margin">
          <img src="/images/pathway/op/turfTouch.png" alt="Op E Turf Touchdown" class="img-responsive margin-auto">
        </figure>
      </div>
    </div>
    
    <div class="col-sm-4 col-md-4 display-flex">
      <div class="thumbnail">
          <h3 class="unit"><a href="./walkLine">Walk the Line</a></h3>
          <p>Students actively equi-partition a number line using different fractional units (e.g., halves, fifths) as they place mixed and improper fractions. Students will enjoy walking, jumping or using every day classroom items as a method of kinaesthetically partitioning a number line on the floor. This task becomes increasingly complex based upon the sets of fractions used.</p>
          <figure class="bottom-margin">
            <img src="/images/pathway/unit/walkLine.jpg" alt="Unit A Walk the Line Task" class="img-responsive margin-auto bottom-margin">
          </figure>
      </div>
    </div>
    
  </section>
<%- include partials/footer.ejs%>