<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/tasks">Activities</a></li>
    <li class="breadcrumb-item active">Tasks</li>
</ol>


<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>Tasks</h1>
    </div>
  </section>
  
  <section class="row">
    <a href="/tasks/unit">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail small-thumb green">
          <div class="caption">
            <h2>Unit Fractions</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="/tasks/comp">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail small-thumb blue">
          <div class="caption">
            <h2>Comparing Fractions</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="/tasks/op">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail small-thumb orange">
          <div class="caption">
            <h2>Operations with Fractions: Addition and Subtraction</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
  </section>
<%- include partials/footer.ejs%>