<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Fractions Learning Pathways</li>
</ol>

<main class="container" id="pathwayContainer">
  <h1>Fractions Learning Pathways</h1>

  <div class="padding-bottom" style="max-width:800px;margin:50px auto 0 auto;">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/88bOCoPBRkM?rel=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <!--Insert transcript here-->
  <div class="panel-group" style="max-width:800px;margin:0 auto;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
          <h4>Transcript</h4>
        </a>
      </div>
      <section id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p><strong>Fractions Learning Pathways Research Overview</strong></p>
          <p>&nbsp;</p>
          <table width="595">
            <tbody>
              <tr>
                <td width="97">
                  <p><strong>Time </strong></p>
                </td>
                <td width="120">
                  <p><strong>Speaker </strong></p>
                </td>
                <td width="378">
                  <p><strong>Script </strong></p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>0:05</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>My name is Cathy Bruce and this is Shelley Yearley and today we would like to talk to you about our fractions research and resource development.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>0:14</p>
                </td>
                <td width="120">
                  <p>Shelley</p>
                </td>
                <td width="378">
                  <p>This video is intended to provide you with an overview of the Fractions Learning Pathways.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>0:30</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>As you know, fractions are difficult to teach and difficult to learn. Our research team has been focusing on fractions over the past four years. We would like to share the process of developing the pathway with you now.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>0:45</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>The first step was that small teams of teachers and researchers worked together to try out different tasks, implement novel tasks that we thought might be engaging for students when learning fractions.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>1:00</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>The second step was for researchers to develop two comprehensive literature reviews, one on the foundations of fractions and the second one on operations with fractions.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>1:10</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>For step three, at this point, the researchers developed a first iteration of the pathway</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>1:16</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>The fourth step was to develop a pathway that included a series of novel fractions tasks and questions that could assess the degree of understanding of concepts and procedures in fractions.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>1:30</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>The fifth step was to field test some of the tasks along the pathway with teachers in classrooms and throughout this process the researchers and teachers gathered student information through video, photos, work samples, that
                    kind of thing.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>1:43</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>The pathway has gone through 24 revisions over time based on field testing. We are currently working on a version that includes multiplication and division with fractions.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>1:55</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>Our seventh step was to involve eight district school boards with the pathway in order to field test that pathway, combined with some pre and post-assessment tasks and all of the tasks that had been developed and field tested by
                    teachers over the years.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>2:10</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>Our last step has been to pre and post-test students as part of the learning of fractions using the pathway and we have been assessing those data to look at change over time, to assess for gender differences, to look at grade
                    differences, struggling learners versus learners who are succeeding quickly and readily accessing materials, even the quality of the tasks and the timing of the tasks has been assessed.</p>
                </td>
              </tr>
              <tr>
                <td width="97">
                  <p>2:40</p>
                </td>
                <td width="120">
                  <p>Cathy</p>
                </td>
                <td width="378">
                  <p>Through the project, we have worked with eight different school boards, seventy-five teachers, and well over 1000 students. Our longest intervention was approximately eight months and our shortest period of instruction was four
                    months. Remember with this that it was punctuated instruction, so not every day but throughout that time period.</p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
        </div>
      </section>
    </div>
  </div>

  <section>
    <p>Please Note:</p>
    <ul>
      <li>Mixed, improper and proper fractions should be interspersed throughout fractions teaching and learning so that the students build flexibility with these early.</li>
      <li>"Models" include linear, area, volume, and set representations.</li>
    </ul>
  </section>


  <section class="newPathway container-fluid">

    <section class="row gen-pdf-container" style="margin-bottom:25px;">
      <div class="gen-pdf">
        <a href="/pdf/Fractions%20Learning%20Pathway.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <div class="unitFractions">
      <a href="/pathway/unitFractions">
        <h4>Unit Fractions</h4>
      </a>

      <div class="diamond" id="unitC">
        <a href="/pathway/unitC" title="Partition unit fractions to create smaller unit fractions.">
          <h5>Unit C</h5>
          <span>Partition unit fractions to create smaller unit fractions</span>
        </a>
      </div>
      <div class="diamond" id="unitF">
        <a href="/pathway/unitF" title="Compose and decompose fractions flexibly with models and symbols.">
          <h5>Unit F</h5>
          <span>Compose and decompose fractions flexibly with models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="unitB">
        <a href="/pathway/unitB" title="Equally partition area, linear, and set models.">
          <h5>Unit B</h5>
          <span>Equally partition area, linear, and set models</span>
        </a>
      </div>
      <div class="diamond" id="unitE">
        <a href="/pathway/unitE" title="Use unit fractions to compose and decompose fractions with models and symbols.">
          <h5>Unit E</h5>
          <span>Use unit fractions to compose and decompose fractions with models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="unitA">
        <a href="/pathway/unitA" title="Use proportional reasoning to make reasonable estimates.">
          <h5>Unit A</h5>
          <span>Use proportional reasoning to make reasonable estimates</span>
        </a>
      </div>
      <div class="diamond" id="unitD">
        <a href="/pathway/unitD" title="Use unit fractions to name and count fractional amounts.">
          <h5>Unit D</h5>
          <span>Use unit fractions to name and count fractional amounts</span>
        </a>
      </div>
    </div>

    <div class="comparingFractions">
      <a href="/pathway/comparingFractions">
        <h4>Comparing Fractions</h4>
      </a>
      <div class="diamond" id="compB">
        <a href="/pathway/compB" title="Compare familiar fraction quantities with and without benchmark referents.">
          <h5>Comp B</h5>
          <span>Compare familiar fraction quantities with and without benchmark referents</span>
        </a>
      </div>
      <div class="diamond" id="compE">
        <a href="/pathway/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols.">
          <h5>Comp E</h5>
          <span>Compare fractions with unlike numerators and unlike denominators using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="compA">
        <a href="/pathway/compA" title="Generate and recognize equivalent fractions using models and symbols.">
          <h5>Comp A</h5>
          <span>Generate and recognize equivalent fractions using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="compD">
        <a href="/pathway/compD" title="Compare fractions with like numerators or like denominators using models and symbols.">
          <h5>Comp D</h5>
          <span>Compare fractions with like numerators or like denominators using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="compC">
        <a href="/pathway/compC" title="Generate fractions between any two quantities.">
          <h5>Comp C</h5>
          <span>Generate fractions between any two quantities</span>
        </a>
      </div>
    </div>

    <div class="operationsWithFractions">
      <a href="/pathway/operations">
        <h4>Operations With Fractions:<br />Addition and subtraction</h4>
      </a>
      <div class="diamond" id="opC">
        <a href="/pathway/opC" title="Add and subtract fractions with like denominators using models and symbols.">
          <h5>Op C</h5>
          <span>Add and subtract fractions with like denominators using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="opD">
        <a href="/pathway/opD" title="Add and subtract fractions with unlike denominators (e.g., 2 and 7) using models and symbols.">
          <h5>Op D</h5>
          <span>Add and subtract fractions with friendly but unlike denominators (e.g., 2 and 30) using models and symbols</span>

        </a>
      </div>
      <div class="diamond" id="opB">
        <a href="/pathway/opB" title="Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.">
          <h5>Op B</h5>
          <span>Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions</span>
        </a>
      </div>
      <div class="diamond" id="opE">
        <a href="/pathway/opE" title="Add and subtract fractions with friendly but unlike denominators (e.g., 2 and 30) using models and symbols.">
          <h5>Op E</h5>
          <span>Add and subtract fractions with unlike denominators (e.g., 2 and 7) using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="opA">
        <a href="/pathway/opA" title="Count unit fractions as a form of adding and subtracting fractions.">
          <h5>Op A</h5>
          <span>Count unit fractions as a form of adding and subtracting fractions</span>
        </a>
      </div>
    </div>
  </section>

  <!--start of new purple pathway section-->
  <section class="newPathway container-fluid" id="pathway-purple">

    <section class="row gen-pdf-container" style="margin-top:75px;margin-bottom:25px;">
      <div class="gen-pdf">
        <a href="/pdf/Fractions%20Learning%20Pathway.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <div class="opMultandDiv">
      <span style="font-size:16px;color:white;display:block;clear:all;padding:0 5px;">Please note:<br />
        <ul>
          <li>The most appropriate models for multiplication and division of fractions are number lines and rectangular area models (array models).</li>
          <li>Mixed, improper and proper fractions should be interspersed throughout fractions teaching and learning.</li>
          <li>Students will use their understanding of the inverse relationship between multiplication and division to solve tasks. This may mean that they solve division questions using multiplication.</li>
          <li>Prior to commencing learning about multiplication and division of fractions, students should have a solid understanding of:</li>
          <ul>
            <li>the multiple meanings of multiplication and division with whole numbers;</li>
            <li>unit fractions;</li>
            <li>number lines and area models for representing, comparing and adding/subtracting fractions.</li>
          </ul>
        </ul>
      </span>

      <a href="">
        <h4>OPERATIONS WITH FRACTIONS: MULTIPLICATION AND DIVISION</h4>
      </a>
      <div class="purple">
        <div class="diamond" id="opF">
          <a href="/pathway/opF" title="Use models to recognize that any fraction is a multiple of its unit fraction.">
            <h5>OP -F</h5>
            <span>Use models to recognize that any fraction is a multiple of its unit fraction (e.g., <sup>3</sup>/<sub>4</sub> is 3 × <sup>1</sup>/<sub>4</sub>)</span>
          </a>
        </div>
        <div class="diamond" id="opG">
          <a href="/pathway/opG" title="Use models to decompose fractions using unit fractions as a form of division.">
            <h5>OP -G</h5>
            <span>Recognize division is the inverse of multiplication and vise versa (÷4 is the same as × <sup>1</sup>/<sub>4</sub>)</span>
          </a>
        </div>
        <div class="diamond" id="opH">
          <a href="/pathway/opH" title="Use models to decompose fractions using unit fractions as a form of division. (e.g., How many 1/4 in 7/4?)">
            <h5>OP-H</h5>
            <span>Use models to decompose fractions using unit fractions as a form of division (e.g., How many <sup>1</sup>/<sub>4</sub> in <sup>7</sup>/<sub>4</sub>?)</span>
          </a>
        </div>
        <div class="diamond" id="opI">
          <a href="/pathway/opI" title="Multiply any fraction by a whole number using models and symbols.">
            <h5>OP -I</h5>
            <span>Multiply any fraction by a whole number using models and symbols (e.g., 2 × <sup>4</sup>/<sub>2</sub>)</span>
          </a>
        </div>
        <div class="diamond" id="opJ">
          <a href="/pathway/opJ" title="Divide a fraction by a like-denominator unit fraction using models and symbols.">
            <h5>OP -J</h5>
            <span>Divide a fraction by a like-denominator unit fraction using models and symbols (e.g., <sup>3</sup>/<sub>8</sub> ÷ <sup>1</sup>/<sub>8</sub>)</span>
          </a>
        </div>
        <div class="diamond" id="opK">
          <a href="/pathway/opK" title="Divide a fraction by a like-denominator fraction with a whole number result.">
            <h5>OP -K</h5>
            <span>Divide a fraction by a like-denominator fraction with a whole number result (e.g., <sup>9</sup>/<sub>4</sub> ÷ <sup>3</sup>/<sub>4</sub> = 3)</span>
          </a>
        </div>
        <div class="diamond" id="opL">
          <a href="/pathway/opL" title="Multiply fractions where the numerator of one is the denominator of the other using models.">
            <h5>OP -L</h5>
            <span>Multiply fractions where the numerator of one is the denominator of the other using models (e.g., <sup>4</sup>/<sub>5</sub> × <sup>1</sup>/<sub>4</sub>)</span>
          </a>
        </div>
        <div class="diamond" id="opM">
          <a href="/pathway/opM" title="Divide a fraction by a smaller friendly denominator fraction with a whole number result.">
            <h5>OP -M</h5>
            <span>Divide a fraction by a smaller friendly denominator fraction with a whole number result (e.g., <sup>6</sup>/<sub>4</sub> ÷ <sup>3</sup>/<sub>8</sub> = 4)</span>
          </a>
        </div>
        <div class="diamond" id="opN">
          <a href="/pathway/opN" title="Multiply fractions using models and symbols.">
            <h5>OP -N</h5>
            <span>Multiply fractions using models and symbols</span>
          </a>
        </div>
        <div class="diamond" id="opO">
          <a href="/pathway/opO" title="Divide a fraction by a like-denominator fraction with a whole number remainder.">
            <h5>OP -O</h5>
            <span>Divide a fraction by a like-denominator fraction with a whole number remainder (e.g., <sup>10</sup>/<sub>4</sub> ÷ <sup>3</sup>/<sub>4</sub> = 3 <sup>1</sup>/<sub>3</sub>)</span>
          </a>
        </div>
        <div class="diamond" id="opP">
          <a href="/pathway/opP" title="Divide a fraction by an unlike-denominator fraction with a non-whole number remainder.">
            <h5>OP -P</h5>
            <span>Divide a fraction by an unlike-denominator fraction with a non-whole number remainder (e.g., a remainder of <sup>3</sup>/<sub>8</sub> ÷ <sup>1</sup>/<sub>2</sub> = <sup>3</sup>/<sub>4</sub>)</span>
          </a>
        </div>
        <div class="diamond" id="opQ">
          <a href="/pathway/opQ" title="Divide fractions using models and symbols.">
            <h5>OP -Q</h5>
            <span>Divide fractions using models and symbols</span>
          </a>
        </div>
      </div>
      <!-- comment test-->
    </div>
  </section>

  <section style="padding-top:100px;margin-top:150px;">
    <p>Created by Dr. Cathy Bruce, Tara Flynn, and Shelley Yearley.</p>
    <p>Fractions Learning Pathways are inspired by Dr. Jere Confrey's work, based on international and Ontario classroom research, and informed by feedback from classroom teachers and student thinking.</p>
  </section>

  <section id="infoParagraph">
    <p>The purpose of this interactive planning tool for teaching fractions is to provide educators with a research informed framework. It includes a range of field-tested tasks (grades 3-10) that have proven to be effective in Ontario schools. The
      collection of tasks follows a logical sequence that can be modified and/or adjusted to fit teacher and student needs. Video and photos are also included to bring the learning to life. This interactive planning tool also includes one page
      summaries of key fractions math ideas as well as anticipation guides that feature Ontario students’ thinking.</p>
  </section>
  <%- include partials/footer.ejs%>
