<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Fractions Learning Pathways</li>
</ol>

<main class="container" id="pathwayContainer">
  <div class="padding-bottom">
    <h1>Fractions Learning Pathways</h1>
  </div>

  <section class="col-md-12 col-sm-12">
    <section style="max-width:1550px">
      <div class="flp-btn">
        <a href="/pathway/FLPIntroductionVideo">FLP Intro Video</a>
      </div>
    </section>
  </section>

  <section>
    <p>Please Note:</p>
    <ul>
      <li>Mixed, improper and proper fractions should be interspersed throughout fractions teaching and learning so that the students build flexibility with these early.</li>
      <li>"Models" include linear, area, volume, and set representations.</li>
    </ul>
  </section>


  <section class="newPathway container-fluid">

    <section class="row gen-pdf-container" style="margin-bottom:25px;">
      <div class="gen-pdf">
        <a href="/pdf/Fractions%20Learning%20Pathway.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <div class="unitFractions">
      <a href="/pathway/unitFractions">
        <h4>Unit Fractions</h4>
      </a>

      <div class="diamond" id="unitC">
        <a href="/pathway/unitC" title="Partition unit fractions to create smaller unit fractions.">
          <h5>Unit C</h5>
          <span class="derotate">Partition unit fractions to create smaller unit fractions</span>
        </a>
      </div>
      <div class="diamond" id="unitF">
        <a href="/pathway/unitF" title="Compose and decompose fractions flexibly with models and symbols.">
          <h5>Unit F</h5>
          <span class="derotate">Compose and decompose fractions flexibly with models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="unitB">
        <a href="/pathway/unitB" title="Equally partition area, linear, and set models.">
          <h5>Unit B</h5>
          <span class="derotate">Equally partition area, linear, and set models</span>
        </a>
      </div>
      <div class="diamond" id="unitE">
        <a href="/pathway/unitE" title="Use unit fractions to compose and decompose fractions with models and symbols.">
          <h5>Unit E</h5>
          <span class="derotate">Use unit fractions to compose and decompose fractions with models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="unitA">
        <a href="/pathway/unitA" title="Use proportional reasoning to make reasonable estimates.">
          <h5>Unit A</h5>
          <span class="derotate">Use proportional reasoning to make reasonable estimates</span>
        </a>
      </div>
      <div class="diamond" id="unitD">
        <a href="/pathway/unitD" title="Use unit fractions to name and count fractional amounts.">
          <h5>Unit D</h5>
          <span class="derotate">Use unit fractions to name and count fractional amounts</span>
        </a>
      </div>
    </div>

    <div class="comparingFractions">
      <a href="/pathway/comparingFractions">
        <h4>Comparing Fractions</h4>
      </a>
      <div class="diamond" id="compB">
        <a href="/pathway/compB" title="Compare familiar fraction quantities with and without benchmark referents.">
          <h5>Comp B</h5>
          <span class="derotate">Compare familiar fraction quantities with and without benchmark referents</span>
        </a>
      </div>
      <div class="diamond" id="compE">
        <a href="/pathway/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols.">
          <h5>Comp E</h5>
          <span class="derotate">Compare fractions with unlike numerators and unlike denominators using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="compA">
        <a href="/pathway/compA" title="Generate and recognize equivalent fractions using models and symbols.">
          <h5>Comp A</h5>
          <span class="derotate">Generate and recognize equivalent fractions using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="compD">
        <a href="/pathway/compD" title="Compare fractions with like numerators or like denominators using models and symbols.">
          <h5>Comp D</h5>
          <span class="derotate">Compare fractions with like numerators or like denominators using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="compC">
        <a href="/pathway/compC" title="Generate fractions between any two quantities.">
          <h5>Comp C</h5>
          <span class="derotate">Generate fractions between any two quantities</span>
        </a>
      </div>
    </div>

    <div class="operationsWithFractions">
      <a href="/pathway/operations">
        <h4>Operations With Fractions:<br />Addition and subtraction</h4>
      </a>
      <div class="diamond" id="opC">
        <a href="/pathway/opC" title="Add and subtract fractions with like denominators using models and symbols.">
          <h5>Op C</h5>
          <span class="derotate">Add and subtract fractions with like denominators using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="opD">
        <a href="/pathway/opD" title="Add and subtract fractions with unlike denominators (e.g., 2 and 7) using models and symbols.">
          <h5>Op D</h5>
          <span class="derotate">Add and subtract fractions with friendly but unlike denominators (e.g., 2 and 30) using models and symbols</span>

        </a>
      </div>
      <div class="diamond" id="opB">
        <a href="/pathway/opB" title="Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.">
          <h5>Op B</h5>
          <span class="derotate">Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions</span>
        </a>
      </div>
      <div class="diamond" id="opE">
        <a href="/pathway/opE" title="Add and subtract fractions with friendly but unlike denominators (e.g., 2 and 30) using models and symbols.">
          <h5>Op E</h5>
          <span class="derotate">Add and subtract fractions with unlike denominators (e.g., 2 and 7) using models and symbols</span>
        </a>
      </div>
      <div class="diamond" id="opA">
        <a href="/pathway/opA" title="Count unit fractions as a form of adding and subtracting fractions.">
          <h5>Op A</h5>
          <span class="derotate">Count unit fractions as a form of adding and subtracting fractions</span>
        </a>
      </div>
    </div>
  </section>

  <!--start of new purple pathway section-->
  <section class="newPathway container-fluid" id="pathway-purple">

    <section class="row gen-pdf-container" style="margin-top:75px;margin-bottom:25px;">
      <div class="gen-pdf">
        <a href="/pdf/FLP-Purple.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <div class="opMultandDiv">
      <span style="font-size:16px;color:white;display:block;clear:all;padding:0 5px;">Please note:<br />
        <ul>
          <li>The most appropriate models for multiplication and division of fractions are number lines and rectangular area models (array models).</li>
          <li>Mixed, improper and proper fractions should be interspersed throughout fractions teaching and learning.</li>
          <li>Students will use their understanding of the inverse relationship between multiplication and division to solve tasks. This may mean that they solve division questions using multiplication.</li>
          <li>Prior to commencing learning about multiplication and division of fractions, students should have a solid understanding of:</li>
          <ul>
            <li>the multiple meanings of multiplication and division with whole numbers;</li>
            <li>unit fractions;</li>
            <li>number lines and area models for representing, comparing and adding/subtracting fractions.</li>
          </ul>
        </ul>
      </span>

      <a href="">
        <h4>OPERATIONS WITH FRACTIONS: MULTIPLICATION AND DIVISION</h4>
      </a>
      <div class="purple">
        <div class="diamond" id="opF">
          <a href="/pathway/opF" title="Use models to recognize that any fraction is a multiple of its unit fraction.">
            <h5>OP F</h5>
            <span class="derotate">Use models to recognize that any fraction is a multiple of its unit fraction (e.g., <span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span> is 3 × <span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span>)</span>
          </a>
        </div>
        <div class="diamond" id="opG">
          <a href="/pathway/opG" title="Use models to decompose fractions using unit fractions as a form of division.">
            <h5>OP G</h5>
            <span class="derotate">Recognize division is the inverse of multiplication and vise versa (÷4 is the same as × <span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span>)</span>
          </a>
        </div>
        <div class="diamond" id="opH">
          <a href="/pathway/opH" title="Use models to decompose fractions using unit fractions as a form of division. (e.g., How many 1/4 in 7/4?)">
            <h5>OP-H</h5>
            <span class="derotate">Use models to decompose fractions using unit fractions as a form of division (e.g., How many <span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span> in <span class="frac"><sup>7</sup><span>/</span><sub>4</sub></span>?)</span>
          </a>
        </div>
        <div class="diamond" id="opI">
          <a href="/pathway/opI" title="Multiply any fraction by a whole number using models and symbols.">
            <h5>OP I</h5>
            <span class="derotate">Multiply any fraction by a whole number using models and symbols (e.g., 2 × <span class="frac"><sup>4</sup><span>/</span><sub>5</sub></span>)</span>
          </a>
        </div>
        <div class="diamond" id="opJ">
          <a href="/pathway/opJ" title="Divide a fraction by a like-denominator unit fraction using models and symbols.">
            <h5>OP J</h5>
            <span class="derotate">Divide a fraction by a like-denominator unit fraction using models and symbols (e.g., <span class="frac"><sup>3</sup><span>/</span><sub>8</sub></span> ÷ <span class="frac"><sup>1</sup><span>/</span><sub>8</sub></span>)</span>
          </a>
        </div>
        <div class="diamond" id="opK">
          <a href="/pathway/opK" title="Divide a fraction by a like-denominator fraction with a whole number result.">
            <h5>OP K</h5>
            <span class="derotate">Divide a fraction by a like-denominator fraction with a whole number result (e.g., <span class="frac"><sup>9</sup><span>/</span><sub>4</sub></span> ÷ <span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span> = 3)</span>
          </a>
        </div>
        <div class="diamond" id="opL">
          <a href="/pathway/opL" title="Multiply fractions where the numerator of one is the denominator of the other using models.">
            <h5>OP L</h5>
            <span class="derotate">Multiply fractions where the numerator of one is the denominator of the other using models (e.g., <span class="frac"><sup>4</sup><span>/</span><sub>5</sub></span> × <span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span>)</span>
          </a>
        </div>
        <div class="diamond" id="opM">
          <a href="/pathway/opM" title="Divide a fraction by a smaller friendly denominator fraction with a whole number result.">
            <h5>OP M</h5>
            <span class="derotate">Divide a fraction by a smaller friendly denominator fraction with a whole number result (e.g., <span class="frac"><sup>6</sup><span>/</span><sub>4</sub></span> ÷ <span class="frac"><sup>3</sup><span>/</span><sub>8</sub></span> = 4)</span>
          </a>
        </div>
        <div class="diamond" id="opN">
          <a href="/pathway/opN" title="Multiply fractions using models and symbols.">
            <h5>OP N</h5>
            <span class="derotate">Multiply fractions using models and symbols</span>
          </a>
        </div>
        <div class="diamond" id="opO">
          <a href="/pathway/opO" title="Divide a fraction by a like-denominator fraction with a whole number remainder.">
            <h5>OP O</h5>
            <span class="derotate">Divide a fraction by a like-denominator fraction with a whole number remainder (e.g., <span class="frac"><sup>10</sup><span>/</span><sub>4</sub></span> ÷ <span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span> = 3 <span class="frac"><sup>1</sup><span>/</span><sub>3</sub></span>)</span>
          </a>
        </div>
        <div class="diamond" id="opP">
          <a href="/pathway/opP" title="Divide a fraction by an unlike-denominator fraction with a non-whole number remainder.">
            <h5>OP P</h5>
            <span class="derotate">Divide a fraction by an unlike-denominator fraction with a non-whole number remainder (e.g., a remainder of <span class="frac"><sup>3</sup><span>/</span><sub>8</sub></span> ÷ <span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span> = <span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>)</span>
          </a>
        </div>
        <div class="diamond" id="opQ">
          <a href="/pathway/opQ" title="Divide fractions using models and symbols.">
            <h5>OP Q</h5>
            <span class="derotate">Divide fractions using models and symbols</span>
          </a>
        </div>
      </div>
      <!-- comment test-->
    </div>
  </section>

  <section style="padding-top:100px;margin-top:150px;">
    <p>Created by Dr. Cathy Bruce, Tara Flynn, and Shelley Yearley.</p>
    <p>Fractions Learning Pathways are inspired by Dr. Jere Confrey's work, based on international and Ontario classroom research, and informed by feedback from classroom teachers and student thinking.</p>
  </section>

  <section id="infoParagraph">
    <p>The purpose of this interactive planning tool for teaching fractions is to provide educators with a research informed framework. It includes a range of field-tested tasks (grades 3-10) that have proven to be effective in Ontario schools. The
      collection of tasks follows a logical sequence that can be modified and/or adjusted to fit teacher and student needs. Video and photos are also included to bring the learning to life. This interactive planning tool also includes one page
      summaries of key fractions math ideas as well as anticipation guides that feature Ontario students’ thinking.</p>
  </section>
  <%- include partials/footer.ejs%>
