<%- include partials/header.ejs%>


    <!-- Breadcrumbs -->
  	<ol class="breadcrumb">
  			<li><a href="/">Home</a></li>
        <li><a href="./pathway">Fractions Learning Pathways</a></li>
  	</ol>

  <main class="container" id="pathwayContainer">
    <h1>Fractions Learning Pathways</h1>
 <section>
	 <p>Please Note:</p>
	 <ul>
		 <li>Mixed, improper and proper fractions should be interspersed throughout fractions teaching and learning so that the students build flexibility with these early.</li>
		 <li>"Models" include linear, area, volume, and set representations.</li>
	 </ul>
	  </section>
	  

<section class="newPathway">
  <div class="unitFractions">
    <a href="/pathway/unitFractions"><h4>Unit Fractions</h4></a>

    <div class="diamond" id="unitC">
      <a href="/pathway/unitC" title="Partition unit fractions to create smaller fractions.">
        <h5>Unit C</h5>
        <span>Partition unit fractions to create smaller fractions.</span>
      </a>
    </div>
    <div class="diamond" id="unitF">
      <a href="/pathway/unitF" title="Use unit fractions to name and count fractional amounts.">
        <h5>Unit F</h5>
        <span>Use unit fractions to name and count fractional amounts.</span>
      </a>
    </div>
    <div class="diamond" id="unitB">
      <a href="/pathway/unitB" title="Equally partition area, linear, and set models.">
        <h5>Unit B</h5>
        <span>Equally partition area, linear, and set models.</span>
      </a>
    </div>
    <div class="diamond" id="unitE">
      <a href="/pathway/unitE" title="Use unit fractions to compose and decompose fractions with models and symbols.">
        <h5>Unit E</h5>
        <span>Use unit fractions to compose and decompose fractions with models and symbols.</span>
      </a>
    </div>
    <div class="diamond" id="unitA">
      <a href="/pathway/unitA" title="Use proportional reasoning to make reasonable estimates.">
        <h5>Unit A</h5>
        <span>Use proportional reasoning to make reasonable estimates.</span>
      </a>
    </div>
    <div class="diamond" id="unitD">
      <a href="/pathway/unitD" title="Use unit fractions to name and count fractional amounts.">
        <h5>Unit D</h5>
        <span>Use unit fractions to name and count fractional amounts.</span>
      </a>
    </div>
  </div>

  <div class="comparingFractions">
    <a href="/pathway/comparingFractions"><h4>Comparing Fractions</h4></a>
    <div class="diamond" id="compB">
      <a href="/pathway/compB" title="Compare familiar fraction quantities with and without benchmark referents.">
        <h5>Comp B</h5>
        <span>Compare familiar fraction quantities with and without benchmark referents.</span>
      </a>
    </div>
    <div class="diamond" id="compE">
      <a href="/pathway/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols.">
        <h5>Comp E</h5>
        <span>Compare fractions with unlike numerators and unlike denominators using models and symbols.</span>
      </a>
    </div>
    <div class="diamond" id="compA">
      <a href="/pathway/compA" title="Generate and recognize equivalent fractions using models and symbols.">
        <h5>Comp A</h5>
        <span>Generate and recognize equivalent fractions using models and symbols.</span>
      </a>
    </div>
    <div class="diamond" id="compD">
      <a href="/pathway/compD" title="Compare fractions with like numerators or like denominators using models and symbols.">
        <h5>Comp D</h5>
        <span>Compare fractions with like numerators or like denominators using models and symbols.</span>
      </a>
    </div>
    <div class="diamond" id="compC">
      <a href="/pathway/compC" title="Generate fractions between any two quantities.">
        <h5>Comp C</h5>
        <span>Generate fractions between any two quantities.</span>
      </a>
    </div>
  </div>

  <div class="operationsWithFractions">
    <a href="/pathway/operations"><h4>Operations With Fractions:<br/>Addition and subtraction</h4></a>
    <div class="diamond" id="opC">
      <a href="/pathway/opC" title="Add and subtract fractions with like denominators using models and symbols.">
        <h5>Op C</h5>
        <span>Add and subtract fractions with like denominators using models and symbols.</span>
      </a>
    </div>
    <div class="diamond" id="opE">
      <a href="/pathway/opE" title="Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.">
        <h5>Op D</h5>
        <span>Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.</span>
        
      </a>
    </div>
    <div class="diamond" id="opB">
      <a href="/pathway/opB" title="Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.">
        <h5>Op B</h5>
        <span>Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.</span>
      </a>
    </div>
    <div class="diamond" id="opD">
      <a href="/pathway/opD" title="Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.">
        <h5>Op E</h5>
        <span>Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.</span>
      </a>
    </div>
    <div class="diamond" id="opA">
      <a href="/pathway/opA" title="Count unit fractions as a form of adding and subtracting fractions.">
        <h5>Op A</h5>
        <span>Count unit fractions as a form of adding and subtracting fractions.</span>
      </a>
    </div>
  </div>
</section>

<section>
	<p>Created by Dr. Cathy Bruce, Tara Flynn, and Shelley Yearley.</p>
	<p>Fractions Learning Pathways are inspired by Dr. Jere Confrey's work, based on international and Ontario classroom research, and informed by feedback from classroom teachers and student thinking.</p>
	  </section>

<section id="infoParagraph">
<p>The purpose of this interactive planning tool for teaching fractions is to provide educators with a
research informed framework. It includes a range of field-tested tasks (grades 3-10) that have proven
to be effective in Ontario schools. The collection of tasks follows a logical sequence that can be modified
and/or adjusted to fit teacher and student needs. Video and photos are also included to bring the learning
to life. This interactive planning tool also includes one page summaries of key fractions math ideas as well
as anticipation guides that feature Ontario students’ thinking.</p>
</section>

<%- include partials/footer.ejs%>
