<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <li class="breadcrumb-item active">Classroom Resources</li>
</ol>


<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>Classroom Resources</h1>
    </div>
  </section>

  <section class="row">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" id="lessons-tab" data-toggle="tab" href="#lessons" role="tab" aria-controls="lessons" aria-selected="false">Lessons and Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="planning-tab" data-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="false">Planning Supports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="curriculum-tab" data-toggle="tab" href="#curriculum" role="tab" aria-controls="curriculum" aria-selected="false">Curriculum Connections</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- First TAB - LESSONS AND TASKS -->
      <div class="tab-pane fade in active" id="lessons" role="tabpanel" aria-labelledby="lessons-tab">
        <div class="classrom-resources-list">

          <!-- Banana Bread Bake Off -->
            <div class="col-sm-4 col-md-4 display-flex">
                <div class="thumbnail">
                  <h3 class="op2"><a href="./bananaBreadBakeOff">Banana Bread Bake Off</a></h3>
                  <p>Through this task, students will explore the inverse operations of multiplication and division by comparing the result of multiplying by a unit fraction and dividing the inverse whole number.</p>
                  <figure class="bottom-margin">
                    <img src="/images/tasks/creatingSums/create_sums_close_to_one.jpg" alt="Unit B Brownie Sharing" class="img-responsive margin-auto">
                  </figure>
                </div>
              </div>

              <!-- Brownie Sharing -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./brownie">Brownie Sharing</a></h3>
              <p>Students use paper folding to partition a pan of brownies (a sheet of rectangular paper) into equal portions (first four, then eight, then ten) through a simple storyline told by the teacher.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/brownieSharing.png" alt="Unit B Brownie Sharing" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Building a Stage -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="./buildStage">Building a Stage</a></h3>
              <p>Students will determine an unknown measure by using a tape measure as a number line. Within the context of building a stage using layers of different types of wood, students will find the sum of friendly but unlike denominators. This will help them to understand the need for common units (denominators) when adding fractions.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/op/buildingStage.jpg" alt="Op D Building a Stage" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Build Flags -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="./buildFlags">Building Flags</a></h3>
              <p>Students use their spatial reasoning and creative thinking to design a flag given a variety of pre-cut and coloured shapes. Students investigate and determine what fraction of the whole flag the coloured shapes represent.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/op/buildingFlags.png" alt="Op B Building Flags" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Building to Operations with Relational Rods -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="./buildingOperations">Building to Operations with Relational Rods</a></h3>
              <p>This bundle uses the foundational concept of unit fractions to help students compare fractions and build understanding of adding and subtracting fractions with friendly or unlike denominators using models and symbols. Students with fragile understanding of unit fractions often have difficulty transitioning to adding and subtracting fractions. The tasks in this lesson bundle encourage students to be flexible in recognizing that a whole can be any length.</p>
            </div>
          </div>

          <!-- Changing Whole with Pattern Blocks -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./changeWholes">Changing Wholes with Pattern Blocks</a></h3>
              <p>Students use pattern blocks as area models to compare fractional regions and explore how the regions change in relation to the whole.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/changingWholes.png" alt="Unit F Changing Wholes" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Chris' Ice Cream Carton -->
          <div class="col-md-4 col-sm-4 display-flex">
              <div class="thumbnail">
                <h3 class="op2"><a href="/tasks/chrisIceCreamCarton">Chris' Ice Cream Carton</a></h3>
                <p>Students are asked to create visual representations of thier thinking using number lines and arrays to perform multiplication of fractions with unlike denominators. Students may use a variety of multiplication strategies, focusing on the part-whole meaning of fractions.</p>
                <figure class="bottom-margin">
                  <img src="/images/tasks/chrisIceCreamCarton/ChrisIceCreamCarton_StudentThinking_OP-L.png" alt="Set Representations" class="img-responsive margin-auto">
                </figure>
              </div>
            </div>

          <!-- Comparing and Ordering Fractions (Gr 6) -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3><a href="/tasks/compOrder">Comparing and Ordering Fractions Lesson (Gr 6)</a></h3>
              <p>This lesson engages students in ordering fractions on a number line.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/Ordering-and-comapring-lesson.jpeg" alt="Comparing and Ordering Fractions" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Comparing Fractions Task -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="comp"><a href="../tasks/comparingFractionsTask">Comparing Fractions Task</a></h3>
              <p>This is a set of prompts consisting of purposefully paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/comparingFractionsTask/Comparing_Fractions_Task.jpg" alt="COMP E Comparing Fractions Task" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Comparing Fractions with Like Numerators or Like Denominators Task -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="comp"><a href="../tasks/comparingFractionsNumeratorsDenominatorsTask">Comparing Fractions with Like Numerators or Like Denominators</a></h3>
              <p>This is a set of prompts consisting of purposely paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/comparingFractionswithLikeNumeratorsorLikeDenominators/Comparing-Fractions-with-Like-Numerators-or-Like-Denominators.png" alt="COMP D Comparing Fractions with Like Numerators or Like Denominators Task" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Composing and Decomposing 1 7/8ths Task -->
          <div class="col-md-4 col-sm-4 display-flex">
              <div class="thumbnail">
                <h3 class="op"><a href="../tasks/ComposingandDecomposingOneSevenEighths">Composing and Decomposing 1 <span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></a></h3>
                <p>In this hands-on task, each student independently represents 1 & <span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span>
                     by creating either a physical model (e.g., using tiles, folded paper, relational rods, or other items with which students are comfortable working) or a two-dimensional model (e.g., a drawing or a number line) of their choice. Students are then challenged to create as many addition and subtraction number sentences as possible to represent 1 & 7/8ths</p>
                <figure class="bottom-margin">
                  <img src="/images/tasks/ComposingandDecomposing1-78/ComposeDecompose1-78_StudentThinking_OP-E_Samp1-4.png" alt="COMP D Comparing Fractions with Like Numerators or Like Denominators Task" class="img-responsive margin-auto">
                </figure>
              </div>
            </div>

          <!-- Creating Sums Close to One -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="../tasks/creatingSums">Creating Sums Close to One</a></h3>
              <p>Students will explore sums of fractions to determine two fractions with unlike denominators that, when added, will be close to but not equal to one. This task encourages the student to develop the sense of fractions as quantities (fundamental to fractions understanding) and also to justify their thinking by representing their mathematics in a variety of ways.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/creatingSums/create_sums_close_to_one.jpg" alt="OP E Creating Sums Close to One" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Desktop Fractions -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./desktopFrac">Desktop Fractions</a></h3>
              <p>Students will estimate and mark fractional amounts using the edge of their desks as a linear measure and the top surface as an area measure.  This task is best used after a solid understanding of number line has been established.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/deskTopFraction.png" alt="Unit B Desktop Fractions" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Equals Game -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="../tasks/equalsGame">Equals Game</a></h3>
              <p>This is a series of games to be played in pairs, which will take students from building and naming equivalent fractions, through to building and naming addition and subtraction equations. Students compose and decompose fractions in order to add and subtract using cards (fractions, equals sign and operation cards) and relational rods.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/equalsGame/equalsGame.jpg" alt="OP E Equals Game Task" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Equivalency Comparisons -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="comp"><a href="../tasks/equivalencyComp">Equivalency Comparisons</a></h3>
              <p>This is a set of prompts consisting of purposely paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding. Encourage students to build models/representations and create contexts to support visualization of fractions, which in turn supports meaning-making.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/comp/Equivalency_Comparisons.jpg" alt="COMP A Equivalency Comparisons" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Equivalence of Fractions (Jr - Int) -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3><a href="/tasks/equivFrac">Equivalence of Fractions Lesson Bundle (Jr - Int)</a></h3>
              <p>This set of four lessons provides multiple learning opportunities for students to develop an understanding of equivalence through a variety of manipulatives and the number line.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/Equivalency-of-Fractions-Bundle.jpeg" alt="Equivalency of Fractions" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Familiar Fractions and Benchmarks Comparisons -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="comp"><a href="../tasks/familiarFractionsBenchmarksComparisons">Familiar Fractions and Benchmarks Comparisons</a></h3>
              <p>This is a set of prompts consisting of purposefully paired fractions to elicit the use of various strategies. The prompts may be used on different occasions for either Minds-On activities or for Action tasks depending on student readiness. Repeated practice and exploration in making comparisons between fractions will deepen student understanding.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/Equivalency-Comparisons-CompB.jpg" alt="COMP B Familiar Fractions and Benchmarks Comparisons" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Flick Game -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="../tasks/flickGame">Flick Game</a></h3>
              <p>Students will explore equivalent fractions and sums of fractions as they flick an eraser along game boards that are divided into thirds, sixths, ninths and eighteenths. The process of recording the scores on a number line – and determining the sum of their personal score, as well as their team score – reinforces the need for a common unit for addition of fractions.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/flickGame/flick_game_task.png" alt="OP D Flick Game Task" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Fraction Shape Sets -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./shapeSets">Fraction Shape Sets</a></h3>
              <p>In this task, students will work with a discrete (set) model of shapes with various characteristics. Students will demonstrate their understanding of fractions of a set by using different attributes to compose or identify fractions.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/shapeTask.png" alt="Unit F Fraction Shape Sets" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Fractions Representation (Jr-Int) -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3><a href="/tasks/fracRep">Fractions Representation Lesson <br>(Jr-Int)</a></h3>
              <p>This lesson allows students to share what they understand about fractions by representing <abbr title="Two Fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> or <abbr title="Four Tenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>10</sub></span></abbr>.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/Representation-Lesson.jpeg" alt="Fractions Representation" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Fractions Representations with Set Area Models (Gr 6) -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3><a href="/tasks/setAreaMod">Fractions Representations with Set Area Models Lesson (Gr 6)</a></h3>
              <p>In this lesson, students use a set of pattern blocks to generate fractions. This allows for discussion of the similarities and differences between set models and area models for part-whole relationships.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/Fractions-Representations-with-Set-and-Area-lesson.jpeg" alt="Fractions Representations with Set Area Models" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Generating Fractions between Two Number (Fraction Density) -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="comp"><a href="../tasks/generatingFractionsbetweenTwoNumbers">Generating Fractions between Two Numbers (Fraction Density)</a></h3>
              <p>This is a set of progressive prompts that will elicit the use of various strategies used to find fractions between two numbers. The prompts, when used in sequence, support students in choosing a strategy based upon the fractions being considered. Encourage students to build models/representations and create contexts to aid in visualization.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/Generating_Fractions_between_Two_Numbers.jpg" alt="COMP E Generating Fractions between Two Numbers (Fraction Density)" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Grab Bag-->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="../tasks/grabBag">Grab Bag</a></h3>
              <p>Students begin by working with pre-selected sets of rods and determine the value of the smaller rods, where the longest rod is the whole. They then add these together to determine the sum. Next, students randomly select a collection of rods from a baggie/paper bag and use the largest rod in their selection as the whole to determine the fractional value of the collection.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/grabBag/Grab_bag_task.jpg" alt="OP B Grab Bag" >
              </figure>
            </div>
          </div>

          <!-- I have, Who Has -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./iHave">I Have, Who Has</a></h3>
              <p>This fun and addictive ‘call and response’ game can be used as a whole group minds-on activity or an exit ticket. Students love trying to be as fast as they can to recognize what unit amount they have represented on their card. They enjoy when the entire deck of cards is successfully played from start to finish. The connection between the visual representation and an oral articulation of symbolic notation is especially evident in this task.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/iHaveWhoHas.png" alt="Unit F I Have, Who Has" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Improper Fractions with Set Representations (Gr 6) -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3><a href="/tasks/impSetRep">Improper Fractions with Set Representations Lesson (Gr 6)</a></h3>
              <p>Based upon the Gap Closing resource, this lesson requires students to represent improper fractions using a set representation.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/Improper-fractions-with-sets.jpeg" alt="Improper Fractions with Set Representations" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Living Number Line -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./livingNumberLine">Living Number Line</a></h3>
              <p>Students place cards labelled with fractional amounts on a large number line by equi-partitioning. This physical number line, the living number line, is meant to grow throughout the year as subsequent units (i.e. fractions, percentages, decimals etc.) are placed. Students will use a variety of strategies to place cards appropriately, including relational and proportional thinking and knowledge of equivalency.</p>
              <figure class="bottom-margin">
                <img src="../images/tasks/livingNumberLine/livingNumberLine.png" alt="Kid hanging something on a line" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Making Mixed numbers -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="./mixedNumbers">Making Mixed Numbers</a></h3>
              <p>This task was designed to move students from representing a mixed fraction towards using operations with fractions, and is a suitable exploration for students even prior to the formal introduction of these concepts. The task consists of a series of prompts intended to scaffold students to use multiple representations to visualize and conceptualize the problems.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/mixedNumbers/making_mixed_numbers.jpg" alt="Making Mixed Numbers" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Ordering on a Number Line (Gr 7) -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3><a href="/tasks/orderNumLine">Ordering on a Number Line Lesson Bundle (Gr 7)</a></h3>
              <p>This set of four lessons supports students in connecting fractions, decimals and percentages by ordering them on a number line. This lesson could be utilized in earlier grades with simple modifications to the numbers provided to students.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/Ordering-on-NL-Bundle.jpeg" alt="Ordering on a Number Line" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Pretty Powerful Paper Folding -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="comp"><a href="../tasks/paperFold">Pretty Powerful Paper Folding</a></h3>
              <p>Students fold colourful paper strips into equal parts that represent unit fractions and label the folded regions using symbolic notation. These strips are powerful visual tools that allow students to see the relative size of fractional regions, which allows them to compare familiar fractional quantities.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/comp/paperFolding.jpg" alt="COMP E Pretty Powerful Paper Folding" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Recipe Task -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="comp"><a href="../tasks/recipe">Recipe Task</a></h3>
              <p>Students decompose fractional amounts in a recipe using the unit fraction <span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> in order to accurately mix ingredients using only a <span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> measuring cup. They compose equivalent fractions using unit fractions and represent them in a variety of ways.  As an option, the recipe can be prepared and baked by the class.</p>
              <figure class="bottom-margin">
                <img src="/images/Task Pic.jpg" alt="COMP A Recipe Task" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Relay Race -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="./relayRace">Relay Race</a></h3>
              <p>Students are introduced to the concept of a relay race where participants complete various fractional distances of the total. Based on two known fractional distances of a race with unlike denominators, students will determine the distances that the other runners might complete.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/op/relayRace.jpg" alt="Op D Relay Race" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Representations Lesson Bundle (Jr) -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3><a href="/tasks/rep">Representations Lesson Bundle (Jr)</a></h3>
              <p>Building upon the representation lesson using <abbr title="Two Fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> and <abbr title="Four Tenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>10</sub></span></abbr>, this bundle of five lessons supports students in connecting their knowledge of fractions to ordering on the number line and being more purposeful in the selection of representations for given contexts.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/Lessons/rep1.png" alt="Representations (Jr)" class="img-rounded img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Ribbon Task -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="./ribbonTask">Ribbon Task</a></h3>
              <p>Students will determine how many decorations they can make with a given length of ribbon. Within the context of creating ribbon decorations, they will appropriately partition 3 metres of ribbon into lengths of <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> metres and calculate the number of decorations that can be made.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/ribbonTask/ribbon_task.jpg" alt="Op C Ribbon Task" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Set Representations Lesson Bundle (Jr) -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3><a href="/tasks/setRep">Set Representations Lesson Bundle (Jr)</a></h3>
              <p>These five lessons use a variety of materials to build student understanding of representing fractions using sets.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/Set-Bundle.jpeg" alt="Set Representations" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- The Painted Door -->
          <div class="col-md-4 col-sm-4 display-flex">
              <div class="thumbnail">
                <h3 class="op2"><a href="/tasks/thePaintedDoor">The Painted Door</a></h3>
                <p>These five lessons use a variety of materials to build student understanding of representing fractions using sets.</p>
                <figure class="bottom-margin">
                  <img src="/images/tasks/thePaintedDoor/ThePaintedDoor_StudentThinking_OP-N_Samp1-2.png" alt="Set Representations" class="img-responsive margin-auto">
                </figure>
              </div>
            </div>

          <!-- Train Game -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="./trainGame">Train Game</a></h3>
              <p>Students randomly grab a handful of relational rods from a paper (opaque) bag. They build a linear train with all of the rods they have selected. Keeping a denominator of 10 (the length of the orange relational rod, which is the whole), they then determine the length of the train by adding up all the fractional quantities.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/trainGame/trainGame.jpg" alt="Op C Train Game" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Turf Touch -->
          <div class="col-md-4 col-sm-4 display-flex">
            <div class="thumbnail">
              <h3 class="op"><a href="./turfTouch">Turf Touchdown</a></h3>
              <p>Students represent the installation of turf, which is installed at different fractional rates each day, in a newly constructed field. By creating a model and determining common fractional units, they will be able to establish how much turf needs to be installed on the final two days.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/op/turfTouch.png" alt="Op E Turf Touchdown" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Unit Fractions Counting Game -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./countGame">Unit Fractions Counting Game</a></h3>
              <p>Students “count up” using unit fractions (for example, <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>, <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, <abbr title="one eighth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>8</sub></span></abbr>, <abbr title="etcetera">etc</abbr>). The students or teacher can choose any unit fractions, and the teacher or students can set game rules such as: "When you get to one whole, stand up and state the quantity as both a fraction and as a whole". Note: this game is similar to a well-known number game called BUZZ.</p>
              <figure class="bottom-margin">
                <img src="/images/A0k6-dcw.png" alt="Unit D Unit Fractions Counting Game" class="img-responsive margin-auto">
              </figure>
            </div>
          </div>

          <!-- Unit Rods -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./unitRods">Unit Rods</a></h3>
              <p>Students use unit fractions to compose and decompose fractions with relational rods. Using different rods to represent the whole, students are asked to name the unit fractions they can find.</p>
              <figure class="bottom-margin">
                <img src="/images/tasks/unitRods/unit_rods_task.jpg" alt="Unit E Unit Rods" class="img-responsive margin-auto bottom-margin">
              </figure>
            </div>
          </div>

          <!-- Walk Line -->
          <div class="col-sm-4 col-md-4 display-flex">
            <div class="thumbnail">
              <h3 class="unit"><a href="./walkLine">Walk the Line</a></h3>
              <p>Students actively equi-partition a number line using different fractional units (e.g., halves, fifths) as they place mixed and improper fractions. Students will enjoy walking, jumping or using every day classroom items as a method of kinaesthetically partitioning a number line on the floor. This task becomes increasingly complex based upon the sets of fractions used.</p>
              <figure class="bottom-margin">
                <img src="/images/pathway/unit/walkLine.jpg" alt="Unit A Walk the Line Task" class="img-responsive margin-auto bottom-margin">
              </figure>
            </div>
          </div>

        </div>
      </div>
      <!-- Second TAB - PLANNING SUPPORTS -->
      <div class="tab-pane fade" id="planning" role="tabpanel" aria-labelledby="planning-tab">

        <p>
          Four Map Pages here...
        </p>
        <p style="height:500px;"></p>

      </div>
      <!-- Third TAB - CURRICULUM CONNECTIONS -->
      <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
        <div class="row curr-row">
          <div class="col-md-3">
            <a href="/tasks/curriculumConnectionsUnit">
              <img src="/images/icon-1.png" class="icon-curr"/>
              <h2 class="center">Unit</h2>
            </a>
          </div>
          <div class="col-md-3">
              <a href="/tasks/curriculumConnectionsComparison">
                <img src="/images/icon-2.png" class="icon-curr"/>
                <h2 class="center">Comparison</h2>
              </a>
          </div>
          <div class="col-md-3">
              <a href="/tasks/curriculumConnectionsAdditionSubtraction">
                <img src="/images/icon-3.png" class="icon-curr"/>
                <h2 class="center">Addition  and  Subtraction</h2>
              </a>
          </div>
          <div class="col-md-3">
              <a href="/tasks/curriculumConnectionsMultiplicationDivision">
                <img src="/images/icon-4.png" class="icon-curr"/>
                <h2 class="center">Multiplication  and  Division</h2>
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include partials/footer.ejs%>
