<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./payAttentionOverview">Paying Attention to Fractions Overview</a></li>
</ol>
</header>

<main class="container">

<h1>Paying Attention to Fractions Overview</h1>

<div class="container-fluid">
<div class="row">
<a href="#"><div class="col-md-6 siva-button"><h2>Actions to Develop Fractions Understanding</h2></div></a>
<a href="#"><div class="col-md-6 siva-button"><h2>Intentional Tasks to Develop Fractions Thinking</h2></div></a>
</div>
<div class="row">
<a href="#"><div class="col-md-6 siva-button"><h2>Fractions Across Strands and Grades</h2></div></a>
<a href="#"><div class="col-md-6 siva-button"><h2>Sample Tasks and Being Responsive to Student Thinking as well as the Paying Attention to Companion</h2></div></a>
</div>
</div>

</main>


<%- include partials/footer.ejs%>
