<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
<ol class="breadcrumb">
   <li><a href="/">Home</a></li>
   <li><a href="/research">Research</a></li>
   <li><a href="./payAttention">Paying Attention to Fractions</a></li>
</ol>
<main class="container pdf-page">
   <!-- Insert content here-->
   <h2 class="color-lil">Paying attention to Fractions K–12</h2>
   <div class="gen-pdf">
      <a href="/pdf/LNSAttentionFractions.pdf" target="_blank">Download PDF</a>
   </div>
   <p><i>Support Document for Paying Attention to Mathematics Education</i></p>
   <h3 class="color-gr">Contents</h3>
   <ul>
      <li><span class="color-gr">❖</span> Paying Attention to Fractions</li>
      <li><span class="color-gr">❖</span> Why Is Understanding Fractions Important?</li>
      <li><span class="color-gr">❖</span> What Is a Fraction?</li>
      <li><span class="color-gr">❖</span> Exploring Key Concepts</li>
      <li><span class="color-gr">❖</span> How Can We Promote Fractions Thinking?</li>
      <li><span class="color-gr">❖</span> Fractions across Strands and Grades</li>
      <li><span class="color-gr">❖</span> Ministry Resources</li>
      <li><span class="color-gr">❖</span> References</li>
   </ul>
   <q class="color-lil"><em>The research suggests that explicit and precise changes to learning and teaching practices can have a substantial impact on children’s understanding of fractions and future mathematical success. Instructional decisions have a significant bearing upon students’ ability to understand the concept of fractions, including the ability to represent fractions appropriately, compare the relative magnitude of two fractions, and complete calculations accurately.</em>
   </q>
   <p style="text-align: right;">(Bruce, Chang, Flynn & Yearley, 2013, p. 32)</p>
   <p><em>Paying Attention to Mathematics Education</em> provided an overview of what it would take to help Ontario
      students make – and sustain – gains in their learning and understanding of mathematics. It outlined
      seven foundational principles for planning and implementing improvements and gave examples of what
      each principle would involve.
   </p>
   <p>This document focuses on the mathematical content area of fractions. Key findings from Ontario research
      are used throughout the document to connect the learning and teaching of fractions from K to 12. This
      document serves to spark discussion and learning about this important topic. Future support documents
      will explore other key topics in mathematics teaching and learning.
   </p>
   <h4 class="color-lil uppercase">Seven Foundational PrincipleS For Improvement in MathematicS, K–12</h4>
   <ul>
      <li><span class="color-gr">❖</span> Focus on mathematics.</li>
      <li><span class="color-gr">❖</span> Coordinate and strengthen mathematics leadership.</li>
      <li><span class="color-gr">❖</span> Build understanding of effective mathematics instruction.</li>
      <li><span class="color-gr">❖</span> Support collaborative professional learning.</li>
      <li><span class="color-gr">❖</span> Design a responsive mathematics learning environment.</li>
      <li><span class="color-gr">❖</span> Provide assessment and evaluation in mathematics.</li>
      <li><span class="color-gr">❖</span> Facilitate access to mathematics learning resources.</li>
   </ul>

   <h3 class="color-lil">Why Is Understanding Fractions Important?</h3>
   <q class="color-lil"><em>No area of elementary school mathematics is as mathematically rich, cognitively complicated,
      and difficult to teach as fractions, ratios, and proportionality. These ideas all express mathematical
      relationships: fractions and ratios are ‘relational’ numbers. They are the first place in
      which students encounter numerals like ‘ 34
      ’ that represent relationships between two discrete
      or continuous quantities, rather than a single discrete (‘three apples’) or continuous quantity
      (‘4 inches of rope’).</em>
   </q><p style="text-align: right;">(Litwiller & Bright, 2002, p. 3)</p>
   <p><q>Most young children come to school already knowing a great deal about mathematics.… For example,
      they bring conceptual understanding from their daily experiences with manipulating objects (e.g., fitting
      different sizes and shapes of a construction toy together), making comparisons (e.g., ‘I’m taller than
      you’), making observations (e.g., ‘This bag is really heavy’), and asking questions (e.g., ‘Who is taller?’
      ‘Who has more cookies?’ ‘How big is it?)</q> (Ontario Ministry of Education, 2010, p. 20). These concepts
      build the foundation for fractional thinking.
   </p>
   <p>Ideally, as students build on their sense of number throughout their elementary schooling, they are given
      opportunities to make many connections among whole numbers, fractions, decimals and percentages,
      which support them in deepening their understanding of proportionality and ratio. Further, in secondary
      school, students use this as a foundation for understanding mathematical relationships in algebra and
      learning related to linear relationships, trigonometry and radian measure.
   </p>
   <p>The College Student Achievement Project, an extensive study of student achievement in first-year college
      mathematics courses, identified an understanding of fractions as one of the most critical skills needed
      for college mathematics in both business and technology courses and as one of the main areas in which
      many students lacked that necessary understanding (Orpwood, Schollen, Leek, Marinelli-Henriques &
      Assiri, 2012).
   </p>
   <p>The National Mathematics Panel Report suggests that “difficulty with learning fractions is pervasive and is an obstacle to further progress in mathematics and other domains dependent upon mathematics, including algebra. It has also been linked to difficulties in adulthood, such as failure to understand
      medication regimens” (as cited in Petit, Laird & Marsden, 2010, p. xi). A solid understanding of the
      various meanings that fractions can have and a robust ability to reason with and operate on quantities
      with fractions will support students in their mathematics education and in daily living (e.g., cooking,
      carpentry, sewing).
   </p>
   <h3 class="color-lil">What Is a Fraction?</h3>
   <p>A fraction most simply represents a <strong>number</strong>, as shown on the number line below:</p>
   <img src="/images/attention/fracAtt2.png" alt="" height="" width="" />
   <p>Yet within this very simple description lie some highly complex mathematical constructs that will be
      explored in this document. These constructs – part-whole relationships, part-part relationships, quotient
      and operator – are not mutually exclusive; they are different ways to represent and think about fractions.
   </p>

   <div class="purple-box">
      <p>Let’s take a closer look at the following fraction constructs:</p>
      <ul class="two-col-list">
         <li><span class="color-gr">❖</span> part-whole relationships</li>
         <li><span class="color-gr">❖</span> part-part relationships</li>
         <li><span class="color-gr">❖</span> quotient</li>
         <li><span class="color-gr">❖</span> operator</li>
      </ul> 
   </div>
  

   <p>Throughout the document, the following representations are used to demonstrate various ways students
      can be supported visually in their understanding and internalization of abstract concepts:
   </p>
   <ul>
      <li><span class="color-gr">❖</span> a number line</li>
      <li><span class="color-gr">❖</span> an area model (e.g., rectangle)</li>
      <li><span class="color-gr">❖</span> a volume model (e.g., cylinder)</li>
      <li><span class="color-gr">❖</span> a set model (e.g., random objects)</li>
   </ul>
   <!--well here-->
   <div class="dotted-box">
   <h4>First things First</h4>
   <p>Before we begin, here are a few questions and answers that you may find helpful.</p>
   <h4><em>What are a numerator and a denominator?</em></h4>
   <p>A numerator is the digit above the line in a fraction. A denominator is the digit below the line in a fraction.
      For example, in 34, the numerator is 3 and the denominator is 4.
   </p>
   <h4><em>What is an area model?</em></h4>
   <p>In an area model, one shape represents the whole. The whole is divided into fractional regions. Although the fractional regions are equal in area, they are not necessarily congruent (the same size and shape).</p>
   <h4><em>What is a set model?</em></h4>
   <p>In a set model, a collection of items represents the whole amount. Subsets of the whole make up the fractional parts. A variety of materials can serve as set models.</p>
   <h4><em>What is a volume model?</em></h4>
   <p>In a volume model, a three-dimensional figure represents the whole. The whole is divided into fractional regions that are occupied by space within the figure.</p>
   </div>
   <!--end well-->
   <h4>Part-Whole relationships</h4>
   <p>Learners are most familiar with the <strong>part-whole</strong> construct of fractions in which the denominator indicates the fractional unit being used, and the numerator indicates the number of fractional units being counted.</p>

   <table class="tbl-col2 tbl-gr-line tbl-fixed">
      <tbody>
         <tr>
            <td>
               <b>Area Models Representing Part-Whole Relationships</b>
               <img src="/images/attention/fracAtt3.png" alt="" height="" width="" />
               <p>The denominator indicates the fractional unit is one-half and there are 3 one-halves indicated by the numerator.</p>
            </td>
            <td>
               <b>Set Models Representing Part-Whole Relationships</b>
               <p>When considering a set of objects, it is important to be explicit about what constitutes the whole.</p>
               <p><abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr> cartons are full of eggs.</p>
               <img src="/images/attention/fracAtt5.png" alt="" height="" width="" />
               <p>The whole is identified as the carton of 12 eggs.</p>
            </td>
         </tr>
         <tr>
            <td>
               <img src="/images/attention/fracAtt4.png" alt="" height="" width="" />
               <p>The denominator indicates the fractional unit is one-ninth, and there are 7 one-ninth fractional units indicated by the numerator.</p>
               <p>The whole is identified by the solid outlined rectangle. Fractions in both these examples represent the shaded areas of the rectangles.</p>
            </td>
            <td>
               <p><abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr> of the set are not oranges.</p>
               <div class="purple-border"><img src="/images/attention/fracAtt6.png" alt="" height="" width="" /></div>
               <p>When identifying a fraction of a set, any attribute can be considered. The items in the set can be of different sizes when another attribute, such as colour, is being considered, as in the example of the fruit. The whole is identified as the set of fruit.</p>
               <div class="purple-box">
               <p>What is an attribute?</p>
               <p><q>An attribute is a quantitative or qualitative characteristic of a shape or an object. Examples include colour, size, or shape</q>
                  (Ontario Ministry of Education, 2005a, p. 60).
               </p></div>
            </td>
         </tr>
      </tbody>
   </table>


   <p><b><i>Number Line Model Representing Part-Whole Relationships</i></b></p>
   <p>A fraction on a number line, as shown below, is another example of a part-whole relationship.
      In this case, the whole is 1.
   </p>
   <div class="center">
      <img src="/images/attention/fracAtt7.png" alt="" height="" width="" />
   </div>
   
   <!--start well-->
   <div class="dotted-box">
   <div class="row">
   <div class="col-md-8">
   <h5>Let’s Recap Part-Whole Relationships</h5>
      <p>In part-whole relationships, the digit in the denominator indicates the fractional unit, or the number of equi-partitions, that the whole has been divided into. The digit in the numerator indicates the number of equi-partitions being counted. For example,</p>
   <img src="/images/attention/fracAtt8.png" alt="" height="" width="" />
   <p><abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr> of the area of the rectangles has been shaded.</p>
   <p><abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr> of the area of the rectangle has been shaded.</p>
   <img src="/images/attention/fracAtt9.png" alt="" height="" width="" />
   <p>Knowing that the digit in the denominator is 9 can inform the strategy for partitioning.</p>
   </div>
   <!--start 2nd well-->
   <div class="col-md-4">
   <div class="purple-box">
      <h4>Partition</h4>
   <p>To partition an area model means to divide it into non-overlapping regions. For fractional units of the whole, the emphasis is on partitioning into equal-size regions or <em>equi-partitioning</em>.</p>
   </div>
   </div>
   </div>
   </div>

   <h4>Part-Part relationships</h4>
   <p>A fraction can also be used to represent a <strong>part-part relationship</strong>. Because of “the preoccupation with the understanding of fractions as parts of a whole, along with an overemphasis on proper fractions” (Bruce, Chang, Flynn & Yearley, 2013, p. 29), North American classrooms have traditionally provided limited practice in thinking about the part-part relationship.</p>

   <div class="row">
      <div class="col-md-6">
         In the example of the set of fruit, we have a number of ways to describe the comparison of one part of the set to another part of the set. If we want to compare non-oranges to oranges in the set, we might say, “for every 7 pieces of fruit that are not oranges, there are 2 oranges” or “the ratio of non-oranges to oranges is 7 to 2 (7:2).”
      </div>
      <div class="col-md-6">
         <div class="purple-border"><img src="/images/attention/fracAtt6.png" alt="" height="" width="" /></div>
      </div>
   </div>
   <p>If we used fractional notation, it would be <abbr title=""><sup>7</sup>⁄<sub>2</sub></abbr> (read as seven-halves) as many pieces are not oranges as are oranges.</p>

   <div class="row">
      <div class="col-md-4">
         <div class="purple-box">
            <p>Adding the numerator and the denominator together determines the fractional unit being used to partition, or divide, the set, which in this case would be ninths.</p>
         </div>
      </div>
      <div class="col-md-8 relative farr"><img src="/images/attention/fracAtt10.png" alt="" height="" width="" />
      <div class="num"> the numerator indicates a count of non-oranges.</div>
      <div class="den"> the denominator indicates a count of oranges.</div>
      </div>
   </div>

   <p>Young learners who are accustomed to sorting sets of objects may initially describe sets by using part-part fractions. Older students investigate ratios, rates and proportions and then apply this understanding in the study of slope (rates of change), trigonometry and linear equations.</p>
   <h4>Three Ways to Think About Part-Part Relationships</h4>

   <table class="tbl-col3 tbl-gr-line">
         <tbody>
            <tr>
               <td class="relative">
               <b>Number Line Model</b>
               <img src="/images/attention/fracAtt11.png" alt="hoisted arrow" class="hoisted-arr-img" />
                  <p>This number line shows a part-part relationship in which the distance a flag has been hoisted up a pole is <abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr> of the distance left to be hoisted (or for every three segments hoisted there are two segments left to be hoisted)
                  </p>
                  <span class="dist-hoist">distance to hoist</span>
                  <span class="dist-hoisted">distance hoisted</span>
               </td>
               <td>
                  <b>Area Model</b>
                  <img src="/images/attention/fracAtt12.png" alt="area model" class="area-mod-img" />
                     <p>In this rectangle, <abbr title=""><sup>7</sup>⁄<sub>2</sub></abbr> as many regions are shaded as are unshaded, or for every 7 shaded regions there are 2 unshaded regions.</p>      
               </td>
               <td>
                  <b>Set Model</b>
                  <p>In the set of pieces of fruit, the number of pieces that are pears is <abbr title=""><sup>3</sup>⁄<sub>6</sub></abbr> the number of pieces that are not pears.</p>
                  <div class="purple-border"><img src="/images/attention/fracAtt6.png" alt="fruits" style="max-width: 300px;" /></div>
               </td>
            </tr>
         </tbody>
   </table>

<div class="dotted-box">
   <h4>Let’s Recap Part-Part Relationships</h4>
   <p>In <b>part-part relationships</b>, the digit in the denominator indicates the number of items that are in one
      part of the set, and the digit in the numerator indicates the number of items that are in the other part of
      the set. The fractional unit, or number of equi-partitions of the whole, is determined by adding the digits
      in the numerator and denominator together. For example,
   </p>
   <div class="row">
      <div class="col-md-6">
         <p>The number of fruit in this set that are pears is <abbr title=""><sup>3</sup>⁄<sub>6</sub></abbr> the number of fruit that are not pears.</p>
         <div class="purple-border"><img src="/images/attention/fracAtt6.png" alt="fruits" /></div>
         <p>The total number of fruit in this set is 9.</p>
      </div>
      <div class="col-md-6">
         <p><abbr title=""><sup>4</sup>⁄<sub>3</sub></abbr> describes the part-part relationship of this container of filled to not filled.</p>
         <div class="center"><img src="/images/attention/fracAtt13.png" alt="fruits" /></div>
         <p>The total number of equi-partitions in the whole container is 7.</p>
      </div>
   </div>
   </div>
   <h4>Fraction as Quotient</h4>
   <p>The <b>quotient</b> construct of fractions relates to the notion of dividing the numerator by the denominator. In primary grades, students are initially exposed to fractions and the quotient construct through equal-share contexts. For example, if four students are sharing six items equally, they will need to partition the items evenly. This allotment could be accomplished in a number of ways. For example, equally sharing six brownies among four people might be accomplished by</p>
   <ul>
      <li>
         <p><span class="color-gr">❖</span> partitioning each brownie into fourths and then distributing the fourths</p>
         <div class="row">
            <div class="col-md-8"><img src="/images/attention/fracAttBonus1.png" alt="brownie parts" /></div>
            <div class="col-md-4 color-lil">Each person would get 6 one-fourths of a brownie.</div>
         </div>

      </li>
      <li>
         <p><span class="color-gr">❖</span> giving each person one full brownie and then equally sharing the remaining two brownies among the four people</p>
         <div class="row">
            <div class="col-md-8"><img src="/images/attention/fracAttBonus2.png" alt="brownie parts" /></div>
            <div class="col-md-4 color-lil">Each person would get one whole brownie, and then each person would also get one-half of the remaining two brownies.</div>
         </div>
      </li>
      <li>
         <p><span class="color-gr">❖</span> partitioning the six brownies into four equal-size portions</p>
         <div class="row">
            <div class="col-md-8"><img src="/images/attention/fracAttBonus3.png" alt="brownie parts" /></div>
            <div class="col-md-4 color-lil">Each person would get one and one-half brownies.</div>
         </div>
      </li>
   </ul>

   <p>This last method connects to the representation of <abbr title=""><sup>6</sup>⁄<sub>4</sub></abbr> on the number line. Six is partitioned into four equal parts, and the magnitude or length of one part is considered.</p>
   <div class="center"><img src="/images/attention/fracAtt14.png" alt="fruits" /></div>
   <p>Sometimes, the context used to pose the question can influence the strategy students select. For example, suppose the brownie question was revised to the following:</p>
   <p>Equally share these six cups of water among four people.</p>
   <div class="center"><img src="/images/attention/fracAttBonus4.png" alt="brownie parts" /></div>
   <p>Students may tend to think of giving a full cup to each person and then sharing the remaining two cups
      equally by halves, rather than partitioning each cup of water into fourths.
   </p>
   <p>Later, students learn that dividing the numerator by the denominator results in the decimal equivalent
      for a fraction. From the example above, students can explore why <abbr title=""><sup>6</sup>⁄<sub>4</sub></abbr> = 1.5.
   </p>

   <div class="dotted-box">
    <h4>Let’s Recap Fractions as Quotients</h4>
   <p>When considering a <b>fraction as a quotient</b>, the context of the question suggests equal sharing, or dividing the digit in the numerator by the digit in the denominator. The result is the decimal equivalent for the fraction. For example,</p>
   <div class="center"><abbr title=""><sup>6</sup>⁄<sub>4</sub></abbr> = 6 ÷ 4  or 6 partitioned into 4 equal parts</div>
   <div class="center"><img src="/images/attention/fracAtt14.png" alt="fruits" /></div>
   <div class="center">Each part is equal to 1<abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> or 1.5.</div>  
   </div>

   
   <h4>Fraction as operator</h4>
   <p>A fraction as an <b>operator</b> refers to the use of a fraction to enlarge or shrink a quantity by a factor. Students see this early in their learning when they consider taking one-third of a whole object, such as one-third of a granola bar. If students were exploring what one-third of a set of six marbles was, they would discover that one-third of six equals two. As students work with large numbers, they may see the connection to multiplication and will use that knowledge to determine, for example, one-third of a school population (e.g., calculating <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> of 850 students can be thought of as <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> x 850 students).</p>

<div class="dotted-box">
<h5>Let’s Recap Fractions as Operators</h5>
<p>When considering a fraction as an operator, the fraction reduces or increases a quantity. For example,</p>
<div class="row">
   <div class="col-md-8">
      <p><abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> of a set of 6 marbles equals 2 marbles.</p>
      <p>Here, <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> is used as an operator to reduce the quantity to 2 marbles.</p>
   </div>
   <div class="col-md-4"><img src="/images/attention/fracAtt16.png" alt="marbles" /></div>
</div>
<p>A boy walks 6 km on Monday and 1<abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> times as far on Tuesday.</p>
   <img src="/images/attention/fracAtt17.png" alt="lines" />
   <p>Here, 1<abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> is used as an operator to increase the distance to 9 km.</p>
</div>
   <p>In the remainder of this document, you will see how these constructs play a role in students’ mathematics learning across the grades.</p>
   <p><q class="color-lil"><em>Thinking of fractions in these ways may seem beyond the grasp of elementary students, but it is not. The important thing is to begin by building meaning, and not by introducing the symbol alone. Because children’s experiences with slicing, splitting, distributing, measuring, and combining quantities are meaningful to them, problems that are based in these experiences are a rich source of meaning for fractions.</em></q></p>
   <p style="float: right;">(Empson & Levi, 2011, p. xxii)</p>

<div class="row">
   <div class="col-md-6">
      <h3 class="color-lil">Exploring Key Concepts</h3>
   <p>To allow students to explore and build understanding of foundational concepts, the teaching of fractions across the grades should be based on the consistent use of terminology and representations. Understanding of equivalence and operations with fractions can then be developed in a meaningful manner. 
   </p>
   </div>
   <div class="col-md-6"><img src="/images/attention/fracAtt18.png" alt="marbles" /></div>
</div>
   
   <div class="purple-box">
      <p>This section examines some of the key concepts of fractions understanding:</p>
   <ul class="two-col-list">
      <li><span class="color-gr">❖</span> types of fractions</li>
      <li><span class="color-gr">❖</span> unit fractions</li>
      <li><span class="color-gr">❖</span> the whole</li>
      <li><span class="color-gr">❖</span> equivalency</li>
      <li><span class="color-gr">❖</span> comparing and ordering</li>
      <li><span class="color-gr">❖</span> operations</li>
   </ul>
   </div>
   
   <div class="key-title">
         <img src="/images/attention/fracAtt19.png" alt="key" />
         <h4 class="key-bl">Types of Fractions</h4>     
   </div>


   <table class="tbl-lil">
      <tbody>
         <tr>
            <td colspan="2">
            <b>Simple Fractions</b>
            <p>Digits in both the numerator and the denominator are integers; the denominator ≠ 0.</p>
            <p><abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr>   <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr> <abbr title=""><sup>21</sup>⁄<sub>26</sub></abbr> <abbr title=""><sup>1</sup>⁄<sub>29</sub></abbr> <abbr title=""><sup>49</sup>⁄<sub>73</sub></abbr> <abbr title=""><sup>1</sup>⁄<sub>15</sub></abbr> <abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr> <abbr title=""><sup>125</sup>⁄<sub>28</sub></abbr> <abbr title=""><sup>5</sup>⁄<sub>8</sub></abbr> <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr></p>
            </td>
            <td rowspan="2"><b>Complex Fractions</b>
   <p>Either or both the numerator and the denominator are fractions.</p>
   <p>
      <abbr title=""><sup><abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr></sup>⁄<sub><abbr title=""><sup>5</sup>⁄<sub>7</sub></abbr></sub></abbr>
      <abbr title=""><sup><abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr></sup>⁄<sub>5</sub></abbr>
      <abbr title=""><sup>3</sup>⁄<sub><abbr title=""><sup>5</sup>⁄<sub>7</sub></abbr></sub></abbr>
   </p></td>
         </tr>
         <tr>
            <td>
               <div class="row">
                  <div class="col-md-6">
                     <b>Proper Fractions</b>
   <p>Digits in both the numerator and the denominator are integers; the numerator < the denominator.</p>
   <p><abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> <abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr> <abbr title=""><sup>21</sup>⁄<sub>26</sub></abbr> <abbr title=""><sup>1</sup>⁄<sub>29</sub></abbr> <abbr title=""><sup>49</sup>⁄<sub>73</sub></abbr> <abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr> <abbr title=""><sup>1</sup>⁄<sub>15</sub></abbr> <abbr title=""><sup>5</sup>⁄<sub>8</sub></abbr></p>
                  </div>
                  <div class="col-md-6"><b>Unit Fractions</b>
   <p>Digits in both the numerator and the denominator are integers; the numerator = 1.</p>
   <p><abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> <abbr title=""><sup>1</sup>⁄<sub>15</sub></abbr> <abbr title=""><sup>1</sup>⁄<sub>29</sub></abbr></p></div>
               </div>
            </td>
            <td>
               <div class="row">
                  <div class="col-md-6"><b>Mixed Fractions</b>
   <p>A quantity represented by an integer and a proper fraction</p>
   <p>3<abbr title=""><sup>4</sup>⁄<sub>5</sub></abbr> 12<abbr title=""><sup>1</sup>⁄<sub>29</sub></abbr> 7<abbr title=""><sup>21</sup>⁄<sub>26</sub></abbr></p></div>
                  <div class="col-md-6"><b>Improper Fractions</b>
   <p>Digits in both the numerator and the denominator are integers; the numerator > the denominator.</p>
   <p><abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr> <abbr title=""><sup>125</sup>⁄<sub>28</sub></abbr> </p></div>
               </div>
            </td>  
         </tr>
      </tbody>
   </table>

   <p><b><em>In the chart, note that each numerator and denominator could also be negative.</em></b></p>
   <p>In the Ontario mathematics curriculum for Grades 1 to 8, simple fractions are the focus of learning about fractions, while secondary students work with complex fractions, as well as with both simple (e.g., <abbr title=""><sup>x</sup>⁄<sub>5</sub></abbr>) and complex (e.g., <abbr title=""><sup><abbr title=""><sup>x</sup>⁄<sub>5</sub></abbr></sup>⁄<sub><abbr title=""><sup>x</sup>⁄<sub>15</sub></abbr></sub></abbr>) algebraic fractions. Presenting students with improper or mixed fractions in conjunction with proper and unit fractions allows them to develop a sense of fraction as a number. This presentation also helps to avoid over-reliance on a limited understanding of fractions, which may evolve from learning only about proper fractions. An example of this occurs when students consider a fraction to mean “out of,” such as <abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr> means “7 out of 9.” This idea could lead to students struggling with the meaning of <abbr title=""><sup>9</sup>⁄<sub>7</sub></abbr> , as it doesn’t make sense to have “9 out of 7.”</p>
   <p>As the samples in the chart demonstrate, simple fractions include fractional units other than halves, thirds,
      fourths, fifths and eighths. Fraction number sense is enhanced by opportunities to explore fractional
      concepts through a range of fractions, including those with “less friendly” denominators.
   </p>
   <p>The types of fractions in the chart can be used in each of the constructs (i.e., part-whole, part-part,
      quotient and operator). The representations of continuous models (i.e., area, number line, volume)
      and discrete models (i.e., set) should be used for each construct.
   </p>
   <p>When students are developing their understanding of fractions, they may record a relationship by including a decimal in the numerator, such as <abbr title=""><sup>2.5</sup>⁄<sub>6</sub></abbr>. Although the reasoning may be mathematically correct, this is an awkward notation. Students should be supported in making sense of how this notation is equivalent to others generated by their classmates, such as <abbr title=""><sup>5</sup>⁄<sub>12</sub></abbr> or <abbr title=""><sup>10</sup>⁄<sub>24</sub></abbr>.</p>

<div class="key-title">
         <img src="/images/attention/fracAtt20.png" alt="key" />
         <h4 class="key-pink">Unit Fractions</h4>     
   </div>

   <p>In a part-whole fraction, the digit in the denominator indicates the fractional unit, or the number of equi-partitions of the whole being considered.</p>
   <p>In a continuous model, such as a number line or shape, there is equal length or area in each partition.</p>
   <p>In a set model, there is an equal number of items in each partition.</p>
   <p>Consider the following unit fractions:</p>

<div class="row">
   <div class="col-md-4 center">
      <img src="/images/attention/fracAtt21.png" alt="distance arrows" />
      <p>1 one-fifth of the distance to 1 </p>
   </div>
   <div class="col-md-4 center">
      <img src="/images/attention/fracAtt22.png" alt="one ninths block" />
      <p><abbr title=""><sup>1</sup>⁄<sub>9</sub></abbr> of the area is shaded</p>
   </div>
   <div class="col-md-4 center">
      <img src="/images/attention/fracAtt23.png" alt="fruits" />
      <p>1 one-ninth 13 of the set of fruit are pears</p>
   </div>
</div>
   <p>Students develop flexibility in their representations of unit fractions, which include the use of physical models, pictures and numbers. It is important that they are given opportunities to create unit fractions through equi-partitioning and through re-creating the whole by iterating, or repeating, a unit fraction.</p>
   <div class="purple-box">
      Iterating is copying or combining equal units to create a new fraction or the whole.
   </div>
   <p>Sample tasks might include the following:</p>
   <table class="tbl-col2 purp-gr-tbl">
      <tbody>
         <tr>
            <td>What unit fraction can be used to describe the shaded area of this rectangle? 
            <div class="center"><img src="/images/attention/fracAtt24.png" alt="one sixths" /></div></td>
            <td>What fraction of the fruit pieces are bananas?
            <div class="center"><img src="/images/attention/fracAtt25.png" alt="fruits" /></div></td>
         </tr>
         <tr>
            <td>If this partition represents <abbr title=""><sup>1</sup>⁄<sub>6</sub></abbr> what could be a possible whole?
            <div class="center"><img src="/images/attention/fracAttBonus5.png" alt="rectangle" /><br/><abbr title=""><sup>1</sup>⁄<sub>6</sub></abbr></div></td>
            <td>If these fruit pieces represent <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> of the set, what might the set have been?
            <div class="center"><img src="/images/attention/fracAtt26.png" alt="fruits" /><br/><abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr></div>
            </td>
         </tr>
      </tbody>
   </table>
<div class="purple-box" style="float: right;width: 250px;">
   <p>What is a conjecture?</p>
   <p>“A conjecture is a guess or a prediction based on limited evidence” (Ontario Ministry of Education, 2005a, p. 60).</p>
 </div>
   <p>As students develop their understanding of the relative magnitude of unit fractions (for example, that <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> > <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> given the same whole) and the variety of ways to compose and decompose fractions through these types of activities, they develop fraction number sense. Students improve their understanding of relative magnitude by considering the impact on the size of the equi-partition as the denominator is changed. When students use models, they can develop and test conjectures about these relationships, such as <q>“As I cut the area into more regions, each region is smaller. I think that the larger the digit in the denominator, the smaller the region will be. So I think that <abbr title=""><sup>1</sup>⁄<sub>10</sub></abbr> would be a larger region than <abbr title=""><sup>1</sup>⁄<sub>20</sub></abbr> of this whole.”</q> Students can then construct a model, such as a diagram, or use materials or manipulatives to determine if this relationship holds true and
      develop a generalization.
   </p>
   
   
<div class="key-title">
         <img src="/images/attention/fracAtt27.png" alt="key" />
         <h4 class="key-green">The Whole</h4>     
   </div>

   <p>In any fraction, there is an implied relationship between the whole, the number of parts and the portion
      being considered. For example, when a fraction is presented symbolically without a context or a model, it
      is assumed to be a part-whole fraction. Being clear about the relationship being represented by a fraction
      by including a precise description using words or using a visual model helps in differentiating among the
      different uses of fractions.
   </p>
   <p>It is helpful for students to recognize the various possibilities and to be flexible in the interpretation of
      fractions. It is therefore important to be precise with language based on the construct of the fraction
      (e.g., part-whole, part-part, quotient and operator). For example, when considering a rectangular model
      in which the part-whole relationship of <abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr>
      refers to the fraction of area that is shaded (see example
      below), the whole is the area of the rectangle.
   </p>
   <div class="row">
   <div class="col-md-6 center" style="margin-top: 11px;">As a part-whole construct <abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr></div>
   <div class="col-md-6"><img src="/images/attention/fracAtt28.png" alt="two rectangles" /></div>
</div>
   
   <p>The whole rectangle has been partitioned into fractional units of halves, and three of these regions have
      been shaded. The digit in the denominator provides information about how the whole has been divided,
      in this case into halves. The digit in the denominator is not the whole; the whole is not 2.
   </p>
   <p>When considering <abbr title=""><sup>3</sup>⁄<sub>2</sub></abbr>
      as a quotient, the 3 (the numerator) is the whole and the 2 (the denominator)
      shows the number of partitions.
   </p>
   <div class="row">
   <div class="col-md-6 center" style="margin-top: 11px;">As a quotient construct</div>
   <div class="col-md-6"><img src="/images/attention/fracAtt29.png" alt="" /></div>
</div>

<div class="key-title">
         <img src="/images/attention/fracAtt30.png" alt="key" />
         <h4 class="key-orange">Equivalency</h4>     
   </div>

   <p>When determining equivalent fractions, students are identifying different fractional units that can be used to describe a quantity (e.g., <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> = <abbr title=""><sup>5</sup>⁄<sub>15</sub></abbr> = <abbr title=""><sup>7</sup>⁄<sub>21</sub></abbr> ). Students need to have many opportunities to use their proportional and spatial reasoning skills to flexibly determine equivalent part-whole fractions by using models rather than being exposed to an algorithm, such as “‘doubling the numerator and denominator.” Moss and Case (1999) are clear in their finding that “a greater emphasis on the meanings or semantics of rational numbers [rather] than [on] procedures for manipulating them…, [as well as on] the proportional nature of rational numbers” (p. 139) are key components of programs that produce a deeper understanding.</p>

   <span class="semi-bold">Using a Number Line Model to Represent Equivalent Fractions</span>
   <p>It is possible to generate an infinite number of equivalent fractions.</p>
   <p>Consider the fraction <abbr title=""><sup>12</sup>⁄<sub>8</sub></abbr>, modelled on a number line.</p>
   <div class="center"> <img src="/images/attention/fracAtt31.png" alt="line" /></div>
  
   <p>There are two main strategies for generating equivalent fractions: merging partitions together and splitting partitions further. Merging combines partitions to create fewer, larger partitions.</p>
   <p>Merging Partitions</p>
   <div class="center"> <img src="/images/attention/fracAtt32.png" alt="line" /></div>
   <p>In this example, the larger partitions are created by merging 4 one-eighth units into one unit of one-half. This merging creates 3 one-half units. Three-halves are equivalent to twelve-eighths.</p>
   <p>In this case, it would also be correct to merge 2 one-eighth units into one unit of one-fourth. This merging would generate the equivalent fraction of six-fourths.</p>
   <p>Using this same example, we can use splitting to generate an equivalent fraction. There are no limits to the number of splits we can make to the existing partitioning, although a large number of splits, such as 24, is difficult to represent visually. Let’s split each one-eighth partition into thirds.</p>
   <p>Splitting Partitions</p>
   <div class="center"> <img src="/images/attention/fracAtt33.png" alt="line" /></div>
   <p>In this example, there are 36 one-twenty-fourth units in 12 one-eighth units.</p>
   <span class="semi-bold">Using a Set Model to Represent Equivalent Fractions</span>
   <p>Splitting and merging can also be used to determine equivalent fractions with set models. Students find this easier when the set is constructed of items that can be split, such as apples or pieces of paper, as opposed to marbles, desks or people.</p>

   <div class="row">
      <div class="col-md-8">Consider the six pieces of paper shown to the right. The green pieces of this set can be described by the fraction <abbr title=""><sup>4</sup>⁄<sub>6</sub></abbr>, since four-sixths of the pieces are green.</div>
      <div class="col-md-4"><img src="/images/attention/fracAtt34.png" alt="six rectangles" /></div>
   </div>
   <div class="row">
      <div class="col-md-8">Alternatively, we can merge pieces together to create an equivalent fraction. Changing the fractional unit to thirds from sixths, or considering two pieces to be one partition, allows us to see that the fraction <abbr title=""><sup>2</sup>⁄<sub>3</sub></abbr> also describes the green pieces of this set.</div>
      <div class="col-md-4"><img src="/images/attention/fracAtt35.png" alt="six rectangles" /></div>
   </div>
   <div class="row">
      <div class="col-md-8">To create an equivalent fraction, we can split each piece into smaller equal-size pieces, such as halves. If we actually cut the pieces, we would
      have a set of 12 pieces of paper and 8 pieces would be green. We could describe this as <abbr title=""><sup>8</sup>⁄<sub>12</sub></abbr>, or <em>eight-twelfths</em> of the set are green. Note that
      we haven’t increased or decreased the actual amount of paper from our original set, so we have retained the whole.</div>
      <div class="col-md-4"><img src="/images/attention/fracAtt36.png" alt="six rectangles" /></div>
   </div>

   <span class="semi-bold">The Whole Matters: Consider This</span>
   <p>When determining equivalent part-whole fractions or comparing part-whole fractions by using models, it is important that the whole remains unchanged. The careful selection of models increases the likelihood that the whole will be preserved when splitting. Number lines and rectangles are excellent models for determining equivalent fractions. It is important that students also have experience with determining equivalent fractions by using set models, as this will aid them in understanding the impact of changing the whole.</p>
   <p>Consider this example where the whole has been changed: When determining an equivalent fraction for the paper set on page 15 some students may add more pieces, creating accurate models of the fractions <abbr title=""><sup>4</sup>⁄<sub>6</sub></abbr> (Fig. 1) and <abbr title=""><sup>8</sup>⁄<sub>12</sub></abbr> (Fig. 2). However, although it is true that <abbr title=""><sup>4</sup>⁄<sub>6</sub></abbr> = <abbr title=""><sup>8</sup>⁄<sub>12</sub></abbr>
      numerically, Figure 2 shows an equivalent ratio rather than an equivalent fraction to the representation in Figure 1, since the whole has been changed from 6 pieces of paper to 12.
   </p>
   <div class="row center">
   <div class="col-md-6">
      <figure>
      <figcaption>Figure 1: Original Model</figcaption>
      <img src="/images/attention/fracAtt34.png" alt="six rectangles" />
   </figure>
   </div>
   <div class="col-md-6">
      <figure>
      <figcaption>Figure 2: Model with the Whole Changed</figcaption>
      <img src="/images/attention/fracAtt38.png" alt="six rectangles" />
   </figure>
   </div>
</div>
   
   
   <span class="semi-bold">Avoiding Misconceptions about Equivalency</span>
   <ul>
      <li>
         <span class="color-gr">❖</span> If students are prematurely or solely exposed to symbolic procedures for determining equivalent fractions, they are prevented from connecting this procedure to the visual models. Being able to make such links will allow them to relate equivalent fractions to proportional reasoning and to whole numbers and decimals, and support them in making sense of algebraic fractions, such as <abbr title=""><sup>a</sup>⁄<sub>2b</sub></abbr>, in later grades.
      </li>
      <li>
         <span class="color-gr">❖</span> It is important to use precise language when supporting fractions learning. Consider <abbr title=""><sup>4</sup>⁄<sub>6</sub></abbr>, for example. Some might say that the equivalent fraction of <abbr title=""><sup>12</sup>⁄<sub>18</sub></abbr> is obtained by multiplying the numerator and denominator by 3. Some students may find this confusing as they understand that multiplying by 3 is the same as tripling a quantity. They therefore may see the new fraction as representing three times as much as the original fraction rather than an equivalent amount. Mathematically, the equivalent fraction is more correctly an example of splitting each sixth further into thirds. Symbolically, the fraction <abbr title=""><sup>4</sup>⁄<sub>6</sub></abbr> is multiplied by <abbr title=""><sup>3</sup>⁄<sub>3</sub></abbr> (which is equivalent to 1), generating an equivalent fraction without changing the quantity. Although this distinction may seem trivial, it is essential for secondary students when they are working with algebraic expressions, such as <abbr title=""><sup>a</sup>⁄<sub>2b</sub></abbr> + <abbr title=""><sup>2</sup>⁄<sub>c</sub></abbr>, and are trying to generate equivalent fractions with a denominator of 2bc. They need to multiply the first term by <abbr title=""><sup>c</sup>⁄<sub>c</sub></abbr> while recognizing that this is not changing the value of the original fraction.
      </li>
      <li>
         <p><span class="color-gr">❖</span> Some students become over-reliant on the process of “doubling both the numerator and the denominator.” This strategy may not be an effective way to compare <abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr> and <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> since the doubling would continue on and on. Consider the student who has been asked to compare which is larger: <abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr> or <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr>. Doubling the fractions repeatedly generates </p>
         <div class="row center">
            <div class="col-md-6"><abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr> = <abbr title=""><sup>14</sup>⁄<sub>18</sub></abbr> = <abbr title=""><sup>28</sup>⁄<sub>36</sub></abbr> = <abbr title=""><sup>56</sup>⁄<sub>72</sub></abbr> = <abbr title=""><sup>112</sup>⁄<sub>144</sub></abbr></div>
            <div class="col-md-6"><abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> = <abbr title=""><sup>6</sup>⁄<sub>10</sub></abbr> = <abbr title=""><sup>12</sup>⁄<sub>20</sub></abbr> = <abbr title=""><sup>24</sup>⁄<sub>40</sub></abbr> = <abbr title=""><sup>48</sup>⁄<sub>80</sub></abbr> = <abbr title=""><sup>96</sup>⁄<sub>160</sub></abbr></div>
         </div>
       

         <p>The sets of equivalent fractions above, while mathematically correct, are not at all helpful in determining equivalent fractions for comparison. Juxtapose this with a student who understands that each of the ninths can be split further into fifths and each of the fifths further into ninths to create a common fractional unit of forty-fifths. </p>
         <div class="center">
            <img src="/images/attention/fracAtt39.png" alt="" />
         </div>
         <div class="center">
            <img src="/images/attention/fracAtt40.png" alt="" />
         </div>
         <p>The student can then draw or visualize that the appropriate equivalent fractions are <abbr title=""><sup>35</sup>⁄<sub>45</sub></abbr> and <abbr title=""><sup>27</sup>⁄<sub>45</sub></abbr> and conclude that <abbr title=""><sup>35</sup>⁄<sub>45</sub></abbr> > <abbr title=""><sup>27</sup>⁄<sub>47</sub></abbr> so <abbr title=""><sup>7</sup>⁄<sub>9</sub></abbr> > <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> since 35 forty-fifth units is more than 27 forty-fifth units. This conclusion allows the student to understand that the common denominator represents the common fractional unit, rather than the value generated by “multiplying the denominators,” which does not reflect the mathematics underlying the procedure. </p>
         <p>Students might also construct accurate diagrams, which can also be useful for comparing and
            ordering fractions.
         </p>
      </li>
   </ul>

<div class="key-title">
         <img src="/images/attention/fracAtt41.png" alt="key" />
         <h4 class="key-light">Comparing and Ordering</h4>     
   </div>


   <p><q>A child’s understanding of the ordering of two fractions (that is, deciding which of the relations is equal to, is less than, or is greater than) needs to be based on an understanding of the ordering of unit fractions</q>
      <br/>(Behr & Post, 1992, p. 21).
   </p>
   <p>There are many effective strategies for comparing and ordering fractions beyond determining a common fractional unit, or common denominator. When students have a strong understanding of fractions, including the multiplicative relationship between the numerator and the denominator, they are able to use number sense and proportional reasoning to make comparisons.</p>
   <span class="semi-bold">Constructing Models</span>
   <p>Students could construct reasonably accurate models of these fractions by using rectangles or number lines to compare the fractions.</p>
   <div class="center"><img src="/images/attention/fracAtt42.png" alt="" /></div>
   <div class="center"><img src="/images/attention/fracAtt43.png" alt="" /></div>
   <div class="row">
   <div class="col-md-6"><span class="semi-bold">Using Benchmarks</span>
      <p>Students may use benchmarks to make a comparison. A student might say, “I know that 3 is less than half of 7, so <abbr title=""><sup>3</sup>⁄<sub>7</sub></abbr> < <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr>. I also know that 5 is more than half of 9, so <abbr title=""><sup>5</sup>⁄<sub>9</sub></abbr> > <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> . I know then that <abbr title=""><sup>5</sup>⁄<sub>9</sub></abbr> > <abbr title=""><sup>3</sup>⁄<sub>7</sub></abbr> .” This thinking demonstrates an understanding of the multiplicative relationship between the numerator and denominator.</p>
   </div>
   <div class="col-md-6">
      <div class="purple-box">
   <h4>What is a benchmark?</h4>
   <p>“A benchmark is a number or measurement that is internalized and used to help judge other numbers or measurements” (Ontario Ministry of Education, 2005a, p. 121).</p>
   </div>
   </div>
</div>
   
   <span class="semi-bold">Using Common Numerators</span>
   <p>Another strategy students may use to compare fractions is common numerators. They might initially reason when comparing <abbr title=""><sup>7</sup>⁄<sub>11</sub></abbr> and <abbr title=""><sup>7</sup>⁄<sub>13</sub></abbr> that since the digits in the numerators are the same, the fractions are equal. However, on further investigation, students will realize that elevenths are larger than thirteenths, so 7 elevenths is larger.</p>
   <span class="semi-bold">Using Equivalent Fractions</span>
   <p>Students might also use their understanding of equivalent fractions to generate common numerators for comparison. For example, when comparing <abbr title=""><sup>3</sup>⁄<sub>11</sub></abbr> and <abbr title=""><sup>6</sup>⁄<sub>19</sub></abbr> , students may identify <abbr title=""><sup>6</sup>⁄<sub>22</sub></abbr> as equal to <abbr title=""><sup>3</sup>⁄<sub>11</sub></abbr>. They can use the strategy of common numerators to determine that <abbr title=""><sup>3</sup>⁄<sub>11</sub></abbr> < <abbr title=""><sup>6</sup>⁄<sub>19</sub></abbr>. Notice that in this example, determining an equivalent fraction for one fraction involves much simpler calculations (which might be performed mentally) than determining a common denominator.</p>
   <span class="semi-bold">Using Unit Fractions</span>
   <p>When students are ordering fractions like <abbr title=""><sup>10</sup>⁄<sub>11</sub></abbr> and <abbr title=""><sup>12</sup>⁄<sub>13</sub></abbr>, they can use the notion that the gap between the numerator and denominator is 1 fractional unit in both. They might further reason that since thirteenths are smaller than elevenths, there is less missing from the whole partitioned into thirteenths, so <abbr title=""><sup>12</sup>⁄<sub>13</sub></abbr> is closer to 1 and therefore is greater than <abbr title=""><sup>10</sup>⁄<sub>11</sub></abbr>.</p>

<div class="key-title">
         <img src="/images/attention/fracAtt44.png" alt="key" />
         <h4 class="key-red">Operations</h4>     
   </div>

   <p><q>“Without the requisite conceptual understanding such as the importance of equivalence, estimation, unit fractions, and part-whole relationships, students struggle to complete calculations with fractions”</q> (Bruce, Chang, Flynn & Yearley, 2013, p. 17). When students explore fraction concepts in a variety of meaningful ways, they develop an implicit understanding of the operations of addition, subtraction, division and multiplication. These experiences begin in primary grades, as discussed previously in this document, and continue through to the intermediate grades, where students are typically introduced to the formal algorithms for these operations. In secondary mathematics, these foundational concepts are extended to algebraic expressions and to applications of fractions in contexts such as trigonometric ratios, radian measure (e.g., <abbr title=""><sup>2</sup>⁄<sub>3</sub></abbr> π) and probability.
   </p>
   <p>Let’s examine the implicit learning before discussing formal algorithms. When students decompose a part-whole fraction into unit fractions, they often use an addition statement to communicate their thinking. For example, a student may see that <abbr title=""><sup>5</sup>⁄<sub>11</sub></abbr> can be</p>
   <ul>
      <li>
          
         <div class="row">
            <div class="col-md-4"><span class="color-gr">❖</span>represented as</div>
            <div class="col-md-8"><img src="/images/attention/fracAtt45.png" alt="line" /></div>
         </div> 
      </li>
      <li><span class="color-gr">❖</span> composed by counting “1 one-eleventh, 2 one-elevenths, 3 one-elevenths, 4 one-elevenths, 5 one-elevenths”</li>
      <li><span class="color-gr">❖</span> written as <abbr title=""><sup>1</sup>⁄<sub>11</sub></abbr> + <abbr title=""><sup>1</sup>⁄<sub>11</sub></abbr> + <abbr title=""><sup>1</sup>⁄<sub>11</sub></abbr> + <abbr title=""><sup>1</sup>⁄<sub>11</sub></abbr> + <abbr title=""><sup>1</sup>⁄<sub>11</sub></abbr> = <abbr title=""><sup>5</sup>⁄<sub>11</sub></abbr></li>
      <li><span class="color-gr">❖</span> described as <q>“5 one-elevenths”</q> or <q>“five times one-eleventh”</q></li>
   </ul>
   <p>These connections allow students to develop an understanding of the role of the numerator (count) and denominator (fractional unit) and see that for both addition and multiplication, the unit remains unchanged. The Ontario mathematics curriculum identifies several opportunities for these types of connections to be introduced and developed from primary grades through to senior grades (Ontario Ministry of Education, 2005a, 2005b). These opportunities will form a solid basis on which algorithms can be developed and learned.</p>
   <p>Similarly, decomposing a part-whole fraction can result in subtraction and division statements.</p>
   <p>Consider <abbr title=""><sup>6</sup>⁄<sub>4</sub></abbr>. Students may say that <abbr title=""><sup>6</sup>⁄<sub>4</sub></abbr> – <abbr title=""><sup>4</sup>⁄<sub>4</sub></abbr> = <abbr title=""><sup>2</sup>⁄<sub>4</sub></abbr>.</p>
   <p>They may also represent this by using a picture (see below) and identify that <abbr title=""><sup>6</sup>⁄<sub>4</sub></abbr> – <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> – <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> – <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> = 0  or that <abbr title=""><sup>6</sup>⁄<sub>4</sub></abbr> ÷ <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> = 3
      or that <q>“one-half goes into six-fourths three times.”</q>
   </p>
   <div class="center"><img src="/images/attention/fracAtt46.png" alt="line" /></div>
   <p>Young students reason with fractions as operators, or multiplication by a fraction, when solving problems of equal sharing, such as determining <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> of the volume of a pitcher or <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr> of the area of a figure. Older students extend this knowledge by solving problems such as, “There was <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> a pan of lasagna left. My dad ate <abbr title=""><sup>2</sup>⁄<sub>3</sub></abbr> of the remaining lasagna, and my sister ate the rest. What fraction of the whole pan did my sister eat?” Think about what you are seeing in your head as you read that problem. How might you solve the problem by using visualization rather than an algorithm?</p>
   <div class="row center">
      <div class="col-md-4">
         <p>Perhaps you pictured this:</p>
         <p>Half a pan</p>
         <img src="/images/attention/fracAtt47.png" alt="line" />
      </div>
      <div class="col-md-4">
         <p>and then this:</p>
         <p>two-thirds and one-third</p>
         <img src="/images/attention/fracAtt48.png" alt="line" />
      </div>
      <div class="col-md-4">
         <p>and then this:</p>
         <p>&nbsp;</p>
         <img src="/images/attention/fracAtt48.png" alt="line" />
         <p>to obtain the answer of 16.</p>
      </div>
   </div>
   
   <p>If you were to solve this by using an algorithm, you would first need to identify the portion of the half-pan that the sister ate, which is <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr>. You would then have to realize that the question is asking what portion of the whole <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> of <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> is. The expression would become <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> x <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr> , and you could calculate the answer of <abbr title=""><sup>1</sup>⁄<sub>6</sub></abbr>. Some may see this equation as a much more complicated solution than that obtained by an illustration.</p>
   <p>It is important to understand the type of fraction that is being operated on before performing the operation, as these following examples demonstrate.</p>

<div class="row">
   <div class="col-md-6">
   <div class="bg-lil">
      <p class="center"><b>Part-Whole</b></p>
   <p><em>The denominator is the fractional unit. The fractional unit is unchanged by addition or subtraction.</em></p>
   <p>One day I walked for <abbr title=""><sup>5</sup>⁄<sub>6</sub></abbr> hours, and the next day I walked for <abbr title=""><sup>3</sup>⁄<sub>6</sub></abbr> hours. How long did I walk altogether?</p>
   <p>This could be modelled by using a number line. </p>
   <img src="/images/attention/fracAtt49.png" alt="line" />
   <p class="center">1<abbr title=""><sup>2</sup>⁄<sub>6</sub></abbr> hours spent walking.</p>
   </div>
   </div>
   <div class="col-md-6 ">
      <div class="bg-lil">
      <p class="center"><b>Part-Part</b></p>
      <p><em>The numerator and denominator are parts of a whole. In this construct, the fractional unit is changed by addition or subtraction.</em></p>
   <p>One day I successfully landed <abbr title=""><sup>5</sup>⁄<sub>6</sub></abbr> of the jumps on my bike. The next day I successfully landed <abbr title=""><sup>3</sup>⁄<sub>6</sub></abbr> of the jumps. What was my overall success rate for landing jumps?</p>
   <p>This could be modelled by using coloured tiles.</p>
      <img src="/images/attention/fracAtt50.png" alt="line" />
      <p class="center"><abbr title=""><sup>8</sup>⁄<sub>12</sub></abbr> of the jumps were landed.</p>
   </div>
   </div>
</div>

   <h3 class="color-lil">How Can We Promote Fractions Thinking?</h3>
   <p>Research results clearly show that improving students’ understanding of fractions occurs through more
      precise instruction rather than through significant increases in the time spent learning about fractions
      (Watanabe, 2012). Teachers are encouraged to be thoughtful and intentional in selection of resources
      and learning opportunities to maximize learning.
   </p>
   <!--start well-->
   <div class="purple-box">
      <p>The following strategies apply not only when students are initially exposed to fractions but also when
      new concepts are being introduced, such as operations with fractions, and when fractions are being
      used in new contexts, such as trigonometry and functions.
      </p>
      <p>These sample strategies are organized under the following key concepts:</p>
      <ul>
         <li><span class="color-gr">❖</span> unit fractions</li>
         <li><span class="color-gr">❖</span> representations</li>
         <li><span class="color-gr">❖</span> equivalence and comparing</li>
         <li><span class="color-gr">❖</span> operations</li>
      </ul>
   </div>
   
   <!--end well-->
   <h4>Unit Fractions</h4>
   <ul>
      <li>
         <span class="color-gr">❖</span> Focus on unit fractions to develop fractional number sense. Students should
         <ul>
            <li>&mdash; count by unit fractions (starting at 0 and extending beyond 1) to develop a sense of a fraction as a number, the role of the numerator and denominator, and the relationship between the numerator and denominator.</li>
            <li>&mdash; compose and decompose fractions into unit fractions.</li>
            <li>&mdash; develop an understanding of benchmarks. Very young students often have an implicit understanding of common benchmarks, such as one-half, one whole, one and one-half. As students become familiar with an increasing range of fractions, they should be developing a correspondingly broad set of benchmarks for reference, which will include equivalent fractions for the more common benchmarks.</li>
         </ul>
      </li>
      <li>
         <span class="color-gr">❖</span> Have students equi-partition figures and identify fractions of area and set models from the outset rather than providing pre-partitioned figures.
      </li>
      <li>
         <span class="color-gr">❖</span> Introduce mixed and proper fractions simultaneously. Young students see both in equal-share contexts, and continued exposure to both supports the development of correct generalizations.
      </li>
      <li>
         <span class="color-gr">❖</span> Use precise language. Unless specifically referring to a part-part relationship (such as “5 to 4”), all fractions should be read as a number. For example, <abbr title=""><sup>5</sup>⁄<sub>4</sub></abbr> is five-fourths not
         <ul>
            <li>&mdash; five over four, which confuses students by focusing on the physical arrangement of the digits or</li>
            <li>&mdash; five out of four, which doesn’t support understanding of a fraction as a single number</li>
            <li>&mdash; five quarters, which obscures the fractional unit and requires students to connect to the context of money, where they must then realize that a quarter is one-fourth of a dollar and not attend to the fact that a quarter is 25 cents. Students can then apply this understanding of one-fourth
               to the contextual usage of quarter, such as “a quarter of a dollar,” “a quarter of an hour” and “the first quarter of a basketball game” – in each case, the whole is representing a different quantity (one dollar, one hour, one 48-minute game).
            </li>
            <li>Secondary students should also understand that fractions represent a number when presented in such contexts as algebraic expressions and radian measure. <abbr title=""><sup>5</sup>⁄<sub>4</sub></abbr>x may appear as <abbr title=""><sup>5x</sup>⁄<sub>4</sub></abbr> but should be read as five x fourths or five-fourths x rather than as “5x over 4.” Similarly, <abbr title=""><sup>5</sup>⁄<sub>4</sub></abbr>π should be read as five-fourths π rather than as “five π by four.”
            </li>
         </ul>
      </li>
   </ul>
   <h4>Representations</h4>
   <ul>
      <li>
         <span class="color-gr">❖</span> Introduce notation alongside pictorial representations, as is done with whole numbers.
      </li>
      <li>
         <span class="color-gr">❖</span> Use representations that have longevity across grades and content, such as number lines, rectangles, and volume. Commercial manipulatives, such as fraction bars and number rods are helpful.
      </li>
      <li>
         <span class="color-gr">❖</span> Introduce a new concept with a familiar representation, and introduce a new representation for a concept the students are already familiar with. For example, use a number line with primary students when first introducing unit fractions as they have experience with whole numbers on the line. Later,
         represent these same unit fractions when introducing a new model, such as a rectangle.
      </li>
      <li>
         <span class="color-gr">❖</span> Use both continuous representations (such as area, volume, and a number line) and discrete representations (i.e., sets) for representing both part-whole and part-part relationships.
      </li>
      <li>
         <span class="color-gr">❖</span> Avoid introducing circles in primary and junior grades for representing fractions. This representation requires students to understand the area of a circle, which is an intermediate curriculum expectation. Also, a circle is difficult to equi-partition for fractions other than <abbr title=""><sup>1</sup>⁄<sub>2</sub></abbr>, <abbr title=""><sup>1</sup>⁄<sub>4</sub></abbr>, <abbr title=""><sup>1</sup>⁄<sub>8</sub></abbr> and perhaps <abbr title=""><sup>1</sup>⁄<sub>3</sub></abbr> (since students frequently see this fraction represented by using a circle).
      </li>
   </ul>
   <h4>Equivalence and Comparing</h4>
   <ul>
      <li><span class="color-gr">❖</span> Engage students in tasks that require them to determine equivalent fractions through splitting and merging by using models before introducing a symbolic procedure.</li>
      <li><span class="color-gr">❖</span> Challenge students’ understanding of fraction equivalence by changing the wholes so that students learn that they must consider the whole, the numerator and the denominator when comparing fractions.</li>
      <li><span class="color-gr">❖</span> Support students in connecting to other number systems for equivalence, such as whole numbers, and decimals (<abbr title=""><sup>12</sup>⁄<sub>2</sub></abbr> = 6 ; <abbr title=""><sup>12</sup>⁄<sub>5</sub></abbr> = 2.4).</li>
   </ul>
   <h4>Operations</h4>
   <ul>
      <li><span class="color-gr">❖</span> Build on students’ intuitive understanding of the operations on whole numbers as they have been developed throughout the primary and junior grades. Students learn early that addition can occur only between quantities with like units; for example, one dollar and one cent do not equal two since the units are different.</li>
      <li><span class="color-gr">❖</span> Ensure that essential prior understanding is in place (see Math Teaching for Learning: Building to Addition and Subtraction of Fractions at www.edugains.ca), rather than introducing algorithms prematurely.</li>
   </ul>
   <h3 class="color-lil">Fractions across Strands and Grades</h3>
   <p>In several school boards, teachers involved in collaborative action research about learning and teaching
      fractions have identified the positive impact on student understanding when fractions are explored
      in a punctuated, or chunked, fashion throughout the school year rather than within a discrete unit.
      (For more discussion on this, see Flynn, McPherson and Yearley’s Results of Collaborative Action
      Research on Fractions, 2011–2012 in the Professional Learning about Fractions digital paper available
      at www.edugains.ca.) Punctuated instruction allows teachers to be responsive to student thinking when
      planning subsequent activities and allows students to connect their fractions knowledge to the learning
      of other mathematical concepts. In this way, teachers narrow the focus of learning to key fractions
      concepts, such as unit fractions, and slow down the learning to allow students to spend the necessary
      time on one task or on multiple connected tasks.
   </p>
   <p>Although the curriculum is specific about which meanings students are responsible for understanding at
      each grade level, teachers who have a deep understanding of all the meanings will not only be better able
      to identify how the fraction constructs are embedded in the Ontario mathematics curriculum (see Fig. 3) but
      will also be better equipped to identify student thinking that is mathematically correct but unexpected
      in the specific learning context. This understanding will allow teachers to support students in connecting
      their knowledge to the desired learning outcomes.
   </p>
   <figure class="center">
      <img src="/images/attention/fracAtt51.png" alt="line" />
      <figcaption>
         Figure 3: Exploration of Fraction Constructs from Grades 1 to 12
         
      </figcaption>
   </figure>
   <p><em>This graphic uses colour to represent where the teaching of each fraction construct is embedded in the Ontario mathematics curriculum from Grades 1 to 12. (Based on Ontario Ministry of Education, 2005a.)</em></p>
   <!--start well-->
   <div class="purple-box">
    <p>Visit LearnTeachLead.ca/paying_attention_fractions to download four support documents for this guide:</p>
   <ul>
      <li><span class="color-gr">❖</span> Actions to Develop Fractions Understanding</li>
      <li><span class="color-gr">❖</span> Intentional Tasks to Develop Fractions Thinking</li>
      <li><span class="color-gr">❖</span> Fractions across the Strands and Grades: Sample Tasks</li>
      <li><span class="color-gr">❖</span> Being Responsive to Student Thinking</li>
   </ul>  
   </div>

   <h3 class="color-lil">Ministry Resources</h3>
   <div class="resources">
   <h4>Fraction research</h4>
   <h5>Professional Learning about Fractions: A Collaborative Action Research Project Digital Paper</h5>
   <p>This paper documents the learning process of collaborative action research teams in Ontario and
      the lessons learned along the way, and identifies effective practices that will inform the thinking and
      development of future resources. It includes brief research summaries, numerous lessons and videos.
      (On the EduGAINS website, see Professional Learning … about Fractions.)
      http://www.edugains.ca/newsite/DigitalPapers/fractions/fractions.html
   </p>
   <h5>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h5>
   <p>This literature review synthesizes existing knowledge from the field of educational research focused on the
      learning and teaching of fractions. (On the EduGAINS website, see Professional Learning … about Fractions.)
      http://www.edugains.ca/resourcesDP/Resources/PlanningSupports/FINALFoundationstoLearningandTeaching
      Fractions.pdf
   </p>
   <h5>Math Teaching for Learning</h5>
   <p>These are one-page synopses of key learnings arising from Foundations to Learning and Teaching
      Fractions: Addition and Subtraction. Topics include Developing Fraction Number Sense; Purposeful
      Representations; Developing Proficiency with Partitioning, Iterating and Disembedding; Building
      Understanding of Unit Fractions; and Building to Addition and Subtraction of Fractions. (On the
      EduGAINS website, see Professional Learning … about Fractions.)
   </p>
   <h5>Math for Teaching: Ways We Use Fractions </h5>
   <p>http://www.edugains.ca/resourcesDP/Resources/PlanningSupports/mathforTeachingWaysWeUseFractions.pdf</p>
   <h5>Math Teaching for Learning: Developing Fraction Number Sense </h5>
   <p>http://www.edugains.ca/resources/ProfessionalLearning/Fractions_OnePageSynopses/Fractions_DevelopingNumberSense.pdf</p>
   <h5>Math Teaching for Learning: Purposeful Representations</h5>
   <p>http://www.edugains.ca/resources/ ProfessionalLearning/Fractions_OnePageSynopses/Fractions_Representations.pdf</p>
   <h5>Math Teaching for Learning: Developing Proficiency with Partitioning, Iterating and Disembedding</h5>
   <p>http://www.edugains.ca/resources/ProfessionalLearning/Fractions_OnePageSynopses/Fractions_IteratingandPartitioning.pdf</p>
   <h5>Math Teaching for Learning: Building Understanding of Unit Fractions </h5>
   <p>http://www.edugains.ca/resources/ProfessionalLearning/Fractions_OnePageSynopses/Fractions_UnitFractions.pdf</p>
   <h5>Math Teaching for Learning: Building to Addition and Subtraction of Fractions</h5>
   <p>http://www.edugains.ca/resources/ProfessionalLearning/Fractions_OnePageSynopses/Fractions_AdditionandSubtraction.pdf</p>
   <h5>Results of Collaborative Action Research on Fractions (2011–2012) – Knowledge Network on Applied Education Research (KNAER) Project:</h5>
   <p>http://www.edugains.ca/resourcesDP/Resources/PlanningSupports/resultsOfActionResearchOnFractions.pdf</p>
   <h5>Other Fraction Resources: </h5>
   <p>http://www.edugains.ca/newsite/DigitalPapers/fractions/resources.html</p>
   <h4>“Paying attention to” documents</h4>
   <h5>Paying Attention to Proportional Reasoning</h5>
   <p>Support Document for Paying Attention to K–12 Mathematics, Ontario Ministry of Education, 2012
      http://www.edu.gov.on.ca/eng/teachers/studentsuccess/ProportionReason.pdf
   </p>
   <h5>Paying Attention to Proportional Reasoning (Adobe Presenter)</h5>
   <p>Overview of the Paying Attention to Proportional Reasoning document in Adobe Presenter format, Ontario Ministry of Education, 2012 http://www.edugains.ca/resourcesLNS/MathematicsFoundationalPrinciples/ProportionalReasoning_AP/index.htm</p>
   <h5>Paying Attention to Spatial Reasoning</h5>
   <p>Support Document for Paying Attention to K–12 Mathematics, Ontario Ministry of Education, 2014 http://www.edu.gov.on.ca/eng/literacynumeracy/LNSPayingAttention.pdf</p>
   <h4>Webcasts</h4>
   <h5>Planning for Mathematical Understanding: Fractions across the Junior Grades</h5>
   <p>This webcast documents the journey of junior teachers as they plan and deliver a unit on fractions. (On the EduGAINS website, see Resource Collections; Webcasts.) http://learnteachlead.ca/en/projects/planning-for-understanding-in-mathematics-fractions-across-thejunior-
      grades
   </p>
   <h5>Learning Mathematics within Contexts</h5>
   <p>Dr. Cathy Fosnot and a math study group of Ontario educators explore equivalency in a Grade 6 classroom.
      http://learnteachlead.ca/en/projects/learning-mathematics-within-contexts
   </p>
   <h4>Guides to effective instruction</h4>
   <h5>A Guide to Effective Instruction in Mathematics, Kindergarten to Grade 6: Number Sense and Numeration</h5>
   <p>Grades 4 to 6, Volume 5: Fractions, Ontario Ministry of Education, 2006
      http://eworkshop.on.ca/edu/resources/guides/NSN_vol_5_Fractions.pdf
   </p>
   <h5>A Guide to Effective Instruction in Mathematics, Kindergarten to Grade 3: Number Sense and Numeration,</h5>
   <p>Ontario Ministry of Education, 2003
      http://eworkshop.on.ca/edu/resources/guides/Guide_Math_K_3_NSN.pdf
   </p>
   <h4>Student digital resources</h4>
   <h5>Fractions – Exploring Part/Whole Relationships</h5>
   <p>This site has a range of interactive activities, games, quizzes and learning tools with feedback.
      http://oame.on.ca/mathies/activities.html
   </p>
   <h5>Learning Tools</h5>
   <p>This site hosts a collection of digital tools for exploring fraction concepts: fraction strips, pattern blocks,
      pouring containers. http://oame.on.ca/mathies/learningTools.php
   </p>
   <h5>Gap Closing ePractice</h5>
   <p>This series of digital interactive mathematics activities provides practice and builds understanding of
      fractions with feedback. www.epractice.ca
   </p>
</div>

   <h3 class="color-lil">References</h3>
   <p>Behr, M., & Post, T. (1992). Teaching rational number and decimal concepts. In T. Post (Ed.), Teaching
      Mathematics in grades K–8: Research-based methods (2nd ed., pp. 201–248). Boston, MA: Allyn and Bacon.
   </p>
   <p>Bruce, C., Chang, D., Flynn, T., & Yearley, S. (2013). Foundations to learning and teaching fractions:
      Addition and subtraction. Retrieved from http://www.edugains.ca/resources/ProfessionalLearning/
      FoundationstoLearningandTeachingFractions.pdf
   </p>
   <p>Bruce, C., Flynn, T., McPherson, R., & Yearley, S. (2012). Results of collaborative action research on fractions
      (2011–2012). Retrieved from http://www.edugains.ca/resourcesDP/Resources/PlanningSupports/results
      OfActionResearchOnFractions.pdf
   </p>
   <p>Empson, S., & Levi, L. (2011). Extending children’s mathematics: Fractions and decimals: Innovations in
      cognitively guided instruction. Portsmouth, NH: Heinemann.
   </p>
   <p>Litwiller, B. H., & Bright, G. W. (2002). Making sense of fractions, ratios, and proportions: 2002 yearbook.
      Reston, VA: National Council of Teachers of Mathematics.
   </p>
   <p>Moss, J., & Case, R. (1999). Developing children’s understanding of the rational numbers: A new model
      and an experimental curriculum. Journal for Research in Mathematics Education, 30(2), 122–147.
   </p>
   <p>Ontario Ministry of Education. (2005a). The Ontario curriculum: Grades 1–8 mathematics. Toronto, ON:
      Queen’s Printer for Ontario.
   </p>
   <p>Ontario Ministry of Education. (2005b). The Ontario curriculum: Grades 9–10 mathematics. Toronto, ON:
      Queen’s Printer for Ontario.
   </p>
   <p>Ontario Ministry of Education. (2010). The full-day early learning – kindergarten program. Toronto, ON:
      Queen’s Printer for Ontario.
   </p>
   <p>Orpwood, G., Schollen, L., Leek, G., Marinelli-Henriques, P., & Assiri, H. (2012). College mathematics
      project 2011: Final report. Retrieved from http://collegemathproject.senecac.on.ca/cmp/en/pdf/Final
      Report/2011/CMP_2011_Final_Report%20-%2002Apr12%20pmh.pdf
   </p>
   <p>Petit, M., Laird, R., & Marsden, E. (2010). A focus on fractions. New York, NY: Routledge.</p>
   <p>Watanabe, T. (2012, October). Thinking about learning and teaching sequences for the addition and
      subtraction of fractions. In C. Bruce (Chair), Think Tank on the Addition and Subtraction of Fractions.
      Think Tank conducted in Barrie, Ontario.
   </p>
   <section class="adobe-block">
      <a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/">Paying Attention to Fractions Overview</a>
   </section>
</main>
<%- include partials/footer.ejs%>