<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">All Research</a></li>
    <li><a href="./payAttentionOverview">Paying Attention to Fractions Overview</a></li>
</ol>
</header>

<main class="container">

    <section class="row padding-bottom">
        <div class="col-sm-12 col-md-12 no-padding">
            <h1>Paying Attention to Fractions Overview</h1>
        </div>
    </section>

    <section class="row">
        <a href="/research/payAttention">
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                <figure>
                    <img src="/images/research/payingAttentionToFractions.png" alt="Paying Attention to Fractions" cclass="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                    <h2>Paying Attention to Fractions</h2>
                    <p></p>
                </div>
                </div>
            </div>
        </a>
        <a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/payingAttentionToFractionsOverview.png" alt="Paying Attention to Fractions Overview" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Paying Attention to Fractions Companion</h2>
                  <p></p>
                </div>
              </div>
            </div>
        </a>
        <a href="/supportDocs/actFracUnd">
          <div class="col-sm-6 col-md-4">
            <figure class="thumbnail">
              <img src="/images/research/supportDocs/actFracUnd1.png" alt="Actions to Develop Fractions Understanding" class="img-rounded img-responsive margin-auto">
              <figcaption class="caption">
                <h2>Actions to Develop Fractions Understanding</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
        </a>
        <a href="/supportDocs/tasksThinking">
          <div class="col-sm-6 col-md-4">
            <figure class="thumbnail">
              <img src="/images/research/supportDocs/intTasks.png" alt="Intentional Tasks to Develop Fractions Thinking" class="img-rounded img-responsive margin-auto">
              <figcaption class="caption">
                <h2>Intentional Tasks to Develop Fractions Thinking</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
        </a>
        <a href="/supportDocs/fracAcrossStrands">
          <div class="col-sm-6 col-md-4">
            <figure class="thumbnail">
              <img src="/images/research/supportDocs/fracAcrossStrands1.png" alt="Fractions Across Strands and Grades: Sample Tasks" class="img-rounded img-responsive margin-auto">
              <figcaption class="caption">
                <h2>Fractions Across Strands and Grades: Sample Tasks</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
        </a>
        <a href="/supportDocs/respThink">
          <div class="col-sm-6 col-md-4">
            <figure class="thumbnail">
              <img src="/images/research/supportDocs/respThink1.png" alt="Being Responsive to Student Thinking" class="img-rounded img-responsive margin-auto">
              <figcaption class="caption">
                <h2>Being Responsive to Student Thinking</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
        </a>
    </section>
<%- include partials/footer.ejs%>












