<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./payAttentionOverview">Paying Attention to Fractions Overview</a></li>
</ol>
</header>

<main class="container">
<!-- Insert content here-->


<%- include partials/footer.ejs%>
