<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">All Research</a></li>
    <li><a href="./payAttentionOverview">Paying Attention to Fractions Overview</a></li>
</ol>
</header>

<main class="container">

    <section class="row padding-bottom">
        <div class="col-sm-12 col-md-12 no-padding">
            <h1>Paying Attention to Fractions Overview</h1>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-6 col-md-6 margin-bottom">
            <div class="siva-button">
                <a href="#">
                    <h2>Actions to Develop Fractions Understanding</h2>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 margin-bottom">
            <div class="siva-button">
                <a href="#">
                    <h2>Intentional Tasks to Develop Fractions Thinking</h2>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 margin-bottom">
            <div class="siva-button">
                <a href="#">
                    <h2>Fractions Across Strands and Grades</h2>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 margin-bottom">
            <div class="siva-button">
                <a href="#">
                    <h2>Sample Tasks and Being Responsive to Student Thinking as well as the Paying Attention to Companion</h2>
                </a>
            </div>
        </div>
    </section>
<%- include partials/footer.ejs%>