<%- include partials/header.ejs%>
  <!-- Breadcrumbs -->
  <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Planning Supports</li>
  </ol>

<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12 no-padding">
      <h1>Planning Supports</h1>
    </div>
  </section>

  <section class="row">
    <a href="/planningSupports/connAcrossStrands">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/planningSupports/connection3.png" alt="Connections Across Strands (Gr. 4)" height="100px" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Connections Across Strands (Gr 4)</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/planningSupports/curConn4_8">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/planningSupports/connection3.png" alt="Curriculum Connections (Gr 4-8)" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Curriculum Connections (Gr 4-8)</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/planningSupports/currConn_8">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/planningSupports/connection3.png" alt="Curriculum Connections (k- Gr8)" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Curriculum Connections (K - 8)</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/planningSupports/currConn_8Tab">
      <div class="col-sm-6  col-md-4">
        <figure class="thumbnail">
          <img src="/images/planningSupports/connection3.png" alt="Curriculum Connections (K-Gr 8 Tabloid)" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Curriculum Connections (K-Gr 8 Tabloid)</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/planningSupports/repFrac">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/planningSupports/represent.png" alt="Research Informed Instruction Representing Fractions" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Research Informed Instruction Representing Fractions</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/planningSupports/compFrac">
      <div class="col-sm-6  col-md-4">
        <figure class="thumbnail">
          <img src="/images/planningSupports/compare.png" alt="Research Informed Instruction Comparing Fractions" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Research Informed Instruction Comparing Fractions</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/planningSupports/orderFrac">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/planningSupports/order.png" alt="Research Informed Instruction Ordering Fractions" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Research Informed Instruction Ordering Fractions</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
  </section>
<%- include partials/footer.ejs%>