<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/planningSupports">Planning Supports</a></li>
    </ol>


  <main class="container">
    <section>
      <h1>Planning Supports</h1>


      <p>&nbsp;</p>
      <p>&nbsp;</p>

      <a href="/planningSupports/connAcrossStrands">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="/images/planningSupports/connection3.png" alt="Connections Across Strands (Gr. 4)" height="100px" width="200px" class="img-rounded">
            <div class="caption">
              <h2>Connections Across Strands (Gr. 4)</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>


      <a href="/planningSupports/curConn4_8">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="/images/planningSupports/connection3.png" alt="Curriculum Connections (Gr 4-8)" class="img-rounded" height="100px" width="200px">
            <div class="caption">
              <h2>Curriculum Connections (Gr 4-8)</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>

      <a href="/planningSupports/currConn_8">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="/images/planningSupports/connection3.png" alt="Curriculum Connections (k- Gr8)" class="img-rounded" height="100px" width="200px">
            <div class="caption">
              <h2>Curriculum Connections (k- Gr8)</h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      </a>


      <a href="/planningSupports/currConn_8Tab">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="/images/planningSupports/connection3.png" alt="Curriculum Connections (K-Gr 8 Tabloid)" height="100px" width="200px" class="img-rounded">
            <div class="caption">
              <h2>Curriculum Connections (K-Gr 8 Tabloid)</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>


      <a href="/planningSupports/compFrac">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="/images/planningSupports/compare.png" alt="Research Informed Instruction Comparing Fractions" class="img-rounded" height="100px" width="200px">
            <div class="caption">
              <h2>Research Informed Instruction Comparing Fractions</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>

      <a href="/planningSupports/orderFrac">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="/images/planningSupports/order.png" alt="Research Informed Instruction Ordering Fractions" class="img-rounded" height="100px" width="200px">
            <div class="caption">
              <h2>Research Informed Instruction Ordering Fractions</h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      </a>

      <a href="/planningSupports/repFrac">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="/images/planningSupports/represent.png" alt="Research Informed Instruction Representing Fractions" height="100px" width="200px" class="img-rounded">
            <div class="caption">
              <h2>Research Informed Instruction Representing Fractions</h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      </a>

</section>
<%- include partials/footer.ejs%>
