<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">All Facilitator Supports</li>
</ol>

<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12 no-padding">
      <h1>All Facilitator Supports</h1>
    </div>
  </section>

  <section class="row plf">
    <a href="/plfSupports/proLearnIntroFrac">
      <div class="linkBubble">
        <figure>
          <img src="/images/placeholder-image.png" class="img-responsive margin-auto" />
        </figure>
        <p>Professional Learning Intro to Fractions</p>
      </div>
    </a>
    <a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/">
      <div class="linkBubble">
        <figure>
          <img src="/images/research/payingAttentionToFractionsOverview-2.png" class="img-responsive margin-auto" />
        </figure>
        <p>Adobe Presenter Paying Attention to Fractions</p>
      </div>
    </a>
    <a href="/plfSupports/postcard">
      <div class="linkBubble">
        <figure>
          <img src="/images/postcard/aoda_2015-Postcard-1.jpg" class="img-responsive margin-auto" />
        </figure>
        <p>Postcard</p>
      </div>
    </a>
  </section>

  <!-- link to another website -->
  <!-- <p class="linkBubble"><a href="/plfSupports/webConCathyBruce">Web Conference Cathy Bruce</a></p>
    <p class="linkBubble"><a href="/plfSupports/webCon2CathyBruce">Web Conference 2 Cathy Bruce</a></p> -->
  <%- include partials/footer.ejs%>
