<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/plfSupports">Facilitator Supports</a></li>
    </ol>



  <main class="container">
    <section class="plf">
      <h1>Professional Learning Facilitators</h1>
<div class="linkBubble"><a href="/plfSupports/proLearnIntroFrac">Professional Learning Intro to Fractions</a></div>
<div class="linkBubble"><a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/">Adobe Presenter Paying Attention to Fractions</a></div>
<div class="linkBubble"><a href="/plfSupports/postcard">Postcard</a></div>

<!-- link to another website -->
<!-- <p class="linkBubble"><a href="/plfSupports/webConCathyBruce">Web Conference Cathy Bruce</a></p>
<p class="linkBubble"><a href="/plfSupports/webCon2CathyBruce">Web Conference 2 Cathy Bruce</a></p> -->
</section>

        <%- include partials/footer.ejs%>
