<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/plfSupports">Facilitator Supports</a></li>
    </ol>

  <main class="container">
    <section class="plf">
      <h1>Professional Learning Facilitators</h1>
<div class="linkBubble"><a href="/plfSupports/proLearnIntroFrac"><img src="/images/placeholder-image.png" class="img-responsive"/>Professional Learning Intro to Fractions</a></div>
<div class="linkBubble"><a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/"><img src="/images/research/payingAttentionToFractionsOverview.png" class="img-responsive"/>Adobe Presenter Paying Attention to Fractions</a><br clear="all"></div>
<div class="linkBubble"><a href="/plfSupports/postcard"><img src="/images/placeholder-image.png" class="img-responsive"/>Postcard</a></div>

<!-- link to another website -->
<!-- <p class="linkBubble"><a href="/plfSupports/webConCathyBruce">Web Conference Cathy Bruce</a></p>
<p class="linkBubble"><a href="/plfSupports/webCon2CathyBruce">Web Conference 2 Cathy Bruce</a></p> -->
</section>

        <%- include partials/footer.ejs%>
