<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="./plfSupports">All Facilitator Supports</a></li>
    <li class="breadcrumb-item active">Postcard</li>
</ol>


<main class="container pdf-page">

    <section class="row padding-bottom gen-pdf-container">
        <div class="gen-pdf">
            <a href="/pdf/aoda_2015-Postcard.pdf" target="_blank">Download PDF</a>
        </div>
    </section>

    <section class="row">
        <h1>Postcard</h1>
    </section>

    <!-- <section class="row table-responsive">
        <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
            <span style="text-align:center;">Postcard coming soon!</span>
        </table>
    </section> -->

    <section class="row">
        <div class="col-md-12 col-sm-12">
            <figure>
                <img src="/images/postcard/aoda_2015-Postcard-1.jpg" alt="Newly Released Postcard" class="img-responsive margin-auto">
            </figure>
        </div>
    </section>

    <section class="row">
        <div class="col-md-12 col-sm-12">
            <figure>
                <img src="/images/postcard/aoda_2015-Postcard-2.jpg" alt="Newly Released Postcard" class="img-responsive margin-auto">
            </figure>
        </div>
    </section>
<%- include partials/footer.ejs%>