<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./plfSupports">All Facilitator Supports</a></li>
    <li><a href="./proLearnIntroFrac">Postcard</a></li>
</ol>


<main class="container pdf-page">

    <!-- <section class="row">
        <div class="gen-pdf">
            <a href="/pdf/proLearnIntroFrac.pdf">Download PDF</a>
        </div>
    </section> -->

    <section class="row">
        <h1>Postcard</h1>
    </section>

    <section class="row table-responsive">
        <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
            <span style="text-align:center;">Postcard coming soon!</span>
        </table>
    </section>
<%- include partials/footer.ejs%>