<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./plfSupports">Facilitator Supports</a></li>
    <li><a href="./postcard">Postcard</a></li>
</ol>


<main class="container">
  <div class="row">
    <div class="col-md-8">
<h1>Postcard</h1>
</div>

<div class="gen-pdf col-md-4">
    <a href="/pdf/ProfessionalLearningIntroductiontoFractionsSession.pdf">Download PDF</a>
</div>
</div>





<%- include partials/footer.ejs%>
