<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./plfSupports">Facilitator Supports</a></li>
    <li><a href="./proLearnIntroFrac">Professional Learning Introduction to Fractions</a></li>
</ol>


<main class="container pdf-page">

<h1>Postcard</h1>

<div class="gen-pdf col-md-4">
    <a href="#">Download PDF</a>
</div>

<table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
  <span style="text-align:center;">Postcard coming soon!</span>
</table>

<%- include partials/footer.ejs%>