<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Professional Planning</title>
    <link rel='stylesheet' href='../public/stylesheets/fracdocuments.css' />
</head>
<body>

    <!-- Page One (1) -->

<h3 id="season">SPRING 2018</h3>
    
<section id="title">

    <h1>PLANNING FOR EFFECTIVE </br> PROFESSIONAL LEARNING </br> IN MATHEMATICS:</h1>

    <h3>Insights from 7 Years of Research on </br> Learning and Teaching Fractions in Ontario </h3>

    <p>Dr. Cathy Bruce and Tara Flynn, Trent University </br> Shelley Yearley, TLDSB/Project Lead - CODE</p>

</section>

<section id="Intro">

    <h2>INTRODUCTION</h2>

    <p>Dr. Cathy Bruce and her research team from Trent University, in partnership with the Ministry of Education, have been conducting research on fractions teaching and learning in Ontario since the fall of 2011. The goal of this research has been to investigate effective instructional strategies in the difficult-to-teach and difficult-to-learn area of fractions. We wanted to better understand how to support students in the development of their understanding of fractions concepts and procedures. Throughout this process, we have gathered classroom-based evidence by working with teachers and students in a highly collaborative process that has involved nine school boards, 238 educators, and with targeted data collection involving 3235 students, spanning Grades 3-12. This work has led to the development of many resources for teachers and math leaders, including the Fractions Learning Pathways resource. (See p. 8 for more information on these resources and where to find them.)</p>

    <p>With the project entering its final phases, the team looks back at the lessons learned through seven years of engaging
    in teacher professional learning and research at school boards in Ontario. In this document, we share strategies for
    maximizing the success of teacher professional learning in fractions. This document may be of interest to you if you are:
    a system or school leader, a mathematics consultant or anyone who is responsible for professional learning in mathematics.</p>

</section>

<section id="tableofcontents">

   <h2>IN THIS DOCUMENT</h2>

    <p>Why Focus on Fractions? ........ 2 </br>
            Characteristics of Effective Professional Learning ........ 2 </br>
            Applying the Features of Effective Professional Learning: Lessons from the Ontario Fractions Project ........ 4 </br>
            Making it Work in Your School Board: Thinking About Options for PL Models ........ 5 </br>
            Greater Precision Through Teacher Inquiry ........ 8 </br>
            Core Support Documents for Mathematics Leaders ........ 9</p>

            <p id="page1">- 1 -</p>

</section>

    <!-- End Page One(1) -->

    <!-- Page Two(2) -->

    <section id="whyfrac">

        <h2>WHY FOCUS ON FRACTIONS?</h2>

        <p>Fractions are central to mathematics understanding. They are an essential aspect
            of number sense, of course, but fractions also cross into many other aspects of
            mathematics such as measurement. Fractions knowledge is a predictor of success
            in algebra, is essential to understanding probability, and involves high levels of
            spatial and proportional reasoning. It is perhaps because of the complexity of
            the relationship between fractions and this web of connected mathematical ideas
            and processes that they are notoriously difficult to learn and teach. These
            difficulties have been researched and documented starting in the early primary
            years, and are shown to persist through middle, secondary and post-secondary
            education and into adulthood in North America (Orpwood, Schollen, Leek,
            Marinelli-Henriques, & Assiri, 2011). The stakes are high for students; a shaky
            grounding in fractions can prevent individuals from pursuing advanced
            mathematics and shut students off from a significant number of career opportunities
            in later life. For example, the STEM domains (science, technology, engineering and mathematics), as well as fields as
            broad-ranging as medicine, construction, art and design all demand considerable fractions knowledge. Researchers have
            noted that there is “a great deal of agreement that learning rational number concepts remains a serious obstacle in the
            mathematical development of children” (Behr, Harel, Post, & Lesh, 1992, p. 296). Fractions are a worthwhile area of focus
            for both teachers and students, as a foundational concept in mathematics with many connections to other important areas
            of mathematics.</p>

    </section>

    <section id="personallearn">

        <h2>CHARACTERISTICS OF EFFECTIVE </br> PROFESSIONAL LEARNING</h2>

        <p>A recently conducted study, The State of Educators’ Professional Learning in Canada (Campbell, Osmond-Johnson, Faubert,
                Zeichner & Hobbs-Johnson, 2016), comprehensively investigated professional learning in Canada across all 10
                provinces and 3 territories. The researchers examined “promising practices” as well as challenges in the Canadian context.
                Following an extensive review of the literature, the researchers found that effective professional learning:
                - is focused on quality content, that:
                • is evidence-informed;
                • is subject-specific;
                • is focused on pedagogical content knowledge and student outcomes; and
                • balances teacher voice and system coherence (goals are aligned).
                - possesses a design for learning and implementation to include:
                • active and variable learning;
                • collaborative learning experiences; and
                • job-embedded learning.
                - considers issues of support and sustainability, strengthened by:
                • a sustained duration;
                • the availability of resources; and
                • supportive and engaged leadership.
                Their study on the Canadian education context further found that effective professional learning:
                • balances evidence, inquiry and professional judgment;
                • focuses on diverse student needs;
                • maintains an asset-orientation towards both students and teachers;
                • provides opportunities for collaboration that are job/classroom-embedded; and
                • benefits from the support of system and school leaders.
                These findings are consistent with earlier studies such as Hill’s 2004 study which highlighted that effective
                professional learning must be: inquiry-based, focused on student thinking, collaborative, job-embedded,
                content- and pedagogy-focused, teacher-driven and sustained over time.
                In the Ontario fractions research, the professional learning that has taken place was developed with these
                characteristics of effective professional learning in place.</p>

                <p id="page2">- 2 -</p>

    </section>

    <!-- End Page Two(2) -->

    <!-- Page Three(3) -->

    <section id="collablearning">

        <h3>THE IMPORTANCE OF CLASSROOM-EMBEDDED COLLABORATIVE LEARNING</h3>

    </section>

</body>
</html>