<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-item active">Instructional Decisions</li>
</ol>

<main class="container-digital-paper">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/TranscriptionofProfessionalLearningVideov1.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">

    <h2>Teacher Professional Learning Video Transcription</h2>
    <h3><em>Professional Learning about Fractions</em> Digital Paper</h3>

    <table class="digitalTable">
      <tr style="text-align:center">
        <th>Time</th>
        <th>Transcript</th>
      </tr>
      <tr>
        <td>0:09</td>
        <td>
          The process of collaborative action research allowed teachers to identify and reflect upon their students’ knowledge and skills while deepening their own understanding of mathematics content and pedagogy.
        </td>
      </tr>
      <tr>
        <td>0:26</td>
        <td>
          Teachers used a diagnostic tool to uncover the knowledge and skills of their students in fractions. This allowed them to identify trends in student responses within and between classes and grades.
        </td>
      </tr>
      <tr>
        <td>0:41</td>
        <td>The teams also explored different meanings of a fraction and connected this to their students’ demonstrated skills and knowledge.</td>
      </tr>
      <tr>
        <td>0:55</td>
        <td>Kit: “And you can make a variety of fractions out of them. Oh, that is what we said too…..</td>
      </tr>
      <tr>
        <td>1:23</td>
        <td>
          <p>Janice: <q>Do you think really that, um, converting one or other of the fractions so that you can directly compare the two fractions, you think that is only a 1? Like if they say ‘Well, I know that two-twelfths is the same as
              one-sixth and that is obviously less than two-sixths.’</q></p>
          <p>Cathy: <q>But that is a different – that is a 2 explanation. That is not what this one says which is…</q></p>
          <p>Janice: <q>That is not the same as saying ‘I know that two-sixths is the same as four-twelfths’?</q></p>
          <p>Cathy: <q>Oh. I see.</q></p>
          <p>Janice: <q>And so obviously four-twelfths is greater than two-twelfths.</q></p>
          <p>Kerry: <q>That’s what she’s got here.</q></p>
          <p>Janice: <q>Like I just think that coming to an equivalency…</q></p>
          <p>Cathy: <q>Yeah, I see.</q></p>
          <p>Janice: <q>is still pretty two-ish.</q></p>
          <p>Kerry: <q>Rachel says…</q></p>
          <p>Janice: <q>Isn’t it? Is that fair?</q></p>
          <p>Kerry: <q>she is saying that if you make them equivalent than it is two-twelfths and four-twelfths so two-twelfths is smaller.</q></p>
          <p>Janice: <q>Yeah, I think that is a 2.</q></p>
          <p>Kerry: <q>But four-twelfths…</q></p>
          <p>Cathy: <q>That example of an explanation…</q></p>
          <p>Janice: <q>It’s just a different way of explaining. Like, you can explain the number or size of pieces but I don’t think that is more, that shows more mathematical understanding of fractions than to say….</q></p>
          <p>Cathy: <q>OK.</q></p>
        </td>
      </tr>
      <tr>
        <td>2:24</td>
        <td>
          <p>The teams used information from the diagnostics to plan exploratory lessons. Some of the questions teams focused on during these lessons were:</p>
          <ul>
            <li>How do students use fractions representations as tools for their thinking?</li>
            <li>How can we ensure that our students are thinking and reasoning with a variety of fractions, including proper, improper, and mixed numbers?</li>
            <li>How do help students develop a deep understanding of fractions in multiple contexts?</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2:49</td>
        <td>
          Each group then developed one or more exploratory lessons to be co-taught and observed in one of the classrooms, while other teachers were encouraged to use this lesson in their own classroom ahead of time. This allowed teams to
          anticipate a diverse range of student responses and increased the teachers’ ability to understand students’ mathematical thinking in the shared lesson.
        </td>
      </tr>
      <tr>
        <td>3:15</td>
        <td>
          <p>Kit: <q>So Keira, how does that represent four-thirds to you?</q></p>
          <p>Keira: <q>Well, um since, the three thirds would equal one whole, I just added one other third to make four.</q></p>
          <p>Kit: <q>OK, so you are using three, in one whole there and then you’ve got an extra piece of that that’s the same size as one of the parts.</q></p>
        </td>
      </tr>
      <tr>
        <td>3:40</td>
        <td>
          <p>Student 1: <q>Right here, and that would be twenty and that wouldn’t be a twenty-one, so it would have to be like, right…</q></p>
          <p>Student 2: <q>Then draw it there.</q></p>
          <p>Student 2: <q>So the, where would 10 over 20, so that is pretty much here.</q></p>
        </td>
      </tr>
      <tr>
        <td>4:00</td>
        <td>
          <p>Karen: <q>Five important things? Five important things that maybe we have learned and talked about. Name one, Hillary.</q></p>
          <p>Hillary: <q>You have to have equal parts.</q></p>
          <p>Karen: <q>Equal parts is important. Joseph?</q></p>
          <p>Joseph: <q>Ah. You can add zeros.</q></p>
          <p>Karen: <q>You can add zeros. You can go with those multiples and it will still be the same.</q></p>
        </td>
      </tr>
      <tr>
        <td>4:21</td>
        <td>Following the exploratory lessons, the teams met to discuss their observations of student thinking and to identify next steps for instruction.</td>
      </tr>
      <tr>
        <td>4:36</td>
        <td>
          <p>Kerry: <q>This one here, these bars are the division that is the fraction sign.</q></p>
          <p>Teachers: <q>Oh.</q></p>
          <p>Kerry: <q>This is ten over four. He said this should have been flipped around. {student} told him that. But still, ten over four. One, two, three, four, …</q></p>
        </td>
      </tr>
      <tr>
        <td>4:59</td>
        <td>
          Kristen: <q>To really be able to give all of the pairs this to go back to now because those who are ready to start writing them as mixed number fractions might be able to take that leap and do that. Those who really weren’t sure
            on how to represent, like the girls who didn’t know the size of the bags, hopefully could then go ahead and make those changes.</q>
        </td>
      </tr>
      <tr>
        <td>5:20</td>
        <td>
          <p>Janice: <q>My take away is, rather than, how when you slowed something right down and you, we slowed fractions right down and we cared to ask every kid about what they had drawn and why they had drawn it, and some of the
              things they said were shocking, right? Even when we had kids go back and do something again, like when you had the kids go back and show two-fifths, or whatever, is it possible?</q></p>
          <p>Teacher: <q>Yes.</q></p>
          <p>Janice: <q>It was shocking to see that they still couldn’t do that physically or whatever.</q></p>
          <p>Teacher: <q>Yeah.</q></p>
          <p>Janice: <q>You know, sometimes we, we just make so many assumptions as teachers and we have such a pace…</q></p>
          <p>Cathy: <q>Yes. True.</q></p>
          <p>Janice: <q>and when we chose to slow down, ask them to co-create something on a line or whatever, we are amazed.</q></p>
          <p>Devon: <q>I think sometimes we tend to write off some of the ones, like, ‘Oh no, that is wrong. You don’t get it’. Agghh. Why can’t, I can never get Johnny to do it, you know. But when we do slow it down and we ask him, you
              see ‘Oh, there’s two out of three light bulbs in there’ and we didn’t realize that right, because something was wrong (laughter in background). ‘No, no, why would you think that’ and then when you decompose why he was
              actually thinking that you say ‘O.K. Cool. I can speak to that’ you know. And that shows me he has some understanding and that helps you drive where you need to go next with him particularly, right?</q> </p>
        </td>
      </tr>
      <tr>
        <td>6:35</td>
        <td>
          This video is intended to supplement the text information provided in the digital paper by allowing for glimpses into the professional learning in action. Collaborative action research is a dynamic model for professional learning
          that provides for breadth and depth of learning in mathematics, because it is: classroom-embedded, cyclical and sustained, asset-oriented, and focused on students.
        </td>
      </tr>
    </table>

  </section>
</main>

<%- include partials/footer.ejs%>
