<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-item active">Instructional Decisions</li>
</ol>

<main class="container-digital-paper">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/instructionalDecisions.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">

  </section>

  <%- include partials/footer.ejs%>
