<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./plfSupports">Facilitator Supports</a></li>
    <li><a href="./proLearnIntroFrac">Professional Learning Introduction to Fractions</a></li>
</ol>


<main class="container pdf-page">

<h2 style="color: #0000ff; border-bottom: 10px solid black;">Professional Learning Session: Introduction to Representing Fractions Grades J/I</h2>


<div class="gen-pdf col-md-4">
    <a href="/pdf/proLearnIntroFrac.pdf">Download PDF</a>
</div>

<table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
  <tr>
    <td>
      <p>MO 15 min</p>
      <p>A 35 min</p>
      <p>C/D 20 min</p>
      <p>70 + 45 min</p>
    </td>
    <td>
      <p><strong style="text-decoration: underline;">Learning Goals</strong></p>
      <ul>
        <li>• A fraction can be represented in a number of ways. The representation you select/use
        influences the meaning/interpretation of the fraction.</li>
        <li>• One representation may have different meanings, depending on the assumptions the viewer makes. Careful wording can reduce the number of different assumptions.</li>
        <li>• It is important to be specific with students about the context and meaning of the fractions you are using.</li>
      </ul>
    </td>
    <td>
      <p><strong style="text-decoration: underline;">Materials</strong></p>
      <ul>
        <li>• A variety of manipulatives</li>
        <li>• Chart paper</li>
        <li>• Sticky notes (medium sized)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p></td>
    <td>
      <p><strong>Individual -> Placemat (4 min)</strong></p>
      <p>Participants record their understanding of fractions (what they remember from school,
      contexts where they use fractions, representations of fractions) in a placemat.</p>

      <p><strong>Small Group -> Placemat (11 min)</strong></p>
      <p>Groups discuss the information recorded by each person and consolidate it in a Frayer
      graphic in the centre of the Placemat.</p>
    </td>
    <td rowspan="3">See Math for Teaching: Fractions</td>
  </tr>
  <tr>
    <td>
      <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
    </td>
    <td>
      <p><strong>Individual -> Activity (15 min)</strong></p>
      <p>Using a variety of manipulatives, participants identify a fraction of their choosing and
      then represent it in as many ways as possible. A picture of each different model will be
      recorded on a separate sticky note.</p>

      <p><strong>Whole Group -> Sort Activity (5 min)</strong></p>
      <p>Individuals post their sticky notes on chart paper under each of the following different
      meanings of fractions:</p>
      <ul>
      <li>• Linear Measure
        <ul>
          <li>• Position (point) on a number line</li>
          <li>• Segment of a number line</li>
        </ul></li>
      <li>• Part - whole: continuous
        <ul>
          <li>• area (2-D) Include discussion of strengths of rectangular representations over circular representations</li>
          <li>• volume (3-D)</li>
        </ul></li>
      <li>• Part - whole: discrete sets with either identical or non-identical shape/size items</li>
      <li>• Part - Part ratio representation which shows numerator : denominator</li>
      <li>• Quotient</li>
      <li>• Operator</li>
      </ul>

      <p><strong>Small Group -> Discussion (15 min)</strong></p>
      <p>Each group takes a sheet and organizes it, annotating to add meaning. If any sheet has
      no sticky notes on it, the group creates as many different types of examples as they can
      and organizes these examples. The group may identify some sticky notes that they
      believe would be better suited to a different meaning/sheet. Inform them that they will
      be sharing out at the end of the activity.</p>
      <p>See Math for Teaching: Fractions</p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
    </td>
    <td>
      <p><strong>Whole Group -> Discussion (20 min)</strong></p>
      <p>Have each group share their summary as well as their rationale. Discuss any sticky
      notes that they feel belong on a different sheet.</p>
      <p>Probe thinking with the following prompts:</p>
      <ul>
        <li>• Why did you believe that representation corresponded more to the meaning _______?</li>
        <li>• Does anyone have any other comments/insights they wish to share?</li>
        <li>• What questions might you ask of the author to ensure that your interpretation is correct?</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <p><strong style="text-decoration: underline;">Home Activity or Further Classroom Consolidation (45 min)</strong><p>
<p><strong>Demonstration -> Exploring Existing Ministry-Developed Resources</strong></p>
<p>Participants review the Gap Closing materials connected to Fractions with a view to
discussing connections to earlier conversations. Demonstrate the Fractions CLIPS online
(and explain the ePractice connections to Gap Closing). Engage them in a
discussion (think/pair/share) about how they may integrate these into their program.
Record these on chart paper.</p>
    </td>
    <td></td>
  </tr>
</table>

























<%- include partials/footer.ejs%>
