<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./purpRep">Purposeful Representations</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
<h2>Math Teaching for Learning: Purposeful Representations</h2>
<div class="gen-pdf">
    <a href="/pdf/purposefulRepresentations.pdf">Download PDF</a>
</div>

<p>The effectiveness of the consistent use of representations is supported by the findings of researchers Pirie and Kieran (1994), who found that students hold on to the representations they are initially exposed to as the grounding for their conceptual understanding. Since this is the case, it makes sense to select precise representations that have longevity and power.</p>

<p>Four powerful representations for fractions are flats and rods (base 10 materials) as well as:</p>
<div class="col-md-4 center">
<figcaption>number lines </figcaption>
<img src="/images/pdf-img/purpRep-1.png" alt="" height="" width="" />
</div>
<div class="col-md-4 center">
<figcaption>rectangular area models </figcaption>
<img src="/images/pdf-img/purpRep-2.png" alt="" height="" width="" />
</div>
<div class="col-md-4 center">
<figcaption>volume models</figcaption>
<img src="/images/pdf-img/purpRep-3.png" alt="" height="" width="" />
</div>
<div class="clearfix"></div>
<p>These representations are used consistently in Japanese resources with the purpose of developing students’ understanding of <em>fraction as quantity</em> and to emphasize the underlying concepts of</p>
<ol>
<li>expressing all fractions as a multiple of a unit fraction,</li>
<li>making comparisons based on like-units, and</li>
<li>identification of the whole (Watanabe, Murata, Okamoto, 2012).</li>
</ol>

<p>This set of representations strongly supports incorporating understanding of the different meanings of fractions in to operations with fractions seamlessly because these representations are extremely flexible in their use as the complexity of the curriculum expectations build.</p>

<h3>Why</h3>
<p>Student gaps and misconceptions are powerfully revealed through their drawn representations of fractions, and studies in this area provide evidence to suggest that the multitude of representations used, some of which are potentially distracting representations, do not help students build deep understanding (Kilpatrick, Swafford, & Findell, 2001).</p>



<h3>Considerations</h3>
<h4>Purposeful Selection of Representations</h4>
<p>Tad Watanabe (personal dialogue, 2012) suggests that educators should use a familiar representation for a new concept. Students are familiar with number lines for whole numbers so these could be used to introduce unit fractions. In turn, use a familiar concept when introducing a new representation. So, when introducing a rectangle for fractions, maintain the focus on unit fractions. Additionally, number lines (linear measures) can effectively show proper and mixed fractions simultaneously and promote attention to the relationship of the numerator to the denominator.</p>

<h4>Limitations of Circle Representations</h4>
<p>It is important to ensure that representations are chosen to fit the problem context, and the fact that fractions are singular quantities is emphasized (Son, 2011; Charalambous et al., 2010, Watanabe, 2007). Unlike the North American preoccupation with the ‘pizza model’ or other circular area models, East Asian countries use a combination of carefully selected models that have longevity in terms of their application in representing fractions and that reflect the notion of fraction as a quantity. In particular, partitioning circles equally is much more difficult with odd or large numbers whereas rectangular area models and number lines are more readily and accurately partitioned evenly for odd and large numbers of partitions (Watanabe, 2012).</p>

<p>Gould, Outhred and Mitchelmore (2006) asked young children to represent one half, one third and one sixth using circle area diagrams. In this study, the researchers found that most students were accurate when shading in one half of the region of a circle, using either a horizontal or a vertical line to partition the circle into two equal parts. However, when children were asked to represent one third and one sixth, there were a wide range of incorrect responses where the partitioning of circles was uneven (non-equal parts) and the students relied on a count-wise ‘number-of-pieces’ approach (where the number of pieces in total and the number of pieces shaded was more important than size of pieces).</p>

<h4>Connections to Other Fractions Concepts</h4>
<p>When a representation has longevity, students can more easily build on their prior knowledge. Consider how a number line can be used to productively show unit fractions in the context of the whole.</p>
<div class="center"><img src="/images/pdf-img/purpRep-4.png"></div>
<p>In this representation of <abbr title="two sixths">2&frasl;6</abbr> and <abbr title="eight sixths">8&frasl;6</abbr>, adapted from Saxe, Shaughnessy, Shannon, Langer-Osuna, Chinn, & Gearhart (ND), we can notice that the distance to one is 6 one-sixth units. Also, since the red arrows show <abbr title="eight sixths">8&frasl;6</abbr> and the blue arrows show <abbr title="two sixths">2&frasl;6</abbr>, students can compare the two fractions. They may also see that the difference between the two fractions is 6/6 or that <abbr title="eight sixths">8&frasl;6</abbr> is four times <abbr title="two sixths">2&frasl;6</abbr>.</p>

    <div class="pdf-bottom-info">
        <div class="col-md-4 center">Curriculum and Assessment Policy Branch</div>
        <div class="col-md-4 center"><abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr></div>
        <div class="col-md-4 center">Dr. Cathy Bruce TMERC 2013</div>
        <div class="col-md-4 center">Last revised August 7 2015</div>
    </div>
</main>
<%- include partials/footer.ejs%>
