<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li><a href="./recipe">COMP A Recipe Task</a></li>
</ol>

<main class="container dot-lists pdf-page">

<h1>Recipe Task</h1>

<strong>Description</strong>
<p>Students will change the fractional amounts in a recipe into the unit fraction,
<abbr title="one fourth">¼</abbr>, in order to accurately mix ingredients using only a <abbr title="one fourth">¼</abbr> measuring cup. They will be composing equivalent fraction using unit fractions and representing them in a variety of ways. As an option, the recipe can be prepared and baked by the class.</p>

<strong>Mathematics</strong>
<p>Decomposing fractions is important in order for students to gain a concrete understanding of the relationship between a pair of equivalent fractions. Using concrete and visual representations like drawings or measuring cups are beneficial when proving equivalency.</p>

<strong>Curriculum Connections</strong>
<p>Students will:</p>
<ul>
<li>decompose fractions into unit fractions</li>
<li>count by unit fractions</li>
<li>compare fractions with friendly but unlike denominators</li>
<li>generate equivalent fractions using models</li>
</ul>

<strong>Instructional sequence</strong>

<ol>
<li>Partner the students</li>
<li>Introduce task: You want to bake some cookies but you only have a
<abbr title="one fourth">¼</abbr>
measuring cup. Refer to the <abbr title="Blackline Master">BLM</abbr></li>
<li>After the students have worked on a solution, (e.g., Students could record using: concrete objects, drawing – area or set models) consolidate their learning by having a few students share their work.</li>
<li>Consolidate the learning using the key questions.</li>
<li>Get the students to independently place all of the recipe fractions on a number line. Have the students also write the equivalent fractions in fourths. (1 <abbr title="one half">½</abbr> = <abbr title="one fourth">¼</abbr>
+ <abbr title="one fourth">¼</abbr> + <abbr title="one fourth">¼</abbr> + <abbr title="one fourth">¼</abbr> + <abbr title="one fourth">¼</abbr> + <abbr title="one fourth">¼</abbr> = <abbr title="six fourths">6&frasl;4</abbr> )</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking</strong>

<p>Students may:</p>
<ul>
<li>make connections to money (.25 = <abbr title="one fourth">¼</abbr>)</li>
<li>use a variety of concrete models: area, set, volume</li>
<li>write the fractions on the number line in many ways 1 <abbr title="one half">½</abbr>, 1 <abbr title="two fourths">2&frasl;4</abbr>, <abbr title="six fourths">6&frasl;4</abbr>. This could be addressed in the consolidation</li>
<li>use mixed and improper fractions interchangeably</li>
<li>may struggle with:
  <ul>
        <li>partitioning their number line into unit fractions</li>
        <li>transferring knowledge to number line.  </li>
</ul></li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions</strong>
<ol>
<li>What model did you use to decompose or break down the given fractions?</li>
<li>How did your unit fraction ( <abbr title="one fourth">¼</abbr> ) compare to the fractional amounts in the recipe?</li>
<li>How did you recognize the equivalent fractions on the number line?</li>
<li>Can you write your mixed fraction as an improper fraction?</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
<li><a href="/pdf/P9_Recipe_Task_BLM.pdf" target="_blank" rel="PDF File"><abbr title="Blackline Master" style="color: #724199;">BLM</abbr> 1</a></li>
<li><a href="/pdf/P9_Recipe_Task_BLM2.pdf" target="_blank" rel="PDF File"><abbr title="Blackline Master" style="color: #724199;">BLM</abbr> 2</a></li>
<li>Baking recipe or <a href="/pdf/P9_Recipe_Task_BLM.pdf" target="_blank" rel="PDF File" style="color: #724199;">task templates</a> of recipe math (one copy per pair)</li>
<li>Paper for number line</li>
<li>Multiple <abbr title="one fourth">¼</abbr> measuring cups (you could use paper cups to allow a lot of cups per pair)</li>
</ul>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Task Templates</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <img src="/images/tasks/TT-RecipeTask.png" alt=" " />
        <p>To download a copy of this .pdf, click <a href="/pdf/P9_Recipe_Task_BLM.pdf" target="_blank" rel="PDF File">here</a>.</p>
        <img src="/images/tasks/TT-RecipeTask2.png" alt=" " />
        <p>To download a copy of this .pdf, click <a href="/pdf/P9_Recipe_Task_BLM.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Student Thinking</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <img src="/images/tasks/RecipeTask_StudentThinking_COMP-A.png" alt=" " />
<p>To download a copy of this .pdf, click <a href="/pdf/RecipeTask_StudentThinking_COMP-A.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Additional Resources</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">

  <a href="/supportDocs/devPartItDisembed">
    <div class="col-md-6">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="100px">
        <div class="caption">
          <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildAddSub">
    <div class="col-md-6">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="80px" width="80px">
        <div class="caption">
          <h3>Building to Addition and Subtraction of Fractions</h3>
        </div>
      </div>
    </div>
  </a>

</div>
      </div>
    </div>
  </div>
</div>

</main>
<%- include partials/footer.ejs%>
