<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/research">All Research</a></li>
    <li class="breadcrumb-item"><a href="./supportDocs">Document Briefs</a></li>
    <li class="breadcrumb-item active">Rectangles, Number Lines and Circles, Oh My!</li>
</ol>

<main class="container pdf-page list-style-none">

    <section class="row padding-bottom gen-pdf-container">
        <div class="gen-pdf ">
            <a href="/pdf/T38CircleOnePager v11.pdf" target="_blank">Download PDF</a>
        </div>
    </section>

    <section class="row padding-bottom">
        <div class="col-md-12 col-sm-12">
            <h2>Math for Teaching: Rectangles, Number Lines and Circles, Oh My!</h2>
        </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
        <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-1.jpg"  class="img-responsive margin-auto" />
    </section>

    <section class="row">
        <h4 style="color:black;">Why We Should Care About Students’ Over Reliance on Circle Representations in Fractions</h4>
        <p>Circles are difficult for students to partition accurately, especially with large or odd numbers of partitions. As a result, students may focus more on the number of partitions and less on their equivalency.  Research indicates that students become overly reliant on circles, continuing to use them in contexts where they are no longer helpful, such as distance contexts involving tenths of a kilometer. Furthermore, students are reluctant to replace the use of circles as a ‘go to’ representation with more powerful representations, such as number lines and rectangles, when these are introduced later.</p>
        <p>Although circles are often introduced as an early representation within the context of pizza, generally their usefulness for students is limited to fourths, halves and eighths. Changing the partitioning of the whole is more difficult to do when using circle representations than number lines or rectangular area models. Suppose when asked to represent sixths, a student draws a circle and partitions it into fourths, then recognizes that the partitions should be sixths. The student may further partition the fourths to create twelfths and then merge twelfths into sixths. But more typically, the student will erase their work and begin again, or add two more partitions to the fourths to create six unequal regions.  Alternatively, using a rectangular area model, sixths can be easily created from fourths by adding two more equal partitions resulting in a larger whole. A number line can be adapted by extending it in a similar way. Note that when <strong>comparing</strong> fractions, attention must be given to same sized wholes.</p>
        <figure>
            <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-2.jpg" alt="" class="img-responsive margin-auto" />
        </figure>
    </section>

    <section class="row">
        <div class="col-md-12 col-sm-12">
            <h4 style="color:black;">Using Circles in Contexts</h4>
            <p>Sometimes young children encounter mathematical contexts requiring them to partition a circle, such as analogue clocks and circle graphs. Accurately equi-partitioning the area of a circle requires students to conceptually understand the area of a circle, something not introduced until intermediate grades. When students don’t understand the area of a circle, they may partition the circle like this:</p>
            <div class="col-md-6 col-sm-6">
                <figure>
                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-3.jpg" alt="" class="img-responsive margin-auto" />
                    <figcaption class="center margin-top-10">Attempting to Represent <abbr title="Two Fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr></figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-sm-6">
                <figure>
                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-4.jpg" alt="" class="img-responsive margin-auto" />
                    <figcaption class="center margin-top-10">Attempting to Represent <abbr title="four tenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>10</sub></span></abbr></figcaption>
                </figure>
            </div>
        </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
        <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-5.jpg"  class="img-responsive margin-auto" />
    </section>

    <section class="row">
        <p>As an alternative, when teaching the telling of time on an analogue clock or creating circle graphs, consider thinking about the circumference as a wrapped number line.  This allows students to unwrap the number line to create a linear representation that can be more easily equi-partitioned.</p>
        <figure class="margin-bottom">
                <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-6.jpg"  class="img-responsive margin-auto" />
        </figure>
        <p>The central angle of 360° can also be used as the referent for partitioning a circle, which would be useful to students studying spinner probability. The arrow of a spinner rotates around the central angle of 360° and the partitions of the spinner are based on equal partitions of this angle rather than the areas of the partitions. The following spinners demonstrate this difference.</p>
        <figure class="margin-bottom">
            <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-7.jpg"  class="img-responsive margin-auto" />
        </figure>
    </section>

    <section class="row">
        <div class="col-md-12 col-sm-12">
            <h4 style="color:black;">Supporting Students in Moving Beyond Circles to Using Powerful Representations</h4>
            <div class="table-responsive">
                <table class="table tbl-col2">
                    <tbody>
                        <tr>
                            <th colspan="2">Comparing Fractions</th>
                        </tr>
                        <tr>
                            <td>Instead of this....</td>
                            <td>Try this!</td>
                        </tr>
                        <tr>
                            <td>
                                <figure class="margin-bottom">
                                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-8.jpg"  class="img-responsive margin-auto" />
                                </figure>
                                <p>When asked to determine a fraction between <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> and <abbr title="two third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>, this student chose to use a circle. Their workrevealsdifficulty partitioning acircle into equal sectionsofthirds and fifths.The size of each circle is slightly different and the regions being compared are not aligned, making it difficult to accurately compare.</p>
                                <p>Although the student correctly states “ <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> is also between <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> and <abbr title="two third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> “, this thinking is based upon counting non-equal regions.</p>
                            </td>
                            <td>
                                <figure class="margin-bottom">
                                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-9.jpg"  class="img-responsive margin-auto" />
                                </figure>
                                <p>When asked to determine a fraction between <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> and <abbr title="two third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr>, this student used stacked number lines. It is easier to create wholes that are clearly equivalent when using number lines. Furthermore, it is easier to line up the fractions for accurate comparison.  Stacked number lines allow for comparing fractions with different denominators.</p>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Adding Fractions</th>
                        </tr>
                        <tr>
                            <td>Instead of this....</td>
                            <td>Try this!</td>
                        </tr>
                        <tr>
                            <td>
                                <figure class="margin-bottom">
                                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-10.jpg"  class="img-responsive margin-auto" />
                                </figure>
                                <p>In response to the prompt “Identify some fractions that have a sum equal to 1”, this student used commercial fractions circles to create one whole. However, because it appeared the fraction pieces fit together to make a whole, the student incorrectly stated that <abbr title="one fourths" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> + <abbr title="three fifths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> + <abbr title="one sixths" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>6</sub></span></abbr> = 1.</p>
                            </td>
                            <td>
                                <figure class="margin-bottom">
                                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-11.jpg"  class="img-responsive margin-auto" />
                                </figure>
                                <p>This student used an area model to respond to the prompt “Identify some fractions that have a sum equal to 1”.They flexibly represent addition with unlike denominators. Notice the use of colour to represent the combined fractions as a sum of <abbr title="four eighths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>8</sub></span></abbr> + <abbr title="two fourths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>4</sub></span></abbr> = 1. In addition to colour, the student’s effective use of grid paper highlights the equivalent relationships.</p>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Subtracting Fractions</th>
                        </tr>
                        <tr>
                            <td>Instead of this....</td>
                            <td>Try this!</td>
                        </tr>
                        <tr>
                            <td>
                                <figure class="margin-bottom">
                                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-12.jpg"  class="img-responsive margin-auto" />
                                    <figcaption><em>Jen painted <abbr title="one fifths" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr> of the banner blue. Her sister painted <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> of the banner red.  What part of the banner is still unpainted?</em></figcaption>
                                </figure>
                                <p>The student arrived at a denominator of fifteenths and partitioned the circle reasonably accurately. It appears that the student drew a number line (perhaps inspired by the ribbon context) but switched to a circle. This may reflect an over-reliance on circles to represent fractions.</p>
                            </td>
                            <td>
                                <figure class="margin-bottom">
                                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-13.jpg"  class="img-responsive margin-auto" />
                                    <figcaption><em>Jen painted <abbr title="one fifths" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr> of the banner blue. Her sister painted <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> of the banner red.  What part of the banner is still unpainted?</em></figcaption>
                                </figure>
                                <p>This student used both a linear area model and a set to accurately represent the banner. The linear model reflects the context ofthe question.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="row list-style-none">
        <div class="col-md-12 col-sm-12">
            <h4 style="color:black;">For further information, visit <a href="http://www.edugains.ca/newsite/math/fractions.html"><u>fractionsteaching.ca</u></a></h4>
            <ul>
                <li><a href="./purpRep">Math Teaching for Learning: Purposeful Representations</a></li>
                <li><a href="./waysWeUseFrac">Math Teaching for Learning: Ways We Use Fractions</a></li>
                <li><a href="../../litreviews/foundationsAddSub">Foundations to Learning and Teaching Fractions Literature Review</a></li>
            </ul>
        </div>
    </section>
<%- include partials/footer.ejs%>