<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Tasks</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./relayRace">OP D Relay Race</a></li>
</ol>

<main class="container dot-lists pdf-page">
<!-- Insert content here-->
<h1>Relay Race</h1>

<img src="/images/tasks/relayMain.jpg" alt="Task" height="" width="450" style="float: right;padding-left: 20px;" />
<strong>Description</strong>
<p>Students are introduced to the concept of a relay race where participants complete various fractional distances of the total. Based on two known fractional distances of a race with unlike denominators, students will determine the distances that the other runners might complete.</p>

<strong>Mathematics</strong>

<p>Students benefit from multiple opportunities to compose and/or decompose fractions with unlike denominators, using models and symbols. This supports them in developing fraction number sense, intuitive understanding of the operations of addition and subtraction and expands their repertoire of strategies.</p>

<strong>Curriculum Connections</strong>

<p>Students will:</p>
<ul>
<li>add and subtract fractions with unlike denominators;</li>
<li>use mental math strategies to add and subtract fractions;</li>
<li>represent fractions using models and symbols.</li>
</ul>

<strong>Instructional sequence</strong>
<ol>
<li>Partner students. Distribute <abbr title="Blackline Master">BLM</abbr> 1 and review the instructions.</li>
<li>Allow students time to complete the task.</li>
<li>Consolidate by listing all the equations generated and having students discuss connections between and among equations (<abbr title="For example">e.g.</abbr>
, 1 = (<abbr title="one fourth">¼</abbr> + <abbr title="one half">½</abbr> ) + <abbr title="one fourth">¼</abbr> , 1 = <abbr title="three fourths">¾</abbr> + <abbr title="one fourth">¼</abbr> ). It may be appropriate to also discuss the proportional relationships between the number of friends and the distance each participant ran.</li>
</ol>


<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking</strong>

<p>Students may:</p>
<ul>
<li>try several models before arriving at one that works for them;</li>
<li>create equivalent fractions (<abbr title="For example">e.g.</abbr>
, <abbr title="one half">½</abbr> = <abbr title="five tenths">5&frasl;10</abbr> );</li>
<li>use subtraction to find the difference;</li>
<li>use addition to find the sum or build on each distance consecutively;</li>
<li>confirm their solution using a symbolic algorithm.</li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions</strong>
<ol>
<li>What are some possible combinations of fractions that are equivalent to 1 whole?</li>
<li>When creating your equation for 1, did you start with a part or with the whole? Why?</li>
<li>How did you decide on the number of friends running?</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
<li><a href="/pdf/BLM1_Student Handout.pdf" target="_blank" rel="PDF File" style="color: #724199;"><abbr title="Blackline Master">BLM</abbr> 1</a> (one copy/pair of students)</li>
<li>assorted manipulatives</li>
</ul>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Task Templates</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
<img src="/images/tasks/BLM1_Student Handout.png" alt=" " />
<p>To download a copy of this .pdf, click <a href="/pdf/BLM1_Student Handout.pdf" target="_blank" rel="PDF File">here</a>.</p>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Student Thinking</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <img src="/images/tasks/RelayRace_StudentThinking_OP-D_Sample1-2.jpg" alt="Relay Race" />
        <img src="/images/tasks/RelayRace_StudentThinking_OP-D_Sample3-4.jpg" alt="Relay Race" />
        <img src="/images/tasks/RelayRace_StudentThinking_OP-D_Sample5-6.jpg" alt="Relay Race" />
        <img src="/images/tasks/RelayRace_StudentThinking_OP-D_Sample7.jpg" alt="Relay Race" />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KasgYvEQd0k" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Additional Resources</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
<div class="row">


  <a href="/supportDocs/buildAddSub">
    <div class="col-md-6">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="100px" width="100px" >
        <div class="caption">
          <h3>Building to Addition and Subtraction of Fractions</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/litreviews/foundationsAddSub">
    <div class="col-md-6">
      <div class="thumbnail smallRec">
        <img src="/images/research/litReviews/Foundations/foundations10.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" height="100px" width="100px" style="height: 180px;">
        <div class="caption">
          <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
        </div>
      </div>
    </div>
  </a>
</div>
      </div>
    </div>
  </div>
</div>

</main>
<%- include partials/footer.ejs%>
