<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./rep">Representations (Jr)</a></li>
</ol>

<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>Representations (Jr)</h1>
    </div>
  </section>

  <!-- First Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1"><h4>Unit Representing Fractions: Day 1: Exploring Representations</h4></a>
      </div>
      <section id="collapse1" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm12 col-md-12">
              <h4 class="title-dark">Materials:</h4>
              <ul>
                <li>a selection of manipulatives and tools (rulers, markers)</li>
              </ul>
            </div>
          </section>
          
          <section class="row section-border-bottom">
            <div class="col-sm12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals:</h4>
              <p>Students will:</p>
              <ul>
                <li>represent fractions as parts of a whole using a variety of models</li>
                <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
                <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>, use of benchmarks to support and refine the meaning of fractions</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm12 col-md-12">
              <h4> <span class="title-green">Minds On...</span> <span class="title-dark"> (25 minutes)</span></h4>
              <p>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Ask students to show <abbr title="two fifths"><sup>2</sup>/<sub>5</sub></abbr> in as many different ways as possible. Insist that students use a variety of manipulatives, tools, materials. Have them record their representations on a piece of chart paper. Circulate, observe, question.</p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm12 col-md-12">
              <h4><span class="title-red">Action!</span> <span class="title-dark">(20 minutes)</span></h4>
              <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Gallery Walk</p>
              <p>Students circulate around the room and review the different representations. Students consider which representation they think most clearly shows the fraction, and indicate their preference by placing a sticky note with their name by their first choice. Ask students to be prepared to discuss any similarities or differences they notice between the representations of <abbr title="four tenths"><sup>4</sup>/<sub>10</sub></abbr> and <abbr title="two fifths"><sup>2</sup>/<sub>5</sub></abbr>.</p>

              <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion:</p>
              <p>Ask students the following key questions:</p>
              <ul>
                  <li>What did you see that made sense for you? What was it about this model that you found particularly meaningful?</li>
                  <li>What is the role of the numerator in this representation? Where is that shown in the representation?</li>
                  <li>What is the role of the denominator in this representation? Where is that shown in the representation?</li>
                  <li>Explain why this representation is helpful.</li>
              </ul>

              <p>Consider the following options for the discussion:</p>
              <ul>
                <li>highlight those representations that students found most helpful with annotation</li>
                <li>organize the representations by type (<abbr title="For example">e.g.</abbr>, area models, linear models, symbolic representations, set/discreet models) and label accordingly</li>
              </ul>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(15 minutes)</span></h4>
              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Anchor Chart</p>
              <p>Have students generate an anchor chart based on the types of representations used. They can include key information such as how to identify which type of representation is being used, critical components of the representation, and appropriate uses.</p>
              <p>Representations include:</p>
              <ul>
                <li>Area models</li>
                <li>Set/Discreet models</li>
                <li>Linear models</li>
              </ul>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>

  <!-- Second Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse2"><h4>Unit Representing Fractions: Day 2: Introducing and Comparing Models</h4></a>
      </div>
      <section id="collapse2" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Materials:</h4>
              <ul>
                <li>A variety of manipulative materials, including square tiles, 2 colour counters, glass beads, pattern blocks</li>
                <li>Elmo/document camera</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals:</h4>
              <p>Students will</p>
              <ul>
                <li>represent fractions as parts of a whole using a variety of models</li>
                <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
                <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>, use of benchmarks to support and refine the meaning of fractions</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-green"> Minds On...</span> <span class="title-dark">(20 minutes)</span></h4>
              <p>Independent <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Journal</p>
              <p>Students respond to the prompt:
              <abbr title="three eighths"><sup>3</sup>/<sub>8</sub></abbr> shows the number of red lollipops Johnny collected on Halloween. How would you represent this fraction? Use materials in the classroom to show the story in two ways. Record your representations in your math log.</p>
    
              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Students share their representations (using Elmo if available). Students explain why they selected that representation and how they understand it to connect to the problem posed.</p>
              <p>Highlight the key points of set/discreet models from the student responses (that the number of pieces forms the whole; that the numerator identifies the number of parts that meet one specific criterion; that the parts do not need to be the same size). Discuss why the set/discreet model is an appropriate representation for this problem.</p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-red">Action!</span> <span class="title-dark">(30 minutes)</span></h4>
              <p>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Task</p>
              <p>Students complete <abbr title="Blackline Master">BLM</abbr> 2.1</p>

              <p>Pair/Share <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Students share their responses and reasoning to the first question. Encourage students to extend their partner’s thinking by asking clarifying questions and connecting to their own thinking.</p>

              <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Ask one pair who agreed upon their responses to share their reasoning. Ask if other students had different reasoning but the same answer. Have them share. Allow other students to ask questions and to make connections to their own responses. If some students disagree then ask them to share their reasoning.</p>

              <p>Adapted from <a href="http://illuminations.nctm.org/LessonDetail.aspx?id=L784">Comparing and Ordering Number Lines</a></p>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(10 minutes)</span></h4>
              <p>Whole group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Ask students to share their stories for the area model and the set/discrete model. Discuss the stories to ensure that they are appropriate and that students understand the connections between the story and the models (<abbr title="that is">i.e.</abbr>, What is the whole? What are the parts?).</p>
              <p>Ask the following key questions and record student responses using a Venn diagram. How are the stories of the set model (c) different from the stories of the area model (b)? How are they similar?</p>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>

  <!-- Third Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse3"><abbr title="Blackline Master"><h4>BLM</abbr> 2.1</h4></a>
      </div>
      <section id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
            <li>Suzie says all 3 representations here show the same fraction. Is that true?
              <section class="row padding-bottom">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                  <div class="col-md-4 col-sm-4">
                    <figure>
                      <img src="/images/tasks/Lessons/rep1.png" alt="" class="img-responsive margin-auto">
                      <figcaption>a) linear model</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <figure>
                      <img src="/images/tasks/Lessons/rep2.png" alt="" class="img-responsive margin-auto">
                      <figcaption>b) area model</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <figure>
                      <img src="/images/tasks/Lessons/rep3.png" alt="" class="img-responsive margin-auto">
                      <figcaption>c) discrete model</figcaption>
                    </figure>
                  </div>
                </div>
              </section>
            </li>
            <li>Write a short math story for each of these three representations. For example, if I were to use a coloured counter story for c), I could say <q>There are four counters in total. 3 are yellow. I can describe this using a fraction by saying three-fourths of the counters are yellow.</q></li>
          </ol>
        </div>
      </section>
    </div>
  </section>

  <!-- Fourth Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse4"><h4>Unit Representing Fractions: Day 3: Focus on Linear Models</h4></a>
      </div>
      <section id="collapse4" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 65 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals:</h4>
              <p>Students will:</p>
              <ul>
                <li>represent fractions as a number as well as parts of a whole using a number line</li>
                <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
                <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr> , use of benchmarks to support and refine the meaning of fractions</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-green">Minds On...</span> <span class="title-dark">(5 minutes)</span></h4>
              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Refer students back to <abbr title="Blackline Master">BLM</abbr> 2.1 and ask them to look at the linear model (a) again.
              Prompt students to share connections that they made between the linear model and their understanding of fractions. Students may also wish to share what connections they make between the linear model and other items they are familiar with.</p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-red">Action!</span> <span class="title-dark">(45 minutes)</span></h4>
              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Students share their stories for a) from <abbr title="Blackline Master">BLM</abbr> 2.1.</p>
              <p>Discuss the stories to ensure all students understand the connection between the model and fraction. Extend their thinking by asking: How are the stories of the area model (b) different from the linear model (number line) in a)?</p>

              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Review the critical components of a number line if necessary (see note in sidebar).</p>
              <p>Show students a number line with 0 on one end and 1 on the other end. Ask them to consider the following questions:</p>
              <ul>
                <li>Where would <abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr> go?</li>
                <li>Where would <abbr title="one fourth"><sup>1</sup>/<sub>4</sub></abbr> and <abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr> go?</li>
                <li>Can you show another fraction on this number line?</li>
              </ul>
              <p>A number is a linear model that shows distance between points (intervals). It can be open without end intervals or closed with end intervals. The number line is helpful to order and compare fractions.</p>
            </div>
          </section>
              
          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(15 minutes)</span></h4>
              <p>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Logs</p>
              <p>Ask students to revisit their stories from yesterday. Have them respond to the following:</p>
              <ul>
                <li>What changes would you make with your stories to better match the representations?</li>
                <li>Write a new story for the linear model (number line) representation.</li>
              </ul>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>

  <!-- Fifth Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse5"><h4>Unit Representing Fractions: Day 4: Connecting Number Lines</h4></a>
      </div>
      <section id="collapse5" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals:</h4>
              <p>Students will:</p>
              <ul>
                <li>order fractions using a number line</li>
                <li>reason about meaning of a fraction, including as a number, as a part-whole relationship and as a quotient</li>
                <li>connect fractions to other number systems, such as decimals and percents</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-green">Minds On...</span> <span class="title-dark">(15 minutes)</span></h4>
              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Acting</p>
              <p>Each student selects a number (fraction, percent or decimal) and writes it on a sticky note. Students then organize themselves from smallest to largest along the front of the classroom, displaying their sticky note as they discuss the order with their classmates. Once they feel they are in order students read out their numbers from smallest to largest to see if everyone agrees.</p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-red">Action!</span> <span class="title-dark">(25 minutes)</span></h4>
              <p>Small Groups <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Provide each group with the chart paper with the number line constructed on it and the set of fraction cards (<abbr title="Blackline Master">BLM</abbr> 4.1). Tell them that there has been a mishap and some fractions fell off the number line. Ask them to place the fractions appropriately on the number line.</p>

              <p>Small Groups <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Have students create their own number lines based on <abbr title="Blackline Master">BLM</abbr> 4.2.</p>
              <p>This activity reinforces for students that the intervals on a number line must be equally spaced.</p>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(20 minutes)</span></h4>
              <p>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Practise</p>
              <p>Have students complete <abbr title="Blackline Master">BLM</abbr> 4.2.</p>
              <p>Collect math logs. Select 5 stories to share for activation in lesson 5.</p>
              <p>This could be projected and students could record their responses in their math journals. [note <abbr title="reference">re</abbr> question 1: students will need to think about thirds and then relate that to 9ths]</p>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>

  <!-- Sixth Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse6"><abbr title="Blackline Master"><h4>BLM</abbr> 4.1: Number Cards</h4></a>
      </div>
      <section id="collapse6" class="panel-collapse collapse">
        <div class="panel-body font-size-26px">
          <table class="table-bordered">
            <tr>
              <td><abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr></td>
              <td><abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr></td>
              <td><abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr></td>
              <td><abbr title="nine tenths"><sup>9</sup>/<sub>10</sub></abbr></td>
            </tr>
            <tr>
              <td><abbr title="four fifths"><sup>4</sup>/<sub>5</sub></abbr></td>
              <td><abbr title="six eighths"><sup>6</sup>/<sub>8</sub></abbr></td>
              <td><abbr title="one eigth"><sup>1</sup>/<sub>8</sub></abbr></td>
              <td><abbr title="four tenths"><sup>4</sup>/<sub>10</sub></abbr></td>
            </tr>
            <tr>
              <td><abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr></td>
              <td><abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr></td>
              <td><abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr></td>
              <td><abbr title="nine tenths"><sup>9</sup>/<sub>10</sub></abbr></td>
            </tr>
            <tr>
              <td><abbr title="four fifths"><sup>4</sup>/<sub>5</sub></abbr></td>
              <td><abbr title="six eighths"><sup>6</sup>/<sub>8</sub></abbr></td>
              <td><abbr title="one eighth"><sup>1</sup>/<sub>8</sub></abbr></td>
              <td><abbr title="four tenths"><sup>4</sup>/<sub>10</sub></abbr></td>
            </tr>
            <tr>
              <td><abbr title="one half"><sup>1</sup>/<sub>2</sub></abbr></td>
              <td><abbr title="two thirds"><sup>2</sup>/<sub>3</sub></abbr></td>
              <td><abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr></td>
              <td><abbr title="nine tenths"><sup>9</sup>/<sub>10</sub></abbr></td>
            </tr>
            <tr>
              <td><abbr title="four fifths"><sup>4</sup>/<sub>5</sub></abbr></td>
              <td><abbr title="six eighths"><sup>6</sup>/<sub>8</sub></abbr></td>
              <td><abbr title="one eighth"><sup>1</sup>/<sub>8</sub></abbr></td>
              <td><abbr title="four tenths"><sup>4</sup>/<sub>10</sub></abbr></td>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </section>

  <!-- Seventh Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse7"><abbr title="Blackline Master"><h4>BLM</abbr> 4.2 Using Number Lines to Answer Questions</h4></a>
      </div>
      <section id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
            <li>
              <p>Solve this problem using one or more of the number lines below.</p>
              <p>Two students were throwing snowballs from their fort at a wall.</p>
              <p>Nick’s snowball was thrown from the fort and landed <abbr title="six eighths"><sup>6</sup>/<sub>8</sub></abbr> of the way to the wall.</p>
              <p>Nanci’s snowball was thrown from the fort and landed <abbr title="seven ninths"><sup>7</sup>/<sub>9</sub></abbr> of the way to the wall.</p>
              <p>Which snowball landed closest to the wall?</p>
            </li>
            <li>
              Write a problem that matches well with a number line model using the following two fractions: <abbr title="five sixths"><sup>5</sup>/<sub>6</sub></abbr> and <abbr title="nine tenths"><sup>9</sup>/<sub>10</sub></abbr>
            </li>
          </ol>
        </div>
      </section>
    </div>
  </section>

  <!-- Eighth Acordeon -->
  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse8"><h4>Unit Representing Fractions: Day 5: Focusing on Area Models</h4></a>
      </div>
      <section id="collapse8" class="panel-collapse collapse">
        <div class="panel-body panel-border">
          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4 class="title-blue-1">Math Learning Goals:</h3>
              <p>Students will:</p>
              <ul>
                <li>connect the representation to the fraction meaning within scenarios involving fractions in order to select representations that are most appropriate</li>
                <li>reason about meaning of a fraction, including as a number, as a part-whole relationship and as a quotient</li>
              </ul>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-green">Minds On...</span> <span class="title-dark">(20 minutes)</span></h4>
              <p>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Distribute a problem from the student generated samples for each pair of students. Have pairs solve the problem on the card.</p>

              <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Students share how they solved the problem. Have select students share their rational for selecting the strategy/model that they used.</p>
            </div>
          </section>

          <section class="row section-border-bottom">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-red">Action!</span> <span class="title-dark">(20 minutes)</span></h4>
              <p>Individual <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
              <p>Present the following to the class:</p>
              <p>I have a new situation for us to think about. I have a page of olden days stamps that are all joined together on a sheet. <abbr title="three fourths"><sup>3</sup>/<sub>4</sub></abbr> of the stamps have been damaged by dampness. How many damaged stamps could there be?</p>
              <p>Ask students to respond and draw their solutions.</p>
              <p>Note: It is important that students understand that the stamps are attached in order to allow for interpretation to be either set(discrete) or area.</p>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12 col-md-12">
              <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(20 minutes)</span></h4>
              <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
              <p>Have students share their responses. Probe their thinking using the following prompts:</p>
              <ul>
                <li>How did you use fractions to solve the problem?</li>
                <li>What representation did you use to help?</li>
                <li>Was it a helpful representation? Why, why not?</li>
              </ul>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>
<%- include partials/footer.ejs%>