<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./rep">Representations (Jr)</a></li>
</ol>

<main class="container">

<h1>Representing Fractions</h1>

  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions: Day 1: Exploring Representations</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Junior</p>
          <p><abbr title="Minds On">MO</abbr> 25 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 20 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 15 <abbr title="minutes">min</abbr></p>
          <p>60 <abbr title="minutes">min</abbr></p>


          <h3>Math Learning Goals</h3>
          <p>Students will</p>
          <ul>
              <li>represent fractions as parts of a whole using a variety of models</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>
          , use of benchmarks to support and refine the meaning of fractions</li>
          </ul>


          <h3>Materials</h3>
          <ul>
          <li>a selection of manipulatives and tools (rulers, markers)</li>
          </ul>

          <h3>Minds On…</h3>
          <h4>Pairs  Activity</h4>
          <p>Ask students to show <abbr title="two fifths">2&frasl;5</abbr> in as many different ways as possible. Insist that students to use a variety of manipulatives, tools, materials. Have them record their representations on a piece of chart paper.
          Circulate, observe, question.</p>

          <h3>Action!</h3>
          <h4>Whole Group  Gallery Walk</h4>
          <p>Students circulate around the room and review the different representations. Students consider which representation they think most clearly shows the fraction, and indicate their preference by placing a sticky note with their name by their first choice. Ask students to be prepared to discuss any similarities or differences they notice between the representations of <abbr title="fourteen tenths">14&frasl;10</abbr> and <abbr title="two fifths">2&frasl;5</abbr>.</p>

          <h4>Whole Group  Discussion:</h4>
          <p>Ask students the following key questions:</p>
          <ul>
              <li>What did you see that made sense for you? What was it about this model that you found particularly meaningful?</li>
              <li>What is the role of the numerator in this representation? Where is that shown in the representation?</li>
              <li>What is the role of the denominator in this representation? Where is that shown in the representation?</li>
              <li>Explain why this representation is helpful.</li>
          </ul>

          <p>Consider the following options for the discussion:</p>
          <ul>
              <li>highlight those representations that students found most helpful with annotation</li>
              <li>organize the representations by type( <abbr title="For example">e.g.</abbr>
          , area models, linear models, symbolic representations, set/discreet models) and label accordingly</li>
          </ul>

          <h3>Consolidate Debrief</h3>
          <h4>Whole Class  Anchor Chart</h4>
          <p>Have students generate an anchor chart based on the types of representations used. They can include key information such as how to identify which type of representation is being used, critical components of the representation, and appropriate uses.</p>
          <p>Representations include:</p>
          <ul>
          <li>Area models</li>
          <li>Set/Discreet models</li>
          <li>Linear models</li>
          </ul>

        </div>
      </div>
    </div>
  </section>


  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions: Day 2: Introducing and Comparing Models</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p><abbr title="Minds On">MO</abbr> 20 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 30 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 10 <abbr title="minutes">min</abbr></p>
          <p>60 <abbr title="minutes">min</abbr></p>

          <h3>Math Learning Goals</h3>
          <p>Students will</p>
          <ul>
              <li>represent fractions as parts of a whole using a variety of models</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>
          , use of benchmarks to support and refine the meaning of fractions</li>
          </ul>

          <h3>Materials</h3>
          <ul>
          <li>A variety of manipulative materials, including square tiles, 2 colour counters, glass beads, pattern blocks</li>
          <li>Elmo/document camera</li>
          </ul>


          <h3>Minds On…</h3>
          <h4>Independent  Math Journal</h4>
          <p>Students respond to the prompt:
          <abbr title="three eighths">3&frasl;8</abbr> shows the number of red lollipops Johnny collected on Halloween. How would you represent this fraction? Use materials in the classroom to show the story in two ways. Record your representations in your math log.</p>

          <h4>Whole Class  Discussion</h4>
          <p>Students share their representations (using Elmo if available). Students explain why they selected that representation and how the understand it to connect to the problem posed.</p>
          <p>Highlight the key points of set/discreet models from the student responses (that the number of pieces forms the whole; that the numerator identifies the number of parts that meet one specific criterion; that the parts do not need to be the same size). Discuss why the set/discreet model is an appropriate representation for this problem.</p>

          <h3>Action!</h3>
          <h4>Individual  Task</h4>
          <p>Students complete <abbr title="Blackline Master">BLM</abbr> 2.1</p>

          <h3>Pair/Share  Discussion</h3>
          <p>Students share their responses and reasoning to the first question. Encourage students to extend their partner’s thinking by asking clarifying questions and connecting to their own thinking.</p>

          <h4>Whole Group  Discussion</h4>
          <p>Ask one pair who agreed upon their responses to share their reasoning. Ask if other students had different reasoning but the same answer. Have them share. Allow other students to ask questions and to make connections to their own responses. If some students disagree then ask them to share their reasoning.</p>

          <p>Adapted from <a href="http://illuminations.nctm.org/LessonDetail.aspx?id=L784">Comparing and Ordering Number Lines</a></p>


          <h3>Consolidate Debrief</h3>
          <h4>Whole group  Discussion</h4>
          <p>Ask students to share their stories for the area model and the set/discrete model. Discuss the stories to ensure that they are appropriate and that students understand the connections between the story and the models (<abbr title="that is">i.e.</abbr>, What is the whole? What are the parts?).</p>
          <p>Ask the following key questions and record student responses using a Venn diagram. How are the stories of the set model (c) different from the stories of the area model (b)? How are they similar?</p>

        </div>
      </div>
    </div>
  </section>

  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master">BLM</abbr> 2.1</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
          <li>
          Suzie says all 3 representations here show the same fraction. Is that true?
          <ol>
              <li>linear model </li>
              <li>area model </li>
              <li>discrete model</li>
          </ol>
          </li>
          <li>
          Write a short math story for each of these three representations.
          For example, if I were to use a coloured counter story for c), I could say “<q>There are four counters in total. 3 are yellow. I can describe this using a fraction by saying three-fourths of the counters are yellow.</q>”
          </li>
          </ol>

        </div>
      </div>
    </div>
  </section>



  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions: Day 3: Focus on Linear Models</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p><abbr title="Minds On">MO</abbr> 5 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 45 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 15 <abbr title="minutes">min</abbr></p>
          <p>60 <abbr title="minutes">min</abbr></p>

          <h3>Math Learning Goals</h3>
          <p>Students will</p>
          <ul>
              <li>represent fractions as a number as well as parts of a whole using a number line</li>
              <li>reason about meaning of a fraction and the relationship between numerator and denominator</li>
              <li>communicate strengths of different representations for different students and in certain contexts <abbr title="For example">e.g.</abbr>
          , use of benchmarks to support and refine the meaning of fractions</li>
          </ul>

          <h3>Minds On…</h3>
          <h4>Whole Class  Discussion</h4>
          <p>Refer students back to <abbr title="Blackline Master">BLM</abbr> 2.1 and ask them to look at the linear model (a) again.
          Prompt students to share connections that they made between the linear model and their understanding of fractions. Students may also wish to share what connections they make between the linear model and other items they are familiar with.</p>


          <h3>Action!</h3>
          <h4>Whole Class  Discussion</h4>
          <p>Students share their stories for a) from <abbr title="Blackline Master">BLM</abbr> 2.1.
          <p>Discuss the stories to ensure all students understand the connection between the model and fraction. Extend their thinking by asking: How are the stories of the area model (b) different from the linear model (number line) in a)?</p>

          <h4>Whole Class  Discussion</h4>
          <p>Review the critical components of a number line if necessary (see note in sidebar).</p>
          <p>Show students a number line with 0 on one end and 1 on the other end. Ask them to consider the following questions:</p>
          <ul>
              <li>Where would <abbr title="one half">½</abbr> go?</li>
              <li>Where would <abbr title="one fourth">¼</abbr>
          41 and <abbr title="three fourths">¾</abbr> go?</li>
              <li>Can you show another fraction on this number line?</li>
          </ul>
          <p>A number is a linear model that shows distance between points (intervals). It can be open without end intervals or closed with end intervals. The number line is helpful to order and compare fractions.</p>


          <h3>Consolidate Debrief</h3>
          <h4>Individual  Math Logs</h4>
          <p>Ask students to revisit their stories from yesterday. Have them respond to the following:</p>
          <ul>
              <li>What changes would you make with your stories to better match the representations?</li>
              <li>Write a new story for the linear model (number line) representation.</li>
          </ul>

        </div>
      </div>
    </div>
  </section>


  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions: Day 4: Connecting Number Lines</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p><abbr title="Minds On">MO</abbr> 15 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 25 <abbr title="minutes">min</abbr>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 20 <abbr title="minutes">min</abbr>
          <p>60 <abbr title="minutes">min</abbr></p>

          <h3>Math Learning Goals</h3>
          <p>Students will</p>
          <ul>
              <li>order fractions using a number line</li>
              <li>reason about meaning of a fraction, including as a number, as a part-whole relationship and as a quotient</li>
              <li>connect fractions to other number systems, such as decimals and percents</li>
          </ul>

          <h3>Minds On…</h3>
          <h4>Whole Class  Acting</h4>
          <p>Each student selects a number (fraction, percent or decimal) and writes it on a sticky note. Students then organize themselves from smallest to largest along the front of the classroom, displaying their sticky note as they discuss the order with their classmates. Once they feel they are in order students read out their numbers from smallest to largest to see if everyone agrees.</p>

          <h3>Action!</h3>
          <h4>Small Groups  Activity</h4>
          <p>Provide each group with the chart paper with the number line constructed on it and the set of fraction cards (<abbr title="Blackline Master">BLM</abbr> 4.1). Tell them that there has been a mishap and some fractions fell off the number line. Ask them to place the fractions appropriately on the number line.</p>

          <h4>Small Groups  Activity</h4>
          <p>Have students create their own number lines based on <abbr title="Blackline Master">BLM</abbr> 4.2.</p>
          <p>This activity reinforces for students that the intervals on a number line must be equally spaced.</p>


          <h3>Consolidate Debrief</h3>
          <h4>Pairs  Practise</h4>
          <p>Have students complete <abbr title="Blackline Master">BLM</abbr> 4.2.</p>
          <p>Collect math logs. Select 5 stories to share for activation in lesson 5.</p>
          <p>This could be projected and students could record their responses in their math journals.
          [note <abbr title="reference">re</abbr> question 1: students will need to think about thirds and then relate that to 9ths]</p>

        </div>
      </div>
    </div>
  </section>


  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master">BLM</abbr> 4.1: Number Cards</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <table>
            <tr>
                <td><abbr title="one half">½</abbr></td>
                  <td><abbr title="two thirds">2&frasl;3</abbr></td>
                  <td><abbr title="three fourths">¾</abbr></td>
                  <td><abbr title="nine tenths">9&frasl;10</abbr></td>
              </tr>
              <tr>
                <td><abbr title="four fifths">4&frasl;5</abbr></td>
                  <td><abbr title="six eighths">6&frasl;8</abbr></td>
                  <td><abbr title="one eigth">1&frasl;8</abbr></td>
                  <td><abbr title="four tenths">4&frasl;10</abbr></td>
              </tr>
          </table>

          <table>
            <tr>
                <td><abbr title="one half">½</abbr></td>
                  <td><abbr title="two thirds">2&frasl;3</abbr></td>
                  <td><abbr title="three fourths">¾</abbr></td>
                  <td><abbr title="nine tenths">9&frasl;10</abbr></td>
              </tr>
              <tr>
                <td><abbr title="four fifths">4&frasl;5</abbr></td>
                  <td><abbr title="six eighths">6&frasl;8</abbr></td>
                  <td><abbr title="one eighth">1&frasl;8</abbr></td>
                  <td><abbr title="four tenths">4&frasl;10</abbr></td>
              </tr>
          </table>

          <table>
            <tr>
                <td><abbr title="one half">½</abbr></td>
                  <td><abbr title="two thirds">2&frasl;3</abbr></td>
                  <td><abbr title="three fourths">¾</abbr></td>
                  <td><abbr title="nine tenths">9&frasl;10</abbr></td>
              </tr>
              <tr>
                <td><abbr title="four fifths">4&frasl;5</abbr></td>
                  <td><abbr title="six eighths">6&frasl;8</abbr></td>
                  <td><abbr title="one eighth">1&frasl;8</abbr></td>
                  <td><abbr title="four tenths">4&frasl;10</abbr></td>
              </tr>
          </table>

        </div>
      </div>
    </div>
  </section>


  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master">BLM</abbr> 4.2 Using Number Lines to Answer Questions</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
              <li>
                  <p>Solve this problem using one or more of the number lines below.</p>
                  <p>Two students were throwing snowballs from their fort at a wall.</p>
                  <p>Nick’s snowball was thrown from the fort and landed <abbr title="six eighths">6&frasl;8</abbr> of the way to the wall.</p>
                  <p>Nanci’s snowball was thrown from the fort and landed <abbr title="seven ninths">7&frasl;9</abbr> of the way to the wall.</p>
                  <p>Which snowball landed close to the wall?</p>
              </li>
              <li>
                  Write a problem that matches well with a number line model using the following two fractions:
                  <abbr title="five sixths">5&frasl;6</abbr> and <abbr title="nine tenths">9&frasl;10</abbr>
              </li>
          </ol>
          <img src="" alt="" height="" width="" />
          <img src="" alt="" height="" width="" />
          <img src="" alt="" height="" width="" />

        </div>
      </div>
    </div>
  </section>



  <section class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions: Day 5: Focusing on Area Models</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p><abbr title="Minds On">MO</abbr> 20 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Action">A</abbr> 20 <abbr title="minutes">min</abbr></p>
          <p><abbr title="Consolidate Debrief">C/D</abbr> 20 <abbr title="minutes">min</abbr></p>
          <p>60 <abbr title="minutes">min</abbr></p>

          <h3>Math Learning Goals</h3>
          <p>Students will</p>
          <ul>
              <li>connect the representation to the fraction meaning within scenarios involving fractions in order to select representations that are most appropriate</li>
              <li>reason about meaning of a fraction, including as a number, as a part-whole relationship and as a quotient</li>
          </ul>

          <h3>Minds On…</h3>
          <h4>Pairs  Activity</h4>
          <p>Distribute a problem from the student generated samples for each pair of students. Have pairs solve the problem on the card.</p>

          <h4>Whole Class  Discussion</h4>
          <p>Students share how they solved the problem. Have select students share their rational for selecting the strategy/model that they used.</p>

          <h3>Action!</h3>
          <h4>Individual  Activity</h4>
          <p>Present the following to the class:</p>
          <p>I have a new situation for us to think about.
          I have a page of olden days stamps that are all joined together on a sheet.
          <abbr title="three fourths">¾</abbr> of the stamps are have been damaged by dampness.
          How many damaged stamps could there be?</p>
          <p>Ask students to respond and draw their solutions.</p>
          <p>Note: It is important that students understand that the stamps are attached in order to allow for interpretation to be either set(discrete) or area.</p>


          <h3>Consolidate Debrief</h3>
          <h4>Whole Group  Discussion</h4>
          <p>Have students share their responses. Probe their thinking using the following prompts:</p>
          <ul>
              <li>How did you use fractions to solve the problem?</li>
              <li>What representation did you use to help?</li>
              <li>Was it a helpful representation? Why, why not?</li>
          </ul>

        </div>
      </div>
    </div>
  </section>




<%- include partials/footer.ejs%>
