<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/planningSupports">Planning Supports</a></li>
    <li><a href="./repFrac">Research Informed Instruction Representing Fractions</a></li>
</ol>


<main class="container pdf-page">
<!-- Insert content here-->
<h2 class="col-dark-blue center">Research Informed Instructional Considerations for Representing Fractions</h2>

<div class="gen-pdf">
    <a href="/pdf/repFrac.pdf">Download PDF</a>
</div>


<table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font"  id="ftable">
<tr>
    <th>The teacher should</th>
    <th>It allows students to</th>
    <th>References</th>
</tr>
<tr>
    <td>
        <ul>
            <li>• introduce learners to fractions through a context of fair sharing, partitioning with a focus on fairness and number of shares.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• construct connection between fractions, multiplication, and division through exploration in context of fair sharing.
            </li>
            <li>• compare fractional amounts using concrete materials.</li>
            <li>• construct unit fractions and common fractions within a context.</li>
            <li>• avoid the misconception about fractional size that a larger denominator means a larger amount.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Fosnot (2007)</li>
            <li>• Fosnot & Dolk (2002)</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• engage students in reasoning with repeated halving before creating:
                <ul>
                    <li>• equal even numbered partitions (e.g., 10)</li>
                    <li>• odd numbered partitions (e.g., 7)</li>
                    <li>• composition (e.g., 12 can be constructed using a 3x4 array)</li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• develop an understanding of the representation of fractions first as they can more readily model the mathematics using an appropriate model</li>
            <li>• apply their understanding to increasingly complex partitioning situations.</li>
            <li>• use their multiplicative understanding to partition wholes for denominators which can be factored (composition).</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Petit, Laird, Marsden</li>
            <li>• Stiff</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• use examples and non examples as representations of fractions.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• think about what fractions are NOT.</li>
            <li>• surface misconceptions.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Smith</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• allow students to select their own tools and representations.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• share their thinking through the representation, including drawings, and therefore facilitate reasoning. This allows teachers to build upon the students’ prior knowledge in meaningful ways.</li>
            <li>• arrive at the conclusion that the parts must be equal in area. Sometimes pre-made partitioned models prevent discovery of such misconceptions.</li>
            <li>• share and refine their understanding of the multiple meanings of fractions, including as parts of a set.</li>
            <li>• think about fraction as part of a whole. Sometimes with prepartitioned shapes, they rely on counting of partitions instead.
            </li>
            <li>• construct mental referents which allow them to perform fraction tasks meaningfully. For example, recognize that ¼ is less than ½ or that <abbr title=""><sup>4</sup>⁄<sub>3</sub></abbr> is greater than 1.</li>
            <li>• select manipulatives to model a fraction, which they may find easier to use if they lack the fine motor skills necessary to accurately partition a whole.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Bezuk & Cramer</li>
            <li>• Bruce & Flynn</li>
            <li>• Bruce & Ross</li>
            <li>• Empson & Levi</li>
            <li>• Petit et al</li>
            <li>• Stiff</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• encourage multiple strategies to explain thinking.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• explain their thinking using different strategies, deepening their understanding and use of increasingly precise vocabulary.</li>
            <li>• develop a strong conceptual understanding of the connections between and among representations and strategies, aiding in subsequent learning.</li>
            <li>• make connections to other mathematical concepts, including their knowledge of algebraic relationships.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Bruce & Flynn</li>
            <li>• Empson & Levi</li>
            <li>• Meagher</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• make precise decisions about the models used and share the rationale with students.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• understand that some representations work better in one context than another. The usefulness of a representation is dependent upon the context.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Bruce</li>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• incorporate a variety of models and contexts into their instruction</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• make strong connections between physical models and mathematical concepts.</li>
            <li>• move beyond rote, mechanical manipulations of one manipulative.</li>
            <li>• focus on the important components of fractions (i.e., identify the whole, consider what composes ‘equal parts’, establish the meaning of the fraction in the given model/context).</li>
            <li>• make connections between different representations, which may uncover inaccurate generalizations or conceptual misunderstandings.
            </li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• restrict denominators to 12 and less.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• work with familiar numbers.</li>
            <li>• easily model the fraction in a variety of ways.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Bezuk & Cramer</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• engage students in counting by unit fractions (e.g., <abbr title=""><sup>1</sup>⁄<sub>8</sub></abbr>, <abbr title=""><sup>2</sup>⁄<sub>8</sub></abbr>, <abbr title=""><sup>3</sup>⁄<sub>8</sub></abbr>,...).</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• recognize that the top number counts, while the bottom number tells us what is being counted.</li>
            <li>• consider the part to whole relationship.</li>
            <li>• deepen understanding of a fraction as a single number.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Emperson & Levi</li>
            <li>• Petit et al</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• monitor understanding of notation and part-whole relationships separately.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• investigate the relationships between the fraction concepts and fraction notation.</li>
            <li>• distinguish their level of understanding of each.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Saxe</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• use models where a region is shaded (without partitions) and ask students to estimate about how much is represented.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• develop a sense of what fractions are.</li>
            <li>• think of a fraction as one idea, rather than two numbers.</li>
            <li>• consider the whole region, rather than the individual parts, which minimizes the potential for confusion between whole numbers (the number of parts, the number of shaded parts) and fractions.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Meagher</li>
            <li>• Petit et al</li>
            <li>• Small (2001)</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• require students to partition an area model to represent a specific fractional value.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• refine and/or communicate their understanding of the necessity of congruent pieces for fraction representation.</li>
            <li>• strengthen their understanding of the part-to-whole relationship</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Anderson & Wong</li>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• sequence shading of models so the number of parts in the model equals:
                <ul>
                    <li>• the denominator</li>
                    <li>• a factor of the denominator</li>
                    <li>• a multiple of the denominator of the shaded area</li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• identify the whole unit (and consider how it can change in different contexts).</li>
            <li>• identify the meaning of the equal parts (and consider how they can change in different models).</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• include different orientations, and also separate the shaded areas, when using area models.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• generalize part to whole relationships.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Gould & Outhred</li>
            <li>• Small (2010)</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• include models with a perceptual distracter (a visual that does not match the task – e.g., Shade one third of this circle.)
            <div class="center"><img src="/images/pdf-img/repFrac.png" alt="" /></div>
            </li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• apply their fraction knowledge.</li>
            <li>• distinguish fractions from whole numbers (i.e., can’t just count the correct number of segments).</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Case & Moss</li>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• have students break fractions into parts (e.g., <abbr title=""><sup>5</sup>⁄<sub>4</sub></abbr> = ¼ + <abbr title=""><sup>4</sup>⁄<sub>4</sub></abbr> or ¾ + ½, etc)</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• increase flexibility with number.</li>
            <li>• compose and decompose fractions to make them friendly.</li>
            <li>• view a fraction as a single numeric value.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Empson & Levi</li>
            <li>• Fosnot & Dolk (2002)</li>
            <li>• Petit et al</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• engage students in activities which extend their concept of unit (e.g., if the yellow trapezoidal pattern block is a whole, then what is the value of a green triangle? Also, if this area represents <abbr title=""><sup>3</sup>⁄<sub>5</sub></abbr>, draw the whole.)</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• develop flexibility of unit.</li>
            <li>• reinforce their concept of unit.</li>
            <li>• deepen understanding of equivalence and relative size.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Bezuk & Cramer</li>
            <li>• Petit et al</li>
            <li>• Van de Walle</li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>• ask students to represent fractions using a variety of number lines</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• consolidate their understanding of fraction as number (although they may first revert to whole number reasoning).</li>
            <li>• connect fractions to their understanding of measurement.</li>
            <li>• apply proportional reasoning to the location of fractions on a number line.</li>
            <li>• connect the area representation to the number line by possibly constructing area models underneath and aligned
                with the number line.</li>
        </ul>
    </td>
    <td>
        <ul>
            <li>• Petit et al</li>
        </ul>
    </td>
</tr>
</table>

<%- include partials/footer.ejs%>
