<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/research">Research</a></li>
    </ol>


  <main class="container">
    <section>
      <h1>Research</h1>
<p>&nbsp;</p>

<div class="row">
<a href="/digitalPaper">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/digitalPaper.png" alt="Digital Paper" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Fractions: Representing, Ordering, Comparing</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/research/fracPathOverview">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/research/fractionsLearningPathwaysOverview.png" alt="Fractions Learning Pathways Overview" class="img-rounded" height="100px" width="200px">
      <div class="caption">
        <h2>Fractions Learning Pathways Overview</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/research/fracResearchFindings">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/research/fractionsResearchFindings.png" alt="Fractions Research Findings" class="img-rounded" height="100px" width="200px">
      <div class="caption">
        <h2>Fractions Research Findings</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>
</div>
<div class="row">
<a href="/research/fracResearchSum">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/research/fractionsResearchSummary.png" alt="Fractions Research Summary" class="img-rounded" height="100px" width="200px">
      <div class="caption">
        <h2>Fractions Research Summary</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/research/fracTenLess">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/research/fractionsTopTenLessons.png" alt="Fractions Top Ten Lessons" class="img-rounded" height="100px" width="200px">
      <div class="caption">
        <h2>Fractions Top Ten Lessons</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/supportDocs/supportDocs">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/research/documentBriefs.png" alt="Document Briefs" height="100px" width="200px">
      <div class="caption">
        <h2>Document Briefs</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>
</div>
<div class="row">
<a href="/research/payAttention">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/research/payingAttentionToFractions.png" alt="Paying Attention to Fractions" class="img-rounded" height="100px" width="200px">
      <div class="caption">
        <h2>Paying Attention to Fractions</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/research/payingAttentionToFractionsOverview.png" alt="Paying Attention to Fractions Overview" class="img-rounded" height="100px" width="200px">
      <div class="caption">
        <h2>Paying Attention to Fractions Companion</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/litreviews/litreviews">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="/images/research/litReview2.png" alt="Literature Reviews" height="100px" width="200px">
      <div class="caption">
        <h2>Literature Reviews</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>
</div>
</section>
</main>
<%- include partials/footer.ejs%>
