<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">All Research</li>
    </ol>


  <main class="container">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>All Research</h1>
      </div>
    </section>

    <section class="row">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="math-tab" data-toggle="tab" href="#math" role="tab" aria-controls="math" aria-selected="false">Math Knowledge for Teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="professional-tab" data-toggle="tab" href="#professional" role="tab" aria-controls="professional" aria-selected="false">Professional Learning</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="research-tab" data-toggle="tab" href="#research" role="tab" aria-controls="research" aria-selected="false">Research Project Findings</a>
          </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- First TAB - MATH -->
        <div class="tab-pane fade in active" id="math" role="tabpanel" aria-labelledby="math-tab">

          <p>Three literature reviews were completed during the course of the research project. A number of brief research summaries were developed from these literature reviews to allow educators to identify key instructional decisions known to improve student learning. They include suggestions for precise classroom instruction.</p>
          <h4 class="title-research"><a href="/litreviews/litReviews">Literature Reviews</a></h4>
          <div class="margin-bottom-research">
            <h5>Rational Number Teaching and Learning<a href="/pdf/Rational_Number_LR_15May2018_FINAL.pdf">[pdf]</a><a href="/rationalNumberTeaching">[html]</a></h5>
            <p>Some description</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Foundations to Learning and Teaching Fractions: Addition and Subtraction <a href="../pdf/FINALFoundationstoLearningandTeachingFractions.pdf" target="_blank">[pdf]</a> <a href="/litreviews/foundationsAddSub">[html]</a></h5>
            <p>Prior to engaging in collaborative action research with teacher teams and students in Ontario classrooms, this literature review was undertaken to provide a synthesis of existing knowledge from the field of educational research focused on the learning and teaching of fractions.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Fractions Operations: Multiplication and Division <a href="/pdf/Fractions_LitReview_MultDiv_2015.pdf" target="_blank">[pdf]</a> <a href="/litreviews/opMultDiv">[html]</a></h5>
            <p>The following literature review discusses current and seminal research on fractions operations, specifically fractions multiplication and division.</p>
          </div>
          &nbsp;

          <h4 class="title-reserach">Math Teaching for Learning Research Summaries</h4>
          <div class="margin-bottom-research">
            <h5>Ways We Use Fractions <a href="/pdf/Fractions_WaysWeUseFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/waysWeUseFrac">[html]</a></h5>
            <p>A fraction is a number, which can tell us about the relationship between two quantities. These two quantities provide information about the parts, the units we are considering and the whole.<p>
          </div>
          <div class="margin-bottom-research">
            <h5>Developing Fraction Number Sense <a href="../pdf/Fractions_DevelopingNumberSense.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/devFracNumSense">[html]</a></h5>
            <p>Students who have a strong understanding of fraction as number are better equipped to work with fraction operations.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Purposeful Representations <a href="../pdf/purposefulRepresentations.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/purpRep">[html]</a></h5>
            <p>The effectiveness of the consistent use of representations is supported by the findings of researchers Pirie and Kieran (1994), who found that students hold on to the representations they are initially exosed to as the grounding for their conceptual understanding.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Rectangles, Number Lines and Circles, Oh My! <a href="../pdf/T38CircleOnePager%20v11.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/RecNumLinesCircles">[html]</a></h5>
            <p>Circles are difficult for students to partition accurately, especially with large or odd numbers of partitions. As a result, students may focus more on the number of partitions and less on their equivalency.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Developing Proficiency with Partitioning, Iterating, and Disembedding  <a href="../pdf/Fractions_IteratingandPartitioning.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/devPartItDisembed">[html]</a></h5>
            <p>When students perform the action of aligning, copying or combining equal units to verify a fraction, they are iterating.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Building Understanding of Unit Fractions <a href="../pdf/Fractions_UnitFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildUnitFrac">[html]</a></h5>
            <p>When students add two whole numbers, the common unit – one whole number – is implicit. That is to say,students would not likely define ‘5’ as ‘5 whole number units of 1’ even though this is true.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Building Understanding of Equivalence <a href="../pdf/Fractions_Equivalence.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildEquiv">[html]</a></h5>
            <p>Equivalence is a foundational concept which students explore throughout elementary and secondary mathematics learning.</p>
          </div>
          <div>
            <h5>Building to Addition and Subtraction of Fractions <a href="../pdf/Fractions_AdditionandSubtraction.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildAddSub">[html]</a></h5>
            <p>A thorough examination of the research highlights a development of instruction to support student understanding of fractions addition and subtraction from primary through to intermediate grades.</p>
          </div>
          &nbsp;

        </div>
        <!-- Second TAB - PROFESSIONAL -->
        <div class="tab-pane fade" id="professional" role="tabpanel" aria-labelledby="professional-tab">
          <div class="margin-bottom-research">
            <p>A major component of the research project was knowledge mobilization of the key findings of fractions teaching and learning. A number of resources are available in order to allow all educators access to a range of professional learning supports.</p>
          </div>

          <h4 class="title-reserach">Paying Attention to Fractions</h4>
          <div>
            <h5>Paying Attention to Fractions <a href="../pdf/LNSAttentionFractions.pdf" target="_blank">[pdf]</a> <a href="/research/payAttention">[html]</a></h5>
            <p>This document focuses on the mathematical content area of fractions.  Key findings from Ontario research are used throughout the document to connect the learning and teaching of fractions from K to 12.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Actions to Develop Fractions Understanding <a href="../pdf/ActionstoDevelopUnderstandingFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/actFracUnd">[html]</a></h5>
            <p>The seven mathematics processes – problem solving, reasoning and proving, reflecting, selecting tools and computational strategies, connecting, representing, and communicating – are integral to meaningful learning of fractions.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Intentional Tasks to Develop Fractions Thinking <a href="../pdf/IntentionalTaskstoDevelopFractionsThinking.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/tasksThinking">[html]</a></h5>
            <p>Current research in Ontario classrooms is revealing the rich learning opportunities afforded through the use of thoughtfully selected tasks. </p>
          </div>
          <div class="margin-bottom-research">
            <h5>Fractions across Strands and Grades: Sample Tasks <a href="../pdf/FractionsAcrossStrands.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/fracAcrossStrands">[html]</a></h5>
            <p>The following chart highlights a sample of mathematics tasks that involve fractions across the strands and grades.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Being Responsive to Student Thinking <a href="../pdf/BeingResponsivetoStudentThinking.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/respThink">[html]</a></h5>
            <p>When educators work with a partner or in small groups to examine and annotate student work,it allows for student thinking to be unpacked – their understandings, strategies and transitionalconceptions</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Paying Attention to Fractions Overview <a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/">[Adobe Presenter]</a></h5>
            <p>This Adobe Presenter highlights and animates key parts of the Paying Attention to Fractions document.</p>
          </div>
          &nbsp;

          <h4 class="title-research">Top Ten Lessons</h4>
          <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 margin-bottom-research">
            <h5>Fractions Research Top Ten Lessons <a href="/research/fracTenLess">[video]</a> <a href="/pdf/transcripts/FacilitatorGuide_Part_3_Top_10_Lessons_Transcript.pdf" target="_blank">[transcript]</a></h5>
            <p>In this video Dr. Cathy Bruce and Shelley Yearley share ten key learnings from the research.</p>
          </div>
          <h4 class="title-reserach">Webcasts</h4>
          <div class="margin-bottom-research">
            <h5><a href="http://thelearningexchange.ca/web_conferences/mathematics-web-conference-hosted-dr-cathy-bruce-teaching-fractions-whats-big-deal/" target="_blank">Teaching Fractions: What’s the Big Deal</a></h5>
            <p>Recorded web conference hosted by Dr. Cathy Bruce focusing on the foundations of fraction understanding. November 2014.</p>
          </div>
          <div class="margin-bottom-research">
            <h5><a href="http://thelearningexchange.ca/web_conferences/dr-cathy-bruce-and-shelley-yearley-focus-on-unit-fractions/" target="_blank">Teaching Fractions: Focusing on Unit Fractions</a></h5>
            <p>Recorded web conference hosted by Dr. Cathy Bruce and Shelley Yearley focusing on the importance of unit fractions and it’s foundation for operating with fractions. February 2016.</p>
          </div>
          &nbsp;

          <h4 class="title-research">Unit Fractions Virtual Learning Session</h4>
          <div class="margin-bottom-research">
            <p>Based on Paying Attention to Fractions and related research, this Adobe Connect session will explore the role that unit fractions play in developing a solid fraction number sense across K-12 learning. In this session you will have opportunities to:</p>
            <ul>
              <li>understand what a unit fraction is and how this changes the way we think about fractions;</li>
              <li>examine how unit fractions can support learning across number systems and algebraic contexts;</li>
              <li>develop deeper understanding of fraction as a number by engaging in the actions of partitioning, iterating and disembedding.</li>
            </ul>
            Click <a href="https://sites.google.com/view/unitfractionssession" target="_blank" rel="noopener">here</a> to get started.
          </div>

          <h4 class="title-research">Comparing Fractions Virtual Learning Session</h4>
          <div class="margin-bottom-research">
            <p>Through a variety of classroom ready activities participants will gain a deeper understanding of purposeful selection of representations, foundations of equivalency and comparing fractions. Using both participant and student thingking, discussion will highlight mathematical thinking and anticipated responses.</p>
            Click <a href="https://sites.google.com/view/comparing-fractions" target="_blank" rel="noopener">here</a> to get started.
          </div>

          <h4 class="title-research">Addition and Subtraction with Fractions Virtual Learning Session</h4>
          <div class="margin-bottom-research">
            <p>through a variety of classroom ready activities participants will gain a deeper understanding of purposeful selection of representations, as well as foundations of addition and subtraction of fractions. Using both participant and student thinking, discussion will highlight mathematical thinking and anticipated responses. As well, the role of fraction number sense and connections to prior learning of operations will be expolored.</p>
            Click <a href="https://sites.google.com/view/additionandsubtractionwithfrac" target="_blank" rel="noopener">here</a> too get started.
          </div>

          <h4 class="title-research">Multiplication and Division with Fractions Virtual Learning Session</h4>
          <div class="margin-bottom-research">
            <p>Multiplication and division of fractions is frequently taught solely based upon the algorithms. This strategy obscures the mathematics, particularly in the case of division where multiplication is used. Research in Ontario classrooms have uncovered the importance of purpsoeful representations for fractions instruction, especially in the learning of multiplication and division of fractions. Theis session will explore these learnings through classroom ready tasks.</p>
            Click <a href="https://sites.google.com/view/multiplication-and-division-wi" target="_blank" rel="noopener">here</a> to get started.
          </div>
          &nbsp;

          <a href="/research/digitalPaper">
            <div class="col-sm-4 col-md-4 margin-bottom-research">
              <div class="thumbnail">
                <figure>
                  <img src="/images/digitalPaper.png" alt="Digital Paper"  class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions: Representing, Ordering, Comparing</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          &nbsp;

          <script>

          </script>

        </div>
        <!-- Third TAB - RESEARCH -->
        <div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">
          <p>Over six years of research a range of qualitative and quantitative data was collected about fractions learning and teaching and professional learning. This data is shared in a variety of documents and videos. The two videos included detail the history of the development of the Fractions Learning Pathways and the reserach findings.</p>

          <!--<a href="/research/fracPathOverview">
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <figure>
                <img src="/images/research/fractionsLearningPathwaysOverview.png" alt="Fractions Learning Pathways Overview" class="img-rounded img-responsive margin-auto">
              </figure>
              <div class="caption">
                <h2>Fractions Learning Pathways Overview</h2>
                <p></p>
              </div>
            </div>
          </div>
          </a>

          <a href="/research/fracResearchFindings">
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <figure>
                <img src="/images/research/fractionsResearchFindings.png" alt="Fractions Research Findings" class="img-rounded img-responsive margin-auto">
              </figure>
              <div class="caption">
                <h2>Fractions Research Findings</h2>
                <p></p>
              </div>
            </div>
          </div>
          </a> -->

          <div class="margin-bottom-research">
            <h5>Fractions Research Overview <a href="/research/fracPathOverview">[video]</a> <a href="/pdf/transcripts/Fractions_Overview_Video_Transcript.pdf" target="_blank">[transcript]</a></h5>
            <p>This video shows the process of research used to develop the Fractions Learning Pathways and related resources.</p>
          </div>
          &nbsp;

          <!--<div>
            <h5>Fractions Learning Pathways Resource Tutorial <a href="/research/fracTutorial">[video]</a> <a href="/pdf/Fractions Learning Pathways Resource Tutorial_Transcript (3).pdf" target="_blank">[transcript]</a></h5>
            <p>The tutorial video explaining the Fraction Learning Pathways.</p>
          </div>-->

          <div class="margin-bottom-research">
            <h5>Fractions Research Findings <a href="/research/fracResearchFindings">[video]</a> <a href="/research/fracResearchFindings/#collapse1">[transcript]</a></h5>
            <p>This video shares how using the Fractions Learning Pathways tasks can increase student learning and close gaps for Junior and Intermediate students.</p>
          </div>
          &nbsp;

          <h4 class="title-reserach">Ontario Fractions Research Summaries</h4>
          <div class="margin-bottom-research">
            <h5>Fraction Research Summary 2017 <a href="../pdf/FractionsResearchSummary_May2017_AODA.pdf" target="_blank">[pdf]</a> <a href="research/fracResearchSum2017">[html]</a></h5>
            <p>How was teacher professional learning part of the research? What are the key findings from teacher professional learning about fractions?</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Fractions Research Summary 2015 <a href="../pdf/Fractions_Research_Summary.pdf" target="_blank">[pdf]</a> <a href="/research/fracResearchSum2015">[html]</a></h5>
            <p>How was teacher professional learning part of the research? What are the key findings from teacher professional learning about fractions?</p>
          </div>
          &nbsp;

        </div>
      </div>
    </section>
<%- include partials/footer.ejs%>
