<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">All Research</li>
    </ol>


  <main class="container">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>All Research</h1>
      </div>
    </section>

    <section class="row">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="icons-tab" data-toggle="tab" href="#icons" role="tab" aria-controls="icons" aria-selected="false">Icons</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- First TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <h4>Ontario Fractions Research</h4>
          <div class="research-list-tab">
            <p>Fraction Research Summary 2017 <a href="../pdf/FractionsResearchSummary_May2017_AODA.pdf" target="_blank">[pdf]</a> <a href="research/fracResearchSum2017">[html]</a></p>
            <p>Fractions Research Summary 2015 <a href="../pdf/Fractions_Research_Summary.pdf" target="_blank">[pdf]</a> <a href="/research/fracResearchSum2015">[html]</a></p>
            <p>Fractions Research Overview <a href="/research/fracPathOverview">[video]</a> <a href="">[transcript]</a></p>
            <p>Fractions Research Findings <a href="/research/fracResearchFindings">[video]</a> <a href="/research/fracResearchFindings/#collapse1">[transcript]</a></p>
            <p>Fractions Research Top Ten Lessons <a href="/research/fracTenLess">[video]</a> <a href="">[transcript]</a></p>
          </div>
          
          <h4>Paying Attention to Fractions</h4>
          <div class="research-list-tab">
            <p>Paying Attention to Fractions <a href="../pdf/LNSAttentionFractions.pdf" target="_blank">[pdf]</a> <a href="/research/payAttention">[html]</a></p>
            <p>Actions to Develop Fractions Understanding <a href="../pdf/ActionstoDevelopUnderstandingFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/actFracUnd">[html]</a></p>
            <p>Intentional Tasks to Develop Fractions Thinking <a href="../pdf/IntentionalTaskstoDevelopFractionsThinking.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/tasksThinking">[html]</a></p>
            <p>Fractions across Strands and Grades: Sample Tasks <a href="../pdf/FractionsAcrossStrands.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/fracAcrossStrands">[html]</a></p>
            <p>Being Responsive to Student Thinking <a href="../pdf/BeingResponsivetoStudentThinking.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/respThink">[html]</a></p>
            <p>Paying Attention to Fractions Overview <a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/">[Adobe Presenter]</a></p>
          </div>
          
          <h4>Math Teaching for Learning Research Summaries</h4>
          <div class="research-list-tab">
            <p>Ways We Use Fractions <a href="/pdf/Fractions_WaysWeUseFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/waysWeUseFrac">[html]</a></p>
            <p>Developing Fraction Number Sense <a href="../pdf/Fractions_DevelopingNumberSense.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/devFracNumSense">[html]</a></p>
            <p>Purposeful Representations <a href="../pdf/purposefulRepresentations.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/purpRep">[html]</a></p>
            <p>Rectangles, Number Lines and Circles, Oh My! <a href="../pdf/T38CircleOnePager%20v11.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/RecNumLinesCircles">[html]</a></p>
            <p>Developing Proficiency with Partitioning, Iterating, and Disembedding  <a href="../pdf/Fractions_IteratingandPartitioning.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/devPartItDisembed">[html]</a></p>
            <p>Building Understanding of Unit Fractions <a href="../pdf/Fractions_UnitFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildUnitFrac">[html]</a></p>
            <p>Building Understanding of Equivalence <a href="../pdf/Fractions_Equivalence.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildEquiv">[html]</a></p>
            <p>Building to Addition and Subtraction of Fractions <a href="../pdf/Fractions_AdditionandSubtraction.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildAddSub">[html]</a></p>
          </div>
          
          <h4>Webcasts</h4>
          <div class="research-list-tab">
            <p><a href="http://thelearningexchange.ca/web_conferences/mathematics-web-conference-hosted-dr-cathy-bruce-teaching-fractions-whats-big-deal/" target="_blank">Teaching Fractions: What’s the Big Deal</a></p>
            <p><a href="http://thelearningexchange.ca/web_conferences/dr-cathy-bruce-and-shelley-yearley-focus-on-unit-fractions/" target="_blank">Teaching Fractions: Focusing on Unit Fractions</a></p>
          </div>
          
          <h4>Digital Paper</h4>
          <div class="research-list-tab">
            <p><a href="/digitalPaper/researchBackground">Professional Learning about Fractions: A Collaborative Action Research Project</a></p>
          </div>
          
          <h4>Literature Reviews</h4>
          <div class="research-list-tab">
            <p>Foundations to Learning and Teaching Fractions: Addition and Subtraction <a href="../pdf/FINALFoundationstoLearningandTeachingFractions.pdf" target="_blank">[pdf]</a> <a href="/litreviews/foundationsAddSub">[html]</a></p>
            <p>Fractions Operations: Multiplication and Division <a href="/pdf/Fractions_LitReview_MultDiv_2015.pdf" target="_blank">[pdf]</a> <a href="/litreviews/opMultDiv">[html]</a></p>
          </div>

        </div>
        <!-- Second TAB - ICONS -->
        <div class="tab-pane fade" id="icons" role="tabpanel" aria-labelledby="icons-tab">

          <a href="/digitalPaper">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/digitalPaper.png" alt="Digital Paper"  class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions: Representing, Ordering, Comparing</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracPathOverview">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsLearningPathwaysOverview.png" alt="Fractions Learning Pathways Overview" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Learning Pathways Overview</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchFindings">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsResearchFindings.png" alt="Fractions Research Findings" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Findings</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchSum2015">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsResearchSummary.png" alt="Fractions Research Summary November 2015" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Summary (November 2015)</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchSum2017">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/Fraction_Research_Summary_2017.png" alt="Fractions Research Summary May 2017" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Summary (May 2017)</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracTenLess">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsTopTenLessons.png" alt="Fractions Top Ten Lessons" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Top Ten Lessons</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/payAttentionOverview">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/payingAttentionToFractions.png" alt="Paying Attention to Fractions" cclass="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Paying Attention to Fractions</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/supportDocs/supportDocs">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/documentBriefs.png" alt="Document Briefs" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Math Teaching for Learning Research Summaries</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/litreviews/litreviews">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/litReview2.png" alt="Literature Reviews" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Literature Reviews</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>  
    </section>
<%- include partials/footer.ejs%>
