<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">All Research</li>
    </ol>


  <main class="container">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>All Research</h1>
      </div>
    </section>

    <section class="row">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="icons-tab" data-toggle="tab" href="#icons" role="tab" aria-controls="icons" aria-selected="false">Icons</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- First TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <h4 class="title-reserach">Ontario Fractions Research</h4>
          <div class="research-list-tab">
            <div>
              <h5>Fraction Research Summary 2017
              <a href="../pdf/FractionsResearchSummary_May2017_AODA.pdf" target="_blank">[pdf]</a>
              <a href="research/fracResearchSum2017">[html]</a></h5>
              <p>How was teacher professional learning part of the research? <br> What are the key findings from teacher professional learning about fractions?</p>
            </div>
            <div>
              <h5>Fractions Research Summary 2015 <a href="../pdf/Fractions_Research_Summary.pdf" target="_blank">[pdf]</a> <a href="/research/fracResearchSum2015">[html]</a></h5>
              <p>How was teacher professional learning part of the research? What are the key findings from teacher professional learning about fractions?</p>
            </div>
            <div>
              <h5>Fractions Research Overview <a href="/research/fracPathOverview">[video]</a> <a href="/pdf/transcripts/Fractions_Overview_Video_Transcript.pdf" target="_blank">[transcript]</a></h5>
              <p>This video shows the process of research used to develop the Fractions Learning Pathways and related resources.</p>
            </div>
            <div>
              <h5>Fractions Research Findings <a href="/research/fracResearchFindings">[video]</a> <a href="/research/fracResearchFindings/#collapse1">[transcript]</a></h5>
              <p>This video shares how using the Fractions Learning Pathways tasks can increase student learning and close gaps for Junior and Intermediate students.</p>
            </div>
            <div>
              <h5>Fractions Research Top Ten Lessons <a href="/research/fracTenLess">[video]</a> <a href="/pdf/transcripts/FacilitatorGuide_Part_3_Top_10_Lessons_Transcript.pdf" target="_blank">[transcript]</a></h5>
              <p>In this video Dr. Cathy Bruce and Shelley Yearley share ten key learnings from the research.</p>
            </div>
            <div>
                <h5>Fractions Learning Pathways Resource Tutorial <a href="/research/fracTutorial">[video]</a> <a href="/pdf/Fractions Learning Pathways Resource Tutorial_Transcript (3).pdf" target="_blank">[transcript]</a></h5>
                <p>The tutorial video explaining the Fraction Learning Pathways.</p>
              </div>
          </div>

          <h4 class="title-reserach">Paying Attention to Fractions</h4>
          <div class="research-list-tab">
            <div>
              <h5>Paying Attention to Fractions <a href="../pdf/LNSAttentionFractions.pdf" target="_blank">[pdf]</a> <a href="/research/payAttention">[html]</a></h5>
              <p>This document focuses on the mathematical content area of fractions.  Key findings from Ontario research are used throughout the document to connect the learning and teaching of fractions from K to 12.</p>
            </div>
            <div class="margin-bottom-research">
              <h5>Actions to Develop Fractions Understanding <a href="../pdf/ActionstoDevelopUnderstandingFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/actFracUnd">[html]</a></h5>
              <p>The seven mathematics processes – problem solving, reasoning and proving, reflecting, selecting tools and computational strategies, connecting, representing, and communicating – are integral to meaningful learning of fractions.</p>
            </div>
            <div class="margin-bottom-research">
              <h5>Intentional Tasks to Develop Fractions Thinking <a href="../pdf/IntentionalTaskstoDevelopFractionsThinking.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/tasksThinking">[html]</a></h5>
                <p>Current research in Ontario classrooms is revealing the rich learning opportunities afforded through the
                use of thoughtfully selected tasks. </p>
            </div>
            <div class="margin-bottom-research">
              <h5>Fractions across Strands and Grades: Sample Tasks <a href="../pdf/FractionsAcrossStrands.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/fracAcrossStrands">[html]</a></h5>
              <p>The following chart highlights a sample of mathematics tasks that involve fractions across the strands and grades.</p>
            </div>
            <div class="margin-bottom-research">
              <h5>Being Responsive to Student Thinking <a href="../pdf/BeingResponsivetoStudentThinking.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/respThink">[html]</a></h5>
              <p>When educators work with a partner or in small groups to examine and annotate student work,it allows for student thinking to be unpacked – their understandings, strategies and transitionalconceptions</p>
            </div>
            <div>
              <h5>Paying Attention to Fractions Overview <a href="http://www.edugains.ca/resourcesMath/VideoLibrary/AdobePresenter/AP_PAT_Fractions/">[Adobe Presenter]</a></h5>
              <p>This Adobe Presenter highlights and animates key parts of the Paying Attention to Fractions document.</p>
            </div>
          </div>

          <h4 class="title-reserach">Math Teaching for Learning Research Summaries</h4>
          <div class="research-list-tab">
            <div class="margin-bottom-research">
              <h5>Ways We Use Fractions <a href="/pdf/Fractions_WaysWeUseFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/waysWeUseFrac">[html]</a></h5>
              <p>A fraction is a number, which can tell us about the relationship between two quantities. These two quantities
                provide information about the parts, the units we are considering and the whole.<p>
            </div>
            <div class="margin-bottom-research">
              <h5>Developing Fraction Number Sense <a href="../pdf/Fractions_DevelopingNumberSense.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/devFracNumSense">[html]</a></h5>
              <p>Students who have a strong understanding of fraction as number are better equipped to work with fraction operations.</p>
            </div>
            <div class="margin-bottom-research">
              <h5>Purposeful Representations <a href="../pdf/purposefulRepresentations.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/purpRep">[html]</a></h5>
              <p>The effectiveness of the consistent use of representations is supported by the findings of researchers Pirie and Kieran (1994), who found that students hold on to the representations they are initially exosed to as the grounding for their conceptual understanding.</p>
            </div>
            <div class="margin-bottom-research">
              <h5>Rectangles, Number Lines and Circles, Oh My! <a href="../pdf/T38CircleOnePager%20v11.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/RecNumLinesCircles">[html]</a></h5>
              <p>Circles are difficult for students to partition accurately, especially with large or odd numbers of partitions. As a result, students may focus more on the number of partitions and less on their equivalency.</p>
            </div>
            <div class="margin-bottom-research">
              <h5>Developing Proficiency with Partitioning, Iterating, and Disembedding  <a href="../pdf/Fractions_IteratingandPartitioning.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/devPartItDisembed">[html]</a></h5>
              <p>When students perform the action of aligning, copying or combining equal units to verify a fraction, they are
                iterating. </p>
            </div>
            <div class="margin-bottom-research">
              <h5>Building Understanding of Unit Fractions <a href="../pdf/Fractions_UnitFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildUnitFrac">[html]</a></h5>
              <p>When students add two whole numbers, the common unit – one whole number – is implicit. That is to say,students would not likely define ‘5’ as ‘5 whole number units of 1’ even though this is true.</p>
            </div>
            <div class="margin-bottom-research">
              <h5>Building Understanding of Equivalence <a href="../pdf/Fractions_Equivalence.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildEquiv">[html]</a></h5>
              <p>Equivalence is a foundational concept which students explore throughout elementary and secondary mathematics
                learning. </p>
            </div>
            <div>
              <h5>Building to Addition and Subtraction of Fractions <a href="../pdf/Fractions_AdditionandSubtraction.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildAddSub">[html]</a></h5>
              <p>A thorough examination of the research highlights a development of instruction to support student understanding
                of fractions addition and subtraction from primary through to intermediate grades</p>
            </div>
          </div>

          <h4 class="title-reserach">Webcasts</h4>
          <div class="research-list-tab">
            <div>
              <h5><a href="http://thelearningexchange.ca/web_conferences/mathematics-web-conference-hosted-dr-cathy-bruce-teaching-fractions-whats-big-deal/" target="_blank">Teaching Fractions: What’s the Big Deal</a></h5>
              <p>Recorded web conference hosted by Dr. Cathy Bruce focusing on the foundations of fraction understanding. November 2014.</p>
            </div>
            <div>
              <h5><a href="http://thelearningexchange.ca/web_conferences/dr-cathy-bruce-and-shelley-yearley-focus-on-unit-fractions/" target="_blank">Teaching Fractions: Focusing on Unit Fractions</a></h5>
              <p>Recorded web conference hosted by Dr. Cathy Bruce and Shelley Yearley focusing on the importance of unit fractions and it’s foundation for operating with fractions. February 2016.</p>
            </div>
          </div>

          <h4 class="title-reserach">Digital Paper</h4>
          <div class="research-list-tab">
            <div>
              <h5><a href="/digitalPaper/researchBackground">Professional Learning about Fractions: A Collaborative Action Research Project</a></h5>
              <p>This digital research paper shares the learning journey of the collaborative action research project.  It identifies effective practices and includes brief research summaries, classroom ready-lessons and videos.</p>
            </div>
          </div>

          <h4 class="title-reserach">Literature Reviews</h4>
          <div class="research-list-tab">
            <div class="margin-bottom-research">
              <h5>Foundations to Learning and Teaching Fractions: Addition and Subtraction <a href="../pdf/FINALFoundationstoLearningandTeachingFractions.pdf" target="_blank">[pdf]</a> <a href="/litreviews/foundationsAddSub">[html]</a></h5>
              <p>Prior to engaging in collaborative action research with teacher teams and students in Ontario classrooms, this literature review was undertaken to provide a synthesis of existing knowledge from the field of educational research focused on the learning and teaching of fractions.</p>
            </div>
            <div>
              <h5>Fractions Operations: Multiplication and Division <a href="/pdf/Fractions_LitReview_MultDiv_2015.pdf" target="_blank">[pdf]</a> <a href="/litreviews/opMultDiv">[html]</a></h5>
              <p>The following literature review discusses current and seminal research on fractions operations, specifically fractions multiplication and division.</p>
            </div>
          </div>

        </div>
        <!-- Second TAB - ICONS -->
        <div class="tab-pane fade" id="icons" role="tabpanel" aria-labelledby="icons-tab">

          <a href="/digitalPaper">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/digitalPaper.png" alt="Digital Paper"  class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions: Representing, Ordering, Comparing</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracPathOverview">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsLearningPathwaysOverview.png" alt="Fractions Learning Pathways Overview" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Learning Pathways Overview</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchFindings">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsResearchFindings.png" alt="Fractions Research Findings" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Findings</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchSum2015">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsResearchSummary.png" alt="Fractions Research Summary November 2015" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Summary (November 2015)</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchSum2017">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/Fraction_Research_Summary_2017.png" alt="Fractions Research Summary May 2017" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Summary (May 2017)</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracTenLess">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsTopTenLessons.png" alt="Fractions Top Ten Lessons" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Top Ten Lessons</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracTutorial">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsTopTenLessons.png" alt="Fractions Learning Pathways Resource Tool" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Top Ten Lessons</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/payAttentionOverview">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/payingAttentionToFractions.png" alt="Paying Attention to Fractions" cclass="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Paying Attention to Fractions</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/supportDocs/supportDocs">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/documentBriefs.png" alt="Document Briefs" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Math Teaching for Learning Research Summaries</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/litreviews/litreviews">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/litReview2.png" alt="Literature Reviews" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Literature Reviews</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </section>
<%- include partials/footer.ejs%>
