<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">All Research</li>
    </ol>


  <main class="container">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>All Research</h1>
      </div>
    </section>

    <section class="row">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="math-tab" data-toggle="tab" href="#math" role="tab" aria-controls="math" aria-selected="false">Math Knowledge for Teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="professional-tab" data-toggle="tab" href="#professional" role="tab" aria-controls="professional" aria-selected="false">Professional Learning</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="research-tab" data-toggle="tab" href="#research" role="tab" aria-controls="research" aria-selected="false">Research Project Findings</a>
          </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- First TAB - MATH -->
        <div class="tab-pane fade in active" id="math" role="tabpanel" aria-labelledby="math-tab">

          <p>Three literature reviews were completed during the course of the research project. A number of brief research summaries were developed from these literature reviews to allow educators to identify key instructional decisions known to improve student learning. They include suggestions for precise classroom instruction.</p>
          <h4 class="title-research"><a href="/litreviews/litReviews">Literature Reviews</a></h4>
          <!--<p><a href="/rationalNumberTeaching">Rational Number Teaching and Learning</a></p>-->
          <div class="margin-bottom-research">
            <h5>Foundations to Learning and Teaching Fractions: Addition and Subtraction <a href="../pdf/FINALFoundationstoLearningandTeachingFractions.pdf" target="_blank">[pdf]</a> <a href="/litreviews/foundationsAddSub">[html]</a></h5>
            <p>Prior to engaging in collaborative action research with teacher teams and students in Ontario classrooms, this literature review was undertaken to provide a synthesis of existing knowledge from the field of educational research focused on the learning and teaching of fractions.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Fractions Operations: Multiplication and Division <a href="/pdf/Fractions_LitReview_MultDiv_2015.pdf" target="_blank">[pdf]</a> <a href="/litreviews/opMultDiv">[html]</a></h5>
            <p>The following literature review discusses current and seminal research on fractions operations, specifically fractions multiplication and division.</p>
          </div>
          &nbsp;

          <h4 class="title-reserach">Math Teaching for Learning Research Summaries</h4>
          <div class="margin-bottom-research">
            <h5>Ways We Use Fractions <a href="/pdf/Fractions_WaysWeUseFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/waysWeUseFrac">[html]</a></h5>
            <p>A fraction is a number, which can tell us about the relationship between two quantities. These two quantities provide information about the parts, the units we are considering and the whole.<p>
          </div>
          <div class="margin-bottom-research">
            <h5>Developing Fraction Number Sense <a href="../pdf/Fractions_DevelopingNumberSense.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/devFracNumSense">[html]</a></h5>
            <p>Students who have a strong understanding of fraction as number are better equipped to work with fraction operations.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Purposeful Representations <a href="../pdf/purposefulRepresentations.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/purpRep">[html]</a></h5>
            <p>The effectiveness of the consistent use of representations is supported by the findings of researchers Pirie and Kieran (1994), who found that students hold on to the representations they are initially exosed to as the grounding for their conceptual understanding.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Rectangles, Number Lines and Circles, Oh My! <a href="../pdf/T38CircleOnePager%20v11.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/RecNumLinesCircles">[html]</a></h5>
            <p>Circles are difficult for students to partition accurately, especially with large or odd numbers of partitions. As a result, students may focus more on the number of partitions and less on their equivalency.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Developing Proficiency with Partitioning, Iterating, and Disembedding  <a href="../pdf/Fractions_IteratingandPartitioning.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/devPartItDisembed">[html]</a></h5>
            <p>When students perform the action of aligning, copying or combining equal units to verify a fraction, they are iterating.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Building Understanding of Unit Fractions <a href="../pdf/Fractions_UnitFractions.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildUnitFrac">[html]</a></h5>
            <p>When students add two whole numbers, the common unit – one whole number – is implicit. That is to say,students would not likely define ‘5’ as ‘5 whole number units of 1’ even though this is true.</p>
          </div>
          <div class="margin-bottom-research">
            <h5>Building Understanding of Equivalence <a href="../pdf/Fractions_Equivalence.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildEquiv">[html]</a></h5>
            <p>Equivalence is a foundational concept which students explore throughout elementary and secondary mathematics learning.</p>
          </div>
          <div>
            <h5>Building to Addition and Subtraction of Fractions <a href="../pdf/Fractions_AdditionandSubtraction.pdf" target="_blank">[pdf]</a> <a href="/supportDocs/buildAddSub">[html]</a></h5>
            <p>A thorough examination of the research highlights a development of instruction to support student understanding of fractions addition and subtraction from primary through to intermediate grades.</p>
          </div>

        </div>
        <!-- Second TAB - PROFESSIONAL -->
        <div class="tab-pane fade" id="professional" role="tabpanel" aria-labelledby="professional-tab">

          <p>
              A major component of the research project was knowledge mobilization of the key
              findings of fractions teaching and learning. A number of resources are available in order
              to allow all educators access to a range of professional learning supports.
              &lt;&lt;Paying Attention to Fractions and related resources as listed on<br/>
              https://fractions2017.herokuapp.com/research and<br/>
              https://fractions2017.herokuapp.com/research/payAttentionOverview &gt;&gt;<br/><br/>

              &lt;&lt;Top Ten Lessons video as listed on https://fractions2017.herokuapp.com/research;<br/>
              link is https://fractions2017.herokuapp.com/research/fracTenLess &gt;&gt;<br/>
              &lt;&lt;2 Webcasts as listed on https://fractions2017.herokuapp.com/research&gt;&gt;<br/><br/>

              Unit Fractions Virtual Learning Session<br/>
              Based on Paying Attention to Fractions and related research, this Adobe Connect<br/>
              session will explore the role that unit fractions play in developing a solid fraction number<br/>
              sense across K-12 learning.<br/>
              In this session you will have opportunities to:<br/><br/>

               understand what a unit fraction is and how this changes the way we think about fractions;<br/>
               examine how unit fractions can support learning across number systems and algebraic contexts;<br/>
               develop deeper understanding of fraction as a number by engaging in the actions of partitioning, iterating and disembedding.
              https://sites.google.com/view/unitfractionssession<br/><br/>

              Comparing Fractions Virtual Learning Session<br/>
              Through a variety of classroom ready activities participants will gain a deeper<br/>
              understanding of purposeful selection of representations, foundations of equivalency<br/>
              and comparing fractions. Using both participant and student thinking, discussion will<br/>
              highlight mathematical thinking and anticipated responses.<br/>
              https://sites.google.com/view/comparing-fractions<br/><br/>

              Addition and Subtraction with Fractions Virtual Learning Session<br/>
              Through a variety of classroom ready activities participants will gain a deeper<br/>
              understanding of purposeful selection of representations, as well as foundations of<br/>
              addition and subtraction of fractions. Using both participant and student thinking,<br/>
              discussion will highlight mathematical thinking and anticipated responses. As well, the<br/>
              role of fraction number sense and connections to prior learning of operations will be<br/>
              explored.<br/>
              https://sites.google.com/view/additionandsubtractionwithfrac<br/><br/>

              Multiplication and Division with Fractions Virtual Learning Session<br/>
              Multiplication and division of fractions is frequently taught solely based upon the<br/>
              algorithms. This strategy obscures the mathematics, particularly in the case of division<br/>
              where multiplication is used. Research in Ontario classrooms has uncovered the<br/>
              importance of purposeful representations for fractions instruction, especially in the<br/>
              learning of multiplication and division of fractions. This session will explore these<br/>
              learnings through classroom ready tasks.<br/>
              https://sites.google.com/view/multiplication-and-division-wi<br/>
              &lt;&lt;digital paper as listed on https://fractions2017.herokuapp.com/research&gt;&gt;
          </p>
          <script>
            /* second tab saved
          <a href="/digitalPaper">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/digitalPaper.png" alt="Digital Paper"  class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions: Representing, Ordering, Comparing</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracPathOverview">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsLearningPathwaysOverview.png" alt="Fractions Learning Pathways Overview" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Learning Pathways Overview</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchFindings">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsResearchFindings.png" alt="Fractions Research Findings" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Findings</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchSum2015">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsResearchSummary.png" alt="Fractions Research Summary November 2015" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Summary (November 2015)</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracResearchSum2017">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/Fraction_Research_Summary_2017.png" alt="Fractions Research Summary May 2017" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Research Summary (May 2017)</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracTenLess">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsTopTenLessons.png" alt="Fractions Top Ten Lessons" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Top Ten Lessons</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/fracTutorial">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/fractionsTopTenLessons.png" alt="Fractions Learning Pathways Resource Tool" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Fractions Top Ten Lessons</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/research/payAttentionOverview">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/payingAttentionToFractions.png" alt="Paying Attention to Fractions" cclass="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Paying Attention to Fractions</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/supportDocs/supportDocs">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/documentBriefs.png" alt="Document Briefs" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Math Teaching for Learning Research Summaries</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          <a href="/litreviews/litreviews">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <figure>
                  <img src="/images/research/litReview2.png" alt="Literature Reviews" class="img-rounded img-responsive margin-auto">
                </figure>
                <div class="caption">
                  <h2>Literature Reviews</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </a>
          */
          </script>

        </div>
        <!-- Third TAB - RESEARCH -->
        <div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">

          <p>
              Over six years of research a range of qualitative and quantitative data was collected<br/>
              about fractions learning and teaching and professional learning. This data is shared in a<br/>
              variety of documents and videos. The two videos included detail the history of the<br/>
              development of the Fractions Learning Pathways and the research findings.<br/><br/>

              &lt;&lt;Fractions Learning Pathways Research Overview video as listed on<br/>
              https://fractions2017.herokuapp.com/research, link is<br/>
              https://fractions2017.herokuapp.com/research/fracPathOverview&gt;&gt;<br/>
              &lt;&lt;Fractions Research Findings video as listed on<br/>
              https://fractions2017.herokuapp.com/research, link is<br/>
              https://fractions2017.herokuapp.com/research/fracResearchFindings&gt;&gt;<br/>
              &lt;&lt;key conditions document – to come&gt;&gt;<br/>
              &lt;&lt;3 research summaries, 2013 (this is the one that is not currently on EduGAINS, to<br/>
              come), 2015, 2017 as listed on https://fractions2017.herokuapp.com/research&gt;&gt;<br/><br/>

              **add overview of FLP video to FLP page (to come)
          </p>

          </div>
      </div>
    </section>
<%- include partials/footer.ejs%>
