<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/research">All Research</a></li>
    </ol>


  <main class="container">

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>All Research</h1>
      </div>
    </section>

    <section class="row">
      <a href="/digitalPaper">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/digitalPaper.png" alt="Digital Paper"  class="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Fractions: Representing, Ordering, Comparing</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
      <a href="/research/fracPathOverview">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/research/fractionsLearningPathwaysOverview.png" alt="Fractions Learning Pathways Overview" class="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Fractions Learning Pathways Overview</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
      <a href="/research/fracResearchFindings">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/research/fractionsResearchFindings.png" alt="Fractions Research Findings" class="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Fractions Research Findings</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
      <a href="/research/fracResearchSum2015">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/research/fractionsResearchSummary.png" alt="Fractions Research Summary November 2015" class="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Fractions Research Summary (November 2015)</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
      <a href="/research/fracResearchSum2017">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/research/Fraction_Research_Summary_2017.png" alt="Fractions Research Summary May 2017" class="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Fractions Research Summary (May 2017)</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
      <a href="/research/fracTenLess">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/research/fractionsTopTenLessons.png" alt="Fractions Top Ten Lessons" class="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Fractions Top Ten Lessons</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
      <a href="/research/payAttentionOverview">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/research/payingAttentionToFractions.png" alt="Paying Attention to Fractions" cclass="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Paying Attention to Fractions</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
      <a href="/supportDocs/supportDocs">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/research/documentBriefs.png" alt="Document Briefs" class="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Document Briefs</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
      <a href="/litreviews/litreviews">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <figure>
              <img src="/images/research/litReview2.png" alt="Literature Reviews" class="img-rounded img-responsive margin-auto">
            </figure>
            <div class="caption">
              <h2>Literature Reviews</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>
  </section>
<%- include partials/footer.ejs%>
