<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
   <li class="breadcrumb-item"><a href="/">Home</a></li>
   <li class="breadcrumb-item"><a href="/research">All Research</a></li>
   <li class="breadcrumb-item"><a href="/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
   <li class="breadcrumb-item active">Research Background</li>
</ol>

<main class="container pdf-page">

      <section class="row padding-bottom gen-pdf-container">
            <div class="gen-pdf">
                  <a href="/pdf/PROFESSIONAL_LEARNING_ABOUT_FRACTIONS-A_COLLABORATIVE_ACTION_RESEARCH_PROJECT.pdf" target="_blank">Download PDF</a>
            </div>
      </section>

      <section class="row padding-bottom">
            <div class="col-sm-10 col-md-10 no-padding">
                  <h1>Professional Learning About Fractions: A Collaborative Action Research Project</h1>
            </div>
            <div class="col-sm-2 col-md-2 no-padding">
                  <figure>
                        <img src="/images/KNAER_logo.png" alt="KNAER logo" class="img-responsive">
                  </figure>
            </div>
      </section>

      <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
            <figure>
                  <!-- <img src="/images/digitalPaper-small.jpg" alt="Digital Paper" class="img-responsive margin-auto" /> -->
                  <img src="/images/digitalPaper.png" id="map-image" style="width: 490px; max-width: 100%; height: auto;" alt="Digital Map" usemap="#map" />
                  <map name="map">
                  <!-- Student Learning -->
                  <area shape="poly" coords="109, 125, 194, 132, 192, 252, 316, 250, 315, 390, 113, 388" href="studentLearn" alt="Student Learning"/>
                  <!-- Instructional Decisions -->
                  <area shape="poly" coords="315, 248, 452, 249, 451, 49, 186, 50, 191, 129, 315, 125" href="instrDec" alt="Instructional Decisions"/>
                  <!-- Fractions Representing Comparing Ordering -->
                  <area shape="poly" coords="191, 128, 192, 250, 314, 250, 313, 126" href="fracRepCompOrder" alt="Fractions Representing Comparing Ordering"/>
                  <!-- Teacher Professional Learning -->
                  <area shape="poly" coords="9, 202, 7, 5, 265, 6, 266, 51, 189, 50, 190, 129, 111, 128, 112, 204" href="teachProLearn" alt=""/>
                  </map>
                  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                  <script src="imageMapResizer.min.js"></script>
                  <script>$(document).ready(function(e){$("map").imageMapResize();});</script>
                  <p style="margin-left: 20px;">
                        <a href="/research">Resources</a>
                        <ul>
                              <li style="margin-bottom: 0px;">Research and Supports</li>
                              <li style="margin-bottom: 0px;">Lessons</li>
                              <li style="margin-bottom: 0px;">Transcripts</li>
                        </ul>
                  </p>
            </figure>
      </section>

      <section class="row">
            <p>&nbsp;In 2011-2012, the Ontario Ministry of Education Curriculum and Assessment Policy Branch received a grant from Knowledge Network for Applied Education Research (KNAER) to build and extend understanding of effective teaching and learning of fractions.</p>
            <p>This digital research paper documents the learning journey, lessons learned along the way and identifies effective practices that will inform the thinking and development of future resources. The digital paper includes brief research summaries, lessons and videos.</p>

            <h4>Collaborative Action Research in Ontario Classrooms</h4>
            <p>Following a review of research literature and development of documents that supported teachers with linking this research to their practice more easily, the <a href="http://www.tmerc.ca/digitalpapers/">collaborative action research project</a> began in three school boards. The three school boards were selected based on readiness factors which included thoughtful and precise long-term professional learning plans focused on mathematics, strong board-level mathematics leadership, and meaningful connections with existing professional learning opportunities. Classroom teachers from Kawartha Pine Ridge DSB, Ottawa Carleton DSB, and Simcoe County DSB met within their board to explore the teaching and learning of fractions in grades 4 through 7 as well as to deepen their own understanding of fractions. These teachers were supported by knowledgeable others in various ways, including the engagement of school administration in one board and collaboration with the Trent University Research team (comprised of Dr. Catherine Bruce, Tara Flynn and Rich McPherson) in another. In addition, a project lead supported the school board leads with the planning and facilitation of the learning sessions as well as with videotaping and organization of developed materials and artefacts. The participants represented a wide range of experience (from first year teachers to teachers with over 20 years of experience, as well as special education, French Immersion, and instructional and division leads) in a variety of contexts (rural and urban schools, stable student populations, highly transient student populations, range of socio-economic factors, English Language Learners, high proportions of students with special needs).</p>
            <p>The educators involved were each able to build and expand upon their understanding of how students learn and what strategies support the development of a robust knowledge of fractions. They also were able to refine their own knowledge for teaching fractions, a critical factor for student success.</p>
            <p>By working with teachers in small teams and fostering collaboration with coaches, artefact developers and university researchers, the project objectives are as follows:</p>
            <ul>
                  <li>Inquire into effective and interacting learning and instructional trajectories in fractions for junior students and teachers at a broad range of readiness stages;</li>
                  <li>Develop and test learning and instructional trajectories with students and teachers in various classroom contexts;</li>
                  <li>Share trajectories and planning frameworks with educators in a variety of ways.</li>
            </ul>
      </section>
      <section class="row">
            <h4>Research Background</h4>
            <blockquote class="blockquote">The mathematics education literature is resounding in its findings that understanding fractions is a challenging area of mathematics for North American students to grasp (National Assessment of Educational Progress, 2005). Students also seem to have difficulty retaining fractions concepts (Groff, 1996). Adults continue to struggle with fractions concepts (Lipkus, Samsa, & Rimer, 2001; Reyna & Brainerd, 2007) even when fractions are important to daily work related tasks. For example, "pediatricians, nurses, and pharmacists…were tested for errors resulting from the calculation of drug doses for neonatal intensive care infants… Of the calculation errors identified, 38.5% of pediatricians' errors, 56% of nurses' errors, and 1% of pharmacists' errors would have resulted in administration of 10 times the prescribed dose."(Grillo, Latif, & Stolte, 2001, p.168). <footer>(Bruce & Ross, 2009)</footer></blockquote>
            <p>Fractions is a difficult-to-learn concept, as documented in case studies of middle school children (Armstrong and Larson, 1995; Kamii and Clark, 1995). The College Math Project identified fractions as an area requiring further attention in order to better prepare students for post-secondary success (2011). While development of collective capacity [which involves the development of collaborative cultures and professional learning communities supported by instructional leadership at the administrative level; (Fullan, 2010)] has resulted in significant recent gains in Grade 9 EQAO mathematics scores, Grade 6 scores have not improved.</p>
            <p>Fractions are difficult to learn because they require deep conceptual knowledge of part-whole relationships (how much of an object or set is represented by the fraction symbol), measurement (fractions are made up of numbers that can be ordered on a number line) and ratios (Hecht, 2003; Moss & Case, 1999). A representative national US sample found that only one third of 13-year-old students were able to correctly place a simple fraction on a number line, a learning objective for 11-year-olds (Kamii and Clark, 1995). Manipulating fractions is particularly difficult when embedded in word problems. Boaler (1993) found that 12 to 13-year-old students in a school with a traditional math curriculum had difficulty in recognizing the math when simple tasks requiring the comparison of fractions were presented in a context-laden form. Students in a school committed to teaching for deep understanding were more likely to find context enabling, although the overall performance in both schools was poor.</p>
            <p>Findings from previous research projects carried out by Dr. Catherine Bruce provide a strong basis for inquiry into this topic (Bruce & Flynn, 2011; Bruce & Ross, 2009; Ross & Bruce, 2009). Ontario teachers have repeatedly identified a lack of resources and professional learning to support high quality differentiation in mathematics (Gap Closing: Grade 6 Number Sense, 2010; Curriculum Implementation in Intermediate Mathematics, 2007).</p>
      </section>

<%- include partials/footer.ejs%>