<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-item"><a href="/digitalPaper/resources">Resources</a></li>
  <li class="breadcrumb-item active">Resource List</li>
</ol>

<main class="container pdf-page padding-bottom">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/ReferencesforFractionResources_2011-12_v1.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row padding-bottom">
    <h1>References</h1>
  </section>

  <section class="row">
    <div class="hangingindent">
      Amato, S. (2005). <em>Developing students’ understanding of the concept of fractions as number.</em> Paper presented
      at the 29th Conference of the International Group for the Psychology of Mathematics Education,
      Melbourne, Australia. Retrieved September 4, 2011 from
      <a href="http://www.emis.de/proceedings/PME29/PME29CompleteProc/PME29Vol2Adl_Fre.pdf" target="_blank" rel="noopener">http://www.emis.de/proceedings/PME29/PME29CompleteProc/PME29Vol2Adl_Fre.pdf</a>.
    </div>

    <div class="hangingindent">
      Anderson, J. & Wong, M. (200?). Teaching common fractions in primary school: Teachers’ reaction to a new
      curriculum. Retrieved September 7, 2011 from <a href="www.aare.edu.au/06pap/and06181.pdf" target="_blank" rel="noopener">www.aare.edu.au/06pap/and06181.pdf</a>
    </div>

    <div class="hangingindent">
      Bezuk, N., & Cramer, K. (1989). Teaching about fractions: What, when, and how? In P. Trafton (Ed.), <em>National
        Council of Mathematics 1989 Yearbook: New Directions for elementary school mathematics</em> (pp. 156-
      167). Reston, VA: NCTM.
    </div>

    <div class="hangingindent">
      Bruce, C. & Flynn, T. (accepted). Which is greater: One half or two fourths? An examination of how two Grade
      1 students negotiate meaning. <em>Canadian Journal for Studies in Science, Mathematics and Technology
        Education.</em>
    </div>

    <div class="hangingindent">
      Bruce, C., & Ross, J. (2006). Conditions for effective use of interactive on-line objects: The case of a fractions
      computer-based learning sequence. <em>The Electronic Journal of Mathematics and Technology, 3</em>(1).
    </div>

    <div class="hangingindent">
      Charalambous, C. & Pitta-Pantazi, D. (2005). <em>Revisiting a theoretical model on fractions: Implications for
        teaching and research.</em> Paper presented at the 29th Conference of the International Group for the
      Psychology of Mathematics Education, Melbourne, Australia. Retrieved September 4, 2011 from
      <a href="http://www.emis.de/proceedings/PME29/PME29CompleteProc/PME29Vol2Adl_Fre.pdf" target="_blank" rel="noopener">http://www.emis.de/proceedings/PME29/PME29CompleteProc/PME29Vol2Adl_Fre.pdf</a>.
    </div>

    <div class="hangingindent">
      Empson, S. & Levi, L. (2011). Extending children’s mathematics: Fractions and decimals: Innovations in
      cognitively guided instruction. Portsmouth, NH: Heinemann.
    </div>

    <div class="hangingindent">
      Fosnot, C. & Dolk, M. (2001). Young mathematicians at work: Sharing submarine sandwiches (facilitators
      guide). Portsmouth, NH: Heinemann.
    </div>

    <div class="hangingindent">
      Fosnot, C. & Dolk, M. (2002). Young mathematicians at work: Constructing fractions, decimals, and percents.
      Portsmouth, NH : Heinemann.
    </div>

    <div class="hangingindent">
      Fosnot, C. (2007). Field trips and fund raisers from contexts for learning mathematics: Introducing fractions.
      Portsmouth, NH: Heinemann.
    </div>

    <div class="hangingindent">
      Gould, P. & Outhred, L. (2006). One-Third is three-quarters of one-half. Retrieved September 9, 2011 from
      <a href="http://www.merga.net.au/documents/RP282006.pdf" target="_blank" rel="noopener">http://www.merga.net.au/documents/RP282006.pdf</a>.
    </div>

    <div class="hangingindent">
      Johanning, D. (2008). Learning to use fractions: Examining middle school students’ emerging fraction literacy.
      <em>Journal for Research in Mathematics Education, 39</em>(3), 281–310.
    </div>

    <div class="hangingindent">
      Kamii, C., & Warrington, M.A. (1999) Teaching fractions: fostering children’s own reasoning. In Stiff, L (Ed.),
      <em>Developing mathematical reasoning in grades K-12</em> (pp. 82-92). Reston, VA: National Council of
      Teachers of Mathematics.
    </div>

    <div class="hangingindent">
      Lamon, J. (1999).Teaching fractions and ratios for understanding: Essential content knowledge and
      instructional strategies for teachers. Mahwah, NJ: Lawrence Erlbaum Associates.
    </div>

    <div class="hangingindent">
      Meagher, M. (2002). Teaching fractions: New methods, new resources. ERIC Digest ED478711.
    </div>

    <div class="hangingindent">
      Moss, R. &. Case, J. (1999). Developing children's understanding of the rational numbers: A new model and an
      experimental curriculum. <em>Journal for Research in Mathematics Education, 30 (2)</em>, 122 – 147
    </div>

    <div class="hangingindent">
      Petit, M., Laird, R., & Marsden, E. (2010). A focus on fractions: Bringing research to the classroom. New
      York, NY: Routledge.
    </div>

    <div class="hangingindent">
      Saxe, G., Taylor, E., McIntosh, C., & Gearhart, M. (2005). Representing fractions with standard notation: A
      developmental analysis. <em>Journal for Research in Mathematics Education 36</em>(2), 137–157.
    </div>

    <div class="hangingindent">
      Siegler, R., Carpenter, T., Fennell, F., Geary, D., Lewis, J., Okamoto, Y., Thompson, L., & Wray, J. (2010).
      <em>Developing effective fractions instruction for kindergarten through 8th grade: A practice guide</em> (NCEE
      #2010-4039). Washington, DC: National Center for Education Evaluation and Regional Assistance,
      Institute of Education Sciences, U.S. Department of Education. Retrieved from whatworks.ed.gov/
      publications/practiceguides.
    </div>

    <div class="hangingindent">
      Small, M. (2001). Making math meaningful. Toronto, ON: Nelson Education Ltd.
    </div>

    <div class="hangingindent">
      Small, M. (2010). Grade 6 gap closing materials – number sense. Retrieved September 4, 2011 from
      <a href="http://www.edugains.ca/newsite/math2/gapclosing.html" target="_blank" rel="noopener">http://www.edugains.ca/newsite/math2/gapclosing.html</a>
    </div>

    <div class="hangingindent">
      Small, M. (2011). Proportional Reasoning. Presentation at EduGAINS Math CAMPPP 2011, Nottawasaga
      Resort and Conference Centre, Alliston, ON.
    </div>

    <div class="hangingindent">
      Smith, J.P. III. (2002). <em>Making Sense of Fraction, Ratios, and Proportions.</em> The Development of Students'
      Knowledge of Fractions and Ratios. Reston, VA: NCTM.
    </div>

    <div class="hangingindent">
      Van de Walle, J. (2001). Elementary and middle school mathematics: Teaching developmentally. USA:
      Addison Wesley Longman, Inc.
    </div>

    <div class="hangingindent">
      Watanabe, T. (2002). Representing in teaching and learning fractions. <em>Teaching Children Mathematics 8</em>(8),
      457-463.
    </div>
  </section>

</main>

<%- include partials/footer.ejs%>
