<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-item active">Research Background</li>
</ol>

<main class="container pdf-page">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12 no-padding">
      <h1>Resources</h1>
    </div>
    <div class="col-sm-2 col-md-2 col-md-offset-10 no-padding">
      <figure>
        <img src="/images/k-12_logo.png" alt="Mathematics K-12" class="img-responsive">
      </figure>
      <figure>
        <img src="/images/KNAER_logo.png" alt="KNAER logo" class="img-responsive">
      </figure>
    </div>
  </section>

  <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
    <figure>
      <!-- <img src="/images/digitalPaper-small.jpg" alt="Digital Paper" class="img-responsive margin-auto" /> -->
      <img src="/images/digitalPaper.png" id="map-image" style="width: 490px; max-width: 100%; height: auto;" alt="Digital Map" usemap="#map" />
      <map name="map">
        <!-- Student Learning -->
        <area shape="poly" coords="109, 125, 194, 132, 192, 252, 316, 250, 315, 390, 113, 388" href="studentLearn" alt="Student Learning" />
        <!-- Instructional Decisions -->
        <area shape="poly" coords="315, 248, 452, 249, 451, 49, 186, 50, 191, 129, 315, 125" href="instrDec" alt="Instructional Decisions" />
        <!-- Fractions Representing Comparing Ordering -->
        <area shape="poly" coords="191, 128, 192, 250, 314, 250, 313, 126" href="fracRepCompOrder" alt="Fractions Representing Comparing Ordering" />
        <!-- Teacher Professional Learning -->
        <area shape="poly" coords="9, 202, 7, 5, 265, 6, 266, 51, 189, 50, 190, 129, 111, 128, 112, 204" href="teachProLearn" alt="" />
      </map>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="imageMapResizer.min.js"></script>
      <script>
        $(document).ready(function(e) {
          $("map").imageMapResize();
        });
      </script>
    </figure>
  </section>

  <section class="row">
    <p><a href="/digitalPaper/waysWeUseFrac">Math for Teaching: Ways We Use Fractions</a><br /> This one-page teacher resource provides an at-a-glance overview of the multiple concepts that are represented with a fraction.</p>
    <p><a href="/digitalPaper/proLearnIntroFrac"> Results of Collaborative Action Research on Fractions (2011-2012)</a><br /> Knowledge Network on Applied Education Research (KNAER) Project This two page resource provides an at-a-glance overview of
      the goals, results, and implications of the fractions research project.</p>
    <p><a href="/pdf/ResourcePDFs/ProfessionalLearningIntroductiontoFractionsSession.pdf" target="_blank" onclick="_gaq.push(['_trackEvent','Download','PDF',this.href]);">Professional Learning Introduction to Fractions</a><br />Interested in
      supporting colleagues in deepening their understanding of fractions? See this session plan for ideas.</p>
    <p><a href="/pdf/ResourcePDFs/ReferencesforFractionResources_2011-12_v1.pdf" target="_blank" onclick="_gaq.push(['_trackEvent','Download','PDF',this.href]);">Resource List</a><br />All references used to create the resources included in the
      Professional Learning about Fractions are identified.</p>
    <h2>Planning Supports</h2>
    <p>These resources show the development of fractions learning in the Ontario Mathematics Curriculum.
      <br /><a href="/digitalPaper/currConn4_8"> Curriculum Connections Grades 4-8</a>
      <br /><a href="/digitalPaper/currConn_8">Curriculum Connections Grades K-8 - Letter</a>
      <br /><a href="/digitalPaper/currConn_8Tab">Curriculum Connections Grades K-8 - Tabloid</a>
      <br /><a href="/digitalPaper/connAcrossStrands"> Cross Strand Connections Grade 4</a></p>
    <p>Based in current research but designed to be easy for teachers to implement, these resources provide explicit instructional strategies to support improved student learning.
      <br /><a href="/digitalPaper/repFrac">Research Informed Instructional Decisions: Representing</a>
      <br /><a href="/diigtalPaper/compFrac">Research Informed Instructional Decisions: Comparing</a>
      <br /><a href="/digitalPaper/orderFrac">Research Informed Instructional Decisions: Ordering</a></p>

    <h2>Lessons</h2>
    <p>Students in the junior grades are learning about representing, comparing and ordering fractions. The teacher teams designed these lessons to evoke and expose student thinking.
      <br /><br /><strong>Single Lessons</strong>
      <br /><a href="/tasks/fracRep">Fractions Representation (Junior-Intermediate)</a>
      <br />This lesson allows students to share what they understand about fractions by representing 2/5 or 4/10.
      <br /><br /><a href="/tasks/compOrder">Comparing and Ordering Fractions (Grade 6)</a>
      <br />This lesson engages students in ordering fractions on a number line.
      <br /><br /><a href="/tasks/setAreaMod">Fractions Representations with Set and Area Models (Grade 6)</a>
      <br />In this lesson, students use a set of pattern blocks to generate fractions. This allows for discussion of the similarities and differences between set models and area models for part-whole relationships.<br />
      <br /><a href="/tasks/impSetRep">Improper Fractions with Set Representations (Grade 6)</a>
      <br />Based upon the Gap Closing resource, this lesson requires students to represent improper fractions using a set representation.
    </p>
    <p><strong>Lesson Bundles</strong><br />
      <a href="/tasks/rep">Representations (Junior)</a><br />Building upon the representation lesson using 2/5 and 4/10, this bundle of five lessons supports students in connecting their knowledge of fractions to ordering on the number line and
      being more purposeful in the selection of representations for given contexts.
      <br /><br /><a href="/tasks/setRep">Set Representations (Junior)</a><br />These five lessons use a variety of materials to build student understanding of representing fractions using sets.
      <br /><br /><a href="/tasks/equivFrac">Equivalence of Fractions (Junior-Intermediate)</a><br />This set of four lessons provides multiple learning opportunities for students to develop an understanding of equivalence through a variety of
      manipulatives and the number line.
      <br /><br /><a href="/tasks/orderNumLine">Ordering on a Number Line (Grade 7)</a><br />This set of four lessons supports students in connecting fractions, decimals and percentages by ordering them on a number line. This lesson could be
      utilized in earlier grades with simple modifications to the numbers provided to students.</p>
    <h2>Texts and Transcripts</h2>
    <p>Text of Digital Paper</p>
    <ul>
      <li><a href="/digitalPaper/introduction">Introduction</a></li>
      <li><a href="/digitalPaper/fractionsContent">Fractions (Content)</a></li>
      <li><a href="/digitalPaper/instrDec">Instructional Decisions</a></li>
      <li><a href="/digitalPaper/studentLearn">Student Learning</a></li>
      <li><a href="/digitalPaper/teachProLearn">Professional Learning</a></li>
    </ul>
    <p>Video Transcripts</p>
    <ul>
      <li><a href="/digitalPaper/fractionsContentVideoTranscript">Fractions (Content) Video</a></li>
      <li><a href="/digitalPaper/instructionalDecisionsVideoTranscript">Instructional Decisions Video</a></li>
      <li><a href="/digitalPaper/studentLearningVideoTranscript">Student Learning Video</a></li>
      <li><a href="/digitalPaper/proLearningVideoTranscript">Professional Learning Video</a></li>
    </ul>
    <h2>Research</h2>
    <p>
      <a href="/litreviews/rationalNumberTeaching">Rational Number Teaching and Learning</a>
      <br /><em> </em>
    </p>
    <br /><br />
    <p>
      <a href="/litreviews/foundationsAddSub">Foundations to Learning and Teaching Fractions: Addition and Subtraction</a>
      <br /><em>This comprehensive literature review provides a synthesis of the research to date about the teaching and learning of fractions from around the world and highlights areas of agreement as well as areas for further research.</em>
    </p>
    <br /><br />
    <p>
      <a href="/litreviews/opMultDiv">Fractions Operations: Multiplication and Division</a>
      <br /><em>The following literature review discusses current and seminal research on fractions operations, specifically fractions multiplication and division.</em>
    </p>

    </div>
    </div>
  </section>

  <%- include partials/footer.ejs%>
