<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./respThink">Being Responsive to Student Thinking</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
<h2 class="color-lil">Being Responsive to Student Thinking</h2>

<!--put well here-->
<div class="gen-pdf">
    <a href="/pdf/BeingResponsivetoStudentThinking.pdf" target="_blank">Download PDF</a>
</div>


<div class="purple-box">
<p>When educators work with a partner or in small groups to examine and annotate student work, it allows for student thinking
to be unpacked – their understandings, strategies and transitional conceptions. Here, student thinking from a Grade 3
classroom, a Grade 7/8 classroom and a Grade 9 classroom is shared for educators to use in their own professional learning,
individually or school-wide.</p>
</div>
<h3 class="color-lil">Grade 3</h3>
<p>In this Grade 3 classroom, students were given sets of pre-partitioned fraction pieces and asked to identify relationships
between the pieces. The following excerpts are transcripts of two students’ dialogue captured on video.</p>

<table class="tbl-col3 purp-gr-tbl">
<tr>
    <th>Visual</th>
    <th>Transcript</th>
    <th>Student Assets</th>
</tr>
<tr>
    <td><img src="/images/pdf-img/beingResp1.png" alt="" height="" width="" /></td>
    <td>
        <p>[S1 places the red whole over the blue eighths] </p>
        <p>S1: These are eighths. Because we put eight together so they are eighths. And it is the same size as the whole. </p>
        <p>T: You have made the connection that eight eighths is a whole. So can you make any other connections between the pieces?</p>
    </td>
    <td class="color-lil">The student had some understanding of the unit fraction language, such as half, fourth, third and eighth.</td>
</tr>
<tr>
    <td><img src="/images/pdf-img/beingResp2.png" alt="" height="" width="" />
    <img src="/images/pdf-img/beingResp3.png" alt="" height="" width="" /></td>
    <td>
        <p>S2: Oh yeah – this piece. [motions to a yellow fourth]</p>
        <p>T: OK. What is that called? </p>
        <p>S2: It is called a fourth. So, it won’t really take as long to go together. [motions to a piece off screen] This piece would take the longest. [motions to the eighths] Well, actually this piece would take the longest. And, [picks up a fourth] this piece, all you’ve
        got to do is put the rest of the pieces together.</p>
    </td>
    <td class="color-lil">
        This student had made an earlier prediction about how long it would take to build the whole by using eighths and continued
        to think of the fraction pieces in terms of how long it would take to build the whole.
    </td>
</tr>
<tr>
    <td><img src="/images/pdf-img/beingResp4.png" alt="" height="" width="" /></td>
    <td>
        <p>A bit later </p>
        <p>S1: I think it is a … third. </p>
        <p>T: OK. And why do you think that? S1: Well, it looks like less than a half but more than a quarter. [places the yellow fourth on top to compare sizes as S2 is working to build the whole with the third pieces]</p>
    </td>
    <td class="color-lil">
        This student used proportional reasoning and an understanding of benchmarks to develop an understanding of additional unit
        fractions.
    </td>
</tr>
<tr>
    <td><img src="/images/pdf-img/beingResp5.png" alt="" height="" width="" /></td>
    <td>
        <p>S2: And you only have to put three together so then … [builds the whole] </p>
        <p>T: That was fast, wasn’t it? So now you have … what would you call those? </p>
        <p>S2: Thirds. </p>
        <p>T: Three thirds. [points to three-thirds model] </p>
        <p>S1 and S2: Four fourths. Eight eighths. One whole.</p>
    </td>
    <td class="color-lil">
        The students quickly adapted the language modelled to each of the other fractional representations.
    </td>
</tr>
</table>

<p>Probing questions include the following:</p>
<ul>
<li><span class="color-gr">❖</span> If students haven’t expressed an understanding that the pieces are regions of an area model, try asking them, “How are
    the pieces, or regions, similar or different?” and “What connections have you made between the regions and the whole?”</li>

<li><span class="color-gr">❖</span> If students have used whole number counts to refer to the fraction pieces (i.e., one, two, three), ask, “How might we
    count those pieces, or regions, by using their fraction numbers?” It may be necessary to model this counting as “one
    one-third, two one-thirds, ...”</li>

<li><span class="color-gr">❖</span> If students haven’t connected the denominator to the number of equi-partitions, write the fraction by using both words
    and symbols and ask, “What connections can you make between the different ways of showing this fraction?”</li>
</ul>
<img src="/images/pdf-img/beingResp6.png" alt="" height="" width="" style="float: right;" />
<h3 class="color-lil">Grade 7/8</h3>
<p>In a Grade 7/8 classroom, the following question was posed to students: “Out of one pan of brownies, Sandy ate <abbr title="">1/4</abbr> and Pat
ate <abbr title="">1/6</abbr>/ What fraction of the brownies did Sandy and Pat eat altogether? Write a number sentence to explain.” Students
were provided with paper to fold to solve the task. One student folded the paper as shown. Note the space between a one-sixth
fold and a one-fourth fold (when folded as shown to the right) is one-twelfth of the area of the paper, which is the
common unit. The student was unable to make this connection and wrote the number sentence as <abbr title="">1/4</abbr> + <abbr title="">1/6 </abbr>= <abbr title="">2/10</abbr>.</p>


<p>Probing questions include the following:</p>
<ul>
<li><span class="color-gr">❖</span> Explain your number sentence.</li>

<li><span class="color-gr">❖</span> If students don’t realize that the regions should be the same size, ask, “Where is the <abbr title="">1/4</abbr> in your model? Why is it named <abbr title="">1/4</abbr>?” This question is intended to draw students’ attention to the equi-partitioning.</li>

<li><span class="color-gr">❖</span> If students understand that the regions should be the same size but are unsure of how to name the smaller fractional
    regions, ask, “Would it be possible to fold the other segments to create equal partitions?” This question is intended
    to support students in seeing that fractional regions can be split or partitioned into equivalent fractional segments.</li>

<li><span class="color-gr">❖</span> If students understand equi-partitioning and have folded their paper to create a common fractional unit of twelfths but
    are unsure how their answer compares with another response of <abbr title="">10/24</abbr>, ask, “Would it be possible to fold your model
    to create twenty-four equal partitions, or twenty-fourths? If you did that, how many would be comparable to your
    five-twelfths?”</li>
</ul>
<h3 class="color-lil">Grade 9</h3>
<p>A Grade 9 student was asked to solve for x in the equation <abbr title="">2/3</abbr>x + 5 = 7 + <abbr title="">4/5</abbr>x</p>
<p>The student completed the following solution:</p>
<div class="center"><img src="/images/pdf-img/beingResp7.png" alt="" height="" width="" /></div>

<p>Note that in the first line of the solution, the student multiplied the left side by 3 and the right side by 5.</p>

<p>Probing questions may include the following:</p>
<ul>
<li><span class="color-gr">❖</span> Explain what procedure you used to create the first line in your solution.</li>

<li><span class="color-gr">❖</span> If the student doesn’t realize that he or she is working with an equation and must perform the same calculation on all
    terms to preserve equality, ask, “Is this new equation equivalent to the original equation? How do you know?”</li>

<li><span class="color-gr">❖</span> If the student understands that the procedure should have been to multiply all terms by the same number but can’t identify
    or justify the number, ask, “Would it be possible to write the equation so that each term is a fraction? If we wanted
    to have a common fraction unit for each term, what fraction unit (or denominator) could we use?” This question is
    intended to support students in seeing that multiplying by a common denominator to clear the fractions is really
    a shortcut. The mathematical justification is that if each term was first written in fraction form with a common
    denominator, it would be <abbr title="">10/15</abbr>x + <abbr title="">75/15</abbr> = <abbr title="">105/15</abbr> + <abbr title="">12/15x</abbr>. Then, since each term is based on the same fractional unit,
    we only need to equate the numerators. So the equation becomes 10x + 75 = 105 + 12x.</li>
</ul>

</main>
<%- include partials/footer.ejs%>
