<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-ite"><a href="/digitalPaper/resources">Resources</a></li>
  <li class="breadcrumb-item active">Instructional Decisions</li>
</ol>

<main class="container pdf-page padding-bottom">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/resultsOfActionResearchOnFractions.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section>
    <h1>Results of Collaborative Action Research on Fractions (2011-2012)</h1>
    <h2 style="text-align:center">Knowledge Network on Applied Educatio Research (KNAER) Project</h2>
    <p style="text-align:center">Dr Catherine D. Bruce (Trent uuniversity) and research team: Tara Flynn, Rich McPherson, Shelley Yearley</p>

    <h3>Background</h3>
    <p>During the 2011-2012 school year, the Ontario Ministry of Education Curriculum and Assessment Policy Branch attained a grant from Knowledge Network for Applied Education Research (KNAER) to build and extend understanding of effective teaching and learning of fractions. Following a review of the research literature and the development of documents that supported teachers with linking this research to their practice more easily, the professional learning series began in three school boards, Kawartha Pine Ridge DSB, Ottawa Carleton DSB, and Simcoe County DSB. These three boards were selected based on readiness factors that included explicit and precise long-term professional learning plans focused on mathematics, as well as board-level mathematics leadership capacity. The teams engaged in collaborative action research where researchers and teachers investigated areas of mutual interest (see <a href="www.tmerc.ca/digitalpapers/" target="_blank" rel="noopener">www.tmerc.ca/digitalpapers/</a>). The teams inquired into learning fractions in grades 4 through 7 with a particular emphasis on representing, comparing and ordering fractions. The project maintained a focus on fractions throughout the year by co-developing and organizing fractions lessons in “bundles” that were implemented (including co-teaching and carefully observing students) in a punctuated schedule throughout one term, rather than as a single unit of study. </p> 
    <br/><p>Participants had a wide range of experience (from first year teachers to teachers with over 20 years of experience, as well as special education and French Immersion teachers, instructional and division leads) in a variety of contexts (rural and urban schools, stable student populations, highly transient student populations, range of socio-economic backgrounds, English Language Learners, and students with special needs). After identifying student strengths and needs, the teams investigated which representations of fraction ideas were most helpful and least helpful to students, based on context, and facility of the representation in building robust knowledge and understanding of fractions. Team members also aimed to refine their content and pedagogical knowledge for teaching fractions, a critical factor for student success. </p>

    <div class="padding-bottom">
      <br/><h4><em>The goals of the project were to:</em></h4>
      <ul>
       <li>inquire into effective learning and instruction of fractions for junior students and teachers at a broad range of readiness stages;</li>
       <li>develop and test learning and instructional lesson bundles with students and teachers in various classroom contexts;</li>
       <li>share a planning framework, practical resources (lesson bundles and problem-based tasks) with the broader education community in a variety of ways.</li>
      </ul>
    </div>

    <section style="border:1px solid black; padding-bottom:35px; padding-left:10px; padding-right:10px">
      <div class="padding-bottom">
        <h4><strong><em>Data Sources / Records of Practice</em></strong></h4>
        <span class="col-md-2 col-sm-2" style="text-align:center"><p>field notes</p></span>
        <span class="col-md-2 col-sm-2" style="text-align:center"><p>teacher interviews</p></span>
        <span class="col-md-2 col-sm-2" style="text-align:center"><p>video and photo artefacts</p></span>
        <span class="col-md-2 col-sm-2" style="text-align:center"><p>classroom observations</p></span>
        <span class="col-md-2 col-sm-2" style="text-align:center"><p>clinical interviews</p></span>
        <span class="col-md-2 col-sm-2" style="text-align:center"><p>student work</p></span>
      </div>
    </section>

    <hr style="border-top:1px solid #000">
  </section>

     

      <section>
         <h3><strong>Results</strong></h3>
        <div class="row col-md-10">
          <p>The collaborative action research process focused on the precise mathematics content of
            understanding fractions and ways of thinking about fractions led to gains for both teachers
            and students. The learning process is documented in detail in the Fractions Digital Paper
            (go to <a href="www.edugains.ca/" target="_blank" rel="noopener">www.edugains.ca/</a> &#8594; Math &#8594;Paying Attention to Math).</p>
        </div>
        <div class="col-md-2">
          <figure>
            <img src="/images/digitalPaper.png" alt="Digital Paper" class="img-rounded img-responsive margin-auto">
          </figure>
        </div>
      </section>
      <section class="padding-bottom">
        <h4><em><strong>Student Outcomes</strong></em></h4>
        <p>Figure 1. Student pre-post results</p>
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
          <p>Student outcomes were measured quantitatively using a highly
            reliable set of fractions tests generated in a previous research study.
            Pre-post student achievement results indicated growth in
            achievement for almost all students. The plotted data in Figure 1
            illustrate how each individual student and a group of students
            demonstrated improvement from pre to post in one school board.
            Each dot represents individual student change. For example, the dot
            circled in red is a student whose pre-test score was approximately
            20% and post-test score was nearly 90%. The student circled with
            green shifted from approximately 55% on the pre-test to 65% on the
            post-test. The black line of best fit illustrates the general upward
            achievement trend for the group overall. </p>
        </div>
      </section>

      <section>
      <h4><em><strong>Teacher Learning:</strong></em></h4>
      <p>Throughout the collaborative action research project, the teacher teams grappled with a number of dilemmas that
        extended beyond the fractions content. These dilemmas can be categorized using Windschitl’s (2002) framework. A
        small sample of these dilemmas are presented in the table below. </p>
      <div class="row">
        <div class="col-md-6">
          <p>Conceptual Dilemmas</p>
          <ul>
            <li>Why are fractions important? Do students even need to know about them?</li>
            <li>Should I modify my teaching to include the use of a variety of manipulatives? Which manipulatives?</li>
          </ul>
          <p>Pedagogical Dilemmas</p>
          <ul>
            <li>How can I structure my lessons so that I have time to hear and understand the explanations and reasoning of my students?</li>
            <li>What tasks support student conceptual understanding of fractions?</li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>Cultural Dilemmas</p>
          <ul>
            <li>How can I transition students from a more traditional math experience where the focus has been on getting the right answer to a community of learners engaged in math talk with a focus on reasoning and proving?</li>
          </ul>
          <p>Political Dilemmas</p>
          <ul>
            <li>How can I balance the need to meet the reporting requirements with this type of cyclical learning focused on fractions?</li>
          </ul>
        </div>
      </div>
      <div>
        <p>Through the collaborative action research process, teacher team members supported each other in identifying/generating
          and testing strategies to address the above dilemmas. Teachers tested out a range of tasks and teaching strategies in
          collaboration, and subsequently met to reflect on and share their observations. This process was repeated in cycles,
          leading to teacher-reported increases in teacher efficacy. The sources of efficacy information included: </p>
        <ul>
          <li>mastery experiences (where the teacher observed that instructional shifts increased student success which in turn
            increased the teacher’s willingness to take risks with challenging but effective strategies in the classroom);</li>
          <li>vicarious experiences (where the teacher observed a colleague who was similar to themselves having success in a
            lesson); </li>
          <li>social and verbal persuasion (where the teacher had opportunities to compare his/her perspectives of an experience
            with that of a respected colleague); </li>
          <li>physiological and emotional cues (where the teacher articulated feelings of confidence and positive shifts in their
            mathematics teaching). </li>
        </ul>
      </div>
    </section>

    <hr style="border-top:1px solid #000">

    <section>
      <div style="background-color:rgba(153, 172, 172,0.35); padding:10px">
        <h4 style="text-align:center"><em><strong>Key Understandings Identified by Teachers and Researchers about the Teaching and Learning of Fractions</strong></em></h4>
        <ol style="padding-inline-start: 20px">
          <li>Students need to understand that the numerator and denominator together represent a single quantity or number.</li>
          <li>Students benefit rom the use of benchmarks (0, 1, <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>, or <abbr title="three quarters" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>)
            to compare fractions as well as seeing fractions alongside other number systems, such as decimals and percentages</li>
          <li>There are multiple meanings of fractions depending on context:
            <div class="horizontal-list">
              <ul>
                <li>Linear measure</li>
                <li>Part-whole</li>
                <li>Part-part (<abbr title="For example">e.g.</abbr> a ratio)</li>
                <li>Fraction as quotient</li>
                <li>Fraction as an operator</li>
              </ul>
            </div>
          </li>Educators in the project inquired into how different representations might help or hinder student thinking. They
          noticed an overuse of part-whole models, especially circle area representations, which introduced errors when
          dealing with numbers into which circles are not easily partitioned (such as sevenths or twelfths). </li>
          <li>The use of a number line for representing, comparing and ordering fractions was examined across multiple
            classrooms and grades. The number line showed strong potential for representing fractions with greater accuracy
            and for helping students develop conceptual understanding as well as proportional reasoning.</li>
        </ol>
      </div>
    </section>

    <hr style="border-top:1px solid #000">

    <section class="padding-bottom">
      <h3><strong>Implications</strong></h3>
      <p>Teachers observed that all students engaged in mathematically rigorous thinking when presented with challenging but
        accessible tasks. Students demonstrated significant skill in sense-making in a variety of tasks across all grades.
        The careful selection of representations in the planning process had powerful benefits, as noted by the teacher teams: </p>
      <ol>
        <li>Representations support students in making meaning in context by acting as the site of problem solving with precise
          and accurate model making; </li>
        <li> Representations that have longevity (i.e., are flexible and can be built upon) can be used to make sense of fractions
          over time, beginning with foundational concepts about fractions, and extending to later fractions learning that includes
          comparing and ordering as well as computing. The study has shown that those representations, such as fraction bars,
          which are flexible to multiple contexts (linear, part-part, part whole, etc.) and which can be used extensively as the
          curriculum progresses, are beneficial to student learning and to teaching. </li>
      </ol>
      <p>The study also found that collaborative action research is a high quality form of teacher professional learning that can lead
        to innovative and effective teaching of difficult concepts in mathematics, such as fractions. </p>
    </section>


  <%- include partials/footer.ejs%>
