<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
    <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
    <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
    <li class="breadcrumb-item active">Ribbon Task</li>
</ol>

<main>
    
  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange"><p>Operation C</p></div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with like denominators using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->
  
  <section class="container dot-lists pdf-page "> <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Ribbon Task</h1>
      </div>
    </section>

    <section class="row"  style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/ribbonTask/ribbon_task-thumbnail.jpg" alt="Task The Flick Game" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students will determine how many decorations they can make with a given length of ribbon. Within the context of creating ribbon decorations, they will appropriately partition 3 metres of ribbon into lengths of <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> metres and calculate the number of decorations that can be made.</p>
      
      <h4>Mathematics</h4>
      <p>This task will move the students towards the use of a number line to conceptualize the pieces of ribbon. They will need to partition the ribbon into appropriate sections in order to calculate the total number of decorations that can be made.</p>

      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>represent fractional amounts such as proper and improper fractions and mixed numbers</li>
        <li>add and subtract fractions with simple like and unlike denominators</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Partner students and introduce the task.</li>
        <li>Distribute BLM 1 and the manipulatives.</li>
        <li>Provide students with time to complete the task. Circulate, using key questions to prompt student thinking.</li>
        <li>Consolidate (provide opportunities for students to share solutions with the class), using key questions to elicit student thinking for discussion.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>use repeated addition when adding lengths of <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr></li>
          <li>count up using increments of <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> using fractional or a number line</li>
          <li>convert to centimetres and know that <abbr title="two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> of 1 metre is 40 cm</li>
          <li>cut the 3 metres into single metres or leave it as one piece</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>What happens when you count beyond <abbr title="Five fifths" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>5</sub></span></abbr>?</li>
          <li>What does the denominator in <abbr title="Two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> tell you? What does the numerator tell you?</li>
          <li>When we count up or add <abbr title="Two fifths" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr>, what part of the fraction changes? The numerator or the denominator? </li>
          <li>Why is the denominator always the same?</li>
          <li>If you had one more metre of ribbon, what would happen?</li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/ribbonTask/RibbonDecorations_BLM 1_20160712_v2.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (one copy per pair)</li>
        <li>Ribbon, string and/or paper strips to represent the ribbon</li>
        <li>chart paper</li>
        <li>markers</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
        </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

            <figure class="padding-bottom">
              <img src="/images/tasks/ribbonTask/BLM-1.jpg" alt="BLM 1" class="img-responsive margin-auto"/>
              <figcaption>To download a copy of this .pdf, click <a href="/pdf/ribbonTask/RibbonDecorations_BLM 1_20160712_v2.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
            </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">
        
          <figure class="padding-bottom">
            <img src="/images/tasks/ribbonTask/RibbonTask_StudentThinking_OP-C_Samp1-2.jpg" alt="Ribbon Task Student thinking" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/ribbonTask/RibbonTask_StudentThinking1.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>
          <figure>
            <img src="/images/tasks/ribbonTask/RibbonTask_StudentThinking_OP-C_Samp3.jpg" alt="Ribbon Task Student thinking" class="img-responsive margin-auto"/>
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/ribbonTask/RibbonTask_StudentThinking3.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

        </div>
      </div>  
    
    </section>

  </section> <!-- End PDF page section -->
<%- include partials/footer.ejs%>