<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./setAreaMod">Fractions Representations with Set Area Models (Gr 6)</a></li>
</ol>

<main class="container">
<h2>Representing Fractions – Ottawa-Carleton <abbr title="District School Board">DSB</abbr> <abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr> Lesson</h2>
<p>Grade 6</p>
<p><abbr title="Minds On">MO</abbr> 10 <abbr title="minutes">min</abbr></p>
<p><abbr title="Action">A</abbr> 35 <abbr title="minutes">min</abbr></p>
<p><abbr title="Consolidate Debrief">C/D</abbr> 15 <abbr title="minutes">min</abbr></p>
<p>60 <abbr title="minutes">min</abbr></p>

<h3>Learning Goals</h3>

<p>Students will:</p>
<ul>
    <li>understand that a fraction can have multiple meanings (<abbr title="For example">e.g.</abbr>
, part to part; part to whole)</li>
    <li>connect and distinguish between measurement models (such as area) and set models for fractions</li>
    <li>explain and justify their reasoning about fraction representations</li>
</ul>

<h3>Materials</h3>
<p>4 of each of the following baggies of pattern blocks</p>
<ul>
    <li>4 hexagon, 6 trapezoid</li>
    <li>4 hexagon, 6 rhombus</li>
    <li>4 hexagon, 6 triangle</li>
</ul>

<h3>Minds On…</h3>
<h4>Whole Group  Mind Map</h4>
<p>Ask students what they know about fractions. Create a mind map using their input and organized to align with your pre-planned mind map for the unit.</p>
<p>Using the unit outline to create the mind map ahead of time will allow for the strategic placement of student ideas. Using a different colour each day will highlight the learning that students are gaining through the unit.</p>


<h3>Action!</h3>
<h4>Small Group  Activity</h4>
<p>Provide each group with one baggie. Ask small groups to generate as many fractions as they can with the blocks. Thinking can be provoked and extended with the following types of questions:</p>
<ul>
    <li>How would you represent a fraction which uses all the blocks?</li>
    <li>How would you use the same blocks to represent a different fraction?</li>
    <li>What fractions can you create if one block is the whole?</li>
</ul>

<h4>Whole Class  Sharing</h4>
<p>Ask small groups to each share a fraction and the corresponding representation. Consider having students either use pattern block paper to record their answers, sharing their work using a document camera, or having pattern blocks cloned on an interactive whiteboard for the sharing of their solutions.</p>
<p>Record the following information as it arises from the student talk:</p>
<ul>
    <li>Meaning of the numerator</li>
    <li>Meaning of the denominator</li>
    <li>Definition of the whole</li>
    <li>Different meanings of fraction – measure (such as distance, area) and set (one attribute of a number of pieces regardless of another of the pieces)</li>
</ul>

<p>Some questions which may be useful:</p>
<ul>
    <li>How are the fractions the same? How are they different?</li>
    <li>How can we have 3 different sets of blocks to use but still end up with the same fractions?</li>
    <li>If you used a set, what attributes did you use to identify the fraction?</li>
    <li>Record for all to see, fractions generated, along with explanations of student thinking.</li>
</ul>

<p>Some examples:</p>
<ul>
    <li><abbr title="six ninths">6&frasl;9</abbr> (6 blue pieces of 9 total)</li>
    <li><abbr title="three ninths">3&frasl;9</abbr> (3 blue on top of 3 yellow. whole is 3 yellow)</li>
    <li><abbr title="one fourth">¼</abbr>
 (3 blue and 3 yellow ... 3 blue is equivalent to one yellow)</li>
</ul>

<p>Set model...</p>
<ul>
    <li><abbr title="four tenths">4&frasl;10</abbr> yellow (for all baggies)</li>
</ul>

<h3>Consolidate Debrief</h3>
<h4>Whole Group  Discussion</h4>
<p>Review the terminology with students, making explicit connections to their responses. Allow them to ask any further questions that they may still have. Highlight that fractions have multiple meanings and show the multiple meanings that are demonstrated in their responses.</p>



<h3>Home Activity or Further Classroom Consolidation</h3>
<p>Select one fraction and represent it using each of the different meanings discussed today.</p>


<h2><abbr title="Blackline Master">BLM</abbr> 1.1 Teacher Notes</h2>
<p>What we anticipated students to say:</p>

<table>
  <tr>
      <th>Drawing</th>
        <th>Fractional Representation</th>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>3 red hexagons&frasl;7 hexagons total</p>
            <p>(part-whole; area or set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>2 blue hexagons&frasl;6 hexagons total</p>
            <p>(part-whole; area or set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>6 rhombus pieces&frasl;10 pieces total</p>
            <p>(part-whole; set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>6 trapezoid pieces&frasl;10 pieces total</p>
            <p>(part-whole; set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>1 green hexagon&frasl;5 hexagons total</p>
            <p>(part-whole; area or set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>3 red hexagon&frasl;4 hexagons total</p>
            <p>(part-whole; area or set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>1 green hexagon&frasl;4 hexagons total</p>
            <p>(part-whole; area or set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>6 triangle pieces&frasl;10 pieces total</p>
            <p>(part-whole; set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>6 triangle pieces&frasl;10 pieces total</p>
            <p>(part-whole; set**)</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
          <p>4 hexagon pieces&frasl;10 pieces total</p>
            <p>(part-whole; set**)</p>
        </td>
    </tr>

</table>


<p>** Students may be seeing these are sets of hexagons or areas of figures. It is important to uncover their thinking by asking probing questions.</p>




<p>What the students said:</p>
<table>
  <tr>
      <th>Drawing</th>
        <th>Fractional Representation</th>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="one half">½</abbr></p>
            <p>One trapezoid is <abbr title="one half">½</abbr> of the hexagon.</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="one third">1&frasl;3</abbr></p>
            <p>One trapezoid is <abbr title="one third">1&frasl;3</abbr> of the hexagon.</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="two thirds">2&frasl;3</abbr></p>
            <p>One rhombus is <abbr title="two thirds">2&frasl;3</abbr> of the trapezoid.</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="six fourths">6&frasl;4</abbr></p>
            <p>There are 6 rhombus pieces for 4 hexagons.</p>
            <p>(part-part; set )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="six fourths">6&frasl;4</abbr></p>
            <p>There are 6 trapezoid pieces for 4 hexagons.</p>
            <p>(part-part; set )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="four sixths">4&frasl;6</abbr></p>
            <p>There are 4 hexagon pieces for 6 trapezoids.</p>
            <p>(part-part; set )</p>
        </td>
    </tr>
        <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="one sixth">1&frasl;6</abbr></p>
            <p>One triangle is <abbr title="one sixth">1&frasl;6</abbr> of the hexagon.</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="one third">1&frasl;3</abbr></p>
            <p>One triangle is <abbr title="one third">1&frasl;3</abbr> of the trapezoid.</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="one half">½</abbr></p>
            <p>One triangle is <abbr title="one half">½</abbr> of the rhombus.</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>

    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="six fourths">6&frasl;4</abbr></p>
            <p>There are 6 triangle pieces for 4 hexagons.</p>
            <p>(part-part; set )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="four sixths">4&frasl;6</abbr></p>
            <p>There are 4 hexagon pieces for 6 rhombus.</p>
            <p>(part-part; set )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="four sixths">4&frasl;6</abbr></p>
            <p>There are 4 hexagon pieces for 6 triangles.</p>
            <p>(part-part; set )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="two halves">2&frasl;2</abbr></p>
            <p>2 trapezoids cover the whole hexagon</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="three thirds">3&frasl;3</abbr></p>
            <p>3 rhombuses cover the whole hexagon</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="six sixths">6&frasl;6</abbr></p>
            <p>6 triangles cover the whole hexagon</p>
            <p>(part-whole; area )</p>
        </td>
    </tr>
    <tr>
      <td><img src="" alt="" height="" width="" /></td>
        <td>
            <p><abbr title="two halves">2&frasl;2</abbr></p>
            <p>1 of the 6 vertices of the hexagon are circled.</p>
            <p>(part-whole; set )</p>
        </td>
    </tr>
</table>

<%- include partials/footer.ejs%>
