<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./digitalTasks">Lessons</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Fractions Representations with Set Area Models (Gr 6)</li>
</ol>

<main class="container pdf-page">

  <section class="row gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/FractionsRepresentationswithSetandAreaModelsLessonGr6.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">
    <h2 style="color: #0000ff; border-bottom: 10px solid black;">Fractions Representations with Set Area Models - Ottawa-Carleton <abbr title="District School Board">DSB</abbr> <abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr>
      Lesson (Gr 6)</h2>
  </section>

  <section class="row table-responsive">
    <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font" id="ftable">
      <!-- First Row - Time Stamp and Learning Goal -->
      <tr>
        <td>
          <p>MO 10 min</p>
          <p>A 35 min</p>
          <p>C/D 15 min</p>
          <p>60 min</p>
        </td>
        <td>
          <p><strong style="text-decoration: underline;">Learning Goals</strong></p>
          <p>Students will:</p>
          <ul>
            <li>understand that a fraction can have multiple meanings (<abbr title="For example">e.g.</abbr> , part to part; part to whole)</li>
            <li>connect and distinguish between measurement models (such as area) and set models for fractions</li>
            <li>explain and justify their reasoning about fraction representations</li>
          </ul>
        </td>
        <td>
          <p><strong style="text-decoration: underline;">Materials</strong></p>
          <p>4 of each of the following baggies of pattern blocks</p>
          <ul>
            <li>4 hexagon, 6 trapezoid</li>
            <li>4 hexagon, 6 rhombus</li>
            <li>4 hexagon, 6 triangle</li>
          </ul>
        </td>
      </tr> <!-- End First Row -->
      <!-- Second Row - Minds on... -->
      <tr>
        <td>
          <p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p>
        </td>
        <td>
          <p><strong>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Mind Map</strong></p>
          <p>Ask students what they know about fractions. Create a mind map using their input and organized to align with your pre-planned mind map for the unit.</p>
        </td>
        <td class="section-border-bottom-none">
          <p>Using the unit outline to create the mind map ahead of time will allow for the strategic placement of student ideas. Using a different colour each day will highlight the learning that students are gaining through the unit.</p>
        </td>
      </tr> <!-- End Second Row -->
      <!-- Third Row - Action! -->
      <tr>
        <td>
          <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
        </td>
        <td>
          <p><strong>Small Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</strong></p>
          <p>Provide each group with one baggie. Ask small groups to generate as many fractions as they can with the blocks. Thinking can be provoked and extended with the following types of questions:</p>
          <ul>
            <li>How would you represent a fraction which uses all the blocks?</li>
            <li>How would you use the same blocks to represent a different fraction?</li>
            <li>What fractions can you create if one block is the whole?</li>
          </ul>

          <p><strong>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Sharing</strong></p>
          <p>Ask small groups to each share a fraction and the corresponding representation. Consider having students either use pattern block paper to record their answers, sharing their work using a document camera, or having pattern blocks cloned
            on an interactive whiteboard for the sharing of their solutions.</p>
          <p>Record the following information as it arises from the student talk:</p>
          <ul>
            <li>Meaning of the numerator</li>
            <li>Meaning of the denominator</li>
            <li>Definition of the whole</li>
            <li>Different meanings of fraction – measure (such as distance, area) and set (one attribute of a number of pieces regardless of another of the pieces)</li>
          </ul>

          <p>Some questions which may be useful:</p>
          <ul>
            <li>How are the fractions the same? How are they different?</li>
            <li>How can we have 3 different sets of blocks to use but still end up with the same fractions?</li>
            <li>If you used a set, what attributes did you use to identify the fraction?</li>
            <li>Record for all to see, fractions generated, along with explanations of student thinking.</li>
          </ul>
        </td>
        <td class="section-border-bottom-none section-border-top-none background-color-white">
          <p>Some examples:</p>
          <ul>
            <li><abbr title="six ninths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>9</sub></span></abbr> (6 blue pieces of 9 total)</li>
            <li><abbr title="three ninths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>9</sub></span></abbr> (3 blue on top of 3 yellow. whole is 3 yellow)</li>
            <li><abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>
              (3 blue and 3 yellow ... 3 blue is equivalent to one yellow)</li>
          </ul>
          <p>Set model...</p>
          <ul>
            <li><abbr title="four tenths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>10</sub></span></abbr> yellow (for all baggies)</li>
          </ul>
        </td>
      </tr> <!-- End Third Row -->
      <!-- Fourth Row - Consolidate/Debrief -->
      <tr>
        <td>
          <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
        </td>
        <td>
          <p><strong>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</strong></p>
          <p>Review the terminology with students, making explicit connections to their responses. Allow them to ask any further questions that they may still have. Highlight that fractions have multiple meanings and show the multiple meanings that
            are demonstrated in their responses.</p>
        </td>
        <td class="section-border-top-none"></td>
      </tr> <!-- End of Fourth Row -->
      <!-- Fifth Row - Further Consolidation -->
      <tr>
        <td></td>
        <td>
          <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>
          <p>Select one fraction and represent it using each of the different meanings discussed today.</p>
        </td>
        <td></td>
      </tr> <!-- End Fifth Row -->
    </table>
  </section>

  <section class="row">
    <h4 class="title-blue-2"><abbr title="Blackline Master">BLM</abbr> 1.1 Teacher Notes</h4>

    <p>What we anticipated students to say:</p>
    <div class="table-responsive">
      <table class="table-bordered">
        <tr>
          <th>Drawing</th>
          <th>Fractional Representation</th>
          <th>Drawing</th>
          <th>Fractional Representation</th>
        </tr>
        <!-- First Linha -->
        <tr>
          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod1.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">3 red hexagons</div>
            <div class="text-center">7 hexagons total</div>
            <p>(part-whole; area or set**)</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod9.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">1 green hexagon</div>
            <div class="text-center">5 hexagons total</div>
            <p>(part-whole; area or set**)</p>
          </td>
        </tr>
        <!-- Second Linha -->
        <tr>
          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod2.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">2 blue hexagons</div>
            <div class="text-center">6 hexagons total</div>
            <p>(part-whole; area or set**)</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod10.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">3 red hexagons</div>
            <div class="text-center">4 hexagons total</div>
            <p>(part-whole; area or set**)</p>
          </td>
        </tr>
        <!-- Third Line -->
        <tr>
          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod3.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">2 blue hexagons</div>
            <div class="text-center">4 pieces total</div>
            <p>(part-whole; set**)</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod11.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">1 green hexagon</div>
            <div class="text-center">4 hexagons total</div>
            <p>(part-whole; area or set**)</p>
          </td>
        </tr>
        <!-- Fourth Line -->
        <tr>
          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod4.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">6 rhombus pieces</div>
            <div class="text-center">10 pieces total</div>
            <p>(part-whole; set**)</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod23.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">6 triangle pieces</div>
            <div class="text-center">10 pieces total</div>
            <p>(part-whole; set**)</p>
          </td>
        </tr>
        <!-- Fifth Line-->
        <tr>
          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod18.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">6 trapezoid pieces</div>
            <div class="text-center">10 pieces total</div>
            <p>(part-whole; set**)</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod12.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">4 hexagon pieces</div>
            <div class="text-center">10 pieces total</div>
            <p>(part-whole; set**)</p>
          </td>
        </tr>
        <!-- Sixth Line -->
        <tr>
          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod19.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">4 hexagon pieces</div>
            <div class="text-center">10 pieces total</div>
            <p>(part-whole; set**)</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod13.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <div class="section-border-bottom text-center">4 hexagon pieces</div>
            <div class="text-center">10 pieces total</div>
            <p>(part-whole; set**)</p>
          </td>
        </tr>
      </table>
    </div>
    <p>** Students may be seeing these are sets of hexagons or areas of figures. It is important to uncover their thinking by asking probing questions.</p>

    <h4 class="title-dark">What the students said:</h4>
    <div class="table-responsive">
      <table class="table-bordered">
        <tr>
          <th>Drawing</th>
          <th>Fractional Representation</th>
          <th>Drawing</th>
          <th>Fractional Representation</th>
        </tr>
        <!-- First Line -->
        <tr>
          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod14.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <p><abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr></p>
            <p>One trapezoid is <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> of the hexagon.</p>
            <p>(part-whole; area )</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod20.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <p><abbr title="one sixth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
            <p>One triangle is <abbr title="one sixth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>6</sub></span></abbr> of the hexagon.</p>
            <p>(part-whole; area )</p>
          </td>
        </tr>
        <!-- Second line -->
        <tr>
          <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod15.png" alt="" class="img-responsive margin-auto" /></td>
          <td class="no-border-left">
            <p><abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr></p>
            <p>One trapezoid is <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> of the hexagon.</p>
            <p>(part-whole; area )</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod21.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <p><abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr></p>
            <p>One triangle is <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> of the trapezoid.</p>
            <p>(part-whole; area )</p>
          </td>
        </tr>
        <!-- Third Line -->
        <tr>
          <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod16.png" alt="" class="img-responsive margin-auto" /></td>
          <td class="no-border-left">
            <p><abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr></p>
            <p>One rhombus is <abbr title="two thirds" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> of the trapezoid.</p>
            <p>(part-whole; area )</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod22.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <p><abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr></p>
            <p>One triangle is <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> of the rhombus.</p>
            <p>(part-whole; area )</p>
          </td>
        </tr>
        <!-- Fourth Line -->
        <tr>
          <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod4.png" alt="" class="img-responsive margin-auto" /></td>
          <td class="no-border-left">
            <p><abbr title="six fourths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr></p>
            <p>There are 6 rhombus pieces for 4 hexagons.</p>
            <p>(part-part; set )</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod23.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <p><abbr title="six fourths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr></p>
            <p>There are 6 triangle pieces for 4 hexagons.</p>
            <p>(part-part; set )</p>
          </td>
        </tr>
        <!-- Fifth Line -->
        <tr>
          <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod18.png" alt="" class="img-responsive margin-auto" /></td>
          <td class="no-border-left">
            <p><abbr title="six fourths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr></p>
            <p>There are 6 trapezoid pieces for 4 hexagons.</p>
            <p>(part-part; set )</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod12.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <p><abbr title="four sixths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
            <p>There are 4 hexagon pieces for 6 rhombuses.</p>
            <p>(part-part; set )</p>
          </td>
        </tr>
        <!-- Sixth Line -->
        <tr>
          <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod19.png" alt="" class="img-responsive margin-auto" /></td>
          <td class="no-border-left">
            <p><abbr title="four sixths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
            <p>There are 4 hexagon pieces for 6 trapezoids.</p>
            <p>(part-part; set )</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod13.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <p><abbr title="four sixths" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
            <p>There are 4 hexagon pieces for 6 triangles.</p>
            <p>(part-part; set )</p>
          </td>
        </tr>
        <!-- seventh Line -->
        <tr>
          <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod26.png" alt="" class="img-responsive margin-auto" /></td>
          <td class="no-border-left">
            <p><abbr title="two halves" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>2</sub></span></abbr></p>
            <p>2 trapezoids cover the whole hexagon</p>
            <p>(part-whole; area )</p>
          </td>

          <td class="no-border-right">
            <img src="/images/tasks/Lessons/setAreaMod28.png" alt="" class="img-responsive margin-auto" />
          </td>
          <td class="no-border-left">
            <p><abbr title="six sixths" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
            <p>6 triangles cover the whole hexagon</p>
            <p>(part-whole; area )</p>
          </td>
        </tr>
        <!-- Eighth Line -->
        <tr>
          <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod27.png" alt="" class="img-responsive margin-auto" /></td>
          <td class="no-border-left">
            <p><abbr title="three thirds" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>3</sub></span></abbr></p>
            <p>3 rhombuses cover the whole hexagon</p>
            <p>(part-whole; area )</p>
          </td>

          <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod29.png" alt="" class="img-responsive margin-auto" /></td>
          <td class="no-border-left">
            <p><abbr title="two halves" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>2</sub></span></abbr></p>
            <p>1 of the 6 vertices of the hexagon are circled.</p>
            <p>(part-whole; set )</p>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <%- include partials/footer.ejs%>
