<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./setAreaMod">Fractions Representations with Set Area Models (Gr 6)</a></li>
</ol>

<main class="container">

    <section class="row padding-bottom lessons-page">
        <section class="row padding-bottom">
            <div class="col-sm-12 col-md-12 no-padding">
                <h1>Fractions Representations with Set Area Models (Gr 6)</h1>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-dark">Ottawa-Carleton <abbr title="District School Board">DSB</abbr> <abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr> Lesson</h4>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-dark">Timing: 60 minutes</h4>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-dark">Materials</h4>
                <p>4 of each of the following baggies of pattern blocks</p>
                <ul>
                    <li>4 hexagon, 6 trapezoid</li>
                    <li>4 hexagon, 6 rhombus</li>
                    <li>4 hexagon, 6 triangle</li>
                </ul>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-blue-1">Math Learning Goals:</h4>
                <p>Students will:</p>
                <ul>
                    <li>understand that a fraction can have multiple meanings (<abbr title="For example">e.g.</abbr> , part to part; part to whole)</li>
                    <li>connect and distinguish between measurement models (such as area) and set models for fractions</li>
                    <li>explain and justify their reasoning about fraction representations</li>
                </ul>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4><span class="title-green">Minds On...</span> <span class="title-dark">(10 minutes)</span></h4>
                <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Mind Map</p>
                <p>Ask students what they know about fractions. Create a mind map using their input and organized to align with your pre-planned mind map for the unit.</p>
                <p>Using the unit outline to create the mind map ahead of time will allow for the strategic placement of student ideas. Using a different colour each day will highlight the learning that students are gaining through the unit.</p>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4><span class="title-red">Action!</span> <span class="title-dark">(35 minutes)</span></h4>
                <p>Small Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</p>
                <p>Provide each group with one baggie. Ask small groups to generate as many fractions as they can with the blocks. Thinking can be provoked and extended with the following types of questions:</p>
                <ul>
                    <li>How would you represent a fraction which uses all the blocks?</li>
                    <li>How would you use the same blocks to represent a different fraction?</li>
                    <li>What fractions can you create if one block is the whole?</li>
                </ul>
                
                <p>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Sharing</p>
                <p>Ask small groups to each share a fraction and the corresponding representation. Consider having students either use pattern block paper to record their answers, sharing their work using a document camera, or having pattern blocks cloned on an interactive whiteboard for the sharing of their solutions.</p>
                <p>Record the following information as it arises from the student talk:</p>
                <ul>
                    <li>Meaning of the numerator</li>
                    <li>Meaning of the denominator</li>
                    <li>Definition of the whole</li>
                    <li>Different meanings of fraction – measure (such as distance, area) and set (one attribute of a number of pieces regardless of another of the pieces)</li>
                </ul>
                
                <p>Some questions which may be useful:</p>
                <ul>
                    <li>How are the fractions the same? How are they different?</li>
                    <li>How can we have 3 different sets of blocks to use but still end up with the same fractions?</li>
                    <li>If you used a set, what attributes did you use to identify the fraction?</li>
                    <li>Record for all to see, fractions generated, along with explanations of student thinking.</li>
                </ul>
                
                <p>Some examples:</p>
                <ul>
                    <li><abbr title="six ninths">6&frasl;9</abbr> (6 blue pieces of 9 total)</li>
                    <li><abbr title="three ninths">3&frasl;9</abbr> (3 blue on top of 3 yellow. whole is 3 yellow)</li>
                    <li><abbr title="one fourth">¼</abbr>
                    (3 blue and 3 yellow ... 3 blue is equivalent to one yellow)</li>
                </ul>
                
                <p>Set model...</p>
                <ul>
                    <li><abbr title="four tenths">4&frasl;10</abbr> yellow (for all baggies)</li>
                </ul>
            </div>
        </section>

        <section class="row section-border section-border-bottom-none">
            <div class="col-sm-12 col-md-12">
                <h4><span class="title-blue-2">Consolidate Debrief</span> <span class="title-dark">(15 minutes)</span></h4>
                <p>Whole Group <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</p>
                <p>Review the terminology with students, making explicit connections to their responses. Allow them to ask any further questions that they may still have. Highlight that fractions have multiple meanings and show the multiple meanings that are demonstrated in their responses.</p>
            </div>
        </section>

        <section class="row section-border">
            <div class="col-sm-12 col-md-12">
                <h4 class="title-blue-2">Practise</h4>
                <h4 class="title-dark">Home Activity or Further Classroom Consolidation</h4>
                <p>Select one fraction and represent it using each of the different meanings discussed today.</p>
            </div>
        </section>
    </section>

    <section class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master"><h4>BLM</abbr> 1.1 Teacher Notes</h4></a>
            </div>
            <section id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>What we anticipated students to say:</p>
                    <div class="table-responsive">
                        <table class="table-bordered">
                            <tr>
                                <th>Drawing</th>
                                <th>Fractional Representation</th>
                                <th>Drawing</th>
                                <th>Fractional Representation</th>
                            </tr>
                            <!-- First Linha -->
                            <tr>
                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod1.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>3 red hexagons&frasl;7 hexagons total</p>
                                    <p>(part-whole; area or set**)</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod9.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>1 green hexagon&frasl;5 hexagons total</p>
                                    <p>(part-whole; area or set**)</p>
                                </td>
                            </tr>
                            <!-- Second Linha -->
                            <tr>
                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod2.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>2 blue hexagons&frasl;6 hexagons total</p>
                                    <p>(part-whole; area or set**)</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod10.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>3 red hexagons&frasl;4 hexagons total</p>
                                    <p>(part-whole; area or set**)</p>
                                </td>
                            </tr>
                            <!-- Third Line -->
                            <tr>
                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod3.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>2 blue hexagons &frasl; 4 pieces total</p>
                                    <p>(part-whole; set**)</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod11.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>1 green hexagon&frasl;4 hexagons total</p>
                                    <p>(part-whole; area or set**)</p>
                                </td>
                            </tr>
                            <!-- Fourth Line -->
                            <tr>
                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod4.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>6 rhombus pieces&frasl;10 pieces total</p>
                                    <p>(part-whole; set**)</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod23.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>6 triangle pieces&frasl;10 pieces total</p>
                                    <p>(part-whole; set**)</p>
                                </td>
                            </tr>
                            <!-- Fifth Line-->
                            <tr>
                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod18.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>6 trapezoid pieces&frasl;10 pieces total</p>
                                    <p>(part-whole; set**)</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod12.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>4 hexagon pieces&frasl;10 pieces total</p>
                                    <p>(part-whole; set**)</p>
                                </td>
                            </tr>
                            <!-- Sixth Line -->
                            <tr>
                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod19.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>4 hexagon pieces&frasl;10 pieces total</p>
                                    <p>(part-whole; set**)</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod13.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p>4 hexagon pieces&frasl;10 pieces total</p>
                                    <p>(part-whole; set**)</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p>** Students may be seeing these are sets of hexagons or areas of figures. It is important to uncover their thinking by asking probing questions.</p>

                    <h4 class="title-dark">What the students said:</h4>
                    <div class="table-responsive">
                        <table class="table-bordered">
                            <tr>
                                <th>Drawing</th>
                                <th>Fractional Representation</th>
                                <th>Drawing</th>
                                <th>Fractional Representation</th>
                            </tr>
                            <!-- First Line -->
                            <tr>
                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod14.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p><abbr title="one half">½</abbr></p>
                                    <p>One trapezoid is <abbr title="one half">½</abbr> of the hexagon.</p>
                                    <p>(part-whole; area )</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod20.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p><abbr title="one sixth">1&frasl;6</abbr></p>
                                    <p>One triangle is <abbr title="one sixth">1&frasl;6</abbr> of the hexagon.</p>
                                    <p>(part-whole; area )</p>
                                </td>
                            </tr>
                            <!-- Second line -->
                            <tr>
                                <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod15.png" alt="" class="img-responsive margin-auto" /></td>
                                <td class="no-border-left">
                                    <p><abbr title="one third">1&frasl;3</abbr></p>
                                    <p>One trapezoid is <abbr title="one third">1&frasl;3</abbr> of the hexagon.</p>
                                    <p>(part-whole; area )</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod21.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p><abbr title="one third">1&frasl;3</abbr></p>
                                    <p>One triangle is <abbr title="one third">1&frasl;3</abbr> of the trapezoid.</p>
                                    <p>(part-whole; area )</p>
                                </td>
                            </tr>
                            <!-- Third Line -->
                            <tr>
                                <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod16.png" alt="" class="img-responsive margin-auto" /></td>
                                <td class="no-border-left">
                                    <p><abbr title="two thirds">2&frasl;3</abbr></p>
                                    <p>One rhombus is <abbr title="two thirds">2&frasl;3</abbr> of the trapezoid.</p>
                                    <p>(part-whole; area )</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod22.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p><abbr title="one half">½</abbr></p>
                                    <p>One triangle is <abbr title="one half">½</abbr> of the rhombus.</p>
                                    <p>(part-whole; area )</p>
                                </td>
                            </tr>
                            <!-- Fourth Line -->
                            <tr>
                                <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod4.png" alt="" class="img-responsive margin-auto" /></td>
                                <td class="no-border-left">
                                    <p><abbr title="six fourths">6&frasl;4</abbr></p>
                                    <p>There are 6 rhombus pieces for 4 hexagons.</p>
                                    <p>(part-part; set )</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod23.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p><abbr title="six fourths">6&frasl;4</abbr></p>
                                    <p>There are 6 triangle pieces for 4 hexagons.</p>
                                    <p>(part-part; set )</p>
                                </td>
                            </tr>
                            <!-- Fifth Line -->
                            <tr>
                                <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod18.png" alt="" class="img-responsive margin-auto" /></td>
                                <td class="no-border-left">
                                    <p><abbr title="six fourths">6&frasl;4</abbr></p>
                                    <p>There are 6 trapezoid pieces for 4 hexagons.</p>
                                    <p>(part-part; set )</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod12.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p><abbr title="four sixths">4&frasl;6</abbr></p>
                                    <p>There are 4 hexagon pieces for 6 rhombuses.</p>
                                    <p>(part-part; set )</p>
                                </td>
                            </tr>
                            <!-- Sixth Line -->
                            <tr>
                                <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod19.png" alt="" class="img-responsive margin-auto" /></td>
                                <td class="no-border-left">
                                    <p><abbr title="four sixths">4&frasl;6</abbr></p>
                                    <p>There are 4 hexagon pieces for 6 trapezoids.</p>
                                    <p>(part-part; set )</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod13.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p><abbr title="four sixths">4&frasl;6</abbr></p>
                                    <p>There are 4 hexagon pieces for 6 triangles.</p>
                                    <p>(part-part; set )</p>
                                </td>
                            </tr>
                            <!-- seventh Line -->
                            <tr>
                                <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod26.png" alt="" class="img-responsive margin-auto" /></td>
                                <td class="no-border-left">
                                    <p><abbr title="two halves">2&frasl;2</abbr></p>
                                    <p>2 trapezoids cover the whole hexagon</p>
                                    <p>(part-whole; area )</p>
                                </td>

                                <td class="no-border-right">
                                    <img src="/images/tasks/Lessons/setAreaMod28.png" alt="" class="img-responsive margin-auto" />
                                </td>
                                <td class="no-border-left">
                                    <p><abbr title="six sixths">6&frasl;6</abbr></p>
                                    <p>6 triangles cover the whole hexagon</p>
                                    <p>(part-whole; area )</p>
                                </td>
                            </tr>
                            <!-- Eighth Line -->
                            <tr>
                                <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod27.png" alt="" class="img-responsive margin-auto" /></td>
                                <td class="no-border-left">
                                    <p><abbr title="three thirds">3&frasl;3</abbr></p>
                                    <p>3 rhombuses cover the whole hexagon</p>
                                    <p>(part-whole; area )</p>
                                </td>

                                <td class="no-border-right"><img src="/images/tasks/Lessons/setAreaMod29.png" alt="" class="img-responsive margin-auto" /></td>
                                <td class="no-border-left">
                                    <p><abbr title="two halves">2&frasl;2</abbr></p>
                                    <p>1 of the 6 vertices of the hexagon are circled.</p>
                                    <p>(part-whole; set )</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </section>
<%- include partials/footer.ejs%>