<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./digitalTasks">Lessons</a></li>
    <li><a href="./setRep">Set Representations (Jr)</a></li>
</ol>

<main class="container">


<h1>Set Representations (Jr)</h1>

<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions using Sets: Pre-Activity</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p><abbr title="Minds On">MO</abbr> 10 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Action">A</abbr> 10 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Consolidate Debrief">C/D</abbr> 5 <abbr title="minutes">min</abbr></p>
        <p>30 <abbr title="minutes">min</abbr></p>

        <h3>Math Learning Goals</h3>
        <p>Students will:</p>
        <ul>
            <li>represent fractions as parts of a set or parts of a whole</li>
            <li>connect the part-whole meanings of fractions to representations based on measure (distance, area, volume) and set</li>
            <li>communicate criteria used to determine what can be represented by a fraction</li>
        </ul>

        <h3>Materials</h3>
        <ul>
            <li>A variety of manipulatives (could include measuring cups)</li>
        </ul>

        <h3>Minds On…</h3>
        <h4>Individual  Activating Prior Knowledge Activity</h4>
        <p>Ask students to construct representations of a fraction of their choice. Students record each representation and label it with the fraction in symbolic form.</p>

        <h4>Whole Class  Discussion</h4>
        <p>Ask students to share their fraction and their representation. Have other students share their fraction if they can connect it in some way to the previous fraction.</p>
        <p>Fractions could be similar because the student used the same type of model (in which case you could ask other students who used the same type of model to represent different fractions to share); the same type of representation, such as an area model or a set model; the same fraction represented using a different model.</p>

        <p>Curriculum expectations/observation/mental note: Ask students to explain the connections between their representation and the symbolic form.</p>
        <p>Student examples could be recorded on whiteboards or displayed via document camera to ease sharing.</p>


        <h3>Action!</h3>
        <h4>Pairs  Discussion</h4>
        <p>Share <abbr title="Blackline Master">BLM</abbr> 1 with the students. Ask pairs to identify what fraction of the balloons are orange? What assumptions are they making about the balloons? About the fraction? As the students make connections to the fraction language in the sidebar, formalize the language on the word wall.</p>

        <h4>Whole Class  Discussion</h4>
        <p>Ask four students to move to the front of the room. Use an appropriate fraction to describe the group (<abbr title="For example">e.g.</abbr>
        , one half is boys). Ask the students if it is appropriate to use a fraction even though the people are not connected (as were the pieces in an area model).</p>
        <p>Fraction language:</p>
        <ul>
        <li>Set model</li>
        <li>Area model</li>
        <li>Distance model</li>
        <li>Volume model</li>
        <li>Part</li>
        <li>Whole</li>
        <li>Equal measure</li>
        <li>Same colour</li>
        <li>Same attribute</li>
        </ul>


        <h3>Consolidate Debrief</h3>
        <h4>Individual  Math Log</h4>
        <p>Students respond to the prompt: Fractions can be represented using measurement models (such as distance, area, volume) or set models. Explain how these models are similar and how they are different.</p>

      </div>
    </div>
  </div>
</section>


<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master">BLM</abbr> 1</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <img src="" alt="" height="" width="" />
      </div>
    </div>
  </div>
</section>


<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions using Sets: Lesson 1</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p><abbr title="Minds On">MO</abbr> 10 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Action">A</abbr> 10 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Consolidate Debrief">C/D</abbr> 5 <abbr title="minutes">min</abbr></p>
        <p>30 <abbr title="minutes">min</abbr></p>

        <h3>Math Learning Goals</h3>
        <p>Students will:</p>
        <ul>
            <li>reason about the meaning of the denominator of the fraction for set models</li>
            <li>connect the part -whole meaning of fractions represented using sets</li>
        </ul>
        <h3>Materials</h3>
        <p>A number of lollipops</p>


        <h3>Minds On…</h3>
        <h4>Think/Pair  Activity</h4>
        <p>Tape four markers in two different colours randomly on the blackboard. Ask students to first individually think about the following questions:</p>
        <ul>
            <li>Do the markers represent a fraction?</li>
            <li>What fraction do you see first?</li>
            <li>What other fraction can you see?</li>
        </ul>
        <p>Have students pair and discuss their responses.</p>
        <p>Differentiate content based on student engagement/interest: Provide a set of markers including three different colours to generate as many fractions as possible.</p>


        <h3>Action!</h3>
        <h4>Whole Class  Discussion</h4>
        <p>Ask one pair to record one of the fractions on the board. Ask how many other pairs identified this fraction. Have another pair record on the board a different fraction they identified. Ask how many pairs saw this fraction. Continue until two equivalent fractions based upon the same attribute have been generated.</p>

        <p>Select one pair of equivalent fractions. Engage students in consideration of equivalent fractions using the following prompts:</p>
        <ul>
            <li>Are these two fractions the same? If so, how? If not, why not?</li>
            <li>What does the denominator represent in each of these fractions?</li>
            <li>What does the numerator represent in each of these fractions?</li>
            <li>How do fractions created from sets relate to fractions created from measurement models, such as an area model?</li>
        </ul>

        <p>It is important to record fractions with the attribute used. <abbr title="For example">E.g.</abbr>
        , <abbr title="two fourths">2&frasl;4</abbr> purple; <abbr title="one half">½</abbr> purple.</p>


        <h3>Consolidate Debrief</h3>
        <h4>Individual  Exit Card</h4>
        <p>Create a set of anything and represent it using a drawing. Write the fraction that it represents.</p>

      </div>
    </div>
  </div>
</section>

<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions using Sets: Lesson 2</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p><abbr title="Minds On">MO</abbr> 15 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Action">A</abbr> 30 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Consolidate Debrief">C/D</abbr> 15 <abbr title="minutes">min</abbr></p>
        <p>60 <abbr title="minutes">min</abbr></p>
        <h3>Math Learning Goals</h3>
        <p>Students will:</p>
        <ul>
        <li>reason about the meaning of the denominator of the fraction for set models where the denominator is large and non-standard</li>
        <li>connect the part- whole meanings of fractions represented using sets</li>
        </ul>

        <h3>Materials</h3>
        <p>A box of Smarties</p>
        <p>A document camera (Elmo)</p>


        <h3>Minds On…</h3>
        <h4>Individual  Activity</h4>
        <p>Share the contents of a box of Smarties and ask students to identify as many different fractions from the set as they can. Have them record each fraction in their notebook, including the attribute used (<abbr title="For example">e.g.</abbr>
        , <abbr title="five forty-fifths">5&frasl;45</abbr> are blue; <abbr title="four forty-fifths">4&frasl;45</abbr> are chipped, <abbr title="thirteen forty-fifths">13&frasl;45</abbr> are my favourite colour).</p>
        <p>You could create a <abbr title="Blackline Master">BLM</abbr> with a variety of coloured dots instead of using candies.</p>
        <p>Use a non-prime number of candies and a non-prime number of one colour to allow for generation of equivalent fractions.</p>


        <h3>Action!</h3>
        <h4>Whole Class  Discussion</h4>
        <p>Poll the class by having students raise their hands if they identified at least 5 fractions; 7 fractions; etc…. Ask the student who had the most fractions to come to the board and record what they think is the craziest fraction they found. Have other students raise their hand if they had recorded this fraction as well. Have other students share in a similar fashion until all fractions have been recorded.</p>
        <p>Remind students that when different attributes are considered, different fractions can be generated.</p>
        <p>Having the student who determined the most fractions share only one fraction allows for sharing by more students. Asking other students if they generated the same fraction shows that thinking in the class has common elements.</p>


        <h3>Consolidate Debrief</h3>
        <h4>Whole Class  Consolidation</h4>
        <p>Lead a discussion about the attribute that generated a pair of equivalent fractions that have been generated from the discussion. Ask students what they can tell you about that attribute (<abbr title="For example">e.g.</abbr>
        , what can you tell me about the blue Smarties – some people recorded this as 5/45 but others used <abbr title="one ninth">1&frasl;9</abbr>).</p>
        <p>Have students who consider the fractions to be the same come up and demonstrate their thinking. This may include sorted the Smarties into clusters to show the equivalence and discussing how many in each cluster creates the equivalent fraction.</p>
        <p>The use of a larger number of items and attributes pushes students beyond the familiar benchmarks and denominators to larger denominators.</p>

      </div>
    </div>
  </div>
</section>


<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions using Sets: Lesson 3</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p><abbr title="Minds On">MO</abbr> 5 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Action">A</abbr> 40 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Consolidate Debrief">C/D</abbr> 15 <abbr title="minutes">min</abbr></p>
        <p>60 <abbr title="minutes">min</abbr></p>

        <h3>Math Learning Goals</h3>
        <p>Students will:</p>
        <ul>
        <li>Represent a number of fractions using sets</li>
        <li>Reason about how changing the whole changes the fraction</li>
        </ul>

        <h3>Materials</h3>
        <p>Bags with 10 animal cards in each (randomly selected from <abbr title="Blackline Master">BLM</abbr> 3.1), 1 bag per group</p>

        <h3>Minds On…</h3>
        <h4>Individual  Activity</h4>
        <p>- could be something about changing the whole to make the fraction true</p>


        <h3>Action!</h3>
        <h4>Small Group  Activity</h4>
        <p>Distribute a cluster of animal cards (10) to each group. Ask groups to use their animal cards to represent the following fractions (move others aside as necessary):</p>
        <ul>
        <li>half the set has to be land animals;</li>
        <li>two-fourths must be water animals;</li>
        <li>one-third must have antlers</li>
        <li>two fractions (or more) of your own creation</li>
        </ul>

        <p>Students record solutions in their notebook.</p>

        <h4>Whole Class  Discussion</h4>
        <p>Call on a variety of students to share their fractions. Lead a discussion to highlight how the same fraction can represent very different sets (<abbr title="For example">e.g.</abbr>
        , half the set are land animals, and half the set are water animals), and how equivalent fractions can be used for the same attribute (<abbr title="For example">e.g.</abbr>
        ., for the land animals the fractions could be <abbr title="five tenths">5&frasl;10</abbr> or <abbr title="one half">½</abbr> which are equivalent).</p>


        <h3>Consolidate Debrief</h3>
        <h4>Whole Group  Consolidation</h4>
        <p>Students record the fractions created in the large group. Encourage them to make connections between the fractions (<abbr title="For example">e.g.</abbr>
        , same attribute, equivalent fractions) and record their fractions accordingly.</p>

      </div>
    </div>
  </div>
</section>


<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master">BLM</abbr> 3.1 Animal Cards</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <img src="" alt="" height="" width="" />
      </div>
    </div>
  </div>
</section>


<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions using Sets: Lesson 4</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p><abbr title="Minds On">MO</abbr> 5 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Action">A</abbr> 50 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Consolidate Debrief">C/D</abbr> 5 <abbr title="minutes">min</abbr></p>
        <p>60 <abbr title="minutes">min</abbr></p>

        <h3>Math Learning Goals</h3>
        <p>Students will:</p>
        <ul>
        <li>reason about the attributes for creating fractions of sets</li>
        </ul>

        <h3>Minds On…</h3>
        <h4>Independent  Think Time</h4>
        <p>Pose the following scenario to the students:</p>
        <p>I have a job that needs to be completed and I require a team of people to help me. There must be 8 people on the team. On the team, one-half must be girls and one-half must be boys. One-fourth of my team must be wearing running shoes. One-fourth of the team must be ready with a pen and paper.</p>
        <p>Ask students to think independently about the math and to draw models/record their thinking about how they could represent the scenario.</p>

        <h3>Action!</h3>
        <h4>Whole Class  Discussion</h4>
        <p>Ask students to raise their hand if they have an idea of how many people are required to satisfy one of the given criteria. Have someone share their answer and then ask students to come to the front of the room to model this thinking. For example, if a student says you need four girls then the teacher asks four girls to come up and stand at the front. Engage the students in further sharing of their reasoning and have students move to/from the front of the room accordingly. Responses will include that there must be:</p>
        <ul>
            <li>four boys (so four boys will move to the front of the room).</li>
            <li><abbr title="one half">½</abbr> girls and <abbr title="one half">½</abbr> boys</li>
            <li><abbr title="one fourth">¼</abbr>
        , or two students, wearing running shoes (students may have to switch places with classmates or remove their shoes to meet this criteria)</li>
            <li><abbr title="one fourth">¼</abbr>
        , or two students, must have pen and paper</li>
        </ul>
        <p>Continue to refer back to the original requirements so that students can see how they are meeting them as they change the composition of the group/set. Once they are done, remind them that this is a set which has been described using a number of fractions.</p>

        <h4>Pair/Square  Activity</h4>
        <p>Ask pairs to share with a partner how this visual representation helps them see the set whose attributes were described.</p>
        <p>Students model the following fractions with their partner (allow a minute to prepare and then enact the fraction):</p>
        <ul>
            <li>a set where one-half your set is at a high height and one-half is low</li>
            <li>a set of facial expressions representing a fraction of your choice (<abbr title="For example">e.g.</abbr>
        , one-fourth are smiling)</li>
        </ul>
        <p>Have pairs join another pair (square). Provide the group with 2 minutes to identify and plan the model of a fraction that they create using levels and/or facial expressions (<abbr title="For example">e.g.</abbr>
        , high and low with scared and with crying – <abbr title="one fourth">¼</abbr>
         is low and happy). Select a few groups to share their fractions with their classmates.</p>

        <p>Have each square join with another square to form a group of 8. Repeat the activity of planning and modeling a fraction as a group. Ask some groups to model their fraction without identifying the fraction they selected. Have students share what fractions they identify in the model.</p>


        <h3>Consolidate Debrief</h3>
        <h4>Individual  Exit Card</h4>
        <p>Complete <abbr title="Blackline Master">BLM</abbr> 4.1.</p>

      </div>
    </div>
  </div>
</section>



<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master">BLM</abbr> 4.1</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Consider the following group of shapes.</p>
        <p>Write at least four different fractions which could be used to describe the set. Be sure to explain how you are creating the fraction.</p>
        <img src="" alt="" height="" width="" />

        <p>Consider the following group of shapes.</p>
        <p>Write at least four different fractions which could be used to describe the set. Be sure to explain how you are creating the fraction.</p>
        <img src="" alt="" height="" width="" />

      </div>
    </div>
  </div>
</section>


<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Unit Representing Fractions using Sets: Lesson 5</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p><abbr title="Minds On">MO</abbr> 10 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Action">A</abbr> 10 <abbr title="minutes">min</abbr></p>
        <p><abbr title="Consolidate Debrief">C/D</abbr> 5 <abbr title="minutes">min</abbr></p>
        <p>30 <abbr title="minutes">min</abbr></p>

        <h3>Math Learning Goals</h3>
        <p>Students will:</p>
        <ul>
        <li>reason about the connections and distinctions between set and area representations</li>
        </ul>

        <h3>Materials</h3>
        <p>Copies of <abbr title="Blackline Master">BLM</abbr> 5.1</p>

        <h3>Minds On…</h3>
        <h4>Whole Class Shared Writing Activity</h4>
        <p>Share the following letter with the class and engage them in a shared writing activity to craft a response.</p>

        <p>Dear Ms. Fraction,</p>
        <p>In class yesterday Devon created the wrote the fraction 3/8 for the shapes we were given. The only way I could see that fraction was by considering the fraction of the shapes that had four sides but Devon said she looked at shapes that have four or more sides and are shaded in. I thought you could only consider one characteristic when creating a fraction, such as shape, and not two, such as shape and colour. Can you help me understand what Devon is thinking?</p>
        <p>Signed, Out of Shapes in Ontario</p>


        <h3>Action!</h3>
        <h4>Small Groups Preparation for Discussion</h4>
        <p>Assign Each group one of the letter in <abbr title="Blackline Master">BLM</abbr> 5.1, ensuring that each of the three letters is addressed by multiple groups. Pairs prepare a response to the letter they were assigned.</p>


        <h3>Consolidate Debrief</h3>
        <h4>Larger Groups  Collaborative Activity</h4>
        <p>Cluster pairs of students according to the letter they were assigned. Each pair presents their ideas to the larger group. The larger group reviews responses of their peers and establish, as a group, a ‘complete’ response. Remind each member of this larger group that they should be ready to present to the whole class.</p>
        <h4>Whole Class  Sharing</h4>
        <p>Select three representatives of each of the three larger groups to share their thinking with the entire class. Encourage Math Talk Learning Community.</p>

      </div>
    </div>
  </div>
</section>

<section class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse1"><abbr title="Blackline Master">BLM</abbr> 5.1</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Dear Ms. Fraction,</p>
        <p>Last night my Dad baked 12 Pumpkin Spice muffins. After my brothers and sisters had eaten some, my Dad said that there was one-third left. I think that there were four muffins left. So, now I don’t really whether my Dad or I is correct (but I hope it is me!).</p>
        <p>Please help!</p>
        <p><em>Signed Hungry in Hamilton</em></p>

        <p>Dear Ms. Fraction,</p>
        <p>This girl in my class, Brooke, really thinks I’m cool. At least she thought I was cool. Then she offered to split her candies with me. Well, Ms. Fraction, I forgot what I was doing and ate <abbr title="five sixths">5&frasl;6</abbr> of the candies. That made Brooke angry. She said I am worse than her brother, Dawson, who ate <abbr title="seven eighths">7&frasl;8</abbr> of the candies they were sharing.</p>
        <p>So who’s worse, Dawson or me?</p>
        <p><em>Signed Stumped Skittles Snacker</em></p>

        <p>Dear Ms. Fraction,</p>
        <p>Today in Math class, my teacher asked us to write a fraction to represent the green part in this model.</p>
        <p>Liam said that it showed one-fifth.</p>
        <p>Sam argued that it was six-tenths.</p>
        <p>My teacher said that both were correct but I don’t understand why.</p>
        <p>Are you smarter than my teacher? Can you help me?</p>
        <p><em>Signed Konfused in Kawartha</em></p>
      </div>
    </div>
  </div>
</section>



<%- include partials/footer.ejs%>
