<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/digitalPaper">Fractions: Representing Comparing Ordering</a></li>
    <li><a href="./studentLearn">Student Learning</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<h1>Student Learning</h1>



<iframe width="420" height="315" src="https://www.youtube.com/embed/IjKIghx9FQk" frameborder="0" allowfullscreen></iframe>
<!--Insert transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

        <h2>Student Learning Video Transcription</h2>
        <h3>Professional Learning about Fractions Digital Paper</h3>
        <table>
            <tr>
                <th>Time</th>
                <th>Transcript</th>
            </tr>
            <tr>
                <td>0:17</td>
                <td>
                    Student: <q>These are some of the ways to represent a fraction. So, shapes or a whole, a set, which is just a lot, of, and then adding, you only have, two of the balloons are red and three are blue, let’s say. And the number line, so the distance travelled, like for this point A and this is point B, and you made it one quarter of the way to B.</q>
                </td>
            </tr>
            <tr>
                <td>0:44</td>
                <td>
                    Student: <q>Like, there’s tons of kinds, like there’s sets, there’s number lines, there’s equivalent fractions, and just like all of them combine into one. It’s kind of like, these all mean the exact same but they are all shown differently.</q>
                </td>
            </tr>
            <tr>
                <td>0:58</td>
                <td>
                    Student: <q>Circles are also harder, um, because if you have an odd number, like a five, you wouldn’t be able to do it equally, instead of um, an even number like four you could just do like one, two, three, and four, and just split it, easy that way, but like a number line is just a line with bars, you can, basically it is just a lot easier.</q>
                </td>
            </tr>
            <tr>
                <td>1:27</td>
                <td>One team asked their students to generate fractions using pattern blocks. The students created fractions, such as one half, by showing that one red trapezoid is one half of the area of the yellow hexagon.</td>
            </tr>
            <tr>
                <td>1:42</td>
                <td>Students also created proper fractions by using a set representation, such as in these examples. The first shows that four tenths of the pieces are hexagons. The second shows that six of the pieces are trapezoids and four are hexagons</td>
            </tr>
            <tr>
                <td>2:03</td>
                <td>When the students shared their thinking with their classmates, other fractions came to light.</td>
            </tr>
            <tr>
                <td>2:09</td>
                <td>Student: <q>Well, this is two, well five halves. No, I know what you are thinking here, you can’t really do that in one shape. Well, actually you don’t have to use one shape. So, it says over here with our mixed fraction, I know it’s hard to read because it’s sideways, um, it says two and one half. So, that’s the one whole, that’s the second whole, and that’s the one half.</q></td>
            </tr>
            <tr>
                <td>2:34</td>
                <td>Students investigated improper fractions using a situation with cookies and trays based on the Gap Closing materials. Discussion during the whole class debrief allowed students to connect their reasoning and thinking to that of their peers.</td>
            </tr>
            <tr>
                <td>2:48</td>
                <td>
                    <p>Student: <q>Should we have left the cookies out or should we have put it in the trays with some empty space?</q></p>
        <p>Judy: <q>Did anyone put them in the tray with, ya, this one has some in the tray with some empty spaces. So, this is one. It’s, does it, would it matter?</q></p>
                </td>
            </tr>
            <tr>
                <td>3:05</td>
                <td>As students worked with a partner to complete the tasks, they were able to discuss their thinking and support each other in deepening their understanding.</td>
            </tr>
            <tr>
                <td>3:14</td>
                <td>
                    <p>Student 1: <q>Four, five. And I am going to divide five right here </q></p>
        <p>Student 2: <q>No, no. Five right there…’cause it’s the…</q></p>
        <p>Student 1: <q>O.K. five.</q></p>
        <p>Student 2: <q>O.K. So then, we should have used the ruler but …</q></p>
        <p>Student 1: <q>Yes, we should have.</q></p>
        <p>Student 2: <q>O.K. Perfect. So, it’s two, um, fifths so we colour in two of these.</q></p>
                </td>
            </tr>
            <tr>
                <td>3:43</td>
                <td>
                    <p>Students also used manipulatives and calculators to verify or revise their thinking.</p>
        <p>Teacher: <q>What do you know about this?</q></p>
        <p>Student: <q>Well, four tenths equal two fifths…and we tried four tenths with three eighths but it doesn’t work.</q></p>
                </td>
            </tr>
            <tr>
                <td>4:04</td>
                <td>
                    <p>Student 1: <q>This is 70, 60 …we need it bigger, can you erase that and make it to the end?</q></p>
        <p>Student 2: <q>Ah, this is a quarter!</q></p>
        <p>Student 3: <q>How did you know that?</q></p>
        <p>Student 2: <q>Cause I divided and it equalled 25.</q></p>
                </td>
            </tr>
            <tr>
                <td>4:25</td>
                <td>
                    Jan: <q>What would happen if we had, after that consolidation piece, if we had kids who had to, say Mackenzie and Macaleigh had to join up with Courtney and Tanya and then they had to explain their thinking to them. And could Courtney, and then maybe even, are there specific questions that we would have the kids ask the other students so that maybe Mackenzie and Macaleigh might think ‘Oh, I am having trouble explaining it to them. Maybe I don’t really know.</q>
                </td>
            </tr>
            <tr>
                <td>4:54</td>
                <td>Janice: <q>I think that is one thing we have really learned, is that until we really ask them again, we aren’t really certain what they are thinking.</q></td>
            </tr>
            <tr>
                <td>5:02</td>
                <td>
                    Teachers in the collaborative action research fractions study were learners with their colleagues and their students. This learning stance made students more acutely aware that their ideas were valued, and used to direct future learning opportunities. Students were excited about sharing their learning, knowing that their ideas were being discussed with the research team.
                </td>
            </tr>
            <tr>
                <td>5:23</td>
                <td>
                    Kerry: <q>I think the kids were more engaged because I sat down yesterday and I said I was coming to this today and we wanted to know what they know. So they just started throwing things out and started off with ‘well, we know one-half. We are really confident with one-half.’ Then they went and gave me all kinds of equivalent fractions but, you know, different orders of one-half. Then they went on to talk about the set model and the area model, didn’t spend too much time on that and then went right to the number line and said ‘Oh, we learned that number lines are really important and that it is easier to order and compare using them.’ And it, it was just, and they talked, they were engaged and I was kind of surprised that I had them engaged for that length of time. And scribbling, like I was scribbling things on the chart as they were speaking, and um, I think it was because they took part it in, it wasn’t just an ‘O.K., bang, bang, bang, today we are going to do this, and then bang, bang, bang’ and it just keeps moving, like turning the page. It was kind of getting into that book and talking about that story as opposed to just moving to the next chapter.</q>
                </td>
            </tr>
        </table>




      </div>
    </div>
  </div>
</div>


<h3>Research Story</h3>

<p>Students consistently demonstrated a broad range of conceptions of fractions and were persistent in using this prior knowledge. Although many students held misconceptions, they simultaneously held correct understandings about number in general and fractions in particular. When teachers had a clear understanding of student understanding of fractions, their instructional decisions were more precise.</p>

<p>Teams explored appropriate use of a variety of manipulatives and representations. Students deepened their understanding, using manipulatives and representations as a site for problem solving to:</p>
<ul>
<li>further deepen and refine their thinking;</li>
<li>confirm/refute the validity of other representations;</li>
<li>privilege representations other than numeric/symbolic;</li>
<li>connect different interpretations of fractions (<abbr title="that is">i.e.</abbr>, part-whole as continuous, part-whole as discrete, part-part, operator, quotient, linear measure), and;</li>
<li>communicate their thinking.</li>
</ul>

<h3>Student engagement with fractions ideas and learning</h3>

<p>The teams took advantage of the collective knowledge about fractions in the classroom to enhance individual understandings. Developing a math talk learning community allowed students to reveal their thinking. When students were allowed to grapple with their misconceptions through dialogue with peers, they often developed a more accurate and robust understanding of fractions concepts. Open tasks allowed students to apply their knowledge and build on it throughout the lesson.</p>

<p>Students in all grades demonstrated success using number lines to represent, compare and order fractions. The number line emphasized fraction as a number and also allowed students to make connections to decimals and percents. Close examination of student work in the process revealed a high reliance on area models, particularly circles, in spite of difficulty with partitioning circles into equal parts. This was new learning for educators, who had rarely used number lines to explore fractions with students previously. In general, students favoured one of area or set models and had difficulty moving flexibly between the two.</p>

<h3>Student engagement with rich tasks</h3>

<p>As student needs became more apparent, teachers made precise and purposeful task selections. Sources for these tasks included professional journals and research articles, textbooks, resource books, as well as lessons co-planned by the team.</p>

<p>Three main questions emerged related to the teaching and learning of fractions:</p>
<ol>
<li>Which representations support students in acquiring a deep understanding of fractions?</li>
<li>When is accuracy in representations important?</li>
<li>When should misconceptions be permitted to stand?</li>
</ol>

<ol>
    <li>
Which representations support students in acquiring a deep understanding of fractions?
<ul>
<li>Students relied heavily on hand-constructed circle models to represent their thinking. This representation proved limiting when trying to compare fractions such as <abbr title="two fifths">2&frasl;5</abbr> and <abbr title="four tenths">4&frasl;10</abbr>, for the simple fact that it is spatially difficult to partition a circle into tenths and fifths. Some representations also reinforce the common student misconception that a fraction represents two numbers (the two and the five in two fifths, for example) and not one singular quantity or number as is the case. This misconception is reinforced, for example, when students count the sections of a circle without understanding that the circle represents the whole. The use of linear models and rectangular models avoided some of these challenges and supported an increased understanding of fraction concepts.</li>
</ul>
    </li>
    <li>
When is accuracy in representations important?
<ul>
<li>When hand-drawing a representation, it was important for students to understand how much accuracy is required. Some students found it difficult to articulate the situations that required less or more accuracy. For example, when using a hand-drawn representation to compare <abbr title="two fifths">2⁄&frasl;5</abbr> and <abbr title="eight ninths">8⁄&frasl;9</abbr>, a high degree of accuracy may not be necessary for students who easily see that abbr title="two fifths">2⁄&frasl;5</abbr> is closer to 0 and 8<abbr title="eight ninths">8⁄&frasl;9</abbr> is closer to 1, so will conclude that abbr title="two fifths">2⁄&frasl;5</abbr> is less than <abbr title="eight ninths">8⁄&frasl;9</abbr>. However, when comparing abbr title="two fifths">2⁄&frasl;5</abbr> and <abbr title="one third">1⁄&frasl;3</abbr>, more precise representations may be required to ensure that an accurate comparison is made.</li>
</ul>
    </li>
    <li>
When should misconceptions be permitted to stand?
<ul>
<li>In this study, teams found that letting student misconceptions stand, even overnight, did not solidify the misconception but rather gave the student time to think it through. Careful selection of rich tasks challenged students to revisit their fragile understandings and through discussion/exploration both in class and beyond class time, cemented more precise and accurate conceptions of fractions.</li>
    </li>
</ol>


<h3>Student engagement with one another</h3>
<p>In classrooms where the math-talk learning community was purposefully developed, students were able to communicate their reasoning clearly with classmates in small and whole group settings. Students used word walls, anchor charts, manipulatives and technologies, such as the document camera and interactive whiteboard, to increase the precision of their communication. Students were able to agree and disagree with reason to revise and refine their individual and collective understandings.</p>


<h3>Student engagement with the teacher</h3>
<p>Students developed and refined their understanding of fractions through dialogue with their teacher, particularly when the teacher probed to understand student thinking rather than focusing on the correctness of student responses. Teachers in the collaborative action research fractions project were learners with their colleagues and their students. This learning stance made students more acutely aware that their ideas were valued, and used to direct future learning opportunities. The fact that their teachers were engaged in research informed by their responses got students excited about sharing their learning, knowing that their ideas were being discussed with the research team.</p>


<%- include partials/footer.ejs%>
