<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/research">All Research</a></li>
  <li class="breadcrumb-item"><a href="/research/digitalPaper">Fractions: Representing, Ordering, Comparing</a></li>
  <li class="breadcrumb-item active">Instructional Decisions</li>
</ol>

<main class="container-digital-paper">

  <section class="row padding-bottom gen-pdf-container">
    <div class="gen-pdf">
      <a href="/pdf/ResourcePDFs/TranscriptionofStudentLearningVideo.pdf" target="_blank">Download PDF</a>
    </div>
  </section>

  <section class="row">

    <h2>Student Learning Video Transcription</h2>
    <h3><em>Professional Learning about Fractions</em> Digital Paper</h3>

    <table class="digitalTable">
      <tr style="text-align:center">
        <th>Time</th>
        <th>Transcript</th>
      </tr>
      <tr>
        <td>0:17</td>
        <td>
          Student: <q>These are some of the ways to represent a fraction. So, shapes or a whole, a set, which is just a lot, of, and then adding, you only have, two of the balloons are red and three are blue, let’s say. And the number
            line, so the distance travelled, like for this point A and this is point B, and you made it one quarter of the way to B.</q>
        </td>
      </tr>
      <tr>
        <td>0:44</td>
        <td>
          Student: <q>Like, there’s tons of kinds, like there’s sets, there’s number lines, there’s equivalent fractions, and just like all of them combine into one. It’s kind of like, these all mean the exact same but they are all shown
            differently.</q>
        </td>
      </tr>
      <tr>
        <td>0:58</td>
        <td>
          Student: <q>Circles are also harder, um, because if you have an odd number, like a five, you wouldn’t be able to do it equally, instead of um, an even number like four you could just do like one, two, three, and four, and just
            split it, easy that way, but like a number line is just a line with bars, you can, basically it is just a lot easier.</q>
        </td>
      </tr>
      <tr>
        <td>1:27</td>
        <td>One team asked their students to generate fractions using pattern blocks. The students created fractions, such as one half, by showing that one red trapezoid is one half of the area of the yellow hexagon.</td>
      </tr>
      <tr>
        <td>1:42</td>
        <td>Students also created proper fractions by using a set representation, such as in these examples. The first shows that four tenths of the pieces are hexagons. The second shows that six of the pieces are trapezoids and four are
          hexagons</td>
      </tr>
      <tr>
        <td>2:03</td>
        <td>When the students shared their thinking with their classmates, other fractions came to light.</td>
      </tr>
      <tr>
        <td>2:09</td>
        <td>Student: <q>Well, this is two, well five halves. No, I know what you are thinking here, you can’t really do that in one shape. Well, actually you don’t have to use one shape. So, it says over here with our mixed fraction, I
            know it’s hard to read because it’s sideways, um, it says two and one half. So, that’s the one whole, that’s the second whole, and that’s the one half.</q></td>
      </tr>
      <tr>
        <td>2:34</td>
        <td>Students investigated improper fractions using a situation with cookies and trays based on the Gap Closing materials. Discussion during the whole class debrief allowed students to connect their reasoning and thinking to that of
          their peers.</td>
      </tr>
      <tr>
        <td>2:48</td>
        <td>
          <p>Student: <q>Should we have left the cookies out or should we have put it in the trays with some empty space?</q></p>
          <p>Judy: <q>Did anyone put them in the tray with, ya, this one has some in the tray with some empty spaces. So, this is one. It’s, does it, would it matter?</q></p>
        </td>
      </tr>
      <tr>
        <td>3:05</td>
        <td>As students worked with a partner to complete the tasks, they were able to discuss their thinking and support each other in deepening their understanding.</td>
      </tr>
      <tr>
        <td>3:14</td>
        <td>
          <p>Student 1: <q>Four, five. And I am going to divide five right here </q></p>
          <p>Student 2: <q>No, no. Five right there…’cause it’s the…</q></p>
          <p>Student 1: <q>O.K. five.</q></p>
          <p>Student 2: <q>O.K. So then, we should have used the ruler but …</q></p>
          <p>Student 1: <q>Yes, we should have.</q></p>
          <p>Student 2: <q>O.K. Perfect. So, it’s two, um, fifths so we colour in two of these.</q></p>
        </td>
      </tr>
      <tr>
        <td>3:43</td>
        <td>
          <p>Students also used manipulatives and calculators to verify or revise their thinking.</p>
          <p>Teacher: <q>What do you know about this?</q></p>
          <p>Student: <q>Well, four tenths equal two fifths…and we tried four tenths with three eighths but it doesn’t work.</q></p>
        </td>
      </tr>
      <tr>
        <td>4:04</td>
        <td>
          <p>Student 1: <q>This is 70, 60 …we need it bigger, can you erase that and make it to the end?</q></p>
          <p>Student 2: <q>Ah, this is a quarter!</q></p>
          <p>Student 3: <q>How did you know that?</q></p>
          <p>Student 2: <q>Cause I divided and it equalled 25.</q></p>
        </td>
      </tr>
      <tr>
        <td>4:25</td>
        <td>
          Jan: <q>What would happen if we had, after that consolidation piece, if we had kids who had to, say Mackenzie and Macaleigh had to join up with Courtney and Tanya and then they had to explain their thinking to them. And could
            Courtney, and then maybe even, are there specific questions that we would have the kids ask the other students so that maybe Mackenzie and Macaleigh might think ‘Oh, I am having trouble explaining it to them. Maybe I don’t
            really know.</q>
        </td>
      </tr>
      <tr>
        <td>4:54</td>
        <td>Janice: <q>I think that is one thing we have really learned, is that until we really ask them again, we aren’t really certain what they are thinking.</q></td>
      </tr>
      <tr>
        <td>5:02</td>
        <td>
          Teachers in the collaborative action research fractions study were learners with their colleagues and their students. This learning stance made students more acutely aware that their ideas were valued, and used to direct future
          learning opportunities. Students were excited about sharing their learning, knowing that their ideas were being discussed with the research team.
        </td>
      </tr>
      <tr>
        <td>5:23</td>
        <td>
          Kerry: <q>I think the kids were more engaged because I sat down yesterday and I said I was coming to this today and we wanted to know what they know. So they just started throwing things out and started off with ‘well, we know
            one-half. We are really confident with one-half.’ Then they went and gave me all kinds of equivalent fractions but, you know, different orders of one-half. Then they went on to talk about the set model and the area model,
            didn’t spend too much time on that and then went right to the number line and said ‘Oh, we learned that number lines are really important and that it is easier to order and compare using them.’ And it, it was just, and they
            talked, they were engaged and I was kind of surprised that I had them engaged for that length of time. And scribbling, like I was scribbling things on the chart as they were speaking, and um, I think it was because they took
            part it in, it wasn’t just an ‘O.K., bang, bang, bang, today we are going to do this, and then bang, bang, bang’ and it just keeps moving, like turning the page. It was kind of getting into that book and talking about that
            story as opposed to just moving to the next chapter.</q>
        </td>
      </tr>
    </table>
  </section>

</main>
  <%- include partials/footer.ejs%>
