<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Documents Briefs</a></li>
</ol>


<main class="container">

<h1>Document Briefs</h1>

<div class="row">
<a href="/supportDocs/waysWeUseFrac">
  <div class="col-md-4">
    <figure class="thumbnail">
      <img src="/images/research/supportDocs/waysUse1.png" alt="Ways We Use Fractions" height="100px" width="200px"
      class="img-rounded" style="margin-top: 32px;">
      <figcaption class="caption">
        <h2>Ways We Use Fractions</h2>
        <p>Check out these great math tips</p>
      </figcaption>
    </figure>
  </div>
</a>


<!--accessibility code  -->

<!-- <a class="th" role="button" aria-label="Thumbnail" href="../assets/img/examples/space.jpg">
  <img aria-hidden=true src="../assets/img/examples/space-th-sm.jpg"/>
</a> -->

<a href="/supportDocs/devFracNumSense">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Developing Fraction Number Sense</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="/supportDocs/purpRep">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Purposeful Representations</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>
  </div>




  <div class="row">
  <a href="/supportDocs/devPartItDisembed">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="200px" class="img-rounded" style="margin-top: 90px;">
        <div class="caption">
          <h2>Developing Proficiency with Partitioning, Iterating, and Disembedding</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>


  <a href="/supportDocs/buildUnitFrac">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="200px" class="img-rounded">
        <div class="caption">
          <h2>Building Understanding of Unit Fractions</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildEquiv">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/images/research/supportDocs/buildEquiv1.png" alt="Building Understanding of Equivalence" height="100px" width="200px" class="img-rounded" style="margin-top: 60px;">
        <div class="caption">
          <h2>Building Understanding of Equivalence</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>
    </div>







    <div class="row">
    <a href="/supportDocs/buildAddSub">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="100px" width="200px" class="img-rounded">
          <div class="caption">
            <h2>Building to Addition and Subtraction of Fractions</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>


    <a href="/supportDocs/actFracUnd">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/images/research/supportDocs/actFracUnd1.png" alt="Actions to Develop Fractions Understanding" height="100px" width="200px" class="img-rounded">
          <div class="caption">
            <h2>Actions to Develop Fractions Understanding</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>

    <a href="/supportDocs/tasksThinking">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/images/research/supportDocs/intTasks.png" alt="Intentional Tasks to Develop Fractions Thinking" height="100px" width="200px" class="img-rounded"  style="margin-top: 60px;">
          <div class="caption">
            <h2>Intentional Tasks to Develop Fractions Thinking</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
      </div>



      <div class="row">
      <a href="/supportDocs/fracAcrossStrands">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="/images/research/supportDocs/fracAcrossStrands1.png" alt="Fractions Across Strands and Grades: Sample Tasks" height="100px" width="200px" class="img-rounded">
            <div class="caption">
              <h2>Fractions Across Strands and Grades: Sample Tasks</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>


      <a href="/supportDocs/respThink">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="/images/research/supportDocs/respThink1.png" alt="Being Responsive to Student Thinking" height="100px" width="200px" class="img-rounded">
            <div class="caption">
              <h2>Being Responsive to Student Thinking</h2>
              <p></p>
            </div>
          </div>
        </div>
      </a>

        </div>



<%- include partials/footer.ejs%>
