<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">All Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
</ol>


<main class="container">

  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12 no-padding">
      <h1>Document Briefs</h1>
    </div>
  </section>

  <section class="row">
    <a href="/supportDocs/waysWeUseFrac">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/research/supportDocs/waysUse1.png" alt="Ways We Use Fractions" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Ways We Use Fractions</h2>
            <p>Check out these great math tips</p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/supportDocs/devFracNumSense">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" class="img-rounded img-responsive margin-auto">
          <ficaption class="caption">
            <h2>Developing Fraction Number Sense</h2>
            <p></p>
          </ficaption>
        </figure>
      </div>
    </a>
    <a href="/supportDocs/purpRep">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Purposeful Representations</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/supportDocs/">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/placeholder-image.png" alt="Rectangles, Number Lines and Circles, Oh My!" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Rectangles, Number Lines and Circles, Oh My!</h2>
            <p>Page needs to be created!</p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/supportDocs/devPartItDisembed">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Developing Proficiency with Partitioning, Iterating, and Disembedding</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/supportDocs/buildUnitFrac">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Building Understanding of Unit Fractions</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/supportDocs/buildEquiv">
      <div class="col-sm-6 col-md-4">
        <figure class="thumbnail">
          <img src="/images/research/supportDocs/buildEquiv1.png" alt="Building Understanding of Equivalence" class="img-rounded img-responsive margin-auto">
          <figcaption class="caption">
            <h2>Building Understanding of Equivalence</h2>
            <p></p>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="/supportDocs/buildAddSub">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" class="img-rounded img-responsive margin-auto">
          <div class="caption">
            <h2>Building to Addition and Subtraction of Fractions</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
  </section>
<%- include partials/footer.ejs%>