<section class="row icons-tabs-section">
  <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
        <p><img src="../images/fractions-icons/Templates-icon-grey.png" alt="" width="40px" height="50px" /></p>
        <p>Templates</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
        <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
        <p>Implementation</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
        <p><img src="../images/fractions-icons/student-thinking-icon.png" alt="" width="40px" height="50px" /></p>
        <p>Student Thinking</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
        <p><img src="../images/fractions-icons/Resources-icon.png" alt="" width="40px" height="50px" /></p>
        <p>Additional Resources</p>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!-- Templates TAB - LIST -->
    <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">
      list 1
    </div>
    <!-- Implementation TAB - LIST -->
    <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">
      list 2
    </div>
    <!-- Student Thinking TAB - LIST -->
    <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">
      list 3
    </div>
    <!-- Additional Resources TAB - LIST -->
    <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">
      list 4
    </div>
  </div>
</section>
