<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./tasksThinking">Intentional Tasks to Develop Fractions Thinking</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
<h2 class="color-lil">Intentional Tasks to Develop Fractions Thinking</h2>

<div class="gen-pdf">
    <a href="/pdf/IntentionalTaskstoDevelopFractionsThinking.pdf" target="_blank">Download PDF</a>
</div>

<p>Current research in Ontario classrooms is revealing the rich learning opportunities afforded through the use of thoughtfully
selected tasks. Such tasks allow students to draw on their mathematical intuition and to connect new learning to previous
knowledge. This section contains a few examples intended to provide criteria for thoughtful selection and ideas on how
to modify familiar tasks.</p>

<div class="col-md-6">
<h3 class="color-lil">Ask students</h3>
<p>What fraction of the area in the figure is shaded?</p>
<img src="/images/pdf-img/intDev1.png" alt="" height="" width=""/>
</div>
<div class="col-md-6">
<h3 class="color-lil">Instead of</h3>
<p>Write the fraction shown below.</p>
<img src="/images/pdf-img/intDev2.png" alt="" height="" width="" />
</div>
<div class="clearfix"></div>
<p>In the first question, it is clear what attribute (shaded area) is to be represented by the fraction, whereas in the second
question, students could write a variety of fractions, including for the shaded area, the unshaded area and the whole.
Also, notice that in the first question, students need to create the equi-partitions (establish the unit fraction) and
then use this information to determine the fractionalportion shaded. They could add the two smaller equal regions together
to see that this is <abbr title="">2/5</abbr>, or theymay see this as <abbr title="">4/10</abbr>. This fact can lead to a discussion of the equivalence of these two fractions and allow for a connection among the symbolic representations, the diagrams and the actions of equi-partitioning and merging or splitting.</p>
<p>In the second question, students can easily use a counting approach – count the number of shaded sections (one, two, three, four) and count the total number of sections (one, two, three, four, five, six,seven, eight, nine, ten). In this case, they may generate the correct answer (<abbr title="">4/10</abbr>) but use no fractions thinking.</p>
<p>Consider how the suggested tasks require students to reason proportionally, and perhaps spatially, about fractions and to
use their fraction number sense.</p>

<div class="col-md-6 purp-gr-tbl">
<h3 class="color-lil">Ask students</h3>
	<p>Compare subtracting <abbr title="">1/2</abbr> from <abbr title="">2/7</abbr> with subtracting <abbr title="">1/8</abbr> from <abbr title="">2/7</abbr>. Which results in a larger difference? Explain your answer.</p>
</div>
<div class="col-md-6 purp-gr-tbl">
<h3 class="color-lil">Instead of</h3>

<p>Subtract the fractions and express your answer in its simplest terms.<abbr title="">2/7</abbr> – <abbr title="">1/2</abbr> = </p><p><abbr title="">2/7</abbr>– <abbr title="">1/8</abbr>= </p></div>
<div class="clearfix"></div>
<div class="col-md-6 purp-gr-tbl">
	<p>Consider <abbr title="">2/5</abbr> of <abbr title="">11/13</abbr>. Would you predict the answer to be: </p>
	<ol>
	<li>less than <abbr title="">11/13</abbr>?</li>
	<li><abbr title="">11/13</abbr>?</li>
	<li>more than <abbr title="">11/13</abbr>?</li>
	</ol>
	<p>Explain your reasoning.</p>
</div>
<div class="col-md-6 purp-gr-tbl">
<p>Calculate <abbr title="">2/5</abbr> of <abbr title="">11/13</abbr>.</p>
</div>
<div class="clearfix"></div>
<div class="col-md-6 purp-gr-tbl">
<p>12 divided by <abbr title="">2/5</abbr> is 30. Will 12 divided by <abbr title="">3/5</abbr> be less than or more than 30? Explain your answer.</p>
</div>
<div class="col-md-6 purp-gr-tbl">
<p>Calculate 12 ÷ <abbr title="">2/5</abbr>.</p>
<p>Calculate 12 ÷ <abbr title="">3/5</abbr>.</p>

</div>
</main>

<%- include partials/footer.ejs%>
