<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">All Activities</li>
</ol>


<main class="container">
  <section class="row padding-bottom">
    <div class="col-sm-12 col-md-12">
      <h1>All Activities</h1>
    </div>
  </section>

  <section class="row">
    <a href="/tasks/pathwayTasks">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <figure>
            <img src="/images/pathway/pathway.png" alt="Pathways Tasks" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>Classroom Resources</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="/tasks/digitalTasks">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <figure>
            <img src="/images/digitalPaper.png" alt="Digital Paper Lessons" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>Lessons</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
    <a href="">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <figure>
            <img src="/images/comingsoon.png" alt="Quick Tasks Coming Soon" class="img-responsive margin-auto">
          </figure>
          <div class="caption">
            <h2>Quick Tasks</h2>
            <p></p>
          </div>
        </div>
      </div>
    </a>
  </section>
  <%- include partials/footer.ejs%>
