<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
</ol>


<main class="container">
<section>
  <h1>Activities</h1>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div class="row">
  <a href="/tasks/pathwayTasks">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/images/pathway/pathway.png" alt="Pathways Tasks" height="100px" width="200px" class="img-rounded">
        <div class="caption">
          <h2>Tasks</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>


  <a href="/tasks/digitalTasks">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/images/digitalPaper.png" alt="Digital Paper Lessons" height="100px" width="200px" class="img-rounded">
        <div class="caption">
          <h2>Lessons</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>



  <a href="">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/images/comingsoon.png" alt="Quick Tasks Coming Soon" height="100px" width="200px" class="img-rounded">
        <div class="caption">
          <h2>Quick Tasks</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

    </div>

<%- include partials/footer.ejs%>
