<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/digitalPaper">Fractions: Representing Comparing Ordering</a></li>
    <li><a href="./teachProLearn">Teacher Professional Learning</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<h1>Teacher Professional Learning</h1>


<iframe width="420" height="315" src="https://www.youtube.com/embed/-PgguBz_w70" frameborder="0" allowfullscreen></iframe>
<!--Insert transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

        <h2>Teacher Professional Learning Video Transcription</h2>
        <h3>Professional Learning about Fractions Digital Paper</h3>

        <table>
            <tr>
                <th>Time</th>
                <th>Transcript</th>
            </tr>
            <tr>
                <td>0:09</td>
                <td>
                    The process of collaborative action research allowed teachers to identify and reflect upon their students’ knowledge and skills while deepening their own understanding of mathematics content and pedagogy.
                </td>
            </tr>
            <tr>
                <td>0:26</td>
                <td>
                    Teachers used a diagnostic tool to uncover the knowledge and skills of their students in fractions. This allowed them to identify trends in student responses within and between classes and grades.
                </td>
            </tr>
            <tr>
                <td>0:41</td>
                <td>The teams also explored different meanings of a fraction and connected this to their students’ demonstrated skills and knowledge.</td>
            </tr>
            <tr>
                <td>0:55</td>
                <td>Kit: “And you can make a variety of fractions out of them. Oh, that is what we said too…..</td>
            </tr>
            <tr>
                <td>1:23</td>
                <td>
                    <p>Janice: <q>Do you think really that, um, converting one or other of the fractions so that you can directly compare the two fractions, you think that is only a 1? Like if they say ‘Well, I know that two-twelfths is the same as one-sixth and that is obviously less than two-sixths.’</q></p>
        <p>Cathy: <q>But that is a different – that is a 2 explanation. That is not what this one says which is…</q></p>
        <p>Janice: <q>That is not the same as saying ‘I know that two-sixths is the same as four-twelfths’?</q></p>
        <p>Cathy: <q>Oh. I see.</q></p>
        <p>Janice: <q>And so obviously four-twelfths is greater than two-twelfths.</q></p>
        <p>Kerry: <q>That’s what she’s got here.</q></p>
        <p>Janice: <q>Like I just think that coming to an equivalency…</q></p>
        <p>Cathy: <q>Yeah, I see.</q></p>
        <p>Janice: <q>is still pretty two-ish.</q></p>
        <p>Kerry: <q>Rachel says…</q></p>
        <p>Janice: <q>Isn’t it? Is that fair?</q></p>
        <p>Kerry: <q>she is saying that if you make them equivalent than it is two-twelfths and four-twelfths so two-twelfths is smaller.</q></p>
        <p>Janice: <q>Yeah, I think that is a 2.</q></p>
        <p>Kerry: <q>But four-twelfths…</q></p>
        <p>Cathy: <q>That example of an explanation…</q></p>
        <p>Janice: <q>It’s just a different way of explaining. Like, you can explain the number or size of pieces but I don’t think that is more, that shows more mathematical understanding of fractions than to say….</q></p>
        <p>Cathy: <q>OK.</q></p>
                </td>
            </tr>
            <tr>
                <td>2:24</td>
                <td>
                    <p>The teams used information from the diagnostics to plan exploratory lessons. Some of the questions teams focused on during these lessons were:</p>
                    <ul>
        <li>How do students use fractions representations as tools for their thinking?</li>
        <li>How can we ensure that our students are thinking and reasoning with a variety of fractions, including proper, improper, and mixed numbers?</li>
        <li>How do help students develop a deep understanding of fractions in multiple contexts?</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2:49</td>
                <td>
                    Each group then developed one or more exploratory lessons to be co-taught and observed in one of the classrooms, while other teachers were encouraged to use this lesson in their own classroom ahead of time. This allowed teams to anticipate a diverse range of student responses and increased the teachers’ ability to understand students’ mathematical thinking in the shared lesson.
                </td>
            </tr>
            <tr>
                <td>3:15</td>
                <td>
                    <p>Kit: <q>So Keira, how does that represent four-thirds to you?</q></p>
        <p>Keira: <q>Well, um since, the three thirds would equal one whole, I just added one other third to make four.</q></p>
        <p>Kit: <q>OK, so you are using three, in one whole there and then you’ve got an extra piece of that that’s the same size as one of the parts.</q></p>
                </td>
            </tr>
            <tr>
                <td>3:40</td>
                <td>
                    <p>Student 1: <q>Right here, and that would be twenty and that wouldn’t be a twenty-one, so it would have to be like, right…</q></p>
        <p>Student 2: <q>Then draw it there.</q></p>
        <p>Student 2: <q>So the, where would 10 over 20, so that is pretty much here.</q></p>
                </td>
            </tr>
            <tr>
                <td>4:00</td>
                <td>
                    <p>Karen: <q>Five important things? Five important things that maybe we have learned and talked about. Name one, Hillary.</q></p>
        <p>Hillary: <q>You have to have equal parts.</q></p>
        <p>Karen: <q>Equal parts is important. Joseph?</q></p>
        <p>Joseph: <q>Ah. You can add zeros.</q></p>
        <p>Karen: <q>You can add zeros. You can go with those multiples and it will still be the same.</q></p>
                </td>
            </tr>
            <tr>
                <td>4:21</td>
                <td>Following the exploratory lessons, the teams met to discuss their observations of student thinking and to identify next steps for instruction.</td>
            </tr>
            <tr>
                <td>4:36</td>
                <td>
                    <p>Kerry: <q>This one here, these bars are the division that is the fraction sign.</q></p>
        <p>Teachers: <q>Oh.</q></p>
        <p>Kerry: <q>This is ten over four. He said this should have been flipped around. {student} told him that. But still, ten over four. One, two, three, four, …</q></p>
                </td>
            </tr>
            <tr>
                <td>4:59</td>
                <td>
                    Kristen: <q>To really be able to give all of the pairs this to go back to now because those who are ready to start writing them as mixed number fractions might be able to take that leap and do that. Those who really weren’t sure on how to represent, like the girls who didn’t know the size of the bags, hopefully could then go ahead and make those changes.</q>
                </td>
            </tr>
            <tr>
                <td>5:20</td>
                <td>
                    <p>Janice: <q>My take away is, rather than, how when you slowed something right down and you, we slowed fractions right down and we cared to ask every kid about what they had drawn and why they had drawn it, and some of the things they said were shocking, right? Even when we had kids go back and do something again, like when you had the kids go back and show two-fifths, or whatever, is it possible?</q></p>
        <p>Teacher: <q>Yes.</q></p>
        <p>Janice: <q>It was shocking to see that they still couldn’t do that physically or whatever.</q></p>
        <p>Teacher: <q>Yeah.</q></p>
        <p>Janice: <q>You know, sometimes we, we just make so many assumptions as teachers and we have such a pace…</q></p>
        <p>Cathy: <q>Yes. True.</q></p>
        <p>Janice: <q>and when we chose to slow down, ask them to co-create something on a line or whatever, we are amazed.</q></p>
        <p>Devon: <q>I think sometimes we tend to write off some of the ones, like, ‘Oh no, that is wrong. You don’t get it’. Agghh. Why can’t, I can never get Johnny to do it, you know. But when we do slow it down and we ask him, you see ‘Oh, there’s two out of three light bulbs in there’ and we didn’t realize that right, because something was wrong (laughter in background). ‘No, no, why would you think that’ and then when you decompose why he was actually thinking that you say ‘O.K. Cool. I can speak to that’ you know. And that shows me he has some understanding and that helps you drive where you need to go next with him particularly, right?</q> </p>
                </td>
            </tr>
            <tr>
                <td>6:35</td>
                <td>
                    This video is intended to supplement the text information provided in the digital paper by allowing for glimpses into the professional learning in action. Collaborative action research is a dynamic model for professional learning that provides for breadth and depth of learning in mathematics, because it is: classroom-embedded, cyclical and sustained, asset-oriented, and focused on students.
                </td>
            </tr>
        </table>









      </div>
    </div>
  </div>
</div>



<h3>Exploring Student and Teacher Fraction Understanding</h3>
<p>In the first session, teachers explored the different meanings of fractions (see Resources: Professional Learning: Introduction to Fractions in Resources). Each classroom teacher brought classroom data to the second session. This data was collected using either a ministry tool (<abbr title="For example">e.g.</abbr>
, Fractions pre- and post-tests developed for CLIPS, the Junior Gap Closing diagnostic) or a commercially available assessment tool. Together, teams analysed student responses to the diagnostic assessments to identify current levels of fractions knowledge and skills.</p>


<h3>Co-planning, implementing and observing lessons</h3>

<h4>Co-planning:</h4>
<p>Each team developed one or two research lessons which addressed specific needs of the students as identified through the
    diagnostic assessment data. To inform the co-planning, teams were provided with research articles that focused on student
    learning of fractions and encouraged to read those of interest to them. Diana Chang, a Masters of Education student,
    presented her thesis work on students' use of the number line to one group of teachers. Finally, the board leaders in
    math, the project lead, and the Trent research team provided additional information from current research as well as
    provincial perspectives during meetings.</p>

<p>The exploratory lessons developed by the teams included precise decisions such as:</p>

<ul>
    <li>selecting fractions to challenge students' choice of representation (such as 2⁄5);</li>
    <li>including benchmark fractions (<abbr title="For example">e.g.</abbr>
, <abbr title="one half">½</abbr>, <abbr title="two thirds">2⁄&frasl;3</abbr>, <abbr title="three fourths">¾</abbr>) and non-benchmark fractions to determine the extent to which students'
        possess generalized knowledge and understanding;</li>
    <li>providing multiple opportunities for student choice, including their selection of the task, the representation tools
        (<abbr title="For example">e.g.</abbr>
, hand constructed vs. commercially produced), and the strategies used (<abbr title="For example">e.g.</abbr>
, ordering fractions by considering
        the relative closeness to benchmark fractions and 0 or 1 rather than determining a common denominator);</li>
    <li>introducing and/or supporting the use of appropriate mathematical language, including reading a fraction as a number
        (<abbr title="For example">e.g.</abbr>
, 1<abbr title="one fourth">¼</abbr>
 is "one-fourth" rather than "one over four");</li>
    <li>providing multiple opportunities for students to engage in math talk with their classmates and teacher throughout a three-part
        math lesson.</li>
</ul>

<h4>Implementing & observing lessons:</h4>
<p>Teams selected one classroom as the site to meet for an exploratory lesson. Prior to that lesson, all teachers were encouraged
    to teach the lesson in their own classrooms. Their student work and insights informed the planning of the exploratory
    lesson. This allowed for a richer observation experience as well as identification of trends in student thinking and
    collaborative consideration of teacher moves (both in the moment and over time) to resolve misconceptions.</p>

<p>Following the initial exploratory lesson, teams summarized a number of challenges and misconceptions with fractions. A selection
    is included below:</p>

<h5>Challenges with content</h5>
<ul>
    <li>Use of imprecise fraction language reinforces student misconceptions of fractions (<abbr title="For example">e.g.</abbr>
, <abbr title="four tenths">4⁄&frasl;10</abbr> is "four tenths" but reading
        it as "four over ten" leads some students to understand it as "four tens",represented by four sets of ten, or as
        literally "four over ten" represented as a ratio – see picture on right). These multiple naming strategies appear
        to add to student difficulty in constructing a meaningful understanding of fractions.</li>
    <li>Over-reliance on circle representations for teaching and learning leads to limited success in representing fraction amounts
        that do not easily lend themselves to partitioning in a circle (such as <abbr title="two fifths">2⁄&frasl;5</abbr> and <abbr title="four tenths">4⁄&frasl;10</abbr> – consider the difficulty of
        partitioning a circle into tenths or fifths compared to fourths or eighths).</li>
    <li>Students' limited understanding of the meaning of fractions results in inappropriate strategies for comparing fractions
        (<abbr title="For example">e.g.</abbr>
, <abbr title="two fifths">2&frasl;⁄5</abbr> is equal to 1⁄10because 2 fives are 10 and 1 ten is 10).</li>
    <li>Students who understand that a part-whole area model requires the pieces to be of equal area can struggle with how much
        precision is required in representations. When comparing fractions, sometimes approximate drawings are sufficient,
        but other times exact drawings are required, depending upon the fractions' relative equivalency.</li>
    <li>There appears to be a tendency to move quickly to symbolic notation of fractions and procedures related to fractions
        rather than to make informed choices about the best representation for sense-making. </li>
</ul>

<p>Some common misconceptions about fractions:</p>
<ul>
    <li>Size of the partitioned areas doesn't matter even when using an area model. When we are thinking about parts of a whole
        in an area model, all the parts have to be the same size.</li>
    <li>The numerator and denominator in a fraction are not related (little-to-no understanding of the relationship between the
        numerator and denominator, <abbr title="that is">i.e.</abbr>, that the fraction has two numbers that together represent a value only because the
        numbers have a relationship).</li>
    <li>Fractions cannot represent 'parts-of-a-set' relationships.</li>
    <li>All representations of fractions must always show the 'parts' as attached or touching, including set representations.</li>
    <li>Equivalent fractions always involve doubling.</li>
    <li>Number lines are a non-changing whole (where 1 is always the whole) as well as a flexible whole (where the entire length
        is the whole, regardless of the whole number labels which extend beyond 1). Some students used both definitions simultaneously
        when ordering fractions (absolute value of <abbr title="one half">½</abbr> on a number line <abbr title="versus">vs.</abbr> a relative value of <abbr title="one half">½</abbr> of the number line length).</li>
</ul>

<p>Issues around planning and teaching were also identified through the teaching and observing of multiple lessons.</p>
<ul>
    <li>Some classrooms engaged students who would normally work on a modified program in the exploratory lesson with great success.
        The teachers wondered how and when they could blend the programming for these students.</li>
    <li>The teachers identified a tension with wanting to correct student misconceptions and allowing time for the students to
        resolve these notions themselves. Which misconceptions will likely resolve in an appropriate time period and which
        ones would require intervention?</li>
    <li>There was discussion around lesson refinements which would increase the alignment and connections between the lesson
        goals, the three parts of the lesson and the success criteria for students.</li>
</ul>

<p>This discussion led to a list of considerations for subsequent teaching and learning:</p>
<ol>
    <li>Expose students to a range of representations.</li>
    <li>Get students to connect representations with stories in context to make better decisions about which representation(s)
        to use and when.</li>
    <li>Increase exposure/discussion/class math talk to enhance the language of fractions.</li>
    <li>Enable students to make precise drawings when they want/need to (<abbr title="For example">e.g.</abbr>
, provide grid paper).</li>
    <li>Think more about how to teach equivalent fractions.</li>
    <li>Think more about the use of the number line, including having students revisit their number line over the unit to revise
        the location of fractions and also to place additional numbers (such as percent and decimal numbers where appropriate).</li>
    <li>Increase student understanding of the similarities and differences of set and measurement models. For example, students
        may sort representations as set, part-whole, or both (could use epractice, document pictures from lesson, or student-generated
        representations).</li>
    <li>Think more about the precise selection of fractions that will push student thinking with a specific concept (<abbr title="For example">e.g.</abbr>
, compare
        3 <abbr title="one ninth">1&frasl;⁄9</abbr> and 3 <abbr title="eight ninths">8⁄&frasl;9</abbr> to see if they are looking at the fraction as a number).</li>
    <li>Use a task for the summative that is open enough to allow for the achievement of levels (such as ordering fractions on
        a number line with a variety of specific criteria).</li>
    <li>Include success criteria to allow students to better distinguish the learning (as identified through the learning goal)
        from the task.</li>
    <li>Implement low-cost, low-prep strategies for increasing student understanding, including having students edit and revise
        their work over time, using sticky notes for ordering and comparing fractions to allow for easy modification of work,
        and skip counting by fractions to emphasize fractions as numbers and the role of the numerator and denominator.</li>
</ol>

<p>Subsequent lessons in the classes focused on the area of need for the specific class. However, many of these lessons shared
    common elements. Where possible, teams met over a period of time to share their student work and to collaborate about
    what types of tasks and probes would support student learning. Teams had opportunities to discuss problems of practice,
    which included strategies for collecting data for reporting, sequencing and timing of content, and sharing of resources
    which supported both their classroom practice and their professional learning.</p>


    <h3>Analysing student responses</h3>
    <p>Through discussions with students during administration of the diagnostic assessment, teams gained additional insights into student understanding of fractions. In later sessions, teachers discussed the trends in their students' responses based on observations, moderated marking, analysis of student work and classroom video. As expected, younger students had fragile understandings of the meaning of a fraction, the relationship between the numerator and the denominator, and equivalent fractions. It was surprising that these understandings continued to be a challenge for some students through grade 7. Many students in grades 5 and 6 demonstrated a limited understanding of the connections between improper fractions and mixed numbers and had difficulty comparing them. Many students also had difficulty extending their fractions understanding beyond commonly used benchmark fractions. There was also a reliance on circles for representing and comparing fractions.</p>
    <p>Another observation was that there was very little difference in diagnostic results for students in the same grade across the different classrooms and school boards, regardless of the perceived strength or weakness of the class.</p>
    <p>Based on the collective strengths and area of need for each group, the focus for each exploratory lesson was identified. The foci included questions such as:</p>
    <ul>
    <li>What do students understand about fractions? How do they represent fractions? How does student understanding of representations allow them to better communicate their knowledge of fractions?</li>
    <li>How can we ensure that our students are engaged in thinking and reasoning with a variety of fractions, including proper, improper and mixed numbers?</li>
    <li>How can we deepen students' understanding of fractions using representations and connections between representations, thinking about what fractions are and what they are not, and thinking of a fraction as a number?</li>
    <li>How do we best develop understanding of the multiple meanings of fractions?</li>
    <li>How can we get students to use representations as tools for their thinking?</li>
    </ul>


    <h3>Sustaining focus on fractions</h3>
    <p>The identification of fractions as difficult-to-learn-and-teach caused teachers to identify the need for increased time with this content area. This initially caused concern over the time required to address gaps in student understanding given the demands to meet timelines in their program. As the work progressed, there was an increased understanding of the ways that a deep understanding of fractions can ease student learning of other concepts which involve fractions, such as proportional reasoning and probability. Furthermore, the teams increasingly identified cross-strand applications which would allow them to sustain the focus on fractions, such as in measurement and geometry. Finally, teams identified how issues within the student work, such as how much accuracy is required for a drawing, extended beyond fractions to mathematics in general. Through the development of a deep teacher understanding of fractions and of student learning of fractions, teams demonstrated increased confidence with understanding student thinking and responding through questioning to evoke and expose thinking. The teams were able to see how student misconceptions can be resolved in a meaningful way by students over time and so were more comfortable with allowing misconceptions to be resolved through student thinking and dialogue. Teams were also able to be more confident in their ability to identify when a task needed to be relatively limited in the range of responses and when it could be more open.</p>
    <p>Perhaps most importantly, educators felt validated in their shifts in practice based on feedback from students and colleagues. Improvements in student achievement and in self-reported efficacy reinforced this.</p>



<%- include partials/footer.ejs%>
