<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
  <li class="breadcrumb-item active">PAGE TITLE</li>
</ol>

<main>

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>PAGE HEADER</h1>
      </div>
    </section>

    <section class="row">

      PAGE ROW HERE...

    </section>

  </section> <!-- End PDF page section -->

  <%- include partials/footer.ejs%>
