<section class="pdf-page">
  <section class="row">

    <h2 style="color: #0000ff; border-bottom: 10px solid black;">Unit Ordering Fractions: Day 3: Number Lines - multiple number systems</h2>
  </section>

  <section class="row table-responsive">
    <table class="table table-bordered table-striped tbl-ul-pad tbl-medium-font" id="ftable">
      <!-- First Row - Time Stamp and Learning Goal -->
      <tr>
        <td>
          <p>MO 20 min</p>
          <p>A 30 min</p>
          <p>C/D 10 min</p>
          <p>60 min</p>
        </td>
        <td>
          <p><strong style="text-decoration: underline;">Math Learning Goals</strong></p>
          <p>Students will:</p>
          <ul>
            <li>reason as they place fractions and decimals on a number line</li>
            <li>connect different representations of the same number</li>
            <li>communicate their rationale, including their use of benchmark numbers</li>
          </ul>
        </td>
        <td>
          <p><strong style="text-decoration: underline;">Materials</strong>
            <ul>
              <li>fraction strips</li>
              <li>fraction towers/circles</li>
              <li>base ten blocks</li>
              <li>number lines</li>
              <li>hundred board</li>
              <li>money</li>
            </ul>
          </p>

        </td>
      </tr> <!-- End First Row -->
      <!-- Second Row - Minds on... -->
      <tr>
        <td>
          <p style="color: #659a00; border-top: 10px solid #659a00">Minds On...</p>
        </td>
        <td>
          <p><strong>Whole Class <i class="fa fa-arrow-right" aria-hidden="true"></i> Matching Activity</strong></p>
          <p>Each student receives one card and circulates amongst classmates to match the numerical value of their representation to three other students in the room. Once completed correctly, each group will have a hundreds grid, fraction card,
            decimal number and hundredths card representing the same number.</p>

          <p><strong>Small Groups <i class="fa fa-arrow-right" aria-hidden="true"></i> Discussion</strong></p>
          <p>Once groups have been formed, students share the card they have and everything they notice about their card.
            Sentence starters include:</p>
          <ul>
            <li>I think my card belongs here because …</li>
            <li>I see how my representation connects to _____’s card because …</li>
            <li>My representation is the similar to _____’s because …</li>
            <li>My representation is different than _____’s since …</li>
            <li>Something I noticed about all four representations is …</li>
          </ul>

        </td>
        <td class="section-border-bottom-none">
          <p>Cards can be found on page 51 of The Guide to Effective Instruction (<abbr title="Volume">Vol</abbr>. 6); 7 sets makes a class of 28 in groups of 4; see <abbr title="page">pg.</abbr> 59-63 in the Guide for more details.</p>
        </td>
      </tr> <!-- End Second Row -->
      <!-- Third Row - Action! -->
      <tr>
        <td>
          <p style="color: #ff0000; border-top: 10px solid #ff0000">Action!</p>
        </td>
        <td>
          <p><strong>Pairs <i class="fa fa-arrow-right" aria-hidden="true"></i> Activity</strong></p>
          <p>Provide students with a set of cards (<abbr title="Blackline Master">BLM</abbr> 3.1). Have them place each card on a number line. Inform them that they will be required to justify their reasoning.</p>
          <p>Circulate to support and extend student understanding using the following types of questions:</p>
          <ul>
            <li>Which number representations do you know and recognize?</li>
            <li>What strategies could you use to place the other ones?</li>
            <li>How can you use benchmarks to help you place some of the other ones?</li>
            <li>Which representations show the same amount?</li>
            <li>Is there a fraction that is close to 1?</li>
            <li>Is there a fraction that is close to 0?</li>
          </ul>

        </td>
        <td class="section-border-bottom-none section-border-top-none background-color-white">
          <p>Note that all fractions in 2A and 2B are all equivalent, but no so in 2C.<br />An implmentation trajectory for Math Talk Learning Community can be found <a href="http://www.edugains.ca/resources/LeadingChange/KeyDirectionsandFrameworks/MathTalkLearningCommunityResearchSynopsis.pdf"
              target="_blank">here</a></p>
        </td>
      </tr> <!-- End Third Row -->
      <!-- Fourth Row - Consolidate/Debrief -->
      <tr>
        <td>
          <p style="color: #0000ff; border-top: 10px solid #0000ff">Consolidate/ Debrief</p>
        </td>
        <td>
          <p><strong>Independent <i class="fa fa-arrow-right" aria-hidden="true"></i> Math Journal</strong></p>
          <p>Create 6 differnet representations with two that don't belong. Explain which representations go together and why.</p>
        </td>
        <td class="section-border-top-none"></td>
      </tr> <!-- End of Fourth Row -->
      <!-- Fifth Row - Further Consolidation -->
      <tr>
        <td></td>
        <td>
          <p class="title-blue-2">Home Activity or Further Classroom Consolidation</p>
        </td>
        <td></td>
      </tr> <!-- End Fifth Row -->
    </table>
  </section>
</section
