<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">The Painted Door</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p>Operation N</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Multiply fractions using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/thePaintedDoor/T45_OPN_doortask_task_V5.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>The Painted Door</h1>
      </div>
    </section>


    <section class="row" style="float:right; padding: 0px 20px 10px 20px; max-width:300px;">
      <img src="/images/tasks/thePaintedDoor/the_painted_door_task_pic.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students will use models and representations to determine the amount of time it takes to paint a portion of a door. Within this context, they will multiply two fractions with unlike numerators and denominators using representations (e.g.,
        number lines and grids) to build a more conceptual understanding of multiplication of fractions beyond the standard algorithm.</p>

      <h4>Mathematics</h4>
      <p>Multiplication of fractions is frequently introduced using an algorithm without sufficient opportunities for students to build understanding of the meaning of multiplication of why the algorithm works. When students engage in concrete tasks
        in which they are required to communicate and represent their thinking, they develop fractional number and operational sense and are better able to multiply fractions appropriately and reasonably without error. This problem solidifies the
        importance of using visual representations and appropriate labels to develop a conceptual understanding of operations with fractions.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>multiply fractions with unlike numerators and denominators</li>
        <li>solve problems involving multiplication of fractions using a variety of representatives</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Partner students. Distribute BLM 1. Provide an assortment of materials and manipulatives.</li>
        <li>Provide students with time to complete the task. Allow students to explore, while encouraging the use of a variety of models. Circulate and ask the key questions as appropriate.</li>
        <li>Consolidate by comparing the various strategies. Use the key questions as appropriate.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>use repeated addition as an entry point into multiplication</li>
          <li>misrepresent the answeras a proportion of the door rather than a proportio of time</li>
          <li>use a circular clock representation to solve</li>
          <li>convert to minutes (50 minutes) and solve by dividing that number of minutes in half (25 minutes)</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>a) What does your model represent? (e.g., area of door, or time required to paint)<br />b) How have your labels helped you communicate your understanding?</li>
          <li>How many minutes does your fraction represent? Or; what fraction represents that amount of time (based on one hour)?</li>
          <li>What operation does your model represent? How does your model help you obtain your answer?</li>
        </ol>
      </div>
    </section>
    <!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/thePaintedDoor/T45_OPN_doortask_BLM1_V4.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (one per student)</li>
        <li>grid paper</li>
        <li>colored pencil crayons, washable chalk board markers</li>
        <li>other fraction manipulatives (fraction strips, stacked number lines etc.).</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/thePaintedDoor/T45_OPN_doortask_BLM1_V4.png" alt="The Painted Door BLM 1" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/thePaintedDoor/T45_OPN_doortask_BLM1_V4.pdf" target="_blank">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure class="padding-bottom">
            <img src="/images/tasks/thePaintedDoor/ThePaintedDoor_StudentThinking_OP-N_Samp1-2.png" alt="the Painted Door Operation N" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/images/tasks/thePaintedDoor/ThePaintedDoor_StudentThinking_OP-N_Samp1-2.png" target="_blank">here</a>.</p>
          </figure>

          <figure class="padding-bottom">
            <img src="/images/tasks/thePaintedDoor/ThePaintedDoor_StudentThinking_OP-N_Samp3-5.png" alt="the Painted Door Operation N" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/images/tasks/thePaintedDoor/ThePaintedDoor_StudentThinking_OP-N_Samp3-5.pdf" target="_blank">here</a>.</p>
          </figure>
        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
