<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Turf Touchdown</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-orange"></div>
        <div id="rectangle" class="display-flex rectangle-orange">
          <p>Operation E</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-orange"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Add and subtract fractions with unlike denominators (e.g. <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span></abbr>) using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->

    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/turfTouch/P27_Turf-Touchdown_TASK.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Turf Touchdown</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/turfMainImage-thumbnail.png" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students represent the installation of turf, which is installed at different fractional rates each day, in a newly constructed field. By creating a model and determining common fractional units, they will be able to establish how much turf
        needs to be installed on the final two days.</p>

      <h4>Mathematics</h4>
      <p>Addition and subtraction of fractions is frequently introduced using the algorithm of determining common denominators without students understanding why. Students benefit from opportunities to connect the addition and subtraction of
        fractions to the addition and subtraction of other numbers, all of which require a common unit. When students engage in concrete tasks in which they are required to identify the need for common units and use their understanding of fractions
        to create equivalent units, they are better able to add fractions appropriately and without error as well as develop fraction number sense.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>add fractions with unlike denominators to reach one whole</li>
        <li>compare the cumulative quantity to the benchmark <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr></li>
        <li>determine a missing addend</li>
        <li>partition a physical model to show the missing addend</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Pair students and distribute <abbr title="Blackline Master">BLM</abbr> 1. Review the instructions, reminding them to stop construction when the instructions indicate to do so.</li>
        <li>As the students work, encourage them to use their model as a thinking tool. This makes the model an ACTIVE space for thinking rather than just ‘showing a solution’.</li>
        <li>Have students share their thinking and solutions through a gallery walk or whole class discussion.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>correctly respond to the comparison of the amount of turf installed by the end of Day 4 to one-half by saying it is ‘greater than’ or ‘more than’ half but need prompting to use their model to prove they are right</li>
          <li>add from <abbr title="twenty-seven thirtieths" class="abbr-frac"><span class="frac"><sup>27</sup><span>&frasl;</span><sub>30</sub></span></abbr> to find the missing value of <abbr title="three thirtieths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>30</sub></span></abbr></li>
          <li>work backward from <abbr title="thirty thirtieths" class="abbr-frac"><span class="frac"><sup>30</sup><span>&frasl;</span><sub>30</sub></span></abbr> to <abbr title="twenty-seven thirtieths" class="abbr-frac"><span class="frac"><sup>27</sup><span>&frasl;</span><sub>30</sub></span></abbr>
            to determine the missing value</li>
          <li>correct errors in algorithmic calculations by referring to their model</li>
          <li>struggle to divide <abbr title="three thirtieths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>30</sub></span></abbr> of the turf over 2 days of work</li>
          <li>use number lines reflecting days rather than fractional amounts</li>
          <li>add fractional amounts for multiple days</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How does your model show the amount of turf installed so far?</li>
          <li>Why did/didn’t you choose to use equal partitions on your model?</li>
          <li>How could you modify your model (<abbr title="that is">i.e.</abbr>, change the partitions) to allow you to split <abbr title="three thirtieths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>30</sub></span></abbr></li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/turfTouch/P27_BLM_1_Student_Handout.pdf" target="_blank" rel="PDF File" style="color: #724199;"><abbr title="Blackline Master">BLM</abbr></a> 1 (one copy/pair of students)</li>
        <li>blank and grid paper (one piece/pair of students)</li>
        <li>coloured pencils/markers</li>
        <li>selection of manipulatives</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure>
            <img src="/images/tasks/turfTouch/P27_BLM_1_Student_Handout.png" alt="Turf Touchdown" class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/turfTouch/P27_BLM_1_Student_Handout.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <div class="row padding-bottom">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <div class="embed-responsive embed-responsive-16by9">
                <video controls poster="/images/videos-placeholder-image/P27_TurfTouchdown.png">
                  <source src="../videos/P27_TurfTouchdown.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
          <figure class="padding-bottom">
            <img src="/images/tasks/turfTouch/TurfTouchdown_StudentThinking_OP-E.png" alt="Turf Touchdown " class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/turfTouch/TurfTouchdown_StudentThinking_OP-E.pdf" target="_blank" rel="PDF File">here</a>.</p>
          </figure>
          <figure class="padding-bottom">
            <img src="/images/tasks/turfTouch/TurfTouchdown_StudentThinking_OP-E_Samples4.png" alt="Turf Touchdown " class="img-responsive margin-auto" />
          </figure>
          <figure>
            <img src="/images/tasks/turfTouch/TurfTouchdown_StudentThinking_OP-E_p2.png" alt="Turf Touchdown " class="img-responsive margin-auto" />
            <figcaption>To download a copy of this .pdf, click <a href="/pdf/turfTouch/TurfTouchdown_StudentThinking_OP-E_p2.pdf" target="_blank" rel="PDF File">here</a>.</figcaption>
          </figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="100px" width="100px">
                  <div class="caption">
                    <h3>Building to Addition and Subtraction of Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/litreviews/foundationsAddSub">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/pdf-img/addSub1.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
