<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/pathway">Fractions Learning Pathway</a></li>
    <li><a href="./unitF">UNIT F</a></li>
</ol>


<main class="container">
<h2>Compose and decompose fractions flexibly with models and symbols</h2>

<p>Composing and decomposing fractions using any combination of fractions (beyond unit fractions) allows students to develop a deeper understanding of fractions as number.</p>

<h3>Background</h3>

<p>A unit fraction is the base unit of any fraction and always has a numerator of 1; for example, <abbr title="one fourth">¼</abbr>, <abbr title="one fifth">1&frasl;5</abbr>, <abbr title="one twenty-third">1&frasl;23</abbr> are all unit fractions. Every fraction can be decomposed into unit fractions. For example, <abbr title="three fourths">¾</abbr> is 3 one-fourth units (so one fourth is the unit fraction and we are thinking about 3 of them). Partitioning a model involves determining and creating a unit fraction.</p>

<p>Consider the fraction one and three-fourths. This number can be decomposed using a unit fraction.</p>
<div class="unitFractionsBlocks">
	<div>
	 <p>One and three fourths</p>
	<img src="/images/pathway/unit/unit1.png" alt="A whole fraction strip shaded in and a fractions strip with three fourths shaded in" height="100" width="300" />
	</div>
	<div>
	<p>Seven one-fourths units</p>
	<img src="/images/pathway/unit/unit2.png" alt="A whole fraction strip shaded in with dotted lines separating fourths and a fractions strip with three fourths shaded in with dotted lines separating fourths." height="100" width="300" />
	</div>
	<div>
	<p>One and two-fourths can be composed using a unit fraction.</p>
	<img src="/images/pathway/unit/unit2.png" alt="A numberline highlighted from zero to six fourths" height="100" width="300" />
	</div>
</div>

<p> A student may say, “One whole is the same as 4 one-fourth units. I added another 2 one-fourth units to the whole to obtain 6 one-fourth units. So I can see that 6 one-fourth units is equal to one and two-fourths. </p>

<p>Use of unit fractions supports a deeper understanding of quantity. Notice that in the student dialogue above, early understanding of equivalency is being developed, <abbr title="that is">i.e.</abbr>, one and one half is the same as six fourths. Counting by naming the unit fractions helps students to see the parts of the fraction when composing and decomposing. Notice that both counting unit fractions and composing and decomposing fractions are pre-cursors to addition and subtraction. For example, composing 6 one-fourth units is the same as adding 6 one-fourth units together to make one and one half.	</p>

<h3>Tasks</h3>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/pathway/unit/brownieSharing.png" alt="Students playing Brownie Sharing">
      <div class="caption">
        <h4>The Changing Wholes (Pattern Block Challenge)</h4>
        <p>Students use pattern blocks as area models to compare fractional regions and explore how the regions change in relation to the whole.</p>
        <p><a href="/tasks/changeWholes" class="btn btn-primary" role="button">View Activity</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/pathway/unit/deskTopFraction.png" alt="Students playing Desktop Fractions">
      <div class="caption">
        <h4>I Have , Who Has</h4>
        <p>This fun and addictive ‘call and response’ game can be used as a whole group minds-on activity or an exit ticket. Students love trying to be as fast as they can to recognize what unit amount they have represented on their card. They enjoy when the entire deck of cards is successfully played from start to finish. The connection between the visual representation and an oral articulation of symbolic notation is especially evident in this task.</p>
        <p><a href="/tasks/iHave" class="btn btn-primary" role="button">View Activity</a> </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/pathway/unit/deskTopFraction.png" alt="Students playing Desktop Fractions">
      <div class="caption">
        <h4>Fraction Shape Sets</h4>
        <p>In this task, students will work with a discrete (set) model of shapes with various characteristics. Students will demonstrate their understanding of fractions of a set by identifying different attributes to describe fractions. They will be using symbolic notation to record and discuss their thinking.</p>
        <p><a href="/tasks/shapeSets" class="btn btn-primary" role="button">View Activity</a> </p>
      </div>
    </div>
  </div>
</div><!--end of row-->



<%- include partials/footer.ejs%>
