<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/pathway">Fractions Learning Pathway</a></li>
    <li><a href="./unitC">UNIT C</a></li>
</ol>


<main class="container">
<h2>Partition unit fractions to create similar unit fractions</h2>

<p>Partitioning a unit fraction into smaller unit fractions (<abbr title="For example">e.g.,</abbr>
, partitioning each fourth into thirds to create twelfths) supports student understanding of the relationship between the digit in
the denominator and the size of the partition. </p>

<h3>Background</h3>

<p>A unit fraction is the base unit of any fraction and always has a numerator of 1; for example, <abbr title="one fourth">¼</abbr>,
  <abbr title="one fifth">1&frasl;5</abbr>, <abbr title="one twenty-third">1&frasl;23</abbr> are all unit fractions. Every fraction
  can be decomposed into unit fractions. For example, <abbr title="three fourths">¾</abbr> is 3 one-fourth units (so one fourth is
  the unit fraction and we are thinking about 3 of them). Partitioning a model involves determining and creating a unit fraction.</p>

<p>Consider the fraction one and three-fourths. This number can be decomposed using a unit fraction.</p>
<div class="unitFractionsBlocks">
	<div>
	 <p>One and three-fourths</p>
	<img src="/images/pathway/unit/unit1.png" alt="A whole fraction strip shaded in and a fractions strip with three fourths shaded in" height="100" width="300" />
	</div>
	<div>
	<p>Seven one-fourths units</p>
	<img src="/images/pathway/unit/unit2.png" alt="A whole fraction strip shaded in with dotted lines separating fourths and a fractions strip with three fourths shaded in with dotted lines separating fourths." height="100" width="300" />
	</div>
	<div>
	<p>One and two-fourths can be composed using a unit fraction.</p>
	<img src="/images/pathway/unit/unit2.png" alt="A numberline highlighted from zero to six fourths" height="100" width="300" />
	</div>
</div>

 <p>A student may say, “One whole is the same as 4 one-fourth units. I added another 2 one-fourth units to the whole to obtain 6 one-fourth units. So I can see that 6 one-fourth units is equal to one and two-fourths. </p>

<p>Use of unit fractions supports a deeper understanding of quantity. Notice that in the student dialogue above, early understanding of equivalency is being developed, <abbr title="that is">i.e.</abbr>, one and one half is the same as six fourths. Counting by naming the unit fractions helps students to see the parts of the fraction when composing and decomposing. Notice that both counting unit fractions and composing and decomposing fractions are pre-cursors to addition and subtraction. For example, composing 6 one-fourth units is the same as adding 6 one-fourth units together to make one and one half.</p>

<%- include partials/footer.ejs%>
