<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<section>
  <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/pathway">Fractions Learning Pathways</a></li>
      <li class="breadcrumb-item active">UNIT A</li>
  </ol>
</section>

<main class="container ">

  <section class="row learningPathWays-title">
    <div class="col-sm-3 col-md-3 display-flex">
      <div id="triangle-bottomright"></div>
      <div id="rectangle" class="display-flex"><p>Unit A</p></div>
      <div id="triangle-topleft"></div>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>Unit Fractions</h1>
    </div>
    <div class="col-sm-3 col-md-3">
      <figure>
        <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
      </figure>
    </div>
  </section>

  <section class="row learningPathWays">
    <div class="col-sm-12 col-md-12">
      <h2>Use proportional reasoning to make reasonable estimates</h2>
    </div>
  </section>
      
  <section class="row learningPathWays">
    <div class=" col-sm-9 col-md-9">
      <p>Understanding proportional reasoning requires students to consider a number or quantity in relative terms. With fractions, students must consider the fraction in context, such as one-half of a whole figure. Students use proportional reasoning to partition a whole into unit fractions.</p>

      <h3>Background</h3>

      <p>A unit fraction is the base unit of any fraction and always has a numerator of 1; for example, <abbr title="one fourth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="one fifth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>15</sub></span></abbr>, <abbr title="one twenty-third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>23</sub></span></abbr> are all unit fractions. Every fraction can be decomposed into unit fractions. For example, <abbr title="three fourths" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> is 3 one-fourth units (so one-fourth is the unit fraction and we are thinking about 3 of them). Partitioning a model involves determining and creating a unit fraction.</p>

      <p>Consider the fraction one and three-fourths. This number can be decomposed using a unit fraction.</p>

      <div class="row padding-top padding-bottom">
        <div class="col-md-6 col-sm-6">
          <figure>
            <img src="/images/pathway/unit/unit1a.png" alt="A whole fraction strip shaded in and a fractions strip with three fourths shaded in" class="img-responsive full-width" />
          </figure>
        </div>
        <div class="col-md-6 col-sm-6">
          <p>One and three-fourths</p>
        </div>  
      </div>
      <div class="row padding-top padding-bottom">
        <div class="col-md-6 col-sm-6">
          <figure>
            <img src="/images/pathway/unit/unit1b.png" alt="A whole fraction strip shaded in with dotted lines separating fourths and a fractions strip with three fourths shaded in with dotted lines separating fourths." class="img-responsive full-width" />
          </figure>
        </div>
        <div class="col-md-6 col-sm-6">
          <p>Seven one-fourth units</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>One and two-fourths can be composed using a unit fraction.</p>
        </div>
      </div>
      <div class="row padding-top padding-bottom">
        <div class="col-md-6 col-sm-6">
          <figure>
            <img src="/images/pathway/unit/unit2.png" alt="A numberline highlighted from zero to six fourths" class="img-responsive full-width" />
          </figure>
        </div>
        <div class="col-md-6 col-sm-6">
          <p>A student may say, “One whole is the same as 4 one-fourth units. I added another 2 one-fourth units to the whole to obtain 6 one-fourth units. So I can see that 6 one-fourth units is equal to one and two-fourths. </p>
        </div>
      </div>

      <div class="row padding-top padding-bottom">
        <p>Use of unit fractions supports a deeper understanding of quantity. Notice that in the student dialogue above, early understanding of equivalency is being developed, <abbr title="that is">i.e.</abbr>, one and one-half is the same as six-fourths. Counting by naming the unit fractions helps students to see the parts of the fraction when composing and decomposing. Notice that both counting unit fractions and composing and decomposing fractions are pre-cursors to addition and subtraction. For example, composing 6 one-fourth units is the same as adding 6 one-fourth units together to make one and one-half.</p>
      </div>
    </div>

    <div class=" col-sm-3 col-md-3">
      <h2>Tasks</h2>
      <div class="row">
        <div class="thumbnail">
          <div class="caption">
            <h4><a href="/tasks/walkLine">Walk the Line</a></h4>
            <p>Students actively equi-partition a number line using different fractional units (e<abbr title="For example">.g.</abbr>, halves, fifths) as they place mixed and improper fractions. Students will enjoy walking, jumping or using every day classroom items as a method of kinaesthetically partitioning a number line on the floor. This task becomes increasingly complex based upon the sets of fractions used. </p>
            <figure>
              <img src="/images/pathway/unit/walkLine.jpg" alt="Kids working on the Walk the Line activity" class="img-responsive margin-auto">
            </figure>
            <!-- <p><a href="/tasks/walkLine" class="btn btn-primary" role="button">View Task</a></p> -->
          </div>
        </div>

        <div class="thumbnail">
          <div class="caption">
            <h4><a href="/tasks/livingNumberLine">Living Number Line</a></h4>
            <p>Students place cards labelled with fractional amounts on a large number line by equi-partitioning. This physical number line, the living number line, is meant to grow throughout the year as subsequent units (i.e. fractions, percentages, decimals etc.) are placed. Students will use a variety of strategies to place cards appropriately, including relational and proportional thinking and knowledge of equivalency.</p>
            <figure>
              <img src="/images/tasks/livingNumberLine/livingNumberLine.jpg" alt="Kid hanging something on a line" class="img-responsive margin-auto">
            </figure>
            <!-- <p><a href="/tasks/walkLine" class="btn btn-primary" role="button">View Task</a></p> -->
          </div>
        </div>

        <!-- Addtional Prompts and Curriculum Connections Links-->
        <div class="thumbnail-no-tasks">
          <div class="caption">
            <h4><a href="/tasks/additionalPromptsUnitA">Additional Prompts</a></h4>
          </div>
        </div>

        <div class="thumbnail-no-tasks">
          <div class="caption">
            <h4><a href="/tasks/curriculumConnectionsUnitA">Curriculum Connections</a></h4>
          </div>
        </div>

      </div>
    </div>

  </section>

<%- include partials/footer.ejs%>
