<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/pathway">Fractions Learning Pathway</a></li>
    <li><a href="./unitA">UNIT A</a></li>
</ol>


<main class="container">
<h2>Use proportional reasoning to make reasonable estimates</h2>

<p>Understanding proportional reasoning requires students to consider a number or quantity in relative terms. With fractions, students must consider the fraction in context, such as one half of a whole figure. Students use proportional reasoning to partition a whole into unit fractions.</p>

<h3>Background</h3>

<p>A unit fraction is the base unit of any fraction and always has a numerator of 1; for example, <abbr title="one fourth">¼</abbr>, <abbr title="one fifth">1&frasl;5</abbr>, <abbr title="one twenty-third">1&frasl;23</abbr> are all unit fractions. Every fraction can be decomposed into unit fractions. For example, <abbr title="three fourths">¾</abbr> is 3 one-fourth units (so one fourth is the unit fraction and we are thinking about 3 of them). Partitioning a model involves determining and creating a unit fraction.</p>

<p>Consider the fraction one and three-fourths. This number can be decomposed using a unit fraction.</p>

<div class="unitFractionsBlocks">
	<div>
	 <p>One and three fourths</p>
	<img src="/images/pathway/unit/unit1.png" alt="A whole fraction strip shaded in and a fractions strip with three fourths shaded in" height="100" width="300" />
	</div>
	<div>
	<p>Seven one-fourths units</p>
	<img src="/images/pathway/unit/unit2.png" alt="A whole fraction strip shaded in with dotted lines separating fourths and a fractions strip with three fourths shaded in with dotted lines separating fourths." height="100" width="300" />
	</div>
	<div>
	<p>One and two-fourths can be composed using a unit fraction.</p>
	<img src="/images/pathway/unit/unit2.png" alt="A numberline highlighted from zero to six fourths" height="100" width="300" />
	</div>
</div>

 <p>A student may say, “One whole is the same as 4 one-fourth units. I added another 2 one-fourth units to the whole to obtain 6 one-fourth units. So I can see that 6 one-fourth units is equal to one and two-fourths. </p>

<p>Use of unit fractions supports a deeper understanding of quantity. Notice that in the student dialogue above, early understanding of equivalency is being developed, <abbr title="that is">i.e.</abbr>, one and one half is the same as six fourths. Counting by naming the unit fractions helps students to see the parts of the fraction when composing and decomposing. Notice that both counting unit fractions and composing and decomposing fractions are pre-cursors to addition and subtraction. For example, composing 6 one-fourth units is the same as adding 6 one-fourth units together to make one and one half.</p>

<h3>Tasks</h3>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-push-3">
    <div class="thumbnail">
      <img src="/images/pathway/unit/walkLine.jpg" alt="Kids working on the Walk the Line activity">
      <div class="caption">
        <h4>Walk the Line</h4>
        <p>Students actively equi-partition a number line using different fractional units (e<abbr title="For example">.g.</abbr>
, halves, fifths) as they place mixed and improper fractions. Students will enjoy walking, jumping or using every day classroom items as a method of kinaesthetically partitioning a number line on the floor. This task becomes increasingly complex based upon the sets of fractions used. </p>
        <p><a href="/tasks/walkLine" class="btn btn-primary" role="button">View Activity</a></p>
      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs%>
