<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fraction Pathways Tasks</a></li>
    <li><a href="./unit">Unit Fractions Tasks</a></li>
</ol>


<main class="container">
<h1>Unit Fractions Tasks</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="row green-unit-grid">
<a href="./walkLine">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/walkLine.jpg" alt="Unit A Walk the Line Task" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>UNIT A </h2>
          <h3>Walk the Line</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>


<a href="./brownie">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/brownieSharing.png" alt="Unit B Brownie Sharing" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>UNIT B </h2>
          <h3>Brownie Sharing</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./desktopFrac">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/deskTopFraction.png" alt="Unit B Desktop Fractions" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>UNIT B </h2>
          <h3>Desktop Fractions</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>


<a href="./countGame">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/countingGame.png" alt="Unit D Counting Game" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>UNIT D </h2>
          <h3>Counting Game</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>


<a href="./changeWholes">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/changingWholes.png" alt="Unit F Changing Wholes" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>UNIT F </h2>
          <h3>Changing Wholes</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./iHave">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/iHaveWhoHas.png" alt="Unit F I Have, Who Has" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>UNIT F </h2>
          <h3>I Have, Who Has</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./shapeSets">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/changingWholes.png" alt="Unit F Fraction Shape Sets" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>UNIT F </h2>
          <h3>Fraction Shape Sets</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>
  </div>

<%- include partials/footer.ejs%>
