<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./unit">Unit Fractions Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Unit Rods</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright"></div>
        <div id="rectangle" class="display-flex">
          <p>Unit E</p>
        </div>
        <div id="triangle-topleft"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Use unit fractions to compose and decompose fractions with models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/"><img src="/images/Fractions-Learning_pathway.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/unitRods/UE_BundleT40_UnitRods_TASK_FINAL.pdf" target="_blank">Download PDF</a>
      </div>
    </section>


    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Unit Rods</h1>
      </div>
    </section>

    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/unitRods/unit_rods_task-thumbnail.jpg" alt="Unit Rods Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>Students use unit fractions to compose and decompose fractions with relational rods. Using different rods to represent the whole, students are asked to name the unit fractions they can find.</p>

      <h4>Mathematics</h4>
      <p>This task encourages students to think flexibly about the concept of a whole, recognizing that a whole can be any length, and that when representing fractions visually (e.g., on a number line or in an area model) each partition must be of
        equal size. </p>

      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>determine, through investigation, the relationships among fractions</li>
        <li>divide whole objects into equal parts and identify the equal parts using fractional names.</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Give each student a set of relational rods. Tell students to take out one of the orange rods. Inform them that one orange rod represents one whole.</li>
        <li>Ask students to:
          <ol type="a">
            <li>use different rods of the same colour to build a whole, which is equivalent to the orange</li>
            <li>name the unit fractions of the new wholes they created (i.e., 10 one-tenths, 5 one-fifths, or 2 one-halves).</li>
          </ol>
        </li>
        <li>Reinforce with students that when the orange rod is the whole, they should be able to represent and name halves (yellow), fifths (red) and tenths (white).</li>
        <li>Repeat steps 1 through 3 using the blue rod as the whole.</li>
        <li>Repeat with other rods as the whole to consolidate student thinking and encourage flexibility with wholes and units.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>wonder what to do when rods show more than the whole</li>
          <li>identify fractions that can’t be constructed by the relational rods (e.g., no rods show thirds with orange as whole)</li>
          <li>try to use multiple colours to compare to the whole</li>
          <li>use whole numbers (e.g., 1, 2, 3... and to count unit fractions rather than attending to the unit of 1 one-fifth, 2 one-fifths...)</li>
          <li>explore other wholes and related unit fractions intuitively</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>Which rods can <em>only</em> and be composed using all white rods?</li>
          <li>Why does the white rod represent <abbr title="one tenth" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>10</sub></span></abbr> when orange is the whole, but <abbr title="one nineth" class="abbr-frac"><span
                class="frac"><sup>1</sup><span>&frasl;</span><sub>9</sub></span></abbr> when blue is the whole? How does the whole change the names of the unit fractions?</li>
          <li>If blue represents 1 whole, what do 4 green rods represent?</li>
          <li>When is purple <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> compared to the whole? Is <abbr title="one half" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>
            always the same size with different length wholes?</li>
        </ol>
      </div>
    </section>

    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li>Relational rods</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade in active" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs//RecNumLinesCircles">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/RectanglesNumberLinesCircles/recNumLinesCircle-1.jpg" alt="Rectangles, Number Lines and Circles, Oh My!" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Rectangles, Number Lines and Circles, Oh My!</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/purpRep">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Purposeful Representations</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/devFracNumSense">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Developing Fraction Number Sense</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/devPartItDisembed">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figured>
                    <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" class="img-responsive margin-auto">
                  </figured>
                  <div class="caption">
                    <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
                  </div>
                </div>
              </div>
            </a>
            <a href="/supportDocs/buildUnitFrac">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail smallRec">
                  <figure>
                    <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" class="img-responsive margin-auto">
                  </figure>
                  <div class="caption">
                    <h3>Building Understanding of Unit Fractions</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
