<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
  <li class="breadcrumb-item"><a href="./comp">Comparing Fractions</a></li>
  <li class="breadcrumb-item"><a href="./desktopFrac">COMP A Recipe Task</a></li>
  <li class="breadcrumb-item active">Desktop Fractions BLM</li>
</ol>


<main class="container">

  <%- include partials/footer.ejs%>
