<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathways Tasks</a></li>
    <li><a href="./walkLine">UNIT A Walk the Line</a></li>
</ol>

<main class="container dot-lists pdf-page ">
<!-- Insert content here-->
<h1>Walk the Line</h1>
<strong>Description</strong>
<img src="/images/taskPic.jpg" alt="Task Picture"  style="float:right;padding-left: 20px;" />
<p>Students actively equi-partition a number line using different fractional units (<abbr title="For example">e.g.</abbr>
, halves, fifths) as they place mixed and improper fractions. Students will enjoy walking, jumping or using every day classroom items as a method of kinaesthetically partitioning a number line on the floor. This task becomes increasingly complex based upon the sets of fractions used.</p>

<strong>Mathematics</strong>

<p>Accurately placing fractions on a number line involves significant spatial reasoning and the use of a large number line allows students to gesture and walk to communicate their spatial reasoning. Research shows that the number line has more longevity and supports a deep understanding of fraction as number as opposed to a circle model. Unit amounts are purposefully scaffolded to allow students to use their knowledge of benchmark fractions (<abbr title="For example">e.g.</abbr>
, <abbr title="one fifth">1&frasl;5</abbr>) to place other fractions (<abbr title="For example">e.g.</abbr>, <abbr title="six fifths">6&frasl;5</abbr>).</p>

<strong>Curriculum Connections</strong>

<p>Students will:</p>
<ul>
<li>understand a fraction as a number on the number line</li>
<li>represent and compare fractions</li>
<li>accurately place fractions on a number line by reasoning about their relative size</li>
</ul>

<strong>Instructional sequence</strong>
<ol>
	<li><p>Tape a number line (masking tape is easiest) on the floor. Label 0 and 1, ensuring that the number line extends beyond 1. Ask students to place the first set of fractions on the number line appropriately. Have students share their reasoning for locating each fraction.</p>

		<p>SET #1: (all same colour sticky notes such as green) <abbr title="one fourth">¼</abbr>, <abbr title="one half">½</abbr>, <abbr title="one third">1&frasl;3</abbr>, <abbr title="one fifth">1&frasl;5</abbr>, <abbr title="one sixth">1&frasl;6</abbr>.</p></li>

	<li><p>Have students leave that set of fractions on their number line and add the second set of fractions. Observe and highlight the strategies that they use to place this set.</p>

		<p>SET #2: (fifths in pink and thirds in blue) <abbr title="six fifths">6&frasl;5</abbr>, <abbr title="two fifths">2&frasl;5</abbr>, <abbr title="three fifths">3&frasl;5</abbr>, <abbr title="four thirds">4&frasl;3</abbr>, <abbr title="two thirds">2&frasl;3</abbr>, <abbr title="three thirds">3&frasl;3</abbr>.</p></li>

<li>Allow students to identify another fraction which could be placed on this number line and record it on a new coloured sticky. One at a time, the students show their fraction to their group mates, who must come to agreement and then place it appropriately on the number line.</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <strong>Highlights of student thinking</strong>

<p>Students may:</p>
<ul>
<li>immediately understand that the whole can’t move (<abbr title="For example">e.g.</abbr>
, <abbr title="five fifths">5&frasl;5</abbr> is 1)</li>
<li>walk the line helped to check proportions in the segments</li>
<li>use floor tiles, a long chalk brush, hands held at a fixed distance apart, and feet distance to make ‘consistent’ proportions</li>
<li>pay attention to only the denominator or numerator when ordering fractions, without thinking about the relationship between them</li>
<li>focus initially on putting the fractions in the right numerical order, then think about equal spacing</li>
<li>refine their thinking based on input from their peers</li>
<li>show understanding of fractions greater than one</li>
<li>recognize that the larger the digit in the denominator, the smaller the segment</li>
</ul>
  </div>
  <div class="col-md-6">
    <strong>Key questions</strong>
<ol>
<li>How did you know where the fractions should go?</li>
<li>What do you notice about these fractions?</li>
<li>How could you count these fractions as you walk along the number line?</li>
<li>Can you walk the line to see if these fractions are in the correct place?</li>
<li>Is there anything else in the room that could help you decide where to place the units?</li>
</ol>
  </div>
</div>

<strong>Materials</strong>
<ul>
<li>masking tape</li>
<li>ribbon (at least as long as number line)</li>
<li>various coloured sticky notes</li>
</ul>



<div class="row">
<!-- <a href="/tasks/walkLineTemplate">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/pathway/templatesIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Task Templates</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/walkLineImplementation">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/pathway/implementaionIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Implementation</h3>
      </div>
    </div>
  </div>
</a> -->

<!-- HIDE BUTTON -->

<!-- <a href="/tasks/walkLineStudentThinking">
  <div class="col-md-4 col-md-push-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/studentThinkingIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Student Thinking</h3>
      </div>
    </div>
  </div>
</a> -->


<iframe width="560" height="315" src="https://www.youtube.com/embed/GRXeaM_qsV0" frameborder="0" allowfullscreen></iframe>

<!-- Insert transcript accordian here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

        <h2>Walk the Line Transcript</h2>

        <table>
          <tr>
              <th>Time</th>
              <th>Transcript</th>
          </tr>
          <tr>
            <td>0:00</td>
            <td>
              <p>Researcher: What did you do with your hands to figure it out?</p>
            <p>Student 1: This (gestures).  One …. Two….</p>
          </td>
          </tr>
          <tr>
            <td>0:09</td>
            <td>
              <p>Researcher: What made you think that was a half?</p>
            <p>Student 2: Well, we know that that’s full.  And we counted that there are six altogether.</p>
          <p>  Researcher: Six what?</p>
            <p>Student 2: Tiles. So three of six tiles would be a half.</p></td>
          </tr>
          <tr>
            <td>0:27</td>
            <td>
              <p>Teacher: Is that a half you’ve got there, Ronnie?</p>
            <p>Ronnie: No, one  fifth.</p>
          </td>
          </tr>
          <tr>
            <td>0:37</td>
            <td>
              <p>Student 3: This would be the smallest (pointing).  This would be the biggest (pointing) because this is closer to the 1.
                And the one half …</p>
            <p>Student 1: Half way to the one.</p>
            <p>Researcher:  So this is like one sixth of the way to one if we use what you said.  You said, ‘That is one half of the way to one.’</p>
            <p>Student 1: Yeah.</p>
            <p>Student 3: Yeah.</p>
            <p>Researcher: So that would be one sixth of the way to one?</p>
            <p>Student 3: Yeah.</p>
          </td>
          </tr>
          <tr>
            <td>0:59</td>
            <td>
              <p>Student 4: Fifths.</p>
            <p>Student 3: Fifths.  Oh.  Two …</p>
            <p>Student 4:  Two out of three you mean.</p>
            <p>Student 3: Two fifths.</p>
            <p>Student 4: Oh, two fifths.  (Taking the tag).  No, this would be bigger because it is two out of five so this is much smaller than the half.</p>
        </td>
          </tr>
          <tr>
            <td>1:12</td>
            <td>Teacher: Two-fifths.  Now wait a minute, two fifths, you have got it here (pointing with foot)</td>
          </tr>
          <tr>
            <td>1:25</td>
            <td>
              <p>Student 3:  Maybe we should have it even spaced.  We have it even spaced out.</p>
            <p>Student 1:   Yeah, we have it even spaced between fifths all the way along.</p>
          </td>
          </tr>
          <tr>
            <td>1:31</td>
            <td>
              <p>Student 3:  I think all these should be a little bit more down there.</p>
            <p>Student 4:  No.  Those ones never move. Five fifths should never move.</p>
          </td>
          </tr>
          <tr>
            <td>1:40</td>
            <td>
              <p>Student 4:  No.  That one, you are never supposed to move them.  (pointing to five fifths).</p>
            <p>Student 3:  Yeah, we should (moving the five fifths to the one).</p>
            <p>Student 4:  We should make these a bit bigger.</p>
            <p>Student 3:  Yeah.</p>
            <p>Student 1:  So make this bigger over here.</p>
          </td>
          </tr>
          <tr>
            <td>2:00</td>
            <td>
              <p>Student 3:  But then …</p>
            <p>Researcher:  Can you count out loud?</p>
            <p>Student 1:  Three fifths, four fifths, five fifths, six fifths</p>
            <p>Teacher:  How does it feel?</p>
          </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>

</div><!-- end row -->


<!-- Additional resources content here-->
<h3>Additional Resources</h3>
<div class="row">
<a href="/supportDocs/waysWeUseFrac">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/research/supportDocs/waysUse1.png" alt="Ways We Use Fractions" height="100px" width="100px">
      <div class="caption">
        <h3>Ways We Use Fractions</h3>
      </div>
    </div>
  </div>
</a>

<a href="/supportDocs/devFracNumSense">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" height="100px" width="100px">
      <div class="caption">
        <h3>Developing Fraction Number Sense</h3>
      </div>
    </div>
  </div>
</a>

<a href="/supportDocs/purpRep">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" height="100px" width="100px">
      <div class="caption">
        <h3>Purposeful Representations</h3>
      </div>
    </div>
  </div>
</a>

<a href="/supportDocs/devPartItDisembed">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="100px">
      <div class="caption">
        <h3>Developing Proficiency with Partitioning, Iterating, and Disembedding</h3>
      </div>
    </div>
  </div>
</a>

<a href="/supportDocs/buildUnitFrac">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="100px">
      <div class="caption">
        <h3>Building Understanding of Unit Fractions</h3>
      </div>
    </div>
  </div>
</a>



</div><!-- end Additional resources row-->
<%- include partials/footer.ejs%>
