<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/walkLine">UNIT A Walk the Line</a></li>
    <li><a href="/tasks/walkLineStudentThinking">Walk the Line Student Thinking</a></li>
</ol>

<main class="container">
<!-- Insert content here-->

<iframe width="560" height="315" src="https://www.youtube.com/embed/GRXeaM_qsV0" frameborder="0" allowfullscreen></iframe>

<!-- Insert transcript accordian here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

        <h2>Walk the Line Transcript</h2>

        <table>
          <tr>
              <th>Time</th>
              <th>Transcript</th>
          </tr>
          <tr>
            <td>0:00</td>
            <td>
              <p>Researcher: What did you do with your hands to figure it out?</p>
            <p>Student 1: This (gestures).  One …. Two….</p>
          </td>
          </tr>
          <tr>
            <td>0:09</td>
            <td>
              <p>Researcher: What made you think that was a half?</p>
            <p>Student 2: Well, we know that that’s full.  And we counted that there are six altogether.</p>
          <p>  Researcher: Six what?</p>
            <p>Student 2: Tiles. So three of six tiles would be a half.</p></td>
          </tr>
          <tr>
            <td>0:27</td>
            <td>
              <p>Teacher: Is that a half you’ve got there, Ronnie?</p>
            <p>Ronnie: No, one  fifth.</p>
          </td>
          </tr>
          <tr>
            <td>0:37</td>
            <td>
              <p>Student 3: This would be the smallest (pointing).  This would be the biggest (pointing) because this is closer to the 1.
                And the one half …</p>
            <p>Student 1: Half way to the one.</p>
            <p>Researcher:  So this is like one sixth of the way to one if we use what you said.  You said, ‘That is one half of the way to one.’</p>
            <p>Student 1: Yeah.</p>
            <p>Student 3: Yeah.</p>
            <p>Researcher: So that would be one sixth of the way to one?</p>
            <p>Student 3: Yeah.</p>
          </td>
          </tr>
          <tr>
            <td>0:59</td>
            <td>
              <p>Student 4: Fifths.</p>
            <p>Student 3: Fifths.  Oh.  Two …</p>
            <p>Student 4:  Two out of three you mean.</p>
            <p>Student 3: Two fifths.</p>
            <p>Student 4: Oh, two fifths.  (Taking the tag).  No, this would be bigger because it is two out of five so this is much smaller than the half.</p>
        </td>
          </tr>
          <tr>
            <td>1:12</td>
            <td>Teacher: Two-fifths.  Now wait a minute, two fifths, you have got it here (pointing with foot)</td>
          </tr>
          <tr>
            <td>1:25</td>
            <td>
              <p>Student 3:  Maybe we should have it even spaced.  We have it even spaced out.</p>
            <p>Student 1:   Yeah, we have it even spaced between fifths all the way along.</p>
          </td>
          </tr>
          <tr>
            <td>1:31</td>
            <td>
              <p>Student 3:  I think all these should be a little bit more down there.</p>
            <p>Student 4:  No.  Those ones never move. Five fifths should never move.</p>
          </td>
          </tr>
          <tr>
            <td>1:40</td>
            <td>
              <p>Student 4:  No.  That one, you are never supposed to move them.  (pointing to five fifths).</p>
            <p>Student 3:  Yeah, we should (moving the five fifths to the one).</p>
            <p>Student 4:  We should make these a bit bigger.</p>
            <p>Student 3:  Yeah.</p>
            <p>Student 1:  So make this bigger over here.</p>
          </td>
          </tr>
          <tr>
            <td>2:00</td>
            <td>
              <p>Student 3:  But then …</p>
            <p>Researcher:  Can you count out loud?</p>
            <p>Student 1:  Three fifths, four fifths, five fifths, six fifths</p>
            <p>Teacher:  How does it feel?</p>
          </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>


<%- include partials/footer.ejs%>
