<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./supportDocs">Document Briefs</a></li>
    <li><a href="./waysWeUseFrac">Ways We Use Fractions</a></li>
</ol>

<main class="container pdf-page">
<!-- Insert content here-->
        <h2>Math for Teaching: Ways We Use Fractions</h2>
        <div class="gen-pdf ">
            <a href="/pdf/Fractions_WaysWeUseFractions.pdf">Download PDF</a>
        </div>

    <p>A fraction is a number, which can tell us about the relationship between two quantities. These two quantities provide information about the parts, the units we are considering and the whole. Determining the whole is important when working with fractions.</p>

    <section class="page-note">
            <h3>Thinking about fractions as unit fractions</h3>
            <div class="col-md-2">
                <p>This is ‘two-sixths’</p>
                <img src="/images/pdf-img/ways1.png" alt="" height="" width="" />
            </div>
            <div class="col-md-5">
             <p>but we could think about this as units of one-sixth</p>
            <img src="/images/pdf-img/ways2.png" alt="" height="" width="" />   
            </div>
            <div class="col-md-5">
             <p>or we could also think about it as “two times the unit created by partitioning the whole into six equal parts”</p>   
            </div>
            <div class="clearfix"></div>
            <p>Understanding unit fractions helps students develop fractions number sense and supports work with fractions operations.</p> 
    </section>
    <p><abbr><b>2/6</b></abbr> can represent one or more of the following, depending on the context:</p>
    <ul>
    <li>• a <strong>linear measure</strong> (read ‘two-sixths`).
        <ul class="space50">
                <li>o The number is defined by its distance from 0.
                <img src="/images/pdf-img/ways3-0.png" alt="" height="" width="" style="float:right;" />
                </li>
        </ul>
    </li>
    <li>• a part-whole relationship (read ‘two-sixths’) which is based upon a relative measure or a set:
      <ul>
        
            <div class="col-md-6">
            <span><b>Continuous</b></span>
            <li>                
                o <em>two-dimensional measures</em>, such as an area or region, where an equal part is an equal area.
            </li>
            </div>
            <div class="col-md-6">
                    <img src="/images/pdf-img/ways3-1.png" alt="" height="" width="" style="float:right;" />
            </div>
            <div class="col-md-6"><li>o <em>three-dimensional measures</em>, such as capacity or mass, where an equal part is an equal capacity or mass.</li></div>
            <div class="col-md-6"><img src="/images/pdf-img/ways3-2.png" alt="" height="" width=""/></div>
            <div class="col-md-6">
            <span><b>Discrete</b></span>
            <li>o sets, such as a collection of objects, where an equal part is an item in the set and equal parts are not necessarily identical. Attributes (e.g., colour, size, shape) may or may not be considered. For example, colour is important for the first set but not in the second two. Parts can be organized in an array, randomly, or in composite sets.</li>
            </div>
            <div class="col-md-6">
                <img src="/images/pdf-img/ways3-3.png" alt="" height="" width="" style="float:right;" />
            </div>
        </ul>
    </li>
    <li><div class="col-md-6">• a part-part relationship (read ‘two to six’). 


            <p class="sub-bullet">o The parts are equivalent with respect to one attribute (not necessarily size). Ratio is frequently used for part to part relationships.</p></div>
            <div class="col-md-6"><span class="center">Linear measure example: 2 cm to 6 cm</span>
            <p>Two-dimensional measure example:<br>
            
            2 equal areas shaded to 6 equal areas unshaded</p>
            <p>Set example:<br>
            2 apples to 6 bananas</p></div>
    </li>
    <div class="clearfix"></div>
    <li>
    <div class="col-md-6">• a quotient<p class="sub-bullet">o <abbr><b>a/b</b></abbr> = a divided by b</p></div>
    <div class="col-md-6"><p><abbr><b>2/6</b></abbr> = 2 ÷ 6 or 2 partitioned into 6 equal parts</p>
    <p><img src="/images/pdf-img/ways4.png" alt="" height="" width="" /></p></div>
     
            
    </li>
    <div class="clearfix"></div>
    <li><div class="col-md-6">
        <p>• an operator</p>
        <p class="sub-bullet">o <abbr><b>a/b</b></abbr> of a quantity (the whole)</p>
        <p class="sub-bullet">The whole is assumed to be the quantity being multiplied by <abbr><b>a/b</b></abbr>. The fraction acts as a transformer by either enlarging or shrinking the operand.</p>
    </div>
         <div class="col-md-6">
             <p>Two-dimensional measure example:</p>
             <p><abbr><b>2/6</b></abbr> of the area of the floor</p>
             <p>Set example: </p>
             <p><abbr><b>2/6</b></abbr> of the people in the room</p>
         </div>
    </li>
    </ul>
    <div class="clearfix"></div>
    <p>Each of these fraction meanings is included in the Ontario curriculum. Although within the curriculum for specific grades students are not expected to use all meanings, they sometimes use a mathematically correct fraction which is unexpected within the lesson focus. When educators understand each of these 
    meanings, they are better able to assess student thinking as correct as well as connect that knowledge to the lesson focus.</p>

    <p>For more information on these meanings, see Paying Attention to Fractions: K-12 on edugains.ca</p>
    <div class="pdf-bottom-info">
        <div class="col-md-4 center">Curriculum and Assessment Policy Branch</div>
        <div class="col-md-4 center"><abbr title="Knowledge Network and Education Research on Applied Education Research">KNAER</abbr></div>
        <div class="col-md-4 center">Dr. Cathy Bruce TMERC 2013</div>
        <div class="col-md-4 center">Last revised August 7 2015</div>
    </div>
</main>

<%- include partials/footer.ejs%>
