/**
* New Fractions CSS v0.1
* Complete revamp of CSS
* Author: Andrew Arkwell
* Last Updated: August 14, 2017
**/

/*body styling*/
body {
    /* background-color: #E2EEFA; */
    background-color: white;
    color: #222;
    font-size: 1.5em;
    font-family: 'Lato', 'Georgia', 'Times New Roman', Times, serif;
    text-decoration: none;
}

/*remove all purple from headings*/
h1,h2,h3{
    color:black !important;
}

/*fix message box*/
textarea{
    overflow:hidden;
}


/* standard page layout */
.standard-page-layout {
    max-width: 1080px;
    padding: 0px 40px 30px 40px;
    position: relative;
}
.standard-page-layout table {
    margin-bottom: 10px;
}
.standard-page-layout table th, .standard-page-layout table td {
    border: 1px solid #222;
}

/*top header brand image*/
.brand-logo{
    max-height:30px;
    margin:10px;
}

/*set background colours*/
.background-purple{
    /* background-color:#724199; */
    background-color:#888888; /*new background color for header*/
}

/*styling top nav bar buttons and active links*/
.navbar-default .navbar-nav > li > a{
    color:white !important;
    box-shadow:none !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{
    background-image:none !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    /* background-color:#5a317a !important; */
    background-color:#888888 !important;
}
.navbar{
    margin-bottom:0 !important;
}
.navbar-default{
    border:none !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    /* background-color:#724199 !important; */
    background-color:#888888 !important;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:white;
}
.navbar-default .navbar-toggle{
    border:none;
    /* background-color:#5a317a; */
    background-color:#888888;
    border-radius:0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    /* background-color:#5a317a !important; */
    background-color:#888888 !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color:white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
    color:white !important;
    /* background-color:#5a317a !important; */
    background-color:#888888 !important;
}
.open > .dropdown-menu{
    /* background-color:#724199; */
    background-color:#888888 !important;
    color:white;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-image:none !important;
}

/*fix overall overflow*/
body{
    overflow-x:hidden !important;
    color: #222 !important;
    font-size: 1.5em !important;
    font-family: 'Lato', 'Georgia', 'Times New Roman', Times, serif !important;
}

/*style top search bar*/
.gsc-control-cse{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
}
table.gsc-search-box td{
    line-height:1.4em;
}
.cse input.gsc-search-button, input.gsc-search-button{
    background-image: url("https://www.google.com/uds/css/v2/search_box_icon.png") !important;
    background-repeat: no-repeat;
    background-position: center center;
    height:30px !important;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus{
    /*background-color:transparent !important;*/
    border:none !important;
    border-radius:0 !important;
}

/*hide weird overflow on mobile with search bar*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    overflow:hidden;
}

/*headers and default styles*/
h1{
    text-align: center;
    font-size: 3em;
    /* color: #724199; */
    color: #000;
    font-weight: bold;
}
h3 {
    font-size: 2em;
    /*color: #724199;*/
    color:#000;
    font-weight: bold;
}
h4, h5 {
    /*color: #724199;*/
    color:#000;
    font-size: 16px;
    font-weight: bold;
}
a:hover{
    text-decoration:none !important;
    color: #5a317a;
}

/*default styling*/
.linkBubble {
    margin: 20px auto;
    border: 3px solid #aaa;
    box-shadow: none;
    font-size: 1.4em;
    width: 80%;
    /* height: auto !important; */
    text-align: center;
    background-color: #eee;
    color: #222;
    height:100%;
    padding-left:15px;
    padding-right:15px;
}
.linkBubble a{
    margin:5px 0 !important;
}
.linkBubble .nice-p{
    margin:15px;
}
.pathway{
    border: 3px solid #aaa;
    background-color: #eee;
    color: #222;
    width: 92%;
    height: 5%;
    padding: 48px 20px;
    margin: 0 auto;
    text-align: center;
}
.pathway:hover, .linkBubble:hover{
    /*border-color:#724199;*/
    border-color:#000;
}

/*footer styling*/
footer{
    height: auto;
    padding: 1%;
    margin: 0 auto;
    /* background-color: #82BC00; */
    background-color:#888888;
    text-align: center;
    position: relative;
}
footer a{
    /* color:#f3f3f3; */
    color: white;
}
footer a:hover {
    color: #c3c3c3;
}
footer p{
    margin-bottom:0;
}

/*add top margin when necessary*/
.top-margin{
    margin-top:25px;
}
.top-margin-50{
    margin-top:50px;
}
.bottom-margin{
    margin-bottom:25px;
}

/*All Activities*/
.thumbnail {
    background-color: #eee;
    text-align: center;
    min-height: 320px;
    border: 1px solid #777;
}
.thumbnail a:hover{
    text-decoration: underline !important;
}
.thumbnail img {
    height: auto;
    width: auto;
    max-height: 200px;
}
.thumbnail a > img, .thumbnail > img {
    margin-right: auto;
    margin-left: auto;
}
.thumbnail {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail .caption h2 {
    font-size: 1.1em;
}
.thumbnail h2, .thumbnail h3 {
    color:#000;
    /*color: #724199;*/
    font-size: 1.3em;
}
.thumbnail .unit a {
    color:#82BC00;
}
.thumbnail .comp a {
    color:#00C1DE;
}
.thumbnail .op a {
    color:#FF6B00;
}
.thumbnail a {
    color: black;
}
.thumbnail-special {
    border-radius: 35px;
    padding: 15px;
    border-color: #337ab7 !important;
}

/*Tasks*/
.small-thumb {
    min-height: 120px !important;
}
.thumbnail {
    background-color: #eee;
    text-align: center;
    min-height: 150px;
    border: 1px solid #777;
}
.thumbnail-no-tasks {
    background-color: #eee;
    text-align: center;
    border: 1px solid #777;
    margin-bottom: 20px;
}
.green {
    background-color: #82BC00;
}
.blue {
    background-color: #00C1DE;
}
.orange {
    background-color: #FF6B00;
}

/*style video*/
iframe {
    margin: 0 auto;
    display: block;
}

/*research grey buttons*/
.siva-button h2 {
    vertical-align: middle;
    display: inline-block;
    font-size: 20px;
}
.siva-button {
    text-align: center;
}
.siva-button {
    text-align: center;
    /* padding: 35px; */
    /* margin: 25px 1%; */
    /* width: 48%; */
    background-color: lightgrey;
    height: 200px;
    line-height: 120px;
    border: 1px solid grey;
    border-radius: 5px;
}

/*pdf page*/
.pdf-page {
    background: #fff;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.7);
    box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.7);
    /* max-width: 1080px; */
    padding: 30px 40px;
    position: relative;
    margin-bottom:25px;
}
.pdf-page .col-bl {
    color: #000;
}
.pdf-page .col-dark-blue {
    color: #548ed4;
}
.pdf-page .col-blue {
    color: #365f91;
}
.pdf-page .color-lil {
    color: #9468ba;
}
.pdf-page .color-gr {
    color: #7cc735;
}
.pdf-page h2 {
    color: #00c1de;
}
.pdf-page .tbl-black {
    border: none;
}
.pdf-page .tbl-black tr td, .tbl-black tr th {
    color: #000;
    border: 1px solid #000;
    background: #fff;
    padding: 10px 10px;
}
.center {
    text-align: center;
    margin-bottom: 10px;
}
.text-center {
    text-align: center;
}
.gen-pdf-container {
    display: flex;
    justify-content: flex-end;
}
.gen-pdf {
    width: 124px;
    height: 34px;
    background: url(/images/pdfBtnImg.png) no-repeat;
    background-size: auto auto;
    background-size: contain;
}
.gen-pdf a {
    padding: 17px 62px;
    font-size: 0;
}
.list-style-none ul {
    list-style: none;
}
.pdf-page ul li {
    margin-bottom: 10px;
}
.pdf-page .promptBox {
    border: 1px solid #222;
    padding: 5px 10px 5px 10px;
}

/*pdf table*/
.pdf-page table {
    margin-bottom: 20px;
}
.pdf-page table {
    border: 2px solid #4f81bd;
}
.pdf-page table td{
    border: 2px solid #4f81bd;
}
.pdf-page table th {
    text-align: center;
    background: #00c1de;
    color: #fff;
    border-bottom: 2px solid #4f81bd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.pdf-page .tbl-col3 tr td,
.pdf-page .tbl-col3 tr th {
    width: 33%;
    padding: 8px;
    white-space: normal !important;
}
.pdf-page .tbl-col2 td,
.pdf-page .tbl-col2 th {
    width: 50%;
    white-space: normal !important;
}
.pdf-page .tbl-col-7 tr td, .pdf-page .tbl-col-8 tr td, .pdf-page .tbl-col-10 tr td {
    font-size: 12px;
    white-space: normal !important;
}
.pdf-page .tbl-col-7 tr td ul, .pdf-page .tbl-col-8 tr td ul, .pdf-page .tbl-col-10 tr td ul {
    padding-left: 5px;
}
.pdf-page .tbl-col-7 tr td, .pdf-page .tbl-col-7 tr th {
    width: 14%;
    white-space: normal !important;
}
.pdf-page .tbl-col-8 tr td {
    width: 12%;
}
.pdf-page .tbl-col-10 tr td, .pdf-page .tbl-col-10 tr th {
    width: 10%;
    white-space: normal !important;
}
/* @media screen and (max-width: 767px) { */
@media screen and (max-width: 992px) {
    .table-responsive {
        margin: 0px;
    }
}
/* @media screen and (min-width: 767px) { */
@media screen and (min-width: 992px) {
    .table-responsive {
        overflow-x: hidden !important;
        /* padding: 1%; */
    }
    .table {
        margin-bottom: 20px;
    }
}
.ftable, #ftable{
    margin-top:25px;
}
.tbl-small-font {
    font-size: 12px;
}
.tbl-medium-font {
    font-size: 14px;
}
.tbl-ul-pad tr td ul {
    /* padding-left: 5px; */
}

/*pdf bubble*/
.plf .linkBubble {
    border: 1px solid #00C1DE;
    box-shadow: 0 0 8px #999;
    font-size: 1.5em;
    width: 31.3%;
    height: 340px;
    text-align: center;
    background-color: #fefefe;
    color: #222;
    display: inline-block;
    vertical-align: top;
    margin-left:1%;
}
.plf .linkBubble:last-child {
    margin-right: 0;
    /* padding-top: 50px; */
}
.plf .linkBubble p {
    color: #337ab7;
    margin-top: 10px;
}
.plf .linkBubble figure {
    margin-top: 10px;
}
@media (max-width: 575px) {
    .plf .linkBubble {
        width: 90%;
        margin-left: 5%;
    }
}

/* Pdf Lists */
.pdf-page .list li {
    /* width: 49%; */
    display: block;
}
.hoisted-arr-img {
    float: right;
    padding: 0 20px 0 20px;
}
.area-mod-img {
    float: right;
    padding: 0 20px;
}

/*search icon*/
.search-button{
    margin:10px;
}

/*modal styling (popup*/
.modal-header .close{
    font-size:14px;
}

/*styling pathways pages*/
.unitFractionsBlocksHalf div {
    text-align: center;
    /* width: 50%; */
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 10px;
}
.unitFractionsDivFloat {
    /* float: left; */
    padding: 25px;
    text-align: center;
}
/* .compBlocks div {
    text-align: center;
    width: 49%;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 10px;
}
.opBlocks div {
    text-align: center;
    width: 49%;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 20px;
} */
.green-unit-grid .thumbnail {
    min-height: 320px;
}
.blue-unit-grid .thumbnail {
    min-height: 340px;
}
.panel-body img {
    max-width: 100%;
}
.panel-body {
    background: #e7e7e7;
}.panel-body table {
    background: #fff;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
table td {
    vertical-align: top;
    padding: 4px 8px;
}

/*making images great*/
.full-width{
    width:100%;
}

/*fix search bar functionality*/
.gsib_a{
padding: 5px 0 5px 5px !important;
line-height:1.4em !important;
}
.gsc-input-box{
height:100% !important;
}
input.gsc-search-button:hover{
background-color:grey !important;
}

/*smooth scroll to top*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px 15px; /* Some padding */
    border-radius: 0; /* Rounded corners */
}
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*pathway print and save buttons*/
.print-save-btn{
    float:right;
    margin:0 5px;
}

.printbutton {
  visibility: hidden;
  display: none;
}

/*purple text*/
.purple-text{
    color:#724199 !important;
}

/*block quotes*/
blockquote{
    font-size: 15px !important;
    border: none !important;
    font-style: italic !important;
}
table th {
    padding: 5px;
}
/*classes to add padding top and bottom to elements*/
.no-padding {
    padding: 0px;
}
.padding-top {
    padding-top: 30px;
}
.padding-bottom {
    padding-bottom: 30px;
}

/*Class to ad especific margins to elements*/
.margin-auto {
    margin: 0 auto;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-10 {
    margin-top: 10px;
}

/* Remove left padding */
.no-padding-left {
    padding-left: 0 !important;
}

/* Lessons pages */
.lessons-page {
    max-width: 1080px;
    padding: 0px 40px 30px 40px;
    position: relative;
}
.lessons-page h1 {
    font-size: 2.5em;
}
.panel-border {
    border: 1px solid #222 !important;
}
.section-border {
    border:1px solid #222 !important;
}
.section-border-bottom {
    border-bottom:1px solid #222 !important;
}
.section-border-bottom-none {
    border-bottom:0px !important;
}
.section-border-top-none {
    border-top:0px !important;
}
.background-color-white {
    background-color: white;
}

/** Title colors **/
.title-dark {
    color: #222 !important;
}
.title-blue-1 {
    color: #4472C4 !important;
}
.title-blue-2 {
    color: #0070C0 !important;
}
.title-red {
    color: #FF0000 !important;
}
.title-green {
    color: #538135 !important;
}
.font-size-26px {
    font-size: 26px;
}

/* Blockquotes */
.blockquote {
    font-size: 1em !important;
}
.blockquote footer {
    background-color: white;
    text-align: right
}

.dotted-box {
    background: #f4ecf3;
    border: 3px dotted #7cc731;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.purple-box {
    border: 2px solid #9468ba;
    background-color: #eff6e1;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.key-title {
    height: 90px;
    margin-bottom: 10px;
}
.key-title h4 {

    display: inline-block;
    margin-top: 27px;
    padding: 11px 20px;
    font-size: 20px;
    color: #fff;
}
.key-title .key-bl {
    background: #0078a4;
}
.key-title .key-pink {
    background: #f31ba5;
    margin-top: 30px;
    padding-bottom: 12px;
}
.key-title .key-red {
    background: #b1455f;
    margin-top: 28px;
    padding-bottom: 13px;
}
@media (max-width: 575px) {
    .key-title_font-size-12 {
        font-size: 12px !important;
    }
    .key-title_font-size-17 {
        font-size: 17px !important;
    }
}

.semi-bold {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.key-title .key-green {
    background: #00a369;
        padding-bottom: 12px;
        margin-top: 29px;
}
.key-title .key-orange {
        background: #fb8722;
    margin-top: 33px;
}
.key-title .key-light {
    background: #5e99af;
    margin-top: 26px;
    padding-bottom: 12px;
}
.key-title img {
    float: left;
}
.hyperlinks-break {
    word-break: break-all;
}

.tbl-lil {
    background: #f6f9eb;
    border: none;
}
.tbl-lil tr td {
    border: 2px solid #a3629e;
}

.page-note {
    border: 1px solid #bfbfbf;
    padding: 0 12px;
    margin-bottom: 15px;
}
.page-note h3 {
    text-align: center;
}

.pdf-bottom-info {
    color: #a8a8a8;
    margin-top: 40px;
}
.purp-gr-tbl {
    background: #eff6e1;
}

#contactForm {
    width: 50%;
    margin: 0 auto;
}
#contactForm .input-group {
    margin-bottom: 20px;
    display: inherit;
}
#contactForm label {
    margin-top: 8px;
}

/* Remove Borders */
.no-border-right {
    border-right: none !important;
}
.no-border-left {
    border-left: none !important;
}

/* TaskThinking bottom box */
.green-box {
    padding: 10px;
    margin: 5px;
}
.display-flex {
    display: flex;
}

/* Give more padding to the table on /rep file */
.pdf-page-6 table td {
    padding: 20px
}

/* Style for the FRACTIONS on the pages */
span.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  span.frac > sup, span.frac > sub {
    display: block;
    font: inherit;
    padding: 0 0.3em;
  }
  span.frac > sup {border-bottom: 0.08em solid; top: -.1em;}
  span.frac > sub {bottom: 0.15em;}
  span.frac > span {display: none;}
  abbr.abbr-frac {padding-bottom: 12px;}
  abbr.abbr-frac-comp {padding-bottom: 23px;}
  abbr.abbr-frac-double-comp {padding-bottom: 30px;}

  /* Classroom Resources List */
  .classrom-resources-list {
      display: flex;
      flex-wrap: wrap;
  }

  /* Shapes for the UNIT, COMP and OP on the Fractions Learning Pathway */
  #triangle-topleft {
	width: 0;
	height: 0;
	border-top: 80px solid #82BC00;
	border-right: 30px solid transparent;
}

#triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 80px solid #82BC00;
	border-left: 30px solid transparent;
}

#rectangle {
	width: 200px;
	height: 80px;
	background: #82BC00;
}

.rectangle-blue {
    background: #00C1DE !important;
}
.triangle-bottomright-blue {
    border-bottom-color: #00C1DE !important;
}
.triangle-topleft-blue {
    border-top-color: #00C1DE !important;
}

.rectangle-orange {
    background: #FF6B00 !important;
}
.triangle-bottomright-orange {
    border-bottom-color: #FF6B00 !important;
}
.triangle-topleft-orange {
    border-top-color: #FF6B00 !important;
}

.rectangle-purple {
    background: #633B86 !important;
}
.triangle-bottomright-purple {
    border-bottom-color: #633B86 !important;
}
.triangle-topleft-purple {
    border-top-color: #633B86 !important;
}

/* Learning PathWays */
.learningPathWays {
    padding-top: 25px;
}

.learningPathWays h2 {
    text-align: center;
    margin-top: 0;
}

/* Learning Pathways Title */
.learningPathWays-title p {
    color: white;
    font-weight: 100;
    margin: 0 auto;
    align-self: center;
    font-size: 1.3em;
}

.learningPathWays-title h1 {
    text-align: left;
    font-size: 2em;
}

.learningPathWays-title figure {
    text-align: right;
}

.tab-pane {
    padding-top: 20px;
    padding-bottom: 20px;
}

.research-list-tab {
    padding: 0px 15px 15px 15px;
}

/* Icons Tabs for Pathway Tasks */
#icons-tabs p {
    text-align: center;
}
#icons-tabs li {
    margin: 0px;
}
#icons-tabs li a {
    padding-bottom: 0px;
}
#icons-tabs li.active a {
    background-color: #ddd;
}
.icons-tabs-section .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#ccc));
    padding-left: 10px;
    padding-right: 10px;
}
.icons-tabs-section {
    padding-top: 25px;
}

/* Key Questions Title indentation */
.title-indentation {
    margin-left:55px;
}

/* Curriculum Connections Table */
.table-curriculum-connections {
    border: none !important;
}
.table-curriculum-connections tbody td {
    border: 1px dotted black;
}

.table-curriculum-connections tr th {
    color: #FFF;
    border: none;
    padding: 15px;
    font-size: 18px;
}

.table-curriculum-connections tbody tr td:first-child {
    text-align: center;
}

.unit tr th{
    background: #82BC00;
}
.comp tr th {
    background: #00C1DE;
}
.op tr th {
    background: #FF6B00;
}

/* Research Page */
.research-list-tab div h5 {
    margin: 0px;
}

.research-list-tab div p:nth-child(2) {
    margin-left: 15px;
}

.margin-bottom-research {
    margin-bottom: 10px;
}
.title-reserach {
    font-size: 18px;
}
.container-digital-paper {
    width: 90%;
    margin: 0 auto;
}

.numbers-table{
  width:100%;
  border:2px solid black
}

.numbers-table tr td{
  width:25%;
  height:200px;
  border:2px solid black
}
.numbers-table td{
  vertical-align:middle;
  text-align:center;
  font-size:38px;
  font-weight:500;
  color:black;
}
