@charset "utf-8";
/*.st0*/

html {
    min-height: 100%;
    background-color: #82BC00;
}
body {
    background-color: #E2EEFA;
    color: #222;
    font-size: 1.5em;
    font-family: 'Lato', 'Georgia', 'Times New Roman', Times, serif;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0 auto;
    color: #222;
    background-color: #E2EEFA;
}
a {
    color: #222;
    text-decoration: none;
}
nav {
    background-color: #333;
    background: #333;
}
header nav.floater {
    position: fixed;
    top: 0;
    width: 90%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
}
header nav.floater ul li {
    background-color: transparent;
}
main {
    padding: 2%;
    clear: both;
    color: #222;
    background-color: #fefefe;
}
.pathway {
    border: 1px solid #222;
    border-radius: 0px;
    box-shadow: 0 0 8px #999;
    background-color: #eee;
    color: #222;
    width: 92%;
    height: 5%;
    padding: 48px 20px;
    margin: 0 auto;
    text-align: center;
}
.pathway img {
    margin-top: 80px;
}
.pathway:hover {
    border: 2px solid #724199;
}
.linkBubble {
    margin: 20px auto;
    border: 1px solid #777;
    box-shadow: 0 0 8px #999;
    font-size: 2em;
    width: 80%;
    height: 15%;
    text-align: center;
    background-color: #eee;
    color: #222;
}
.linkBubble:hover {
    border: 2px solid #724199;
}
form {
    color: #333;
    font-weight: bold;
}
h1{
    text-align: center;
    font-size: 3em;
    color: #724199;
    font-weight: bold;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 2em;
    color: #724199;
    font-weight: bold;
}
h4,
h5 {
    color: #724199;
    font-size: 16px;
    font-weight: bold;
}
#searchEngine {
    width: 100%;
}
a:hover {
    color: #724199;
    border-bottom: 2px solid #724199;
    text-decoration: none;
}
#mainNav a:hover {
    color: #724199;
    text-decoration: none;
    border: 2px solid #00DFDE;
}
a:active {} .thumbnail {
    background-color: #eee;
    text-align: center;
    min-height: 270px;
    border: 1px solid #777;
}
.small-thumb {
    min-height: 120px;
}
.thumbnail img {
    height: auto;
    width: auto;
    max-height: 200px;
}
.thumbnail h2,
.thumbnail h3 {
    color: #724199;
    font-size: 1.3em;
}
.thumbnail:hover {
    background-color: #ABC2C4;
}
.medRec {
    background-color: #F6F7F6;
    /*height: 20%;
    width: auto;*/

    height: 200px;
    text-align: center;
}
.smallRec {
    background-color: #F6F7F6;
    /*height: 20%;
    width: auto;*/

    height: 200px;
    text-align: center;
}
.green {
    background-color: #82BC00;
}
.green:hover {
    background-color: #537800;
}
.blue {
    background-color: #00C1DE;
}
.blue:hover {
    background-color: #005677;
}
.orange {
    background-color: #FF6B00;
}
.orange:hover {
    background-color: #853800;
}
p {
    color: #222;
}
/* CHANGES */

main {
    background: #E2EEFA;
}
.gsc-control-cse {
    border-color: #724199 !important;
    background: #724199 !important;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #724199;
    border-color: #724199 !important;
}
.navbar-inverse {
    background-image: #724199 !important;
}
.breadcrumb,
main {
    margin-top: 59px;
}
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    border-bottom: none;
}
#mainNav a:hover {
    border: none;
}
.plf .linkBubble {
    border: 1px solid #00C1DE;
    box-shadow: 0 0 8px #999;
    font-size: 2em;
    width: 30%;
    height: 160px;
    text-align: center;
    background-color: #fefefe;
    color: #222;
    display: inline-block;
    vertical-align: top;
    margin: 50px 0;
    padding: 20px 6px;
    margin-right: 4%;
}
.plf .linkBubble:last-child {
    margin-right: 0;
    padding-top: 50px;
}
#contactForm {
    width: 50%;
    margin: 0 auto;
}
#contactForm .input-group {
    margin-bottom: 20px;
}
#contactForm label {
    margin-top: 8px;
}
.unitFractionsBlocks div {
    text-align: center;
    width: 33%;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 10px;
}
.compBlocks div {
    text-align: center;
    width: 49%;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 10px;
}
.opBlocks div {
    text-align: center;
    width: 49%;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 20px;
}
.mobile-menu-text {
    display: none;
}
.pdfBtn {
    color: #000;
    margin: 20px auto;
    display: block;
}
iframe {
    margin: 0 auto;
    display: block;
}
.gen-pdf {
    width: 124px;
    height: 34px;
    background: url(/images/pdfBtnImg.png) no-repeat;
    background-size: contain;
}
.gen-pdf a {
    padding: 17px 62px;
    font-size: 0;
}
.gen-pdf a:hover {
    border-bottom: 0;
}
.adobe-block {
    text-align: center;
    margin: 30px auto;
}
.adobe-block a {
    padding: 15px 20px;
    background-color: #fff;
    font-size: 18px;
}
.thumbnail .caption h2 {
    font-size: 1.1em;
}
#searchBox {
    width: 12%;
    float: right;
}
/*main table td {
    border: 1px solid;
}
main table th {
    border: 1px solid;
    border-right: 0;
}*/

.mobile-logo {
    display: none;
}
.breadcrumb {
    margin-bottom: 0;
    position: relative;
    z-index: 200;
}
.pdf-page {
    background: #fff;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.7);
    box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.7);
    max-width: 1080px;
    padding: 30px 40px;
    position: relative;
}
.gen-pdf {
    position: absolute;
    top: 20px;
    right: 20px;
}
.pdf-page h2 {
    color: #00c1de;
}
.pdf-page h3 {
    color: #222;
    font-weight: bold;
}
.page-note {
    border: 1px solid #bfbfbf;
    padding: 0 12px;
    margin-bottom: 15px;
}
.page-note h3 {
    text-align: center;
}
.space50 {
    margin-bottom: 50px;
}
.space40 {
    margin-bottom: 40px;
}
.center {
    text-align: center;
    margin-bottom: 10px;
}
.pdf-page ul {
    list-style: none;
}
.pdf-bottom-info {
    color: #a8a8a8;
    margin-top: 40px;
}
.pdf-page table th {
    text-align: center;
    background: #00c1de;
    color: #fff;
    border-bottom: 2px solid #4f81bd;
    ;
}
.pdf-page table {
    border: 2px solid #4f81bd;
    ;
}
table td {
    vertical-align: top;
    padding: 4px 8px;
}
.pdf-page .tbl-black {
    border: none;
}
.tbl-black tr td, .tbl-black tr th {
    color: #000;
    border: 1px solid #000;
    background: #fff;
    padding: 10px 10px;
}
.pdf-page .tbl-col4 tr td, .pdf-page .tbl-col4 tr th{
    width: 25%;
}
.pdf-page ul li {
    margin-bottom: 10px;
}
.pdf-page sub, .pdf-page sup {
    font-size: 80%;
}
.hoisted-arr-img {
    float: right;
    padding: 0 120px 0 20px;
}
.area-mod-img {
    float: right;
    padding: 0 20px;
}
.dist-hoist {
 position: absolute;
 top: 140px;
 right: 20px;
}
.dist-hoisted {
 position: absolute;
 top: 340px;
 right: 20px;
}
.pdf-page table {
    margin-bottom: 20px;
}
.key-title {
    height: 90px;
    margin-bottom: 10px;
}
.key-title h4 {
    
    display: inline-block;
    margin-top: 27px;
    padding: 11px 20px;
    font-size: 20px;
    color: #fff;
}
.key-title .key-bl {
    background: #0078a4;
}
.key-title .key-pink {
    background: #f31ba5;
    margin-top: 30px;
    padding-bottom: 12px;
}
.key-title .key-red {
    background: #b1455f;
    margin-top: 28px;
    padding-bottom: 13px;
}

.semi-bold {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.key-title .key-green {
    background: #00a369;
        padding-bottom: 12px;
        margin-top: 29px;
}
.key-title .key-orange {
        background: #fb8722;
    margin-top: 33px;
}
.key-title .key-light {
    background: #5e99af;
    margin-top: 26px;
    padding-bottom: 12px;
}
.key-title img {
    float: left;
}
.pdf-page .tbl-col3 tr td,
.tbl-col3 tr th {
    width: 33.3%;
    padding: 8px;
}
.equ-blue-arr-block {
    color: #749dce;
    position: relative;
    height: 310px;
}
.equ-blue-arr-block img {
    position: absolute;
    top: 0px;
    left: 30%;
}
.equ-blue-arr-block #equ-block1 {
    position: absolute;
    width: 30%;
    left: 0;
    top: 20px;
}
.equ-blue-arr-block #equ-block2 {
    position: absolute;
    top: 75px;
    right: 0;
    width: 38%;
}
.equ-blue-arr-block #equ-block3 {
    position: absolute;
    width: 30%;
    left: 0;
    top: 180px;
}
.equ-blue-arr-block #equ-block4 {
    position: absolute;
    top: 240px;
    left: 35%;
    width: 65%;
}
.pdf-page blockquote {
    font-size: 14px;
}
.uppercase {
    text-transform: uppercase;
}
.pdf-page .color-lil {
    color: #9468ba;
}
.pdf-page .color-gr {
    color: #7cc735;
}
.pdf-page ul li .color-gr {
    margin-right: 5px;
}
.resources h4 {
    font-size: 20px;
    color: #9468ba;
}
.resources h5 {
    color: #9468ba;
    font-style: italic;
}
.bg-lil {
    background: #ece0eb;
    padding: 10px 20px;
}
.purple-box {
    border: 2px solid #9468ba;
    background-color: #eff6e1;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.dotted-box {
    background: #f4ecf3;
    border: 3px dotted #7cc731;
    padding: 10px 20px;
    margin-bottom: 20px; 
}
.two-col-list li {
    width: 49%;
    display: inline-block;
}
.relative {
    position: relative;
}
.farr img {
    position: absolute;
    left: -15px;
    top: 30px;
}
.farr .num {
    position: absolute;
    left: 80px;
    top: 40px;
}
.farr .den {
    position: absolute;
    left: 80px;
    top: 80px;
}
.tbl-fixed {
    max-width: 800px;
    margin: 0 auto;
}
.purp-gr-tbl {
    background: #eff6e1;

}
.purp-gr-tbl tr td {
    padding: 10px;
}
.tbl-lil {
    background: #f6f9eb;
    border: none;
}
.tbl-lil tr td {
    border: 2px solid #a3629e;
}
.purple-border {
    border: 2px solid #a3629e;
    display: inline-block;
    margin-bottom: 20px;
}
.pdf-page .tbl-gr-line {
    border:none;
}
.tbl-gr-line tr td:not(:last-child) {
    border-right: 2px solid #7cc731;
}
.pdf-page .purp-gr-tbl td,
.pdf-page .purp-gr-tbl th {
    border-bottom: none;
    border: 3px solid #fff;
    padding: 4px 5px;
}
.pdf-page .tbl-col2 td,
.pdf-page .tbl-col2 th {
    width: 50%;
}
.pdf-page .purp-gr-tbl th {
    text-align: center;
    padding: 10px 0;
    background: #94689b;
}
.pdf-page .purp-gr-tbl h5 {
    background: #dbc8db;
    color: #000;
    text-align: center;
    padding: 10px 0;
    margin-top: 0px;
    border: 3px solid #fff;
}
.pdf-page .purp-gr-tbl p {
    padding: 0px 4px;
}
.pdf-page .col-bl {
    color: #000;
}
.pdf-page .col-blue {
    color: #365f91;
}
.pdf-page .col-dark-blue {
    color: #548ed4;
}
.pdf-page .align-left {
    text-align: left;
}
.pdf-page figcaption {
    color: #365f91;
}
.pdf-page figure ol,.pdf-page figure p {
    text-align: left;
}
.pdf-page .tbl-col-7 tr td,
.pdf-page .tbl-col-8 tr td,
.pdf-page .tbl-col-10 tr td {
    font-size: 12px;
}
.pdf-page .tbl-col-7 tr td {
    width: 14%;
}
.pdf-page .tbl-col-7 tr td ul,
.pdf-page .tbl-col-8 tr td ul,
.pdf-page .tbl-col-10 tr td ul {
    padding-left: 5px;
}
.wide-page {
    width: 1360px;
    max-width: 1360px;
}
.ultra-wide-page {
    width: 1660px;
    max-width: 1660px;
}
.pdf-page .tbl-col-8 tr td {
    width: 12%;
}
.pdf-page .tbl-col-10 tr td {
    width: 10%
}
.tbl-ul-pad tr td ul {
    padding-left: 5px;
}
.tbl-small-font {
    font-size: 12px;
}
.tbl-medium-font {
    font-size: 14px;
}
.green-unit-grid .thumbnail {
    min-height: 320px;
}
.sub-bullet {
    padding-left: 20px;
}
.color-purple {
    color: #724199;
}
.dot-lists ul li {
     list-style: disc;
}
.dot-lists h1 {
    color: #000;
}
.panel-body img {
    max-width: 100%;
}
.panel-body {
    background: #e7e7e7;
}
.panel-body p {
    margin: 10px 0 20px 0;
}
.panel-body a {
    color: #724199;
}
.panel-body table {
    background: #fff;
}

/* MEDIA QUERIES STARTS HERE */

@media (max-width: 1023px) {
    .nav>li>a {
        padding: 10px 14px !important;
    }
    .breadcrumb {
        margin-top: 150px;
    }
}
@media screen and (max-width: 991px) {
    .col-md-offset-3 {
        width: 100%;
        margin: 0;
    }
    .container-fluid .pathway {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        margin-top: 20px;
    }
    #searchBox {
        width: 36%;
    }
    .navbar-nav .logo-item {
        height: 40px;
    }
    .breadcrumb {
        margin-top: 82px;
    }
    #contactForm {
        width: 80%;
    }
    .plf .linkBubble {
        font-size: 1.3em;
    }
    .navbar-right li:nth-child(6) .dropdown-menu {
        left: 0;
        width: 360px;
    }
    .nav li {
        max-height: 40px;
    }
    .gsc-control-cse {
        padding: 0 !important;
    }
}
@media screen and (max-width: 767px) {
    main {
        margin-top: 130px;
    }
    .navbar-toggle {
        display: inline-block;
        width: 44px;
        height: 40px;
        position: absolute;
        z-index: 5000;
        right: 5px;
        top: 10px;
        margin-right: 0;
        background: #4cd0e7;
    }
    .linkBubble {
        margin: 20px auto;
    }
    .container .jumbotron,
    .container-fluid .jumbotron {
        margin: 20px auto;
        text-align: center;
    }
    .navbar-collapse .navbar-nav {
        display: none;
    }
    .in .navbar-nav {
        display: block;
        position: absolute;
        right: 15px;
        top: 71px;
        width: 100vw;
        background: white;
    }
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background: #4cd0e7;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-inverse .navbar-nav>li>a:focus,
    .navbar-inverse .navbar-nav>li>a:hover {
        color: #000 !important;
    }
    .navbar-inverse .navbar-nav>.open>a,
    .navbar-inverse .navbar-nav>.open>a:focus,
    .navbar-inverse .navbar-nav>.open>a:hover {
        background-color: #fff;
    }
    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.open>a {
        background-image: none;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: #000;
    }
    .mobile-menu-text {
        display: block;
        position: absolute;
        right: 55px;
        top: 25px;
        font-size: 20px;
        text-transform: uppercase;
        z-index: 5200;
        color: #fff;
    }
    .thumbnail {
        height: auto;
    }
    .plf .linkBubble {
        height: auto;
        width: 100%;
        margin: 10px 0;
    }
    .navbar {
        position: absolute;
        right: 0;
        height: 80px;
        width: 94px;
    }
    main {
        margin-top: 80px;
    }
    h1,
    h2 {
        font-size: 2em;
    }
    .mobile-logo {
        display: block;
        position: absolute;
        width: 100%;
        height: 80px;
        top: 0;
        background: #724199;
    }
    .gen-pdf {
        display: none;
    }
    .mobile-logo img {
        width: auto;
        height: 30px;
        margin: 25px 10px;
    }
    .nav li:first-child {
        display: none;
    }
    #searchBox {
        display: none;
    }
    .nav li {
        width: 100%;
    }
    .nav li a {
        font-size: 13px;
        line-height: 16px;
        padding: 6px 8px !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: relative;
        background: #fff;
    }
    .nav .dropdown .dropdown-menu li {
        display: block;
    }
    footer a {
        font-size: 1em;
    }
    .breadcrumb li a {
        font-size: 14px;
    }
    .thumbnail {
        max-width: 400px;
        margin: 30px auto;
        font-size: 2em;
    }
    .thumbnail h2,
    .thumbnail h3 {
        color: #724199;
        font-size: 1em;
    }
    #contactForm {
        width: 100%;
    }
    .container {
        width: 90%;
    }
    label {
        font-size: 1.5em;
    }
    .container-fluid .pathway {
        width: 100%;
    }
    .pathway img {
        max-width: 100%;
        height: auto;
    }
}
